Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

.lintstagedrc.json:

{
  "apps/e2e/**/*.{js,ts,jsx,tsx}": ["npm run lint:e2e"],
  "apps/frontend/**/*.{js,ts,jsx,tsx}": ["npm run lint:frontend"],
  "apps/backend/**/*.{js,ts,jsx,tsx}": ["npm run lint:backend"]
}

chore: Update cache action to v4
  .github/workflows/test-build.yml
Due: none

default order by proposal_pk
  apps/backend/db_patches/0146_MultiInstrumentPerProposal.sql
Due: none

wip get numn assigned props in round
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/resolvers/queries/FapQuery.ts
  apps/backend/src/resolvers/types/FapReviewers.ts
Due: npm run lint:backend

naming improvements and PR review fixes
  apps/backend/src/models/questionTypes/InstrumentPicker.ts
  apps/backend/src/mutations/InstrumentMutations.spec.ts
  apps/backend/src/mutations/InstrumentMutations.ts
  apps/backend/src/resolvers/mutations/AssignProposalsToInstrumentMutation.ts
  apps/backend/src/resolvers/mutations/AssignProposalsToInstrumentsMutation.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/instruments.cy.ts
  apps/e2e/cypress/e2e/internalReviews.cy.ts
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/e2e/cypress/e2e/settings.cy.ts
  apps/e2e/cypress/support/instrument.ts
  apps/e2e/cypress/types/instrument.d.ts
  apps/frontend/src/components/instrument/AssignProposalsToInstruments.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/graphql/instrument/assignProposalsToInstrument.graphql
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

fix some more PR review comments and improve assignment proposals to instrument flow
  apps/backend/src/models/questionTypes/InstrumentPicker.ts
  apps/backend/src/mutations/InstrumentMutations.spec.ts
  apps/backend/src/mutations/InstrumentMutations.ts
  apps/backend/src/mutations/ProposalMutations.ts
  apps/backend/src/resolvers/mutations/AssignProposalsToInstrumentsMutation.ts
  apps/backend/src/resolvers/mutations/ChangeProposalsStatusMutation.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/instruments.cy.ts
  apps/e2e/cypress/e2e/internalReviews.cy.ts
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/e2e/cypress/e2e/settings.cy.ts
  apps/e2e/cypress/types/instrument.d.ts
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/graphql/instrument/assignProposalsToInstrument.graphql
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Second missed value
  apps/backend/src/factory/xlsx/stfc/StfcFapDataRow.ts
Due: npm run lint:backend

feat: custom emails to FAP chair and secretary
  apps/backend/src/resolvers/types/ProposalStatusActionConfig.ts
  apps/backend/src/statusActionEngine/emailActionHandler.ts
  apps/backend/src/statusActionEngine/statusActionUtils.ts
Due: npm run lint:backend

#982 wip add new backend method
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/resolvers/types/FapReviewers.ts
  apps/frontend/src/components/fap/Members/FapMembers.tsx
  apps/frontend/src/graphql/fap/getFapReviewers.graphql
Due: npm run lint:frontend, npm run lint:backend

Rename json column in answer view
  apps/backend/db_patches/0147_AddProposalAnswerView.sql
Due: none

removing fields that were overriding the values for instrument name from proposal table view
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

changing the api method from getUser to getBasicUserDetails to get the organisation name of beamline manager
  apps/frontend/src/components/instrument/AssignedScientistsTable.tsx
Due: npm run lint:frontend

Add safety notification flag to dummy proposal events object
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
Due: npm run lint:backend

#982 add e2e test
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

fix: update user send email failure to an error log
  apps/backend/src/eventHandlers/MailService/SMTPMailService.ts
Due: npm run lint:backend

Remove outdated database dump
  apps/backend/db.sql
Due: none

fix failing multi instrument picker proposal download
  apps/backend/src/factory/pdf/proposal.ts
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/ExternalReviews.tsx
Due: npm run lint:frontend, npm run lint:backend

fixed lint error
  apps/frontend/src/components/instrument/AssignedScientistsTable.tsx
Due: npm run lint:frontend

fix: rename Organization logo to Institution logo
  apps/frontend/src/components/AppToolbar/AppToolbar.tsx
Due: npm run lint:frontend

feat: pass iss parameter to openid auth server on callback
  apps/backend/src/auth/OAuthAuthorization.ts
  apps/backend/src/auth/UserAuthorization.ts
  apps/backend/src/mutations/UserMutations.spec.ts
  apps/backend/src/mutations/UserMutations.ts
  apps/backend/src/resolvers/mutations/CheckExternalTokenMutation.ts
  apps/e2e/cypress/e2e/genericTemplates.cy.ts
  apps/e2e/cypress/support/filterTests.ts
  apps/e2e/cypress/support/user.ts
  apps/frontend/src/components/user/ExternalAuth.tsx
  apps/frontend/src/graphql/user/externalTokenLogin.graphql
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

upgrade openid package
  apps/backend/package.json
Due: none

Chore: Fix codeql analisis warning
  .github/workflows/codeql-analysis.yml
Due: none

openid package version updated
  apps/backend/package-lock.json
Due: none

fix:this removes tsl by default when auth username and email not set for smtp mail services
  apps/backend/src/eventHandlers/MailService/SMTPMailService.ts
Due: npm run lint:backend

#227: Add new proposal Db to merge user tool
  apps/backend/db_patches/0140_CreateUpdateUserIdFunc.sql
Due: none

upgrade email-templates version
  apps/backend/package-lock.json
  apps/backend/package.json
Due: none

#982 changes call filter behaviour, adds test data
  apps/backend/src/datasources/postgres/CallDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/support/utils.ts
Due: npm run lint:e2e, npm run lint:backend

#982 handles call not found
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/frontend/src/hooks/fap/useFapReviewersData.ts
Due: npm run lint:frontend, npm run lint:backend

update package-lock file
  apps/backend/package-lock.json
Due: none

#982 adds test for not finding call
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

Feature: Allow Reviewers be ranked
  .vscode/launch.json
  apps/backend/db_patches/0147_RankReviwers.sql
  apps/backend/package-lock.json
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/eventHandlers/MailService/SMTPMailService.ts
  apps/backend/src/models/Fap.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/backend/src/resolvers/mutations/SaveReviewerRankMutation.ts
  apps/backend/src/resolvers/types/FapAssignments.ts
  apps/frontend/src/components/fap/Proposals/FapAssignedReviewersTable.tsx
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/components/fap/Proposals/RankInputModal.tsx
  apps/frontend/src/graphql/fap/getFapProposal.graphql
  apps/frontend/src/graphql/fap/getFapProposals.graphql
  apps/frontend/src/graphql/fap/setReviewerRank.graphql
Due: npm run lint:frontend, npm run lint:backend

fix: update pdf fixture after puppeteer upgrade in factory
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
  apps/e2e/cypress/fixtures/2023_proposal_fixture.pdf
  apps/e2e/cypress/fixtures/2024_proposal_fixture.pdf
Due: npm run lint:e2e

fix for throw error with proposal template question character limit
  apps/frontend/src/components/questionary/questionaryComponents/ProposalBasis/QuestionProposalBasisForm.tsx
Due: npm run lint:frontend

Add review meetings page
  apps/backend/db_patches/0147_ReviewMeetingsTable.sql
  apps/backend/src/buildContext.ts
  apps/backend/src/config/Tokens.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/context/index.ts
  apps/backend/src/datasources/ReviewMeetingDataSource.ts
  apps/backend/src/datasources/postgres/ReviewMeetingDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/eventHandlers/email/essEmailHandler.ts
  apps/backend/src/eventHandlers/messageBroker.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/events/event.enum.ts
  apps/backend/src/models/ReviewMeeting.ts
  apps/backend/src/mutations/ReviewMeetingMutation.ts
  apps/backend/src/queries/ReviewMeetingQueries.ts
  apps/backend/src/resolvers/mutations/AssignUsersToReviewMeetingMutation.ts
  apps/backend/src/resolvers/mutations/CreateReviewMeetingMutation.ts
  apps/backend/src/resolvers/mutations/DeleteReviewMeetingMutation.ts
  apps/backend/src/resolvers/mutations/NotifyReviewMeetingMutation.ts
  apps/backend/src/resolvers/mutations/UpdateReviewMeetingMutation.ts
  apps/backend/src/resolvers/queries/ReviewMeetingQuery.ts
  apps/backend/src/resolvers/queries/ReviewMeetingsQuery.ts
  apps/backend/src/resolvers/types/ReviewMeeting.ts
  apps/frontend/src/components/DashBoard.tsx
  apps/frontend/src/components/menu/MenuItems.tsx
  apps/frontend/src/components/reviewMeetings/AssignedParticipantsTable.tsx
  apps/frontend/src/components/reviewMeetings/CreateUpdateReviewMeeting.tsx
  apps/frontend/src/components/reviewMeetings/NotifyModal.tsx
  apps/frontend/src/components/reviewMeetings/ReviewMeetingTable.tsx
  apps/frontend/src/components/reviewMeetings/ReviewMeetingsPage.tsx
  apps/frontend/src/graphql/teamReviewMeeting/assignUsersToReviewMeeting.graphql
  apps/frontend/src/graphql/teamReviewMeeting/createReviewMeeting.graphql
  apps/frontend/src/graphql/teamReviewMeeting/deleteReviewMeeting.graphql
  apps/frontend/src/graphql/teamReviewMeeting/getReviewMeetings.graphql
  apps/frontend/src/graphql/teamReviewMeeting/notifyReviewMeeting.graphql
  apps/frontend/src/graphql/teamReviewMeeting/removeUserFromReviewMeeting.graphql
  apps/frontend/src/graphql/teamReviewMeeting/reviewMeeting.fragment.graphql
  apps/frontend/src/graphql/teamReviewMeeting/updateReviewMeeting.graphql
  apps/frontend/src/hooks/reviewMeeting/useReviewMeetingsData.ts
Due: npm run lint:frontend, npm run lint:backend

982 gets reviews in whole call
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/resolvers/types/FapReviewers.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/frontend/src/hooks/fap/useFapReviewersData.ts
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

fix: update pdf fixture after puppeteer upgrade in factory (#511)
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
  apps/e2e/cypress/fixtures/2023_proposal_fixture.pdf
  apps/e2e/cypress/fixtures/2024_proposal_fixture.pdf
Due: npm run lint:e2e

feat: pass iss parameter to openid auth server on callback (#503)
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/auth/OAuthAuthorization.ts
  apps/backend/src/auth/UserAuthorization.ts
  apps/backend/src/mutations/UserMutations.spec.ts
  apps/backend/src/mutations/UserMutations.ts
  apps/backend/src/resolvers/mutations/CheckExternalTokenMutation.ts
  apps/e2e/cypress/e2e/genericTemplates.cy.ts
  apps/e2e/cypress/support/filterTests.ts
  apps/e2e/cypress/support/user.ts
  apps/frontend/src/components/user/ExternalAuth.tsx
  apps/frontend/src/graphql/user/externalTokenLogin.graphql
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Make secretary plural and add userid and count to secretary proposal count
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/models/Fap.ts
  apps/backend/src/resolvers/types/Fap.ts
  apps/frontend/src/components/fap/Members/FapMembers.tsx
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/graphql/fap/fragment.fap.graphql
Due: npm run lint:frontend, npm run lint:backend

Dummy value for count
  apps/frontend/src/components/fap/Members/FapMembers.tsx
Due: npm run lint:frontend

Update Rank in real time
  apps/frontend/src/components/fap/Proposals/FapAssignedReviewersTable.tsx
Due: npm run lint:frontend
