Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

.lintstagedrc.json:

{
  "apps/e2e/**/*.{js,ts,jsx,tsx}": ["npm run lint:e2e"],
  "apps/frontend/**/*.{js,ts,jsx,tsx}": ["npm run lint:frontend"],
  "apps/backend/**/*.{js,ts,jsx,tsx}": ["npm run lint:backend"]
}

add status actions logs backend queries and mutation for log replay
  apps/backend/src/config/Tokens.ts
  apps/backend/src/config/dependencyConfigDefault.ts
  apps/backend/src/config/dependencyConfigE2E.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/context/index.ts
  apps/backend/src/datasources/StatusActionsDataSource.ts
  apps/backend/src/datasources/StatusActionsLogsDataSource.ts
  apps/backend/src/datasources/mockups/StatusActionsDataSource.ts
  apps/backend/src/datasources/postgres/StatusActionsDataSource.ts
  apps/backend/src/datasources/postgres/StatusActionsLogsDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/StatusActionsLog.ts
  apps/backend/src/mutations/StatusActionsLogsMutations.ts
  apps/backend/src/queries/StatusActionsLogsQueries.ts
  apps/backend/src/resolvers/mutations/ReplayStatusActionsLogMutation.ts
  apps/backend/src/resolvers/queries/StatusActionsLogsQuery.ts
  apps/backend/src/resolvers/types/StatusActionsLog.ts
Due: npm run lint:backend

log email status actions logs in backend
  apps/backend/src/buildContext.ts
  apps/backend/src/mutations/StatusActionsLogsMutations.ts
  apps/backend/src/statusActionEngine/emailActionHandler.ts
  apps/backend/src/statusActionEngine/statusActionUtils.ts
Due: npm run lint:backend

fix: technical review check should be performed against the shortCode and not name
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/e2e/cypress/e2e/instruments.cy.ts
Due: npm run lint:e2e, npm run lint:backend

fix: technical review check should be performed against the shortCode and not name (#680)
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/e2e/cypress/e2e/instruments.cy.ts
Due: npm run lint:e2e, npm run lint:backend

feat: on proposal assignment page show all proposals in table
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
Due: npm run lint:frontend

update name of sql file
  apps/backend/db_patches/0160_AddStatusActionsLogsTables.sql
Due: none

add backend tests for queries and mutations
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/datasources/mockups/StatusActionsLogsDataSource.ts
  apps/backend/src/models/StatusActionsLog.ts
  apps/backend/src/mutations/StatusActionsLogsMutations.spec.ts
  apps/backend/src/mutations/StatusActionsLogsMutations.ts
  apps/backend/src/queries/StatusActionsLogsQueries.spec.ts
  apps/backend/src/queries/StatusActionsLogsQueries.ts
  apps/backend/src/statusActionEngine/emailActionHandler.ts
Due: npm run lint:backend

add related proposals to status actions logs queries
  apps/backend/src/queries/StatusActionsLogsQueries.ts
  apps/backend/src/resolvers/types/StatusActionsLog.ts
Due: npm run lint:backend

Fix FAP Review step handling
  apps/frontend/src/components/questionary/questionaryComponents/FapReviewBasis/FapReviewBasisDefinition.tsx
  apps/frontend/src/components/questionary/questionaryComponents/FapReviewBasis/QuestionaryComponentFapReviewBasis.tsx
  apps/frontend/src/components/questionary/questionaryComponents/FapReviewBasis/createFapReviewBasisValidationSchema.ts
Due: npm run lint:frontend

put max page length to var
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
Due: npm run lint:frontend

move sorting out of html
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
Due: npm run lint:frontend

Update nav, fix links, add versioning
  documentation/docs/assets/images/placeholder.png
  documentation/docs/developer-guide/running-locally.md
  documentation/docs/user-guide/user-officer/creating_call.md
  documentation/docs/user-guide/user-officer/placeholder.md
  documentation/docs/user-guide/user-officer/templates/proposal_template.md
  documentation/docs/user-guide/user-officer/templates/question_template.md
  documentation/docs/user-guide/user-officer/templates/templates.md
  documentation/docs/user-guide/user-officer/user-officer.md
  documentation/mkdocs.yml
Due: none

add status actions log replays
  apps/backend/src/datasources/StatusActionsLogsDataSource.ts
  apps/backend/src/datasources/mockups/StatusActionsLogsDataSource.ts
  apps/backend/src/datasources/postgres/StatusActionsLogsDataSource.ts
  apps/backend/src/resolvers/types/StatusActionsLog.ts
Due: npm run lint:backend

docs: update nav, fix links, add versioning (#684)
  documentation/docs/assets/images/placeholder.png
  documentation/docs/developer-guide/running-locally.md
  documentation/docs/user-guide/user-officer/creating_call.md
  documentation/docs/user-guide/user-officer/placeholder.md
  documentation/docs/user-guide/user-officer/templates/proposal_template.md
  documentation/docs/user-guide/user-officer/templates/question_template.md
  documentation/docs/user-guide/user-officer/templates/templates.md
  documentation/docs/user-guide/user-officer/user-officer.md
  documentation/mkdocs.yml
Due: none

feat: add the missing events after multiple FAPs were introduced
  apps/backend/db_patches/0160_AddSomeMissingProposalEvents.sql
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/eventHandlers/customHandler.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/events/event.enum.ts
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
Due: npm run lint:frontend, npm run lint:backend

fix the event naming
  apps/backend/db_patches/0160_AddSomeMissingProposalEvents.sql
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/eventHandlers/customHandler.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/events/event.enum.ts
Due: npm run lint:backend

Create page for configuration
  documentation/docs/developer-guide/configuration.md
  documentation/mkdocs.yml
Due: none

improvement: resizing option in pdf viewer enabled.
  apps/frontend/src/components/template/PdfTemplateEditor.tsx
  apps/frontend/src/components/template/PdfTemplateEditorViewer.tsx
Due: npm run lint:frontend

Fix FAP Review error management
  apps/frontend/src/components/questionary/questionaryComponents/FapReviewBasis/QuestionaryComponentFapReviewBasis.tsx
  apps/frontend/src/components/questionary/questionaryComponents/FapReviewBasis/createFapReviewBasisValidationSchema.ts
Due: npm run lint:frontend

fix: update fap proposal count to only include proposals currently in fap review
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/resolvers/mutations/UpdateCallMutation.ts
  apps/backend/src/resolvers/types/Fap.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/frontend/src/components/fap/FapsTable.tsx
  apps/frontend/src/graphql/call/updateCall.graphql
  apps/frontend/src/graphql/fap/fragment.fap.graphql
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Create page for configuration (#686)
  documentation/docs/developer-guide/configuration.md
  documentation/mkdocs.yml
Due: none

feat: add even more missing events and triggers
  apps/backend/db_patches/0160_AddSomeMissingProposalEvents.sql
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/InstrumentDataSource.ts
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/mockups/InstrumentDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/datasources/postgres/InstrumentDataSource.ts
  apps/backend/src/eventHandlers/customHandler.ts
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/events/event.enum.ts
  apps/backend/src/factory/xlsx/fap.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/backend/src/mutations/InstrumentMutations.ts
  apps/backend/src/queries/FapQueries.ts
  apps/backend/src/resolvers/queries/FapQuery.ts
Due: npm run lint:backend

removing check so that test case runs on e2e scenario
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

feat: add back the proper functionality for selection of all proposals in the table (#677)
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/graphql/proposal/getProposalCoreBasic.graphql
Due: npm run lint:frontend

fix sort function
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
Due: npm run lint:frontend

feat: on proposal assignment page show all proposals in table (#681)
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
Due: npm run lint:frontend

Fix lint error
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
Due: npm run lint:frontend

Fix grade types in FAP review page
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/package.json
  apps/frontend/codegen_template.yml
  apps/frontend/src/components/questionary/questionaryComponents/FapReviewBasis/QuestionaryComponentFapReviewBasis.tsx
Due: npm run lint:e2e, npm run lint:frontend

fix: proposals table does not clean the sort direction and field state properly
  apps/backend/src/utils/mathFunctions.ts
  apps/frontend/src/components/proposal/ProposalPage.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/hooks/proposal/useProposalsCoreData.ts
  apps/frontend/src/utils/helperFunctions.tsx
Due: npm run lint:frontend, npm run lint:backend

adding a check so that download pdf test case skips for stfc environment
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

duo-validation version upgrade
  apps/backend/package-lock.json
  apps/backend/package.json
Due: none

duo-validation version upgrade
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: none

feat: make optional tech reviews setting
  apps/backend/db_patches/0160_OptionalTechReviewsSetting.sql
  apps/backend/src/config/stfc/configureSTFCEnvironment.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/models/Settings.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/instruments.cy.ts
  apps/e2e/cypress/e2e/internalReviews.cy.ts
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/e2e/cypress/e2e/settings.cy.ts
Due: npm run lint:e2e, npm run lint:backend

fix imports
  apps/e2e/cypress/e2e/instruments.cy.ts
  apps/e2e/cypress/e2e/internalReviews.cy.ts
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

fix: proposal pdf download fails when instrument picker question is used in proposal question template (#663)
  apps/backend/db_patches/0158_UpdateOldInstrumentPickerAnswers.sql
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/factory/pdf/proposal.ts
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/QuestionaryComponentInstrumentPicker.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Revert codegen_template.yml
  apps/frontend/codegen_template.yml
Due: none

Revert e2e package.json file
  apps/e2e/package.json
Due: none

Fix review findings
  apps/backend/src/config/eli/configureELIEnvironment.ts
  apps/backend/src/eventHandlers/email/eliEmailHandler.ts
Due: npm run lint:backend

update var name and date in patch
  apps/backend/db_patches/0160_OptionalTechReviewsSetting.sql
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
Due: npm run lint:backend

fix fap review questionary component
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/frontend/src/components/questionary/questionaryComponents/FapReviewBasis/QuestionaryComponentFapReviewBasis.tsx
Due: npm run lint:e2e, npm run lint:frontend
