Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

.lintstagedrc.json:

{
  "apps/e2e/**/*.{js,ts,jsx,tsx}": ["npm run lint:e2e"],
  "apps/frontend/**/*.{js,ts,jsx,tsx}": ["npm run lint:frontend"],
  "apps/backend/**/*.{js,ts,jsx,tsx}": ["npm run lint:backend"]
}

Rename co_proposer_invites RENAME TO co_proposer_claims role_invites RENAME TO role_claims invite_codes RENAME TO invites
  apps/backend/db_patches/0169_RenameClaimsInvites.sql
  apps/backend/src/auth/InviteAuthorizer.ts
  apps/backend/src/config/Tokens.ts
  apps/backend/src/config/dependencyConfigDefault.ts
  apps/backend/src/config/dependencyConfigE2E.ts
  apps/backend/src/config/dependencyConfigELI.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/datasources/CoProposerClaimDataSource.ts
  apps/backend/src/datasources/CoProposerInviteDataSource.ts
  apps/backend/src/datasources/InviteCodeDataSource.ts
  apps/backend/src/datasources/InviteDataSource.ts
  apps/backend/src/datasources/RoleClaimDataSource.ts
  apps/backend/src/datasources/RoleInviteDataSource.ts
  apps/backend/src/datasources/mockups/CoProposerClaimDataSource.ts
  apps/backend/src/datasources/mockups/CoProposerInviteDataSource.ts
  apps/backend/src/datasources/mockups/InviteCodesDataSource.ts
  apps/backend/src/datasources/mockups/InviteDataSource.ts
  apps/backend/src/datasources/mockups/RoleClaimDataSource.ts
  apps/backend/src/datasources/mockups/RoleInviteDataSource.ts
  apps/backend/src/datasources/postgres/CoProposerClaimDataSource.ts
  apps/backend/src/datasources/postgres/CoProposerInviteDataSource.ts
  apps/backend/src/datasources/postgres/InviteDataSource.ts
  apps/backend/src/datasources/postgres/RoleClaimsDataSource.ts
  apps/backend/src/datasources/postgres/RoleInviteDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/CoProposerClaim.ts
  apps/backend/src/models/CoProposerInvite.ts
  apps/backend/src/models/Invite.ts
  apps/backend/src/models/RoleClaim.ts
  apps/backend/src/models/RoleInvite.ts
  apps/backend/src/mutations/InviteMutations.spec.ts
  apps/backend/src/mutations/InviteMutations.ts
  apps/backend/src/resolvers/mutations/CreateInviteMutation.ts
  apps/backend/src/resolvers/mutations/UpdateInviteMutation.ts
  apps/backend/src/resolvers/types/Invite.ts
Due: npm run lint:backend

Proposal Workflow Editor working
  apps/backend/src/datasources/WorkflowDataSource.ts
  apps/backend/src/datasources/mockups/ProposalSettingsDataSource.ts
  apps/backend/src/datasources/mockups/WorkflowDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/WorkflowDataSource.ts
  apps/backend/src/models/WorkflowConnections.ts
  apps/backend/src/mutations/WorkflowMutations.ts
  apps/backend/src/queries/WorkflowQueries.ts
  apps/backend/src/resolvers/mutations/settings/AddWorkflowStatusMutation.ts
  apps/backend/src/resolvers/mutations/settings/MoveWorkflowStatusMutation.ts
  apps/backend/src/resolvers/types/Workflow.ts
  apps/backend/src/resolvers/types/WorkflowConnection.ts
  apps/backend/src/workflowEngine/index.ts
  apps/e2e/cypress/e2e/calls.cy.ts
  apps/e2e/cypress/e2e/settings.cy.ts
  apps/e2e/cypress/e2e/statusActions.cy.ts
  apps/e2e/cypress/support/workflow.ts
  apps/frontend/src/components/AppRoutes.tsx
  apps/frontend/src/components/proposal/ChangeProposalStatus.tsx
  apps/frontend/src/components/proposal/ProposalPage.tsx
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/settings/proposalStatus/ProposalStatusesTable.tsx
  apps/frontend/src/components/settings/proposalWorkflow/StatusEventsAndActionsDialog.tsx
  apps/frontend/src/components/settings/proposalWorkflow/StatusPicker.tsx
  apps/frontend/src/components/settings/proposalWorkflow/WorkflowConnectionsEditor.tsx
  apps/frontend/src/components/settings/proposalWorkflow/WorkflowEditor.tsx
  apps/frontend/src/components/settings/proposalWorkflow/WorkflowEditorModel.tsx
  apps/frontend/src/components/settings/proposalWorkflow/WorkflowMetadataEditor.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/hooks/settings/usePersistWorkflowEditorModel.ts
  apps/frontend/src/hooks/settings/useProposalStatusesData.ts
  apps/frontend/src/hooks/settings/useStatusesData.ts
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Change api key env variable
  apps/backend/src/datasources/stfc/UOWSClient.ts
Due: npm run lint:backend

fix state management in technical review templates
  apps/backend/db_patches/0165_AddTechnicalReviewTemplate.sql
  apps/frontend/src/components/questionary/questionaries/technicalReview/TechnicalReviewQuestionaryWizardStep.ts
  apps/frontend/src/components/questionary/questionaryComponents/TechnicalReviewBasis/QuestionaryComponentTechnicalReviewBasis.tsx
  apps/frontend/src/components/review/TechnicalReviewQuestionary.tsx
  apps/frontend/src/models/questionary/technicalReview/TechnicalReviewSubmissionState.tsx
Due: npm run lint:frontend

refactor: update database table references from invite_codes to invites
  apps/backend/src/datasources/postgres/InviteDataSource.ts
Due: npm run lint:backend

refactor: rename findByInviteId to getByInviteId and add getByProposalPk method
  apps/backend/src/datasources/CoProposerClaimDataSource.ts
  apps/backend/src/datasources/mockups/CoProposerClaimDataSource.ts
  apps/backend/src/datasources/postgres/CoProposerClaimDataSource.ts
  apps/backend/src/datasources/postgres/InviteDataSource.ts
  apps/backend/src/mutations/InviteMutations.spec.ts
Due: npm run lint:backend

merged
  apps/backend/src/mutations/InviteMutations.ts
  apps/backend/src/queries/InviteQueries.ts
Due: npm run lint:backend

merge claims-invites-renaming
  apps/frontend/src/graphql/invite/fragment.invite.graphql
Due: none

fix: adding coProposer Invites to the resolver
  apps/backend/src/resolvers/types/Proposal.ts
  apps/frontend/src/graphql/proposal/createProposal.graphql
  apps/frontend/src/graphql/proposal/getProposal.graphql
  apps/frontend/src/models/questionary/proposal/ProposalWithQuestionary.ts
Due: npm run lint:frontend, npm run lint:backend

fix e2e tests
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/frontend/src/components/review/TechnicalReviewQuestionaryReview.tsx
Due: npm run lint:e2e, npm run lint:frontend

fix: displaying the invites from GQL endpoint in UI
  apps/frontend/src/components/proposal/InviteUser.tsx
  apps/frontend/src/components/proposal/ProposalParticipants.tsx
  apps/frontend/src/components/questionary/questionaryComponents/ProposalBasis/QuestionaryComponentProposalBasis.tsx
Due: npm run lint:frontend

Update setting description
  apps/backend/db_patches/0168_XpressEmailSetting.sql
Due: none

fix technical review template page+
  apps/backend/src/datasources/postgres/CallDataSource.ts
  apps/backend/src/resolvers/types/TechnicalReviewTemplate.ts
  apps/frontend/src/components/template/TechnicalReviewTemplatesTable.tsx
Due: npm run lint:frontend, npm run lint:backend

remove unnecessary console.log
  apps/frontend/src/components/questionary/questionaryComponents/TechnicalReviewBasis/QuestionaryComponentTechnicalReviewBasis.tsx
Due: npm run lint:frontend

feat: add delete functionality for invites and implement setCoProposerInvites mutation
  apps/backend/src/datasources/InviteDataSource.ts
  apps/backend/src/datasources/mockups/InviteDataSource.ts
  apps/backend/src/datasources/postgres/InviteDataSource.ts
  apps/backend/src/mutations/InviteMutations.ts
  apps/backend/src/resolvers/mutations/SetCoProposerInvitesMutation.ts
  apps/frontend/src/components/questionary/questionaryComponents/ProposalBasis/QuestionaryComponentProposalBasis.tsx
  apps/frontend/src/graphql/invite/setCoProposerInvites.graphql
Due: npm run lint:frontend, npm run lint:backend

feat: add authorization to invite mutations and handle coProposer claims
  apps/backend/src/mutations/InviteMutations.ts
Due: npm run lint:backend

Logic to delete dependent subtemplate
  apps/backend/src/mutations/QuestionaryMutations.ts
Due: npm run lint:backend

feat: implement usePreviousCollaborators hook and refactor InviteUser component to utilize it
  apps/frontend/src/components/proposal/InviteUser.tsx
  apps/frontend/src/components/proposal/ProposalParticipants.tsx
  apps/frontend/src/hooks/user/usePreviousCollaborators.ts
Due: npm run lint:frontend

fix: enable button only when available
  apps/frontend/src/components/proposal/InviteUser.tsx
Due: npm run lint:frontend

fix: set state to dirty if new invites has been added
  apps/frontend/src/components/questionary/questionaryComponents/ProposalBasis/ProposalBasisDefinition.tsx
Due: npm run lint:frontend

Move generated outside of src
  .github/workflows/test-build.yml
  .gitignore
  .prettierignore
  apps/backend/.dockerignore
  apps/backend/.eslintignore
  apps/backend/.gitignore
  apps/backend/package.json
  apps/backend/src/auth/StfcUserAuthorization.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/backend/src/datasources/stfc/UOWSClient.ts
Due: npm run lint:backend

fix: show invites in the review window
  apps/frontend/src/components/review/ProposalQuestionaryReview.tsx
Due: npm run lint:frontend

fix: should not be able to add the same user twice
  apps/frontend/src/components/proposal/InviteUser.tsx
Due: npm run lint:frontend

feat: add confirmation dialog before closing InviteUser component with unsaved changes
  apps/frontend/src/components/proposal/InviteUser.tsx
Due: npm run lint:frontend

Made a mistake in the workflow file
  .github/workflows/test-build.yml
Due: none

Rename TSs to techniqueScientists
  apps/backend/src/statusActionEngine/emailActionHandler.ts
Due: npm run lint:backend

lint fix
  apps/backend/src/auth/StfcUserAuthorization.ts
Due: npm run lint:backend

refactor: improve invite authorization logic by simplifying conditions for user officers
  apps/backend/src/auth/InviteAuthorizer.ts
Due: npm run lint:backend

Typo proposalTechniques
  apps/backend/src/statusActionEngine/statusActionUtils.ts
Due: npm run lint:backend

Change file permissions for shell script
  apps/e2e/wait-for-frontend.sh
Due: none

Change the permissions for the rest of the e2e files
  apps/e2e/cypress/fixtures/exampleCallFapExport.json
  apps/e2e/cypress/fixtures/exampleCallFapExportSTFC.json
  apps/e2e/cypress/fixtures/exampleFapExport.json
  apps/e2e/cypress/fixtures/exampleFapExportExpired.json
  apps/e2e/cypress/fixtures/exampleFapExportSTFC.json
  apps/frontend/src/components/App.tsx
  apps/frontend/src/components/technique/CreateUpdateTechnique.tsx
  apps/frontend/src/components/technique/TechniqueTable.tsx
  apps/frontend/src/components/xpress/ProposalScientistComment.tsx
  apps/frontend/src/context/UserContextProvider.tsx
Due: npm run lint:frontend

Change e2e docker file back to mockserver master
  apps/backend/docker-compose-stfc.e2e.yml
Due: none

feat: implement getByProposalPk method in CoProposerClaimDataSourceMock to filter invites by proposalPk
  apps/backend/src/datasources/mockups/CoProposerClaimDataSource.ts
Due: npm run lint:backend

Fixing
  apps/backend/src/statusActionEngine/statusActionUtils.ts
Due: npm run lint:backend

refactor: update invite_code_id references to invite_id across data sources
  apps/backend/db_patches/0169_RenameClaimsInvites.sql
  apps/backend/src/datasources/postgres/CoProposerClaimDataSource.ts
  apps/backend/src/datasources/postgres/InviteDataSource.ts
  apps/backend/src/datasources/postgres/RoleClaimsDataSource.ts
Due: npm run lint:backend

feat: enhance invite authorization logic to include proposal membership checks
  apps/backend/src/auth/InviteAuthorizer.ts
  apps/backend/src/mutations/InviteMutations.ts
  apps/backend/src/resolvers/mutations/SetCoProposerInvitesMutation.ts
Due: npm run lint:backend

fix: correct logic in invite authorization to properly handle user role checks
  apps/backend/src/auth/InviteAuthorizer.ts
Due: npm run lint:backend

feat: implement authorization checks for co-proposer invites based on user role and proposal membership
  apps/backend/src/queries/InviteQueries.ts
Due: npm run lint:backend

refactor: update invite handling to return null instead of rejection for unauthorized access
  apps/backend/src/queries/InviteQueries.ts
  apps/backend/src/resolvers/mutations/SetCoProposerInvitesMutation.ts
  apps/backend/src/resolvers/types/Proposal.ts
Due: npm run lint:backend

feat: add async check for proposal membership in invite authorization and enhance tests for co-proposer invites
  apps/backend/src/auth/InviteAuthorizer.ts
  apps/backend/src/mutations/InviteMutations.spec.ts
Due: npm run lint:backend
