Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

fetch query fix
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

Add data to tests
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

Refactoring the fetch functionality
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend, npm run lint:backend

remove using url query params
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Fix e2e tests
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

Add variables
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

fix pagination
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Fix date filter error
  apps/frontend/src/components/common/proposalFilters/DateFilter.tsx
Due: npm run lint:frontend

Add date filter improvements
  apps/frontend/src/components/common/proposalFilters/DateFilter.tsx
  apps/frontend/src/components/common/proposalFilters/TechniqueFilter.tsx
Due: npm run lint:frontend

Revert unwanted changes
  apps/e2e/cypress.config.ts
Due: npm run lint:e2e

Filters fix
  apps/backend/src/datasources/ProposalDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/backend/src/queries/ProposalQueries.ts
  apps/backend/src/resolvers/queries/ProposalsViewQuery.ts
  apps/frontend/src/components/xpress/XpressProposalFilterBar.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/components/xpress/useProposalsCoreData.ts
  apps/frontend/src/components/xpress/useXpressInstrumentsData.ts
  apps/frontend/src/graphql/proposal/getTechniqueScientistProposals.graphql
Due: npm run lint:frontend, npm run lint:backend

Review comments fix
  apps/frontend/src/components/common/proposalFilters/TechniqueFilter.tsx
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/xpress/XpressProposalFilterBar.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Hnadle date error in backend
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

review comment fix
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Filtering the instruments
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/components/xpress/useXpressInstrumentsData.ts
Due: npm run lint:frontend

Revert last commit changes
  apps/e2e/cypress/e2e/instruments.cy.ts
Due: npm run lint:e2e

Fix date filter
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/frontend/src/components/common/proposalFilters/DateFilter.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend, npm run lint:backend

Remove redundant check
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Filtering expired proposals for scientist
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/e2e/cypress/e2e/xpress.cy.ts
  apps/e2e/cypress/support/initialDBData.ts
  apps/frontend/src/components/menu/MenuItems.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/components/xpress/useProposalsCoreData.ts
  apps/frontend/src/hooks/technique/useTechniquesData.ts
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Fix instrument test v3
  apps/e2e/cypress/e2e/instruments.cy.ts
Due: npm run lint:e2e

Correction
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

Hide ALL query param
  apps/frontend/src/components/common/proposalFilters/DateFilter.tsx
  apps/frontend/src/components/common/proposalFilters/InstrumentFilter.tsx
  apps/frontend/src/components/common/proposalFilters/ProposalStatusFilter.tsx
  apps/frontend/src/components/common/proposalFilters/TechniqueFilter.tsx
Due: npm run lint:frontend

Fix fetching instruments
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/components/xpress/useXpressInstrumentsData.ts
Due: npm run lint:frontend

remove using url query params
  apps/frontend/src/components/common/proposalFilters/DateFilter.tsx
  apps/frontend/src/components/common/proposalFilters/TechniqueFilter.tsx
  apps/frontend/src/components/xpress/XpressProposalFilterBar.tsx
Due: npm run lint:frontend

Fetching instruments correction
  apps/backend/src/queries/InstrumentQueries.ts
  apps/backend/src/queries/TechniqueQueries.ts
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/components/xpress/useXpressInstrumentsData.ts
  apps/frontend/src/graphql/proposal/getTechniqueScientistProposals.graphql
Due: npm run lint:frontend, npm run lint:backend

Add variables part 2
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

Revert mistaken change
  apps/e2e/cypress/e2e/instruments.cy.ts
Due: npm run lint:e2e

Fix instrument test
  apps/e2e/cypress/e2e/instruments.cy.ts
Due: npm run lint:e2e

Fix filters
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

adding ttlCache node package
  apps/backend/package.json
Due: none

Increasing the cache limit from 200 to 100.
  apps/backend/src/auth/StfcUserAuthorization.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
Due: npm run lint:backend

Changing the LRUCache implementation to using TTLCache external lib
  apps/backend/src/utils/Cache.spec.ts
  apps/backend/src/utils/Cache.ts
Due: npm run lint:backend

Removing the LRUCache implementation
  apps/backend/src/utils/LRUCache.spec.ts
  apps/backend/src/utils/LRUCache.ts
Due: npm run lint:backend

Changing the cache implementation class
  apps/backend/src/utils/__mocks__/LRUCache.ts
Due: npm run lint:backend

fix errors
  apps/backend/src/auth/StfcUserAuthorization.spec.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.spec.ts
Due: npm run lint:backend

Fix table sorting
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

Fix submitted date sorting
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

Sorting fix
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

basic tests continuation
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e, npm run lint:backend

Path conditions:
  npm run lint:e2e: any of: apps/e2e/**/*.{js,ts,jsx,tsx}
  npm run lint:frontend: any of: apps/frontend/**/*.{js,ts,jsx,tsx}
  npm run lint:backend: any of: apps/backend/**/*.{js,ts,jsx,tsx}
