Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

.lintstagedrc.json:

{
  "apps/e2e/**/*.{js,ts,jsx,tsx}": ["npm run lint:e2e"],
  "apps/frontend/**/*.{js,ts,jsx,tsx}": ["npm run lint:frontend"],
  "apps/backend/**/*.{js,ts,jsx,tsx}": ["npm run lint:backend"]
}

feat: configure RabbitMQ status action (#368)
  apps/backend/db_patches/0140_RemoveExecutedColumnFromConnectionHasActions.sql
  apps/backend/src/datasources/ProposalDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/mockups/StatusActionsDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/StatusActionsDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/eventHandlers/messageBroker.ts
  apps/backend/src/eventHandlers/proposalWorkflow.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/events/event.enum.ts
  apps/backend/src/models/EventLog.ts
  apps/backend/src/models/Proposal.ts
  apps/backend/src/models/ProposalStatusAction.ts
  apps/backend/src/mutations/ProposalMutations.ts
  apps/backend/src/queries/ProposalSettingsQueries.ts
  apps/backend/src/resolvers/types/ConnectionStatusAction.ts
  apps/backend/src/resolvers/types/EventLog.ts
  apps/backend/src/statusActionEngine/emailActionHandler.ts
  apps/backend/src/statusActionEngine/index.ts
  apps/backend/src/statusActionEngine/rabbitMQHandler.ts
  apps/e2e/cypress/e2e/statusActions.cy.ts
  apps/frontend/src/components/eventLog/EventLogList.tsx
  apps/frontend/src/components/settings/proposalWorkflow/AddStatusActionsToConnection.tsx
  apps/frontend/src/components/settings/proposalWorkflow/RabbitMQActionConfig.tsx
  apps/frontend/src/graphql/settings/statusActions/fragment.connectionStatusAction.graphql
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

feat: improve proposal event logs to have better overview of the event history
  apps/backend/db_patches/0141_AddProposalStatusActionExecutedEvent.sql
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/eventHandlers/messageBroker.ts
  apps/backend/src/eventHandlers/proposalWorkflow.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/mutations/ProposalMutations.ts
  apps/backend/src/statusActionEngine/emailActionHandler.ts
  apps/backend/src/statusActionEngine/rabbitMQHandler.ts
  apps/backend/src/statusActionEngine/statusActionUtils.ts
  apps/frontend/src/components/eventLog/EventLogList.tsx
  apps/frontend/src/utils/helperFunctions.tsx
Due: npm run lint:frontend, npm run lint:backend

Redirecting Proposal Create Page to Proposal Edit Page passively without affecting the existing rendered react component.
  apps/frontend/src/components/proposal/ProposalContainer.tsx
Due: npm run lint:frontend

e2e tests attached.
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/frontend/src/components/proposal/ProposalContainer.tsx
Due: npm run lint:e2e, npm run lint:frontend

use better way and logic to add the description to the event logs
  apps/backend/db_patches/0142_AddDescriptionToEventLogs.sql
  apps/backend/src/datasources/EventLogsDataSource.ts
  apps/backend/src/datasources/mockups/EventLogsDataSource.ts
  apps/backend/src/datasources/postgres/EventLogsDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/decorators/EventBus.ts
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/eventHandlers/proposalWorkflow.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/models/EventLog.ts
  apps/backend/src/mutations/ProposalMutations.ts
  apps/backend/src/resolvers/types/EventLog.ts
  apps/backend/src/statusActionEngine/emailActionHandler.ts
  apps/backend/src/statusActionEngine/statusActionUtils.ts
  apps/frontend/src/components/eventLog/EventLogList.tsx
  apps/frontend/src/graphql/eventLog/getEventLogs.graphql
Due: npm run lint:frontend, npm run lint:backend

Added test and changes to proposal table
  apps/backend/db_patches/0000_init.sql
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/frontend/src/components/proposal/ProposalParticipant.tsx
Due: npm run lint:e2e, npm run lint:frontend

Test change with preferred name
  apps/e2e/cypress/e2e/peopleTable.cy.ts
Due: npm run lint:e2e

test(e2e): add e2e tests for improved proposal event logs
  apps/e2e/cypress/e2e/statusActions.cy.ts
  apps/e2e/cypress/support/initialDBData.ts
Due: npm run lint:e2e

return instead of await inside Promise.all
  apps/backend/src/eventHandlers/proposalWorkflow.ts
Due: npm run lint:backend

Change back to using BasicUserData
  apps/frontend/src/components/proposal/ProposalParticipant.tsx
  apps/frontend/src/components/proposal/ProposalParticipants.tsx
Due: npm run lint:frontend

test
  .github/workflows/auto-merge-dependabot.yml
Due: none

refactor: Add SEP roles for STFC
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
Due: npm run lint:backend

Fix lint errors
  apps/frontend/src/hooks/user/useUserData.ts
Due: npm run lint:frontend

Added second test and removed change to db patch
  apps/backend/db_patches/0000_init.sql
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/frontend/src/hooks/user/useUserData.ts
Due: npm run lint:e2e, npm run lint:frontend

Fix update user details error
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

Updateuserdetails fix
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

feat: improve proposal event logs to have better overview of the event history (#413)
  apps/backend/db_patches/0141_AddProposalStatusActionExecutedEvent.sql
  apps/backend/db_patches/0142_AddDescriptionToEventLogs.sql
  apps/backend/src/datasources/EventLogsDataSource.ts
  apps/backend/src/datasources/mockups/EventLogsDataSource.ts
  apps/backend/src/datasources/postgres/EventLogsDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/decorators/EventBus.ts
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/eventHandlers/messageBroker.ts
  apps/backend/src/eventHandlers/proposalWorkflow.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/models/EventLog.ts
  apps/backend/src/resolvers/types/EventLog.ts
  apps/backend/src/statusActionEngine/emailActionHandler.ts
  apps/backend/src/statusActionEngine/rabbitMQHandler.ts
  apps/backend/src/statusActionEngine/statusActionUtils.ts
  apps/e2e/cypress/e2e/statusActions.cy.ts
  apps/e2e/cypress/support/initialDBData.ts
  apps/frontend/src/components/eventLog/EventLogList.tsx
  apps/frontend/src/graphql/eventLog/getEventLogs.graphql
  apps/frontend/src/utils/helperFunctions.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Update github-tag-and-release.yml
  .github/workflows/github-tag-and-release.yml
Due: none

fix: Update docker-compose.yml to use the proper factory URL
  docker-compose.yml
Due: none

Refactor: Turn on SEPs for STFC
  apps/backend/src/config/stfc/configureSTFCEnvironment.ts
Due: npm run lint:backend

fix(email invite): resolve the correct DataSource for redeem codes in the email handler
  apps/backend/src/eventHandlers/email/essEmailHandler.ts
Due: npm run lint:backend

ci: Update workflows to use the latest version of actions
  .github/workflows/build-push.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/github-tag-and-release.yml
  .github/workflows/lint.yml
  .github/workflows/test-build.yml
Due: none

fix(email invite): resolve the correct DataSource for redeem codes in the email handler (#430)
  apps/backend/src/eventHandlers/email/essEmailHandler.ts
Due: npm run lint:backend

ci: "build" job needs to be run successfully before "test_backend" and "e2e" jobs will run
  .github/workflows/test-build.yml
Due: none

fix: e2e job needs resolve_dep because of the FACTORY_TAG
  .github/workflows/test-build.yml
Due: none

ci: Update workflows to use the latest version of actions (#431)
  .github/workflows/build-push.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/github-tag-and-release.yml
  .github/workflows/lint.yml
  .github/workflows/test-build.yml
Due: none

refactor(SEPs): rename SEP(Scientific evaluation panel) to FAP(Facility access panel). part 1 database
  apps/backend/db_patches/0143_RenameSEPToFAP.sql
Due: none

revert unnecessary change
  .husky/pre-commit
Due: none

add missing data migration
  apps/backend/db_patches/0143_RenameSEPToFAP.sql
Due: none

fix: Update docker-compose.yml to use the proper factory URL (#428)
  docker-compose.yml
Due: none

PDF filename change
  apps/backend/src/factory/pdf/proposal.ts
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
Due: npm run lint:e2e, npm run lint:backend

fixing e2e tests part 1
  apps/backend/src/models/Role.ts
  apps/e2e/cypress/e2e/generalFaps.cy.ts
  apps/e2e/cypress/e2e/personalInformation.cy.ts
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/e2e/cypress/support/initialDBData.ts
  apps/frontend/src/components/fap/FapPage.tsx
  apps/frontend/src/components/menu/MenuItems.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

fix sep xlsx type
  apps/backend/src/factory/service.ts
Due: npm run lint:backend

fix failing e2e tests part 2
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/mutations/FapMutations.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/settings.cy.ts
  apps/e2e/cypress/e2e/userAdministration.cy.ts
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/components/fap/General/AddFap.tsx
  apps/frontend/src/components/fap/General/FapGeneralInfo.tsx
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/FinalRankingForm.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

fix failing backend unit tests
  apps/backend/src/asyncJobs/AsyncJobs.spec.ts
  apps/backend/src/datasources/mockups/UserDataSource.ts
Due: npm run lint:backend

fix last failing e2e tests
  apps/e2e/cypress/e2e/generalFaps.cy.ts
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

chore: Migrate from Create React App to Vite
  apps/frontend/.dockerignore
  apps/frontend/Dockerfile
  apps/frontend/example.development.env
  apps/frontend/index.html
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/public/images/ess-white.svg
  apps/frontend/public/images/orcid.png
  apps/frontend/public/images/stfc-ukri-white.svg
  apps/frontend/src/components/AppToolbar/AppToolbar.tsx
  apps/frontend/src/components/user/UpdateUserInformation.tsx
  apps/frontend/src/react-app-env.d.ts
  apps/frontend/src/vite-env.d.ts
  apps/frontend/tsconfig.json
  apps/frontend/tsconfig.node.json
  apps/frontend/vite.config.mts
Due: npm run lint:frontend

Changes to fit stfc mock-uows changes
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/e2e/cypress/e2e/peopleTable.cy.ts
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e, npm run lint:backend

ci: "build" job needs to be run successfully before "test_backend" and "e2e" jobs will run (#432)
  .github/workflows/test-build.yml
Due: none
