Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

fix linting issues
  apps/e2e/cypress/e2e/settings.cy.ts
Due: npm run lint:e2e

proposal model change to faps, do some cleanup and start fixing tests
  apps/backend/src/mutations/FapMutations.spec.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/backend/src/resolvers/types/Proposal.ts
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/FapMeetingDecision.tsx
  apps/frontend/src/components/fap/Proposals/AssignProposalsToFaps.tsx
  apps/frontend/src/components/proposal/CallSelectModalOnProposalClone.tsx
  apps/frontend/src/components/review/ProposalReviewContent.tsx
  apps/frontend/src/graphql/proposal/getProposal.graphql
  apps/frontend/src/graphql/proposal/getProposals.graphql
  apps/frontend/src/utils/helperFunctions.tsx
Due: npm run lint:frontend, npm run lint:backend

fix backend unit tests
  apps/backend/src/mutations/FapMutations.spec.ts
Due: npm run lint:backend

This update improves the stored procedure by enabling dynamic generation of SQL for updating and deleting the affected tables.
  apps/backend/db_patches/0148_CreateUpdateUserIdFunc.sql
Due: none

fix some bugs found in the e2e testing
  apps/backend/db_patches/db_seeds/0001_ProposalForScheduling.sql
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/backend/src/models/TechnicalReview.ts
  apps/backend/src/resolvers/types/TechnicalReview.ts
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
Due: npm run lint:frontend, npm run lint:backend

added e2e testing and made prettier
  apps/e2e/cypress/e2e/genericTemplates.cy.ts
  apps/frontend/src/components/questionary/questionaryComponents/ProposalBasis/QuestionProposalBasisForm.tsx
Due: npm run lint:e2e, npm run lint:frontend

fix some more bugs found while testing
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/settings.cy.ts
Due: npm run lint:e2e, npm run lint:backend

improve FAP e2e tests
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

fix failing e2e tests
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
  apps/e2e/cypress/e2e/settings.cy.ts
Due: npm run lint:e2e

fix: duplicate proposals in stfc inst sci page
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

#227: Dynamic SQL generation
  apps/backend/db_patches/0148_CreateUpdateUserIdFunc.sql
Due: none

refactor and fix last failing e2e tests
  apps/backend/src/mutations/FapMutations.spec.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/backend/src/mutations/ProposalMutations.ts
  apps/backend/src/resolvers/mutations/AssignProposalsToFapsMutation.ts
  apps/backend/src/resolvers/mutations/ChangeProposalsStatusMutation.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/e2e/cypress/e2e/settings.cy.ts
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/graphql/fap/assignProposalsToFaps.graphql
  apps/frontend/src/graphql/proposal/changeProposalsStatus.graphql
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

find and fix problematic e2e test
  apps/backend/src/mutations/ReviewMutations.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e, npm run lint:backend

fixing very last bits of failing tests
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/frontend/src/components/fap/MeetingComponents/FapMeetingComponentsView.tsx
  apps/frontend/src/components/fap/MeetingComponents/FapMeetingInstrumentsTable.tsx
Due: npm run lint:e2e, npm run lint:frontend

feat: add option to combine emails in status actions
  apps/backend/src/resolvers/types/ProposalStatusActionConfig.ts
  apps/backend/src/statusActionEngine/statusActionUtils.ts
  apps/e2e/cypress/e2e/statusActions.cy.ts
  apps/frontend/src/components/settings/proposalWorkflow/EmailActionConfig.tsx
  apps/frontend/src/graphql/settings/statusActions/fragment.connectionStatusActionConfig.graphql
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

fix the auto assignment of multiple FAPs and add e2e test
  apps/backend/src/datasources/CallDataSource.ts
  apps/backend/src/datasources/mockups/CallDataSource.ts
  apps/backend/src/datasources/postgres/CallDataSource.ts
  apps/backend/src/models/questionTypes/InstrumentPicker.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/backend/src/resolvers/mutations/AssignProposalsToFapsMutation.ts
  apps/backend/src/resolvers/mutations/AssignProposalsToInstrumentsMutation.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e, npm run lint:backend

FAP auto assignment test fix
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

fix newly added test
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

fix: query time out on stfc instrument sci query
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

fix mui/lab version because it needs more attention when upgrading
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: none

fix typos and tests
  apps/backend/src/mutations/UserMutations.ts
  apps/backend/src/workflowEngine/index.ts
  apps/e2e/cypress/e2e/genericTemplates.cy.ts
  apps/e2e/cypress/e2e/mobileViews.cy.ts
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/e2e/cypress/e2e/samples.cy.ts
  apps/e2e/cypress/e2e/units.cy.ts
  apps/frontend/src/context/IdleContextProvider.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

improve e2e tests
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

upgrade node version in dockerfiles
  apps/backend/Dockerfile
  apps/backend/Dockerfile.dev
  apps/frontend/Dockerfile
  apps/frontend/Dockerfile.dev
Due: none

remove the only in FAP tests
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

try to wait for api executions
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

try to remove unnecessary API calls and fix e2e tests
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

fixing very last bits of failing e2e tests
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/frontend/src/components/fap/MeetingComponents/FapMeetingComponentsView.tsx
  apps/frontend/src/components/fap/MeetingComponents/FapMeetingInstrumentsTable.tsx
Due: npm run lint:e2e, npm run lint:frontend

fix failing e2e test
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

fix backend image in docker-compose
  docker-compose.yml
Due: none

feat: multiple chairs per fap
  apps/backend/db_patches/0154_MultipleFAPChair.sql
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/Fap.ts
  apps/backend/src/resolvers/types/Fap.ts
  apps/backend/src/statusActionEngine/statusActionUtils.ts
  apps/e2e/cypress/e2e/generalFaps.cy.ts
  apps/frontend/src/components/fap/Members/FapMembers.tsx
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/graphql/fap/fragment.fap.graphql
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

missed db query
  apps/backend/src/datasources/postgres/FapDataSource.ts
Due: npm run lint:backend

fix test
  apps/e2e/cypress/e2e/generalFaps.cy.ts
Due: npm run lint:e2e

Add question field in line with other types for searching.
  apps/frontend/src/components/questionary/questionaryComponents/Embellishment/EmbellishmentQuestionRenderer.tsx
  apps/frontend/src/components/questionary/questionaryComponents/Embellishment/QuestionEmbellishmentForm.tsx
  apps/frontend/src/components/template/QuestionPicker.tsx
Due: npm run lint:frontend

Remove EmbellishmentConfig
  apps/frontend/src/components/template/QuestionPicker.tsx
Due: npm run lint:frontend

Path conditions:
  npm run lint:e2e: any of: apps/e2e/**/*.{js,ts,jsx,tsx}
  npm run lint:frontend: any of: apps/frontend/**/*.{js,ts,jsx,tsx}
  npm run lint:backend: any of: apps/backend/**/*.{js,ts,jsx,tsx}
