Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Add date filter improvements
  apps/frontend/src/components/common/proposalFilters/DateFilter.tsx
  apps/frontend/src/components/common/proposalFilters/TechniqueFilter.tsx
Due: npm run lint:frontend

Instrument filter backend
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/frontend/src/components/xpress/XpressProposalFilterBar.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/components/xpress/useProposalsCoreData.ts
Due: npm run lint:frontend, npm run lint:backend

Adding new fields to table
  apps/backend/src/datasources/TechniqueDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/mockups/TechniqueDataSource.ts
  apps/backend/src/datasources/postgres/TechniqueDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/ProposalView.ts
  apps/backend/src/queries/TechniqueQueries.ts
  apps/backend/src/resolvers/types/Proposal.ts
  apps/backend/src/resolvers/types/ProposalView.ts
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/graphql/proposal/getProposal.graphql
  apps/frontend/src/graphql/proposal/getTechniqueScientistProposals.graphql
  apps/frontend/src/utils/helperFunctions.tsx
Due: npm run lint:frontend, npm run lint:backend

Sorting fix
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Fix table sorting
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

Filters fix
  apps/backend/src/datasources/ProposalDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/backend/src/queries/ProposalQueries.ts
  apps/backend/src/resolvers/queries/ProposalsViewQuery.ts
  apps/frontend/src/components/xpress/XpressProposalFilterBar.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/components/xpress/useProposalsCoreData.ts
  apps/frontend/src/components/xpress/useXpressInstrumentsData.ts
  apps/frontend/src/graphql/proposal/getTechniqueScientistProposals.graphql
Due: npm run lint:frontend, npm run lint:backend

Fix e2e tests
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

Review comments fix
  apps/backend/db_patches/0163_AddTechniqueHasScientists.sql
  apps/backend/db_patches/0163_AddTechniquePickerDataType.sql
  apps/backend/src/models/Proposal.ts
  apps/backend/src/mutations/ProposalMutations.ts
  apps/backend/src/resolvers/types/Proposal.ts
Due: npm run lint:backend

Fix instrument test v3
  apps/e2e/cypress/e2e/instruments.cy.ts
Due: npm run lint:e2e

Review comments fix
  apps/frontend/src/components/common/proposalFilters/TechniqueFilter.tsx
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/xpress/XpressProposalFilterBar.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

review comment fix
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Fix instrument test
  apps/e2e/cypress/e2e/instruments.cy.ts
Due: npm run lint:e2e

fix pagination
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Revert last commit changes
  apps/e2e/cypress/e2e/instruments.cy.ts
Due: npm run lint:e2e

Refactoring the fetch functionality
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend, npm run lint:backend

remove disabling of linting rule
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Disable sorting for technique, instrument
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Hnadle date error in backend
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

Correction
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

Fix submitted date sorting
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

Revert mistaken change
  apps/e2e/cypress/e2e/instruments.cy.ts
Due: npm run lint:e2e

Fix filters
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Initial commit
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Identify xpress proposals
  apps/backend/src/datasources/TechniqueDataSource.ts
  apps/backend/src/datasources/mockups/TechniqueDataSource.ts
  apps/backend/src/datasources/postgres/TechniqueDataSource.ts
  apps/backend/src/mutations/TechniqueMutations.ts
  apps/backend/src/resolvers/mutations/AssignProposalsToInstrumentsMutation.ts
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e, npm run lint:backend

modification in UI
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Handle instrument removal
  apps/backend/src/mutations/InstrumentMutations.ts
  apps/backend/src/resolvers/mutations/AssignProposalsToInstrumentsMutation.ts
  apps/backend/src/resolvers/mutations/AssignXpressProposalToInstrumentMutation.ts
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/graphql/instrument/removeXpressProposalFromInstrument.graphql
Due: npm run lint:frontend, npm run lint:backend

Create new endpoint
  apps/backend/src/mutations/InstrumentMutations.ts
  apps/backend/src/resolvers/mutations/AssignXpressProposalToInstrumentMutation.ts
  apps/frontend/src/graphql/instrument/assignXpressProposalToInstrument.graphql
Due: npm run lint:backend

Restore to develop version
  apps/backend/package-lock.json
Due: none

requested changes
  apps/backend/src/datasources/StatusActionsDataSource.ts
  apps/backend/src/datasources/mockups/StatusActionsDataSource.ts
  apps/backend/src/models/StatusActionsLog.ts
  apps/backend/src/mutations/ProposalSettingsMutations.ts
  apps/backend/src/mutations/StatusActionsLogsMutations.ts
  apps/backend/src/statusActionEngine/emailActionHandler.ts
Due: npm run lint:backend

Restore to origin version
  apps/backend/package-lock.json
Due: none

chore:test
  .github/workflows/test-build.yml
Due: none

fix: added sample safety reviewers permission to submit review on sample safety
  apps/backend/src/mutations/SampleMutations.ts
Due: npm run lint:backend

wip
  apps/backend/src/auth/SampleAuthorization.ts
  apps/backend/src/datasources/SampleDataSource.ts
  apps/backend/src/datasources/mockups/SampleDataSource.ts
  apps/backend/src/datasources/postgres/SampleDataSource.ts
  apps/backend/src/mutations/ProposalMutations.ts
  apps/backend/src/mutations/ReviewMutations.ts
  apps/backend/src/mutations/SampleMutations.spec.ts
  apps/backend/src/mutations/SampleMutations.ts
  apps/backend/src/resolvers/mutations/SubmitSampleReviewMutation.ts
  apps/backend/src/resolvers/mutations/UpdateSampleMutation.ts
  apps/backend/src/utils/CloneUtils.ts
  apps/frontend/src/components/sample/SampleSafetyPage.tsx
  apps/frontend/src/graphql/review/submitSampleReview.graphql
  apps/frontend/src/graphql/samples/updateSample.graphql
Due: npm run lint:frontend, npm run lint:backend

fix: added sample safety reviewers permission to submit review on sample safety
  apps/backend/src/mutations/SampleMutations.ts
  apps/e2e/cypress/e2e/samples.cy.ts
Due: npm run lint:e2e, npm run lint:backend

fix: added sample safety reviewers permission to submit review on sample safety
  apps/backend/src/auth/ProposalAuthorization.ts
  apps/backend/src/auth/UserAuthorization.ts
  apps/backend/src/mutations/SampleMutations.ts
Due: npm run lint:backend

e2e tests
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

Remove none option
  apps/backend/src/mutations/TechniqueMutations.ts
  apps/backend/src/resolvers/mutations/AssignProposalsToInstrumentsMutation.ts
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend, npm run lint:backend

perf: reduce call count and data quantity for high use query
  apps/frontend/src/components/AppRoutes.tsx
  apps/frontend/src/components/proposal/ProposalChooseCall.tsx
  apps/frontend/src/graphql/call/getCallsMinimal.graphql
Due: npm run lint:frontend

Path conditions:
  npm run lint:e2e: any of: apps/e2e/**/*.{js,ts,jsx,tsx}
  npm run lint:frontend: any of: apps/frontend/**/*.{js,ts,jsx,tsx}
  npm run lint:backend: any of: apps/backend/**/*.{js,ts,jsx,tsx}
