Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

fix: fixing experiments test
  apps/e2e/cypress/e2e/experiments.cy.ts
Due: npm run lint:e2e

fix: Actions should not be sortable
  apps/frontend/src/components/experiment/ExperimentVisitsTable.tsx
Due: npm run lint:frontend

fix: adding backend endpoints
  apps/backend/db_patches/0170_AddInviteFields.sql
  apps/backend/db_patches/0171_MigrateRedeemCodesToInvites.sql
  apps/backend/db_patches/0172_CreatEmailInviteLegacyFeature.sql
  apps/backend/db_patches/db_seeds/0001_ProposalForScheduling.sql
  apps/backend/src/auth/InviteAuthorizer.ts
  apps/backend/src/buildContext.ts
  apps/backend/src/context/index.ts
  apps/backend/src/datasources/CoProposerClaimDataSource.ts
  apps/backend/src/datasources/InviteDataSource.ts
  apps/backend/src/datasources/mockups/CoProposerClaimDataSource.ts
  apps/backend/src/datasources/mockups/InviteDataSource.ts
  apps/backend/src/datasources/postgres/CoProposerClaimDataSource.ts
  apps/backend/src/datasources/postgres/InviteDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/eventHandlers/email/eliEmailHandler.ts
  apps/backend/src/eventHandlers/email/essEmailHandler.ts
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/eventHandlers/messageBroker.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/events/event.enum.ts
  apps/backend/src/models/Feature.ts
  apps/backend/src/models/Invite.ts
  apps/backend/src/mutations/InviteMutations.spec.ts
  apps/backend/src/mutations/InviteMutations.ts
  apps/backend/src/mutations/UserMutations.ts
  apps/backend/src/queries/InviteQueries.ts
  apps/backend/src/resolvers/mutations/AcceptInviteMutation.ts
  apps/backend/src/resolvers/mutations/SetCoProposerInvitesMutation.ts
  apps/backend/src/resolvers/types/Invite.ts
  apps/backend/src/resolvers/types/Proposal.ts
Due: npm run lint:backend

fix: remove resolver from this PR
  apps/backend/src/resolvers/types/Proposal.ts
Due: npm run lint:backend

fix: Xpress scientist PDF download
  apps/backend/src/auth/ProposalAuthorization.ts
Due: npm run lint:backend

feat: allow for bulk reassignement of tech reviews
  apps/backend/db_patches/0170_AddInstrumentIdToTechRevInPropsalTableView.sql
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/mutations/ReviewMutations.ts
  apps/backend/src/resolvers/types/ProposalView.ts
  apps/e2e/cypress/e2e/instruments.cy.ts
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/InstrumentPickerAnswerRenderer.tsx
  apps/frontend/src/components/review/TechnicalBulkReassignModal.tsx
  apps/frontend/src/graphql/instrument/getInstrumentsByIds.graphql
  apps/frontend/src/graphql/instrument/getInstrumentsByIdsMinimal.graphql
  apps/frontend/src/graphql/proposal/getInstrumentScientistProposals.graphql
  apps/frontend/src/graphql/proposal/getProposalsCore.graphql
  apps/frontend/src/hooks/instrument/useInstrumentsByIdsDataMinimal.ts
  apps/frontend/src/hooks/proposal/useProposalsCoreData.ts
  apps/frontend/src/utils/helperFunctions.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

fix: stop non user officers from editing custom grade guide
  apps/frontend/src/components/fap/FapGradeGuide.tsx
  apps/frontend/src/components/fap/General/FapGeneralInfo.tsx
Due: npm run lint:frontend

fix linting error
  apps/backend/src/mutations/FileMutations.ts
  apps/frontend/src/components/common/FileUploadComponent.tsx
Due: npm run lint:frontend, npm run lint:backend

feat: add invite management mutations and update proposal components
  apps/backend/src/resolvers/types/Proposal.ts
  apps/e2e/cypress/e2e/invites.cy.ts
  apps/e2e/cypress/support/e2e.ts
  apps/e2e/cypress/support/featureFlags.ts
  apps/e2e/cypress/support/invite.ts
  apps/e2e/cypress/types/features.d.ts
  apps/e2e/cypress/types/index.d.ts
  apps/e2e/cypress/types/invite.d.ts
  apps/frontend/src/components/proposal/AcceptInvite.tsx
  apps/frontend/src/components/proposal/InviteUser.tsx
  apps/frontend/src/components/proposal/NoOptionsText.tsx
  apps/frontend/src/components/proposal/ProposalCreate.tsx
  apps/frontend/src/components/proposal/ProposalParticipants.tsx
  apps/frontend/src/components/proposal/ProposalTable.tsx
  apps/frontend/src/components/proposal/RedeemCode.tsx
  apps/frontend/src/components/proposalBooking/CreateUpdateVisit.tsx
  apps/frontend/src/components/questionary/QuestionaryDetails.tsx
  apps/frontend/src/components/questionary/questionaryComponents/ProposalBasis/ProposalBasisDefinition.tsx
  apps/frontend/src/components/questionary/questionaryComponents/ProposalBasis/QuestionaryComponentProposalBasis.tsx
  apps/frontend/src/components/review/ProposalQuestionaryReview.tsx
  apps/frontend/src/components/review/ReviewQuestionary.tsx
  apps/frontend/src/components/review/TechnicalReviewQuestionary.tsx
  apps/frontend/src/graphql/invite/acceptInvite.graphql
  apps/frontend/src/graphql/invite/createInvite.graphql
  apps/frontend/src/graphql/invite/fragment.invite.graphql
  apps/frontend/src/graphql/invite/setCoProposerInvites.graphql
  apps/frontend/src/graphql/proposal/createProposal.graphql
  apps/frontend/src/graphql/proposal/getProposal.graphql
  apps/frontend/src/hooks/user/usePreviousCollaborators.ts
  apps/frontend/src/models/questionary/proposal/ProposalWithQuestionary.ts
  apps/frontend/src/utils/net.ts
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

chore: remove stfc hardcoded instrument artemis
  apps/backend/src/auth/StfcUserAuthorization.ts
Due: npm run lint:backend

fix: remove unused update invite mutation
  apps/backend/src/mutations/InviteMutations.spec.ts
  apps/backend/src/mutations/InviteMutations.ts
  apps/backend/src/resolvers/mutations/UpdateInviteMutation.ts
Due: npm run lint:backend

Fix test
  apps/backend/src/auth/ProposalAuthorization.spec.ts
Due: npm run lint:backend

fix: remove unused endpoint createInvite
  apps/backend/src/auth/CoProposerInviteAuthorization.ts
  apps/backend/src/auth/InviteAuthorizer.ts
  apps/backend/src/config/Tokens.ts
  apps/backend/src/config/dependencyConfigDefault.ts
  apps/backend/src/config/dependencyConfigE2E.ts
  apps/backend/src/config/dependencyConfigELI.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/mutations/InviteMutations.spec.ts
  apps/backend/src/mutations/InviteMutations.ts
  apps/backend/src/queries/InviteQueries.ts
  apps/backend/src/resolvers/mutations/CreateInviteMutation.ts
Due: npm run lint:backend

fix: remove unused createInvite mutation
  apps/frontend/src/graphql/invite/createInvite.graphql
Due: none

fix: update mock role claims to use consistent values
  apps/backend/src/datasources/mockups/RoleClaimDataSource.ts
Due: npm run lint:backend

fix: addressing some test flakiness For setting content we use the same technique for waiting until tinymc is ready as for getting content
  apps/e2e/cypress/support/utils.ts
Due: npm run lint:e2e

fix: fix proportions of external reviews table
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/ExternalReviews.tsx
Due: npm run lint:frontend

fix: imporvements for UX
  apps/frontend/src/components/proposal/InviteUser.tsx
  apps/frontend/src/components/proposal/NoOptionsText.tsx
Due: npm run lint:frontend

fix: add support for EMAIL_INVITE feature
  apps/frontend/src/components/proposal/NoOptionsText.tsx
Due: npm run lint:frontend

fix: handle empty files (#967)
  apps/backend/src/mutations/FileMutations.ts
  apps/frontend/src/components/common/FileUploadComponent.tsx
Due: npm run lint:frontend, npm run lint:backend

Revert "fix: remove unused createInvite mutation"
  apps/frontend/src/graphql/invite/createInvite.graphql
Due: none

fix: tech reviewer column not being populated for stfc instrument scis (#956)
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

Improve function implementation and update its calls
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/eventHandlers/customHandler.ts
  apps/backend/src/queries/FapQueries.ts
Due: npm run lint:backend

remove flag for stfc pdf tests
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
Due: npm run lint:e2e

use default ess log for pdfs
  apps/backend/docker-compose-stfc.e2e.yml
Due: none

fix: add back create invite
  apps/backend/src/auth/CoProposerClaimAuthorization.ts
  apps/backend/src/auth/RoleClaimAuthorization.ts
  apps/backend/src/config/Tokens.ts
  apps/backend/src/config/dependencyConfigDefault.ts
  apps/backend/src/config/dependencyConfigE2E.ts
  apps/backend/src/config/dependencyConfigELI.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/mutations/InviteMutations.spec.ts
  apps/backend/src/mutations/InviteMutations.ts
  apps/backend/src/queries/InviteQueries.ts
  apps/backend/src/resolvers/mutations/CreateInviteMutation.ts
Due: npm run lint:backend

fix: update status to match final decision
  apps/backend/db_patches/0170_MoveVisitStatusField.sql
  apps/backend/src/models/VisitRegistration.ts
  apps/frontend/src/components/experiment/ExperimentVisitsTable.tsx
  apps/frontend/src/components/visit/VisitStatusIcon.tsx
  apps/frontend/src/hooks/proposalBooking/useActionButtons.tsx
Due: npm run lint:frontend, npm run lint:backend

fix: adding cancel visit rregistartion mutation
  apps/backend/src/auth/VisitRegistrationAuthorization.ts
  apps/backend/src/eventHandlers/messageBroker.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/events/event.enum.ts
  apps/backend/src/mutations/VisitMutations.ts
  apps/backend/src/resolvers/mutations/CancelVisitRegistration.ts
Due: npm run lint:backend

chore: remove stfc hardcoded instrument artemis (#973)
  apps/backend/src/auth/StfcUserAuthorization.ts
Due: npm run lint:backend

refactor: keep fap proposals loaded between tab changes
  apps/frontend/src/components/fap/FapPage.tsx
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsView.tsx
  apps/frontend/src/hooks/fap/useFapProposalsData.ts
Due: npm run lint:frontend

fix: Update rabbit MQ event name
  apps/backend/src/eventHandlers/messageBroker.ts
Due: npm run lint:backend

downgrade to es5
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/components/review/TechnicalBulkReassignModal.tsx
Due: npm run lint:frontend

clean up comments
  apps/frontend/src/components/review/TechnicalBulkReassignModal.tsx
Due: npm run lint:frontend

remove comment
  apps/e2e/cypress/e2e/instruments.cy.ts
Due: npm run lint:e2e

fix: adding cancel visit logging
  apps/backend/src/eventHandlers/logging.ts
Due: npm run lint:backend

fix: make status longer, because of new status types
  apps/backend/db_patches/0170_MoveVisitStatusField.sql
Due: none

fix: implementing frontend
  apps/backend/src/eventHandlers/email/essEmailHandler.ts
  apps/backend/src/mutations/VisitMutations.ts
  apps/backend/src/resolvers/mutations/CancelVisitRegistrationMutation.ts
  apps/frontend/src/components/experiment/ExperimentVisitsTable.tsx
  apps/frontend/src/components/visit/VisitStatusIcon.tsx
  apps/frontend/src/graphql/visitRegistration/cancelVisitRegistration.graphql
Due: npm run lint:frontend, npm run lint:backend

perf: optimise scientist-technique PDF permission check
  apps/backend/src/auth/ProposalAuthorization.spec.ts
  apps/backend/src/auth/ProposalAuthorization.ts
  apps/backend/src/datasources/UserDataSource.ts
  apps/backend/src/datasources/mockups/UserDataSource.ts
  apps/backend/src/datasources/postgres/UserDataSource.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e, npm run lint:backend

fix test
  apps/e2e/cypress/e2e/instruments.cy.ts
Due: npm run lint:e2e

fix: fix proportions of external reviews table (#976)
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/ExternalReviews.tsx
Due: npm run lint:frontend

Path conditions:
  npm run lint:e2e: any of: apps/e2e/**/*.{js,ts,jsx,tsx}
  npm run lint:frontend: any of: apps/frontend/**/*.{js,ts,jsx,tsx}
  npm run lint:backend: any of: apps/backend/**/*.{js,ts,jsx,tsx}
