Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

removes unused type
  apps/backend/src/resolvers/types/AnswerMinimal.ts
Due: npm run lint:backend

newline added at end of fragment.answerMinimal.graphql file
  apps/frontend/src/graphql/questionary/fragment.answerMinimal.graphql
Due: none

fix: improve operation type extraction in Apollo Server metrics plugin
  apps/backend/src/middlewares/metrics/apolloServerMetricsPlugin.ts
Due: npm run lint:backend

fix: strip html from tech rev comment in fap export
  apps/backend/src/factory/xlsx/fap.ts
Due: npm run lint:backend

Adding new table
  apps/backend/db_patches/0166_CreateRedeemCodes.sql
Due: none

fix: strip html from tech rev comment in fap export (#885)
  apps/backend/src/factory/xlsx/fap.ts
Due: npm run lint:backend

fix: update what comment the fap sheet export uses
  apps/backend/db_patches/0166_UpdateWhichCommentOnReviewProposalView.sql
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/fixtures/exampleCallFapExportSTFC.json
  apps/e2e/cypress/fixtures/exampleFapExportSTFC.json
Due: npm run lint:e2e

feat: integrate Prometheus monitoring and alerting solution for backend (#837)
  apps/backend/index.ts
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/middlewares/graphql.ts
  apps/backend/src/middlewares/metrics/apolloServerMetricsPlugin.ts
  apps/backend/src/middlewares/metrics/metrics.ts
  metrics/README.md
  metrics/docker-compose.metrics.yml
  metrics/grafana/dashboards/example-graphql-http-dashboard.json
  metrics/grafana/provisioning/dashboards/dashboard.yaml
  metrics/grafana/provisioning/datasources/prometheus.yaml
  metrics/prometheus/prometheus.yml
Due: npm run lint:backend

chore: remove unnecessary Yarn lock file (#882)
  yarn.lock
Due: none

add proposal scientist comment to proposal table and proposal view
  apps/backend/db_patches/0165_AddProposalScientistComment.sql
  apps/backend/db_patches/0166_AddProposalScientistCommentToProposalTableView.sql
Due: none

fix patch
  apps/backend/db_patches/0166_UpdateWhichCommentOnReviewProposalView.sql
Due: none

add e2e tests
  apps/e2e/cypress/e2e/xpress.cy.ts
  apps/frontend/src/components/xpress/UpdateScientistProposalComment.tsx
Due: npm run lint:e2e, npm run lint:frontend

allow user officer to edit proposal scientist comment and remane component
  apps/backend/src/mutations/ProposalMutations.ts
  apps/frontend/src/components/xpress/ProposalScientistComment.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend, npm run lint:backend

fix backend tests
  apps/backend/src/queries/ProposalQueries.spec.ts
Due: npm run lint:backend

add proposal internal comments datasources
  apps/backend/src/config/dependencyConfigDefault.ts
  apps/backend/src/config/dependencyConfigE2E.ts
  apps/backend/src/config/dependencyConfigELI.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/datasources/ProposalInternalCommentsDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/mockups/ProposalInternalCommentsDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/ProposalInternalCommentsDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
Due: npm run lint:backend

add proposal internal comments table
  apps/backend/db_patches/0165_AddProposalInternalComments.sql
  apps/backend/db_patches/0165_AddProposalScientistComment.sql
  apps/backend/db_patches/0166_AddProposalScientistCommentToProposalTableView.sql
Due: none

set correct id
  apps/frontend/src/components/xpress/UpdateScientistProposalComment.tsx
Due: npm run lint:frontend

add proposal scientist comment query and mutation
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/Proposal.ts
  apps/backend/src/models/ProposalView.ts
  apps/backend/src/mutations/ProposalMutations.ts
  apps/backend/src/queries/ProposalQueries.ts
  apps/backend/src/resolvers/mutations/UpdateProposalScientistCommentMutation.ts
  apps/backend/src/resolvers/types/Proposal.ts
Due: npm run lint:backend

add proposal internal comments datasource configs
  apps/backend/src/config/Tokens.ts
  apps/backend/src/config/dependencyConfigDefault.ts
  apps/backend/src/config/dependencyConfigE2E.ts
  apps/backend/src/config/dependencyConfigELI.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/config/dependencyConfigTest.ts
Due: npm run lint:backend

add frontend comments for scientists to proposal
  apps/backend/db_patches/0165_AddProposalScientistComment.sql
  apps/backend/src/resolvers/types/ProposalView.ts
  apps/frontend/src/components/review/ReviewQuestionary.tsx
  apps/frontend/src/components/xpress/UpdateScientistProposalComment.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/graphql/proposal/getTechniqueScientistProposals.graphql
  apps/frontend/src/graphql/proposal/updateProposalScientistComment.graphql
  apps/frontend/src/utils/helperFunctions.tsx
Due: npm run lint:frontend, npm run lint:backend

update comments for proposal scientist comment queries and mutations
  apps/backend/src/mutations/ProposalMutations.ts
  apps/backend/src/queries/ProposalQueries.ts
Due: npm run lint:backend

test fix failing
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

Update apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/datasources/postgres/records.ts
Due: npm run lint:backend

update e2e tests
  apps/e2e/cypress/e2e/xpress.cy.ts
  apps/frontend/src/components/xpress/ProposalScientistComment.tsx
Due: npm run lint:e2e, npm run lint:frontend

add timestamp for update on proposal comment
  apps/backend/db_patches/0166_AddProposalInternalComments.sql
Due: none

update cypress tests
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

add proposal internal comments queries and mutations
  apps/backend/src/models/Proposal.ts
  apps/backend/src/models/ProposalInternalComment.ts
  apps/backend/src/models/ProposalView.ts
  apps/backend/src/mutations/ProposalMutations.ts
  apps/backend/src/queries/ProposalQueries.spec.ts
  apps/backend/src/queries/ProposalQueries.ts
  apps/backend/src/resolvers/mutations/CreateProposalScientistCommentMutation.ts
  apps/backend/src/resolvers/mutations/DeleteProposalScientistCommentMutation.ts
  apps/backend/src/resolvers/mutations/UpdateProposalScientistCommentMutation.ts
  apps/backend/src/resolvers/queries/ProposalsViewQuery.ts
  apps/backend/src/resolvers/types/Proposal.ts
  apps/backend/src/resolvers/types/ProposalInternalComment.ts
  apps/backend/src/resolvers/types/ProposalView.ts
Due: npm run lint:backend

update the frontend to use new proposal scientist comment queries and mutations
  apps/frontend/src/components/review/ReviewQuestionary.tsx
  apps/frontend/src/components/xpress/ProposalScientistComment.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/graphql/proposal/createProposalScientistComment.graphql
  apps/frontend/src/graphql/proposal/deleteProposalScientistComment.graphql
  apps/frontend/src/graphql/proposal/getProposalScientistComment.graphql
  apps/frontend/src/graphql/proposal/getTechniqueScientistProposals.graphql
  apps/frontend/src/graphql/proposal/updateProposalScientistComment.graphql
  apps/frontend/src/hooks/proposal/useProposalScientistCommentData.ts
  apps/frontend/src/utils/helperFunctions.tsx
Due: npm run lint:frontend

fix failing fap tests
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

add validation
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/mutations/ProposalMutations.ts
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/components/xpress/ProposalScientistComment.tsx
Due: npm run lint:frontend, npm run lint:backend

Update apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
Due: npm run lint:backend

test fix fap failing
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

add compound primary key
  apps/backend/db_patches/0166_AddProposalInternalComments.sql
Due: none

update patch name
  apps/backend/db_patches/0166_AddProposalInternalComments.sql
Due: none

fix e2e test
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

upgrade tinymce to 7.5.1 to get ready of scroll-blocking warnings
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/components/xpress/ProposalScientistComment.tsx
Due: npm run lint:frontend

fix mutation and queries for proposal scientist comment
  apps/backend/src/datasources/ProposalInternalCommentsDataSource.ts
  apps/backend/src/datasources/mockups/ProposalInternalCommentsDataSource.ts
  apps/backend/src/datasources/postgres/ProposalInternalCommentsDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/mutations/ProposalMutations.ts
  apps/backend/src/queries/ProposalQueries.ts
  apps/backend/src/resolvers/mutations/CreateProposalScientistCommentMutation.ts
  apps/backend/src/resolvers/mutations/DeleteProposalScientistCommentMutation.ts
  apps/backend/src/resolvers/mutations/UpdateProposalScientistCommentMutation.ts
  apps/backend/src/resolvers/queries/ProposalsViewQuery.ts
  apps/backend/src/resolvers/types/ProposalView.ts
Due: npm run lint:backend

perf: answerid returned by answertopic mutation
  apps/frontend/src/graphql/questionary/fragment.answerMinimal.graphql
  apps/frontend/src/models/questionary/QuestionarySubmissionState.ts
Due: npm run lint:frontend

update form
  apps/frontend/src/components/proposal/JoinProposalForm.tsx
  apps/frontend/src/components/proposal/ProposalTable.tsx
Due: npm run lint:frontend

Adding self hosted
  .github/workflows/test-build.yml
  apps/backend/src/mutations/ProposalInvitesMutations.ts
Due: npm run lint:backend

Path conditions:
  npm run lint:e2e: any of: apps/e2e/**/*.{js,ts,jsx,tsx}
  npm run lint:frontend: any of: apps/frontend/**/*.{js,ts,jsx,tsx}
  npm run lint:backend: any of: apps/backend/**/*.{js,ts,jsx,tsx}
