Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

.lintstagedrc.json:

{
  "apps/e2e/**/*.{js,ts,jsx,tsx}": ["npm run lint:e2e"],
  "apps/frontend/**/*.{js,ts,jsx,tsx}": ["npm run lint:frontend"],
  "apps/backend/**/*.{js,ts,jsx,tsx}": ["npm run lint:backend"]
}

Remove unnecessary comments
  apps/frontend/src/components/questionary/questionaryComponents/RichTextInput/QuestionaryComponentRichTextInput.tsx
Due: npm run lint:frontend

Fine-tune FAP test to not display uncloseable popup
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

add status actions log call filter tests
  apps/e2e/cypress/e2e/statusActions.cy.ts
  apps/e2e/cypress/support/utils.ts
Due: npm run lint:e2e

add statusActionsLogsDataSource to ELI config
  apps/backend/src/config/dependencyConfigELI.ts
Due: npm run lint:backend

fix tests
  apps/e2e/cypress/e2e/statusActions.cy.ts
  apps/e2e/cypress/support/utils.ts
Due: npm run lint:e2e

fix: ensure consistency with delete and archive option for various templates
  apps/frontend/src/components/template/DefaultTemplatesTable.tsx
  apps/frontend/src/components/template/GenericTemplatesPage.tsx
  apps/frontend/src/components/template/SampleTemplatesPage.tsx
Due: npm run lint:frontend

Small typo fixes
  apps/frontend/src/components/call/AssignInstrumentsToCall.tsx
  apps/frontend/src/components/call/AssignedInstrumentsTable.tsx
  apps/frontend/src/components/call/CallGeneralInfo.tsx
  apps/frontend/src/components/call/CallReviewsInfo.tsx
  apps/frontend/src/components/call/CallsTable.tsx
  apps/frontend/src/components/fap/MeetingComponents/FapMeetingInstrumentsTable.tsx
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/TechnicalReviewInfo.tsx
  apps/frontend/src/components/proposal/ChangeProposalStatus.tsx
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
Due: npm run lint:frontend

fix: Remove none inst picker option (#740)
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/QuestionaryComponentInstrumentPicker.tsx
Due: npm run lint:frontend

Fix FAP e2e test
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

calling the new validation method at the end
  apps/backend/src/auth/ProposalAuthorization.ts
Due: npm run lint:backend

commenting out the new validation to check if the backend tests passes
  apps/backend/src/auth/ProposalAuthorization.ts
Due: npm run lint:backend

fix backend test
  apps/backend/src/queries/ReviewQueries.spec.ts
Due: npm run lint:backend

fix backend test
  apps/backend/src/datasources/mockups/FapDataSource.ts
Due: npm run lint:backend

fix backend test
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/mockups/ReviewDataSource.ts
Due: npm run lint:backend

uncommenting the method call to find out where backend tests are failing due to this method call
  apps/backend/src/auth/ProposalAuthorization.ts
Due: npm run lint:backend

changing the logic to check if a fap reviewer has grading rights on a proposal
  apps/frontend/src/components/review/ProposalGrade.tsx
Due: npm run lint:frontend

commenting out code block since the code updates the review through api call and in next step it trys to update the same review through ui, so getting insufficient permission error
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

docs: delete loose threads, add missing info
  documentation/docs/faq.md
  documentation/docs/user-guide/overview.md
  documentation/docs/user-guide/user-officer/creating_call.md
  documentation/docs/user-guide/user-officer/creating_templates.md
  documentation/docs/user-guide/user-officer/creating_workflow.md
  documentation/docs/user-guide/user-officer/fap.md
  documentation/docs/user-guide/user-officer/page.md
  documentation/docs/user-guide/user-officer/roles.md
  documentation/docs/user-guide/user-officer/settings/features.md
  documentation/docs/user-guide/user-officer/settings/proposal_statuses.md
  documentation/docs/user-guide/user-officer/settings/proposal_workflow.md
  documentation/docs/user-guide/user-officer/settings/units.md
  documentation/docs/user-guide/user-officer/templates/feedback_template.md
  documentation/docs/user-guide/user-officer/templates/shipment_template.md
  documentation/docs/user-guide/user-officer/user-officer.md
  documentation/mkdocs.yml
Due: none

docs: delete loose threads, add missing info (#745)
  documentation/docs/faq.md
  documentation/docs/user-guide/overview.md
  documentation/docs/user-guide/user-officer/creating_call.md
  documentation/docs/user-guide/user-officer/creating_templates.md
  documentation/docs/user-guide/user-officer/creating_workflow.md
  documentation/docs/user-guide/user-officer/fap.md
  documentation/docs/user-guide/user-officer/page.md
  documentation/docs/user-guide/user-officer/roles.md
  documentation/docs/user-guide/user-officer/settings/features.md
  documentation/docs/user-guide/user-officer/settings/proposal_statuses.md
  documentation/docs/user-guide/user-officer/settings/proposal_workflow.md
  documentation/docs/user-guide/user-officer/settings/units.md
  documentation/docs/user-guide/user-officer/templates/feedback_template.md
  documentation/docs/user-guide/user-officer/templates/shipment_template.md
  documentation/docs/user-guide/user-officer/user-officer.md
  documentation/mkdocs.yml
Due: none

Remove unnecessary e2e filter
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

fix: Remove none inst picker option (#740) (#744)
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/QuestionaryComponentInstrumentPicker.tsx
Due: npm run lint:frontend

fix e2e test
  apps/e2e/cypress/fixtures/exampleCallFapExport.json
Due: none

Add instrument scientist search for non-STFC proposal data source
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
Due: npm run lint:backend

HOTFIX-SCIENTIST-CANNOT-CLICK-NEXT-PAGE-PROPS
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
Due: npm run lint:frontend

use query params removed and used react-router
  apps/frontend/src/components/call/CallsTable.tsx
  apps/frontend/src/components/common/SuperMaterialTable.tsx
  apps/frontend/src/components/experiment/ExperimentFilterBar.tsx
  apps/frontend/src/components/experiment/ExperimentTable.tsx
  apps/frontend/src/components/proposal/ProposalFilterBar.tsx
  apps/frontend/src/components/proposal/ProposalPage.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/components/sample/SampleSafetyPage.tsx
  apps/frontend/src/components/sample/SamplesTable.tsx
  apps/frontend/src/components/settings/unitList/UnitTable.tsx
  apps/frontend/src/components/technique/TechniqueTable.tsx
Due: npm run lint:frontend

Update currentPage
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
Due: npm run lint:frontend

Remove upload handler
  apps/frontend/src/components/questionary/questionaryComponents/RichTextInput/QuestionaryComponentRichTextInput.tsx
Due: npm run lint:frontend

Enable Image plugin for Rich Text editors based on Question configuration
  apps/e2e/cypress/e2e/templatesAdvanced.cy.ts
  apps/e2e/cypress/e2e/templatesBasic.cy.ts
  apps/e2e/cypress/fixtures/template_export.json
  apps/e2e/cypress/types/template.d.ts
  apps/frontend/src/components/questionary/questionaryComponents/RichTextInput/QuestionaryComponentRichTextInput.tsx
Due: npm run lint:e2e, npm run lint:frontend

Add link plugin to Editor
  apps/frontend/src/components/questionary/questionaryComponents/RichTextInput/QuestionaryComponentRichTextInput.tsx
Due: npm run lint:frontend

Update Rich Text Input sanitization
  apps/backend/src/models/questionTypes/RichTextInput.ts
Due: npm run lint:backend

Enable inserting images into Rich Text Editor
  apps/backend/src/models/questionTypes/RichTextInput.ts
  apps/backend/src/resolvers/types/FieldConfig.ts
  apps/frontend/src/components/questionary/questionaryComponents/RichTextInput/QuestionRichTextInputForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/RichTextInput/QuestionTemplateRelationRichTextInputForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/RichTextInput/QuestionaryComponentRichTextInput.tsx
  apps/frontend/src/graphql/template/fragment.fieldConfig.graphql
Due: npm run lint:frontend, npm run lint:backend

WIP
  apps/frontend/src/components/fap/FapStatusFilter.tsx
  apps/frontend/src/components/fap/FapsTable.tsx
  apps/frontend/src/components/institution/InstitutionTable.tsx
  apps/frontend/src/components/instrument/InstrumentTable.tsx
  apps/frontend/src/components/settings/apiAccessTokens/ApiAccessTokensTable.tsx
  apps/frontend/src/components/settings/proposalStatus/ProposalStatusesTable.tsx
  apps/frontend/src/components/settings/proposalWorkflow/ProposalWorkflowsTable.tsx
  yarn.lock
Due: npm run lint:frontend

Moving currentPage outside the component
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
Due: npm run lint:frontend

docs: fix spelling and grammatical errors, fix formatting.
  README.md
  documentation/docs/developer-guide/CONTRIBUTING.md
  documentation/docs/developer-guide/configuration.md
  documentation/docs/developer-guide/documentation_changes.md
  documentation/docs/developer-guide/kubernetes.md
  documentation/docs/developer-guide/rabbitmq.md
  documentation/docs/developer-guide/step-by-step.md
  documentation/docs/faq.md
  documentation/docs/glossary.md
  documentation/docs/quick_start.md
  documentation/docs/user-guide/user-officer/creating_call.md
  documentation/docs/user-guide/user-officer/creating_templates.md
  documentation/docs/user-guide/user-officer/creating_workflow.md
  documentation/docs/user-guide/user-officer/fap_review.md
  documentation/docs/user-guide/user-officer/feasibility_review.md
  documentation/docs/user-guide/user-officer/page.md
  documentation/docs/user-guide/user-officer/proposal.md
  documentation/docs/user-guide/user-officer/questions.md
  documentation/docs/user-guide/user-officer/settings/features.md
  documentation/docs/user-guide/user-officer/settings/proposal_workflow.md
  documentation/docs/user-guide/user-officer/templates/feedback_template.md
  documentation/docs/user-guide/user-officer/templates/pdf_template.md
  documentation/docs/user-guide/user-officer/templates/proposalESI_template.md
  documentation/docs/user-guide/user-officer/templates/proposal_template.md
  documentation/docs/user-guide/user-officer/templates/shipment_template.md
  documentation/docs/user-guide/user-officer/templates/visit_template.md
  documentation/docs/user-guide/user-officer/user-officer.md
Due: none

fix: dont add non missed users
  apps/backend/src/datasources/postgres/UserDataSource.ts
Due: npm run lint:backend

Fix month typo
  apps/frontend/src/utils/Time.ts
Due: npm run lint:frontend

docs: fix spelling and grammatical errors, fix formatting (#750)
  README.md
  documentation/docs/developer-guide/CONTRIBUTING.md
  documentation/docs/developer-guide/configuration.md
  documentation/docs/developer-guide/documentation_changes.md
  documentation/docs/developer-guide/kubernetes.md
  documentation/docs/developer-guide/rabbitmq.md
  documentation/docs/developer-guide/step-by-step.md
  documentation/docs/faq.md
  documentation/docs/glossary.md
  documentation/docs/quick_start.md
  documentation/docs/user-guide/user-officer/creating_call.md
  documentation/docs/user-guide/user-officer/creating_templates.md
  documentation/docs/user-guide/user-officer/creating_workflow.md
  documentation/docs/user-guide/user-officer/fap_review.md
  documentation/docs/user-guide/user-officer/feasibility_review.md
  documentation/docs/user-guide/user-officer/page.md
  documentation/docs/user-guide/user-officer/proposal.md
  documentation/docs/user-guide/user-officer/questions.md
  documentation/docs/user-guide/user-officer/settings/features.md
  documentation/docs/user-guide/user-officer/settings/proposal_workflow.md
  documentation/docs/user-guide/user-officer/templates/feedback_template.md
  documentation/docs/user-guide/user-officer/templates/pdf_template.md
  documentation/docs/user-guide/user-officer/templates/proposalESI_template.md
  documentation/docs/user-guide/user-officer/templates/proposal_template.md
  documentation/docs/user-guide/user-officer/templates/shipment_template.md
  documentation/docs/user-guide/user-officer/templates/visit_template.md
  documentation/docs/user-guide/user-officer/user-officer.md
Due: none
