Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

1077 use like instead exact search
  apps/backend/src/datasources/postgres/CallDataSource.ts
Due: npm run lint:backend

Redo layout
  apps/frontend/src/components/fap/MeetingComponents/FapMeetingInstrumentsTable.tsx
  apps/frontend/src/components/fap/MeetingComponents/FapUpdateInstrumentTime.tsx
Due: npm run lint:frontend

refactor to get better connection between instrument_has_proposals, fap_proposals and technical_reviews
  apps/backend/db_patches/0151_MultipleFapPerProposal.sql
  apps/backend/src/datasources/InstrumentDataSource.ts
  apps/backend/src/datasources/mockups/InstrumentDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/datasources/postgres/InstrumentDataSource.ts
  apps/backend/src/datasources/postgres/ReviewDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/Instrument.ts
  apps/backend/src/mutations/FapMutations.spec.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/backend/src/mutations/InstrumentMutations.spec.ts
  apps/backend/src/mutations/InstrumentMutations.ts
  apps/backend/src/populate/index.ts
Due: npm run lint:backend

feat: add all call fap export
  apps/backend/src/factory/xlsx/callFaps.ts
  apps/backend/src/factory/xlsx/stfc/StfcFapDataRow.ts
Due: npm run lint:backend

include all proposal events to proposal event email resend
  apps/backend/src/mutations/ProposalMutations.ts
  apps/backend/src/resolvers/mutations/EventEmailMutation.ts
Due: npm run lint:backend

add default to handle cases that are not implemented by ess email handler
  apps/backend/src/eventHandlers/email/essEmailHandler.ts
Due: npm run lint:backend

fix failing e2e tests
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

chore: React and MUI upgrade
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/components/AppToolbar/AccountActionButton.tsx
  apps/frontend/src/components/DashBoard.tsx
  apps/frontend/src/components/call/AssignedInstrumentsTable.tsx
  apps/frontend/src/components/common/ActionButtonContainer.tsx
  apps/frontend/src/components/common/CenteredAlert.tsx
  apps/frontend/src/components/common/ConflictResolver.tsx
  apps/frontend/src/components/common/CopyToClipboard.tsx
  apps/frontend/src/components/common/EmailSearchBar.tsx
  apps/frontend/src/components/common/FileUploadComponent.tsx
  apps/frontend/src/components/common/FormikUICustomDependencySelector.tsx
  apps/frontend/src/components/common/FormikUICustomEditor.tsx
  apps/frontend/src/components/common/FormikUICustomTable.tsx
  apps/frontend/src/components/common/InputDialog.tsx
  apps/frontend/src/components/common/MultiMenuItem.tsx
  apps/frontend/src/components/common/MultistepWizard.tsx
  apps/frontend/src/components/common/SimpleTabs.tsx
  apps/frontend/src/components/common/SuperMaterialTable.tsx
  apps/frontend/src/components/common/TextFieldWithCounter.tsx
  apps/frontend/src/components/common/TitledContainer.tsx
  apps/frontend/src/components/common/UOLoader.tsx
  apps/frontend/src/components/settings/proposalWorkflow/ProposalStatusPicker.tsx
  apps/frontend/src/components/settings/proposalWorkflow/ProposalWorkflowConnectionsEditor.tsx
  apps/frontend/src/components/settings/proposalWorkflow/ProposalWorkflowEditor.tsx
  apps/frontend/src/components/template/QuestionPicker.tsx
  apps/frontend/src/components/template/TemplateEditor.tsx
  apps/frontend/src/components/template/TemplateQuestionEditor.tsx
  apps/frontend/src/components/template/TemplateTopicEditor.tsx
  apps/frontend/src/index.tsx
  apps/frontend/src/styles/StyledComponents.tsx
Due: npm run lint:frontend

Update dependencyConfigDefault.ts to use autoupdate of db_pacthes
  apps/backend/src/config/dependencyConfigDefault.ts
Due: npm run lint:backend

continue with useStyles cleanup
  apps/frontend/src/components/common/proposalFilters/CallFilter.tsx
  apps/frontend/src/components/common/proposalFilters/InstrumentFilter.tsx
  apps/frontend/src/components/common/proposalFilters/ProposalStatusFilter.tsx
  apps/frontend/src/components/common/proposalFilters/QuestionaryFilter.tsx
  apps/frontend/src/components/experiment/DateFilter.tsx
  apps/frontend/src/components/experiment/ExperimentVisitsTable.tsx
  apps/frontend/src/components/fap/General/AddFap.tsx
  apps/frontend/src/components/fap/General/FapGeneralInfo.tsx
  apps/frontend/src/components/fap/MeetingComponents/FapInstrumentProposalsTable.tsx
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/ExternalReviews.tsx
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/FapMeetingDecision.tsx
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/FapMeetingProposalViewModal.tsx
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/FinalRankingForm.tsx
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/ProposalDetails.tsx
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/TechnicalReviewInfo.tsx
  apps/frontend/src/components/fap/Proposals/AssignFapMemberToProposalModal.tsx
  apps/frontend/src/components/fap/Proposals/FapAssignedReviewersTable.tsx
  apps/frontend/src/components/institution/MergeInstitutionPage.tsx
Due: npm run lint:frontend

add backend tests for sending proposal event email
  apps/backend/src/datasources/mockups/EventLogsDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/mutations/ProposalMutations.spec.ts
Due: npm run lint:backend

fix backend tests for sending proposal event email
  apps/backend/src/mutations/ProposalMutations.spec.ts
Due: npm run lint:backend

fix: database patch fix to cleanup old fap_assignments and fap_reviews that are not related to any fap_proposal
  apps/backend/db_patches/0151_MultipleFapPerProposal.sql
Due: none

fix: database patch fix to cleanup old fap_assignments and fap_reviews that are not related to any fap_proposal (#616)
  apps/backend/db_patches/0151_MultipleFapPerProposal.sql
Due: none

fix: improve and fix the proposal table view for multi FAP proposals
  apps/backend/db_patches/0156_ImproveProposalTableViewForMultiFaps.sql
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/backend/src/resolvers/types/ProposalView.ts
Due: npm run lint:backend

fix linting issue
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
Due: npm run lint:frontend

fix: improve and fix the proposal table view for multi FAP proposals (#617)
  apps/backend/db_patches/0156_ImproveProposalTableViewForMultiFaps.sql
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/backend/src/resolvers/types/ProposalView.ts
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
Due: npm run lint:frontend, npm run lint:backend

try to cleanup some merge leftovers
  apps/backend/src/mutations/InstrumentMutations.ts
Due: npm run lint:backend

feat: add call filter option for short code (#611)
  apps/backend/src/datasources/postgres/CallDataSource.ts
  apps/backend/src/resolvers/queries/CallsQuery.ts
Due: npm run lint:backend

initial commit
  apps/backend/src/models/questionTypes/InstrumentPicker.ts
  apps/backend/src/resolvers/types/FieldConfig.ts
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/InstrumentPickerAnswerRenderer.tsx
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/InstrumentPickerDefinition.tsx
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/QuestionInstrumentPickerFormCommon.tsx
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/QuestionaryComponentInstrumentPicker.tsx
  apps/frontend/src/graphql/template/fragment.fieldConfig.graphql
Due: npm run lint:frontend, npm run lint:backend

continue with makeStyles and withStyles removal
  apps/frontend/src/components/call/AssignedInstrumentsTable.tsx
  apps/frontend/src/components/call/CallGeneralInfo.tsx
  apps/frontend/src/components/experiment/PresetDateSelector.tsx
  apps/frontend/src/components/fap/MeetingComponents/FapUpdateInstrumentTime.tsx
  apps/frontend/src/components/instrument/AssignedScientistsTable.tsx
  apps/frontend/src/components/internalReview/CreateUpdateInternalReview.tsx
  apps/frontend/src/components/internalReview/InternalReviews.tsx
  apps/frontend/src/components/pages/InformationModal.tsx
  apps/frontend/src/components/pages/PageInputBox.tsx
  apps/frontend/src/components/proposal/CallSelectModalOnProposalClone.tsx
  apps/frontend/src/components/proposal/ChangeProposalStatus.tsx
  apps/frontend/src/components/proposal/GeneralInformation.tsx
  apps/frontend/src/components/proposal/ParticipantModal.tsx
  apps/frontend/src/components/proposal/ProposalAttachmentDownload.tsx
  apps/frontend/src/components/proposal/ProposalChooseCall.tsx
  apps/frontend/src/components/proposal/ProposalErrorLabel.tsx
  apps/frontend/src/components/proposal/ProposalParticipant.tsx
  apps/frontend/src/components/proposal/ProposalParticipants.tsx
  apps/frontend/src/components/proposalBooking/ActionButton.tsx
  apps/frontend/src/components/proposalEsi/ProposalEsiDetails.tsx
  apps/frontend/src/components/questionary/Questionary.tsx
  apps/frontend/src/components/questionary/questionaryComponents/ShipmentBasis/QuestionaryComponentShipmentBasis.tsx
  apps/frontend/src/utils/helperFunctions.tsx
Due: npm run lint:frontend

fix: export only submitted proposal
  apps/backend/src/factory/xlsx/fap.ts
Due: npm run lint:backend

wait for database patches to be applied before setting variables
  apps/backend/src/datasources/postgres/AdminDataSource.ts
Due: npm run lint:backend

Remove else statement
  apps/frontend/src/components/template/QuestionTemplateLabel.tsx
Due: npm run lint:frontend

fix: only submitted proposals in fap
  apps/backend/src/datasources/postgres/FapDataSource.ts
Due: npm run lint:backend

last bits of material ui upgrade changes
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/frontend/src/components/App.tsx
  apps/frontend/src/components/common/FormikUIAutocomplete.tsx
  apps/frontend/src/components/experiment/ExperimentTable.tsx
  apps/frontend/src/components/fap/MeetingComponents/FapMeetingInstrumentsTable.tsx
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/components/instrument/InstrumentTable.tsx
  apps/frontend/src/components/proposal/ProposalTable.tsx
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/components/proposal/ProposalTableUser.tsx
  apps/frontend/src/components/proposalBooking/ExperimentTimesTable.tsx
  apps/frontend/src/components/proposalBooking/InstrSciUpcomingExperimentTimesTable.tsx
  apps/frontend/src/components/proposalBooking/UserExperimentsTable.tsx
  apps/frontend/src/components/proposalBooking/UserUpcomingExperimentsTable.tsx
  apps/frontend/src/components/questionary/questionaryComponents/DatePicker/DateSearchCriteriaInput.tsx
  apps/frontend/src/components/questionary/questionaryComponents/FileUpload/QuestionaryComponentFileUpload.tsx
  apps/frontend/src/components/settings/proposalWorkflow/ProposalWorkflowEditor.tsx
  apps/frontend/src/components/template/documentation.tsx
  apps/frontend/src/utils/withConfirm.tsx
  apps/frontend/src/utils/withPrompt.tsx
Due: npm run lint:e2e, npm run lint:frontend

fixes e2e tests
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/settings.cy.ts
  apps/e2e/cypress/support/fap.ts
  apps/e2e/cypress/types/fap.d.ts
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
Due: npm run lint:e2e, npm run lint:frontend

fix some react router issues
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/components/App.tsx
  apps/frontend/src/components/AppToolbar/RoleSelection.tsx
  apps/frontend/src/components/DashBoard.tsx
  apps/frontend/src/components/TitledRoute.tsx
Due: npm run lint:frontend

reverts unneccessary changes
  .vscode/launch.json
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/frontend/src/components/fap/Proposals/AssignFapMemberToProposalModal.tsx
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
Due: npm run lint:e2e, npm run lint:frontend

fix: prevent workflow errors when proposal_deleted event is fired
  apps/backend/src/workflowEngine/index.ts
Due: npm run lint:backend

reverts cypress config
  apps/e2e/cypress.config.ts
Due: npm run lint:e2e

apply autoUpgradedDBReady in applypacthes
  apps/backend/src/datasources/postgres/AdminDataSource.ts
Due: npm run lint:backend

Update README.md
  README.md
Due: none

further code changes for capturing user time request
  apps/backend/src/datasources/CallDataSource.ts
  apps/backend/src/datasources/mockups/CallDataSource.ts
  apps/backend/src/datasources/postgres/CallDataSource.ts
  apps/backend/src/models/questionTypes/InstrumentPicker.ts
  apps/backend/src/mutations/InstrumentMutations.ts
  apps/backend/src/queries/CallQueries.ts
  apps/backend/src/resolvers/queries/CallQuery.ts
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/e2e/cypress/support/initialDBData.ts
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/InstrumentPickerAnswerRenderer.tsx
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/QuestionaryComponentInstrumentPicker.tsx
  apps/frontend/src/graphql/call/getCallByQuestionId.graphql
  apps/frontend/src/hooks/call/useQuestionCallData.ts
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

fix: prevent workflow errors when proposal_deleted event is fired (#623)
  apps/backend/src/workflowEngine/index.ts
Due: npm run lint:backend

fix the broken routes after upgrating react-router
  apps/frontend/src/components/App.tsx
  apps/frontend/src/components/DashBoard.tsx
  apps/frontend/src/components/call/CallsTable.tsx
  apps/frontend/src/components/common/Can.tsx
  apps/frontend/src/components/fap/FapGradeGuide.tsx
  apps/frontend/src/components/fap/FapPage.tsx
  apps/frontend/src/components/fap/FapsTable.tsx
  apps/frontend/src/components/fap/General/FapGeneralInfo.tsx
  apps/frontend/src/components/fap/MeetingComponents/FapInstrumentProposalsTable.tsx
  apps/frontend/src/components/fap/MeetingComponents/FapMeetingInstrumentsTable.tsx
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/FapMeetingProposalViewModal.tsx
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/FinalRankingForm.tsx
  apps/frontend/src/components/fap/Members/FapMembers.tsx
  apps/frontend/src/components/fap/Proposals/FapAssignedReviewersTable.tsx
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/components/instrument/AssignedScientistsTable.tsx
  apps/frontend/src/components/instrument/InstrumentTable.tsx
  apps/frontend/src/components/internalReview/CreateUpdateInternalReview.tsx
  apps/frontend/src/components/internalReview/InternalReviewsTable.tsx
  apps/frontend/src/components/menu/MenuItems.tsx
  apps/frontend/src/components/proposal/GeneralInformation.tsx
  apps/frontend/src/components/proposal/ParticipantModal.tsx
  apps/frontend/src/components/proposal/ProposalAdmin.tsx
  apps/frontend/src/components/proposal/ProposalSummary.tsx
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/questionary/Questionary.tsx
  apps/frontend/src/components/review/AssignTechnicalReview.tsx
  apps/frontend/src/components/review/ProposalGrade.tsx
  apps/frontend/src/components/review/ProposalReviewContent.tsx
  apps/frontend/src/components/review/ProposalTechnicalReview.tsx
  apps/frontend/src/components/review/ProposalTechnicalReviewerAssignment.tsx
  apps/frontend/src/components/review/TechnicalReviewInformation.tsx
  apps/frontend/src/components/settings/apiAccessTokens/ApiAccessTokensTable.tsx
  apps/frontend/src/components/settings/proposalStatus/ProposalStatusesTable.tsx
  apps/frontend/src/components/settings/proposalWorkflow/ProposalWorkflowsTable.tsx
  apps/frontend/src/components/settings/unitList/UnitTable.tsx
  apps/frontend/src/hooks/common/useCheckAccess.tsx
Due: npm run lint:frontend

fix linting issues
  apps/frontend/src/components/TitledRoute.tsx
  apps/frontend/src/components/call/CallsTable.tsx
  apps/frontend/src/components/common/FormikUIAutocomplete.tsx
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/components/user/UpdateUserInformation.tsx
Due: npm run lint:frontend

Path conditions:
  npm run lint:e2e: any of: apps/e2e/**/*.{js,ts,jsx,tsx}
  npm run lint:frontend: any of: apps/frontend/**/*.{js,ts,jsx,tsx}
  npm run lint:backend: any of: apps/backend/**/*.{js,ts,jsx,tsx}
