Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

.lintstagedrc.json:

{
  "apps/e2e/**/*.{js,ts,jsx,tsx}": ["npm run lint:e2e"],
  "apps/frontend/**/*.{js,ts,jsx,tsx}": ["npm run lint:frontend"],
  "apps/backend/**/*.{js,ts,jsx,tsx}": ["npm run lint:backend"]
}

fix: update user information update
  apps/frontend/src/components/user/UpdateUserInformation.tsx
Due: npm run lint:frontend

fix: linting
  apps/e2e/cypress/e2e/userAdministration.cy.ts
  apps/frontend/src/utils/user.ts
Due: npm run lint:e2e, npm run lint:frontend

refactor(e2e): remove unnecessary code for selecting organization country in personalInformation.cy.ts and userAdministration.cy.ts
  apps/e2e/cypress/e2e/personalInformation.cy.ts
  apps/e2e/cypress/e2e/userAdministration.cy.ts
Due: npm run lint:e2e

improve multiple technical reviews UI
  apps/frontend/src/components/common/SimpleTabs.tsx
  apps/frontend/src/components/common/TabPanel.tsx
  apps/frontend/src/components/fap/FapPage.tsx
  apps/frontend/src/components/proposal/ProposalEdit.tsx
  apps/frontend/src/components/review/ProposalReviewContent.tsx
  apps/frontend/src/components/review/ProposalReviewModal.tsx
  apps/frontend/src/components/settings/proposalWorkflow/StatusEventsAndActionsDialog.tsx
  apps/frontend/src/components/template/FeedbackTemplatesPage.tsx
  apps/frontend/src/components/template/PdfTemplateEditor.tsx
  apps/frontend/src/components/template/ProposalTemplatesPage.tsx
  apps/frontend/src/components/template/SampleTemplatesPage.tsx
  apps/frontend/src/components/template/VisitTemplatesPage.tsx
Due: npm run lint:frontend

change the naming of the tabs component
  apps/frontend/src/components/pages/PageEditor.tsx
  apps/frontend/src/components/settings/apiAccessTokens/CreateUpdateApiAccessToken.tsx
  apps/frontend/src/components/template/EsiPage.tsx
  apps/frontend/src/components/template/GenericTemplatesPage.tsx
  apps/frontend/src/components/template/PdfTemplatesPage.tsx
  apps/frontend/src/components/template/SampleEsiPage.tsx
  apps/frontend/src/components/template/ShipmentTemplatesPage.tsx
  apps/frontend/src/components/user/UserPage.tsx
Due: npm run lint:frontend

increased wait time, with debounceinterval
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
Due: npm run lint:frontend

fix some types and prepare for multi instrument pdfs
  apps/backend/src/factory/xlsx/proposal.ts
  apps/backend/src/queries/ReviewQueries.ts
  apps/backend/src/resolvers/types/Proposal.ts
  apps/frontend/src/components/review/ProposalReviewContent.tsx
Due: npm run lint:frontend, npm run lint:backend

adding beam line manager when viewing scientists
  apps/frontend/src/components/instrument/AssignedScientistsTable.tsx
Due: npm run lint:frontend

adding beam line manager when viewing scientists
  apps/frontend/src/components/instrument/AssignedScientistsTable.tsx
  apps/frontend/src/components/instrument/InstrumentTable.tsx
Due: npm run lint:frontend

simple tabs small fix
  apps/frontend/src/components/common/SimpleTabs.tsx
Due: npm run lint:frontend

add instrument name for pdfs
  apps/backend/src/factory/pdf/proposal.ts
Due: npm run lint:backend

fix: call_ended event firing
  apps/backend/src/datasources/postgres/CallDataSource.test.ts
  apps/backend/src/datasources/postgres/CallDataSource.ts
Due: npm run lint:backend

minor fixes and todos
  apps/backend/db_patches/0146_MultiInstrumentPerProposal.sql
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/frontend/src/components/common/SimpleTabs.tsx
Due: npm run lint:frontend, npm run lint:backend

fix: use backend validation schema for user update
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/mutations/UserMutations.ts
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: npm run lint:backend

fix: refactoring remaining minor references to Organization
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/components/proposal/ProposalParticipant.tsx
  apps/frontend/src/components/template/PdfTemplateDefaultData.tsx
  apps/frontend/src/components/template/documentation.tsx
  apps/frontend/src/components/user/UpdateUserInformation.tsx
  apps/frontend/src/utils/user.ts
Due: npm run lint:frontend

Update AssignedScientistsTable.tsx
  apps/frontend/src/components/instrument/AssignedScientistsTable.tsx
Due: npm run lint:frontend

Use default parameter value
  apps/backend/src/datasources/postgres/CallDataSource.test.ts
Due: npm run lint:backend

Improve readability of dates
  apps/backend/src/datasources/postgres/CallDataSource.test.ts
Due: npm run lint:backend

included ESS getUsersByUserNumbers implementation
  apps/backend/src/datasources/postgres/UserDataSource.ts
Due: npm run lint:backend

Extract logic to separate function
  apps/backend/src/datasources/postgres/CallDataSource.ts
Due: npm run lint:backend

added test to ensure proposal table always render principal investigator
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

Add safety manager role and safety notification feature
  apps/backend/db_patches/0146_AddSafetyNotificationFeature.sql
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/eventHandlers/email/essEmailHandler.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/events/event.enum.ts
  apps/backend/src/models/Role.ts
  apps/backend/src/models/SafetyNotificationResponse.ts
  apps/backend/src/models/User.ts
  apps/backend/src/mutations/ProposalMutations.ts
  apps/backend/src/resolvers/mutations/NotifySafetyMutation.ts
  apps/frontend/src/components/internalReview/InternalReviews.tsx
  apps/frontend/src/components/internalReview/InternalReviewsTable.tsx
  apps/frontend/src/components/review/ProposalReviewContent.tsx
  apps/frontend/src/components/review/SafetyNotificationModal.tsx
  apps/frontend/src/graphql/proposal/notifySafety.graphql
Due: npm run lint:frontend, npm run lint:backend

Refactor safety notification modal and proposal mutations
  apps/backend/src/mutations/ProposalMutations.ts
  apps/frontend/src/components/internalReview/InternalReviewsTable.tsx
  apps/frontend/src/components/review/SafetyNotificationModal.tsx
Due: npm run lint:frontend, npm run lint:backend

also added to instrument scientist
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
Due: npm run lint:frontend

Use maps
  apps/backend/src/datasources/stfc/StfcFapDataSource.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
Due: npm run lint:backend

Return users without roles
  apps/backend/src/datasources/stfc/StfcFapDataSource.ts
  apps/backend/src/mutations/FapMutations.ts
Due: npm run lint:backend

Display summary of scored proposals
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
Due: npm run lint:frontend

Improve naming convention
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
Due: npm run lint:frontend

Refactor: Update meeting export for stfc mode
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/factory/xlsx/FapDataRow.ts
  apps/backend/src/factory/xlsx/fap.ts
  apps/backend/src/factory/xlsx/stfc/StfcFapDataColumns.ts
  apps/backend/src/factory/xlsx/stfc/StfcFapDataRow.ts
Due: npm run lint:backend

Update husky hooks following v9 update
  .husky/pre-commit
  package.json
Due: none

Clean up function
  apps/backend/src/datasources/postgres/FapDataSource.ts
Due: npm run lint:backend

feat: Add a view to simplify proposal answer access in SQL queries
  apps/backend/db_patches/0147_AddProposalAnswerView.sql
Due: none

Rename variable
  apps/backend/src/datasources/stfc/StfcFapDataSource.ts
Due: npm run lint:backend

add test
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

Add tests for multiple secs
  apps/e2e/cypress/e2e/generalFaps.cy.ts
Due: npm run lint:e2e

Make find easier to read
  apps/backend/src/factory/xlsx/stfc/StfcFapDataRow.ts
Due: npm run lint:backend

Fix answer view's handling of generic templates
  apps/backend/db_patches/0147_AddProposalAnswerView.sql
Due: none

Missed value
  apps/backend/src/factory/xlsx/stfc/StfcFapDataRow.ts
Due: npm run lint:backend

fix broken proposal view filters by instrument name
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend
