Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

.lintstagedrc.json:

{
  "apps/e2e/**/*.{js,ts,jsx,tsx}": ["npm run lint:e2e"],
  "apps/frontend/**/*.{js,ts,jsx,tsx}": ["npm run lint:frontend"],
  "apps/backend/**/*.{js,ts,jsx,tsx}": ["npm run lint:backend"]
}

Change e2e tests to fit new validation
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/frontend/src/components/questionary/questionaryComponents/ProposalBasis/createProposalBasisValidationSchema.ts
Due: npm run lint:e2e, npm run lint:frontend

Typo fixes
  apps/frontend/src/components/questionary/questionaryComponents/ProposalBasis/createProposalBasisValidationSchema.ts
Due: npm run lint:frontend

feat: send email also to co-proposer invites on proposal submit (#1045)
  apps/backend/src/eventHandlers/email/essEmailHandler.ts
Due: npm run lint:backend

refactor: make Xpress less STFC-specific (#1023)
  apps/backend/db_patches/0177_AddXpressStatuses.sql
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/e2e/cypress/e2e/techniqueProposals.cy.ts
  apps/e2e/cypress/support/initialDBData.ts
Due: npm run lint:e2e, npm run lint:backend

fix: improve error messages for visit registration permissions and status checks
  apps/backend/src/auth/questionary/VisitQuestionaryAuthorizer.ts
  apps/backend/src/mutations/VisitMutations.spec.ts
  apps/backend/src/mutations/VisitMutations.ts
Due: npm run lint:backend

docs: add technique proposal developer documentation (#1044)
  documentation/docs/developer-guide/technique_proposals.md
  documentation/mkdocs.yml
Due: none

fix: update visit status icons for better clarity and consistency
  apps/frontend/src/components/visit/VisitStatusIcon.tsx
Due: npm run lint:frontend

fix: replace InsertDriveFileOutlinedIcon with DescriptionOutlinedIcon for submitted status
  apps/frontend/src/components/visit/VisitStatusIcon.tsx
Due: npm run lint:frontend

fix: api keys now checked before use of authorizers (#1040)
  apps/backend/src/factory/pdf/proposal.ts
  apps/backend/src/mutations/CallMutations.ts
  apps/backend/src/mutations/ExperimentMutation.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/backend/src/mutations/FeedbackMutations.ts
  apps/backend/src/mutations/GenericTemplateMutations.ts
  apps/backend/src/mutations/InstrumentMutations.ts
  apps/backend/src/mutations/InternalReviewMutations.ts
  apps/backend/src/mutations/InviteMutations.ts
  apps/backend/src/mutations/ProposalMutations.ts
  apps/backend/src/mutations/QuestionaryMutations.ts
  apps/backend/src/mutations/ReviewMutations.ts
  apps/backend/src/mutations/SampleMutations.ts
  apps/backend/src/mutations/ShipmentMutations.ts
  apps/backend/src/mutations/UserMutations.ts
  apps/backend/src/mutations/VisitMutations.ts
  apps/backend/src/queries/CallQueries.ts
  apps/backend/src/queries/FapQueries.ts
  apps/backend/src/queries/FeedbackQueries.ts
  apps/backend/src/queries/GenericTemplateQueries.ts
  apps/backend/src/queries/InstrumentQueries.ts
  apps/backend/src/queries/InternalReviewQueries.ts
  apps/backend/src/queries/InviteQueries.ts
  apps/backend/src/queries/ProposalQueries.ts
  apps/backend/src/queries/QuestionaryQueries.ts
  apps/backend/src/queries/ReviewQueries.ts
  apps/backend/src/queries/SampleQueries.ts
  apps/backend/src/queries/ShipmentQueries.ts
  apps/backend/src/queries/TechnicalReviewQueries.ts
  apps/backend/src/queries/VisitQueries.ts
Due: npm run lint:backend

fix: add fap reviewer notified to proposal events table
  apps/backend/db_patches/0180_AddFapReviewerNotifiedEvent.sql
Due: none

Remove unused arg
  apps/backend/src/auth/questionary/GenericTemplateQuestionaryAuthorizer.ts
  apps/backend/src/datasources/GenericTemplateDataSource.ts
  apps/backend/src/datasources/mockups/GenericTemplateDataSource.ts
  apps/backend/src/factory/pdf/proposal.ts
  apps/backend/src/factory/zip/attachment.ts
  apps/backend/src/mutations/ProposalMutations.ts
  apps/backend/src/mutations/QuestionaryMutations.ts
  apps/backend/src/queries/GenericTemplateQueries.ts
  apps/backend/src/statusActionEngine/statusActionUtils.ts
Due: npm run lint:backend

fix: update rejection messages to use 'user' instead of 'agent' for clarity
  apps/backend/src/mutations/VisitMutations.ts
Due: npm run lint:backend

fix: correct typo in permission rejection message for visit registration
  apps/backend/src/mutations/VisitMutations.spec.ts
  apps/backend/src/mutations/VisitMutations.ts
Due: npm run lint:backend

Remove user from token PDF data fetching
  apps/backend/src/factory/pdf/genericTemplates.ts
  apps/backend/src/factory/pdf/proposal.ts
  apps/backend/src/factory/pdf/sample.ts
  apps/backend/src/middlewares/factory/factoryServices.ts
Due: npm run lint:backend

fix: correct typo in visit registration changes button selector
  apps/e2e/cypress/e2e/visits.cy.ts
Due: npm run lint:e2e

fix: move QUEUE_NAME definition to the top and remove redundant declarations in createListenToRabbitMQHandler
  apps/backend/src/eventHandlers/messageBroker.ts
Due: npm run lint:backend

refactor: change the field headings for proposal title and abstract (#1048)
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/frontend/src/components/questionary/questionaryComponents/ProposalBasis/QuestionaryComponentProposalBasis.tsx
  apps/frontend/src/components/questionary/questionaryComponents/ProposalBasis/createProposalBasisValidationSchema.ts
Due: npm run lint:e2e, npm run lint:frontend

feat: add empty data source message prop to TemplatesTable and implement in VisitTemplatesPage
  apps/frontend/src/components/template/TemplatesTable.tsx
  apps/frontend/src/components/template/VisitTemplatesPage.tsx
Due: npm run lint:frontend

fix: simplify tooltip for marking templates as active
  apps/frontend/src/components/template/withMarkTemplateAsActiveAction.tsx
Due: npm run lint:frontend

add tracing to logs and requests
  apps/backend/package.json
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/config/stfc/configureSTFCWinstonLogger.ts
Due: npm run lint:backend

add tracing to requests
  apps/backend/index.ts
  apps/backend/src/middlewares/tracing/tracing.ts
Due: npm run lint:backend

add tracing to requests
  apps/backend/package-lock.json
Due: none

remove not required changes
  apps/backend/index.ts
Due: npm run lint:backend

feat: add error handling and empty data source messages for visit registration and templates
  apps/frontend/src/components/shipments/CreateShipment.tsx
  apps/frontend/src/components/template/FeedbackTemplatesPage.tsx
  apps/frontend/src/components/template/ShipmentTemplatesPage.tsx
  apps/frontend/src/components/template/VisitTemplatesPage.tsx
  apps/frontend/src/components/visit/CreateVisitRegistration.tsx
  apps/frontend/src/hooks/visit/useBlankVisitRegistration.ts
Due: npm run lint:frontend

feat: implement useBlankFeedback hook for fetching blank feedback and handling errors
  apps/frontend/src/components/feedback/CreateFeedback.tsx
  apps/frontend/src/hooks/feedback/useBlankFeedback.ts
  apps/frontend/src/hooks/shipment/useBlankShipment.ts
  apps/frontend/src/hooks/visit/useBlankVisitRegistration.ts
Due: npm run lint:frontend

fix: remove unused userId prop from CreateVisitRegistration component
  apps/frontend/src/components/visit/CreateUpdateVisitRegistration.tsx
Due: npm run lint:frontend

Add check for data access read rights
  apps/backend/src/auth/ProposalAuthorization.ts
Due: npm run lint:backend

Add new endpoints for role creation
  apps/backend/src/auth/ProposalAuthorization.spec.ts
  apps/backend/src/datasources/UserDataSource.ts
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/mockups/UserDataSource.ts
  apps/backend/src/datasources/postgres/UserDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.spec.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/backend/src/models/Role.ts
  apps/backend/src/mutations/UserMutations.ts
  apps/backend/src/queries/ProposalQueries.ts
  apps/backend/src/resolvers/mutations/CreateRoleMutation.ts
  apps/backend/src/resolvers/mutations/DeleteRoleMutation.ts
  apps/backend/src/resolvers/mutations/UpdateRoleMutation.ts
  apps/backend/src/resolvers/types/Role.ts
Due: npm run lint:backend

Add a check for permissions
  apps/backend/src/decorators/Authorized.ts
Due: npm run lint:backend

Add GUI for dynamic role creation
  apps/frontend/src/components/AppRoutes.tsx
  apps/frontend/src/components/admin/RoleManagement.tsx
  apps/frontend/src/components/admin/RoleModal.tsx
  apps/frontend/src/components/menu/MenuItems.tsx
  apps/frontend/src/components/menu/SettingsMenuListItem.tsx
  apps/frontend/src/components/pages/OverviewPage.tsx
  apps/frontend/src/graphql/admin/createRole.graphql
  apps/frontend/src/graphql/admin/deleteRole.graphql
  apps/frontend/src/graphql/admin/updateRole.graphql
  apps/frontend/src/graphql/user/getRoles.graphql
  apps/frontend/src/graphql/user/getUserWithRoles.graphql
Due: npm run lint:frontend

Add db patch for data_access and permissions
  apps/backend/db_patches/0180_CreateUserRoles
Due: none

feat: Allow for instruments to be add to call without being selectable
  apps/backend/db_patches/0180_MarkInstrumentsAsUnselectable.sql
  apps/backend/src/datasources/InstrumentDataSource.ts
  apps/backend/src/datasources/postgres/InstrumentDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/Instrument.ts
  apps/backend/src/models/questionTypes/InstrumentPicker.ts
  apps/backend/src/resolvers/mutations/CreateInstrumentMutation.ts
  apps/backend/src/resolvers/mutations/UpdateInstrumentMutation.ts
  apps/backend/src/resolvers/types/Instrument.ts
  apps/frontend/src/components/instrument/CreateUpdateInstrument.tsx
  apps/frontend/src/graphql/instrument/createInstrument.graphql
  apps/frontend/src/graphql/instrument/instrument.fragment.graphql
  apps/frontend/src/graphql/instrument/updateInstrument.graphql
Due: npm run lint:frontend, npm run lint:backend

fix lint
  apps/frontend/src/components/instrument/CreateUpdateInstrument.tsx
Due: npm run lint:frontend

fix backend tests
  apps/backend/src/datasources/mockups/InstrumentDataSource.ts
  apps/backend/src/mutations/InstrumentMutations.spec.ts
Due: npm run lint:backend

fix delete function
  apps/backend/src/datasources/postgres/UserDataSource.ts
Due: npm run lint:backend

Add new hook for getting user data and load new user data when creating menuItems
  apps/frontend/src/components/AppToolbar/RoleSelection.tsx
  apps/frontend/src/components/menu/MenuItems.tsx
  apps/frontend/src/graphql/user/getMyRoles.graphql
  apps/frontend/src/hooks/user/useMeData.ts
Due: npm run lint:frontend

Fetch user data access and permission on server side
  apps/backend/src/auth/ProposalAuthorization.ts
  apps/backend/src/decorators/Authorized.ts
Due: npm run lint:backend

Add proposal download status action
  apps/backend/db_patches/0180_AddProposalDownloadStatusAction.sql
  apps/backend/src/datasources/FileDataSource.ts
  apps/backend/src/datasources/mockups/FileDataSource.ts
  apps/backend/src/datasources/postgres/FileDataSource.ts
  apps/backend/src/models/StatusAction.ts
  apps/backend/src/mutations/WorkflowMutations.ts
  apps/backend/src/resolvers/types/StatusAction.ts
  apps/backend/src/statusActionEngine/index.ts
  apps/backend/src/statusActionEngine/proposalDownloadActionHandler.ts
  apps/frontend/src/components/settings/workflow/AddStatusActionsToConnection.tsx
Due: npm run lint:frontend, npm run lint:backend

git fix checkbox
  apps/frontend/src/components/instrument/CreateUpdateInstrument.tsx
Due: npm run lint:frontend
