Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

remove disabling of linting rule
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Add e2e function for prop to tech
  apps/backend/src/mutations/TechniqueMutations.ts
  apps/backend/src/resolvers/mutations/AssignProposalToTechniquesMutation.ts
  apps/e2e/cypress/support/technique.ts
  apps/e2e/cypress/types/technique.d.ts
  apps/frontend/src/graphql/technique/assignProposalToTechniques.graphql
Due: npm run lint:e2e, npm run lint:backend

Adding new fields to table
  apps/backend/src/datasources/TechniqueDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/mockups/TechniqueDataSource.ts
  apps/backend/src/datasources/postgres/TechniqueDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/ProposalView.ts
  apps/backend/src/queries/TechniqueQueries.ts
  apps/backend/src/resolvers/types/Proposal.ts
  apps/backend/src/resolvers/types/ProposalView.ts
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/graphql/proposal/getProposal.graphql
  apps/frontend/src/graphql/proposal/getTechniqueScientistProposals.graphql
  apps/frontend/src/utils/helperFunctions.tsx
Due: npm run lint:frontend, npm run lint:backend

Fix table sorting
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

Addition and fetch of submittedDate field
  apps/backend/db_patches/0161_AddSubmittedDateToProposals.sql
  apps/backend/db_patches/0162_AddSubmittedDateToProposalTableView.sql
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/Proposal.ts
  apps/backend/src/models/ProposalView.ts
  apps/backend/src/mutations/ProposalMutations.ts
  apps/backend/src/resolvers/types/ProposalView.ts
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/graphql/proposal/getTechniqueScientistProposals.graphql
  apps/frontend/src/utils/helperFunctions.tsx
Due: npm run lint:frontend, npm run lint:backend

Initial techniques loading
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/backend/src/resolvers/types/ProposalView.ts
  apps/e2e/cypress/e2e/xpress.cy.ts
  apps/frontend/src/graphql/proposal/getProposal.graphql
  apps/frontend/src/utils/helperFunctions.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Fix date filter error
  apps/frontend/src/components/common/proposalFilters/DateFilter.tsx
Due: npm run lint:frontend

Fix instrument test
  apps/e2e/cypress/e2e/instruments.cy.ts
Due: npm run lint:e2e

Reverting assigning of Instrument
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/frontend/src/components/xpress/AssignProposalsToInstruments.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/components/xpress/useInstrumentsByTechnique.ts
  apps/frontend/src/graphql/technique/getTechniquesById.graphql
  apps/frontend/src/hooks/technique/useInstrumentsByTechnique.ts
Due: npm run lint:frontend, npm run lint:backend

Correction
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

fetch query fix
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

Assign instrument initial commit
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/frontend/src/components/common/proposalFilters/DateFilter.tsx
  apps/frontend/src/components/menu/MenuItems.tsx
  apps/frontend/src/components/xpress/AssignProposalsToInstruments.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/components/xpress/useInstrumentsByTechnique.ts
  apps/frontend/src/graphql/technique/getTechniquesById.graphql
  apps/frontend/src/hooks/technique/useInstrumentsByTechnique.ts
Due: npm run lint:frontend, npm run lint:backend

URL query params WIP
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

remove using url query params
  apps/frontend/src/components/common/proposalFilters/DateFilter.tsx
  apps/frontend/src/components/common/proposalFilters/TechniqueFilter.tsx
  apps/frontend/src/components/xpress/XpressProposalFilterBar.tsx
Due: npm run lint:frontend

Instrument filter backend
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/frontend/src/components/xpress/XpressProposalFilterBar.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/components/xpress/useProposalsCoreData.ts
Due: npm run lint:frontend, npm run lint:backend

Date filter implementation
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/backend/src/resolvers/queries/ProposalsQuery.ts
  apps/frontend/src/components/common/proposalFilters/DateFilter.tsx
  apps/frontend/src/components/xpress/XpressProposalFilterBar.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/components/xpress/useProposalsCoreData.ts
Due: npm run lint:frontend, npm run lint:backend

Instrument filter frontend
  apps/e2e/cypress/support/technique.ts
  apps/frontend/src/components/xpress/XpressProposalFilterBar.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:e2e, npm run lint:frontend

Fix date filter
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/frontend/src/components/common/proposalFilters/DateFilter.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend, npm run lint:backend

Remove redundant check
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

remove using url query params
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

review comment fix
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Fix e2e tests
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

Hide ALL query param
  apps/frontend/src/components/common/proposalFilters/DateFilter.tsx
  apps/frontend/src/components/common/proposalFilters/InstrumentFilter.tsx
  apps/frontend/src/components/common/proposalFilters/ProposalStatusFilter.tsx
  apps/frontend/src/components/common/proposalFilters/TechniqueFilter.tsx
Due: npm run lint:frontend

E2e basic tests
  apps/e2e/cypress/e2e/xpress.cy.ts
  apps/e2e/cypress/support/technique.ts
  apps/e2e/cypress/types/technique.d.ts
Due: npm run lint:e2e

Fetching instruments correction
  apps/backend/src/queries/InstrumentQueries.ts
  apps/backend/src/queries/TechniqueQueries.ts
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/components/xpress/useXpressInstrumentsData.ts
  apps/frontend/src/graphql/proposal/getTechniqueScientistProposals.graphql
Due: npm run lint:frontend, npm run lint:backend

minor fixes
  apps/e2e/cypress/e2e/xpress.cy.ts
  apps/frontend/src/components/common/proposalFilters/DateFilter.tsx
Due: npm run lint:e2e, npm run lint:frontend

Add proposal status filter
  apps/frontend/src/components/xpress/XpressProposalFilterBar.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Fix submitted date sorting
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

Disable sorting for technique, instrument
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Filtering expired proposals for scientist
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/e2e/cypress/e2e/xpress.cy.ts
  apps/e2e/cypress/support/initialDBData.ts
  apps/frontend/src/components/menu/MenuItems.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/components/xpress/useProposalsCoreData.ts
  apps/frontend/src/hooks/technique/useTechniquesData.ts
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

e2e tests
  apps/backend/src/datasources/ProposalDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/backend/src/eventHandlers/customHandler.ts
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e, npm run lint:backend

Continue advanced e2e tests
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

basic tests continuation
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e, npm run lint:backend

Filtering the instruments
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/components/xpress/useXpressInstrumentsData.ts
Due: npm run lint:frontend

Fetch proposals initial commit
  apps/backend/db_patches/0163_AddTechniqueHasScientists.sql
  apps/backend/db_patches/0163_AddTechniquePickerDataType.sql
  apps/backend/src/datasources/ProposalDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/backend/src/queries/ProposalQueries.ts
  apps/backend/src/resolvers/queries/ProposalsQuery.ts
  apps/backend/src/resolvers/queries/ProposalsViewQuery.ts
  apps/frontend/src/components/common/proposalFilters/TechniqueFilter.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/components/xpress/useProposalsCoreData.ts
  apps/frontend/src/graphql/proposal/getTechniqueScientistProposals.graphql
Due: npm run lint:frontend, npm run lint:backend

fix pagination
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Fix URL query params
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/components/xpress/useProposalsCoreData.ts
Due: npm run lint:frontend

Add variables
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

Fix fetching instruments
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/components/xpress/useXpressInstrumentsData.ts
Due: npm run lint:frontend

Path conditions:
  npm run lint:e2e: any of: apps/e2e/**/*.{js,ts,jsx,tsx}
  npm run lint:frontend: any of: apps/frontend/**/*.{js,ts,jsx,tsx}
  npm run lint:backend: any of: apps/backend/**/*.{js,ts,jsx,tsx}
