Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

.lintstagedrc.json:

{
  "apps/e2e/**/*.{js,ts,jsx,tsx}": ["npm run lint:e2e"],
  "apps/frontend/**/*.{js,ts,jsx,tsx}": ["npm run lint:frontend"],
  "apps/backend/**/*.{js,ts,jsx,tsx}": ["npm run lint:backend"]
}

Removedundici from package lock
  apps/backend/package-lock.json
Due: none

Undoing changes in package json and package lock json.
  apps/backend/package-lock.json
  apps/backend/package.json
Due: none

Small fixes
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/Settings.ts
Due: npm run lint:backend

fix: update fap proposal count to only include proposals currently in fap review (#689)
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/resolvers/mutations/UpdateCallMutation.ts
  apps/backend/src/resolvers/types/Fap.ts
  apps/backend/src/resolvers/types/FapReviewers.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/frontend/src/components/fap/FapsTable.tsx
  apps/frontend/src/graphql/call/updateCall.graphql
  apps/frontend/src/graphql/fap/fragment.fap.graphql
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Removing response check as it will always be true
  apps/backend/src/services/assetRegistrar/eam/api/createContainer.ts
Due: npm run lint:backend

Fix lint issue 2
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

Fix lint isssue 3
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

Correct filename
  apps/backend/db_patches/0161_AddTechniquePickerDataType.sql
Due: none

Add filtering for postgres db
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

feat: allow assignment of user to techniques (#652)
  apps/backend/db_patches/0158_AddTechniqueHasScientists.sql
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/datasources/TechniqueDataSource.ts
  apps/backend/src/datasources/mockups/TechniqueDataSource.ts
  apps/backend/src/datasources/postgres/TechniqueDataSource.ts
  apps/backend/src/datasources/stfc/StfcTechniqueDataSource.ts
  apps/backend/src/mutations/TechniqueMutations.ts
  apps/backend/src/resolvers/mutations/AssignScientistsToTechnique.ts
  apps/backend/src/resolvers/types/Technique.ts
  apps/e2e/cypress/e2e/techniques.cy.ts
  apps/e2e/cypress/support/technique.ts
  apps/e2e/cypress/types/technique.d.ts
  apps/frontend/src/components/technique/AssignInstrumentsToTechniques.tsx
  apps/frontend/src/components/technique/AssignedInstrumentsTable.tsx
  apps/frontend/src/components/technique/AssignedScientistsTable.tsx
  apps/frontend/src/components/technique/TechniqueTable.tsx
  apps/frontend/src/graphql/technique/assignScientistsToTechnique.graphql
  apps/frontend/src/graphql/technique/removeScientistFromTechnique.graphql
  apps/frontend/src/graphql/technique/technique.fragment.graphql
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

doc: user guide info
  documentation/docs/assets/images/ess.png
  documentation/docs/assets/images/stfc.png
  documentation/docs/assets/images/uo_logo.png
  documentation/docs/glossary.md
  documentation/docs/index.md
  documentation/docs/user-guide/user-officer/creating_call.md
  documentation/docs/user-guide/user-officer/editing_call.md
  documentation/docs/user-guide/user-officer/fap.md
  documentation/docs/user-guide/user-officer/features.md
  documentation/docs/user-guide/user-officer/page.md
  documentation/docs/user-guide/user-officer/placeholder.md
  documentation/docs/user-guide/user-officer/templates/feedback_template.md
  documentation/docs/user-guide/user-officer/templates/pdf_template.md
  documentation/docs/user-guide/user-officer/templates/question_template.md
  documentation/docs/user-guide/user-officer/templates/templates.md
  documentation/docs/user-guide/user-officer/templates/visit_template.md
  documentation/docs/user-guide/user-officer/user-officer.md
  documentation/docs/user-guide/user-officer/videos.md
  documentation/mkdocs.yml
Due: none

fix: make chair and sec proposal count more visible and update to use current count
  apps/backend/src/resolvers/types/Fap.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/frontend/src/components/fap/Members/FapMembers.tsx
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/graphql/fap/fragment.fap.graphql
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

get the reviewer user id from graphql response
  apps/frontend/src/graphql/review/userWithReviews.graphql
Due: none

Added a new reviewer filter and code changes to allow a reviewer view other proposals
  apps/frontend/src/components/review/ProposalTableReviewer.tsx
Due: npm run lint:frontend

Code changes to handle the scenario where reviewer should not be able to grade a proposal where he is not a reviewer
  apps/frontend/src/components/review/ProposalGrade.tsx
Due: npm run lint:frontend

setting read rights to true if reviewer is member of the fap
  apps/backend/src/auth/ReviewAuthorization.ts
Due: npm run lint:backend

fix chair endpoint fetch sec counts
  apps/backend/src/resolvers/types/Fap.ts
Due: npm run lint:backend

Run technique tests
  .github/workflows/test-build.yml
Due: none

fix tests
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/generalFaps.cy.ts
Due: npm run lint:e2e

Add technique e2e test
  .github/workflows/test-build.yml
Due: none

Fix techniques tests
  apps/e2e/cypress/e2e/techniques.cy.ts
Due: npm run lint:e2e

Revert "Add technique e2e test"
  .github/workflows/test-build.yml
Due: none

sidebar menu selection optimised and fixed.
  apps/frontend/src/components/menu/MenuItems.tsx
  apps/frontend/src/components/menu/SettingsMenuListItem.tsx
  apps/frontend/src/components/menu/TemplateMenuListItem.tsx
  apps/frontend/src/index.css
Due: npm run lint:frontend

Fix linter issue 4
  apps/backend/src/datasources/postgres/ProposalDataSource.test.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

Fix assignment tests
  apps/e2e/cypress/e2e/techniques.cy.ts
Due: npm run lint:e2e

Fix linter issue 5
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

e2e test added.
  apps/e2e/cypress/e2e/dashboard.cy.ts
Due: npm run lint:e2e

await for the workflowEngine
  apps/backend/src/workflowEngine/index.ts
Due: npm run lint:backend

e2e test optimisation
  apps/e2e/cypress/e2e/dashboard.cy.ts
Due: npm run lint:e2e

docs: improve user guide info (#700)
  documentation/docs/assets/images/ess.png
  documentation/docs/assets/images/stfc.png
  documentation/docs/assets/images/templates.png
  documentation/docs/assets/images/uo_logo.png
  documentation/docs/glossary.md
  documentation/docs/index.md
  documentation/docs/user-guide/user-officer/creating_call.md
  documentation/docs/user-guide/user-officer/editing_call.md
  documentation/docs/user-guide/user-officer/fap.md
  documentation/docs/user-guide/user-officer/features.md
  documentation/docs/user-guide/user-officer/page.md
  documentation/docs/user-guide/user-officer/placeholder.md
  documentation/docs/user-guide/user-officer/templates/feedback_template.md
  documentation/docs/user-guide/user-officer/templates/pdf_template.md
  documentation/docs/user-guide/user-officer/templates/question_template.md
  documentation/docs/user-guide/user-officer/templates/templates.md
  documentation/docs/user-guide/user-officer/templates/visit_template.md
  documentation/docs/user-guide/user-officer/user-officer.md
  documentation/docs/user-guide/user-officer/videos.md
  documentation/mkdocs.yml
Due: none

doc: user officer pages
  documentation/docs/assets/images/create_sub_template.png
  documentation/docs/assets/images/create_visit.png
  documentation/docs/assets/images/declare_shipment.png
  documentation/docs/assets/images/define_visit.png
  documentation/docs/assets/images/general_workflow.png
  documentation/docs/assets/images/rapid_workflow.png
  documentation/docs/assets/images/shipment_declaration.png
  documentation/docs/user-guide/user-officer/creating_call.md
  documentation/docs/user-guide/user-officer/proposal_workflow.md
  documentation/docs/user-guide/user-officer/templates/feedback_template.md
  documentation/docs/user-guide/user-officer/templates/pdf_template.md
  documentation/docs/user-guide/user-officer/templates/proposal_template.md
  documentation/docs/user-guide/user-officer/templates/templates.md
Due: none

feat: add fap document store (#696)
  apps/backend/db_patches/0160_AddFilesToFapPanel.sql
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/Fap.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/backend/src/resolvers/mutations/UpdateFapMutation.ts
  apps/backend/src/resolvers/types/Fap.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/generalFaps.cy.ts
  apps/frontend/src/components/common/DownloadableFileList.tsx
  apps/frontend/src/components/common/FileUploadComponent.tsx
  apps/frontend/src/components/fap/FapPage.tsx
  apps/frontend/src/components/fap/Files/FapFilesUpload.tsx
  apps/frontend/src/components/fap/Files/FapFilesView.tsx
  apps/frontend/src/components/questionary/questionaryComponents/FileUpload/FilesAnswerRenderer.tsx
  apps/frontend/src/graphql/fap/fragment.fap.graphql
  apps/frontend/src/graphql/fap/updateFap.graphql
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

try to fix failing e2e tests
  apps/e2e/cypress/e2e/generalFaps.cy.ts
  apps/e2e/cypress/e2e/settings.cy.ts
Due: npm run lint:e2e

Techniques test fix
  apps/e2e/cypress/e2e/techniques.cy.ts
Due: npm run lint:e2e

docs: user officer pages (#705)
  documentation/docs/assets/images/create_sub_template.png
  documentation/docs/assets/images/create_visit.png
  documentation/docs/assets/images/declare_shipment.png
  documentation/docs/assets/images/define_visit.png
  documentation/docs/assets/images/general_workflow.png
  documentation/docs/assets/images/rapid_workflow.png
  documentation/docs/assets/images/shipment_declaration.png
  documentation/docs/user-guide/user-officer/creating_call.md
  documentation/docs/user-guide/user-officer/proposal_workflow.md
  documentation/docs/user-guide/user-officer/templates/feedback_template.md
  documentation/docs/user-guide/user-officer/templates/pdf_template.md
  documentation/docs/user-guide/user-officer/templates/proposal_template.md
  documentation/docs/user-guide/user-officer/templates/templates.md
Due: none

fix total count on static data being wrong
  apps/frontend/src/components/user/PeopleTable.tsx
Due: npm run lint:frontend

feat: make optional tech reviews setting (#693)
  apps/backend/db_patches/0160_OptionalTechReviewsSetting.sql
  apps/backend/src/config/stfc/configureSTFCEnvironment.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/models/Settings.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/instruments.cy.ts
  apps/e2e/cypress/e2e/internalReviews.cy.ts
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/e2e/cypress/e2e/settings.cy.ts
Due: npm run lint:e2e, npm run lint:backend

docs: user officer
  documentation/docs/assets/images/cookie_page.png
  documentation/docs/assets/images/faq_edit.png
  documentation/docs/assets/images/faq_notice.png
  documentation/docs/assets/images/faq_page.png
  documentation/docs/assets/images/feedback.png
  documentation/docs/assets/images/feedbacks_number.png
  documentation/docs/assets/images/privacy_edit.png
  documentation/docs/assets/images/privacy_page.png
  documentation/docs/assets/images/reviewer_edit.png
  documentation/docs/assets/images/reviewer_page.png
  documentation/docs/assets/images/user_homepage.png
  documentation/docs/assets/images/user_homepage_edit.png
  documentation/docs/faq.md
  documentation/docs/glossary.md
  documentation/docs/user-guide/user-officer/page.md
  documentation/docs/user-guide/user-officer/templates/feedback_template.md
  documentation/docs/user-guide/user-officer/templates/sub_template.md
Due: none

feat: double-check if proposal workflow needs to be run multiple times and do some UI improvements (#697)
  apps/backend/src/workflowEngine/index.ts
  apps/e2e/cypress/e2e/generalFaps.cy.ts
  apps/e2e/cypress/e2e/instruments.cy.ts
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
  apps/e2e/cypress/e2e/settings.cy.ts
  apps/e2e/cypress/e2e/units.cy.ts
  apps/e2e/cypress/support/utils.ts
  apps/frontend/src/components/proposal/ProposalFilterBar.tsx
  apps/frontend/src/styles/StyledComponents.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

update how we log status actions in the backend
  apps/backend/db_patches/0160_AddStatusActionsLogsTables.sql
  apps/backend/src/datasources/StatusActionsLogsDataSource.ts
  apps/backend/src/datasources/mockups/StatusActionsLogsDataSource.ts
  apps/backend/src/datasources/postgres/StatusActionsLogsDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/StatusActionsLog.ts
  apps/backend/src/mutations/StatusActionsLogsMutations.ts
  apps/backend/src/queries/StatusActionsLogsQueries.spec.ts
  apps/backend/src/queries/StatusActionsLogsQueries.ts
  apps/backend/src/resolvers/queries/StatusActionsLogsQuery.ts
  apps/backend/src/resolvers/types/StatusActionsLog.ts
  apps/backend/src/statusActionEngine/emailActionHandler.ts
  apps/backend/src/statusActionEngine/statusActionUtils.ts
Due: npm run lint:backend
