Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

.lintstagedrc.json:

{
  "apps/e2e/**/*.{js,ts,jsx,tsx}": ["npm run lint:e2e"],
  "apps/frontend/**/*.{js,ts,jsx,tsx}": ["npm run lint:frontend"],
  "apps/backend/**/*.{js,ts,jsx,tsx}": ["npm run lint:backend"]
}

update test
  apps/backend/src/auth/ProposalAuthorization.spec.ts
Due: npm run lint:backend

feat: send instrument selection events to RabbitMQ (#889)
  apps/backend/src/eventHandlers/messageBroker.ts
Due: npm run lint:backend

Fix duplicate instruments showing
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

move all roles in switch statement
  apps/backend/src/auth/ProposalAuthorization.ts
Due: npm run lint:backend

Add database structures
  apps/backend/db_patches/0166_CreateRedeemCodes.sql
  apps/backend/db_patches/0167_CreateInviteCodes.sql
Due: none

Removing show invite buttons param and move buttons outside
  apps/frontend/src/components/user/PeoplePage.tsx
  apps/frontend/src/components/user/PeopleTable.tsx
Due: npm run lint:frontend

Add invite by email form
  apps/frontend/src/components/user/InviteByEmailForm.tsx
Due: npm run lint:frontend

Adding invite code
  apps/backend/src/buildContext.ts
  apps/backend/src/config/Tokens.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/context/index.ts
  apps/backend/src/datasources/postgres/InviteCodesDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/InviteCode.ts
  apps/backend/src/mutations/InviteMutations.ts
  apps/backend/src/resolvers/mutations/CreateInviteMutation.ts
  apps/backend/src/resolvers/types/Invite.ts
  apps/frontend/src/graphql/invite/createInvite.graphql
  apps/frontend/src/graphql/invite/fragment.inviteCode.graphql
Due: npm run lint:backend

Update apps/backend/src/auth/ProposalAuthorization.ts
  apps/backend/src/auth/ProposalAuthorization.ts
Due: npm run lint:backend

perf: cache raw stfc rolls call
  apps/backend/src/auth/StfcUserAuthorization.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
Due: npm run lint:backend

fix test
  apps/backend/src/auth/ProposalAuthorization.spec.ts
Due: npm run lint:backend

fix test
  apps/backend/src/datasources/mockups/UserDataSource.ts
Due: npm run lint:backend

Update variables and namings
  apps/backend/src/eventHandlers/MailService/SMTPMailService.ts
  apps/backend/src/statusActionEngine/statusActionUtils.ts
Due: npm run lint:backend

Add RoleInvite data source and related models
  apps/backend/src/config/Tokens.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/datasources/InviteCodeDataSource.ts
  apps/backend/src/datasources/RoleInviteDataSource.ts
  apps/backend/src/datasources/postgres/RoleInviteDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/RoleInvite.ts
Due: npm run lint:backend

Add accept invite mutation and implementation
  apps/backend/src/mutations/InviteMutations.ts
  apps/backend/src/resolvers/mutations/AcceptInviteMutation.ts
Due: npm run lint:backend

Adding Update Ivite resolver and mutation
  apps/backend/src/datasources/InviteCodeDataSource.ts
  apps/backend/src/datasources/postgres/InviteCodesDataSource.ts
  apps/backend/src/mutations/InviteMutations.ts
  apps/backend/src/resolvers/mutations/UpdateInviteMutation.ts
Due: npm run lint:backend

Finishing update invite mutation
  apps/backend/src/datasources/postgres/InviteCodesDataSource.ts
  apps/backend/src/resolvers/mutations/UpdateInviteMutation.ts
Due: npm run lint:backend

Imlementing replacing roles on udpate
  apps/backend/src/datasources/RoleInviteDataSource.ts
  apps/backend/src/datasources/postgres/RoleInviteDataSource.ts
  apps/backend/src/mutations/InviteMutations.ts
Due: npm run lint:backend

Enhance Invite Code and Role Invite handling with nullable fields and improved update logic
  apps/backend/src/datasources/InviteCodeDataSource.ts
  apps/backend/src/datasources/postgres/InviteCodesDataSource.ts
  apps/backend/src/models/RoleInvite.ts
  apps/backend/src/mutations/InviteMutations.ts
  apps/backend/src/resolvers/mutations/AcceptInviteMutation.ts
  apps/backend/src/resolvers/mutations/UpdateInviteMutation.ts
Due: npm run lint:backend

Adding frontend Graphql
  apps/frontend/src/graphql/invite/acceptInvite.graphql
Due: none

fix tests
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/e2e/cypress/e2e/scheduler.cy.ts
Due: npm run lint:e2e, npm run lint:backend

Hide expired props from scientists
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Remove unnecessary data
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/graphql/proposal/getTechniqueScientistProposals.graphql
Due: npm run lint:frontend

implement base frontend classes of technical review templates
  apps/frontend/src/components/AppRoutes.tsx
  apps/frontend/src/components/call/CreateUpdateCall.tsx
  apps/frontend/src/components/menu/TemplateMenuListItem.tsx
  apps/frontend/src/components/questionary/QuestionaryComponentRegistry.tsx
  apps/frontend/src/components/questionary/questionaries/technicalReview/TechnicalReviewQuestionaryDefinition.ts
  apps/frontend/src/components/questionary/questionaries/technicalReview/TechnicalReviewQuestionaryWizardStep.ts
  apps/frontend/src/components/questionary/questionaryComponents/TechnicalReviewBasis/QuestionTechnicalReviewBasisForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/TechnicalReviewBasis/QuestionTemplateRelationTechnicalReviewBasisForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/TechnicalReviewBasis/QuestionaryComponentTechnicalReviewBasis.tsx
  apps/frontend/src/components/questionary/questionaryComponents/TechnicalReviewBasis/TechnicalReviewBasisDefinition.tsx
  apps/frontend/src/components/questionary/questionaryComponents/TechnicalReviewBasis/createTechnicalReviewBasisValidationSchema.ts
  apps/frontend/src/components/review/TechnicalReviewQuestionary.tsx
  apps/frontend/src/components/review/TechnicalReviewQuestionaryDetails.tsx
  apps/frontend/src/components/review/TechnicalReviewQuestionaryReview.tsx
  apps/frontend/src/components/review/TechnicalReviewSummary.tsx
  apps/frontend/src/models/questionary/technicalReview/TechnicalReviewSubmissionState.tsx
  apps/frontend/src/models/questionary/technicalReview/TechnicalReviewWithQuestionary.ts
Due: npm run lint:frontend

grammar updates
  apps/backend/src/auth/ProposalAuthorization.spec.ts
  apps/backend/src/auth/ProposalAuthorization.ts
Due: npm run lint:backend

fix patch name
  apps/backend/db_patches/0166_UpdateWhichCommentOnReviewProposalView.sql
Due: none

feat: Adding Invites
  apps/backend/db_patches/0167_CreateInviteCodes.sql
  apps/backend/src/buildContext.ts
  apps/backend/src/config/Tokens.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/context/index.ts
  apps/backend/src/datasources/InviteCodeDataSource.ts
  apps/backend/src/datasources/RoleInviteDataSource.ts
  apps/backend/src/datasources/postgres/InviteCodesDataSource.ts
  apps/backend/src/datasources/postgres/RoleInviteDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/InviteCode.ts
  apps/backend/src/models/RoleInvite.ts
  apps/backend/src/mutations/InviteMutations.ts
  apps/backend/src/resolvers/mutations/AcceptInviteMutation.ts
  apps/backend/src/resolvers/mutations/CreateInviteMutation.ts
  apps/backend/src/resolvers/mutations/UpdateInviteMutation.ts
  apps/backend/src/resolvers/types/Invite.ts
Due: npm run lint:backend

fix grammar
  apps/backend/src/auth/ProposalAuthorization.spec.ts
Due: npm run lint:backend

paginate fap proposals first pass
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/queries/FapQueries.ts
  apps/backend/src/resolvers/queries/FapQuery.ts
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/graphql/fap/getFapProposals.graphql
  apps/frontend/src/hooks/fap/useFapProposalsData.ts
Due: npm run lint:frontend, npm run lint:backend

update cache names and remove unneeded type casts
  apps/backend/src/auth/StfcUserAuthorization.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
Due: npm run lint:backend

change agent to userId
  apps/backend/src/datasources/GenericTemplateDataSource.ts
  apps/backend/src/datasources/mockups/GenericTemplateDataSource.ts
  apps/backend/src/datasources/postgres/GenericTemplateDataSource.ts
Due: npm run lint:backend

missed pagination
  apps/backend/src/datasources/postgres/FapDataSource.ts
Due: npm run lint:backend

Adding tests
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/datasources/InviteCodeDataSource.ts
  apps/backend/src/datasources/mockups/InviteCodesDataSource.ts
  apps/backend/src/datasources/mockups/RoleInviteDataSource.ts
  apps/backend/src/datasources/postgres/InviteCodesDataSource.ts
  apps/backend/src/mutations/InviteMutations.spec.ts
Due: npm run lint:backend

feat: Add InviteCodes and RoleInvite data sources to dependency configurations
  apps/backend/src/config/dependencyConfigDefault.ts
  apps/backend/src/config/dependencyConfigELI.ts
  apps/backend/src/config/dependencyConfigSTFC.ts
Due: npm run lint:backend

e2e mappings
  apps/backend/src/config/dependencyConfigE2E.ts
Due: npm run lint:backend

Add e2e for expired proposals
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

Add e2e for expired in filter
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

refactor: make proposal auth more efficient (#877)
  apps/backend/src/auth/EsiAuthorization.ts
  apps/backend/src/auth/GenericTemplateAuthorization.ts
  apps/backend/src/auth/ProposalAuthorization.spec.ts
  apps/backend/src/auth/ProposalAuthorization.ts
  apps/backend/src/auth/ReviewAuthorization.ts
  apps/backend/src/auth/SampleAuthorization.ts
  apps/backend/src/auth/ShipmentAuthorization.ts
  apps/backend/src/auth/StfcProposalAuthorization.ts
  apps/backend/src/auth/TechnicalReviewAuthorization.ts
  apps/backend/src/auth/VisitAuthorization.ts
  apps/backend/src/auth/questionary/GenericTemplateQuestionaryAuthorizer.ts
  apps/backend/src/auth/questionary/ProposalQuestionaryAuthorizer.ts
  apps/backend/src/auth/questionary/SampleDeclarationQuestionaryAuthorizer.ts
  apps/backend/src/auth/questionary/ShipmentDeclarationQuestionaryAuthorizer.ts
  apps/backend/src/config/Tokens.ts
  apps/backend/src/config/dependencyConfigDefault.ts
  apps/backend/src/config/dependencyConfigE2E.ts
  apps/backend/src/config/dependencyConfigELI.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/datasources/mockups/InternalReviewDataSource.ts
  apps/backend/src/datasources/mockups/UserDataSource.ts
  apps/backend/src/datasources/mockups/VisitDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/backend/src/mutations/GenericTemplateMutations.ts
  apps/backend/src/mutations/ProposalEsiMutations.ts
  apps/backend/src/mutations/ProposalMutations.ts
  apps/backend/src/mutations/SampleMutations.ts
  apps/backend/src/mutations/ShipmentMutations.ts
  apps/backend/src/mutations/VisitMutations.ts
  apps/backend/src/queries/ProposalQueries.ts
  apps/backend/src/queries/ReviewQueries.ts
  apps/backend/src/resolvers/types/GenericTemplate.ts
  apps/backend/src/resolvers/types/Questionary.ts
  apps/e2e/cypress/e2e/scheduler.cy.ts
Due: npm run lint:e2e, npm run lint:backend

feat: Ensure invite code uniqueness in database schema
  apps/backend/db_patches/0167_CreateInviteCodes.sql
Due: none
