Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

chore: limit open PRs from dependabot to avoid reaching job runners limit
  .github/dependabot.yml
Due: none

Checking the table and confirming if the instrument is assigned.
  apps/user-office-frontend-e2e/cypress/e2e/proposals.cy.ts
Due: none

uncommenting
  apps/user-office-frontend-e2e/cypress/e2e/proposals.cy.ts
Due: none

test case of automatic assignment of isntrument to a proposal done.
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

feat: material-table space usage and styling improvements
  apps/frontend/src/components/call/AssignInstrumentsToCall.tsx
  apps/frontend/src/components/call/AssignedInstrumentsTable.tsx
  apps/frontend/src/components/call/CallsTable.tsx
  apps/frontend/src/components/institution/InstitutionTable.tsx
  apps/frontend/src/components/instrument/InstrumentTable.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/utils/helperFunctions.tsx
Due: npm run lint:frontend

refactor(status actions): move status actions to its own datasource file
  apps/backend/src/config/Tokens.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/datasources/ProposalSettingsDataSource.ts
  apps/backend/src/datasources/StatusActionsDataSource.ts
  apps/backend/src/datasources/mockups/ProposalSettingsDataSource.ts
  apps/backend/src/datasources/mockups/StatusActionsDataSource.ts
  apps/backend/src/datasources/postgres/StatusActionsDataSource.ts
  apps/backend/src/mutations/ProposalSettingsMutations.ts
  apps/backend/src/queries/ProposalSettingsQueries.spec.ts
  apps/backend/src/queries/ProposalSettingsQueries.ts
  apps/backend/src/statusActionEngine/emailActionHandler.ts
  apps/backend/src/statusActionEngine/index.ts
Due: npm run lint:backend

Changes to show preferred name if the user has one
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/frontend/src/components/instrument/AssignedScientistsTable.tsx
  apps/frontend/src/components/proposal/ProposalParticipant.tsx
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/hooks/user/useUserData.ts
  apps/frontend/src/utils/user.ts
Due: npm run lint:frontend, npm run lint:backend

Build error fixes
  apps/frontend/src/components/proposal/ProposalParticipant.tsx
  apps/frontend/src/components/proposal/ProposalParticipants.tsx
  apps/frontend/src/graphql/proposal/getProposal.graphql
Due: npm run lint:frontend

feat: add other option for recipients by typed email in email status action
  apps/backend/src/resolvers/types/ProposalStatusActionConfig.ts
  apps/backend/src/statusActionEngine/emailActionHandler.ts
  apps/backend/src/statusActionEngine/statusActionUtils.ts
  apps/backend/src/utils/helperFunctions.ts
  apps/frontend/src/components/settings/proposalWorkflow/EmailActionConfig.tsx
  apps/frontend/src/graphql/settings/statusActions/fragment.connectionStatusActionConfig.graphql
Due: npm run lint:frontend, npm run lint:backend

Assigning SEP to Proposal when assigning Instrument.
  apps/backend/src/datasources/postgres/InstrumentDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
Due: npm run lint:backend

Fixing build error.
  apps/backend/src/datasources/mockups/InstrumentDataSource.ts
Due: npm run lint:backend

Syncing with all assigned instruments after the assignment.
  apps/frontend/src/components/call/CallsTable.tsx
Due: npm run lint:frontend

Added validation and commented it. Will wait for the Validation repository to be update with the latest changes.
  apps/backend/src/mutations/CallMutations.ts
  apps/backend/src/resolvers/mutations/UpdateCallMutation.ts
Due: npm run lint:backend

Loading global SEPs instead of Call SEPs in the Proposal SEP assignment.
  apps/frontend/src/components/SEP/Proposals/AssignProposalsToSEP.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
Due: npm run lint:frontend

Removed unneeded data
  apps/frontend/src/components/SEP/Proposals/AssignSEPToCallInstruments.tsx
  apps/frontend/src/components/call/AssignedInstrumentsTable.tsx
Due: npm run lint:frontend

Design changes UI/UX, that involves backend changes and clearing of already done work, which is no longer needed.
  apps/backend/src/datasources/CallDataSource.ts
  apps/backend/src/datasources/mockups/CallDataSource.ts
  apps/backend/src/datasources/postgres/CallDataSource.ts
  apps/backend/src/mutations/CallMutations.ts
  apps/backend/src/resolvers/mutations/UpdateCallMutation.ts
  apps/frontend/src/components/call/AssignedInstrumentsTable.tsx
  apps/frontend/src/components/call/CallsTable.tsx
  apps/frontend/src/graphql/call/assignSEPToCallInstruments.graphql
  apps/frontend/src/graphql/call/removeSEPFromCallInstruments.graphql
  apps/frontend/src/graphql/call/updateSepToCallInstrument.graphql
Due: npm run lint:frontend, npm run lint:backend

SEP assignment on Instrument selection done. Showing SEP in Instrument table. SEP update pending.
  apps/backend/src/datasources/postgres/CallDataSource.ts
  apps/backend/src/mutations/CallMutations.ts
  apps/backend/src/resolvers/mutations/UpdateCallMutation.ts
  apps/backend/src/resolvers/types/Instrument.ts
  apps/frontend/src/components/call/AssignInstrumentsToCall.tsx
  apps/frontend/src/components/call/AssignedInstrumentsTable.tsx
  apps/frontend/src/components/call/CallsTable.tsx
  apps/frontend/src/graphql/call/assignInstrumentsToCall.graphql
  apps/frontend/src/graphql/call/fragment.call.graphql
Due: npm run lint:frontend, npm run lint:backend

Assigning SEPID to Call Instrument done.
  apps/backend/db_patches/0139_AddSEPIdToCallHasInstruments.sql
  apps/backend/src/datasources/CallDataSource.ts
  apps/backend/src/datasources/mockups/CallDataSource.ts
  apps/backend/src/datasources/postgres/CallDataSource.ts
  apps/backend/src/datasources/postgres/InstrumentDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/Instrument.ts
  apps/backend/src/mutations/CallMutations.ts
  apps/backend/src/resolvers/mutations/UpdateCallMutation.ts
  apps/backend/src/resolvers/types/Instrument.ts
  apps/frontend/src/components/SEP/Proposals/AssignSEPToCallInstruments.tsx
  apps/frontend/src/components/call/AssignedInstrumentsTable.tsx
  apps/frontend/src/graphql/call/assignSEPToCallInstruments.graphql
  apps/frontend/src/graphql/call/fragment.call.graphql
  apps/frontend/src/graphql/call/removeSEPFromCallInstruments.graphql
Due: npm run lint:frontend, npm run lint:backend

fix the check for production environment
  apps/backend/src/utils/helperFunctions.ts
Due: npm run lint:backend

test(e2e): refactor and add e2e tests for OTHER recipients in email action
  apps/backend/package.json
  apps/backend/src/resolvers/types/ProposalStatusActionConfig.ts
  apps/backend/src/statusActionEngine/emailActionHandler.ts
  apps/e2e/cypress/e2e/statusActions.cy.ts
  apps/frontend/src/components/settings/proposalWorkflow/EmailActionConfig.tsx
  apps/frontend/src/graphql/settings/statusActions/fragment.connectionStatusActionConfig.graphql
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

chore: auto merge dependabot PR workflow
  .github/dependabot.yml
  .github/workflows/auto-merge-dependabot.yml
Due: none

867 adds config for spreadsheet rows
  apps/backend/src/config/Tokens.ts
  apps/backend/src/config/dependencyConfigE2E.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/factory/xlsx/SEPDataColumns.ts
  apps/backend/src/factory/xlsx/StfcSEPDataColumns.ts
  apps/backend/src/factory/xlsx/sep.ts
  apps/backend/src/middlewares/factory/xlsx.ts
Due: npm run lint:backend

feat: configure RabbitMQ status action
  apps/backend/src/eventHandlers/messageBroker.ts
  apps/backend/src/queries/ProposalSettingsQueries.ts
  apps/backend/src/statusActionEngine/rabbitMQHandler.ts
  apps/frontend/src/components/settings/proposalWorkflow/AddStatusActionsToConnection.tsx
  apps/frontend/src/components/settings/proposalWorkflow/RabbitMQActionConfig.tsx
Due: npm run lint:frontend, npm run lint:backend

update validation
  apps/backend/package-lock.json
Due: none

update validation usage
  apps/backend/src/mutations/ProposalSettingsMutations.ts
Due: npm run lint:backend

refactor: improve rabbitMQ handler and fix some TODOs
  apps/backend/src/datasources/ProposalDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/eventHandlers/messageBroker.ts
  apps/backend/src/eventHandlers/proposalWorkflow.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/events/event.enum.ts
  apps/backend/src/models/Proposal.ts
  apps/backend/src/mutations/ProposalMutations.ts
  apps/backend/src/statusActionEngine/rabbitMQHandler.ts
  apps/frontend/src/components/settings/proposalWorkflow/AddStatusActionsToConnection.tsx
Due: npm run lint:frontend, npm run lint:backend

chore: limit open PRs from dependabot to avoid reaching job runners limit (#354)
  .github/dependabot.yml
Due: none

fix: include action/checkout
  .github/workflows/auto-merge-dependabot.yml
Due: none

fix: rebase automatically
  .github/dependabot.yml
Due: none

add e2e tests for rabbitmq action
  apps/e2e/cypress/e2e/statusActions.cy.ts
  apps/frontend/src/components/settings/proposalWorkflow/RabbitMQActionConfig.tsx
Due: npm run lint:e2e, npm run lint:frontend

test(e2e): add e2e tests for status actions feature (#318)
  apps/e2e/cypress/e2e/settings.cy.ts
  apps/e2e/cypress/e2e/statusActions.cy.ts
  apps/e2e/cypress/support/initialDBData.ts
  apps/e2e/cypress/support/workflow.ts
  apps/e2e/cypress/types/workflow.d.ts
  apps/frontend/src/components/settings/proposalWorkflow/AddStatusActionsToConnection.tsx
  apps/frontend/src/components/settings/proposalWorkflow/EmailActionConfig.tsx
  apps/frontend/src/components/settings/proposalWorkflow/StatusEventsAndActionsDialog.tsx
Due: npm run lint:e2e, npm run lint:frontend

fix: remove rebase-strategy
  .github/dependabot.yml
Due: none

Fixed the PR comment by enhancing the sep proposal assignment.
  apps/backend/src/datasources/postgres/InstrumentDataSource.ts
Due: npm run lint:backend

Removing unneeded code.
  apps/frontend/src/components/call/AssignInstrumentsToCall.tsx
Due: npm run lint:frontend

try to fix e2e tests for stfc config
  apps/backend/src/eventHandlers/MailService/MailService.ts
  apps/backend/src/eventHandlers/MailService/SMTPMailService.ts
Due: npm run lint:backend

Path conditions:
  npm run lint:e2e: any of: apps/e2e/**/*.{js,ts,jsx,tsx}
  npm run lint:frontend: any of: apps/frontend/**/*.{js,ts,jsx,tsx}
  npm run lint:backend: any of: apps/backend/**/*.{js,ts,jsx,tsx}
