Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

.lintstagedrc.json:

{
  "apps/e2e/**/*.{js,ts,jsx,tsx}": ["npm run lint:e2e"],
  "apps/frontend/**/*.{js,ts,jsx,tsx}": ["npm run lint:frontend"],
  "apps/backend/**/*.{js,ts,jsx,tsx}": ["npm run lint:backend"]
}

feat: add call information in email sending data (#465)
  apps/backend/src/eventHandlers/email/essEmailHandler.ts
  apps/backend/src/workflowEngine/index.ts
Due: npm run lint:backend

fix all linting issues related with having multiple instrumets per proposal
  apps/backend/src/datasources/mockups/InstrumentDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/mockups/ReviewDataSource.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/eventHandlers/messageBroker.ts
  apps/backend/src/factory/pdf/shipmentLabel.ts
  apps/backend/src/factory/xlsx/fap.ts
  apps/backend/src/factory/xlsx/proposal.ts
  apps/backend/src/models/questionTypes/InstrumentPicker.ts
  apps/backend/src/mutations/InstrumentMutations.spec.ts
  apps/backend/src/mutations/InstrumentMutations.ts
  apps/backend/src/services/assetRegistrar/eam/api/createContainer.ts
  apps/backend/src/services/assetRegistrar/eam/requests/AddAssetEquipment.ts
  apps/backend/src/statusActionEngine/statusActionUtils.ts
  apps/frontend/src/components/fap/MeetingComponents/FapInstrumentProposalsTable.tsx
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/FapMeetingProposalViewModal.tsx
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/ProposalDetails.tsx
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/review/AssignTechnicalReview.tsx
  apps/frontend/src/components/review/ProposalReviewContent.tsx
  apps/frontend/src/components/review/ProposalTableReviewer.tsx
  apps/frontend/src/components/review/ProposalTechnicalReviewerAssignment.tsx
  apps/frontend/src/hooks/proposal/useProposalData.ts
  apps/frontend/src/hooks/proposalBooking/useProposalBookingsScheduledEvents.ts
Due: npm run lint:frontend, npm run lint:backend

fix: tests
  apps/backend/package.json
  apps/e2e/cypress/e2e/eventLogs.cy.ts
  apps/frontend/package.json
Due: npm run lint:e2e

chore(db_seeds): update column name in INSERT INTO statements in 0002_InstrumentScientiests.sql
  apps/backend/db_patches/db_seeds/0002_InstrumentScientiests.sql
  apps/backend/package-lock.json
Due: none

fix: missing lock
  apps/frontend/package-lock.json
Due: none

fix:flaky test
  apps/e2e/cypress/e2e/genericTemplates.cy.ts
Due: npm run lint:e2e

code refactoring
  apps/backend/src/loaders/UsersLoader.ts
Due: npm run lint:backend

Change user for test
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

changes to run test cases
  apps/backend/src/datasources/mockups/UserDataSource.ts
  apps/backend/src/datasources/postgres/UserDataSource.ts
Due: npm run lint:backend

changes to run integration test cases
  apps/backend/src/datasources/postgres/UserDataSource.ts
Due: npm run lint:backend

fix: e2e
  apps/backend/src/datasources/postgres/UserDataSource.ts
  apps/e2e/cypress/e2e/personalInformation.cy.ts
  apps/e2e/cypress/e2e/userAdministration.cy.ts
Due: npm run lint:e2e, npm run lint:backend

Add 25 min timeout to GitHub actions
  .github/workflows/test-build.yml
Due: none

Move timeout
  .github/workflows/test-build.yml
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

Remove timeout
  .github/workflows/test-build.yml
Due: none

using the user role argument in database query
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/frontend/src/components/instrument/CreateUpdateInstrument.tsx
Due: npm run lint:frontend, npm run lint:backend

fix: naming
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/userAdministration.cy.ts
Due: npm run lint:e2e

fix: column name
  apps/backend/src/datasources/postgres/UserDataSource.ts
Due: npm run lint:backend

fix: rename
  apps/backend/src/datasources/postgres/AdminDataSource.ts
Due: npm run lint:backend

Moved tests to different file
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/e2e/cypress/e2e/userAdministration.cy.ts
Due: npm run lint:e2e

fix: use dense material table instead of the wrapper function for columns and fix minor UI issues in the reviewer table filters
  apps/frontend/src/components/proposal/ProposalTable.tsx
  apps/frontend/src/components/review/ProposalTableReviewer.tsx
  apps/frontend/src/components/review/ReviewStatusFilter.tsx
Due: npm run lint:frontend

Change phone number format
  apps/e2e/cypress/e2e/userAdministration.cy.ts
Due: npm run lint:e2e

Add new field in import proposal graphql
  apps/backend/src/mutations/ProposalMutations.ts
  apps/backend/src/resolvers/mutations/ImportProposalMutation.ts
Due: npm run lint:backend

Removing unused import
  apps/backend/src/resolvers/mutations/ImportProposalMutation.ts
Due: npm run lint:backend

Adding new field to update proposal graphql
  apps/backend/src/mutations/ProposalMutations.ts
  apps/backend/src/resolvers/mutations/UpdateProposalMutation.ts
Due: npm run lint:backend

Test error changes
  apps/e2e/cypress/e2e/userAdministration.cy.ts
Due: npm run lint:e2e

Change preferredname in db
  apps/backend/db_patches/0000_init.sql
Due: none

Move first test
  apps/backend/db_patches/0000_init.sql
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/e2e/cypress/e2e/userAdministration.cy.ts
Due: npm run lint:e2e

Add created date field to query for proposal migration script (#470)
  apps/backend/src/mutations/ProposalMutations.ts
  apps/backend/src/resolvers/mutations/ImportProposalMutation.ts
  apps/backend/src/resolvers/mutations/UpdateProposalMutation.ts
Due: npm run lint:backend

function changes
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

fix proposals view query and UI for showing multiple technical reviews
  apps/backend/db_patches/0146_MultiInstrumentPerProposal.sql
  apps/frontend/src/components/review/ProposalReviewContent.tsx
  apps/frontend/src/utils/helperFunctions.tsx
Due: npm run lint:frontend

Change the constant value
  apps/backend/src/datasources/postgres/TemplateDataSource.ts
Due: npm run lint:backend

Fix import of main ISIS and CLF questionnaires into dev
  apps/backend/src/datasources/postgres/TemplateDataSource.ts
Due: npm run lint:backend

Correcting the logic
  apps/backend/src/datasources/postgres/TemplateDataSource.ts
Due: npm run lint:backend

Move test to userAdministration
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/e2e/cypress/e2e/userAdministration.cy.ts
Due: npm run lint:e2e

add some more events to support multiple instruments and technical reviews in the workflow
  apps/backend/db_patches/0146_MultiInstrumentPerProposal.sql
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/eventHandlers/customHandler.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/events/event.enum.ts
  apps/backend/src/mutations/InstrumentMutations.ts
  apps/backend/src/resolvers/mutations/UpdateTechnicalReviewAssigneeMutation.ts
  apps/backend/src/resolvers/types/TechnicalReview.ts
  apps/frontend/src/components/review/AssignTechnicalReview.tsx
  apps/frontend/src/graphql/review/assignTechnicalReviewToUser.graphql
Due: npm run lint:frontend, npm run lint:backend

Use preferred name once logged in
  apps/backend/src/auth/OAuthAuthorization.ts
Due: npm run lint:backend

Remove accidental change to OAuth
  apps/backend/src/auth/OAuthAuthorization.ts
Due: npm run lint:backend
