Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

.lintstagedrc.json:

{
  "apps/e2e/**/*.{js,ts,jsx,tsx}": ["npm run lint:e2e"],
  "apps/frontend/**/*.{js,ts,jsx,tsx}": ["npm run lint:frontend"],
  "apps/backend/**/*.{js,ts,jsx,tsx}": ["npm run lint:backend"]
}

update facilites feature flag use
  apps/frontend/src/components/menu/MenuItems.tsx
Due: npm run lint:frontend

Experiment Safety Workflow Integration done
  apps/backend/db_patches/0180_AddTemplateGroups.sql
  apps/backend/src/datasources/ProposalPdfTemplateDataSource.ts
  apps/backend/src/factory/pdf/experiment.ts
  apps/backend/src/models/Template.ts
  apps/backend/src/mutations/ExperimentSafetyPdfTemplateMutations.spec.ts
  apps/backend/src/mutations/ExperimentSafetyPdfTemplateMutations.ts
  apps/backend/src/mutations/ProposalPdfTemplateMutations.spec.ts
  apps/backend/src/mutations/ProposalPdfTemplateMutations.ts
  apps/backend/src/mutations/TemplateMutations.ts
  apps/e2e/cypress/e2e/pdfTemplates.cy.ts
  apps/e2e/cypress/e2e/templateDeleteAndArchive.cy.ts
  apps/frontend/src/components/call/CreateUpdateCall.tsx
  apps/frontend/src/components/template/CreateTemplate.tsx
  apps/frontend/src/components/template/TemplatesTable.tsx
  apps/frontend/src/components/template/pdf/experimentSafety/PdfTemplateEditor.tsx
  apps/frontend/src/components/template/pdf/experimentSafety/PdfTemplatesPage.tsx
  apps/frontend/src/components/template/pdf/experimentSafety/PdfTemplatesTable.tsx
  apps/frontend/src/components/template/pdf/proposal/PdfTemplateEditor.tsx
  apps/frontend/src/components/template/pdf/proposal/PdfTemplatesPage.tsx
  apps/frontend/src/components/template/pdf/proposal/PdfTemplatesTable.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Fixing linting issues
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/datasources/ExperimentSafetyPdfTemplateDataSource.ts
  apps/backend/src/datasources/mockups/ExperimentDataSource.ts
  apps/backend/src/datasources/mockups/ExperimentSafetyPdfTemplateDataSource.ts
  apps/backend/src/datasources/mockups/ProposalPdfTemplateDataSource.ts
  apps/backend/src/mutations/TemplateMutations.spec.ts
  apps/backend/src/resolvers/queries/ExperimentSafetyPdfTemplatesQuery.ts
  apps/backend/src/resolvers/queries/ProposalPdfTemplatesQuery.ts
  apps/backend/src/statusActionEngine/proposal.ts
  apps/frontend/src/components/template/PdfTemplateEditorViewer.tsx
  apps/frontend/src/components/template/pdf/experimentSafety/PdfTemplateEditor.tsx
  apps/frontend/src/components/template/pdf/proposal/PdfTemplateEditor.tsx
Due: npm run lint:frontend, npm run lint:backend

feat: enhance OverviewPage component with conditional styling for empty state
  apps/backend/docker-compose.yml
  apps/frontend/src/components/pages/OverviewPage.tsx
Due: npm run lint:frontend

revert accidental commit
  apps/backend/docker-compose.yml
Due: none

fix e2e tests
  apps/e2e/cypress/e2e/templatesBasic.cy.ts
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/QuestionaryComponentInstrumentPicker.tsx
Due: npm run lint:e2e, npm run lint:frontend

extract common code
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/InstrumentPickerDefinition.tsx
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/QuestionaryComponentInstrumentPicker.tsx
Due: npm run lint:frontend

fix: api keys now checked before use of authorizers
  apps/backend/src/factory/pdf/proposal.ts
  apps/backend/src/mutations/CallMutations.ts
  apps/backend/src/mutations/ExperimentMutation.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/backend/src/mutations/FeedbackMutations.ts
  apps/backend/src/mutations/GenericTemplateMutations.ts
  apps/backend/src/mutations/InstrumentMutations.ts
  apps/backend/src/mutations/InternalReviewMutations.ts
  apps/backend/src/mutations/InviteMutations.ts
  apps/backend/src/mutations/ProposalMutations.ts
  apps/backend/src/mutations/QuestionaryMutations.ts
  apps/backend/src/mutations/ReviewMutations.ts
  apps/backend/src/mutations/SampleMutations.ts
  apps/backend/src/mutations/ShipmentMutations.ts
  apps/backend/src/mutations/UserMutations.ts
  apps/backend/src/mutations/VisitMutations.ts
  apps/backend/src/queries/CallQueries.ts
  apps/backend/src/queries/FapQueries.ts
  apps/backend/src/queries/FeedbackQueries.ts
  apps/backend/src/queries/GenericTemplateQueries.ts
  apps/backend/src/queries/InstrumentQueries.ts
  apps/backend/src/queries/InternalReviewQueries.ts
  apps/backend/src/queries/InviteQueries.ts
  apps/backend/src/queries/ProposalQueries.ts
  apps/backend/src/queries/QuestionaryQueries.ts
  apps/backend/src/queries/ReviewQueries.ts
  apps/backend/src/queries/SampleQueries.ts
  apps/backend/src/queries/ShipmentQueries.ts
  apps/backend/src/queries/TechnicalReviewQueries.ts
  apps/backend/src/queries/VisitQueries.ts
Due: npm run lint:backend

Rename feature
  apps/backend/db_patches/0179_RenameXpressFeature.sql
  apps/backend/src/config/stfc/configureSTFCEnvironment.ts
  apps/backend/src/models/Feature.ts
  apps/e2e/cypress/e2e/techniqueProposals.ts
  apps/frontend/src/hooks/common/useXpressAccess.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

missed await
  apps/backend/src/mutations/ExperimentMutation.ts
Due: npm run lint:backend

Rename Xpress
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/backend/src/models/Page.ts
  apps/backend/src/mutations/InstrumentMutations.spec.ts
  apps/backend/src/mutations/InstrumentMutations.ts
  apps/backend/src/mutations/ProposalMutations.spec.ts
  apps/backend/src/mutations/ProposalMutations.ts
  apps/backend/src/resolvers/mutations/AssignProposalsToInstrumentsMutation.ts
  apps/backend/src/resolvers/mutations/ChangeTechniquesProposalsStatusMutation.ts
  apps/e2e/cypress/e2e/techniqueProposals.cy.ts
  apps/frontend/public/locales/override/translation.json
  apps/frontend/src/components/AppRoutes.tsx
  apps/frontend/src/components/menu/MenuItems.tsx
  apps/frontend/src/components/pages/PageEditor.tsx
  apps/frontend/src/components/techniqueProposal/ProposalScientistComment.tsx
  apps/frontend/src/components/techniqueProposal/TechniqueProposalFilterBar.tsx
  apps/frontend/src/components/techniqueProposal/TechniqueProposalNotice.tsx
  apps/frontend/src/components/techniqueProposal/TechniqueProposalTable.tsx
  apps/frontend/src/components/techniqueProposal/useTechniqueProposalInstrumentsData.ts
  apps/frontend/src/graphql/instrument/assignTechniqueProposalsToInstruments.graphql
  apps/frontend/src/graphql/proposal/changeTechniqueProposalsStatus.graphql
  apps/frontend/src/hooks/common/useTechniqueProposalAccess.tsx
  apps/frontend/src/hooks/technique/useTechniqueProposalsTechniquesData.ts
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

fix pagination
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
Due: npm run lint:frontend

feat: implement visit registration cancellation and approval features
  apps/e2e/cypress/e2e/visits.cy.ts
  apps/e2e/cypress/support/visits.ts
  apps/e2e/cypress/types/visits.d.ts
  apps/frontend/src/components/common/StyledDialog.tsx
  apps/frontend/src/components/experiment/CancelRegistrationMenu.tsx
  apps/frontend/src/components/experiment/ExperimentTable.tsx
  apps/frontend/src/components/proposalBooking/ActionButton.tsx
  apps/frontend/src/components/proposalBooking/PendingBadge.tsx
  apps/frontend/src/components/visit/CreateUpdateCancelVisitRegistration.tsx
  apps/frontend/src/components/visit/ExperimentVisitsTable.tsx
  apps/frontend/src/hooks/proposalBooking/useActionButtons.tsx
Due: npm run lint:e2e, npm run lint:frontend

feat: update launch configuration and enhance StyledDialog with onClose prop
  apps/frontend/src/components/common/StyledDialog.tsx
Due: npm run lint:frontend

feat: refactor import path for ExperimentVisitsTable and add new component for visit registrations
  apps/frontend/src/components/experiment/ExperimentTable.tsx
  apps/frontend/src/components/experiment/ExperimentVisitsTable.tsx
Due: npm run lint:frontend

use prefetch as the multiplier
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
Due: npm run lint:frontend

Work in Progress
  apps/backend/db_patches/0182_Rename_Pdf_Template.sql
  apps/backend/src/auth/SampleAuthorization.ts
  apps/backend/src/datasources/postgres/TemplateDataSource.ts
  apps/backend/src/factory/DownloadService.ts
  apps/backend/src/factory/pdf/experimentSafety.ts
  apps/backend/src/middlewares/factory/factoryServices.ts
  apps/backend/src/middlewares/factory/pdf/preview.ts
  apps/frontend/src/components/AppRoutes.tsx
  apps/frontend/src/components/experiment/ExperimentTable.tsx
  apps/frontend/src/components/experimentSafetyReview/ExperimentSafetyReviewSummary.tsx
  apps/frontend/src/components/questionary/Questionary.tsx
  apps/frontend/src/components/questionary/questionaries/experimentSafetyReview/ExperimentSafetyReviewQuestionaryWizardStep.ts
  apps/frontend/src/components/questionary/questionaryComponents/ExperimentSafetyReviewBasis/QuestionaryComponentExperimentSafetyReviewBasis.tsx
  apps/frontend/src/components/template/ExperimentPdfTemplateDefaultData.tsx
  apps/frontend/src/components/template/PdfTemplateDefaultData.tsx
  apps/frontend/src/components/template/pdf/experimentSafety/PdfTemplateEditor.tsx
  apps/frontend/src/components/template/pdf/experimentSafety/PdfTemplateEditorViewer.tsx
  apps/frontend/src/components/template/pdf/proposal/PdfTemplateEditorViewer.tsx
  apps/frontend/src/graphql/experiment/addSampleToExperiment.graphql
  apps/frontend/src/graphql/experiment/getExperimentSample.graphql
  apps/frontend/src/graphql/experiment/updateExperimentSample.graphql
Due: npm run lint:frontend, npm run lint:backend

Remove unneeded translation
  apps/frontend/public/locales/override/translation.json
Due: none

Add technique proposal docs
  documentation/docs/developer-guide/technique_proposals.md
Due: none

feat: add 'pending' state to ActionButton and update related tests; remove PendingBadge component
  apps/e2e/cypress/e2e/visits.cy.ts
  apps/e2e/cypress/support/utils.ts
  apps/e2e/cypress/types/utils.d.ts
  apps/frontend/src/components/proposalBooking/ActionButton.tsx
  apps/frontend/src/components/proposalBooking/PendingBadge.tsx
Due: npm run lint:e2e, npm run lint:frontend

add cypress test
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

update cypress test name
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

feat: enhance visit registration tests to allow cancellation before approval and update button color assertion
  apps/e2e/cypress/e2e/visits.cy.ts
  apps/e2e/cypress/support/utils.ts
Due: npm run lint:e2e

feat: add support for co-proposer invites in email handler
  apps/backend/src/eventHandlers/email/essEmailHandler.ts
Due: npm run lint:backend

refactor: rename Xpress proposals (#1041)
  apps/backend/db_patches/0179_RenameXpressFeature.sql
  apps/backend/src/config/stfc/configureSTFCEnvironment.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/backend/src/models/Feature.ts
  apps/backend/src/models/Page.ts
  apps/backend/src/mutations/InstrumentMutations.spec.ts
  apps/backend/src/mutations/InstrumentMutations.ts
  apps/backend/src/mutations/ProposalMutations.spec.ts
  apps/backend/src/mutations/ProposalMutations.ts
  apps/backend/src/resolvers/mutations/AssignProposalsToInstrumentsMutation.ts
  apps/backend/src/resolvers/mutations/ChangeTechniquesProposalsStatusMutation.ts
  apps/e2e/cypress/e2e/techniqueProposals.cy.ts
  apps/frontend/public/locales/override/translation.json
  apps/frontend/src/components/AppRoutes.tsx
  apps/frontend/src/components/menu/MenuItems.tsx
  apps/frontend/src/components/pages/PageEditor.tsx
  apps/frontend/src/components/techniqueProposal/ProposalScientistComment.tsx
  apps/frontend/src/components/techniqueProposal/TechniqueProposalFilterBar.tsx
  apps/frontend/src/components/techniqueProposal/TechniqueProposalNotice.tsx
  apps/frontend/src/components/techniqueProposal/TechniqueProposalTable.tsx
  apps/frontend/src/components/techniqueProposal/useTechniqueProposalInstrumentsData.ts
  apps/frontend/src/graphql/instrument/assignTechniqueProposalsToInstruments.graphql
  apps/frontend/src/graphql/proposal/changeTechniqueProposalsStatus.graphql
  apps/frontend/src/hooks/common/useTechniqueProposalAccess.tsx
  apps/frontend/src/hooks/technique/useTechniqueProposalsTechniquesData.ts
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Add missing config
  documentation/mkdocs.yml
Due: none

fix: instrument scientist table pagination (#1042)
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
Due: npm run lint:frontend

small fixes
  apps/backend/src/mutations/VisitMutations.ts
  apps/backend/src/queries/TechnicalReviewQueries.ts
Due: npm run lint:backend

Correct ESF APROVED to ESF APPROVED in statuses table patch
  apps/backend/db_patches/0184_CorrectESFApprovedSpelling.sql
Due: none

Add patch to make experiment_safety.status_id reference statuses.status_id (FK constraint)
  apps/backend/db_patches/0185_ExperimentSafetyStatusRefactor.sql
Due: none

Removing unneeded code
  apps/backend/src/models/Experiment.ts
Due: npm run lint:backend

feat: allow proposals cloned on call with different template (#1024)
  apps/backend/src/datasources/QuestionaryDataSource.ts
  apps/backend/src/datasources/mockups/QuestionaryDataSource.ts
  apps/backend/src/datasources/postgres/GenericTemplateDataSource.ts
  apps/backend/src/datasources/postgres/QuestionaryDataSource.ts
  apps/backend/src/mutations/ProposalMutations.ts
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/frontend/src/components/proposal/CallSelectModalOnProposalClone.tsx
  apps/frontend/src/components/proposal/ProposalTable.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Removing Sample declaration information, as it is not of any use after the Proposal submission
  apps/frontend/src/components/questionary/questionaryComponents/ExperimentSafetyReviewBasis/QuestionaryComponentExperimentSafetyReviewBasis.tsx
Due: npm run lint:frontend

feat: implement request visit registration changes functionality and update related components
  apps/backend/src/auth/questionary/VisitQuestionaryAuthorizer.ts
  apps/backend/src/mutations/VisitMutations.spec.ts
  apps/backend/src/mutations/VisitMutations.ts
  apps/backend/src/resolvers/mutations/RequestVisitRegistrationChangesMutation.ts
  apps/e2e/cypress/e2e/visits.cy.ts
  apps/frontend/src/components/experiment/ExperimentVisitsTable.tsx
  apps/frontend/src/components/questionary/questionaries/visitRegistration/VisitRegistrationQuestionaryDefinition.ts
  apps/frontend/src/components/questionary/questionaries/visitRegistration/VisitRegistrationWizardStep.ts
  apps/frontend/src/components/visit/VisitRegistrationReview.tsx
  apps/frontend/src/graphql/visitRegistration/requestVisitRegistrationChanges.graphql
  apps/frontend/src/hooks/proposalBooking/useActionButtons.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Simplify condition
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
Due: npm run lint:backend

Update apps/frontend/src/components/experiment/ExperimentVisitsTable.tsx
  apps/frontend/src/components/experiment/ExperimentVisitsTable.tsx
Due: npm run lint:frontend

Update apps/backend/src/mutations/VisitMutations.ts
  apps/backend/src/mutations/VisitMutations.ts
Due: npm run lint:backend

Update apps/backend/src/mutations/VisitMutations.spec.ts
  apps/backend/src/mutations/VisitMutations.spec.ts
Due: npm run lint:backend

fix: add more validation on instrument picker on the frontend (#1034)
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/InstrumentPickerDefinition.tsx
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/QuestionaryComponentInstrumentPicker.tsx
Due: npm run lint:e2e, npm run lint:frontend

Change the field headings for proposal title and abstract
  apps/frontend/src/components/questionary/questionaryComponents/ProposalBasis/QuestionaryComponentProposalBasis.tsx
Due: npm run lint:frontend
