Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

.lintstagedrc.json:

{
  "apps/e2e/**/*.{js,ts,jsx,tsx}": ["npm run lint:e2e"],
  "apps/frontend/**/*.{js,ts,jsx,tsx}": ["npm run lint:frontend"],
  "apps/backend/**/*.{js,ts,jsx,tsx}": ["npm run lint:backend"]
}

removes old mass assignment stuff, adds new backend functionality
  .vscode/launch.json
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/mockups/AdminDataSource.ts
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/datasources/stfc/StfcFapDataSource.ts
  apps/backend/src/models/Settings.ts
  apps/backend/src/mutations/FapMutations.spec.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/backend/src/populate/index.ts
  apps/backend/src/queries/AdminQueries.spec.ts
  apps/backend/src/queries/FapQueries.spec.ts
  apps/backend/src/resolvers/mutations/AssignMembersToFapMutation.ts
  apps/frontend/src/graphql/fap/assignFapReviewersToProposal.graphql
  apps/frontend/src/graphql/fap/assignFapReviewersToProposals.graphql
  apps/frontend/src/graphql/fap/massAssignReviews.graphql
Due: npm run lint:backend

fix: prevent multiple save clicks
  apps/frontend/src/components/questionary/QuestionaryStepView.tsx
Due: npm run lint:frontend

wip refactor fap reviews frontend
  apps/frontend/src/components/fap/Proposals/AssignFapMemberToProposalModal.tsx
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
Due: npm run lint:frontend

fix review comments and refactor
  apps/backend/db_patches/0151_MultipleFapPerProposal.sql
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/datasources/postgres/InstrumentDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/backend/src/models/Fap.ts
  apps/backend/src/models/questionTypes/InstrumentPicker.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/backend/src/mutations/InstrumentMutations.ts
  apps/backend/src/populate/index.ts
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
Due: npm run lint:frontend, npm run lint:backend

fixing review comments part 2
  apps/backend/src/resolvers/types/ProposalView.ts
  apps/frontend/src/components/fap/Proposals/AssignProposalsToFaps.tsx
Due: npm run lint:frontend, npm run lint:backend

Include the explanation detailing the business logic behind the REPLACE_OLD_USER_ID_WITH_NEW function and rectify typos.
  apps/backend/db_patches/0148_CreateUpdateUserIdFunc.sql
Due: none

add e2e test that covers some review improvements
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/support/instrument.ts
  apps/e2e/cypress/types/instrument.d.ts
Due: npm run lint:e2e

fix unit and e2e tests
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/mutations/FapMutations.spec.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e, npm run lint:backend

wip
  apps/backend/src/factory/service.ts
  apps/backend/src/factory/xlsx/FapDataRow.ts
  apps/backend/src/factory/xlsx/callFaps.ts
  apps/backend/src/factory/xlsx/fap.ts
  apps/backend/src/factory/xlsx/stfc/StfcFapDataRow.ts
  apps/backend/src/middlewares/factory/xlsx.ts
  apps/frontend/src/components/call/CallsTable.tsx
  apps/frontend/src/context/DownloadContextProvider.tsx
  apps/frontend/src/hooks/fap/useDownloadXLSXCallFap.ts
Due: npm run lint:frontend, npm run lint:backend

update to slim down on number components use
  apps/frontend/src/components/fap/MeetingComponents/FapUpdateInstrumentTime.tsx
Due: npm run lint:frontend

Add User Office email recipient
  apps/backend/example.development.env
  apps/backend/src/eventHandlers/email/stfcEmailHandler.ts
  apps/backend/src/resolvers/types/ProposalStatusActionConfig.ts
  apps/backend/src/statusActionEngine/emailActionHandler.ts
Due: npm run lint:backend

frontend for multi review assignment
  apps/frontend/src/components/fap/Proposals/AssignFapMemberToProposalModal.tsx
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
Due: npm run lint:frontend

fix broken db patch
  apps/backend/db_patches/0155_HandleMultipleFapPerProposal.sql
Due: none

refactor dialog
  apps/frontend/src/components/fap/MeetingComponents/FapMeetingInstrumentsTable.tsx
  apps/frontend/src/components/fap/MeetingComponents/FapUpdateInstrumentTime.tsx
Due: npm run lint:frontend

fix: user officer table sorting
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
Due: npm run lint:frontend, npm run lint:backend

test(e2e): add e2e test to cover the bugfix
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
Due: npm run lint:e2e

feat: added re-login button on OAuth logout page
  apps/backend/src/auth/OAuthAuthorization.ts
Due: npm run lint:backend

added comment for AUTH_RELOGIN_PARAMS env variable
  apps/backend/example.development.env
  apps/backend/src/auth/OAuthAuthorization.ts
Due: npm run lint:backend

refactor: removed updateOIDCSettings
  apps/backend/src/config/base/configureBaseEnvironment.ts
  apps/backend/src/config/ess/configureESSEnvironment.ts
  apps/backend/src/config/updateOIDCSettings.ts
Due: npm run lint:backend

feat: add option to filter all multi-instrument proposals
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/models/Instrument.ts
  apps/backend/src/resolvers/CustomScalars.ts
  apps/backend/src/resolvers/queries/ProposalsQuery.ts
  apps/frontend/src/components/common/proposalFilters/InstrumentFilter.tsx
  apps/frontend/src/components/proposal/ProposalFilterBar.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/utils/helperFunctions.tsx
Due: npm run lint:frontend, npm run lint:backend

fix url parameter
  apps/frontend/src/components/proposal/ProposalFilterBar.tsx
  apps/frontend/src/components/proposal/ProposalPage.tsx
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
Due: npm run lint:frontend

Alter variable presence check
  apps/backend/src/eventHandlers/email/stfcEmailHandler.ts
  apps/backend/src/statusActionEngine/emailActionHandler.ts
Due: npm run lint:backend

test(e2e): add e2e tests for the new feature
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/e2e/cypress/e2e/instruments.cy.ts
Due: npm run lint:e2e, npm run lint:backend

use faker to generate question text string
  apps/e2e/cypress/e2e/genericTemplates.cy.ts
Due: npm run lint:e2e

fix failling tests
  apps/e2e/cypress/e2e/genericTemplates.cy.ts
Due: npm run lint:e2e

feat: unsubmit instrument in FAP meetings and prevent reorder if instrument is submitted
  apps/backend/db_patches/0156_AddProposalInstrumentUnsubmittedEvent.sql
  apps/backend/src/datasources/InstrumentDataSource.ts
  apps/backend/src/datasources/mockups/InstrumentDataSource.ts
  apps/backend/src/datasources/postgres/InstrumentDataSource.ts
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/events/event.enum.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/backend/src/mutations/InstrumentMutations.ts
  apps/backend/src/resolvers/mutations/UpdateInstrumentMutation.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/support/fap.ts
  apps/e2e/cypress/types/fap.d.ts
  apps/frontend/src/components/fap/MeetingComponents/FapInstrumentProposalsTable.tsx
  apps/frontend/src/components/fap/MeetingComponents/FapMeetingInstrumentsTable.tsx
  apps/frontend/src/graphql/instrument/unsubmitInstrument.graphql
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

move dialog title and open property
  apps/frontend/src/components/fap/MeetingComponents/FapMeetingInstrumentsTable.tsx
  apps/frontend/src/components/fap/MeetingComponents/FapUpdateInstrumentTime.tsx
Due: npm run lint:frontend

chore: upgrade mui packages and everything that comes with it
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/components/call/CallGeneralInfo.tsx
  apps/frontend/src/components/call/CallNotificationAndCycleInfo.tsx
  apps/frontend/src/components/call/CallReviewsInfo.tsx
  apps/frontend/src/components/experiment/DateFilter.tsx
  apps/frontend/src/components/questionary/questionaryComponents/DatePicker/DateSearchCriteriaInput.tsx
  apps/frontend/src/components/questionary/questionaryComponents/DatePicker/QuestionDateForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/DatePicker/QuestionTemplateRelationDateForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/DatePicker/QuestionaryComponentDatePicker.tsx
  apps/frontend/src/components/questionary/questionaryComponents/VisitBasis/QuestionaryComponentVisitBasis.tsx
  apps/frontend/src/components/review/ProposalTableReviewer.tsx
  apps/frontend/src/components/user/UpdateUserInformation.tsx
  apps/frontend/src/utils/helperFunctions.tsx
  apps/frontend/src/utils/materialIcons.tsx
Due: npm run lint:frontend

Move env variable into a setting
  apps/backend/db_patches/0155_UoRecipientAppSetting.sql
  apps/backend/src/eventHandlers/email/stfcEmailHandler.ts
  apps/backend/src/models/Settings.ts
  apps/backend/src/statusActionEngine/emailActionHandler.ts
Due: npm run lint:backend

Remove example var
  apps/backend/example.development.env
Due: none

Made naming clearer and changes to label function
  apps/frontend/src/components/questionary/questionaryComponents/Boolean/QuestionBooleanForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/Boolean/QuestionTemplateRelationBooleanForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/DatePicker/QuestionDateForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/DatePicker/QuestionTemplateRelationDateForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/DynamicMultipleChoice/QuestionDynamicMultipleChoiceForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/DynamicMultipleChoice/QuestionTemplateRelationDynamicMultipleChoiceForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/Embellishment/QuestionEmbellishmentForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/Embellishment/QuestionTemplateRelationEmbellishmentForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/FileUpload/QuestionFileUploadForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/FileUpload/QuestionTemplateRelationFileUploadForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/GenericTemplate/QuestionGenericTemplateForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/GenericTemplate/QuestionTemplateRelationGenericTemplateForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/QuestionInstrumentPickerForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/QuestionTemplateRelationInstrumentPickerForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/Interval/QuestionIntervalForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/Interval/QuestionTemplateRelationIntervalForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/MultipleChoice/QuestionMultipleChoiceForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/MultipleChoice/QuestionTemplateRelationMultipleChoiceForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/NumberInput/QuestionNumberInputForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/NumberInput/QuestionTemplateRelationNumberInputForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/RichTextInput/QuestionRichTextInputForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/RichTextInput/QuestionTemplateRelationRichTextInputForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/SampleDeclaration/QuestionSampleDeclarationForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/SampleDeclaration/QuestionTemplateRelationSampleDeclarationForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/TextInput/QuestionTemplateRelationTextInputForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/TextInput/QuestionTextInputForm.tsx
  apps/frontend/src/components/template/QuestionTemplateLabel.tsx
Due: npm run lint:frontend

add workflow test for internal submitted proposals
  apps/e2e/cypress/e2e/settings.cy.ts
  apps/e2e/cypress/support/initialDBData.ts
Due: npm run lint:e2e

refactor AssignFapReviewersToProposal mututation to support multiple proposals, add frontend elements for multiple propsal assignments at once
  apps/backend/src/mutations/FapMutations.spec.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/backend/src/resolvers/mutations/AssignMembersToFapMutation.ts
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/graphql/fap/assignFapReviewersToProposals.graphql
Due: npm run lint:frontend, npm run lint:backend

Add e2e test for save button
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

feat: filter calls by shortcode
  apps/backend/src/datasources/postgres/CallDataSource.ts
  apps/backend/src/resolvers/queries/CallsQuery.ts
Due: npm run lint:backend

chore: update version of github upload artifact action
  .github/workflows/test-build.yml
Due: none

add TextField, Select, DatePicker and Autocomplete component wrappers for Formik
  apps/frontend/package.json
  apps/frontend/src/components/common/FormikUIAutocomplete.tsx
  apps/frontend/src/components/common/FormikUIDatePicker.tsx
  apps/frontend/src/components/common/FormikUISelect.tsx
  apps/frontend/src/components/common/FormikUITextField.tsx
  apps/frontend/src/components/user/UpdateUserInformation.tsx
Due: npm run lint:frontend

wip
  apps/backend/db_patches/0156_CreateFAPProposalView.sql
  apps/backend/src/factory/xlsx/callFaps.ts
Due: npm run lint:backend

Update apps/frontend/src/components/fap/MeetingComponents/FapUpdateInstrumentTime.tsx
  apps/frontend/src/components/fap/MeetingComponents/FapUpdateInstrumentTime.tsx
Due: npm run lint:frontend
