Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

.lintstagedrc.json:

{
  "apps/e2e/**/*.{js,ts,jsx,tsx}": ["npm run lint:e2e"],
  "apps/frontend/**/*.{js,ts,jsx,tsx}": ["npm run lint:frontend"],
  "apps/backend/**/*.{js,ts,jsx,tsx}": ["npm run lint:backend"]
}

test case added to display fap reviewer's proposals and all proposals depending on reviewer drop down selection
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

docs: add fap review documentation (#777)
  documentation/docs/assets/images/fap_review_template.png
  documentation/docs/user-guide/user-officer/creating_call.md
  documentation/docs/user-guide/user-officer/creating_templates.md
  documentation/docs/user-guide/user-officer/questions.md
  documentation/docs/user-guide/user-officer/templates/fap_review_template.md
  documentation/docs/user-guide/user-officer/templates/proposal_template.md
  documentation/mkdocs.yml
Due: none

fix: add missing translations of fap (#789)
  apps/frontend/public/locales/override/translation.json
  apps/frontend/src/components/AppRoutes.tsx
  apps/frontend/src/components/call/CallGeneralInfo.tsx
  apps/frontend/src/components/call/CallReviewsInfo.tsx
  apps/frontend/src/components/menu/TemplateMenuListItem.tsx
Due: npm run lint:frontend

fix: predefined delete message issue fixed
  apps/e2e/cypress/e2e/predefinedMessages.cy.ts
  apps/frontend/src/components/common/predefinedMessages/PredefinedMessagesModal.tsx
Due: npm run lint:e2e, npm run lint:frontend

fix: instrument picker answers
  apps/backend/db_patches/0162_UpdateOldInstrumentPickerAnswersv2.sql
Due: none

Fix multiple select update
  apps/backend/db_patches/0162_UpdateOldInstrumentPickerAnswersv2.sql
Due: none

Update apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

adding a null check for status
  apps/backend/src/datasources/postgres/ReviewDataSource.ts
Due: npm run lint:backend

fix: hide download as multiple when multiple proposals are selected
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
  apps/frontend/src/components/proposal/TableActionsDropdownMenu.tsx
Due: npm run lint:e2e, npm run lint:frontend

fix: added sample safety reviewers permission to submit review on sample safety
  apps/backend/src/mutations/SampleMutations.ts
  apps/e2e/cypress/e2e/samples.cy.ts
Due: npm run lint:e2e, npm run lint:backend

feat: sort instruments in instrument picker dropdown
  apps/backend/src/datasources/postgres/InstrumentDataSource.ts
Due: npm run lint:backend

chore: Add a job to trigger SDK generation in user-office-scheduler
  .github/workflows/build-push.yml
Due: none

wip
  apps/backend/src/auth/SampleAuthorization.ts
  apps/backend/src/datasources/SampleDataSource.ts
  apps/backend/src/datasources/mockups/SampleDataSource.ts
  apps/backend/src/datasources/postgres/SampleDataSource.ts
  apps/backend/src/mutations/ProposalMutations.ts
  apps/backend/src/mutations/ReviewMutations.ts
  apps/backend/src/mutations/SampleMutations.spec.ts
  apps/backend/src/mutations/SampleMutations.ts
  apps/backend/src/resolvers/mutations/SubmitSampleReviewMutation.ts
  apps/backend/src/resolvers/mutations/UpdateSampleMutation.ts
  apps/backend/src/utils/CloneUtils.ts
  apps/frontend/src/components/sample/SampleSafetyPage.tsx
  apps/frontend/src/graphql/review/submitSampleReview.graphql
  apps/frontend/src/graphql/samples/updateSample.graphql
Due: npm run lint:frontend, npm run lint:backend

WIP
  apps/frontend/src/components/template/AnswerCountDetails.tsx
  apps/frontend/src/hooks/genericTemplate/useGenericTemplatesData.ts
  apps/frontend/src/models/questionary/genericTemplate/GenericTemplateCore.ts
Due: npm run lint:frontend

fix: remove unused import
  apps/frontend/src/components/template/TemplateEditor.tsx
Due: npm run lint:frontend

Answers table for visit and generic template done
  apps/backend/src/datasources/VisitDataSource.ts
  apps/backend/src/datasources/mockups/VisitDataSource.ts
  apps/backend/src/datasources/postgres/VisitDataSource.ts
  apps/backend/src/queries/VisitQueries.ts
  apps/backend/src/resolvers/queries/UserVisitQuery.ts
  apps/frontend/src/components/template/AnswerCountDetails.tsx
  apps/frontend/src/hooks/visit/useVisitRegistrationsWithVisitAndUsers.ts
Due: npm run lint:frontend, npm run lint:backend

feat: preview for all templates (#723)
  apps/frontend/src/components/proposalEsi/ProposalEsiContainer.tsx
  apps/frontend/src/components/questionary/questionaryComponents/GenericTemplate/GenericTemplateContainer.tsx
  apps/frontend/src/components/questionary/questionaryComponents/GenericTemplate/QuestionaryComponentGenericTemplate.tsx
  apps/frontend/src/components/questionary/questionaryComponents/SampleDeclaration/QuestionaryComponentSampleDeclaration.tsx
  apps/frontend/src/components/questionary/questionaryComponents/SampleDeclaration/SampleDeclarationContainer.tsx
  apps/frontend/src/components/shipments/ShipmentContainer.tsx
  apps/frontend/src/components/template/PreviewTemplateModal.tsx
  apps/frontend/src/components/template/TemplateEditor.tsx
  apps/frontend/src/hooks/shipment/useBlankShipment.ts
Due: npm run lint:frontend

fix: insert all available user information at creation time
  apps/backend/src/auth/OAuthAuthorization.ts
Due: npm run lint:backend

fix: fap reviewer want to see all proposals in their fap (#739)
  apps/backend/src/auth/ProposalAuthorization.ts
  apps/backend/src/auth/ReviewAuthorization.ts
  apps/backend/src/datasources/ReviewDataSource.ts
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/mockups/ReviewDataSource.ts
  apps/backend/src/datasources/postgres/ReviewDataSource.ts
  apps/backend/src/queries/ReviewQueries.spec.ts
  apps/backend/src/resolvers/types/User.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/fixtures/exampleCallFapExport.json
  apps/frontend/src/components/review/ProposalGrade.tsx
  apps/frontend/src/components/review/ProposalTableReviewer.tsx
  apps/frontend/src/components/review/ReviewSummary.tsx
  apps/frontend/src/graphql/review/userWithReviews.graphql
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Remove stfc references from postgres datasource
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

fix: insert all available user information at creation time (#802)
  apps/backend/src/auth/OAuthAuthorization.ts
Due: npm run lint:backend

remove status_actions_by from status_actions_logs table
  apps/backend/db_patches/0163_AddStatusActionsLogsTables.sql
  apps/backend/src/datasources/postgres/StatusActionsLogsDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/StatusActionsLog.ts
  apps/backend/src/mutations/StatusActionsLogsMutations.ts
  apps/backend/src/resolvers/queries/StatusActionsLogsQuery.ts
  apps/backend/src/resolvers/types/StatusActionsLog.ts
  apps/backend/src/statusActionEngine/emailActionHandler.ts
  apps/backend/src/statusActionEngine/statusActionUtils.ts
Due: npm run lint:backend

fix: user search for instruments scientist
  apps/frontend/src/components/instrument/CreateUpdateInstrument.tsx
Due: npm run lint:frontend

fix backend linting errors
  apps/backend/src/datasources/mockups/StatusActionsLogsDataSource.ts
Due: npm run lint:backend

fix: user search for internal reviewer
  apps/frontend/src/components/internalReview/CreateUpdateInternalReview.tsx
Due: npm run lint:frontend

pass user details when executing status action replay
  apps/backend/src/mutations/StatusActionsLogsMutations.ts
Due: npm run lint:backend

update fixtures
  apps/e2e/cypress/fixtures/exampleCallFapExportSTFC.json
  apps/e2e/cypress/fixtures/exampleFapExport.json
  apps/e2e/cypress/fixtures/exampleFapExportSTFC.json
Due: none

feat: add tech review comment and reviewer names to stfc fap export (#763)
  apps/backend/db_patches/0162_UpdateFAPProposalView.sql
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/factory/xlsx/FapDataRow.ts
  apps/backend/src/factory/xlsx/callFaps.ts
  apps/backend/src/factory/xlsx/fap.ts
  apps/backend/src/factory/xlsx/stfc/StfcFapDataColumns.ts
  apps/backend/src/factory/xlsx/stfc/StfcFapDataRow.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/fixtures/exampleCallFapExportSTFC.json
  apps/e2e/cypress/fixtures/exampleFapExport.json
  apps/e2e/cypress/fixtures/exampleFapExportSTFC.json
Due: npm run lint:e2e, npm run lint:backend

fix: marking template as active without needing to refresh the page
  apps/e2e/cypress/e2e/templatesBasic.cy.ts
  apps/frontend/src/components/template/withMarkTemplateAsActiveAction.tsx
Due: npm run lint:e2e, npm run lint:frontend

feat: add internal review create/update/delete events to eli mail handler and thus to applicationEvents
  apps/backend/src/eventHandlers/email/eliEmailHandler.ts
  apps/backend/src/events/applicationEvents.ts
Due: npm run lint:backend

fix db patch
  apps/backend/db_patches/0163_ExcludeExpiredProposalsFromReviewProposalView.sql
Due: none

feat: add generic confirm modal to Questionary and QuestionaryStepView components
  apps/frontend/src/components/questionary/Questionary.tsx
  apps/frontend/src/components/questionary/QuestionaryStepView.tsx
  apps/frontend/src/models/questionary/QuestionarySubmissionState.ts
  apps/frontend/src/models/questionary/useEventHandlers.ts
Due: npm run lint:frontend

removed optional operator
  apps/frontend/src/components/questionary/Questionary.tsx
  apps/frontend/src/components/questionary/QuestionaryStepView.tsx
Due: npm run lint:frontend

fix types
  apps/frontend/src/components/questionary/Questionary.tsx
  apps/frontend/src/components/questionary/QuestionaryStepView.tsx
Due: npm run lint:frontend

fix: make editing a setting
  apps/backend/db_patches/0164_AllowSecsEditTechReview.sql
  apps/backend/src/config/stfc/configureSTFCEnvironment.ts
  apps/backend/src/models/Settings.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/generalFaps.cy.ts
  apps/frontend/src/components/review/ProposalTechnicalReview.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend
