Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

.lintstagedrc.json:

{
  "apps/e2e/**/*.{js,ts,jsx,tsx}": ["npm run lint:e2e"],
  "apps/frontend/**/*.{js,ts,jsx,tsx}": ["npm run lint:frontend"],
  "apps/backend/**/*.{js,ts,jsx,tsx}": ["npm run lint:backend"]
}

fix: fap reviews not being deleted along with assignments (#846)
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
Due: npm run lint:frontend, npm run lint:backend

Check validation of form using native html input before changing step
  apps/frontend/src/components/common/MultistepWizard.tsx
Due: npm run lint:frontend

Set the imported submitted date
  apps/backend/src/datasources/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/mutations/ProposalMutations.ts
Due: npm run lint:backend

Fix import date search
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

refactor: only add user id to the client name in the backend
  apps/backend/db_patches/0164_UserIdInApiMetadataFeature.sql
  apps/backend/src/config/stfc/configureSTFCEnvironment.ts
  apps/backend/src/middlewares/graphql.ts
  apps/backend/src/models/Feature.ts
  apps/frontend/src/hooks/common/useDataApi.ts
Due: npm run lint:frontend, npm run lint:backend

Use object for frontend statuses
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Allow for multiple techniques
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/mutations/ProposalMutations.spec.ts
  apps/backend/src/mutations/ProposalMutations.ts
  apps/backend/src/resolvers/mutations/ImportProposalMutation.ts
Due: npm run lint:backend

Add 'Page' for Xpress notices
  apps/backend/src/models/Page.ts
  apps/frontend/src/components/pages/PageEditor.tsx
  apps/frontend/src/components/xpress/XpressNotice.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend, npm run lint:backend

refactor: remove duplicate client intialisation code
  apps/frontend/src/hooks/common/useDataApi.ts
Due: npm run lint:frontend

feat: add client identifying metadata for apollo studio analytics (#832)
  apps/backend/src/middlewares/graphql.ts
  apps/frontend/src/hooks/common/useDataApi.ts
Due: npm run lint:frontend, npm run lint:backend

fix: fap reviews comment character limit
  apps/frontend/src/components/questionary/questionaryComponents/FapReviewBasis/createFapReviewBasisValidationSchema.ts
Due: npm run lint:frontend

perf: stop overfetching of instrument data (#839)
  apps/frontend/src/components/common/proposalFilters/InstrumentFilter.tsx
  apps/frontend/src/components/experiment/ExperimentFilterBar.tsx
  apps/frontend/src/components/instrument/AssignProposalsToInstruments.tsx
  apps/frontend/src/components/proposal/ProposalFilterBar.tsx
  apps/frontend/src/components/proposal/ProposalPage.tsx
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/components/proposalBooking/InstrSciUpcomingExperimentTimesTable.tsx
  apps/frontend/src/components/review/ProposalTableReviewer.tsx
  apps/frontend/src/graphql/instrument/getInstrumentsMinimal.graphql
  apps/frontend/src/graphql/instrument/getMyInstrumentsMinimal.graphql
  apps/frontend/src/graphql/instrument/instrumentMinimal.fragment.graphql
  apps/frontend/src/hooks/instrument/useInstrumentsMinimalData.ts
Due: npm run lint:frontend

#1155: Remove stored procedure script of merge user tool of the new submission system
  apps/backend/db_patches/0148_CreateUpdateUserIdFunc.sql
Due: none

perf: remove unnecessary call on homepage (#835)
  apps/backend/db_patches/0165_PageFooterDisplaySettings.sql
  apps/backend/src/config/eli/configureELIEnvironment.ts
  apps/backend/src/config/ess/configureESSEnvironment.ts
  apps/backend/src/config/stfc/configureSTFCEnvironment.ts
  apps/backend/src/models/Settings.ts
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/frontend/src/components/PageLayout.tsx
  apps/frontend/src/components/menu/MenuItems.tsx
  apps/frontend/src/components/pages/InformationModal.tsx
  apps/frontend/src/components/proposal/ProposalChooseCall.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

perf: Optimize getCallByQuestionId
  apps/backend/src/datasources/CallDataSource.ts
  apps/backend/src/datasources/mockups/CallDataSource.ts
  apps/backend/src/datasources/postgres/CallDataSource.ts
  apps/backend/src/factory/pdf/proposal.ts
  apps/backend/src/queries/CallQueries.ts
  apps/backend/src/resolvers/queries/CallQuery.ts
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/InstrumentPickerAnswerRenderer.tsx
  apps/frontend/src/graphql/call/getCallAllocatedTimeUnit.graphql
  apps/frontend/src/graphql/call/getCallByQuestionId.graphql
  apps/frontend/src/hooks/call/useQuestionCallData.ts
Due: npm run lint:frontend, npm run lint:backend

Update MultistepWizard.tsx
  apps/frontend/src/components/common/MultistepWizard.tsx
Due: npm run lint:frontend

perf: use more minimal requests for getting call data
  apps/frontend/src/components/proposal/ProposalCreate.tsx
  apps/frontend/src/components/proposal/ProposalSummary.tsx
  apps/frontend/src/graphql/call/getCall.graphql
  apps/frontend/src/graphql/call/getCallCloseDetails.graphql
  apps/frontend/src/graphql/call/getCallSubmissionDetails.graphql
  apps/frontend/src/hooks/call/useCallCloseData.ts
Due: npm run lint:frontend

perf: answerTopic returns only changed answers
  apps/backend/src/mutations/QuestionaryMutations.ts
  apps/backend/src/resolvers/mutations/AnswerTopicMutation.ts
  apps/frontend/src/components/questionary/QuestionaryStepView.tsx
  apps/frontend/src/graphql/questionary/answerTopic.graphql
  apps/frontend/src/models/questionary/QuestionarySubmissionState.ts
Due: npm run lint:frontend, npm run lint:backend

perf: get less proposal data on clone
  apps/frontend/src/components/proposal/ProposalTable.tsx
  apps/frontend/src/graphql/proposal/getProposalToClone.graphql
Due: npm run lint:frontend

perf: optimize instr sci call query
  apps/frontend/src/components/common/proposalFilters/CallFilter.tsx
  apps/frontend/src/components/proposal/ProposalFilterBar.tsx
  apps/frontend/src/graphql/call/getCallsByInstrumentScientist.graphql
  apps/frontend/src/hooks/call/useInstrumentScientistCallsData.ts
Due: npm run lint:frontend

perf: return answers from answerTopic
  apps/backend/src/mutations/QuestionaryMutations.ts
Due: npm run lint:backend

Fetch less call, instrument, technique data
  apps/backend/src/datasources/TechniqueDataSource.ts
  apps/backend/src/datasources/mockups/TechniqueDataSource.ts
  apps/backend/src/datasources/postgres/TechniqueDataSource.ts
  apps/backend/src/queries/TechniqueQueries.ts
  apps/backend/src/resolvers/queries/TechniqueQuery.ts
  apps/frontend/src/components/common/proposalFilters/TechniqueFilter.tsx
  apps/frontend/src/components/xpress/XpressProposalFilterBar.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/components/xpress/useXpressInstrumentsData.ts
  apps/frontend/src/graphql/technique/getTechniquesByScientist.graphql
  apps/frontend/src/graphql/technique/getTechniquesMinimal.graphql
  apps/frontend/src/graphql/technique/techniqueMinimal.fragment.graphql
  apps/frontend/src/hooks/technique/useXpressTechniquesData.ts
Due: npm run lint:frontend, npm run lint:backend

Refactor datasource for performance
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

update frontend
  apps/backend/.env-old
  apps/backend/.env-stfc
  apps/backend/db_patches/p.patch
  apps/backend/src/buildContext.ts
  apps/backend/src/context/index.ts
  apps/backend/src/factory/pdf/proposal.ts
  apps/backend/src/factory/xlsx/proposal.ts
  apps/backend/src/populate/index.ts
  apps/backend/src/queries/ReviewQueries.ts
  apps/backend/src/resolvers/queries/TechnicalReviewsQuery.ts
  apps/backend/src/resolvers/types/Proposal.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/instruments.cy.ts
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
  apps/e2e/cypress/e2e/settings.cy.ts
  apps/frontend/src/components/AppRoutes.tsx
  apps/frontend/src/components/call/CallGeneralInfo.tsx
  apps/frontend/src/components/call/CreateUpdateCall.tsx
  apps/frontend/src/components/menu/TemplateMenuListItem.tsx
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/review/ProposalTechnicalReview.tsx
  apps/frontend/src/components/template/TechnicalReviewTemplatesPage.tsx
  apps/frontend/src/components/template/TechnicalReviewTemplatesTable.tsx
  apps/frontend/src/graphql/review/addTechnicalReview.graphql
  apps/frontend/src/graphql/review/assignTechnicalReviewToUser.graphql
  apps/frontend/src/graphql/review/submitTechnicalReviews.graphql
  apps/frontend/src/graphql/technicalReview/getTechnicalReviews.graphql
  apps/frontend/src/graphql/template/getTechnicalReviewTemplates.graphql
  apps/frontend/src/hooks/technicalReview/useTechnicalReviewData.ts
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

fix: update notification message about review submission
  apps/frontend/src/components/review/ReviewSummary.tsx
Due: npm run lint:frontend

perf: cut down on number calls in proposalSummary page
  apps/frontend/src/components/proposal/ProposalSummary.tsx
  apps/frontend/src/graphql/call/getCallSubmissionDetails.graphql
Due: npm run lint:frontend

perf: match answers on question id
  apps/frontend/src/components/questionary/QuestionaryStepView.tsx
  apps/frontend/src/models/questionary/QuestionarySubmissionState.ts
Due: npm run lint:frontend

Drop DROP TABLE MERGING_TABLE_REGISTRY;
  apps/backend/db_patches/0148_CreateUpdateUserIdFunc.sql
Due: none

Update
  apps/backend/db_patches/0148_CreateUpdateUserIdFunc.sql
Due: none

#1155: Drop stored procedure of merge user tool of the submission system
  apps/backend/db_patches/0166_DropUserMergeStoreProc.sql
Due: none

#1155: Move stored procedure script of merge user tool of the new submission system
  apps/backend/db_patches/0166_DropUserMergeStoreProc.sql
Due: none

perf: save status passed to draft state
  apps/frontend/src/components/questionary/QuestionaryStepView.tsx
  apps/frontend/src/models/questionary/QuestionarySubmissionState.ts
Due: npm run lint:frontend

perf: optimize getGenericTemplate in GenericTemplateDetails
  apps/frontend/src/graphql/genericTemplates/getGenericTemplateMinimal.graphql
  apps/frontend/src/hooks/genericTemplate/useGenericTemplate.ts
Due: npm run lint:frontend

rename getCallByAnswerId to getCallOfAnswersProposal
  apps/backend/src/datasources/CallDataSource.ts
  apps/backend/src/datasources/mockups/CallDataSource.ts
  apps/backend/src/datasources/postgres/CallDataSource.ts
  apps/backend/src/factory/pdf/proposal.ts
  apps/backend/src/queries/CallQueries.ts
  apps/backend/src/resolvers/queries/CallQuery.ts
Due: npm run lint:backend

fix backend filtering
  apps/backend/src/datasources/postgres/StatusActionsLogsDataSource.ts
  apps/backend/src/resolvers/types/StatusActionsLog.ts
Due: npm run lint:backend

fix frontend filtering
  apps/frontend/src/components/statusActionsLogs/StatusActionsLogsTable.tsx
  apps/frontend/src/graphql/statusActionsLogs/fragment.statusActionsLog.graphql
  apps/frontend/src/graphql/statusActionsLogs/getStatusActionsLogs.graphql
Due: npm run lint:frontend

remove testing logging
  apps/backend/src/datasources/postgres/StatusActionsLogsDataSource.ts
Due: npm run lint:backend

feat: add download dialog to fap document store
  apps/frontend/src/components/common/FileLink.tsx
  apps/frontend/src/context/DownloadContextProvider.tsx
Due: npm run lint:frontend

Fix scientist technique filter sorting
  apps/frontend/src/hooks/technique/useXpressTechniquesData.ts
Due: npm run lint:frontend
