Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

.lintstagedrc.json:

{
  "apps/e2e/**/*.{js,ts,jsx,tsx}": ["npm run lint:e2e"],
  "apps/frontend/**/*.{js,ts,jsx,tsx}": ["npm run lint:frontend"],
  "apps/backend/**/*.{js,ts,jsx,tsx}": ["npm run lint:backend"]
}

Remove unnecessary test restriction
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

initial changes in test case
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

fix: update branch name in deploy-docs-latest.yml
  .github/workflows/deploy-docs-latest.yml
Due: none

Update apps/backend/src/datasources/postgres/StatusActionsLogsDataSource.ts
  apps/backend/src/datasources/postgres/StatusActionsLogsDataSource.ts
Due: npm run lint:backend

Update apps/backend/src/statusActionEngine/emailActionHandler.ts
  apps/backend/src/statusActionEngine/emailActionHandler.ts
Due: npm run lint:backend

fix issues from comments
  apps/backend/db_patches/0162_AddStatusActionsLogsTables.sql
  apps/backend/src/datasources/postgres/StatusActionsLogsDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/StatusActionsLog.ts
  apps/backend/src/mutations/StatusActionsLogsMutations.ts
  apps/backend/src/queries/StatusActionsLogsQueries.spec.ts
  apps/backend/src/resolvers/queries/StatusActionsLogsQuery.ts
  apps/backend/src/resolvers/types/StatusActionsLog.ts
  apps/backend/src/statusActionEngine/emailActionHandler.ts
  apps/backend/src/statusActionEngine/statusActionUtils.ts
  apps/frontend/src/components/statusActionsLogs/StatusActionsLogsTable.tsx
  apps/frontend/src/graphql/statusActionsLogs/fragment.statusActionsLog.graphql
Due: npm run lint:frontend, npm run lint:backend

fix: download links not working
  apps/frontend/src/components/common/DownloadableFileList.tsx
  apps/frontend/src/components/common/FileLink.tsx
  apps/frontend/src/components/common/FileUploadComponent.tsx
Due: npm run lint:frontend

added a new method to fetch fap reviews of all the reviewers in a fap
  apps/backend/src/datasources/ReviewDataSource.ts
  apps/backend/src/datasources/postgres/ReviewDataSource.ts
Due: npm run lint:backend

call the new method when review is requested for all reviewers
  apps/backend/src/resolvers/types/User.ts
Due: npm run lint:backend

add action status filter for failed or successful
  apps/backend/src/datasources/postgres/StatusActionsLogsDataSource.ts
  apps/frontend/src/components/statusActionsLogs/StatusActionsLogsTable.tsx
  apps/frontend/src/components/statusActionsLogs/StatusActionsStatusFilter.tsx
Due: npm run lint:frontend, npm run lint:backend

query correction
  apps/backend/src/datasources/postgres/ReviewDataSource.ts
Due: npm run lint:backend

add action status filter e2e tests
  apps/e2e/cypress/e2e/statusActions.cy.ts
  apps/frontend/src/components/statusActionsLogs/StatusActionsLogsTable.tsx
Due: npm run lint:e2e, npm run lint:frontend

add pi status action to e2e tests
  apps/e2e/cypress/e2e/statusActions.cy.ts
Due: npm run lint:e2e

fix: download links not working (#731)
  apps/frontend/src/components/common/DownloadableFileList.tsx
  apps/frontend/src/components/common/FileLink.tsx
  apps/frontend/src/components/common/FileUploadComponent.tsx
Due: npm run lint:frontend

update status actions logs tests
  apps/e2e/cypress/e2e/statusActions.cy.ts
Due: npm run lint:e2e

update status actions logs tests to look for rows with data
  apps/e2e/cypress/e2e/statusActions.cy.ts
Due: npm run lint:e2e

update status actions logs tests filter by successful rows
  apps/e2e/cypress/e2e/statusActions.cy.ts
Due: npm run lint:e2e

update status actions logs tests filter
  apps/e2e/cypress/e2e/statusActions.cy.ts
Due: npm run lint:e2e

Enable Image plugin for Rich Text editors based on Question configuration
  apps/e2e/cypress/e2e/templatesAdvanced.cy.ts
  apps/e2e/cypress/e2e/templatesBasic.cy.ts
  apps/e2e/cypress/fixtures/template_export.json
  apps/e2e/cypress/types/template.d.ts
  apps/frontend/src/components/questionary/questionaryComponents/RichTextInput/QuestionaryComponentRichTextInput.tsx
Due: npm run lint:e2e, npm run lint:frontend

Update ELI Configuration
  apps/backend/src/config/eli/configureELIEnvironment.ts
Due: npm run lint:backend

Avoid resetting configuration value in staging, since it is only meant to be run in development
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/utils/helperFunctions.ts
Due: npm run lint:backend

changes in review filter selction
  apps/frontend/src/components/review/ProposalTableReviewer.tsx
Due: npm run lint:frontend

added custom sort to implement sorting in Experiment visitors table
  apps/frontend/src/components/experiment/ExperimentVisitsTable.tsx
Due: npm run lint:frontend

Implemented sorting in experiment visit table and added e2e test.
  apps/e2e/cypress/e2e/experiments.cy.ts
  apps/frontend/src/components/experiment/ExperimentVisitsTable.tsx
Due: npm run lint:e2e, npm run lint:frontend

Fix comment formatting on summary page
  apps/frontend/src/components/call/CallGeneralInfo.tsx
  apps/frontend/src/components/review/ReviewQuestionaryReview.tsx
Due: npm run lint:frontend

Update Rich Text Input sanitization
  apps/backend/src/models/questionTypes/RichTextInput.ts
Due: npm run lint:backend

added a new validation which checks if a user belongs to any of the faps a proposal is assigned to
  apps/backend/src/auth/ProposalAuthorization.ts
Due: npm run lint:backend

updated the test scenario where a fap reviewer can only view reviews of proposal in his/her fap where he/she is not a reviewer
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

Add link plugin to Editor
  apps/frontend/src/components/questionary/questionaryComponents/RichTextInput/QuestionaryComponentRichTextInput.tsx
Due: npm run lint:frontend

Fix review findings
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/ExternalReviews.tsx
  apps/frontend/src/components/questionary/QuestionaryStepView.tsx
  apps/frontend/src/components/questionary/questionaryComponents/FapReviewBasis/QuestionaryComponentFapReviewBasis.tsx
Due: npm run lint:frontend

Remove upload handler
  apps/frontend/src/components/questionary/questionaryComponents/RichTextInput/QuestionaryComponentRichTextInput.tsx
Due: npm run lint:frontend

fix: Remove none inst picker option
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/QuestionaryComponentInstrumentPicker.tsx
Due: npm run lint:frontend

add call filter by id in the backend for status action logs
  apps/backend/src/datasources/postgres/StatusActionsLogsDataSource.ts
  apps/backend/src/resolvers/queries/StatusActionsLogsQuery.ts
Due: npm run lint:backend

adding the new method in mockup
  apps/backend/src/datasources/mockups/ReviewDataSource.ts
Due: npm run lint:backend

add call filter to status action logs
  apps/frontend/src/components/statusActionsLogs/StatusActionsLogsTable.tsx
Due: npm run lint:frontend

Fix e2e tests
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/calls.cy.ts
Due: npm run lint:e2e
