Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

.lintstagedrc.json:

{
  "apps/e2e/**/*.{js,ts,jsx,tsx}": ["npm run lint:e2e"],
  "apps/frontend/**/*.{js,ts,jsx,tsx}": ["npm run lint:frontend"],
  "apps/backend/**/*.{js,ts,jsx,tsx}": ["npm run lint:backend"]
}

Add logic for changing Xpress statuses
  apps/backend/src/mutations/ProposalMutations.ts
  apps/backend/src/resolvers/mutations/ChangeXpressProposalsStatusMutation.ts
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/graphql/proposal/changeXpressProposalsStatus.graphql
Due: npm run lint:frontend, npm run lint:backend

Add unit tests
  apps/backend/src/mutations/ProposalMutations.spec.ts
Due: npm run lint:backend

remove unused query
  apps/frontend/src/graphql/fap/getFaps.graphql
Due: none

Add more tests
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/mutations/ProposalMutations.spec.ts
Due: npm run lint:backend

perf: remove unnecessary call on homepage
  apps/frontend/src/components/PageLayout.tsx
  apps/frontend/src/components/menu/MenuItems.tsx
  apps/frontend/src/components/proposal/ProposalChooseCall.tsx
Due: npm run lint:frontend

stashing changes to reset laptop
  .gitignore
  .prettierignore
  apps/backend/openapi.yaml
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/auth/StfcUserAuthorization.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/backend/src/datasources/stfc/UOWSClient.ts
  apps/backend/src/datasources/stfc/UOWSSoapInterface.ts
Due: npm run lint:backend

Last changes for rest migration
  apps/backend/src/auth/StfcUserAuthorization.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
Due: npm run lint:backend

feat: serverside pagination for the questions table done
  apps/backend/src/datasources/TemplateDataSource.ts
  apps/backend/src/datasources/mockups/TemplateDataSource.ts
  apps/backend/src/datasources/postgres/TemplateDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/queries/TemplateQueries.ts
  apps/backend/src/resolvers/queries/QuestionsQuery.ts
  apps/e2e/cypress/e2e/questions.cy.ts
  apps/frontend/src/components/template/QuestionsPage.tsx
  apps/frontend/src/components/template/QuestionsTableFilter.tsx
  apps/frontend/src/graphql/template/getAllQuestions.graphql
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

fix test
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

fix: marking template as active without needing to refresh the page (#799)
  apps/e2e/cypress/e2e/templatesBasic.cy.ts
  apps/frontend/src/components/template/withMarkTemplateAsActiveAction.tsx
Due: npm run lint:e2e, npm run lint:frontend

Give special permissions to user officers
  apps/backend/src/mutations/ProposalMutations.spec.ts
  apps/backend/src/mutations/ProposalMutations.ts
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend, npm run lint:backend

Add Xpress statuses in db patch
  apps/backend/db_patches/0165_CreateXpressStatuses.sql
  apps/e2e/cypress/e2e/xpress.cy.ts
  apps/e2e/cypress/support/initialDBData.ts
Due: npm run lint:e2e

perf: dynamically load pages content from footers
  apps/backend/db_patches/0165_PageFooterDisplaySettings.sql
  apps/backend/src/config/eli/configureELIEnvironment.ts
  apps/backend/src/config/ess/configureESSEnvironment.ts
  apps/backend/src/config/stfc/configureSTFCEnvironment.ts
  apps/backend/src/models/Settings.ts
  apps/frontend/src/components/PageLayout.tsx
  apps/frontend/src/components/pages/InformationModal.tsx
Due: npm run lint:frontend, npm run lint:backend

remove .only from test
  apps/backend/db_patches/0165_PageFooterDisplaySettings.sql
  apps/e2e/cypress/e2e/predefinedMessages.cy.ts
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/e2e/cypress/e2e/templatesBasic.cy.ts
Due: npm run lint:e2e

Handle expired Xpress proposals
  apps/backend/src/mutations/ProposalMutations.spec.ts
  apps/backend/src/mutations/ProposalMutations.ts
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend, npm run lint:backend

feat: enhance GraphQL metrics with response size tracking and update Grafana dashboard
  apps/backend/src/middlewares/metrics/apolloServerMetricsPlugin.ts
  metrics/grafana/dashboards/example-graphql-http-dashboard.json
Due: npm run lint:backend

Revert "Add Xpress statuses in db patch"
  apps/backend/db_patches/0165_CreateXpressStatuses.sql
  apps/e2e/cypress/e2e/xpress.cy.ts
  apps/e2e/cypress/support/initialDBData.ts
Due: npm run lint:e2e

Add status filter e2e check
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

Remove the unassigning part
  apps/backend/src/mutations/InstrumentMutations.ts
  apps/backend/src/resolvers/mutations/AssignProposalsToInstrumentsMutation.ts
  apps/e2e/cypress/e2e/xpress.cy.ts
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/graphql/instrument/removeXpressProposalsFromInstrument.graphql
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Fix review comments
  apps/backend/src/mutations/InstrumentMutations.ts
  apps/backend/src/resolvers/mutations/AssignProposalsToInstrumentsMutation.ts
Due: npm run lint:backend

Refactoring The xpress check logic
  apps/backend/src/datasources/TechniqueDataSource.ts
  apps/backend/src/datasources/mockups/TechniqueDataSource.ts
  apps/backend/src/datasources/postgres/TechniqueDataSource.ts
  apps/backend/src/mutations/TechniqueMutations.ts
  apps/backend/src/resolvers/mutations/AssignProposalsToInstrumentsMutation.ts
Due: npm run lint:backend

Logic correction
  apps/backend/src/mutations/InstrumentMutations.ts
Due: npm run lint:backend

Adding checks for xpress instruments
  apps/backend/src/datasources/TechniqueDataSource.ts
  apps/backend/src/datasources/mockups/TechniqueDataSource.ts
  apps/backend/src/datasources/postgres/TechniqueDataSource.ts
  apps/backend/src/mutations/TechniqueMutations.ts
  apps/backend/src/resolvers/mutations/AssignProposalsToInstrumentsMutation.ts
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e, npm run lint:backend

Missed commit
  apps/backend/src/datasources/mockups/TechniqueDataSource.ts
Due: npm run lint:backend

Add rejection logic
  apps/backend/src/datasources/postgres/TechniqueDataSource.ts
  apps/backend/src/resolvers/mutations/AssignProposalsToInstrumentsMutation.ts
Due: npm run lint:backend

Assign instruments to xpress proposals
  apps/backend/src/datasources/TechniqueDataSource.ts
  apps/backend/src/datasources/mockups/TechniqueDataSource.ts
  apps/backend/src/datasources/postgres/TechniqueDataSource.ts
  apps/backend/src/mutations/InstrumentMutations.ts
  apps/backend/src/mutations/TechniqueMutations.ts
  apps/backend/src/resolvers/mutations/AssignProposalsToInstrumentsMutation.ts
  apps/e2e/cypress/e2e/xpress.cy.ts
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/graphql/instrument/assignXpressProposalsToInstruments.graphql
  apps/frontend/src/graphql/instrument/removeXpressProposalsFromInstrument.graphql
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

feat: assign instruments to Xpress proposals (#824)
  apps/backend/src/datasources/postgres/TechniqueDataSource.ts
  apps/backend/src/mutations/InstrumentMutations.ts
  apps/backend/src/resolvers/mutations/AssignProposalsToInstrumentsMutation.ts
  apps/e2e/cypress/e2e/xpress.cy.ts
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/graphql/instrument/assignXpressProposalsToInstruments.graphql
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Populate more fields
  apps/backend/src/factory/DownloadService.ts
  apps/backend/src/factory/xlsx/proposal.ts
  apps/backend/src/middlewares/factory/xlsx.ts
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/context/DownloadContextProvider.tsx
  apps/frontend/src/hooks/proposal/useDownloadXLSXProposal.ts
Due: npm run lint:frontend, npm run lint:backend

Add option to export xpress proposals
  apps/backend/src/factory/DownloadService.ts
  apps/backend/src/factory/xlsx/proposal.ts
  apps/backend/src/middlewares/factory/xlsx.ts
  apps/e2e/cypress/e2e/xpress.cy.ts
  apps/frontend/src/context/DownloadContextProvider.tsx
  apps/frontend/src/hooks/proposal/useDownloadXLSXProposal.ts
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Initial commit
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Adding select all option
  apps/backend/src/middlewares/factory/xlsx.ts
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/graphql/proposal/getTechniqueScientistProposalsBasic.graphql
Due: npm run lint:frontend, npm run lint:backend

Correct filters
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Add view proposal button
  apps/e2e/cypress/e2e/xpress.cy.ts
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:e2e, npm run lint:frontend

feat: improve HTTP metrics collection and update Grafana dashboard queries
  apps/backend/src/middlewares/metrics/metrics.ts
  metrics/grafana/dashboards/example-graphql-http-dashboard.json
Due: npm run lint:backend

Match status short codes in frontend
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

feat: remove comment
  apps/backend/src/middlewares/metrics/apolloServerMetricsPlugin.ts
Due: npm run lint:backend

only add user id's when a feature flag is set
  apps/backend/db_patches/0164_UserIdInApiMetadataFeature.sql
  apps/backend/src/config/stfc/configureSTFCEnvironment.ts
  apps/backend/src/models/Feature.ts
  apps/frontend/src/hooks/common/useDataApi.ts
Due: npm run lint:frontend, npm run lint:backend

Fix current status issue
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

perf: fetch less data on the get faps query (#833)
  apps/frontend/src/components/fap/FapsTable.tsx
  apps/frontend/src/graphql/fap/fragment.fapMinimal.graphql
  apps/frontend/src/graphql/fap/getFapsMinimal.graphql
  apps/frontend/src/graphql/fap/getMemberFaps.graphql
  apps/frontend/src/hooks/fap/useFapsData.ts
Due: npm run lint:frontend
