Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

chore: update Node.js version to 22.14.0 in Dockerfiles
  apps/backend/Dockerfile
  apps/backend/Dockerfile.dev
  apps/frontend/Dockerfile
  apps/frontend/Dockerfile.dev
Due: none

prevent fap chair to view comment through faps tab
  apps/backend/src/mutations/FapMutations.ts
  apps/frontend/src/components/review/ProposalReviewContent.tsx
Due: npm run lint:frontend, npm run lint:backend

chore: update npm engine version to 10.9.2 in package.json files
  apps/backend/package.json
  apps/e2e/package.json
  apps/frontend/package.json
Due: none

refactor: replace CoProposer and Role claim authorizations with Proposal authorization in InviteMutations
  apps/backend/src/auth/CoProposerClaimAuthorization.ts
  apps/backend/src/auth/RoleClaimAuthorization.ts
  apps/backend/src/config/dependencyConfigDefault.ts
  apps/backend/src/config/dependencyConfigE2E.ts
  apps/backend/src/config/dependencyConfigELI.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/mutations/InviteMutations.ts
Due: npm run lint:backend

Update apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

refactor: remove RoleClaimAuthorization from Tokens configuration
  apps/backend/src/config/Tokens.ts
Due: npm run lint:backend

Renaming esi to expeirmentSafety
  apps/backend/src/auth/ExperimentSafetyAuthorization.ts
Due: npm run lint:backend

Removed console logs
  apps/frontend/src/components/proposalBooking/UserUpcomingExperimentsTable.tsx
  apps/frontend/src/components/settings/proposalStatus/CreateUpdateProposalStatus.tsx
Due: npm run lint:frontend

feat: add user role selection at login
  apps/backend/db_patches/0172_Add_Role_Descriptions.sql
  apps/backend/src/auth/ProposalAuthorization.spec.ts
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/mockups/UserDataSource.ts
  apps/backend/src/datasources/postgres/UserDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.spec.ts
  apps/backend/src/models/Role.ts
  apps/backend/src/resolvers/types/Role.ts
  apps/backend/src/resolvers/types/User.ts
  apps/frontend/src/components/AppToolbar/AccountActionButton.tsx
  apps/frontend/src/components/AppToolbar/RoleSelection.tsx
  apps/frontend/src/components/fap/Proposals/AssignFapMemberToProposalModal.tsx
  apps/frontend/src/components/user/PeopleTable.tsx
  apps/frontend/src/graphql/user/getMyRoles.graphql
  apps/frontend/src/graphql/user/getRoles.graphql
  apps/frontend/src/graphql/user/getUserWithRoles.graphql
Due: npm run lint:frontend, npm run lint:backend

refactor: update findByInviteId method to return an array of CoProposerClaims and remove CreateInviteMutation
  apps/backend/src/datasources/CoProposerClaimDataSource.ts
  apps/backend/src/datasources/mockups/CoProposerClaimDataSource.ts
  apps/backend/src/datasources/postgres/CoProposerClaimDataSource.ts
  apps/backend/src/eventHandlers/messageBroker.ts
  apps/backend/src/mutations/InviteMutations.spec.ts
  apps/backend/src/mutations/InviteMutations.ts
  apps/backend/src/queries/InvitesQueries.spec.ts
  apps/backend/src/resolvers/mutations/CreateInviteMutation.ts
Due: npm run lint:backend

Cleanup
  apps/backend/db_patches/db_seeds/0004_Experiments.sql
  apps/backend/db_patches/db_seeds/0004_ScheduledEvents.sql
  apps/backend/src/config/Tokens.ts
  apps/backend/src/datasources/ExperimentDataSource.ts
  apps/backend/src/datasources/mockups/ExperimentDataSource.ts
  apps/backend/src/datasources/mockups/FeedbackDataSource.ts
  apps/backend/src/datasources/postgres/ExperimentDataSource.ts
  apps/backend/src/datasources/postgres/FeedbackDataSource.ts
  apps/backend/src/mutations/ExperimentMutation.ts
  apps/backend/src/resolvers/mutations/RequestFeedbackMutation.ts
  apps/backend/src/resolvers/mutations/SubmitExperimentSafetyMutation.ts
  apps/backend/src/resolvers/registerEnums.ts
  apps/backend/src/resolvers/types/ProposalBooking.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/experiments.cy.ts
  apps/e2e/cypress/e2e/proposalEsi.cy.ts
  apps/e2e/cypress/e2e/scheduler.cy.ts
  apps/e2e/cypress/e2e/shipments.cy.ts
  apps/e2e/cypress/e2e/templateDeleteAndArchive.cy.ts
  apps/e2e/cypress/e2e/visits.cy.ts
  apps/e2e/cypress/support/initialDBData.ts
  apps/e2e/cypress/support/proposal.ts
  apps/e2e/cypress/support/utils.ts
  apps/e2e/cypress/types/proposal.d.ts
  apps/frontend/src/hooks/scheduledEvent/useScheduledEventWithShipments.txt
Due: npm run lint:e2e, npm run lint:backend

fixing existing test case
  apps/backend/db_patches/db_seeds/0004_Experiments.sql
  apps/e2e/cypress/e2e/experiments.cy.ts
  apps/frontend/src/components/questionary/questionaryComponents/ProposalEsiBasis/ProposalEsiDetailsButton.tsx
Due: npm run lint:e2e, npm run lint:frontend

re-add check
  apps/backend/src/mutations/FapMutations.ts
Due: npm run lint:backend

remove irrelevant check
  apps/backend/src/mutations/FapMutations.ts
Due: npm run lint:backend

fix: change access to private technical comments (#991)
  apps/backend/package-lock.json
  apps/backend/src/auth/ProposalAuthorization.ts
  apps/backend/src/auth/TechnicalReviewAuthorization.ts
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/mutations/ProposalMutations.ts
  apps/backend/src/mutations/ReviewMutations.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/frontend/src/components/fap/Proposals/FapAssignedReviewersTable.tsx
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/components/review/ProposalReviewContent.tsx
  apps/frontend/src/components/review/ProposalTechnicalReview.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

wip
  apps/e2e/cypress/e2e/facility.cy.ts
  apps/e2e/cypress/support/e2e.ts
  apps/e2e/cypress/support/facility.ts
  apps/e2e/cypress/types/facility.d.ts
  apps/frontend/src/components/facility/FacilityDetailsPanel.tsx
  apps/frontend/src/components/facility/FacilityTable.tsx
  apps/frontend/src/components/facility/SelectInstrumentModel.tsx
Due: npm run lint:e2e, npm run lint:frontend

fix selection
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
Due: npm run lint:frontend

chore: update muhammara to version 5.3.0 and npm engine to 10.9.2
  apps/backend/package-lock.json
  apps/backend/package.json
Due: none

fix: replace .type() with .invoke('text') for PDF template data input for flaky test
  apps/e2e/cypress/e2e/pdfTemplates.cy.ts
Due: npm run lint:e2e

chore: update npm engine version to 10.9.2 in package-lock.json files
  apps/backend/package-lock.json
  apps/e2e/package-lock.json
  apps/frontend/package-lock.json
Due: none

fix: ensure download dialog does not appear during FAP meeting exports and clean up files after download
  apps/e2e/cypress.config.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/support/fileUtilTasks.ts
Due: npm run lint:e2e

refactor: keep fap proposals loaded between tab changes (#990)
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/frontend/src/components/fap/FapPage.tsx
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsView.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/hooks/fap/useFapProposalsData.ts
Due: npm run lint:e2e, npm run lint:frontend

add new env variables
  apps/backend/src/config/dependencyConfigELI.ts
  apps/backend/src/eventHandlers/MailService/MSGraphAPIMailService.ts
  apps/backend/src/eventHandlers/MailService/NodeMailerMailService.ts
  apps/backend/src/eventHandlers/MailService/SMTPMailService.ts
  apps/backend/src/eventHandlers/MailService/http.api
  apps/backend/src/eventHandlers/email/eliEmailHandler.ts
Due: npm run lint:backend

fix: update dev:e2e scripts to use ts-node instead of ts-node-dev
  apps/backend/package.json
Due: none

fix: use same install as for build and push
  package.json
Due: none

fix: update dev:e2e scripts to use ts-node with swc for improved performance
  apps/backend/package.json
Due: none

fix: update dev:e2e scripts to use ts-node with type checking for improved reliability
  apps/backend/package.json
Due: none

feat: add invite validity period setting and update invite expiration logic
  apps/backend/db_patches/0173_InviteValidityPeriod.sql
  apps/backend/src/datasources/mockups/AdminDataSource.ts
  apps/backend/src/datasources/postgres/AdminDataSource.ts
  apps/backend/src/eventHandlers/email/essEmailHandler.ts
  apps/backend/src/models/Settings.ts
  apps/backend/src/mutations/InviteMutations.spec.ts
  apps/backend/src/mutations/InviteMutations.ts
Due: npm run lint:backend

chore: remove newman dependency from backend package.json
  apps/backend/package-lock.json
  apps/backend/package.json
Due: none

test: update getSettings test to check for non-empty settings array
  apps/backend/src/queries/AdminQueries.spec.ts
Due: npm run lint:backend

feat: add possibility to use pooled SMTP connections
  apps/backend/src/eventHandlers/MailService/SMTPMailService.ts
Due: npm run lint:backend

Added logic to delete records from visits, shipments, feedbacks
  apps/backend/db_patches/0173_VisitsUpdate.sql
  apps/backend/db_patches/0174_FeedbacksUpdate.sql
  apps/backend/db_patches/0175_ShipmentsUpdate.sql
Due: none

Reverting removal of default value for esiTemplateID.
  apps/backend/src/datasources/mockups/CallDataSource.ts
  apps/backend/src/mutations/ExperimentMutation.spec.ts
Due: npm run lint:backend

Removed unnecessary comments
  apps/backend/src/datasources/mockups/ExperimentDataSource.ts
Due: npm run lint:backend

Removed unused variable
  apps/backend/src/eventHandlers/messageBroker.ts
Due: npm run lint:backend

add null check before invoking getTime() on date fields
  apps/backend/src/asyncJobs/jobs/checkAllCallsEnded.ts
  apps/backend/src/asyncJobs/jobs/checkCallsFAPReviewEnded.ts
  apps/backend/src/asyncJobs/jobs/checkCallsReviewEnded.ts
Due: npm run lint:backend

prettier fix
  apps/backend/src/asyncJobs/jobs/checkCallsFAPReviewEnded.ts
Due: npm run lint:backend

Spell check
  apps/backend/src/mutations/ExperimentMutation.spec.ts
  apps/backend/src/mutations/ExperimentMutation.ts
Due: npm run lint:backend

Handling undefined case
  apps/backend/src/mutations/ExperimentMutation.ts
Due: npm run lint:backend

Path conditions:
  npm run lint:e2e: any of: apps/e2e/**/*.{js,ts,jsx,tsx}
  npm run lint:frontend: any of: apps/frontend/**/*.{js,ts,jsx,tsx}
  npm run lint:backend: any of: apps/backend/**/*.{js,ts,jsx,tsx}
