Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

.lintstagedrc.json:

{
  "apps/e2e/**/*.{js,ts,jsx,tsx}": ["npm run lint:e2e"],
  "apps/frontend/**/*.{js,ts,jsx,tsx}": ["npm run lint:frontend"],
  "apps/backend/**/*.{js,ts,jsx,tsx}": ["npm run lint:backend"]
}

fix: fixing tests and inputs after validation upgrade
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/resolvers/mutations/AdministrationProposalMutation.ts
  apps/e2e/cypress/e2e/experiments.cy.ts
  apps/e2e/cypress/e2e/proposalEsi.cy.ts
  apps/e2e/cypress/e2e/shipments.cy.ts
  apps/e2e/cypress/e2e/visits.cy.ts
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/graphql/proposal/administrationProposal.graphql
Due: npm run lint:e2e, npm run lint:backend

use fixed version of duo-validation to fix the tests for now
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: none

fix: fixing tests and inputs after validation upgrade (#566)
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/resolvers/mutations/AdministrationProposalMutation.ts
  apps/e2e/cypress/e2e/experiments.cy.ts
  apps/e2e/cypress/e2e/proposalEsi.cy.ts
  apps/e2e/cypress/e2e/shipments.cy.ts
  apps/e2e/cypress/e2e/visits.cy.ts
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/graphql/proposal/administrationProposal.graphql
Due: npm run lint:e2e, npm run lint:backend

try to use an action for auto approve PRs
  .github/workflows/auto-merge-dependabot.yml
Due: none

change the name
  .github/workflows/auto-merge-dependabot.yml
Due: none

surname search functionality for selecting internal reviewers
  apps/e2e/cypress/e2e/internalReviews.cy.ts
  apps/frontend/src/components/internalReview/CreateUpdateInternalReview.tsx
Due: npm run lint:e2e, npm run lint:frontend

Whitelist schedular
  .github/workflows/test-build.yml
  apps/backend/src/middlewares/factory/pdf/download.ts
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
Due: npm run lint:e2e, npm run lint:backend

fix(instrument picker): fix instrument picker bug, upgrade its validation and cover it with e2e test
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/models/questionTypes/InstrumentPicker.ts
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: npm run lint:e2e, npm run lint:backend

Test fix
  apps/e2e/cypress.config.ts
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
  apps/e2e/cypress/support/fileUtilTasks.ts
  apps/e2e/package-lock.json
  apps/e2e/package.json
Due: npm run lint:e2e

Change pdf zip filename
  .github/workflows/test-build.yml
  apps/backend/src/middlewares/factory/pdf/download.ts
Due: npm run lint:backend

Label change
  apps/frontend/src/components/proposal/TableActionsDropdownMenu.tsx
Due: npm run lint:frontend

Add option to download as zip
  apps/backend/src/factory/service.ts
  apps/backend/src/middlewares/factory/zip.ts
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/components/proposal/TableActionsDropdownMenu.tsx
  apps/frontend/src/context/DownloadContextProvider.tsx
  apps/frontend/src/hooks/proposal/useDownloadPDFProposal.ts
Due: npm run lint:frontend, npm run lint:backend

Test fix
  apps/e2e/cypress/support/fileUtilTasks.ts
Due: npm run lint:e2e

Fix test
  apps/e2e/cypress/e2e/instruments.cy.ts
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
Due: npm run lint:e2e

e2e tests
  apps/backend/src/middlewares/factory/zip.ts
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/components/proposal/TableActionsDropdownMenu.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Test fix
  apps/e2e/cypress/e2e/instruments.cy.ts
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
Due: npm run lint:e2e

File name changed
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
Due: npm run lint:e2e

Fix review comments
  apps/backend/src/middlewares/factory/zip.ts
  apps/frontend/src/hooks/proposal/useDownloadPDFProposal.ts
Due: npm run lint:frontend, npm run lint:backend

Review comment
  apps/backend/src/middlewares/factory/pdf/download.ts
Due: npm run lint:backend

e2e tests
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
Due: npm run lint:e2e

#1005: Fix issue to find the existing embellishment questions in questionary drawer
  apps/frontend/src/components/template/QuestionPicker.tsx
Due: npm run lint:frontend

disable the USER_SEARCH_FILTER feature for ESS config
  apps/backend/src/config/ess/configureESSEnvironment.ts
  apps/e2e/cypress/e2e/internalReviews.cy.ts
  apps/frontend/src/components/internalReview/CreateUpdateInternalReview.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

fixing instrument test cases
  apps/e2e/cypress/e2e/instruments.cy.ts
  apps/frontend/src/components/instrument/CreateUpdateInstrument.tsx
Due: npm run lint:e2e, npm run lint:frontend

fixing instrument test cases
  apps/e2e/cypress/e2e/instruments.cy.ts
Due: npm run lint:e2e

fix and improve after PR review feedback
  README.md
  apps/backend/example.development.env
  apps/backend/src/config/dependencyConfigDefault.ts
  apps/backend/src/config/index.ts
  docker-compose.yml
Due: npm run lint:backend

reverts cypress config
  apps/e2e/cypress.config.ts
Due: npm run lint:e2e

fix(instrument picker): fix instrument picker bug, upgrade its validation and cover it with e2e test (#570)
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/models/questionTypes/InstrumentPicker.ts
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: npm run lint:e2e, npm run lint:backend

Change variable name
  apps/backend/src/middlewares/factory/pdf/download.ts
Due: npm run lint:backend

Corrections
  .github/workflows/test-build.yml
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
Due: npm run lint:e2e

Error fix
  apps/backend/src/middlewares/factory/pdf/download.ts
Due: npm run lint:backend

BREAKING CHANGE: multiple FAPs per proposal
  apps/backend/db_patches/0151_MultipleFapPerProposal.sql
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/Fap.ts
  apps/backend/src/models/ProposalView.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/backend/src/resolvers/mutations/AssignProposalsToFapsMutation.ts
  apps/backend/src/resolvers/types/FapProposal.ts
  apps/backend/src/resolvers/types/ProposalView.ts
  apps/frontend/src/components/common/FormikUIAutocomplete.tsx
  apps/frontend/src/components/fap/Proposals/AssignProposalsToFaps.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/graphql/fap/assignProposalsToFap.graphql
  apps/frontend/src/graphql/fap/assignProposalsToFaps.graphql
  apps/frontend/src/graphql/fap/removeProposalsFromFap.graphql
  apps/frontend/src/graphql/fap/removeProposalsFromFaps.graphql
  apps/frontend/src/graphql/proposal/getInstrumentScientistProposals.graphql
  apps/frontend/src/graphql/proposal/getProposalsCore.graphql
  apps/frontend/src/utils/helperFunctions.tsx
Due: npm run lint:frontend, npm run lint:backend

fix(ci): fix PR title checker regex to support dependabot titles
  .github/pr-title-checker-config.json
Due: none

rename some leftovers
  apps/backend/src/utils/jwt.ts
Due: npm run lint:backend

fix(db_patches): add missing technical reviews on proposals that are already assigned to an instrument (#564)
  apps/backend/db_patches/0151_AddMissingTechnicalReviewsOnProposalsAssignedToInstrument.sql
Due: none

fix(ci): fix PR title checker regex to support dependabot titles (#574)
  .github/pr-title-checker-config.json
Due: none

BREAKING CHANGE: add base dependency config and standardize env variable naming (#548)
  .github/workflows/test-build.yml
  README.md
  apps/backend/docker-compose-stfc.e2e.yml
  apps/backend/example.development.env
  apps/backend/src/config/base/configureBaseEnvironment.ts
  apps/backend/src/config/dependencyConfigDefault.ts
  apps/backend/src/config/index.ts
  apps/backend/src/eventHandlers/messageBroker.ts
  apps/backend/src/middlewares/authorization.ts
  apps/backend/src/mutations/UserMutations.spec.ts
  apps/backend/src/utils/jwt.ts
  docker-compose.yml
Due: npm run lint:backend
