Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

.lintstagedrc.json:

{
  "apps/e2e/**/*.{js,ts,jsx,tsx}": ["npm run lint:e2e"],
  "apps/frontend/**/*.{js,ts,jsx,tsx}": ["npm run lint:frontend"],
  "apps/backend/**/*.{js,ts,jsx,tsx}": ["npm run lint:backend"]
}

Removing comments that needed.
  apps/frontend/src/components/call/AssignInstrumentsToCall.tsx
Due: npm run lint:frontend

Fixing e2e type
  apps/e2e/cypress/e2e/SEP.cy.ts
  apps/e2e/cypress/e2e/calls.cy.ts
  apps/e2e/cypress/e2e/instruments.cy.ts
  apps/e2e/cypress/e2e/internalReviews.cy.ts
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/e2e/cypress/e2e/scheduler.cy.ts
Due: npm run lint:e2e

Test case alteration based on the change of requirement
  apps/e2e/cypress/e2e/SEP.cy.ts
  apps/e2e/cypress/e2e/calls.cy.ts
Due: npm run lint:e2e

fixing test case backend.
  apps/backend/src/mutations/CallMutations.spec.ts
  apps/backend/src/resolvers/mutations/UpdateCallMutation.ts
Due: npm run lint:backend

optimisation: added useCAllback for improving performance.
  apps/frontend/src/components/call/CallsTable.tsx
Due: npm run lint:frontend

fix backend tests
  apps/backend/src/mutations/CallMutations.spec.ts
Due: npm run lint:backend

wip
  apps/backend/src/datasources/postgres/InstrumentDataSource.ts
  apps/backend/src/mutations/SEPMutations.ts
  apps/backend/src/resolvers/mutations/AssignProposalsToSepMutation.ts
Due: npm run lint:backend

Event has been attached with SEP automatic assignment with proposa.
  apps/backend/src/datasources/CallDataSource.ts
  apps/backend/src/datasources/ProposalDataSource.ts
  apps/backend/src/datasources/mockups/CallDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/CallDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/Call.ts
  apps/backend/src/mutations/SEPMutations.ts
  apps/backend/src/resolvers/mutations/AssignProposalsToInstrumentMutation.ts
Due: npm run lint:backend

Fix lint issues.
  apps/frontend/src/components/call/CallsTable.tsx
Due: npm run lint:frontend

Revert "fix backend tests"
  apps/backend/src/mutations/CallMutations.spec.ts
Due: npm run lint:backend

Removing commented code.
  apps/backend/src/datasources/postgres/InstrumentDataSource.ts
Due: npm run lint:backend

wip export seps data based on context
  apps/backend/src/config/Tokens.ts
  apps/backend/src/config/dependencyConfigE2E.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/factory/xlsx/SEPDataRow.ts
  apps/backend/src/factory/xlsx/StfcSEPDataRow.ts
  apps/backend/src/factory/xlsx/sep.ts
Due: npm run lint:backend

fix: The AddDefaultWorkflowToTheDefaultCall database patch has been fixed
  apps/backend/db_patches/0137_AddDefaultWorkflowToTheDefaultCall.sql
Due: none

wip export sep data
  apps/backend/src/config/dependencyConfigE2E.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/factory/xlsx/SEPDataRow.ts
  apps/backend/src/factory/xlsx/StfcSEPDataRow.ts
  apps/backend/src/factory/xlsx/sep.ts
  apps/backend/src/middlewares/factory/xlsx.ts
Due: npm run lint:backend

WIP
  apps/e2e/cypress/e2e/SEP.cy.ts
Due: npm run lint:e2e

Moved CallHasInstrument to a separate file.
  apps/backend/src/datasources/CallDataSource.ts
  apps/backend/src/datasources/mockups/CallDataSource.ts
  apps/backend/src/datasources/postgres/CallDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/Call.ts
  apps/backend/src/models/CallHasInstrument.ts
Due: npm run lint:backend

Make sepId nullable.
  apps/backend/src/models/CallHasInstrument.ts
Due: npm run lint:backend

adds back columns and row code
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/factory/xlsx/SEPDataColumns.ts
  apps/backend/src/factory/xlsx/StfcSEPDataColumns.ts
  apps/backend/src/factory/xlsx/sep.ts
  apps/backend/src/middlewares/factory/xlsx.ts
Due: npm run lint:backend

fixes row population for sep data
  apps/backend/src/config/Tokens.ts
  apps/backend/src/config/dependencyConfigE2E.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/factory/xlsx/SEPDataRow.ts
  apps/backend/src/factory/xlsx/sep.ts
Due: npm run lint:backend

Number of calls number displayed in PDF Templates table.
  apps/backend/src/datasources/postgres/CallDataSource.ts
  apps/backend/src/resolvers/queries/CallsQuery.ts
  apps/backend/src/resolvers/types/Template.ts
  apps/frontend/src/components/template/PdfTemplatesPage.tsx
  apps/frontend/src/components/template/PdfTemplatesTable.tsx
  apps/frontend/src/graphql/template/getPdfTemplates.graphql
  apps/frontend/src/models/questionary/QuestionaryEditorModel.ts
Due: npm run lint:frontend, npm run lint:backend

fix whitspace, remove comment
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/middlewares/factory/xlsx.ts
Due: npm run lint:backend

Code optimisation.
  apps/frontend/src/components/template/PdfTemplatesTable.tsx
  apps/frontend/src/components/template/ProposalTemplatesTable.tsx
Due: npm run lint:frontend

Fixing test case
  apps/backend/src/mutations/CallMutations.spec.ts
Due: npm run lint:backend

e2e test case for Proposal SEP assignment, while assigning instrument.
  apps/e2e/cypress/e2e/SEP.cy.ts
Due: npm run lint:e2e

fix: deactivate call if call has SEPs
  apps/backend/package.json
  apps/backend/src/datasources/postgres/CallDataSource.ts
  apps/backend/src/mutations/CallMutations.ts
  apps/backend/src/resolvers/mutations/UpdateCallMutation.ts
  apps/frontend/src/components/call/CallsTable.tsx
  apps/frontend/src/components/call/CreateUpdateCall.tsx
  apps/frontend/src/graphql/call/updateCall.graphql
Due: npm run lint:frontend, npm run lint:backend

Make firstname visible if no preferred name
  apps/frontend/src/components/proposal/ProposalParticipant.tsx
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/utils/user.ts
Due: npm run lint:frontend

Removed preferredname from certain components
  apps/frontend/src/components/instrument/AssignedScientistsTable.tsx
  apps/frontend/src/components/proposal/ProposalParticipant.tsx
  apps/frontend/src/components/proposal/ProposalParticipants.tsx
  apps/frontend/src/utils/user.ts
Due: npm run lint:frontend

Build error fixes
  apps/frontend/src/components/proposal/ProposalParticipant.tsx
  apps/frontend/src/components/proposal/ProposalParticipants.tsx
Due: npm run lint:frontend

chore: set dependabot updates on sunday
  .github/dependabot.yml
Due: none

refactor: user create cleanup and fixing review comments
  apps/backend/api_tests/tests.json
  apps/backend/example.development.env
  apps/backend/src/asyncJobs/jobs/checkCallsReviewEnded.ts
  apps/backend/src/asyncJobs/jobs/checkCallsSEPReviewEnded.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/datasources/postgres/UserDataSource.ts
  apps/backend/src/eventHandlers/MailService/SMTPMailService.ts
  apps/backend/src/eventHandlers/MailService/SparkPostMailService.ts
  apps/backend/src/eventHandlers/email/essEmailHandler.ts
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/events/event.enum.ts
  apps/backend/src/middlewares/graphql.ts
  apps/backend/src/mutations/AdminMutations.ts
  apps/backend/src/mutations/UserMutations.ts
  apps/backend/src/populate/index.ts
  apps/backend/src/resolvers/mutations/CreateUserMutation.ts
  apps/backend/src/utils/helperFunctions.ts
  apps/e2e/cypress/e2e/peopleTable.cy.ts
  apps/e2e/cypress/support/user.ts
  apps/e2e/cypress/types/user.d.ts
  apps/frontend/src/graphql/user/createUser.graphql
Due: npm run lint:e2e, npm run lint:backend
