Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

update the link to regex test
  .github/pr-title-checker-config.json
Due: none

fix linting issues and improve stfc technical reviewers info in the proposal view
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

remove some todo that can be done later
  apps/backend/db_patches/0146_MultiInstrumentPerProposal.sql
Due: none

add null checks for the latest changes
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

add some more null checks
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

refactors mass assigning reviews
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/mutations/FapMutations.spec.ts
  apps/backend/src/mutations/FapMutations.ts
Due: npm run lint:backend

proposals needing multiple reviews are assigned
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/mutations/FapMutations.spec.ts
  apps/backend/src/mutations/FapMutations.ts
Due: npm run lint:backend

force lowercase first letter, allow usage of asterisk character in the scope and prevent using full stop at the end
  .github/pr-title-checker-config.json
Due: none

improve the regex even more after PR review feedback
  .github/pr-title-checker-config.json
Due: none

try to fix failing e2e test
  apps/e2e/cypress/e2e/settings.cy.ts
Due: npm run lint:e2e

ci: add PR tittle formatting check (#551)
  .github/pr-title-checker-config.json
  .github/workflows/github-tag-and-release.yml
  .github/workflows/pr-title-checker.yml
  apps/e2e/cypress/e2e/settings.cy.ts
Due: npm run lint:e2e

fix: calls table sorting order of dates
  apps/frontend/src/components/call/CallsTable.tsx
Due: npm run lint:frontend

updates email invite feature
  apps/backend/db_patches/0150_UpdateEmailInviteFeature.sql
Due: none

Fix: Fap proposal count
  apps/backend/src/datasources/postgres/FapDataSource.ts
Due: npm run lint:backend

fix core scheduled_events and experiments
  apps/backend/db_patches/0146_MultiInstrumentPerProposal.sql
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/mockups/ScheduledEventDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/ScheduledEventDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/eventHandlers/messageBroker.ts
  apps/backend/src/models/ScheduledEventCore.ts
  apps/backend/src/resolvers/types/ScheduledEvent.ts
  apps/frontend/src/components/experiment/ExperimentTable.tsx
  apps/frontend/src/graphql/scheduledEvent/fragment.scheduledEventCore.graphql
  apps/frontend/src/graphql/scheduledEvent/getScheduledEventsCore.graphql
Due: npm run lint:frontend, npm run lint:backend

list all proposal bookings scheduled events instead of just first one
  apps/backend/db_patches/0146_MultiInstrumentPerProposal.sql
  apps/backend/src/datasources/ProposalDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/queries/ProposalQueries.ts
  apps/backend/src/resolvers/types/Proposal.ts
  apps/backend/src/resolvers/types/ProposalBooking.ts
  apps/frontend/src/components/proposalBooking/ExperimentTimesTable.tsx
  apps/frontend/src/graphql/proposalBooking/getUserProposalBookingsWithEvents.graphql
  apps/frontend/src/hooks/proposalBooking/useProposalBookingsScheduledEvents.ts
  apps/frontend/src/models/questionary/visit/VisitRegistrationCore.ts
Due: npm run lint:frontend, npm run lint:backend

updates email invite feature (#558)
  apps/backend/db_patches/0150_UpdateEmailInviteFeature.sql
Due: none

add nullable to instrument in proposalbookingcore
  apps/backend/src/resolvers/types/ScheduledEvent.ts
Due: npm run lint:backend

add nullable to instrumentId in proposalbookingcore
  apps/backend/src/resolvers/types/ScheduledEvent.ts
Due: npm run lint:backend

fix failing experiments test
  apps/backend/db_patches/db_seeds/0004_ScheduledEvents.sql
  apps/e2e/cypress/e2e/experiments.cy.ts
Due: npm run lint:e2e

Test fix
  apps/e2e/cypress.config.ts
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
  apps/e2e/cypress/support/fileUtilTasks.ts
  apps/e2e/package-lock.json
  apps/e2e/package.json
Due: npm run lint:e2e

File name changed
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
Due: npm run lint:e2e

Change pdf zip filename
  .github/workflows/test-build.yml
  apps/backend/src/middlewares/factory/pdf/download.ts
Due: npm run lint:backend

Test fix
  apps/e2e/cypress/support/fileUtilTasks.ts
Due: npm run lint:e2e

Add option to download as zip
  apps/backend/src/factory/service.ts
  apps/backend/src/middlewares/factory/zip.ts
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/components/proposal/TableActionsDropdownMenu.tsx
  apps/frontend/src/context/DownloadContextProvider.tsx
  apps/frontend/src/hooks/proposal/useDownloadPDFProposal.ts
Due: npm run lint:frontend, npm run lint:backend

e2e tests
  apps/backend/src/middlewares/factory/zip.ts
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/components/proposal/TableActionsDropdownMenu.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Test fix
  apps/e2e/cypress/e2e/instruments.cy.ts
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
Due: npm run lint:e2e

change from beamline manager to instrument contact
  apps/e2e/cypress/e2e/instruments.cy.ts
  apps/frontend/src/components/instrument/AssignedScientistsTable.tsx
  apps/frontend/src/components/instrument/CreateUpdateInstrument.tsx
Due: npm run lint:e2e, npm run lint:frontend

remove all code references to beamline manager
  apps/backend/src/resolvers/types/Instrument.ts
  apps/backend/src/statusActionEngine/statusActionUtils.ts
  apps/e2e/cypress/e2e/instruments.cy.ts
  apps/frontend/src/components/instrument/AssignedScientistsTable.tsx
  apps/frontend/src/components/instrument/CreateUpdateInstrument.tsx
  apps/frontend/src/components/review/AssignTechnicalReview.tsx
  apps/frontend/src/graphql/instrument/instrument.fragment.graphql
  apps/frontend/src/graphql/proposal/getProposal.graphql
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Update pr-title-checker.yml
  .github/workflows/pr-title-checker.yml
Due: none

feat: add STFC email templates
  apps/backend/src/eventHandlers/MailService/MailService.ts
  apps/backend/src/eventHandlers/MailService/SMTPMailService.ts
Due: npm run lint:backend

feat: add availability of PI & Co-I in all email templates
  apps/backend/src/statusActionEngine/emailActionHandler.ts
  apps/backend/src/statusActionEngine/statusActionUtils.ts
Due: npm run lint:backend

#227: Add merging table verifying procedure
  apps/backend/db_patches/0148_CreateUpdateUserIdFunc.sql
Due: none

use the base config as default
  README.md
  apps/backend/example.development.env
  docker-compose.yml
Due: none

add more explanation on PR title check failure
  .github/pr-title-checker-config.json
Due: none

fix(db_patches): add missing technical reviews on proposals that are already assigned to an instrument
  apps/backend/db_patches/0151_AddMissingTechnicalReviewsOnProposalsAssignedToInstrument.sql
Due: none

fix: allow blank reviews on stfc fap export
  apps/backend/src/factory/xlsx/stfc/StfcFapDataRow.ts
Due: npm run lint:backend

Change duo-validation version
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/components/questionary/questionaryComponents/FileUpload/FileUploadDefinition.tsx
  apps/frontend/src/components/questionary/questionaryComponents/FileUpload/createFileUploadValidationSchema.ts
Due: npm run lint:frontend

add prefix to the missing columns
  apps/backend/db_patches/0151_AddMissingTechnicalReviewsOnProposalsAssignedToInstrument.sql
Due: none

Path conditions:
  npm run lint:e2e: any of: apps/e2e/**/*.{js,ts,jsx,tsx}
  npm run lint:frontend: any of: apps/frontend/**/*.{js,ts,jsx,tsx}
  npm run lint:backend: any of: apps/backend/**/*.{js,ts,jsx,tsx}
