Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

.lintstagedrc.json:

{
  "apps/e2e/**/*.{js,ts,jsx,tsx}": ["npm run lint:e2e"],
  "apps/frontend/**/*.{js,ts,jsx,tsx}": ["npm run lint:frontend"],
  "apps/backend/**/*.{js,ts,jsx,tsx}": ["npm run lint:backend"]
}

feat: query email templates from sparkpost api and cleanup user create mutation (#319)
  apps/backend/api_tests/tests.json
  apps/backend/example.development.env
  apps/backend/src/asyncJobs/jobs/checkCallsReviewEnded.ts
  apps/backend/src/asyncJobs/jobs/checkCallsSEPReviewEnded.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/datasources/postgres/UserDataSource.ts
  apps/backend/src/eventHandlers/MailService/EmailSettings.ts
  apps/backend/src/eventHandlers/MailService/MailService.ts
  apps/backend/src/eventHandlers/MailService/SMTPMailService.ts
  apps/backend/src/eventHandlers/MailService/SkipSendMailService.ts
  apps/backend/src/eventHandlers/MailService/SparkPostMailService.ts
  apps/backend/src/eventHandlers/email/essEmailHandler.ts
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/events/event.enum.ts
  apps/backend/src/middlewares/graphql.ts
  apps/backend/src/mutations/AdminMutations.ts
  apps/backend/src/mutations/UserMutations.ts
  apps/backend/src/populate/index.ts
  apps/backend/src/queries/ProposalSettingsQueries.ts
  apps/backend/src/resolvers/mutations/CreateUserMutation.ts
  apps/backend/src/utils/helperFunctions.ts
  apps/e2e/cypress/e2e/peopleTable.cy.ts
  apps/e2e/cypress/support/user.ts
  apps/e2e/cypress/types/user.d.ts
  apps/frontend/src/graphql/user/createUser.graphql
Due: npm run lint:e2e, npm run lint:backend

add timeout option for wait-on so it stops infinite polling
  apps/backend/package.json
  package.json
Due: none

fix e2e dependency config
  apps/backend/src/config/dependencyConfigE2E.ts
Due: npm run lint:backend

fix stfc dependency config
  apps/backend/src/config/dependencyConfigSTFC.ts
Due: npm run lint:backend

remove status actions redundant code
  apps/backend/src/datasources/postgres/ProposalSettingsDataSource.ts
Due: npm run lint:backend

#837:Fix2 error occur when remove max/min value from a question
  apps/frontend/src/components/questionary/questionaryComponents/RichTextInput/QuestionRichTextInputForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/RichTextInput/QuestionTemplateRelationRichTextInputForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/TextInput/QuestionTemplateRelationTextInputForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/TextInput/QuestionTextInputForm.tsx
Due: npm run lint:frontend

refactor(status actions): move status actions to its own datasource file (#362)
  apps/backend/package.json
  apps/backend/src/config/Tokens.ts
  apps/backend/src/config/dependencyConfigE2E.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/datasources/ProposalSettingsDataSource.ts
  apps/backend/src/datasources/StatusActionsDataSource.ts
  apps/backend/src/datasources/mockups/ProposalSettingsDataSource.ts
  apps/backend/src/datasources/mockups/StatusActionsDataSource.ts
  apps/backend/src/datasources/postgres/ProposalSettingsDataSource.ts
  apps/backend/src/datasources/postgres/StatusActionsDataSource.ts
  apps/backend/src/mutations/ProposalSettingsMutations.ts
  apps/backend/src/queries/ProposalSettingsQueries.spec.ts
  apps/backend/src/queries/ProposalSettingsQueries.ts
  apps/backend/src/statusActionEngine/emailActionHandler.ts
  apps/backend/src/statusActionEngine/index.ts
  package.json
Due: npm run lint:backend

chore: Split E2E tests up into different jobs
  .github/actions/restore-caches/action.yml
  .github/workflows/test-build.yml
Due: none

chore: "push" job's dependency is updated with both "e2e" and "e2e_stfc" jobs
  .github/workflows/test-build.yml
Due: none

fix: useFilesMetadata updates the file list based on the previous file list
  apps/frontend/src/hooks/file/useFilesMetadata.ts
Due: npm run lint:frontend

chore: push job is removed from e2e and build testing workflow
  .github/workflows/test-build.yml
Due: none

try to fix memory consumption issues with jest and node 16+
  apps/backend/jest.unit.config.js
  apps/backend/package-lock.json
  apps/backend/package.json
Due: npm run lint:backend

Revert "build(deps-dev): bump @babel/traverse from 7.16.10 to 7.23.2 in /apps/backend"
  apps/backend/package-lock.json
Due: none

chore: .DS_Store file is now ignored by git
  .gitignore
Due: none

chore: Change UserQueries.checkToken() to log warnings instead of errors
  apps/backend/src/queries/UserQueries.spec.ts
  apps/backend/src/queries/UserQueries.ts
Due: npm run lint:backend

fix review comments and improve user experience for adding other recipients
  apps/backend/src/resolvers/types/ProposalStatusActionConfig.ts
  apps/backend/src/statusActionEngine/emailActionHandler.ts
  apps/e2e/cypress/e2e/statusActions.cy.ts
  apps/frontend/src/components/settings/proposalWorkflow/EmailActionConfig.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

refactor(QuestionDynamicMultipleChoiceForm.tsx): remove unused HeaderWrapper component
  apps/frontend/src/components/questionary/questionaryComponents/DynamicMultipleChoice/QuestionDynamicMultipleChoiceForm.tsx
Due: npm run lint:frontend

fix: update template export artifact
  apps/e2e/cypress/fixtures/template_export.json
Due: none

feat: add other option for recipients by typed email in email status action (#366)
  apps/backend/jest.unit.config.js
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/mutations/ProposalSettingsMutations.ts
  apps/backend/src/resolvers/types/ProposalStatusActionConfig.ts
  apps/backend/src/statusActionEngine/emailActionHandler.ts
  apps/backend/src/statusActionEngine/statusActionUtils.ts
  apps/e2e/cypress/e2e/statusActions.cy.ts
  apps/frontend/src/components/settings/proposalWorkflow/EmailActionConfig.tsx
  apps/frontend/src/graphql/settings/statusActions/fragment.connectionStatusActionConfig.graphql
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

chore: Separated express-jwt's error handler is implemented
  apps/backend/index.ts
  apps/backend/src/middlewares/exceptionHandler.spec.ts
  apps/backend/src/middlewares/exceptionHandler.ts
  apps/backend/src/middlewares/jwtErrorHandler.spec.ts
  apps/backend/src/middlewares/jwtErrorHandler.ts
Due: npm run lint:backend

continue fixing and improving styling issues
  apps/frontend/src/components/SEP/MeetingComponents/SEPMeetingComponentsView.tsx
  apps/frontend/src/components/SEP/Proposals/SEPProposalsAndAssignmentsView.tsx
  apps/frontend/src/components/common/proposalFilters/CallFilter.tsx
  apps/frontend/src/components/common/proposalFilters/InstrumentFilter.tsx
  apps/frontend/src/components/common/proposalFilters/ProposalStatusFilter.tsx
  apps/frontend/src/components/common/proposalFilters/QuestionaryFilter.tsx
  apps/frontend/src/components/experiment/DateFilter.tsx
  apps/frontend/src/components/experiment/ExperimentFilterBar.tsx
  apps/frontend/src/components/proposal/ProposalFilterBar.tsx
  apps/frontend/src/components/questionary/questionaryComponents/DatePicker/DateSearchCriteriaInput.tsx
  apps/frontend/src/components/review/ProposalTableReviewer.tsx
  apps/frontend/src/components/sample/SampleSafetyPage.tsx
Due: npm run lint:frontend

fix: rename auto merge GITHUB_TOKEN to GH_TOKEN
  .github/workflows/auto-merge-dependabot.yml
Due: none

fix: rename auto merge GITHUB_TOKEN to GH_TOKEN (#396)
  .github/workflows/auto-merge-dependabot.yml
Due: none

finalize styling improvements
  apps/frontend/src/components/SEP/SEPStatusFilter.tsx
  apps/frontend/src/components/SEP/SEPsTable.tsx
  apps/frontend/src/components/call/CallStatusFilter.tsx
  apps/frontend/src/components/call/CallsTable.tsx
  apps/frontend/src/components/common/proposalFilters/CallFilter.tsx
  apps/frontend/src/components/template/QuestionsTableFilter.tsx
Due: npm run lint:frontend

fix: update pdf fixture to fix failing test
  apps/e2e/cypress/fixtures/2023_proposal_fixture.pdf
Due: none

add column lookup check to show lookup values
  apps/frontend/src/utils/helperFunctions.tsx
Due: npm run lint:frontend

try to make a reusable way for columnsWithOverflow in the supermaterial table
  apps/frontend/src/components/call/CallsTable.tsx
  apps/frontend/src/components/common/SuperMaterialTable.tsx
  apps/frontend/src/components/institution/CreateUpdateInstitution.tsx
  apps/frontend/src/components/institution/InstitutionTable.tsx
  apps/frontend/src/components/instrument/InstrumentTable.tsx
  apps/frontend/src/components/proposal/ProposalTable.tsx
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/components/review/ProposalTableReviewer.tsx
Due: npm run lint:frontend

Changed env variable
  .github/workflows/test-build.yml
  apps/backend/example.development.env
  apps/backend/src/factory/service.ts
  docker-compose.yml
Due: npm run lint:backend

PDF Preview Page done.
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/components/template/PdfTemplateEditor.tsx
  apps/frontend/src/components/template/PdfTemplateEditorViewer.tsx
Due: npm run lint:frontend

introduce new component wrapper for material table
  apps/frontend/src/components/common/DenseMaterialTable.tsx
  apps/frontend/src/components/common/SuperMaterialTable.tsx
  apps/frontend/src/components/proposal/ProposalTable.tsx
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
Due: npm run lint:frontend

disable eslint warning and fix build
  apps/frontend/src/components/common/DenseMaterialTable.tsx
Due: npm run lint:frontend

revert warning disable and solve it in more elegant way
  apps/frontend/src/components/common/DenseMaterialTable.tsx
Due: npm run lint:frontend

Fixed the bug of proposal SEP assignment, when Instrument picker is answered and the Instrument is assigned to the Proposal.
  apps/backend/src/models/questionTypes/InstrumentPicker.ts
Due: npm run lint:backend

Fixed the bug of proposal SEP assignment, when Instrument picker is answered and the Instrument is assigned to the Proposal
  apps/backend/src/models/questionTypes/InstrumentPicker.ts
Due: npm run lint:backend

improve helper function naming
  apps/frontend/src/components/call/AssignInstrumentsToCall.tsx
  apps/frontend/src/components/call/AssignedInstrumentsTable.tsx
  apps/frontend/src/components/common/DenseMaterialTable.tsx
  apps/frontend/src/components/proposal/ProposalTable.tsx
  apps/frontend/src/components/review/ProposalTableReviewer.tsx
  apps/frontend/src/utils/helperFunctions.tsx
Due: npm run lint:frontend

fix: Proposal ObjectType's publicStatus calculated field selected the proposal data from the database instead of using the root object's data
  apps/backend/src/queries/ProposalQueries.spec.ts
  apps/backend/src/queries/ProposalQueries.ts
  apps/backend/src/resolvers/types/Proposal.ts
Due: npm run lint:backend

revert unnecessary change
  apps/frontend/src/components/common/proposalFilters/CallFilter.tsx
Due: npm run lint:frontend

Restricting SEP assignment to Proposal, only if one has not been assigned already.
  apps/backend/src/datasources/SEPDataSource.ts
  apps/backend/src/datasources/mockups/SEPDataSource.ts
  apps/backend/src/datasources/postgres/SEPDataSource.ts
  apps/backend/src/models/questionTypes/InstrumentPicker.ts
  apps/backend/src/mutations/SEPMutations.ts
  apps/backend/src/queries/SEPQueries.ts
  apps/backend/src/resolvers/mutations/AssignProposalsToInstrumentMutation.ts
Due: npm run lint:backend

Remove the test case to meet the latest change
  apps/backend/src/mutations/SEPMutations.spec.ts
Due: npm run lint:backend

Sending technical review as a request for pdf generation immaterial of user roles.
  apps/backend/src/factory/pdf/proposal.ts
Due: npm run lint:backend
