Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

.lintstagedrc.json:

{
  "apps/e2e/**/*.{js,ts,jsx,tsx}": ["npm run lint:e2e"],
  "apps/frontend/**/*.{js,ts,jsx,tsx}": ["npm run lint:frontend"],
  "apps/backend/**/*.{js,ts,jsx,tsx}": ["npm run lint:backend"]
}

Testing changes against github actions
  .github/workflows/test-build.yml
  apps/backend/src/auth/StfcUserAuthorization.ts
Due: npm run lint:backend

Change BASE_URL to a different env variable name
  .github/workflows/test-build.yml
  apps/backend/src/datasources/stfc/UOWSClient.ts
Due: npm run lint:backend

add proposal invites
  apps/backend/db_patches/0168_AddCoProposerClaims.sql
Due: none

feat: add co-proposer claims table and update indices
  apps/backend/db_patches/0168_AddCoProposerClaims.sql
Due: none

feat: implement CoProposerInvite model and data source with mockup
  apps/backend/src/config/Tokens.ts
  apps/backend/src/config/dependencyConfigDefault.ts
  apps/backend/src/config/dependencyConfigE2E.ts
  apps/backend/src/config/dependencyConfigELI.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/datasources/CoProposerInviteDataSource.ts
  apps/backend/src/datasources/mockups/CoProposerInviteDataSource.ts
  apps/backend/src/datasources/postgres/CoProposerInviteDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/CoProposerInvite.ts
  apps/backend/src/mutations/InviteMutations.spec.ts
  apps/backend/src/mutations/InviteMutations.ts
  apps/backend/src/resolvers/mutations/CreateInviteMutation.ts
Due: npm run lint:backend

Lint changes
  apps/backend/src/auth/StfcUserAuthorization.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/e2e/cypress/fixtures/exampleCallFapExport.json
  apps/e2e/cypress/fixtures/exampleCallFapExportSTFC.json
  apps/e2e/cypress/fixtures/exampleFapExport.json
  apps/e2e/cypress/fixtures/exampleFapExportExpired.json
  apps/e2e/cypress/fixtures/exampleFapExportSTFC.json
  apps/e2e/wait-for-frontend.sh
  apps/frontend/src/components/App.tsx
  apps/frontend/src/components/technique/CreateUpdateTechnique.tsx
  apps/frontend/src/components/technique/TechniqueTable.tsx
  apps/frontend/src/components/xpress/ProposalScientistComment.tsx
  apps/frontend/src/context/UserContextProvider.tsx
Due: npm run lint:frontend, npm run lint:backend

fix: adding method addProposalUser
  apps/backend/src/datasources/ProposalDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
Due: npm run lint:backend

Revert launch.json back
  .vscode/launch.json
Due: none

Updating authorization and improving reliability
  apps/backend/src/mutations/InviteMutations.ts
Due: npm run lint:backend

revert e2e docker file and unused soap mocks
  apps/backend/docker-compose-stfc.e2e.yml
  apps/backend/src/datasources/stfc/__mocks__/UOWSSoapInterface.ts
Due: npm run lint:backend

Add file generator to lint
  apps/backend/package.json
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
Due: npm run lint:backend

Lint change
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
Due: npm run lint:backend

fix: improve error handling in ValidateArgs decorator
  apps/backend/src/decorators/ValidateArgs.ts
Due: npm run lint:backend

fix: rename coProposerProposalId to coProposerProposalPk for consistency
  apps/backend/src/mutations/InviteMutations.spec.ts
  apps/backend/src/mutations/InviteMutations.ts
  apps/backend/src/resolvers/mutations/CreateInviteMutation.ts
Due: npm run lint:backend

Update fap.md
  documentation/docs/user-guide/user-officer/fap.md
Due: none

feat: add InviteAuthorization class for managing invite permissions
  apps/backend/src/auth/InviteAuthorizer.ts
  apps/backend/src/config/Tokens.ts
  apps/backend/src/config/dependencyConfigDefault.ts
  apps/backend/src/config/dependencyConfigE2E.ts
  apps/backend/src/config/dependencyConfigELI.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/config/dependencyConfigTest.ts
Due: npm run lint:backend

feat: enhance invite authorization checks in InviteMutations
  apps/backend/src/mutations/InviteMutations.ts
Due: npm run lint:backend

fix: update duo-validation package to version 5.1.11 and enable validation schemas in InviteMutations
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/mutations/InviteMutations.ts
Due: npm run lint:backend

WIP
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/queries/FapQueries.ts
  apps/backend/src/resolvers/queries/FapQuery.ts
  apps/backend/src/resolvers/types/Fap.ts
  apps/frontend/src/components/fap/Proposals/AssignFapMemberToProposalModal.tsx
  apps/frontend/src/components/fap/Proposals/FapAssignedReviewersTable.tsx
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/graphql/fap/getFapProposals.graphql
Due: npm run lint:frontend, npm run lint:backend

test: add unit tests for coProposer claims in InviteMutations and update authorization logic
  apps/backend/src/mutations/InviteMutations.spec.ts
  apps/backend/src/mutations/InviteMutations.ts
Due: npm run lint:backend

fix: update to improve validation error handling in backend queries
  apps/backend/src/decorators/ValidateArgs.ts
Due: npm run lint:backend

implement frontend for technical review templates
  apps/backend/src/queries/TechnicalReviewQueries.ts
  apps/backend/src/resolvers/queries/TechnicalReviewsQuery.ts
  apps/frontend/src/components/questionary/QuestionaryRegistry.tsx
  apps/frontend/src/components/questionary/questionaries/technicalReview/TechnicalReviewQuestionaryDefinition.ts
  apps/frontend/src/components/questionary/questionaryComponents/TechnicalReviewBasis/QuestionaryComponentTechnicalReviewBasis.tsx
  apps/frontend/src/components/questionary/questionaryComponents/TechnicalReviewBasis/TechnicalReviewBasisDefinition.tsx
  apps/frontend/src/components/questionary/questionaryComponents/TechnicalReviewBasis/createTechnicalReviewBasisValidationSchema.ts
  apps/frontend/src/components/review/ProposalReviewContent.tsx
  apps/frontend/src/components/review/TechnicalReviewContainer.tsx
  apps/frontend/src/components/template/TechnicalReviewTemplatesTable.tsx
  apps/frontend/src/graphql/technicalReview/getTechnicalReview.graphql
  apps/frontend/src/hooks/questionary/useSubmitActions.ts
  apps/frontend/src/hooks/technicalReview/useTechnicalReviewData.ts
  apps/frontend/src/hooks/technicalReview/useTechnicalReviewsData.ts
Due: npm run lint:frontend, npm run lint:backend

Update faq.md
  documentation/docs/faq.md
Due: none

refactor: changes user already added error message
  apps/frontend/src/components/user/PeopleTable.tsx
Due: npm run lint:frontend

WIP
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/queries/FapQueries.ts
  apps/backend/src/resolvers/queries/FapQuery.ts
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/graphql/fap/getFapProposals.graphql
  apps/frontend/src/graphql/fap/getFapsMinimal.graphql
Due: npm run lint:frontend, npm run lint:backend

implement frontend for technical review templates - fix state management
  apps/backend/src/mutations/ReviewMutations.ts
  apps/frontend/src/components/questionary/questionaries/technicalReview/TechnicalReviewQuestionaryDefinition.ts
  apps/frontend/src/components/questionary/questionaries/technicalReview/TechnicalReviewQuestionaryWizardStep.ts
  apps/frontend/src/components/questionary/questionaryComponents/TechnicalReviewBasis/QuestionaryComponentTechnicalReviewBasis.tsx
  apps/frontend/src/components/questionary/questionaryComponents/TechnicalReviewBasis/createTechnicalReviewBasisValidationSchema.ts
  apps/frontend/src/components/review/ProposalReviewContent.tsx
  apps/frontend/src/components/review/TechnicalReviewContainer.tsx
  apps/frontend/src/components/review/TechnicalReviewQuestionary.tsx
  apps/frontend/src/components/review/TechnicalReviewQuestionaryReview.tsx
  apps/frontend/src/components/review/TechnicalReviewSummary.tsx
  apps/frontend/src/components/template/PreviewTemplateModal.tsx
  apps/frontend/src/graphql/technicalReview/getTechnicalReview.graphql
  apps/frontend/src/models/questionary/QuestionarySubmissionState.ts
  apps/frontend/src/models/questionary/technicalReview/TechnicalReviewSubmissionState.tsx
Due: npm run lint:frontend, npm run lint:backend

refactor: changes user already added error message (#910)
  apps/frontend/src/components/user/PeopleTable.tsx
Due: npm run lint:frontend

fix: stop creating gt when validation fails
  apps/backend/src/datasources/postgres/GenericTemplateDataSource.ts
Due: npm run lint:backend

WIP
  apps/backend/db_patches/0168_ExperimentWorkflow.sql
  apps/backend/src/datasources/ProposalSettingsDataSource.ts
  apps/backend/src/datasources/mockups/ProposalSettingsDataSource.ts
  apps/backend/src/datasources/postgres/CallDataSource.test.ts
  apps/backend/src/datasources/postgres/CallDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.test.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/ProposalSettingsDataSource.ts
  apps/backend/src/datasources/postgres/StatusActionsDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/eventHandlers/proposalWorkflow.ts
  apps/backend/src/models/ProposalStatus.ts
  apps/backend/src/models/ProposalWorkflow.ts
  apps/backend/src/models/ProposalWorkflowConnections.ts
  apps/backend/src/mutations/ProposalSettingsMutations.ts
  apps/backend/src/queries/ProposalSettingsQueries.spec.ts
  apps/backend/src/queries/ProposalSettingsQueries.ts
  apps/backend/src/resolvers/mutations/settings/AddProposalWorkflowStatusMutation.ts
  apps/backend/src/resolvers/queries/ProposalWorkflowQuery.ts
  apps/backend/src/resolvers/types/ProposalWorkflow.ts
  apps/backend/src/resolvers/types/ProposalWorkflowConnection.ts
  apps/backend/src/statusActionEngine/index.ts
  apps/backend/src/workflowEngine/index.ts
  apps/frontend/src/graphql/call/getCallSubmissionDetails.graphql
  apps/frontend/src/graphql/fap/getFapProposals.graphql
  apps/frontend/src/graphql/fap/getFapProposalsByInstrument.graphql
  apps/frontend/src/graphql/proposal/createProposal.graphql
  apps/frontend/src/graphql/proposal/fragment.proposal.graphql
  apps/frontend/src/graphql/settings/addProposalWorkflowStatus.graphql
  apps/frontend/src/graphql/settings/createProposalStatus.graphql
  apps/frontend/src/graphql/settings/createProposalWorkflow.graphql
  apps/frontend/src/graphql/settings/deleteProposalStatus.graphql
  apps/frontend/src/graphql/settings/fragment.proposalStatus.graphql
  apps/frontend/src/graphql/settings/getProposalStatuses.graphql
  apps/frontend/src/graphql/settings/getProposalWorkflow.graphql
  apps/frontend/src/graphql/settings/getProposalWorkflows.graphql
  apps/frontend/src/graphql/settings/updateProposalStatus.graphql
  apps/frontend/src/graphql/settings/updateProposalWorkflow.graphql
  apps/frontend/src/graphql/user/getUserProposals.graphql
Due: npm run lint:backend

Data Sources Setup Done
  apps/backend/src/datasources/ProposalSettingsDataSource.ts
  apps/backend/src/datasources/StatusDataSource.ts
  apps/backend/src/datasources/WorkflowDataSource.ts
  apps/backend/src/datasources/mockups/StatusDataSource.ts
  apps/backend/src/datasources/mockups/WorkflowDataSource.ts
  apps/backend/src/datasources/postgres/ProposalSettingsDataSource.ts
  apps/backend/src/datasources/postgres/StatusDataSource.ts
  apps/backend/src/datasources/postgres/WorkflowDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/ProposalWorkflowConnections.ts
  apps/backend/src/models/StatusChangingEvent.ts
Due: npm run lint:backend

DataSource Status Action Generalization
  apps/backend/src/datasources/StatusActionsDataSource.ts
  apps/backend/src/datasources/mockups/StatusActionsDataSource.ts
  apps/backend/src/datasources/postgres/StatusActionsDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/ProposalStatusAction.ts
  apps/backend/src/resolvers/mutations/settings/AddConnectionStatusActionsMutation.ts
Due: npm run lint:backend

Mutation, Queries along with Resolvers done. Now Types needed to be done. Now we can move to frontend a bit
  apps/backend/src/config/Tokens.ts
  apps/backend/src/context/index.ts
  apps/backend/src/datasources/StatusDataSource.ts
  apps/backend/src/datasources/WorkflowDataSource.ts
  apps/backend/src/datasources/mockups/StatusDataSource.ts
  apps/backend/src/datasources/mockups/WorkflowDataSource.ts
  apps/backend/src/datasources/postgres/StatusDataSource.ts
  apps/backend/src/datasources/postgres/WorkflowDataSource.ts
  apps/backend/src/mutations/ProposalSettingsMutations.ts
  apps/backend/src/mutations/StatusActionMutations.ts
  apps/backend/src/mutations/StatusMutations.ts
  apps/backend/src/mutations/WorkflowMutations.ts
  apps/backend/src/queries/StatusActionQueries.ts
  apps/backend/src/queries/StatusQueries.ts
  apps/backend/src/queries/WorkflowQueries.ts
  apps/backend/src/resolvers/mutations/settings/AddConnectionStatusActionsMutation.ts
  apps/backend/src/resolvers/mutations/settings/AddStatusChangingEventsToConnectionMutation.ts
  apps/backend/src/resolvers/mutations/settings/AddWorkflowStatusMutation.ts
  apps/backend/src/resolvers/mutations/settings/CreateStatusMutation.ts
  apps/backend/src/resolvers/mutations/settings/CreateWorkflowMutation.ts
  apps/backend/src/resolvers/mutations/settings/DeleteStatusMutation.ts
  apps/backend/src/resolvers/mutations/settings/DeleteWorkflowMutation.ts
  apps/backend/src/resolvers/mutations/settings/DeleteWorkflowStatusMutation.ts
  apps/backend/src/resolvers/mutations/settings/MoveWorkflowStatusMutation.ts
  apps/backend/src/resolvers/mutations/settings/UpdateStatusMutation.ts
  apps/backend/src/resolvers/mutations/settings/UpdateWorkflowMutation.ts
  apps/backend/src/resolvers/types/Status.ts
Due: npm run lint:backend

Add required changes and lint fix
  apps/backend/.dockerignore
  apps/backend/.eslintignore
  apps/backend/src/auth/StfcUserAuthorization.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
Due: npm run lint:backend

Add uows generation to build
  apps/backend/package.json
Due: none

Add uows generator to lint checker
  apps/backend/package.json
Due: none

Test adding generating uows to dev test
  apps/backend/package.json
Due: none

Test generating library before tests
  apps/backend/package.json
Due: none

Move the uows generator to workflows
  .github/workflows/test-build.yml
  apps/backend/package.json
Due: none

feat: add co_proposer_invites table and index with existence checks
  apps/backend/db_patches/0168_AddCoProposerClaims.sql
Due: none
