Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Fix techniques sorting in picker
  apps/backend/src/models/questionTypes/TechniquePicker.ts
Due: npm run lint:backend

Check lower case before sorting
  apps/backend/src/models/questionTypes/TechniquePicker.ts
Due: npm run lint:backend

fix: tech reviewer column not being populated for stfc instrument scis
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

fix: techniques sorting in technique picker (#955)
  apps/backend/src/models/questionTypes/TechniquePicker.ts
Due: npm run lint:backend

fix: handle the deletion of subtemplate answers (#918)
  apps/backend/src/mutations/QuestionaryMutations.ts
  apps/e2e/cypress/e2e/genericTemplates.cy.ts
Due: npm run lint:e2e, npm run lint:backend

fix: use more robust tab lists
  apps/frontend/src/components/review/ProposalTableReviewer.tsx
Due: npm run lint:frontend

fix: xpress pdfs (#952)
  apps/backend/src/factory/pdf/proposal.ts
Due: npm run lint:backend

Added Feature flag for Experiment Safety Review
  apps/backend/db_patches/0170_ExperimentSafetyReviewFeature.sql
  apps/backend/src/config/ess/configureESSEnvironment.ts
  apps/backend/src/models/Feature.ts
  apps/frontend/src/components/AppRoutes.tsx
  apps/frontend/src/components/menu/SettingsMenuListItem.tsx
Due: npm run lint:frontend, npm run lint:backend

Fixed the issue in the recently added cy test
  apps/e2e/cypress/e2e/genericTemplates.cy.ts
Due: npm run lint:e2e

1305: caching only when token validation request returns true. To test further
  apps/backend/src/auth/StfcUserAuthorization.ts
Due: npm run lint:backend

Graphql related to the deleted tables have been deleted. Not it is time to go through the frontend components and understand the affected areas
  apps/frontend/src/graphql/esi/fragment.esi.graphql
  apps/frontend/src/graphql/proposalBooking/getUserProposalBookingsWithEvents.graphql
  apps/frontend/src/graphql/sampleEsi/cloneSampleEsi.graphql
  apps/frontend/src/graphql/sampleEsi/createSampleEsi.graphql
  apps/frontend/src/graphql/sampleEsi/deleteSampleEsi.graphql
  apps/frontend/src/graphql/sampleEsi/fragment.sampleEsi.graphql
  apps/frontend/src/graphql/sampleEsi/getSampleEsi.graphql
  apps/frontend/src/graphql/sampleEsi/updateSampleEsi.graphql
  apps/frontend/src/graphql/scheduledEvent/fragment.scheduledEventCore.graphql
  apps/frontend/src/graphql/scheduledEvent/getScheduledEventCore.graphql
  apps/frontend/src/graphql/scheduledEvent/getScheduledEventsCore.graphql
Due: none

wip
  apps/backend/src/datasources/postgres/ExperimentDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/Experiment.ts
  apps/backend/src/mutations/FeedbackMutations.ts
  apps/backend/src/resolvers/registerEnums.ts
  apps/backend/src/resolvers/types/Experiment.ts
  apps/backend/src/resolvers/types/ProposalBooking.ts
  apps/frontend/src/components/proposalBooking/InstrSciUpcomingExperimentTimesTable.tsx
  apps/frontend/src/components/proposalBooking/UserExperimentsTable.tsx
  apps/frontend/src/graphql/feedback/updateFeedback.graphql
  apps/frontend/src/hooks/proposalBooking/useActionButtons.tsx
  apps/frontend/src/hooks/proposalBooking/useProposalBookingsScheduledEvents.ts
Due: npm run lint:frontend, npm run lint:backend

feat: filter the latest active call by default
  apps/frontend/src/components/menu/MenuItems.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/graphql/call/getCallsMinimal.graphql
Due: npm run lint:frontend

Create a filter for Instruments
  apps/backend/package-lock.json
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/queries/FapQueries.ts
  apps/backend/src/resolvers/queries/FapQuery.ts
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsView.tsx
  apps/frontend/src/graphql/fap/getFapInstruments.graphql
  apps/frontend/src/graphql/fap/getFapProposals.graphql
  apps/frontend/src/hooks/fap/useFapProposalsData.ts
  apps/frontend/src/hooks/instrument/useFapInstruments.ts
Due: npm run lint:frontend, npm run lint:backend

Correct instrument filter gridding
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsView.tsx
Due: npm run lint:frontend

update implementation of getFapProposals
  apps/backend/src/eventHandlers/customHandler.ts
  apps/backend/src/queries/FapQueries.spec.ts
Due: npm run lint:backend

feat: xpress call filter load active call by default (#959)
  apps/frontend/src/components/menu/MenuItems.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/graphql/call/getCallsMinimal.graphql
Due: npm run lint:frontend

Add test reference and translation
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsView.tsx
Due: npm run lint:frontend

wip
  apps/backend/src/auth/ExperimentSafetyAuthorization.ts
  apps/backend/src/datasources/ExperimentDataSource.ts
  apps/backend/src/datasources/mockups/ExperimentDataSource.ts
  apps/backend/src/datasources/postgres/ExperimentDataSource.ts
  apps/backend/src/datasources/postgres/QuestionaryDataSource.ts
  apps/backend/src/models/Experiment.ts
  apps/backend/src/mutations/ExperimentMutation.ts
  apps/backend/src/resolvers/mutations/AddSampleToExperimentMutation.ts
  apps/backend/src/resolvers/types/Experiment.ts
  apps/backend/src/resolvers/types/ExperimentHasSample.ts
  apps/backend/src/resolvers/types/ExperimentSafety.ts
  apps/e2e/cypress/e2e/proposalEsi.cy.ts
  apps/e2e/cypress/types/utils.d.ts
  apps/frontend/src/components/AppRoutes.tsx
  apps/frontend/src/components/experimentSafety/CreateExperimentSafety.tsx
  apps/frontend/src/components/experimentSafety/CreateExperimentSafetyPage.tsx
  apps/frontend/src/components/experimentSafety/UpdateExperimentSafetyPage.tsx
  apps/frontend/src/components/proposalEsi/ProposalEsiContainer.tsx
  apps/frontend/src/components/questionary/questionaries/esi/EsiWizardStep.ts
  apps/frontend/src/components/questionary/questionaryComponents/ProposalEsiBasis/QuestionaryComponentProposalEsiBasis.tsx
  apps/frontend/src/graphql/experiment/addSampleToExperiment.graphql
  apps/frontend/src/graphql/experiment/createExperimentSafety.graphql
  apps/frontend/src/graphql/experiment/fragment.experimentSafety.graphql
  apps/frontend/src/graphql/experiment/fragment.experimentSample.graphql
  apps/frontend/src/graphql/experiment/getExperimentSafety.graphql
  apps/frontend/src/graphql/experiment/updateExperimentSafety.graphql
  apps/frontend/src/graphql/user/getUserExperiments.graphql
  apps/frontend/src/hooks/proposalBooking/useActionButtons.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

perf: improve attachment selection loading
  apps/backend/src/datasources/QuestionaryDataSource.ts
  apps/backend/src/datasources/mockups/QuestionaryDataSource.ts
  apps/backend/src/datasources/postgres/QuestionaryDataSource.ts
  apps/backend/src/models/ProposalAttachments.ts
  apps/backend/src/queries/QuestionaryQueries.spec.ts
  apps/backend/src/queries/QuestionaryQueries.ts
  apps/backend/src/resolvers/types/Proposal.ts
  apps/backend/src/resolvers/types/ProposalAttachments.ts
  apps/frontend/src/components/proposal/ProposalAttachmentDownload.tsx
  apps/frontend/src/components/review/ReviewQuestionary.tsx
  apps/frontend/src/components/review/TechnicalReviewQuestionary.tsx
  apps/frontend/src/graphql/proposal/getProposalsAttachments.graphql
  apps/frontend/src/hooks/proposal/useProposalsAttachmentsData.ts
Due: npm run lint:frontend, npm run lint:backend

Fix test
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
Due: npm run lint:e2e

WIP
  apps/backend/src/datasources/ExperimentDataSource.ts
  apps/backend/src/datasources/mockups/ExperimentDataSource.ts
  apps/backend/src/datasources/postgres/ExperimentDataSource.ts
  apps/backend/src/mutations/ExperimentMutation.ts
  apps/backend/src/queries/ExperimentQueries.ts
  apps/backend/src/resolvers/mutations/RemoveSampleFromExperimentMutation.ts
  apps/backend/src/resolvers/mutations/UpdateExperimentSampleMutation.ts
  apps/backend/src/resolvers/queries/ExperimentSampleQuery.ts
  apps/frontend/src/components/experimentSafety/CreateExperimentSafety.tsx
  apps/frontend/src/components/experimentSafety/ExperimentSafetyContainer.tsx
  apps/frontend/src/components/proposalEsi/ProposalEsiContainer.tsx
  apps/frontend/src/components/proposalEsi/ProposalEsiReview.tsx
  apps/frontend/src/components/proposalEsi/UpdateProposalEsi.tsx
  apps/frontend/src/components/questionary/questionaries/sampleEsi/SampleEsiWizardStep.ts
  apps/frontend/src/components/questionary/questionaryComponents/ProposalEsiBasis/QuestionaryComponentProposalEsiBasis.tsx
  apps/frontend/src/components/questionary/questionaryComponents/ProposalEsiBasis/createProposalEsiValidationSchema.ts
  apps/frontend/src/components/questionary/questionaryComponents/SampleEsiBasis/SampleEsiBasisDefinition.tsx
  apps/frontend/src/components/sampleEsi/SampleEsiContainer.tsx
  apps/frontend/src/components/template/PreviewTemplateModal.tsx
  apps/frontend/src/graphql/experiment/getExperimentSafety.graphql
  apps/frontend/src/graphql/experiment/getExperimentSample.graphql
  apps/frontend/src/graphql/experiment/removeSampleFromExperiment.graphql
  apps/frontend/src/graphql/experiment/updateExperimentSample.graphql
  apps/frontend/src/models/questionary/QuestionarySubmissionState.ts
  apps/frontend/src/models/questionary/experimentSafety/ExperimentSafetySubmissionState.ts
  apps/frontend/src/models/questionary/experimentSafety/ExperimentSafetyWithQuestionary.ts
  apps/frontend/src/models/questionary/experimentSample/ExperimentSampleWithQuestionary.ts
  apps/frontend/src/models/questionary/experimentSample/SampleEsiSubmissionState.ts
  apps/frontend/src/models/questionary/proposalEsi/ProposalEsiSubmissionState.ts
  apps/frontend/src/models/questionary/proposalEsi/ProposalEsiWithQuestionary.ts
  apps/frontend/src/models/questionary/sampleEsi/SampleEsiWithQuestionary.ts
Due: npm run lint:frontend, npm run lint:backend

fix: Migrated SAMPLE_SAFETY to EXPERIMENT_SAFETY_REVIEWERS in the workflow email recepients configuration
  apps/backend/db_patches/0170_MigrateSampleSafetyRoleInWorkflowActionEmail.sql
Due: none

wip
  apps/backend/src/datasources/ExperimentDataSource.ts
  apps/backend/src/datasources/mockups/ExperimentDataSource.ts
  apps/backend/src/datasources/postgres/ExperimentDataSource.ts
  apps/backend/src/mutations/ExperimentMutation.ts
  apps/backend/src/queries/ExperimentQueries.ts
  apps/backend/src/resolvers/mutations/CloneExperimentSampleMutation.ts
  apps/backend/src/resolvers/mutations/CreateOrGetExperimentSafetyMutation.ts
  apps/backend/src/resolvers/types/ExperimentSafety.ts
  apps/backend/src/utils/CloneUtils.ts
  apps/frontend/src/components/AppRoutes.tsx
  apps/frontend/src/components/experimentSafety/ExperimentSafety.tsx
  apps/frontend/src/components/experimentSafety/ExperimentSafetyPage.tsx
  apps/frontend/src/components/experimentSample/ExperimentSampleContainer.tsx
  apps/frontend/src/components/experimentSample/SampleEsiReview.tsx
  apps/frontend/src/components/questionary/QuestionaryRegistry.tsx
  apps/frontend/src/components/questionary/questionaries/esi/EsiQuestionaryDefinition.ts
  apps/frontend/src/components/questionary/questionaries/esi/EsiWizardStep.ts
  apps/frontend/src/components/questionary/questionaries/experimentSample/ExperimentSampleWizardStep.ts
  apps/frontend/src/components/questionary/questionaries/experimentSample/experimentSampleQuestionaryDefinition.ts
  apps/frontend/src/components/questionary/questionaries/sampleEsi/SampleEsiWizardStep.ts
  apps/frontend/src/components/questionary/questionaryComponents/ProposalEsiBasis/ProposalEsiBasisDefinition.tsx
  apps/frontend/src/components/questionary/questionaryComponents/ProposalEsiBasis/QuestionaryComponentExperimentSafetyBasis.tsx
  apps/frontend/src/components/questionary/questionaryComponents/SampleEsiBasis/SampleEsiBasisDefinition.tsx
  apps/frontend/src/graphql/experiment/cloneExperimentSample.graphql
  apps/frontend/src/graphql/experiment/createExperimentSafety.graphql
  apps/frontend/src/hooks/proposalBooking/useActionButtons.tsx
  apps/frontend/src/models/questionary/experimentSample/ExperimentSampleSubmissionState.ts
  apps/frontend/src/models/questionary/experimentSample/SampleEsiSubmissionState.ts
Due: npm run lint:frontend, npm run lint:backend

chore: typo
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

Add a test for instrument filter implementation
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

Refactor proposal attachment fetching
  apps/backend/src/datasources/postgres/QuestionaryDataSource.ts
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
Due: npm run lint:e2e, npm run lint:backend

wip
  apps/backend/src/auth/ExperimentSafetyAuthorization.ts
  apps/backend/src/datasources/ExperimentDataSource.ts
  apps/backend/src/datasources/mockups/ExperimentDataSource.ts
  apps/backend/src/datasources/postgres/ExperimentDataSource.ts
  apps/backend/src/datasources/postgres/QuestionaryDataSource.ts
  apps/backend/src/mutations/ExperimentMutation.ts
  apps/backend/src/resolvers/mutations/UpdateExperimentSafetyMutation.ts
  apps/backend/src/utils/CloneUtils.ts
  apps/frontend/src/components/AppRoutes.tsx
  apps/frontend/src/components/experimentSafety/ExperimentSafetyDetails.tsx
  apps/frontend/src/components/experimentSafety/ExperimentSafetyReview.tsx
  apps/frontend/src/components/experimentSafety/UpdateExperimentSafetyPage.tsx
  apps/frontend/src/components/proposalEsi/UpdateProposalEsi.tsx
  apps/frontend/src/components/questionary/questionaries/esi/EsiQuestionaryDefinition.ts
  apps/frontend/src/components/questionary/questionaryComponents/ProposalEsiBasis/ProposalEsiDetailsButton.tsx
  apps/frontend/src/components/questionary/questionaryComponents/ProposalEsiBasis/createProposalEsiValidationSchema.ts
  apps/frontend/src/graphql/experiment/getExperimentSafety.graphql
  apps/frontend/src/graphql/experiment/updateExperimentSafety.graphql
  apps/frontend/src/hooks/esi/useEsi.ts
  apps/frontend/src/hooks/experimentSafety/useExperimentSafety.ts
Due: npm run lint:frontend, npm run lint:backend

undo changes...
  apps/frontend/src/graphql/fap/getInstrumentHasProposals.graphql
  apps/frontend/src/hooks/instrument/useFapInstruments.ts
Due: npm run lint:frontend

update test
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

block o byte in frontend
  apps/frontend/src/components/common/FileUploadComponent.tsx
Due: npm run lint:frontend

block 0 bytes files in backend
  apps/backend/src/mutations/FileMutations.ts
Due: npm run lint:backend

adding tests
  apps/backend/src/datasources/mockups/VisitDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/VisitRegistration.ts
  apps/backend/src/mutations/VisitMutations.spec.ts
  apps/backend/src/resolvers/mutations/UpdateVisitRegistrationMutation.ts
Due: npm run lint:backend

adding tests
  apps/e2e/cypress/e2e/visits.cy.ts
  apps/e2e/cypress/support/template.ts
  apps/e2e/cypress/support/visits.ts
  apps/e2e/cypress/types/template.d.ts
  apps/e2e/cypress/types/visits.d.ts
  apps/frontend/src/components/experiment/ExperimentVisitsTable.tsx
  apps/frontend/src/components/experiment/PresetDateSelector.tsx
  apps/frontend/src/components/visit/VisitRegistrationReview.tsx
  apps/frontend/src/graphql/visitRegistration/submitVisitRegistration.graphql
Due: npm run lint:e2e, npm run lint:frontend

template for questionary template structured
  apps/backend/db_patches/0171_AddExperimentSafetyReviewTemplate.sql
  apps/backend/package-lock.json
  apps/backend/src/models/Template.ts
  apps/backend/src/models/questionTypes/ExperimentSafetyReviewBasis.ts
  apps/backend/src/models/questionTypes/QuestionRegistry.ts
  apps/backend/src/resolvers/types/FieldConfig.ts
  apps/frontend/src/components/AppRoutes.tsx
  apps/frontend/src/components/menu/TemplateMenuListItem.tsx
  apps/frontend/src/components/questionary/questionaryComponents/TechnicalReviewBasis/TechnicalReviewBasisDefinition.tsx
  apps/frontend/src/components/template/ExperimentSafetyReviewTemplatesPage.tsx
Due: npm run lint:frontend, npm run lint:backend

refactor: improve readibility
  apps/backend/src/auth/VisitRegistrationAuthorization.ts
Due: npm run lint:backend

Fix fap test
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

Update apps/backend/src/mutations/FileMutations.ts
  apps/backend/src/mutations/FileMutations.ts
Due: npm run lint:backend

Path conditions:
  npm run lint:e2e: any of: apps/e2e/**/*.{js,ts,jsx,tsx}
  npm run lint:frontend: any of: apps/frontend/**/*.{js,ts,jsx,tsx}
  npm run lint:backend: any of: apps/backend/**/*.{js,ts,jsx,tsx}
