Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

.lintstagedrc.json:

{
  "apps/e2e/**/*.{js,ts,jsx,tsx}": ["npm run lint:e2e"],
  "apps/frontend/**/*.{js,ts,jsx,tsx}": ["npm run lint:frontend"],
  "apps/backend/**/*.{js,ts,jsx,tsx}": ["npm run lint:backend"]
}

fix: use short_code of status instead of name for FAP proposal filtering (#939)
  apps/backend/src/datasources/postgres/FapDataSource.ts
Due: npm run lint:backend

fix: stop copying generic templates when validation fails (#911)
  apps/backend/src/datasources/postgres/GenericTemplateDataSource.ts
Due: npm run lint:backend

fix: update stfc export for 3 reviewers
  apps/backend/src/factory/xlsx/stfc/StfcFapDataColumns.ts
  apps/backend/src/factory/xlsx/stfc/StfcFapDataRow.ts
  apps/e2e/cypress/fixtures/exampleCallFapExportSTFC.json
  apps/e2e/cypress/fixtures/exampleFapExportSTFC.json
Due: npm run lint:backend

feat: handle Xpress unavailable instruments (#943)
  apps/backend/src/mutations/InstrumentMutations.spec.ts
  apps/backend/src/mutations/InstrumentMutations.ts
  apps/e2e/cypress/e2e/xpress.cy.ts
  apps/e2e/cypress/support/instrument.ts
  apps/e2e/cypress/types/instrument.d.ts
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/components/xpress/useXpressInstrumentsData.ts
  apps/frontend/src/graphql/instrument/instrumentMinimal.fragment.graphql
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

update
  apps/backend/db_patches/0000_init.sql
Due: none

feat: log runner name in GitHub Actions workflow
  .github/workflows/test-build.yml
Due: none

Fix script
  apps/backend/db_patches/0000_init.sql
Due: none

fix: addressing inconsistencies in terms used in Invites feature (#925)
  apps/backend/db_patches/0169_RenameClaimsInvites.sql
  apps/backend/src/auth/InviteAuthorizer.ts
  apps/backend/src/config/Tokens.ts
  apps/backend/src/config/dependencyConfigDefault.ts
  apps/backend/src/config/dependencyConfigE2E.ts
  apps/backend/src/config/dependencyConfigELI.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/datasources/CoProposerClaimDataSource.ts
  apps/backend/src/datasources/InviteCodeDataSource.ts
  apps/backend/src/datasources/InviteDataSource.ts
  apps/backend/src/datasources/RoleClaimDataSource.ts
  apps/backend/src/datasources/RoleInviteDataSource.ts
  apps/backend/src/datasources/mockups/CoProposerClaimDataSource.ts
  apps/backend/src/datasources/mockups/InviteCodesDataSource.ts
  apps/backend/src/datasources/mockups/InviteDataSource.ts
  apps/backend/src/datasources/mockups/RoleClaimDataSource.ts
  apps/backend/src/datasources/mockups/RoleInviteDataSource.ts
  apps/backend/src/datasources/postgres/CoProposerClaimDataSource.ts
  apps/backend/src/datasources/postgres/InviteDataSource.ts
  apps/backend/src/datasources/postgres/RoleClaimsDataSource.ts
  apps/backend/src/datasources/postgres/RoleInviteDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/CoProposerClaim.ts
  apps/backend/src/models/Invite.ts
  apps/backend/src/models/RoleClaim.ts
  apps/backend/src/models/RoleInvite.ts
  apps/backend/src/mutations/InviteMutations.spec.ts
  apps/backend/src/mutations/InviteMutations.ts
  apps/backend/src/resolvers/mutations/CreateInviteMutation.ts
  apps/backend/src/resolvers/mutations/UpdateInviteMutation.ts
  apps/backend/src/resolvers/types/Invite.ts
Due: npm run lint:backend

feat: implement hasReadRights method for invite authorization
  apps/backend/src/auth/InviteAuthorizer.ts
  apps/backend/src/queries/InviteQueries.ts
Due: npm run lint:backend

feat: add findCoProposerInvites method to InviteDataSource
  apps/backend/src/datasources/InviteDataSource.ts
  apps/backend/src/datasources/mockups/InviteDataSource.ts
  apps/backend/src/datasources/postgres/InviteDataSource.ts
Due: npm run lint:backend

WIP: Schema change for Experiment Safety Review done
  apps/backend/db_patches/0169_ExperimentSafetyReview.sql
  apps/backend/src/config/Tokens.ts
  apps/backend/src/config/dependencyConfigDefault.ts
  apps/backend/src/config/dependencyConfigE2E.ts
  apps/backend/src/config/dependencyConfigELI.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/datasources/ExperimentDataSource.ts
  apps/backend/src/datasources/mockups/ExperimentDataSource.ts
  apps/backend/src/datasources/postgres/ExperimentDataSource.ts
  apps/backend/src/models/Experiment.ts
Due: npm run lint:backend

feat: add invite creation and update feature commands for E2E tests
  apps/e2e/cypress/e2e/invites.cy.ts
  apps/e2e/cypress/support/e2e.ts
  apps/e2e/cypress/support/featureFlags.ts
  apps/e2e/cypress/support/invite.ts
  apps/e2e/cypress/types/features.d.ts
  apps/e2e/cypress/types/index.d.ts
  apps/e2e/cypress/types/invite.d.ts
Due: npm run lint:e2e

feat: add handling for INVITE_ACCEPTED event in message broker
  apps/backend/src/eventHandlers/messageBroker.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/events/event.enum.ts
  apps/backend/src/mutations/InviteMutations.ts
Due: npm run lint:backend

fix: refactor event logging to ensure resultKey is defined before usage
  apps/backend/src/decorators/EventBus.ts
Due: npm run lint:backend

cleanup
  apps/backend/db_patches/0000_init.sql
Due: none

chore: update dependencies for improved performance
  apps/backend/db_patches/0000_init.sql
Due: none

cleanup: remove commented-out sections from init.sql
  apps/backend/db_patches/0000_init.sql
Due: none

sdfds
  apps/backend/db_patches/0000_init.sql
Due: none

fix: reviewers shouldn't see other reviews
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/frontend/src/components/review/ProposalReviewContent.tsx
  apps/frontend/src/components/review/ProposalTableReviewer.tsx
Due: npm run lint:e2e, npm run lint:frontend

Change Instrument Contact to Area Contact for CLF
  apps/frontend/public/locales/override/translation.json
  apps/frontend/src/components/instrument/AssignedScientistsTable.tsx
Due: npm run lint:frontend

Update packages and rename terminology
  apps/frontend/src/components/instrument/CreateUpdateInstrument.tsx
Due: npm run lint:frontend

amend translations
  apps/backend/package-lock.json
  apps/frontend/public/locales/override/translation.json
Due: none

fix: interval question firefox bug
  apps/frontend/src/components/questionary/questionaryComponents/Interval/QuestionaryComponentInterval.tsx
Due: npm run lint:frontend

perf: use batch loading for BasicUserDetails (#932)
  .vscode/launch.json
  apps/backend/src/buildContext.ts
  apps/backend/src/config/Tokens.ts
  apps/backend/src/config/dependencyConfigDefault.ts
  apps/backend/src/config/dependencyConfigE2E.ts
  apps/backend/src/config/dependencyConfigELI.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/context/index.ts
  apps/backend/src/datasources/UserDataSource.ts
  apps/backend/src/datasources/mockups/UserDataSource.ts
  apps/backend/src/datasources/postgres/UserDataSource.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/backend/src/loaders/BasicUserDetailsLoader.ts
  apps/backend/src/queries/UserQueries.ts
  apps/backend/src/resolvers/types/FapAssignments.ts
  apps/backend/src/resolvers/types/FapReviewers.ts
Due: npm run lint:backend

wip
  apps/backend/src/factory/pdf/proposal.ts
Due: npm run lint:backend

avoid mutating underlining object
  apps/backend/src/factory/pdf/proposal.ts
Due: npm run lint:backend

fix update of answer
  apps/backend/src/factory/pdf/proposal.ts
Due: npm run lint:backend

wip
  apps/backend/db_patches/0169_ExperimentSafetyReview.sql
  apps/backend/src/auth/EsiAuthorization.ts
  apps/backend/src/datasources/ExperimentDataSource.ts
  apps/backend/src/datasources/mockups/ExperimentDataSource.ts
  apps/backend/src/datasources/postgres/ExperimentDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/Experiment.ts
  apps/backend/src/mutations/ExperimentMutation.ts
  apps/backend/src/queries/ExperimentQueries.ts
  apps/backend/src/resolvers/mutations/CreateExperimentSafetyMutation.ts
  apps/backend/src/resolvers/mutations/UpdateExperimentSafetyMutation.ts
  apps/backend/src/resolvers/queries/ExperimentSafetyQuery.ts
  apps/backend/src/resolvers/types/Experiment.ts
  apps/backend/src/resolvers/types/ExperimentSafetyInput.ts
  apps/backend/src/resolvers/types/ScheduledEvent.ts
  apps/frontend/src/components/proposalEsi/CreateProposalEsi.tsx
  apps/frontend/src/graphql/esi/getEsi.graphql
Due: npm run lint:frontend, npm run lint:backend

fix: refactor event logging to ensure resultKey and event is defined before usage (#947)
  apps/backend/src/decorators/EventBus.ts
Due: npm run lint:backend

wip
  apps/backend/db_patches/0169_ExperimentSafetyReview.sql
  apps/backend/src/datasources/postgres/ExperimentDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/Experiment.ts
  apps/backend/src/resolvers/types/ExperimentSafety.ts
  apps/frontend/src/graphql/experiment/getExperimentSafety.graphql
Due: npm run lint:backend

WIP
  apps/backend/db_patches/0169_RenameSampleReviewerToExperimentReviewer.sql
  apps/backend/src/auth/ProposalAuthorization.ts
  apps/backend/src/auth/SampleAuthorization.ts
  apps/backend/src/auth/UserAuthorization.ts
  apps/backend/src/config/eli/configureELIEnvironment.ts
  apps/backend/src/config/ess/configureESSEnvironment.ts
  apps/backend/src/datasources/mockups/UserDataSource.ts
  apps/backend/src/models/Feature.ts
  apps/backend/src/models/Role.ts
  apps/backend/src/models/Settings.ts
  apps/backend/src/models/User.ts
  apps/backend/src/mutations/ReviewMutations.ts
  apps/backend/src/mutations/SampleMutations.spec.ts
  apps/backend/src/queries/SampleQueries.ts
  apps/backend/src/queries/ShipmentQueries.ts
  apps/backend/src/resolvers/types/ProposalStatusActionConfig.ts
  apps/backend/src/statusActionEngine/emailActionHandler.ts
  apps/e2e/cypress/e2e/samples.cy.ts
  apps/e2e/cypress/support/initialDBData.ts
  apps/frontend/src/components/AppRoutes.tsx
  apps/frontend/src/components/experimentSafetyReview/ExperimentSafetyReviewPage.tsx
  apps/frontend/src/components/experimentSafetyReview/SampleDetails.tsx
  apps/frontend/src/components/experimentSafetyReview/SamplesTable.tsx
  apps/frontend/src/components/menu/MenuItems.tsx
  apps/frontend/src/components/questionary/questionaryComponents/SampleDeclaration/SamplesAnswerRenderer.tsx
  apps/frontend/src/components/sampleEsi/SampleEsiReview.tsx
  apps/frontend/src/components/xpress/ProposalScientistComment.tsx
  documentation/docs/user-guide/user-officer/page.md
  documentation/docs/user-guide/user-officer/roles.md
  documentation/docs/user-guide/user-officer/settings/features.md
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Logic to delete dependent subtemplate
  apps/backend/src/mutations/QuestionaryMutations.ts
  apps/e2e/cypress/e2e/genericTemplates.cy.ts
Due: npm run lint:e2e, npm run lint:backend

fix: update stfc export for 3 reviewers (#945)
  apps/backend/src/factory/xlsx/stfc/StfcFapDataColumns.ts
  apps/backend/src/factory/xlsx/stfc/StfcFapDataRow.ts
  apps/e2e/cypress/fixtures/exampleCallFapExportSTFC.json
  apps/e2e/cypress/fixtures/exampleFapExportSTFC.json
Due: npm run lint:backend

#1343: Include the questions and answers under the 'Sample' section
  apps/backend/src/statusActionEngine/statusActionUtils.ts
Due: npm run lint:backend

Fix techniques sorting in picker
  apps/backend/src/models/questionTypes/TechniquePicker.ts
Due: npm run lint:backend

add instruments column to proposals and assignments table
  apps/backend/src/resolvers/types/FapProposal.ts
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/graphql/fap/getFapProposals.graphql
Due: npm run lint:frontend, npm run lint:backend

fix: interval question arrows firefox bug (#951)
  apps/frontend/src/components/questionary/questionaryComponents/Interval/QuestionaryComponentInterval.tsx
Due: npm run lint:frontend
