Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

perf: stop overfetching of instrument data
  apps/frontend/src/components/common/proposalFilters/InstrumentFilter.tsx
  apps/frontend/src/components/experiment/ExperimentFilterBar.tsx
  apps/frontend/src/components/instrument/AssignProposalsToInstruments.tsx
  apps/frontend/src/components/proposal/ProposalFilterBar.tsx
  apps/frontend/src/components/proposal/ProposalPage.tsx
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/components/proposalBooking/InstrSciUpcomingExperimentTimesTable.tsx
  apps/frontend/src/components/review/ProposalTableReviewer.tsx
  apps/frontend/src/graphql/instrument/getInstrumentsMinimal.graphql
  apps/frontend/src/graphql/instrument/getMyInstrumentsMinimal.graphql
  apps/frontend/src/graphql/instrument/instrumentMinimal.fragment.graphql
  apps/frontend/src/hooks/instrument/useInstrumentsMinimalData.ts
Due: npm run lint:frontend

chore: fix broken tests
  apps/e2e/cypress/e2e/predefinedMessages.cy.ts
  apps/e2e/cypress/e2e/templatesBasic.cy.ts
Due: npm run lint:e2e

fix useDataApi parameters to prevent infinite reloading
  apps/frontend/src/hooks/common/useDataApi.ts
Due: npm run lint:frontend

remove onlys and pauses
  apps/e2e/cypress/e2e/templatesBasic.cy.ts
Due: npm run lint:e2e

better logic
  apps/e2e/cypress/e2e/templatesBasic.cy.ts
Due: npm run lint:e2e

chore: fix broken tests (#840)
  apps/e2e/cypress/e2e/predefinedMessages.cy.ts
  apps/e2e/cypress/e2e/templatesBasic.cy.ts
Due: npm run lint:e2e

chore: optimised sample safety auth by using user auth for discovering sample safety user
  apps/backend/src/auth/SampleAuthorization.ts
Due: npm run lint:backend

fix: remove wrong condition from fap reviewer grade access
  apps/frontend/src/components/questionary/questionaries/fapReview/FapReviewQuestionaryWizardStep.ts
Due: npm run lint:frontend

fix: fap reviews not being deleted along with assignments
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/backend/src/resolvers/mutations/AssignMembersToFapMutation.ts
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/graphql/fap/removeFapMemberFromProposal.graphql
Due: npm run lint:frontend, npm run lint:backend

Add e2e tests
  apps/backend/src/mutations/ProposalMutations.spec.ts
  apps/backend/src/mutations/ProposalMutations.ts
  apps/e2e/cypress/e2e/xpress.cy.ts
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Hide non-Xpress statuses
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Add logic for changing Xpress statuses
  apps/backend/src/mutations/ProposalMutations.ts
  apps/backend/src/resolvers/mutations/ChangeXpressProposalsStatusMutation.ts
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/graphql/proposal/changeXpressProposalsStatus.graphql
Due: npm run lint:frontend, npm run lint:backend

Add unit tests
  apps/backend/src/mutations/ProposalMutations.spec.ts
Due: npm run lint:backend

Add more tests
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/mutations/ProposalMutations.spec.ts
Due: npm run lint:backend

Give special permissions to user officers
  apps/backend/src/mutations/ProposalMutations.spec.ts
  apps/backend/src/mutations/ProposalMutations.ts
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend, npm run lint:backend

Add Xpress statuses in db patch
  apps/backend/db_patches/0165_CreateXpressStatuses.sql
  apps/e2e/cypress/e2e/xpress.cy.ts
  apps/e2e/cypress/support/initialDBData.ts
Due: npm run lint:e2e

Handle expired Xpress proposals
  apps/backend/src/mutations/ProposalMutations.spec.ts
  apps/backend/src/mutations/ProposalMutations.ts
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend, npm run lint:backend

Revert "Add Xpress statuses in db patch"
  apps/backend/db_patches/0165_CreateXpressStatuses.sql
  apps/e2e/cypress/e2e/xpress.cy.ts
  apps/e2e/cypress/support/initialDBData.ts
Due: npm run lint:e2e

Add status filter e2e check
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

Match status short codes in frontend
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Fix current status issue
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

fix: remove wrong condition from fap reviewer grade access (#844)
  apps/frontend/src/components/questionary/questionaries/fapReview/FapReviewQuestionaryWizardStep.ts
Due: npm run lint:frontend

graphql updates for technical review templates
  apps/frontend/src/models/questionary/technicalReview/TechnicalReviewWithQuestionary.ts
Due: npm run lint:frontend

feat: add option to export xpress proposals (#834)
  apps/backend/src/factory/DownloadService.ts
  apps/backend/src/factory/xlsx/proposal.ts
  apps/backend/src/middlewares/factory/xlsx.ts
  apps/e2e/cypress/e2e/xpress.cy.ts
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/context/DownloadContextProvider.tsx
  apps/frontend/src/graphql/proposal/getTechniqueScientistProposalsBasic.graphql
  apps/frontend/src/hooks/proposal/useDownloadXLSXProposal.ts
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

remove unused dependency that was added
  apps/backend/src/mutations/FapMutations.ts
Due: npm run lint:backend

Verify status on instrument assignment
  apps/backend/src/mutations/InstrumentMutations.spec.ts
  apps/backend/src/mutations/InstrumentMutations.ts
Due: npm run lint:backend

use same parameters for deleting from both tables
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/backend/src/resolvers/mutations/AssignMembersToFapMutation.ts
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/graphql/fap/removeFapMemberFromProposal.graphql
Due: npm run lint:frontend, npm run lint:backend

Limit calls filter to Xpress only
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

fix: proposal reviewer table fixes
  apps/backend/src/datasources/postgres/ReviewDataSource.ts
  apps/frontend/src/components/review/ProposalTableReviewer.tsx
Due: npm run lint:frontend, npm run lint:backend

move technical review queries to a dedicated file
  apps/backend/src/queries/TechnicalReviewQueries.ts
  apps/frontend/src/graphql/technicalReview/addTechnicalReview.graphql
  apps/frontend/src/graphql/technicalReview/assignTechnicalReviewToUser.graphql
  apps/frontend/src/graphql/technicalReview/submitTechnicalReviews.graphql
Due: npm run lint:backend

remove intermediate array step
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
Due: npm run lint:frontend

fix: proposal reviewer table fixes (#847)
  apps/backend/src/datasources/postgres/ReviewDataSource.ts
  apps/frontend/src/components/review/ProposalTableReviewer.tsx
Due: npm run lint:frontend, npm run lint:backend

add validation to db update
  apps/backend/src/datasources/postgres/FapDataSource.ts
Due: npm run lint:backend

Fix merge
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Fix Xpress e2e tests
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

Remove .only()
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

Began moving authorization checks to getGenericTemplates
  apps/backend/src/auth/questionary/GenericTemplateQuestionaryAuthorizer.ts
  apps/backend/src/datasources/GenericTemplateDataSource.ts
  apps/backend/src/datasources/mockups/GenericTemplateDataSource.ts
  apps/backend/src/datasources/postgres/GenericTemplateDataSource.ts
  apps/backend/src/factory/pdf/proposal.ts
  apps/backend/src/factory/zip/attachment.ts
  apps/backend/src/mutations/ProposalMutations.ts
  apps/backend/src/queries/GenericTemplateQueries.ts
Due: npm run lint:backend

validation on remove db query
  apps/backend/src/datasources/postgres/FapDataSource.ts
Due: npm run lint:backend

Path conditions:
  npm run lint:e2e: any of: apps/e2e/**/*.{js,ts,jsx,tsx}
  npm run lint:frontend: any of: apps/frontend/**/*.{js,ts,jsx,tsx}
  npm run lint:backend: any of: apps/backend/**/*.{js,ts,jsx,tsx}
