Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

.lintstagedrc.json:

{
  "apps/e2e/**/*.{js,ts,jsx,tsx}": ["npm run lint:e2e"],
  "apps/frontend/**/*.{js,ts,jsx,tsx}": ["npm run lint:frontend"],
  "apps/backend/**/*.{js,ts,jsx,tsx}": ["npm run lint:backend"]
}

Fix instrument filter
  apps/frontend/src/components/xpress/useXpressInstrumentsData.ts
Due: npm run lint:frontend

Fix filter tests
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

fix: update notification message about review submission (#865)
  apps/frontend/src/components/review/ReviewSummary.tsx
Due: npm run lint:frontend

fix: status action logs filter (#868)
  apps/backend/src/datasources/postgres/StatusActionsLogsDataSource.ts
  apps/backend/src/resolvers/types/StatusActionsLog.ts
  apps/frontend/src/components/statusActionsLogs/StatusActionsLogsTable.tsx
  apps/frontend/src/graphql/statusActionsLogs/fragment.statusActionsLog.graphql
  apps/frontend/src/graphql/statusActionsLogs/getStatusActionsLogs.graphql
Due: npm run lint:frontend, npm run lint:backend

update function names
  apps/backend/src/datasources/CallDataSource.ts
  apps/backend/src/datasources/mockups/CallDataSource.ts
  apps/backend/src/datasources/postgres/CallDataSource.ts
  apps/backend/src/factory/pdf/proposal.ts
  apps/backend/src/queries/CallQueries.ts
  apps/backend/src/resolvers/queries/CallQuery.ts
  apps/frontend/src/graphql/call/getCallAllocatedTimeUnit.graphql
  apps/frontend/src/hooks/call/useQuestionCallData.ts
Due: npm run lint:frontend, npm run lint:backend

feat: add download dialog to fap document store (#870)
  apps/frontend/src/components/common/FileLink.tsx
  apps/frontend/src/context/DownloadContextProvider.tsx
Due: npm run lint:frontend

fix: Fixed issue with sorting of columns Answers and Templates
  apps/frontend/src/components/template/QuestionsPage.tsx
Due: npm run lint:frontend

perf: optimize getCallByQuestionId (#861)
  apps/backend/src/datasources/CallDataSource.ts
  apps/backend/src/datasources/mockups/CallDataSource.ts
  apps/backend/src/datasources/postgres/CallDataSource.ts
  apps/backend/src/factory/pdf/proposal.ts
  apps/backend/src/queries/CallQueries.ts
  apps/backend/src/resolvers/queries/CallQuery.ts
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/InstrumentPickerAnswerRenderer.tsx
  apps/frontend/src/graphql/call/getCallAllocatedTimeUnit.graphql
  apps/frontend/src/graphql/call/getCallByQuestionId.graphql
  apps/frontend/src/hooks/call/useQuestionCallData.ts
Due: npm run lint:frontend, npm run lint:backend

feat: add Xpress management page notice (#854)
  apps/backend/src/models/Page.ts
  apps/frontend/src/components/pages/PageEditor.tsx
  apps/frontend/src/components/xpress/XpressNotice.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend, npm run lint:backend

Rename user id variable
  apps/backend/src/datasources/TechniqueDataSource.ts
  apps/backend/src/datasources/mockups/TechniqueDataSource.ts
  apps/backend/src/datasources/postgres/TechniqueDataSource.ts
  apps/backend/src/queries/TechniqueQueries.ts
  apps/backend/src/resolvers/queries/TechniqueQuery.ts
  apps/frontend/src/graphql/technique/getTechniquesByScientist.graphql
  apps/frontend/src/hooks/technique/useXpressTechniquesData.ts
Due: npm run lint:frontend, npm run lint:backend

Fix linting
  apps/backend/src/queries/TechniqueQueries.ts
Due: npm run lint:backend

perf: improve Xpress performance (#869)
  apps/backend/src/datasources/TechniqueDataSource.ts
  apps/backend/src/datasources/mockups/TechniqueDataSource.ts
  apps/backend/src/datasources/postgres/TechniqueDataSource.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/backend/src/queries/TechniqueQueries.ts
  apps/backend/src/resolvers/queries/TechniqueQuery.ts
  apps/e2e/cypress/e2e/xpress.cy.ts
  apps/frontend/src/components/common/proposalFilters/TechniqueFilter.tsx
  apps/frontend/src/components/xpress/XpressProposalFilterBar.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/components/xpress/useXpressInstrumentsData.ts
  apps/frontend/src/graphql/technique/getTechniquesByScientist.graphql
  apps/frontend/src/graphql/technique/getTechniquesMinimal.graphql
  apps/frontend/src/graphql/technique/techniqueMinimal.fragment.graphql
  apps/frontend/src/hooks/technique/useXpressTechniquesData.ts
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Remove expired status from filter
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

refactor: update proposal import for Xpress (#853)
  apps/backend/src/datasources/ProposalDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/mutations/ProposalMutations.spec.ts
  apps/backend/src/mutations/ProposalMutations.ts
  apps/backend/src/resolvers/mutations/ImportProposalMutation.ts
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend, npm run lint:backend

fix: use correct table name in getProposals filter
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
Due: npm run lint:backend

fix: pass the templateIds proposal filter parameter to the backend
  apps/frontend/src/hooks/proposal/useProposalsData.ts
Due: npm run lint:frontend

perf: reduce quantity of data fetched for proposal link tables
  apps/frontend/src/components/proposal/ProposalAttachmentDownload.tsx
  apps/frontend/src/components/template/AnswerCountDetails.tsx
  apps/frontend/src/components/template/ProposalTemplatesTable.tsx
  apps/frontend/src/graphql/proposal/getProposalsMinimal.graphql
  apps/frontend/src/hooks/proposal/useProposalsData.ts
Due: npm run lint:frontend

perf: prevent proposal templates table from infinitely refetching data
  apps/frontend/src/components/template/ProposalTemplatesTable.tsx
Due: npm run lint:frontend

wip optimise answertopic
  .vscode/launch.json
  apps/backend/src/mutations/QuestionaryMutations.ts
  apps/backend/src/resolvers/mutations/AnswerTopicMutation.ts
  apps/backend/src/resolvers/types/AnswerMinimal.ts
  apps/frontend/src/graphql/questionary/answerTopic.graphql
  apps/frontend/src/graphql/questionary/fragment.answerMinimal.graphql
  apps/frontend/src/models/questionary/QuestionarySubmissionState.ts
Due: npm run lint:frontend, npm run lint:backend

Remove User Office heading text
  apps/frontend/src/components/AppToolbar/AppToolbar.tsx
Due: npm run lint:frontend

perf: get less proposal data on clone (#863)
  apps/frontend/src/components/proposal/ProposalTable.tsx
  apps/frontend/src/graphql/proposal/getProposalToClone.graphql
Due: npm run lint:frontend

test: check filtering in e2e test for proposals by template
  apps/e2e/cypress/e2e/templatesBasic.cy.ts
  apps/frontend/src/components/template/ProposalTemplatesTable.tsx
Due: npm run lint:e2e, npm run lint:frontend

refactor: remove User Office heading text (#875)
  apps/frontend/src/components/AppToolbar/AppToolbar.tsx
Due: npm run lint:frontend

chore: swap 4228 uo fe use search params type implementation
  apps/frontend/src/components/call/CallsTable.tsx
  apps/frontend/src/components/common/SimpleTabs.tsx
  apps/frontend/src/components/common/SuperMaterialTable.tsx
  apps/frontend/src/components/common/proposalFilters/CallFilter.tsx
  apps/frontend/src/components/common/proposalFilters/DateFilter.tsx
  apps/frontend/src/components/common/proposalFilters/InstrumentFilter.tsx
  apps/frontend/src/components/common/proposalFilters/ProposalStatusFilter.tsx
  apps/frontend/src/components/common/proposalFilters/TechniqueFilter.tsx
  apps/frontend/src/components/experiment/ExperimentFilterBar.tsx
  apps/frontend/src/components/experiment/ExperimentTable.tsx
  apps/frontend/src/components/fap/FapsTable.tsx
  apps/frontend/src/components/fap/MeetingComponents/FapInstrumentProposalsTable.tsx
  apps/frontend/src/components/fap/MeetingComponents/FapMeetingComponentsView.tsx
  apps/frontend/src/components/fap/Proposals/FapAssignedReviewersTable.tsx
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsView.tsx
  apps/frontend/src/components/proposal/ProposalPage.tsx
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/components/proposal/TableActionsDropdownMenu.tsx
  apps/frontend/src/components/proposalBooking/InstrSciUpcomingExperimentTimesTable.tsx
  apps/frontend/src/components/review/ProposalTableReviewer.tsx
  apps/frontend/src/components/review/ReviewerFilter.tsx
  apps/frontend/src/components/sample/SampleSafetyPage.tsx
  apps/frontend/src/components/sample/SamplesTable.tsx
  apps/frontend/src/components/statusActionsLogs/StatusActionsLogsTable.tsx
  apps/frontend/src/components/user/ExternalAuth.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/hooks/common/useTypeSafeSearchParams.ts
  yarn.lock
Due: npm run lint:frontend

refactor: make proposal auth more efficient
  apps/backend/src/auth/ProposalAuthorization.spec.ts
  apps/backend/src/auth/ProposalAuthorization.ts
  apps/backend/src/datasources/mockups/InternalReviewDataSource.ts
  apps/backend/src/datasources/mockups/UserDataSource.ts
  apps/backend/src/datasources/mockups/VisitDataSource.ts
  apps/backend/src/resolvers/types/GenericTemplate.ts
  apps/backend/src/resolvers/types/Questionary.ts
Due: npm run lint:backend

perf: use more minimal requests for getting call data (#862)
  apps/frontend/src/components/proposal/ProposalCreate.tsx
  apps/frontend/src/components/proposal/ProposalSummary.tsx
  apps/frontend/src/graphql/call/getCall.graphql
  apps/frontend/src/graphql/call/getCallCloseDetails.graphql
  apps/frontend/src/graphql/call/getCallSubmissionDetails.graphql
  apps/frontend/src/hooks/call/useCallCloseData.ts
Due: npm run lint:frontend

Add view for generic templates
  apps/backend/db_patches/0165_AddViewForGenericTemplates.sql
Due: none

perf: optimize getGenericTemplate in GenericTemplateDetails (#867)
  apps/frontend/src/graphql/genericTemplates/getGenericTemplateMinimal.graphql
  apps/frontend/src/hooks/genericTemplate/useGenericTemplate.ts
Due: npm run lint:frontend

Add new genericTemplatesForCopy query
  apps/backend/src/datasources/GenericTemplateDataSource.ts
  apps/backend/src/datasources/mockups/GenericTemplateDataSource.ts
  apps/backend/src/datasources/postgres/GenericTemplateDataSource.ts
  apps/backend/src/queries/GenericTemplateQueries.ts
  apps/backend/src/resolvers/queries/GenericTemplatesQuery.ts
  apps/frontend/src/components/questionary/questionaryComponents/GenericTemplate/GenericTemplateSelectModalOnCopy.tsx
  apps/frontend/src/graphql/genericTemplates/getGenericTemplatesOnCopy.graphql
  apps/frontend/src/models/questionary/genericTemplate/GenericTemplateWithQuestionary.ts
Due: npm run lint:frontend, npm run lint:backend

Fix frontend tests with new query
  apps/e2e/cypress/e2e/genericTemplates.cy.ts
Due: npm run lint:e2e

fix: prevent crashes when viewing a template's proposals (#874)
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/e2e/cypress/e2e/templatesBasic.cy.ts
  apps/frontend/src/components/proposal/ProposalAttachmentDownload.tsx
  apps/frontend/src/components/template/AnswerCountDetails.tsx
  apps/frontend/src/components/template/ProposalTemplatesTable.tsx
  apps/frontend/src/graphql/proposal/getProposalsMinimal.graphql
  apps/frontend/src/hooks/proposal/useProposalsData.ts
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

perf: fixes getting value from answer
  apps/frontend/src/models/questionary/QuestionarySubmissionState.ts
Due: npm run lint:frontend

Get call details from proposal
  apps/backend/src/factory/pdf/proposal.ts
Due: npm run lint:backend

Clean up copyIfNotExists.js util
  copyIfNotExist.js
Due: none

fix: show whole review on preview
  apps/frontend/src/components/review/ReviewQuestionaryReview.tsx
Due: npm run lint:frontend

perf: fixes logging
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/eventHandlers/messageBroker.ts
  apps/backend/src/events/applicationEvents.ts
Due: npm run lint:backend

fix: refactor getting call details for proposal downloads (#879)
  apps/backend/src/factory/pdf/proposal.ts
Due: npm run lint:backend

chore: remove unnecessary Yarn lock file
  yarn.lock
Due: none

chore: clean up copyIfNotExists.js util (#880)
  copyIfNotExist.js
Due: none

reverts launch.json, removes commented code
  .vscode/launch.json
  apps/backend/src/mutations/QuestionaryMutations.ts
Due: npm run lint:backend
