Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

.lintstagedrc.json:

{
  "apps/e2e/**/*.{js,ts,jsx,tsx}": ["npm run lint:e2e"],
  "apps/frontend/**/*.{js,ts,jsx,tsx}": ["npm run lint:frontend"],
  "apps/backend/**/*.{js,ts,jsx,tsx}": ["npm run lint:backend"]
}

Add variables part 2
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

Hnadle date error in backend
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

Start advanced e2e tests
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

Filtering expired proposals for scientist
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/e2e/cypress/e2e/xpress.cy.ts
  apps/e2e/cypress/support/initialDBData.ts
  apps/frontend/src/components/menu/MenuItems.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/components/xpress/useProposalsCoreData.ts
  apps/frontend/src/hooks/technique/useTechniquesData.ts
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

minor fixes
  apps/e2e/cypress/e2e/xpress.cy.ts
  apps/frontend/src/components/common/proposalFilters/DateFilter.tsx
Due: npm run lint:e2e, npm run lint:frontend

Fetching instruments correction
  apps/backend/src/queries/InstrumentQueries.ts
  apps/backend/src/queries/TechniqueQueries.ts
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/components/xpress/useXpressInstrumentsData.ts
  apps/frontend/src/graphql/proposal/getTechniqueScientistProposals.graphql
Due: npm run lint:frontend, npm run lint:backend

Fix e2e tests
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

Instrument filter frontend
  apps/e2e/cypress/support/technique.ts
  apps/frontend/src/components/xpress/XpressProposalFilterBar.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:e2e, npm run lint:frontend

URL query params WIP
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Continue advanced e2e tests
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

Date filter implementation
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/backend/src/resolvers/queries/ProposalsQuery.ts
  apps/frontend/src/components/common/proposalFilters/DateFilter.tsx
  apps/frontend/src/components/xpress/XpressProposalFilterBar.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/components/xpress/useProposalsCoreData.ts
Due: npm run lint:frontend, npm run lint:backend

Add e2e function for prop to tech
  apps/backend/src/mutations/TechniqueMutations.ts
  apps/backend/src/resolvers/mutations/AssignProposalToTechniquesMutation.ts
  apps/e2e/cypress/support/technique.ts
  apps/e2e/cypress/types/technique.d.ts
  apps/frontend/src/graphql/technique/assignProposalToTechniques.graphql
Due: npm run lint:e2e, npm run lint:backend

Fix instrument test v3
  apps/e2e/cypress/e2e/instruments.cy.ts
Due: npm run lint:e2e

Revert mistaken change
  apps/e2e/cypress/e2e/instruments.cy.ts
Due: npm run lint:e2e

Initial commit
  apps/frontend/src/components/xpress/AssignProposalsToXpressInstruments.tsx
  apps/frontend/src/components/xpress/InstrumentSelection.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

review comment fix
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Review comments fix
  apps/frontend/src/components/common/proposalFilters/TechniqueFilter.tsx
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/xpress/XpressProposalFilterBar.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

changing the name from LRUCache to Cache
  apps/backend/src/utils/__mocks__/Cache.ts
Due: npm run lint:backend

Disable sorting for technique, instrument
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

fix lint errors
  apps/backend/src/auth/StfcUserAuthorization.spec.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.spec.ts
Due: npm run lint:backend

added cache_max_entries and cache_ttl environment variables
  apps/backend/src/utils/Cache.ts
Due: npm run lint:backend

changed the default ttl from 300 seconds to 600 seconds
  apps/backend/src/auth/StfcUserAuthorization.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
Due: npm run lint:backend

Initial commit
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

code change after review
  apps/backend/src/utils/Cache.ts
Due: npm run lint:backend

fix error
  apps/backend/src/utils/Cache.ts
Due: npm run lint:backend

remove unecessary function
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

fix: review uows caches (#811)
  apps/backend/package.json
  apps/backend/src/auth/StfcUserAuthorization.spec.ts
  apps/backend/src/auth/StfcUserAuthorization.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.spec.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/backend/src/utils/Cache.spec.ts
  apps/backend/src/utils/Cache.ts
  apps/backend/src/utils/LRUCache.spec.ts
  apps/backend/src/utils/LRUCache.ts
  apps/backend/src/utils/__mocks__/Cache.ts
Due: npm run lint:backend

fix: generic template incorrect canCopy logic
  apps/backend/src/datasources/postgres/GenericTemplateDataSource.ts
Due: npm run lint:backend

E2e tests data setup
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

Add filter label
  apps/frontend/src/components/common/proposalFilters/DateFilter.tsx
Due: npm run lint:frontend

Sorting fix
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Revert unwanted changes
  apps/e2e/cypress.config.ts
Due: npm run lint:e2e

Add e2e skeleton
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

Populating submitted date for proposals
  apps/backend/src/datasources/ProposalDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/backend/src/eventHandlers/customHandler.ts
Due: npm run lint:backend

Add super basic table
  apps/frontend/src/components/AppRoutes.tsx
  apps/frontend/src/components/menu/MenuItems.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

e2e tests continuation
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

Feature flag implementation
  apps/backend/db_patches/0163_XpressRouteFeature.sql
  apps/backend/src/config/stfc/configureSTFCEnvironment.ts
  apps/backend/src/models/Feature.ts
  apps/frontend/src/components/AppRoutes.tsx
  apps/frontend/src/components/menu/MenuItems.tsx
  apps/frontend/src/hooks/common/useXpressAccess.tsx
Due: npm run lint:frontend, npm run lint:backend
