Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

.lintstagedrc.json:

{
  "apps/e2e/**/*.{js,ts,jsx,tsx}": ["npm run lint:e2e"],
  "apps/frontend/**/*.{js,ts,jsx,tsx}": ["npm run lint:frontend"],
  "apps/backend/**/*.{js,ts,jsx,tsx}": ["npm run lint:backend"]
}

Refactoring test set up
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

Rest changes
  .prettierignore
  .vscode/launch.json
  apps/backend/.eslintignore
  apps/backend/.gitignore
  apps/backend/docker-compose-stfc.e2e.yml
  apps/backend/openapi.yaml
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/auth/StfcUserAuthorization.spec.ts
  apps/backend/src/auth/StfcUserAuthorization.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.spec.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/backend/src/datasources/stfc/UOWSClient.ts
  apps/backend/src/datasources/stfc/UOWSSoapInterface.ts
  apps/backend/src/mutations/UserMutations.spec.ts
  apps/e2e/cypress.config.ts
  yarn.lock
Due: npm run lint:e2e, npm run lint:backend

Revert cypress config change
  .github/workflows/test-build.yml
  apps/e2e/cypress.config.ts
Due: npm run lint:e2e

Revert cypress config
  .github/workflows/test-build.yml
Due: none

Test
  README.md
Due: none

Changed dockerfile
  apps/backend/Dockerfile
Due: none

Remove accidental import
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
Due: npm run lint:backend

update beforeeach
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

Fix lint and add to workflow
  .github/workflows/test-build.yml
  apps/backend/src/auth/StfcUserAuthorization.spec.ts
  apps/backend/src/auth/StfcUserAuthorization.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.spec.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/backend/src/datasources/stfc/UOWSClient.ts
  package.json
Due: npm run lint:backend

remove lint issue
  apps/backend/src/datasources/stfc/StfcUserDataSource.spec.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
Due: npm run lint:backend

fix: update created field rendering in ProposalTable and ProposalTableUser components
  apps/frontend/src/components/proposal/ProposalTable.tsx
  apps/frontend/src/components/proposal/ProposalTableUser.tsx
Due: npm run lint:frontend

revert read me
  README.md
Due: none

Fix e2e
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

Fix e2e test
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

fix: update what comment the fap sheet export uses (#886)
  apps/backend/db_patches/0166_UpdateWhichCommentOnReviewProposalView.sql
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/fixtures/exampleCallFapExportSTFC.json
  apps/e2e/cypress/fixtures/exampleFapExportSTFC.json
Due: npm run lint:e2e

fix: xpress minor fixes (#899)
  apps/e2e/cypress/e2e/xpress.cy.ts
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/graphql/proposal/getTechniqueScientistProposals.graphql
Due: npm run lint:e2e, npm run lint:frontend

fix: wrap questions table in a div for improved structure
  apps/frontend/src/components/template/QuestionsPage.tsx
Due: npm run lint:frontend

fix: removing unused tag
  apps/frontend/src/components/template/QuestionsTableFilter.tsx
Due: npm run lint:frontend

fix: removing unused parameter
  apps/backend/src/resolvers/queries/QuestionsQuery.ts
Due: npm run lint:backend

test: Adding E2E tests for the server side paginating
  apps/e2e/cypress/e2e/questions.cy.ts
Due: npm run lint:e2e

Fixed lint
  apps/backend/src/auth/StfcUserAuthorization.spec.ts
  apps/backend/src/auth/StfcUserAuthorization.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.spec.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/backend/src/datasources/stfc/UOWSClient.ts
Due: npm run lint:backend

chore: update yml for production
  docker-compose.yml
Due: none

perf: updateAnswer returns more data
  apps/backend/src/datasources/QuestionaryDataSource.ts
  apps/backend/src/datasources/mockups/QuestionaryDataSource.ts
  apps/backend/src/datasources/postgres/QuestionaryDataSource.ts
  apps/backend/src/mutations/QuestionaryMutations.ts
Due: npm run lint:backend

fix: PR comment adjustments
  apps/backend/src/datasources/mockups/InviteCodesDataSource.ts
  apps/backend/src/mutations/InviteMutations.spec.ts
  apps/backend/src/mutations/InviteMutations.ts
Due: npm run lint:backend

feat: add InviteUser component for participant invitations in proposals
  apps/frontend/src/components/proposal/InviteUser.tsx
  apps/frontend/src/components/proposal/ProposalParticipants.tsx
Due: npm run lint:frontend

perf: optimise answer topic mutation (#884)
  apps/backend/src/datasources/QuestionaryDataSource.ts
  apps/backend/src/datasources/mockups/QuestionaryDataSource.ts
  apps/backend/src/datasources/postgres/QuestionaryDataSource.ts
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/eventHandlers/messageBroker.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/mutations/QuestionaryMutations.ts
  apps/backend/src/resolvers/mutations/AnswerTopicMutation.ts
  apps/frontend/src/components/questionary/QuestionaryStepView.tsx
  apps/frontend/src/graphql/questionary/answerTopic.graphql
  apps/frontend/src/graphql/questionary/fragment.answerMinimal.graphql
  apps/frontend/src/models/questionary/QuestionarySubmissionState.ts
Due: npm run lint:frontend, npm run lint:backend

fix: update proposal sorting (#898)
  apps/frontend/src/components/proposal/ProposalTable.tsx
  apps/frontend/src/components/proposal/ProposalTableUser.tsx
Due: npm run lint:frontend

feat: user invites backend endpoints (#896)
  apps/backend/db_patches/0167_CreateInviteCodes.sql
  apps/backend/src/buildContext.ts
  apps/backend/src/config/Tokens.ts
  apps/backend/src/config/dependencyConfigDefault.ts
  apps/backend/src/config/dependencyConfigE2E.ts
  apps/backend/src/config/dependencyConfigELI.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/context/index.ts
  apps/backend/src/datasources/InviteCodeDataSource.ts
  apps/backend/src/datasources/RoleInviteDataSource.ts
  apps/backend/src/datasources/mockups/InviteCodesDataSource.ts
  apps/backend/src/datasources/mockups/RoleInviteDataSource.ts
  apps/backend/src/datasources/postgres/InviteCodesDataSource.ts
  apps/backend/src/datasources/postgres/RoleInviteDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/InviteCode.ts
  apps/backend/src/models/RoleInvite.ts
  apps/backend/src/mutations/InviteMutations.spec.ts
  apps/backend/src/mutations/InviteMutations.ts
  apps/backend/src/resolvers/mutations/AcceptInviteMutation.ts
  apps/backend/src/resolvers/mutations/CreateInviteMutation.ts
  apps/backend/src/resolvers/mutations/UpdateInviteMutation.ts
  apps/backend/src/resolvers/types/Invite.ts
Due: npm run lint:backend

perf: optimise generic template copying (#888)
  apps/backend/db_patches/0165_AddViewForGenericTemplates.sql
  apps/backend/src/auth/questionary/GenericTemplateQuestionaryAuthorizer.ts
  apps/backend/src/datasources/GenericTemplateDataSource.ts
  apps/backend/src/datasources/mockups/GenericTemplateDataSource.ts
  apps/backend/src/datasources/postgres/GenericTemplateDataSource.ts
  apps/backend/src/factory/pdf/proposal.ts
  apps/backend/src/factory/zip/attachment.ts
  apps/backend/src/mutations/ProposalMutations.ts
  apps/backend/src/queries/GenericTemplateQueries.ts
  apps/backend/src/resolvers/queries/GenericTemplatesQuery.ts
  apps/e2e/cypress/e2e/genericTemplates.cy.ts
  apps/frontend/src/components/questionary/questionaryComponents/GenericTemplate/GenericTemplateSelectModalOnCopy.tsx
  apps/frontend/src/graphql/genericTemplates/getGenericTemplatesOnCopy.graphql
  apps/frontend/src/models/questionary/genericTemplate/GenericTemplateWithQuestionary.ts
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Add tool tips for Xpress
  apps/frontend/src/components/xpress/ProposalScientistComment.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

review comments fix
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

feat: add tool tips in Xpress management page (#905)
  apps/frontend/src/components/xpress/ProposalScientistComment.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Rename options and add sub title to email content
  apps/backend/src/eventHandlers/MailService/SMTPMailService.ts
  apps/backend/src/statusActionEngine/statusActionUtils.ts
Due: npm run lint:backend

Fixing getGenericTemplates issue
  apps/backend/src/statusActionEngine/statusActionUtils.ts
Due: npm run lint:backend

perf: cache raw stfc rolls call (#892)
  apps/backend/src/auth/StfcUserAuthorization.ts
  apps/backend/src/datasources/mockups/UserDataSource.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
Due: npm run lint:backend

Resolve https://github.com/UserOfficeProject/issue-tracker/issues/1294
  apps/backend/src/statusActionEngine/emailActionHandler.ts
  apps/backend/src/statusActionEngine/statusActionUtils.ts
Due: npm run lint:backend

fix: Adding excluded data type in the filter. These datatypes are not to be edited.
  apps/backend/src/datasources/postgres/TemplateDataSource.ts
  apps/backend/src/resolvers/queries/QuestionsQuery.ts
Due: npm run lint:backend
