Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

.lintstagedrc.json:

{
  "apps/e2e/**/*.{js,ts,jsx,tsx}": ["npm run lint:e2e"],
  "apps/frontend/**/*.{js,ts,jsx,tsx}": ["npm run lint:frontend"],
  "apps/backend/**/*.{js,ts,jsx,tsx}": ["npm run lint:backend"]
}

refactor: adjust eliEmailHandler to only have neccesary changes
  apps/backend/src/eventHandlers/email/eliEmailHandler.ts
Due: npm run lint:backend

move role checking out of db
  apps/backend/src/auth/StfcUserAuthorization.ts
  apps/backend/src/auth/UserAuthorization.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/mutations/FapMutations.spec.ts
  apps/backend/src/mutations/FapMutations.ts
Due: npm run lint:backend

update parameter type
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
Due: npm run lint:backend

Fixed Formatter Error with the Dummy Data Json.
  apps/frontend/src/components/template/ExperimentPdfTemplateDefaultData.tsx
Due: npm run lint:frontend

missed change
  apps/backend/src/resolvers/types/User.ts
Due: npm run lint:backend

Gave permission for the user officer and the experiment safety reviewer to access the Experiment page.
  apps/frontend/src/components/AppRoutes.tsx
Due: npm run lint:frontend

refactor: separate experiment safety create and get operations in both backend and frontend
  apps/backend/src/mutations/ExperimentMutation.spec.ts
  apps/backend/src/mutations/ExperimentMutation.ts
  apps/backend/src/resolvers/mutations/CreateExperimentSafetyMutation.ts
  apps/e2e/cypress/e2e/experimentSafety.cy.ts
  apps/e2e/cypress/e2e/experiments.cy.ts
  apps/e2e/cypress/e2e/proposalEsi.cy.ts
  apps/e2e/cypress/support/proposal.ts
  apps/e2e/cypress/types/proposal.d.ts
  apps/frontend/src/components/AppRoutes.tsx
  apps/frontend/src/components/experimentSafety/ExperimentSafety.tsx
  apps/frontend/src/components/experimentSafety/ExperimentSafetyContainer.tsx
  apps/frontend/src/components/experimentSafety/ExperimentSafetyPage.tsx
  apps/frontend/src/graphql/experiment/createExperimentSafety.graphql
  apps/frontend/src/hooks/proposalBooking/useActionButtons.tsx
  apps/frontend/src/models/questionary/experimentSafety/ExperimentSafetyWithQuestionary.ts
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

feat: add template_id to invites and update related email handling logic
  apps/backend/db_patches/0184_AddTemplateIdToInvites.sql
  apps/backend/src/asyncJobs/jobs/checkInviteReminderJob.spec.ts
  apps/backend/src/asyncJobs/jobs/checkInviteReminderJob.ts
  apps/backend/src/datasources/InviteDataSource.ts
  apps/backend/src/datasources/mockups/InviteDataSource.ts
  apps/backend/src/datasources/postgres/InviteDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/eventHandlers/email/eliEmailHandler.ts
  apps/backend/src/eventHandlers/email/essEmailHandler.ts
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/models/Invite.ts
  apps/backend/src/mutations/InviteMutations.spec.ts
  apps/backend/src/mutations/InviteMutations.ts
Due: npm run lint:backend

feat: add tests for co-proposer invite email and logging functionality in InviteMutations
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/datasources/mockups/UserDataSource.ts
  apps/backend/src/decorators/EventBus.ts
  apps/backend/src/mutations/InviteMutations.spec.ts
Due: npm run lint:backend

feat: add tests for essEmailHandler and getTemplateIdForInvite functionality
  apps/backend/src/eventHandlers/email/eliEmailHandler.spec.ts
  apps/backend/src/eventHandlers/email/essEmailHandler.spec.ts
Due: npm run lint:backend

Only add check to see if call and instrument are on the same facility
  apps/backend/src/mutations/CallMutations.ts
  apps/e2e/cypress/e2e/facility.cy.ts
  apps/frontend/src/components/call/AssignInstrumentsToCall.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Replace ExperimentSafetyFormTab tabs with accordions, implement sample list view with modal questionary details for better UX
  apps/frontend/src/components/experiment/ExperimentReviewContent.tsx
  apps/frontend/src/hooks/proposalBooking/useActionButtons.tsx
Due: npm run lint:frontend

refactor how email template id is obtained
  apps/backend/db_patches/0184_AddTemplateIdToInvites.sql
  apps/backend/src/asyncJobs/jobs/checkInviteReminderJob.spec.ts
  apps/backend/src/asyncJobs/jobs/checkInviteReminderJob.ts
  apps/backend/src/datasources/InviteDataSource.ts
  apps/backend/src/datasources/mockups/InviteDataSource.ts
  apps/backend/src/datasources/postgres/InviteDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/eventHandlers/email/eliEmailHandler.ts
  apps/backend/src/eventHandlers/email/essEmailHandler.ts
  apps/backend/src/models/Invite.ts
Due: npm run lint:backend

fix test
  apps/backend/src/datasources/mockups/ReviewDataSource.ts
Due: npm run lint:backend

Role-based form disable logic
  apps/frontend/src/components/experiment/ExperimentReviewContent.tsx
  apps/frontend/src/components/experimentSafetyReview/ExperimentSafetyReviewContainer.tsx
  apps/frontend/src/components/questionary/questionaries/experimentSafetyReview/ExperimentSafetyReviewQuestionaryWizardStep.ts
  apps/frontend/src/models/questionary/experimentSafetyReview/ExperimentSafetyReviewSubmissionState.ts
Due: npm run lint:frontend

refactor: rename template to templateId in InviteDataSource classes
  apps/backend/src/datasources/mockups/InviteDataSource.ts
  apps/backend/src/datasources/postgres/InviteDataSource.ts
Due: npm run lint:backend

refactor: remove findByVisitId method from VisitRegistrationClaimDataSource interfaces and implementations
  apps/backend/src/datasources/VisitRegistrationClaimDataSource.ts
  apps/backend/src/datasources/mockups/VisitRegistrationClaimDataSource.ts
  apps/backend/src/datasources/postgres/VisitRegistrationClaimDataSource.ts
Due: npm run lint:backend

refactor: improve initialization of invites in InviteDataSourceMock
  apps/backend/src/datasources/mockups/InviteDataSource.ts
Due: npm run lint:backend

refactor: improve initialization of invites in InviteDataSource
  apps/backend/src/datasources/postgres/InviteDataSource.ts
Due: npm run lint:backend

Resolved the Decision Page in Experiment Safety Summary
  apps/backend/docker-compose.yml
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/resolvers/types/ExperimentSafety.ts
  apps/frontend/src/components/experimentSafetyReview/ExperimentSafetyReviewSummary.tsx
Due: npm run lint:frontend, npm run lint:backend

Reverting disabling of cron job in docker compose backend
  apps/backend/docker-compose.yml
Due: none

Disabling the Download ESD based on the status
  apps/backend/docker-compose.yml
  apps/frontend/src/components/experimentSafetyReview/ExperimentSafetyReviewSummary.tsx
Due: npm run lint:frontend

feat: update logger configuration to use ConsoleLogger with colorization
  apps/backend/src/config/dependencyConfigTest.ts
Due: npm run lint:backend

Add the download proposal button for FAP Reviewers
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
Due: npm run lint:frontend

test: add validation for templateId in co-proposer invite
  apps/backend/src/mutations/InviteMutations.spec.ts
Due: npm run lint:backend

feat: enhance email handling and logging for co-proposer invites and visit registrations
  apps/backend/src/eventHandlers/email/eliEmailHandler.ts
  apps/backend/src/eventHandlers/email/essEmailHandler.spec.ts
  apps/backend/src/eventHandlers/email/essEmailHandler.ts
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/eventHandlers/messageBroker.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/events/event.enum.ts
  apps/backend/src/mutations/InviteMutations.spec.ts
  apps/backend/src/mutations/InviteMutations.ts
Due: npm run lint:backend

add small note to the newly added query for multiple tech reviews
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

fix: add the button to download proposals for FAP Reviewers (#1115)
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
Due: npm run lint:frontend

Add email template IDs and new event interfaces for visit registration invites
  apps/backend/src/eventHandlers/email/essEmailHandler.ts
  apps/backend/src/events/applicationEvents.ts
Due: npm run lint:backend

Experiments table optimised
  apps/backend/src/datasources/postgres/ExperimentDataSource.ts
  apps/backend/src/resolvers/queries/ExperimentsQuery.ts
  apps/frontend/src/components/common/experimentFilters/CallFilter.tsx
  apps/frontend/src/components/common/experimentFilters/DateFilter.tsx
  apps/frontend/src/components/common/experimentFilters/ExperimentSafetyStatusFilter.tsx
  apps/frontend/src/components/common/experimentFilters/InstrumentFilter.tsx
  apps/frontend/src/components/common/experimentFilters/index.ts
  apps/frontend/src/components/experiment/ExperimentFilterBar.tsx
  apps/frontend/src/components/experiment/ExperimentsPage.tsx
  apps/frontend/src/components/experiment/ExperimentsTable.tsx
Due: npm run lint:frontend, npm run lint:backend

Remove deprecated email invite events from Event enum
  apps/backend/src/events/event.enum.ts
Due: npm run lint:backend

Fixed the issue of Experiment Safety Template Menu
  apps/frontend/src/components/menu/TemplateMenuListItem.tsx
Due: npm run lint:frontend

Update log message for co-proposer invite acceptance
  apps/backend/src/eventHandlers/logging.ts
Due: npm run lint:backend

Db patches renumbered
  apps/backend/db_patches/0187_AddExperimentSafetyReviewTemplate.sql
  apps/backend/db_patches/0188_DropTableQuestionHasTemplates.sql
  apps/backend/db_patches/0189_UpdateExperimentSafety.sql
  apps/backend/db_patches/0190_AddExperimentEvents.sql
  apps/backend/db_patches/0191_AddExperimentWorkflowToCall.sql
  apps/backend/db_patches/0192_AddTemplateGroups.sql
  apps/backend/db_patches/0193_UpdateCallTablePdfTemplates.sql
  apps/backend/db_patches/0194_Rename_Pdf_Template.sql
  apps/backend/db_patches/0195_Add_Experiment_Safety_Pdf_Template.sql
  apps/backend/db_patches/0196_CorrectESFApprovedSpelling.sql
  apps/backend/db_patches/0197_ExperimentSafetyStatusRefactor.sql
  apps/backend/db_patches/0198_AddExperimentRefNumberFormat.sql
Due: none

Refactor co-proposer invite handling to use proposalPKey instead of proposalPk
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/mutations/InviteMutations.ts
Due: npm run lint:backend

Update invite email descriptions to include user ID of the sender
  apps/backend/src/mutations/InviteMutations.spec.ts
Due: npm run lint:backend

Enhance invite acceptance test to verify log entries and add data attribute for proposal review tabs
  apps/e2e/cypress/e2e/invites.cy.ts
  apps/frontend/src/components/review/ProposalReviewContent.tsx
Due: npm run lint:e2e, npm run lint:frontend

fix: remove leftover comment
  apps/backend/src/decorators/EventBus.ts
Due: npm run lint:backend

feat: add REMOTE_USERS feature toggle and update FeatureId enum
  apps/backend/db_patches/0183_AddRemoteUsersFeature.sql
  apps/backend/src/models/Feature.ts
Due: npm run lint:backend
