Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

1.Allow only integers in request time field
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/QuestionaryComponentInstrumentPicker.tsx
Due: npm run lint:frontend

a small fix for the newly added test case
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

fix test
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

Remove status filter from frontend
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/backend/src/resolvers/queries/ProposalsQuery.ts
  apps/frontend/src/components/common/proposalFilters/ProposalStatusFilter.tsx
  apps/frontend/src/components/proposal/ProposalFilterBar.tsx
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/hooks/proposal/useProposalsCoreData.ts
Due: npm run lint:frontend, npm run lint:backend

remove only settings.cy.ts
  apps/e2e/cypress/e2e/settings.cy.ts
Due: npm run lint:e2e

small improvments
  apps/backend/src/factory/xlsx/callFaps.ts
  apps/backend/src/factory/xlsx/fap.ts
Due: npm run lint:backend

#1069: Disable clone legacy proposals
  apps/frontend/src/components/proposal/ProposalTable.tsx
  apps/frontend/src/components/proposal/ProposalTableUser.tsx
  apps/frontend/src/graphql/user/getUserProposals.graphql
  apps/frontend/src/utils/helperFunctions.tsx
Due: npm run lint:frontend

sql query to update old instrument picker answers
  apps/backend/db_patches/0158_UpdateOldInstrumentPickerAnswers.sql
Due: none

removing the sql block to update multiple instrument ids answers as e2e tests shows failed to apply patch
  apps/backend/db_patches/0158_UpdateOldInstrumentPickerAnswers.sql
Due: none

feat: Add support for initial user officer role assignment
  apps/backend/example.development.env
  apps/backend/src/auth/OAuthAuthorization.spec.ts
  apps/backend/src/auth/OAuthAuthorization.ts
  docker-compose.yml
Due: npm run lint:backend

fix some review comments
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/frontend/src/components/common/ConflictResolver.tsx
  apps/frontend/src/components/fap/MeetingComponents/FapMeetingInstrumentsTable.tsx
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/ExternalReviews.tsx
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/FapMeetingDecision.tsx
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/ProposalDetails.tsx
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/TechnicalReviewInfo.tsx
  apps/frontend/src/components/questionary/questionaryComponents/QuestionDependencyList.tsx
  apps/frontend/src/components/settings/proposalWorkflow/AddStatusActionsToConnection.tsx
  apps/frontend/src/components/settings/proposalWorkflow/AddStatusChangingEventsToConnection.tsx
  apps/frontend/src/components/shipments/ShippingInstructions.tsx
  apps/frontend/src/hooks/common/useCheckAccess.tsx
  apps/frontend/src/utils/helperFunctions.tsx
Due: npm run lint:e2e, npm run lint:frontend

fix some styling issues
  apps/frontend/src/index.css
Due: none

Export proposals in Excel fix
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
Due: npm run lint:frontend

Export proposals in Excel fix (#655)
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
Due: npm run lint:frontend

try to improve tests and increase the command timeout
  apps/e2e/cypress.config.ts
  apps/e2e/cypress/e2e/templatesBasic.cy.ts
Due: npm run lint:e2e

added pl/sql block to update answers with multiple instrument ids
  apps/backend/db_patches/0158_UpdateOldInstrumentPickerAnswers.sql
Due: none

fix linting issues
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
Due: npm run lint:frontend

chore: handle case when no attachments are found in zip middleware and display appropriate message
  apps/backend/src/middlewares/factory/zip.ts
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
  apps/frontend/src/context/DownloadContextProvider.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

fix: generic templates not being marked complete when isCompleteOnCopy is true (#657)
  apps/backend/src/datasources/QuestionaryDataSource.ts
  apps/backend/src/datasources/postgres/GenericTemplateDataSource.ts
  apps/backend/src/datasources/postgres/QuestionaryDataSource.ts
  apps/e2e/cypress/e2e/genericTemplates.cy.ts
Due: npm run lint:e2e, npm run lint:backend

User Officer Guide Structure
  documentation/docs/assets/images/boolean.png
  documentation/docs/assets/images/call.png
  documentation/docs/assets/images/date.png
  documentation/docs/assets/images/dynamic_choice.png
  documentation/docs/assets/images/embellishment.png
  documentation/docs/assets/images/file_upload.png
  documentation/docs/assets/images/general_1.png
  documentation/docs/assets/images/instrument_picker.png
  documentation/docs/assets/images/interval.png
  documentation/docs/assets/images/multiple_choice.png
  documentation/docs/assets/images/notification_1.png
  documentation/docs/assets/images/number.png
  documentation/docs/assets/images/reviews_1.png
  documentation/docs/assets/images/rich_text.png
  documentation/docs/assets/images/sample_declaration.png
  documentation/docs/assets/images/sub_template.png
  documentation/docs/assets/images/text_input.png
  documentation/docs/assets/images/workflow.png
  documentation/docs/user-guide/user-officer/creating_call.md
  documentation/docs/user-guide/user-officer/fap.md
  documentation/docs/user-guide/user-officer/feasibility_review.md
  documentation/docs/user-guide/user-officer/features.md
  documentation/docs/user-guide/user-officer/page.md
  documentation/docs/user-guide/user-officer/proposal.md
  documentation/docs/user-guide/user-officer/proposal_workflows.md
  documentation/docs/user-guide/user-officer/roles.md
  documentation/docs/user-guide/user-officer/templates/feedback_template.md
  documentation/docs/user-guide/user-officer/templates/pdf_template.md
  documentation/docs/user-guide/user-officer/templates/proposalESI_template.md
  documentation/docs/user-guide/user-officer/templates/proposal_template.md
  documentation/docs/user-guide/user-officer/templates/question_template.md
  documentation/docs/user-guide/user-officer/templates/sampleESI_template.md
  documentation/docs/user-guide/user-officer/templates/sampledec_template.md
  documentation/docs/user-guide/user-officer/templates/shipment_template.md
  documentation/docs/user-guide/user-officer/templates/sub_template.md
  documentation/docs/user-guide/user-officer/templates/visit_template.md
  documentation/docs/user-guide/user-officer/user-officer.md
Due: none

chore: handle case when no attachments are found in zip middleware and display appropriate message (#668)
  apps/backend/src/middlewares/factory/zip.ts
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
  apps/frontend/src/context/DownloadContextProvider.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

try to remove as much waits as possible and fix some datetime picker issue
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/pages.cy.ts
  apps/e2e/cypress/e2e/samples.cy.ts
  apps/e2e/cypress/e2e/settings.cy.ts
  apps/e2e/cypress/e2e/templatesAdvanced.cy.ts
  apps/e2e/cypress/support/utils.ts
  apps/frontend/src/components/common/FormikUIDatePicker.tsx
  apps/frontend/src/components/common/FormikUIDateTimePicker.tsx
  apps/frontend/src/components/questionary/questionaryComponents/RichTextInput/QuestionaryComponentRichTextInput.tsx
Due: npm run lint:e2e, npm run lint:frontend

fix: update structure, add nav, update devguide and others
  documentation/docs/developer-guide/CONTRIBUTING.md
  documentation/docs/developer-guide/achitecture.md
  documentation/docs/developer-guide/api-documentation.md
  documentation/docs/developer-guide/components/backend.md
  documentation/docs/developer-guide/components/components.md
  documentation/docs/developer-guide/components/frontend.md
  documentation/docs/developer-guide/configuration.md
  documentation/docs/developer-guide/overview.md
  documentation/docs/developer-guide/running-locally.md
  documentation/docs/getting-started.md
  documentation/docs/index.md
  documentation/docs/introduction.md
  documentation/docs/overview.md
  documentation/docs/quick-start.md
  documentation/docs/user-guide/overview.md
  documentation/mkdocs.yml
Due: none

fix: update structure, add nav, update devguide and others (#670)
  documentation/docs/developer-guide/CONTRIBUTING.md
  documentation/docs/developer-guide/achitecture.md
  documentation/docs/developer-guide/api-documentation.md
  documentation/docs/developer-guide/components/backend.md
  documentation/docs/developer-guide/components/components.md
  documentation/docs/developer-guide/components/frontend.md
  documentation/docs/developer-guide/configuration.md
  documentation/docs/developer-guide/overview.md
  documentation/docs/developer-guide/running-locally.md
  documentation/docs/getting-started.md
  documentation/docs/index.md
  documentation/docs/introduction.md
  documentation/docs/overview.md
  documentation/docs/quick-start.md
  documentation/docs/user-guide/overview.md
  documentation/mkdocs.yml
Due: none

modifying the update query for single instrument id
  apps/backend/db_patches/0158_UpdateOldInstrumentPickerAnswers.sql
Due: none

docs: user officer guide structure
  documentation/docs/assets/images/congratulations.png
  documentation/docs/assets/images/declare_shipment.png
  documentation/docs/assets/images/fap_selection.png
  documentation/docs/assets/images/pdf_template.png
  documentation/docs/assets/images/proposal_esi.png
  documentation/docs/assets/images/proposal_template.png
  documentation/docs/assets/images/workflow.png
  documentation/docs/user-guide/user-officer/creating_call.md
  documentation/docs/user-guide/user-officer/fap.md
  documentation/docs/user-guide/user-officer/page.md
  documentation/docs/user-guide/user-officer/proposal.md
  documentation/docs/user-guide/user-officer/proposal_workflow.md
  documentation/docs/user-guide/user-officer/roles.md
  documentation/docs/user-guide/user-officer/templates/pdf_template.md
  documentation/docs/user-guide/user-officer/templates/proposalESI_template.md
  documentation/docs/user-guide/user-officer/templates/proposal_template.md
  documentation/docs/user-guide/user-officer/user-officer.md
  documentation/docs/user-guide/user-officer/videos.md
  documentation/mkdocs.yml
Due: none

refactor the main app components
  apps/frontend/src/components/App.tsx
  apps/frontend/src/components/AppRoutes.tsx
  apps/frontend/src/components/PageLayout.tsx
  apps/frontend/src/components/TitledRoute.tsx
Due: npm run lint:frontend

add status actions tables
  apps/backend/db_patches/0158_AddStatusActionsLogsTables.sql
Due: none

feat: add support for initial user officer role assignment (#666)
  apps/backend/example.development.env
  apps/backend/src/auth/OAuthAuthorization.spec.ts
  apps/backend/src/auth/OAuthAuthorization.ts
  docker-compose.yml
Due: npm run lint:backend

doc: improved user guide templates
  documentation/docs/user-guide/user-officer/creating_call.md
  documentation/docs/user-guide/user-officer/editing_call.md
  documentation/docs/user-guide/user-officer/fap.md
  documentation/docs/user-guide/user-officer/proposal_workflow.md
  documentation/docs/user-guide/user-officer/templates/pdf_template.md
  documentation/docs/user-guide/user-officer/templates/proposalESI_template.md
  documentation/docs/user-guide/user-officer/templates/templates.md
  documentation/docs/user-guide/user-officer/videos.md
  documentation/mkdocs.yml
Due: none

fixing and improving e2e templates tests
  apps/e2e/cypress/e2e/templatesBasic.cy.ts
  apps/frontend/src/components/common/FormikUICustomDependencySelector.tsx
Due: npm run lint:e2e, npm run lint:frontend

Review comment fix
  apps/backend/db_patches/0158_BccRecipientAppSetting.sql
  apps/backend/src/eventHandlers/MailService/SMTPMailService.spec.ts
  apps/backend/src/eventHandlers/MailService/SMTPMailService.ts
  apps/backend/src/models/Settings.ts
Due: npm run lint:backend

Test fix
  apps/backend/src/eventHandlers/MailService/SMTPMailService.spec.ts
Due: npm run lint:backend

Fix issues
  apps/backend/src/eventHandlers/MailService/SMTPMailService.ts
  apps/backend/src/eventHandlers/email/stfcEmailHandler.ts
Due: npm run lint:backend

Fix test
  apps/backend/src/eventHandlers/MailService/SMTPMailService.spec.ts
Due: npm run lint:backend

Adding option to include bcc recipient in mails
  apps/backend/db_patches/0158_BccRecipientAppSetting.sql
  apps/backend/src/eventHandlers/MailService/SMTPMailService.spec.ts
  apps/backend/src/eventHandlers/MailService/SMTPMailService.ts
  apps/backend/src/eventHandlers/email/stfcEmailHandler.ts
  apps/backend/src/models/Settings.ts
Due: npm run lint:backend

Fix mkdocs.yml and add icons
  documentation/mkdocs.yml
Due: none

Path conditions:
  npm run lint:e2e: any of: apps/e2e/**/*.{js,ts,jsx,tsx}
  npm run lint:frontend: any of: apps/frontend/**/*.{js,ts,jsx,tsx}
  npm run lint:backend: any of: apps/backend/**/*.{js,ts,jsx,tsx}
