Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

.lintstagedrc.json:

{
  "apps/e2e/**/*.{js,ts,jsx,tsx}": ["npm run lint:e2e"],
  "apps/frontend/**/*.{js,ts,jsx,tsx}": ["npm run lint:frontend"],
  "apps/backend/**/*.{js,ts,jsx,tsx}": ["npm run lint:backend"]
}

refactor: improve sparkpost template id retrieval (#1093)
  apps/backend/src/asyncJobs/jobs/checkInviteReminderJob.spec.ts
  apps/backend/src/asyncJobs/jobs/checkInviteReminderJob.ts
  apps/backend/src/eventHandlers/email/essEmailHandler.ts
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/events/applicationEvents.ts
Due: npm run lint:backend

fix: update invite property to array in ProposalCoProposerClaimSentEvent
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/events/applicationEvents.ts
Due: npm run lint:backend

feat: implement updateUserByOidcSub functionality (#1097)
  apps/backend/src/datasources/UserDataSource.ts
  apps/backend/src/datasources/mockups/UserDataSource.ts
  apps/backend/src/datasources/postgres/UserDataSource.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/backend/src/mutations/UserMutations.spec.ts
  apps/backend/src/mutations/UserMutations.ts
  apps/backend/src/resolvers/mutations/UpdateUserMutation.ts
Due: npm run lint:backend

feat: add visit_registration_claims table to store visit registration claims
  apps/backend/db_patches/0183_AddVisitRegistrationClaim.sql
Due: none

Add country detail in pdfs and proposal view
  apps/frontend/src/components/review/ProposalQuestionaryReview.tsx
  apps/frontend/src/utils/user.ts
Due: npm run lint:frontend

feat: update visit_registration_claims table structure and add conflict handling in insert
  apps/backend/db_patches/0183_AddVisitRegistrationClaim.sql
  apps/backend/src/datasources/postgres/InviteDataSource.ts
  apps/backend/src/datasources/postgres/VisitRegistrationClaimDataSource.ts
  apps/backend/src/mutations/InviteMutations.ts
Due: npm run lint:backend

chore: mergeback from hotfix (#1105)
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
Due: npm run lint:backend

fix test
  apps/backend/src/mutations/InviteMutations.spec.ts
Due: npm run lint:backend

fix: add org name to stfc excel export (#1102)
  apps/backend/src/factory/xlsx/fap.ts
  apps/backend/src/factory/xlsx/stfc/StfcFapDataColumns.ts
  apps/backend/src/factory/xlsx/stfc/StfcFapDataRow.ts
  apps/e2e/cypress/fixtures/exampleCallFapExportSTFC.json
  apps/e2e/cypress/fixtures/exampleFapExportSTFC.json
Due: npm run lint:backend

fix: remove user officer role from stfc Secretary roles (#1098)
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
Due: npm run lint:backend

feat: enhance invite mutations to include email handling and logging
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/datasources/mockups/UserDataSource.ts
  apps/backend/src/decorators/EventBus.ts
  apps/backend/src/mutations/InviteMutations.spec.ts
  apps/backend/src/mutations/InviteMutations.ts
  apps/backend/src/resolvers/mutations/CreateVisitMutation.ts
  apps/backend/src/resolvers/mutations/UpdateVisitMutation.ts
Due: npm run lint:backend

feat: update invite handling and logging for co-proposer and visit registration invites
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/eventHandlers/email/eliEmailHandler.ts
  apps/backend/src/eventHandlers/email/essEmailHandler.ts
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/eventHandlers/messageBroker.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/events/event.enum.ts
  apps/backend/src/mutations/InviteMutations.spec.ts
  apps/backend/src/mutations/InviteMutations.ts
  apps/backend/src/test-decorator-debug.ts
Due: npm run lint:backend

fix: update dummy review values so after enabling evenbus the test passes
  apps/backend/src/datasources/mockups/ReviewDataSource.ts
Due: npm run lint:backend

fix: update event descriptions for co-proposer and visit registration invites
  apps/backend/src/events/event.enum.ts
Due: npm run lint:backend

Add new column multiple_tech_reviews_enabled in instruments table
  apps/backend/db_patches/0183_EnableInstrumentsForMultipleTechReviews.sql
Due: none

add the new column multiple_tech_reviews_enabled in proposal_table_view
  apps/backend/db_patches/0184_AddMultipleTechReviewsEnabledToInstInPropsalTableView.sql
Due: none

adding a false value for multipleTechReviewsEnabled field in the dummy instrument variable
  apps/backend/src/datasources/mockups/InstrumentDataSource.ts
Due: npm run lint:backend

adding new field multiple_tech_reviews_enabled in createInstrumentObject method
  apps/backend/src/datasources/postgres/InstrumentDataSource.ts
Due: npm run lint:backend

adding multiple_tech_reviews_enabled field in InstrumentRecord interface
  apps/backend/src/datasources/postgres/records.ts
Due: npm run lint:backend

adding a where clause when reviewer filter value is ME
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

feat: add email template IDs for co-proposer and visitor invite emails
  apps/backend/src/mutations/InviteMutations.spec.ts
Due: npm run lint:backend

adding field multipleTechReviewsEnabled in Instrument and InstrumentWithManagementTimeclass
  apps/backend/src/models/Instrument.ts
Due: npm run lint:backend

adding multipleTechReviewsEnabled field in CreateInstrumentArgs class
  apps/backend/src/resolvers/mutations/CreateInstrumentMutation.ts
Due: npm run lint:backend

adding multipleTechReviewsEnabled field in UpdateInstrumentArgs class
  apps/backend/src/resolvers/mutations/UpdateInstrumentMutation.ts
Due: npm run lint:backend

adding field multipleTechReviewsEnabled in Instrument resolver type
  apps/backend/src/resolvers/types/Instrument.ts
Due: npm run lint:backend

adding multipleTechReviewsEnabled field in ProposalViewInstrument graphql object type
  apps/backend/src/resolvers/types/ProposalView.ts
Due: npm run lint:backend

feat: enhance email template IDs for co-proposer and visit registration invites
  apps/backend/src/eventHandlers/email/eliEmailHandler.ts
  apps/backend/src/eventHandlers/email/essEmailHandler.ts
  apps/backend/src/mutations/InviteMutations.spec.ts
Due: npm run lint:backend

Fix undefined metadata
  apps/backend/src/middlewares/files.ts
Due: npm run lint:backend

Simplify put function
  apps/backend/src/datasources/FileDataSource.ts
  apps/backend/src/datasources/mockups/FileDataSource.ts
  apps/backend/src/datasources/postgres/FileDataSource.ts
Due: npm run lint:backend

add new e2e test case for instrument scientist who can submit review on instrument where multiple tech reviews is enabled
  apps/e2e/cypress/e2e/instruments.cy.ts
Due: npm run lint:e2e

adding a new check box in instrument create/update screen to enable multiple tech reviews
  apps/frontend/src/components/instrument/CreateUpdateInstrument.tsx
Due: npm run lint:frontend

code changes to allow instrument scientists to edit a technical review on an instrument where multiple tech reviews are enabled
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/review/ProposalReviewContent.tsx
Due: npm run lint:frontend

add multipleTechReviewsEnabled for the relevant graphql querries
  apps/frontend/src/graphql/instrument/createInstrument.graphql
  apps/frontend/src/graphql/instrument/instrument.fragment.graphql
  apps/frontend/src/graphql/instrument/updateInstrument.graphql
  apps/frontend/src/graphql/proposal/getInstrumentScientistProposals.graphql
  apps/frontend/src/graphql/proposal/getProposal.graphql
Due: none

add the new multipleTechReviewsEnabled column
  apps/frontend/src/utils/helperFunctions.tsx
Due: npm run lint:frontend

fix code for failing test cases
  apps/backend/src/mutations/InstrumentMutations.spec.ts
  apps/e2e/cypress/e2e/instruments.cy.ts
Due: npm run lint:e2e, npm run lint:backend

fix for failing tests
  apps/e2e/cypress/e2e/instruments.cy.ts
Due: npm run lint:e2e

Use foreign key for proposal-file link
  apps/backend/db_patches/0180_AddProposalDownloadStatusAction.sql
  apps/backend/src/datasources/FileDataSource.ts
  apps/backend/src/datasources/mockups/FileDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/FileDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/Blob.ts
  apps/backend/src/models/Proposal.ts
  apps/backend/src/mutations/ProposalMutations.ts
  apps/backend/src/queries/FileQueries.ts
  apps/backend/src/resolvers/types/FileMetaData.ts
  apps/backend/src/resolvers/types/Proposal.ts
  apps/backend/src/statusActionEngine/proposalDownloadActionHandler.ts
Due: npm run lint:backend

Tweak log wording
  apps/backend/src/datasources/postgres/FileDataSource.ts
Due: npm run lint:backend

Add missed fields
  apps/frontend/src/components/review/ReviewQuestionary.tsx
  apps/frontend/src/components/review/TechnicalReviewQuestionary.tsx
Due: npm run lint:frontend

refactor: remove unused file
  apps/backend/src/test-decorator-debug.ts
Due: npm run lint:backend
