Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

docs: add clarification comment for invite authorization logic
  apps/backend/src/auth/InviteAuthorizer.ts
Due: npm run lint:backend

test: update roleId for invite mutation to FAP_REVIEWER
  apps/backend/src/mutations/InviteMutations.spec.ts
Due: npm run lint:backend

Move uows generation to the correct place in work flows
  .github/workflows/test-build.yml
  package.json
Due: none

fix files for template based technical reviews
  apps/frontend/src/components/common/FileUploadComponent.tsx
  apps/frontend/src/components/questionary/questionaryComponents/TechnicalReviewBasis/QuestionaryComponentTechnicalReviewBasis.tsx
  apps/frontend/src/components/review/ProposalReviewContent.tsx
  apps/frontend/src/components/review/TechnicalReviewQuestionary.tsx
  apps/frontend/src/models/questionary/technicalReview/TechnicalReviewSubmissionState.tsx
Due: npm run lint:frontend

Add generated files to docker ignore
  apps/backend/.dockerignore
Due: none

Change work flow file
  .github/workflows/test-build.yml
Due: none

Test adding generator to tests
  .github/workflows/test-build.yml
Due: none

test another change to work flow
  .github/workflows/test-build.yml
Due: none

Query for Status and Workflow generalised.
  apps/backend/src/resolvers/queries/StatusQuery.ts
  apps/backend/src/resolvers/queries/WorkflowQuery.ts
Due: npm run lint:backend

Add backend install for openapi
  .github/workflows/test-build.yml
Due: none

Change generate scripts
  .github/workflows/test-build.yml
  package.json
Due: none

Remove generator
  package.json
Due: none

Test adding uows generator the same way the sdk generator is done
  .github/workflows/test-build.yml
Due: none

WIP.
  apps/frontend/src/graphql/settings/addProposalWorkflowStatus.graphql
Due: none

Change cp to cd
  .github/workflows/test-build.yml
Due: none

fix: status actions logs proposal link
  apps/frontend/src/components/statusActionsLogs/StatusActionsLogsTable.tsx
Due: npm run lint:frontend

Graphql Optimisation
  apps/backend/src/datasources/postgres/StatusActionsDataSource.ts
Due: npm run lint:backend

Backend type fix
  apps/backend/src/buildContext.ts
  apps/backend/src/mutations/ProposalSettingsMutations.spec.ts
  apps/backend/src/mutations/StatusActionMutations.ts
  apps/backend/src/resolvers/mutations/settings/AddWorkflowStatusMutation.ts
Due: npm run lint:backend

Add test
  apps/e2e/cypress/e2e/statusActions.cy.ts
Due: npm run lint:e2e

Remove only
  apps/e2e/cypress/e2e/statusActions.cy.ts
Due: npm run lint:e2e

Add cached uows generation to work flows
  .github/workflows/test-build.yml
Due: none

update e2e tests for technical review templates
  apps/backend/db_patches/db_seeds/0001_ProposalForScheduling.sql
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/calls.cy.ts
  apps/e2e/cypress/e2e/genericTemplates.cy.ts
  apps/e2e/cypress/e2e/instruments.cy.ts
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/e2e/cypress/e2e/settings.cy.ts
  apps/e2e/cypress/e2e/templatesBasic.cy.ts
  apps/e2e/cypress/support/initialDBData.ts
  apps/e2e/cypress/support/utils.ts
  apps/frontend/src/components/review/ProposalReviewContent.tsx
  apps/frontend/src/components/review/TechnicalReviewSummary.tsx
Due: npm run lint:e2e, npm run lint:frontend

Remove backend installation from e2e test build
  .github/workflows/test-build.yml
Due: none

Change target branch to test new mock-uows changes
  .github/workflows/test-build.yml
Due: none

test
  .prettierignore
Due: none

fix: status actions logs proposal link (#913)
  apps/e2e/cypress/e2e/statusActions.cy.ts
  apps/frontend/src/components/statusActionsLogs/StatusActionsLogsTable.tsx
Due: npm run lint:e2e, npm run lint:frontend

#1297: Xpress setting for email recipients
  apps/backend/db_patches/0168_XpressEmailSetting.sql
  apps/backend/src/models/Settings.ts
  apps/backend/src/resolvers/types/ProposalStatusActionConfig.ts
  apps/backend/src/statusActionEngine/emailActionHandler.ts
Due: npm run lint:backend

Change branch back
  .github/workflows/test-build.yml
Due: none

Change back for test
  .prettierignore
Due: none

fix e2e tests
  apps/e2e/cypress/e2e/instruments.cy.ts
  apps/frontend/src/components/questionary/questionaryComponents/TechnicalReviewBasis/QuestionaryComponentTechnicalReviewBasis.tsx
  apps/frontend/src/components/questionary/questionaryComponents/TechnicalReviewBasis/createTechnicalReviewBasisValidationSchema.ts
  apps/frontend/src/components/review/TechnicalReviewSummary.tsx
  apps/frontend/src/models/questionary/QuestionarySubmissionState.ts
Due: npm run lint:e2e, npm run lint:frontend

fix e2e tests
  apps/backend/src/resolvers/mutations/SubmitTechnicalReviewMutation.ts
  apps/e2e/cypress/e2e/instruments.cy.ts
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

allow api keys for certain fap mutations
  apps/backend/src/mutations/FapMutations.ts
Due: npm run lint:backend

Put instruments in alphabetical order
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/QuestionaryComponentInstrumentPicker.tsx
Due: npm run lint:frontend

defaults as empty string
  apps/backend/db_patches/0168_XpressEmailSetting.sql
Due: none

Test changes
  .vscode/launch.json
Due: none

fix: allow api keys for certain fap mutations (#916)
  apps/backend/src/mutations/FapMutations.ts
Due: npm run lint:backend

Change back for test
  .vscode/launch.json
Due: none

fix e2e tests
  apps/backend/src/mutations/InstrumentMutations.ts
  apps/e2e/cypress/e2e/settings.cy.ts
Due: npm run lint:e2e, npm run lint:backend

Path conditions:
  npm run lint:e2e: any of: apps/e2e/**/*.{js,ts,jsx,tsx}
  npm run lint:frontend: any of: apps/frontend/**/*.{js,ts,jsx,tsx}
  npm run lint:backend: any of: apps/backend/**/*.{js,ts,jsx,tsx}
