Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

.lintstagedrc.json:

{
  "apps/e2e/**/*.{js,ts,jsx,tsx}": ["npm run lint:e2e"],
  "apps/frontend/**/*.{js,ts,jsx,tsx}": ["npm run lint:frontend"],
  "apps/backend/**/*.{js,ts,jsx,tsx}": ["npm run lint:backend"]
}

Fix linting
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

Fix mistake
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

fix: add some validation and warnings around ranking reviewers
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/frontend/src/components/fap/Proposals/FapAssignedReviewersTable.tsx
  apps/frontend/src/components/fap/Proposals/RankInputModal.tsx
Due: npm run lint:e2e, npm run lint:frontend

add missing calls field for FapInstrumentProposalsTable
  apps/frontend/src/graphql/call/getCallsMinimal.graphql
Due: none

test: allow mutliple test runners to upload cypress screenshots
  .github/workflows/test-build.yml
Due: none

Put an alias of call.description at the top
  apps/backend/src/datasources/postgres/CallDataSource.ts
Due: npm run lint:backend

perf: reduce data quantity from high use getCalls query (#823)
  apps/frontend/src/components/AppRoutes.tsx
  apps/frontend/src/components/call/CallsTable.tsx
  apps/frontend/src/components/proposal/ProposalChooseCall.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/graphql/call/getCallsMinimal.graphql
  apps/frontend/src/hooks/call/useCallsData.ts
Due: npm run lint:frontend

feat: add retry of status actions emails (#707)
  apps/backend/db_patches/0163_AddStatusActionsLogsTables.sql
  apps/backend/src/buildContext.ts
  apps/backend/src/config/Tokens.ts
  apps/backend/src/config/dependencyConfigDefault.ts
  apps/backend/src/config/dependencyConfigE2E.ts
  apps/backend/src/config/dependencyConfigELI.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/context/index.ts
  apps/backend/src/datasources/StatusActionsDataSource.ts
  apps/backend/src/datasources/StatusActionsLogsDataSource.ts
  apps/backend/src/datasources/mockups/StatusActionsDataSource.ts
  apps/backend/src/datasources/mockups/StatusActionsLogsDataSource.ts
  apps/backend/src/datasources/postgres/StatusActionsDataSource.ts
  apps/backend/src/datasources/postgres/StatusActionsLogsDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/StatusActionsLog.ts
  apps/backend/src/mutations/ProposalSettingsMutations.ts
  apps/backend/src/mutations/StatusActionsLogsMutations.spec.ts
  apps/backend/src/mutations/StatusActionsLogsMutations.ts
  apps/backend/src/queries/StatusActionsLogsQueries.spec.ts
  apps/backend/src/queries/StatusActionsLogsQueries.ts
  apps/backend/src/resolvers/mutations/ReplayStatusActionsLogMutation.ts
  apps/backend/src/resolvers/queries/StatusActionsLogsQuery.ts
  apps/backend/src/resolvers/types/StatusActionsLog.ts
  apps/backend/src/statusActionEngine/emailActionHandler.ts
  apps/backend/src/statusActionEngine/statusActionUtils.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/eventLogs.cy.ts
  apps/e2e/cypress/e2e/generalFaps.cy.ts
  apps/e2e/cypress/e2e/statusActions.cy.ts
  apps/frontend/src/components/AppRoutes.tsx
  apps/frontend/src/components/menu/MenuItems.tsx
  apps/frontend/src/components/statusActionsLogs/StatusActionsLogsPage.tsx
  apps/frontend/src/components/statusActionsLogs/StatusActionsLogsTable.tsx
  apps/frontend/src/components/statusActionsLogs/StatusActionsStatusFilter.tsx
  apps/frontend/src/graphql/statusActionsLogs/fragment.statusActionsLog.graphql
  apps/frontend/src/graphql/statusActionsLogs/getStatusActionsLogs.graphql
  apps/frontend/src/graphql/statusActionsLogs/replayStatusActionsLog.graphql
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

fix: intermittent xpress e2e failures (#825)
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

Hide non-Xpress statuses
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

test: allow mutliple test runners to upload cypress screenshots (#827)
  .github/workflows/test-build.yml
Due: none

fix: add some validation and warnings around ranking reviewers (#826)
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/frontend/src/components/fap/Proposals/FapAssignedReviewersTable.tsx
  apps/frontend/src/components/fap/Proposals/RankInputModal.tsx
Due: npm run lint:e2e, npm run lint:frontend

perf: cache stfc user requests instead of responses
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
Due: npm run lint:backend

Adding checks for xpress instruments
  apps/backend/src/datasources/TechniqueDataSource.ts
  apps/backend/src/datasources/mockups/TechniqueDataSource.ts
  apps/backend/src/datasources/postgres/TechniqueDataSource.ts
  apps/backend/src/mutations/TechniqueMutations.ts
  apps/backend/src/resolvers/mutations/AssignProposalsToInstrumentsMutation.ts
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e, npm run lint:backend

Remove the unassigning part
  apps/backend/src/mutations/InstrumentMutations.ts
  apps/backend/src/resolvers/mutations/AssignProposalsToInstrumentsMutation.ts
  apps/e2e/cypress/e2e/xpress.cy.ts
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/graphql/instrument/removeXpressProposalsFromInstrument.graphql
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Assign instruments to xpress proposals
  apps/backend/src/datasources/TechniqueDataSource.ts
  apps/backend/src/datasources/mockups/TechniqueDataSource.ts
  apps/backend/src/datasources/postgres/TechniqueDataSource.ts
  apps/backend/src/mutations/InstrumentMutations.ts
  apps/backend/src/mutations/TechniqueMutations.ts
  apps/backend/src/resolvers/mutations/AssignProposalsToInstrumentsMutation.ts
  apps/e2e/cypress/e2e/xpress.cy.ts
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/graphql/instrument/assignXpressProposalsToInstruments.graphql
  apps/frontend/src/graphql/instrument/removeXpressProposalsFromInstrument.graphql
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

feat: add backend implementation for technical review templates
  apps/backend/db_patches/0165_AddTechnicalReviewTemplate.sql
  apps/backend/src/auth/QuestionaryAuthorization.ts
  apps/backend/src/auth/questionary/TechnicalReviewQuestionaryAuthorizer.ts
  apps/backend/src/datasources/ReviewDataSource.ts
  apps/backend/src/datasources/mockups/CallDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/mockups/ReviewDataSource.ts
  apps/backend/src/datasources/postgres/CallDataSource.ts
  apps/backend/src/datasources/postgres/ReviewDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/Call.ts
  apps/backend/src/models/TechnicalReview.ts
  apps/backend/src/models/Template.ts
  apps/backend/src/models/questionTypes/QuestionRegistry.ts
  apps/backend/src/models/questionTypes/TechnicalReviewBasis.ts
  apps/backend/src/mutations/CallMutations.spec.ts
  apps/backend/src/mutations/InstrumentMutations.ts
  apps/backend/src/mutations/ReviewMutations.ts
  apps/backend/src/mutations/TemplateMutations.ts
  apps/backend/src/populate/index.ts
  apps/backend/src/queries/ReviewQueries.ts
  apps/backend/src/resolvers/mutations/AddTechnicalReviewMutation.ts
  apps/backend/src/resolvers/mutations/CreateCallMutation.ts
  apps/backend/src/resolvers/mutations/SubmitTechnicalReviewMutation.ts
  apps/backend/src/resolvers/mutations/UpdateCallMutation.ts
  apps/backend/src/resolvers/queries/CallsQuery.ts
  apps/backend/src/resolvers/queries/TechnicalReviewTemplatesQuery.ts
  apps/backend/src/resolvers/queries/TechnicalReviewsQuery.ts
  apps/backend/src/resolvers/types/FieldConfig.ts
  apps/backend/src/resolvers/types/TechnicalReview.ts
  apps/backend/src/resolvers/types/TechnicalReviewTemplate.ts
Due: npm run lint:backend

remove debug messaging
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
Due: npm run lint:backend

perf: convert remaining stfc caches to store requests instead of responses
  apps/backend/src/auth/StfcUserAuthorization.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
Due: npm run lint:backend

refactor: remove unnecessary stfc data source initialisation
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

perf: improve caching for stfc user by email queries
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
Due: npm run lint:backend

refactor: remove duplicate calls and type declarations in stfc user data source
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
Due: npm run lint:backend

re-add null check missed in earlier refactor
  apps/backend/src/auth/StfcUserAuthorization.ts
Due: npm run lint:backend

fix: handle undefined preferred_username in OAuthAuthorization
  apps/backend/src/auth/OAuthAuthorization.ts
Due: npm run lint:backend

fix: remove fallback for preferred_username in update
  apps/backend/src/auth/OAuthAuthorization.ts
Due: npm run lint:backend

Populate more fields
  apps/backend/src/factory/DownloadService.ts
  apps/backend/src/factory/xlsx/proposal.ts
  apps/backend/src/middlewares/factory/xlsx.ts
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/context/DownloadContextProvider.tsx
  apps/frontend/src/hooks/proposal/useDownloadXLSXProposal.ts
Due: npm run lint:frontend, npm run lint:backend

Initial commit
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

feat: set additional fields when importing
  apps/backend/src/mutations/ProposalMutations.ts
  apps/backend/src/resolvers/mutations/ImportProposalMutation.ts
Due: npm run lint:backend

feat: graphql implementation of technical review templates
  apps/backend/src/resolvers/types/Call.ts
  apps/frontend/src/graphql/call/createCall.graphql
  apps/frontend/src/graphql/call/fragment.call.graphql
  apps/frontend/src/graphql/call/updateCall.graphql
  apps/frontend/src/graphql/proposal/fragment.coreTechnicalReview.graphql
  apps/frontend/src/graphql/review/addTechnicalReview.graphql
  apps/frontend/src/graphql/template/fragment.fieldConfig.graphql
Due: npm run lint:backend

Refactoring The xpress check logic
  apps/backend/src/datasources/TechniqueDataSource.ts
  apps/backend/src/datasources/mockups/TechniqueDataSource.ts
  apps/backend/src/datasources/postgres/TechniqueDataSource.ts
  apps/backend/src/mutations/TechniqueMutations.ts
  apps/backend/src/resolvers/mutations/AssignProposalsToInstrumentsMutation.ts
Due: npm run lint:backend

Missed commit
  apps/backend/src/datasources/mockups/TechniqueDataSource.ts
Due: npm run lint:backend

perf: cache stfc user service requests instead of responses (#831)
  apps/backend/src/auth/StfcUserAuthorization.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
Due: npm run lint:backend

feat: add Prometheus metrics middleware for HTTP and GraphQL requests
  apps/backend/index.ts
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/middlewares/graphql.ts
  apps/backend/src/middlewares/metrics/apolloServerMetricsPlugin.ts
  apps/backend/src/middlewares/metrics/metrics.ts
Due: npm run lint:backend

feat: add Grafana and Prometheus demo configuration for monitoring
  metrics/README.md
  metrics/docker-compose.metrics.yml
  metrics/grafana/dashboards/example-graphql-http-dashboard.json
  metrics/grafana/provisioning/dashboards/dashboard.yaml
  metrics/grafana/provisioning/datasources/prometheus.yaml
  metrics/prometheus/prometheus.yml
Due: none

feat: add client identifying metadata for apollo studio analytics
  apps/frontend/src/hooks/common/useDataApi.ts
Due: npm run lint:frontend

refactor: remove duplicate graphql client initialisation code
  apps/frontend/src/hooks/common/useDataApi.ts
Due: npm run lint:frontend

perf: fetch less data on the get faps query
  apps/frontend/src/components/fap/FapsTable.tsx
  apps/frontend/src/graphql/fap/fragment.fapMinimal.graphql
  apps/frontend/src/graphql/fap/getFapsMinimal.graphql
  apps/frontend/src/graphql/fap/getMemberFaps.graphql
  apps/frontend/src/hooks/fap/useFapsData.ts
Due: npm run lint:frontend
