Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

.lintstagedrc.json:

{
  "apps/e2e/**/*.{js,ts,jsx,tsx}": ["npm run lint:e2e"],
  "apps/frontend/**/*.{js,ts,jsx,tsx}": ["npm run lint:frontend"],
  "apps/backend/**/*.{js,ts,jsx,tsx}": ["npm run lint:backend"]
}

fix state issue in the fap selection
  apps/frontend/src/components/call/AssignInstrumentsToCall.tsx
Due: npm run lint:frontend

use the right headers for downloaded files from factory and rename last SEP bits
  apps/backend/src/factory/service.ts
  apps/e2e/cypress/e2e/generalFaps.cy.ts
  apps/frontend/src/context/DownloadContextProvider.tsx
  apps/frontend/src/hooks/fap/useDownloadXLSXFap.ts
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

First Pass at fixing tests
  apps/e2e/cypress/e2e/SEP.cy.ts
  apps/e2e/cypress/e2e/calls.cy.ts
  apps/e2e/cypress/e2e/generalSeps.cy.ts
  apps/e2e/cypress/e2e/instruments.cy.ts
  apps/e2e/cypress/e2e/internalReviews.cy.ts
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/e2e/cypress/support/e2e.ts
  apps/e2e/cypress/support/settings.ts
Due: npm run lint:e2e

fix: fix sep leftovers after factory update
  apps/backend/src/factory/service.ts
  apps/e2e/cypress/e2e/generalFaps.cy.ts
Due: npm run lint:e2e, npm run lint:backend

replace proposal pdf fixture with the latest version
  apps/e2e/cypress/fixtures/2023_proposal_fixture.pdf
Due: none

add db-patch
  apps/backend/db_patches/0145_RemoveEmailVerifiedColumn.sql
Due: none

fix: numbering of patches
  apps/backend/db_patches/0144_RemovePwdColumn.sql
Due: none

fix: remove email_verified column
  apps/backend/db_patches/db_seeds/0002_InstrumentScientiests.sql
  apps/backend/src/datasources/UserDataSource.ts
  apps/backend/src/datasources/mockups/UserDataSource.ts
  apps/backend/src/datasources/postgres/UserDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/backend/src/models/User.ts
  apps/backend/src/mutations/UserMutations.ts
  apps/backend/src/resolvers/mutations/EmailVerificationMutation.ts
  apps/backend/src/resolvers/mutations/UpdateUserMutation.ts
  apps/backend/src/resolvers/types/User.ts
  apps/e2e/cypress/support/user.ts
  apps/e2e/cypress/types/user.d.ts
  apps/frontend/src/components/App.tsx
  apps/frontend/src/components/user/EmailVerification.tsx
  apps/frontend/src/components/user/UpdateUserInformation.tsx
  apps/frontend/src/graphql/user/getUser.graphql
  apps/frontend/src/graphql/user/getUserMe.graphql
  apps/frontend/src/graphql/user/setUserEmailVerified.graphql
  apps/frontend/src/graphql/user/verifyEmail.graphql
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

tmp: add generator
  .github/workflows/craft-pr-description.yml
Due: none

remove tmp workflow
  .github/workflows/craft-pr-description.yml
Due: none

fix: fix sep leftovers after factory update (#447)
  apps/backend/src/factory/service.ts
  apps/e2e/cypress/e2e/generalFaps.cy.ts
  apps/e2e/cypress/fixtures/2023_proposal_fixture.pdf
Due: npm run lint:e2e, npm run lint:backend

changes to run test cases
  apps/backend/src/datasources/mockups/UserDataSource.ts
  apps/backend/src/datasources/postgres/UserDataSource.ts
  apps/backend/src/queries/UserQueries.spec.ts
Due: npm run lint:backend

revert some unnecessary changes
  apps/backend/src/eventHandlers/MailService/EmailSettings.ts
  apps/backend/src/eventHandlers/MailService/SparkPostMailService.ts
Due: npm run lint:backend

Second round of test updates
  apps/e2e/cypress/e2e/generalSeps.cy.ts
  apps/e2e/cypress/e2e/genericTemplates.cy.ts
  apps/e2e/cypress/e2e/mobileViews.cy.ts
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/e2e/cypress/e2e/samples.cy.ts
  apps/e2e/cypress/e2e/settings.cy.ts
  apps/e2e/cypress/e2e/templatesAdvanced.cy.ts
  apps/e2e/cypress/e2e/templatesBasic.cy.ts
Due: npm run lint:e2e

fix: mockups
  apps/backend/src/datasources/mockups/UserDataSource.ts
Due: npm run lint:backend

Fix role for mockserver
  apps/e2e/cypress/support/user.ts
Due: npm run lint:e2e

feat: enable gzip compression in nginx
  apps/frontend/nginx.conf
Due: none

refactor: try to use react lazy load for performance improvement
  apps/frontend/src/components/DashBoard.tsx
Due: npm run lint:frontend

add filter by reference numbers
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

add reference numbers filtering to useProposalsCoreData
  apps/frontend/src/hooks/proposal/useProposalsCoreData.ts
Due: npm run lint:frontend

make instument and officer table open proposal from proposalId parameter
  apps/frontend/src/components/proposal/ProposalPage.tsx
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
Due: npm run lint:frontend

allow passing of proposalid as part of auth and include params when rerouting to login
  apps/frontend/src/components/App.tsx
  apps/frontend/src/components/user/ExternalAuth.tsx
Due: npm run lint:frontend

use tinymce editor in its own wrapper component
  apps/frontend/src/components/DashBoard.tsx
  apps/frontend/src/components/common/FormikUICustomEditor.tsx
  apps/frontend/src/components/common/TinyEditor.tsx
  apps/frontend/src/components/fap/FapGradeGuide.tsx
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/FinalRankingForm.tsx
  apps/frontend/src/components/internalReview/CreateUpdateInternalReview.tsx
  apps/frontend/src/components/pages/PageInputBox.tsx
  apps/frontend/src/components/questionary/questionaryComponents/RichTextInput/QuestionaryComponentRichTextInput.tsx
  apps/frontend/src/components/review/ProposalGrade.tsx
  apps/frontend/src/components/review/ProposalTechnicalReview.tsx
Due: npm run lint:frontend

registering proposalendstatus enum in resolver
  apps/backend/src/resolvers/queries/ProposalsViewQueryBatched.ts
Due: npm run lint:backend

Fix proposal submitter
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

Use test mockserver image
  apps/backend/docker-compose-stfc.e2e.yml
Due: none

add cypress tests
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/frontend/src/components/proposal/ProposalPage.tsx
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
Due: npm run lint:e2e, npm run lint:frontend

fix cypress tests
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

Update test for SEP to FAP
  apps/e2e/cypress/e2e/settings.cy.ts
Due: npm run lint:e2e

Update Feature
  apps/backend/src/config/stfc/configureSTFCEnvironment.ts
Due: npm run lint:backend

feat: enable gzip compression in nginx (#450)
  apps/frontend/nginx.conf
Due: none

use local storage to persist user path on login redirect
  apps/frontend/src/components/App.tsx
  apps/frontend/src/components/user/ExternalAuth.tsx
  apps/frontend/src/utils/clearSession.ts
Due: npm run lint:frontend

Update line endings
  apps/frontend/src/components/fap/MeetingComponents/FapMeetingInstrumentsTable.tsx
Due: npm run lint:frontend

chore: Migrate from Create React App to Vite (#436)
  apps/frontend/.dockerignore
  apps/frontend/Dockerfile
  apps/frontend/example.development.env
  apps/frontend/index.html
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/public/images/ess-white.svg
  apps/frontend/public/images/orcid.png
  apps/frontend/public/images/stfc-ukri-white.svg
  apps/frontend/src/components/AppToolbar/AppToolbar.tsx
  apps/frontend/src/components/user/UpdateUserInformation.tsx
  apps/frontend/src/react-app-env.d.ts
  apps/frontend/src/vite-env.d.ts
  apps/frontend/tsconfig.json
  apps/frontend/tsconfig.node.json
  apps/frontend/vite.config.mts
  package.json
Due: npm run lint:frontend

fix test
  apps/e2e/cypress/e2e/instruments.cy.ts
  apps/e2e/cypress/e2e/internalReviews.cy.ts
  apps/e2e/cypress/e2e/settings.cy.ts
Due: npm run lint:e2e

Stop auto unassign isis instr sci
  apps/backend/src/auth/StfcUserAuthorization.ts
Due: npm run lint:backend

Fix backend test
  apps/backend/src/auth/StfcUserAuthorization.spec.ts
Due: npm run lint:backend

fix(OAuthAuthorization.ts): update user properties based on userInfo received from OAuth provider
  apps/backend/src/auth/OAuthAuthorization.ts
Due: npm run lint:backend

improvement: Added default pdf data while creating pdt template.
  apps/frontend/src/components/template/CreateTemplate.tsx
  apps/frontend/src/components/template/PdfTemplateDefaultData.tsx
Due: npm run lint:frontend

fix e2e tests
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
Due: npm run lint:frontend
