Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

chore: remove un-need npm dependency in frontend (#1011)
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: none

wip
  apps/backend/db_patches/0172_Faclities.sql
  apps/backend/src/buildContext.ts
  apps/backend/src/config/Tokens.ts
  apps/backend/src/config/dependencyConfigE2E.ts
  apps/backend/src/config/dependencyConfigELI.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/context/index.ts
  apps/backend/src/datasources/FacilityDataSource.ts
  apps/backend/src/datasources/postgres/FacilityDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/Facility.ts
  apps/backend/src/mutations/FacilityMutations.ts
  apps/backend/src/queries/FacilityQueries.ts
  apps/backend/src/resolvers/mutations/AssignInstrumentsToFacility.ts
  apps/backend/src/resolvers/mutations/AssignUsersToFacility.ts
  apps/backend/src/resolvers/mutations/CreateFacilityMutation.ts
  apps/backend/src/resolvers/mutations/UpdateFacilityMutation.ts
  apps/backend/src/resolvers/queries/FacilityQuery.ts
  apps/backend/src/resolvers/types/Facility.ts
  apps/frontend/src/components/AppRoutes.tsx
  apps/frontend/src/components/facility/CreateUpdateFacility.tsx
  apps/frontend/src/components/facility/FacilityDetailsPanel.tsx
  apps/frontend/src/components/facility/FacilityPage.tsx
  apps/frontend/src/components/facility/FacilityTable.tsx
  apps/frontend/src/components/facility/SelectInstrumentModel.tsx
  apps/frontend/src/components/menu/MenuItems.tsx
  apps/frontend/src/graphql/facility/assignInstrumentsToFacility.graphql
  apps/frontend/src/graphql/facility/assignUsersToFacility.graphql
  apps/frontend/src/graphql/facility/createFacility.graphql
  apps/frontend/src/graphql/facility/getFacilitys.graphql
  apps/frontend/src/graphql/facility/removeUserFromFacility.graphql
  apps/frontend/src/graphql/facility/updateFacility.graphql
  apps/frontend/src/hooks/facility/useFacilitiesData.ts
  apps/frontend/src/hooks/facility/useFacilityData.ts
Due: npm run lint:frontend, npm run lint:backend

wip
  apps/e2e/cypress/e2e/facility.cy.ts
  apps/frontend/src/components/facility/FacilityDetailsPanel.tsx
  apps/frontend/src/components/facility/FacilityTable.tsx
  apps/frontend/src/components/facility/SelectInstrumentModel.tsx
  apps/frontend/src/graphql/facility/removeInstrumentFromFacility.graphql
Due: npm run lint:e2e, npm run lint:frontend

wip
  apps/e2e/cypress/e2e/facility.cy.ts
  apps/e2e/cypress/support/e2e.ts
  apps/e2e/cypress/support/facility.ts
  apps/e2e/cypress/types/facility.d.ts
  apps/frontend/src/components/facility/FacilityDetailsPanel.tsx
  apps/frontend/src/components/facility/FacilityTable.tsx
  apps/frontend/src/components/facility/SelectInstrumentModel.tsx
Due: npm run lint:e2e, npm run lint:frontend

wip
  apps/backend/src/datasources/ProposalDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/FacilityDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/database.ts
  apps/backend/src/queries/ProposalQueries.ts
  apps/backend/src/resolvers/queries/ProposalsViewQuery.ts
  apps/e2e/cypress/types/facility.d.ts
  apps/frontend/src/components/facility/CreateUpdateFacility.tsx
  apps/frontend/src/components/pages/OverviewPage.tsx
  apps/frontend/src/components/proposal/ProposalTableFacility.tsx
  apps/frontend/src/graphql/proposal/getUserProposalByFacility.graphql
  apps/frontend/src/hooks/proposal/useProposalsCoreData.ts
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

WIP
  apps/backend/src/auth/ExperimentSafetyReviewAuthorization.ts
  apps/backend/src/auth/QuestionaryAuthorization.ts
  apps/backend/src/auth/questionary/ExperimentSafetyReviewQuestionaryAuthorizer.ts
  apps/backend/src/datasources/postgres/ExperimentDataSource.ts
  apps/backend/src/mutations/ExperimentMutation.ts
  apps/backend/src/resolvers/mutations/ReviewExperimentSafetyMutation.ts
  apps/backend/src/resolvers/types/ExperimentSafety.ts
  apps/frontend/src/components/experimentSafetyReview/ExperimentSafetyReview.tsx
  apps/frontend/src/components/experimentSafetyReview/ExperimentSafetyReviewContainer.tsx
  apps/frontend/src/components/template/PreviewTemplateModal.tsx
  apps/frontend/src/graphql/experiment/reviewExperimentSafety.graphql
  apps/frontend/src/hooks/experimentSafety/useExperimentSafety.ts
  apps/frontend/src/models/questionary/experimentSafety/ExperimentSafetyState.ts
  apps/frontend/src/models/questionary/experimentSafety/ExperimentSafetyWithQuestionary.ts
  apps/frontend/src/models/questionary/experimentSafetyReview/ExperimentSafetyReviewSubmissionState.ts
  apps/frontend/src/models/questionary/experimentSafetyReview/ExperimentSafetyState.ts
Due: npm run lint:frontend, npm run lint:backend

WIP
  apps/frontend/src/components/questionary/questionaryComponents/ExperimentSafetyBasis/experimentSafetyBasisDefinition.tsx
Due: npm run lint:frontend

WIP
  apps/frontend/src/components/experimentSafetyReview/ExperimentSafetyReviewContainer.tsx
  apps/frontend/src/components/questionary/QuestionaryComponentRegistry.tsx
  apps/frontend/src/components/questionary/questionaryComponents/ExperimentSafetyBasis/experimentSafetyBasisDefinition.tsx
  apps/frontend/src/components/questionary/questionaryComponents/ExperimentSafetyReviewBasis/QuestionExperimentSafetyReviewBasisForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/ExperimentSafetyReviewBasis/QuestionTemplateRelationExperimentSafetyReviewBasisForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/ExperimentSafetyReviewBasis/QuestionaryComponentExperimentSafetyReviewBasis.tsx
  apps/frontend/src/components/questionary/questionaryComponents/ExperimentSafetyReviewBasis/createExperimentSafetyReviewBasisValidationSchema.ts
  apps/frontend/src/components/questionary/questionaryComponents/ExperimentSafetyReviewBasis/experimentSafetyReviewBasisDefinition.tsx
  apps/frontend/tsconfig.json
Due: npm run lint:frontend

feat: add visit cancellation logic to message broker event handler
  apps/backend/src/eventHandlers/messageBroker.ts
Due: npm run lint:backend

refactor: update scheduled events type in message broker event handler
  apps/backend/src/eventHandlers/messageBroker.ts
Due: npm run lint:backend

feat: add assertion for proposal submission status in FAP reviews tests
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

feat: update invite tests to use exact email and improve email handling
  apps/e2e/cypress/e2e/invites.cy.ts
  apps/frontend/src/components/proposal/NoOptionsText.tsx
Due: npm run lint:e2e, npm run lint:frontend

fix: remove unnecessary blank line in invites tests
  apps/e2e/cypress/e2e/invites.cy.ts
Due: npm run lint:e2e

wip
  apps/backend/db_patches/0172_Faclities.sql
  apps/backend/src/datasources/FacilityDataSource.ts
  apps/backend/src/datasources/postgres/FacilityDataSource.ts
  apps/backend/src/datasources/postgres/database.ts
  apps/backend/src/resolvers/types/User.ts
  apps/frontend/src/components/pages/OverviewPage.tsx
  apps/frontend/src/components/proposal/ProposalTableFacility.tsx
  apps/frontend/src/graphql/instrument/getMyFacilitiesInstruments.graphql
  apps/frontend/src/hooks/proposal/useFacilityProposalsDataCore.ts
  apps/frontend/src/hooks/proposal/useProposalsCoreData.ts
Due: npm run lint:frontend, npm run lint:backend

update role descriptions
  apps/backend/db_patches/0172_Add_Role_Descriptions.sql
  apps/backend/src/config/stfc/configureSTFCEnvironment.ts
Due: npm run lint:backend

fix: correct variable usage in invites tests to use last name instead of first name
  apps/e2e/cypress/e2e/invites.cy.ts
Due: npm run lint:e2e

WIP
  apps/frontend/src/components/experimentSafetyReview/ExperimentSafetyReviewSummary.tsx
  apps/frontend/src/components/questionary/DefaultWizardStepFactory.ts
  apps/frontend/src/components/questionary/Questionary.tsx
  apps/frontend/src/components/questionary/QuestionaryRegistry.tsx
  apps/frontend/src/components/questionary/questionaries/experimentSafetyReview/ExperimentSafetyReviewQuestionaryDefinition.ts
  apps/frontend/src/components/questionary/questionaries/experimentSafetyReview/ExperimentSafetyReviewQuestionaryWizardStep.ts
  apps/frontend/src/components/questionary/questionaryComponents/ExperimentSafetyReviewBasis/QuestionaryComponentExperimentSafetyReviewBasis.tsx
  apps/frontend/src/hooks/experimentSafety/useExperimentSafety.ts
  apps/frontend/src/models/questionary/experimentSafety/ExperimentSafetyWithQuestionary.ts
  apps/frontend/src/models/questionary/experimentSafetyReview/ExperimentSafetyReviewSubmissionState.ts
  apps/frontend/src/models/questionary/experimentSafetyReview/ExperimentSafetyReviewWithQuestionary.ts
  apps/frontend/src/models/questionary/experimentSafetyReview/ExperimentSafetyWithQuestionary.ts
Due: npm run lint:frontend

WIP
  apps/frontend/src/components/experimentSafetyReview/ExperimentSafetyReviewContainer.tsx
  apps/frontend/src/components/experimentSafetyReview/ExperimentSafetyReviewSummary.tsx
  apps/frontend/src/components/questionary/Questionary.tsx
  apps/frontend/src/components/questionary/questionaryComponents/ExperimentSafetyReviewBasis/QuestionaryComponentExperimentSafetyReviewBasis.tsx
Due: npm run lint:frontend

ensure final status is always returned regardless of proposal notification
  apps/backend/src/queries/ProposalQueries.ts
Due: npm run lint:backend

fix: add null check on fields which can be null for some legacy proposals (#1006)
  apps/backend/src/asyncJobs/jobs/checkAllCallsEnded.ts
  apps/backend/src/asyncJobs/jobs/checkCallsFAPReviewEnded.ts
Due: npm run lint:backend

wip
  apps/backend/src/auth/ProposalAuthorization.ts
  apps/backend/src/auth/ReviewAuthorization.ts
  apps/backend/src/datasources/FacilityDataSource.ts
  apps/backend/src/datasources/postgres/FacilityDataSource.ts
  apps/backend/src/models/Role.ts
  apps/backend/src/models/User.ts
  apps/backend/src/queries/InstrumentQueries.ts
  apps/backend/src/queries/InternalReviewQueries.ts
  apps/backend/src/queries/ProposalQueries.ts
  apps/frontend/src/components/pages/OverviewPage.tsx
  apps/frontend/src/components/proposal/ProposalTableFacility.tsx
Due: npm run lint:frontend, npm run lint:backend

#1366:Fix hoover on experimental area icon
  apps/frontend/src/components/menu/MenuItems.tsx
Due: npm run lint:frontend

remove comment
  apps/backend/src/resolvers/types/User.ts
  apps/frontend/src/components/AppToolbar/RoleSelection.tsx
Due: npm run lint:frontend, npm run lint:backend

fixing test case
  apps/backend/src/queries/ProposalQueries.spec.ts
Due: npm run lint:backend

fix: ensure final status is always returned regardless of proposal notification (#1015)
  apps/backend/src/queries/ProposalQueries.spec.ts
  apps/backend/src/queries/ProposalQueries.ts
Due: npm run lint:backend

feat: update RabbitMQ configuration and add definitions for queues and exchanges
  apps/backend/docker-compose-stfc.e2e.yml
  apps/backend/docker-compose.yml
  apps/backend/example.development.env
  apps/backend/rabbitmq-definitions.json
  apps/backend/src/eventHandlers/messageBroker.ts
  documentation/docs/developer-guide/configuration.md
Due: npm run lint:backend

Revert "fix: hoover on experimental area icon#1366"
  apps/frontend/src/components/menu/MenuItems.tsx
Due: npm run lint:frontend

feat: add auto_delete property to RabbitMQ fanout definitions
  apps/backend/rabbitmq-definitions.json
Due: none

wip
  apps/backend/src/auth/ProposalAuthorization.ts
  apps/backend/src/auth/ReviewAuthorization.ts
  apps/backend/src/auth/TechnicalReviewAuthorization.ts
  apps/backend/src/auth/UserAuthorization.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/frontend/src/components/pages/OverviewPage.tsx
  apps/frontend/src/components/proposal/ProposalTableFacility.tsx
Due: npm run lint:frontend, npm run lint:backend

Update tech reviewer when area contact changes
  apps/backend/src/datasources/InstrumentDataSource.ts
  apps/backend/src/datasources/mockups/InstrumentDataSource.ts
  apps/backend/src/datasources/postgres/InstrumentDataSource.ts
  apps/backend/src/mutations/InstrumentMutations.ts
  apps/frontend/src/components/instrument/CreateUpdateInstrument.tsx
Due: npm run lint:frontend, npm run lint:backend

update parameter name and expand tests
  apps/e2e/cypress/e2e/login.cy.ts
  apps/frontend/src/components/AppToolbar/AccountActionButton.tsx
Due: npm run lint:e2e, npm run lint:frontend

fix: replace createPostToQueueHandler with resolved instance in event handlers
  apps/backend/src/eventHandlers/index.ts
  apps/backend/src/eventHandlers/messageBroker.ts
Due: npm run lint:backend

Add test for officer to update all un-assigned technical reviews to new contact
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

wip
  apps/backend/src/auth/ReviewAuthorization.ts
  apps/backend/src/auth/TechnicalReviewAuthorization.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/backend/src/queries/InternalReviewQueries.ts
  apps/frontend/src/components/proposal/ProposalTableFacility.tsx
  apps/frontend/src/graphql/proposal/getUserProposalByFacility.graphql
  apps/frontend/src/hooks/facility/useFacilityData.ts
Due: npm run lint:frontend, npm run lint:backend

remove local change
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
Due: npm run lint:backend

feat: add logging handler to event processing and update related configurations
  apps/backend/src/config/Tokens.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/eventHandlers/index.ts
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/statusActionEngine/emailActionHandler.ts
  apps/backend/src/statusActionEngine/rabbitMQHandler.ts
  apps/backend/src/statusActionEngine/statusActionUtils.ts
Due: npm run lint:backend

fix functionality
  apps/frontend/src/components/instrument/CreateUpdateInstrument.tsx
Due: npm run lint:frontend

feat: add logging handler to dependency configurations and implement skip logging handler
  apps/backend/src/config/dependencyConfigDefault.ts
  apps/backend/src/config/dependencyConfigELI.ts
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/eventHandlers/logging.ts
Due: npm run lint:backend

docs: update example development environment file with queue and exchange name comments
  apps/backend/example.development.env
Due: none

feat: add skip logging handler to dependency configurations
  apps/backend/src/config/dependencyConfigE2E.ts
Due: npm run lint:backend

Path conditions:
  npm run lint:e2e: any of: apps/e2e/**/*.{js,ts,jsx,tsx}
  npm run lint:frontend: any of: apps/frontend/**/*.{js,ts,jsx,tsx}
  npm run lint:backend: any of: apps/backend/**/*.{js,ts,jsx,tsx}
