Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

.lintstagedrc.json:

{
  "apps/e2e/**/*.{js,ts,jsx,tsx}": ["npm run lint:e2e"],
  "apps/frontend/**/*.{js,ts,jsx,tsx}": ["npm run lint:frontend"],
  "apps/backend/**/*.{js,ts,jsx,tsx}": ["npm run lint:backend"]
}

Test to see if mock server is working
  .vscode/launch.json
Due: none

Test changes
  .vscode/launch.json
Due: none

feat: enforce minimum search length for email invites
  apps/frontend/src/components/proposal/InviteUser.tsx
Due: npm run lint:frontend

feat: enhance email selection with additional key handling
  apps/frontend/src/components/proposal/InviteUser.tsx
Due: npm run lint:frontend

change for tests
  apps/backend/docker-compose-stfc.e2e.yml
Due: none

chore: remove only
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

feat: add findByProposalPk method to CoProposerInviteDataSource
  apps/backend/src/datasources/CoProposerInviteDataSource.ts
  apps/backend/src/datasources/mockups/CoProposerInviteDataSource.ts
  apps/backend/src/datasources/postgres/CoProposerInviteDataSource.ts
Due: npm run lint:backend

refactor: rename authorization variables for clarity in InviteMutations
  apps/backend/src/mutations/InviteMutations.ts
Due: npm run lint:backend

Change to test new mock uows changes
  .vscode/launch.json
Due: none

Change to test
  .vscode/launch.json
Due: none

fix: sort instruments in alphabetical order (#915)
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/QuestionaryComponentInstrumentPicker.tsx
Due: npm run lint:frontend

restart tests with updated mock server
  .vscode/launch.json
Due: none

WIP
  apps/backend/src/datasources/postgres/WorkflowDataSource.ts
  apps/backend/src/mutations/WorkflowMutations.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/calls.cy.ts
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/e2e/cypress/e2e/settings.cy.ts
  apps/e2e/cypress/e2e/statusActions.cy.ts
  apps/e2e/cypress/support/workflow.ts
  apps/frontend/src/components/call/CallGeneralInfo.tsx
  apps/frontend/src/components/common/proposalFilters/ProposalStatusFilter.tsx
  apps/frontend/src/components/proposal/ChangeProposalStatus.tsx
  apps/frontend/src/components/proposal/ProposalContainer.tsx
  apps/frontend/src/components/proposal/ProposalCreate.tsx
  apps/frontend/src/components/proposal/ProposalFilterBar.tsx
  apps/frontend/src/components/proposal/ProposalSummary.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/components/proposal/ProposalTableUser.tsx
  apps/frontend/src/components/review/ReviewQuestionary.tsx
  apps/frontend/src/components/settings/proposalStatus/CreateUpdateProposalStatus.tsx
  apps/frontend/src/components/settings/proposalStatus/ProposalStatusesTable.tsx
  apps/frontend/src/components/settings/proposalWorkflow/CreateProposalWorkflow.tsx
  apps/frontend/src/components/settings/proposalWorkflow/EmailActionConfig.tsx
  apps/frontend/src/components/settings/proposalWorkflow/ProposalStatusPicker.tsx
  apps/frontend/src/components/settings/proposalWorkflow/ProposalWorkflowConnectionsEditor.tsx
  apps/frontend/src/components/settings/proposalWorkflow/ProposalWorkflowEditor.tsx
  apps/frontend/src/components/settings/proposalWorkflow/ProposalWorkflowEditorModel.tsx
  apps/frontend/src/components/settings/proposalWorkflow/ProposalWorkflowMetadataEditor.tsx
  apps/frontend/src/components/settings/proposalWorkflow/ProposalWorkflowsTable.tsx
  apps/frontend/src/components/settings/proposalWorkflow/StatusEventsAndActionsDialog.tsx
  apps/frontend/src/components/xpress/XpressProposalFilterBar.tsx
  apps/frontend/src/graphql/settings/fragment.proposalStatus.graphql
  apps/frontend/src/hooks/proposal/useProposalData.ts
  apps/frontend/src/hooks/settings/usePersistProposalWorkflowEditorModel.ts
  apps/frontend/src/hooks/settings/useProposalStatusesData.ts
  apps/frontend/src/hooks/settings/useProposalWorkflowsData.ts
  apps/frontend/src/utils/helperFunctions.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Frontend Proposal Workflow working
  apps/backend/src/datasources/postgres/StatusActionsDataSource.ts
  apps/backend/src/datasources/postgres/WorkflowDataSource.ts
  apps/backend/src/mutations/WorkflowMutations.ts
  apps/backend/src/resolvers/mutations/settings/AddWorkflowStatusMutation.ts
  apps/frontend/src/components/settings/proposalWorkflow/ProposalWorkflowEditor.tsx
  apps/frontend/src/graphql/settings/addWorkflowStatus.graphql
  apps/frontend/src/hooks/settings/usePersistProposalWorkflowEditorModel.ts
Due: npm run lint:frontend, npm run lint:backend

test
  apps/backend/src/mutations/WorkflowMutations.ts
Due: npm run lint:backend

fix e2e tests - update DB seeds
  apps/backend/db_patches/db_seeds/0004_Samples.sql
  apps/backend/db_patches/db_seeds/0005_Questions.sql
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
  apps/e2e/cypress/support/initialDBData.ts
Due: npm run lint:e2e

remove unnecessary env files
  apps/backend/.env-old
  apps/backend/.env-stfc
Due: none

Update technique scientist email setting logic
  apps/backend/src/statusActionEngine/emailActionHandler.ts
  apps/backend/src/statusActionEngine/statusActionUtils.ts
Due: npm run lint:backend

Remove SETTINGS table insert for technique scientist
  apps/backend/db_patches/0168_XpressEmailSetting.sql
Due: none

Remove setting source and rename variables
  apps/backend/src/models/Settings.ts
  apps/backend/src/statusActionEngine/emailActionHandler.ts
  apps/backend/src/statusActionEngine/statusActionUtils.ts
Due: npm run lint:backend

remove unnecessary files and console logs+
  apps/backend/db_patches/p.patch
  apps/frontend/src/components/questionary/questionaries/technicalReview/TechnicalReviewQuestionaryDefinition.ts
  apps/frontend/src/models/questionary/QuestionarySubmissionState.ts
Due: npm run lint:frontend

remove unnecessary files and console logs+
  apps/frontend/src/components/common/FileUploadComponent.tsx
Due: npm run lint:frontend

fix DeepScan findings
  apps/frontend/src/components/review/TechnicalReviewQuestionaryReview.tsx
  apps/frontend/src/components/review/TechnicalReviewSummary.tsx
Due: npm run lint:frontend

Update comment
  apps/backend/db_patches/0168_XpressEmailSetting.sql
Due: none

chore: remove only (#920)
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

fix e2e tests
  apps/e2e/cypress/fixtures/template_export.json
  apps/e2e/cypress/fixtures/template_import.json
Due: none

refactor: update findByInviteCodeId method to return a single invite or null
  apps/backend/db_patches/0168_AddCoProposerClaims.sql
  apps/backend/src/datasources/CoProposerInviteDataSource.ts
  apps/backend/src/datasources/mockups/CoProposerInviteDataSource.ts
  apps/backend/src/datasources/postgres/CoProposerInviteDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/CoProposerInvite.ts
  apps/backend/src/mutations/InviteMutations.spec.ts
  apps/backend/src/mutations/InviteMutations.ts
Due: npm run lint:backend

refactor: optimize role invite creation using Promise.all for better performance
  apps/backend/src/mutations/InviteMutations.ts
Due: npm run lint:backend

refactor: move check outside where the function is called to make the argument required
  apps/backend/src/mutations/InviteMutations.ts
Due: npm run lint:backend

fix e2e tests
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

Add isRequired option for generic template questions
  apps/frontend/src/components/questionary/questionaryComponents/GenericTemplate/GenericTemplateDefinition.tsx
  apps/frontend/src/components/questionary/questionaryComponents/GenericTemplate/QuestionGenericTemplateForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/GenericTemplate/QuestionTemplateRelationGenericTemplateForm.tsx
Due: npm run lint:frontend

refactor: change findByCode method to async for improved handling of promises
  apps/backend/src/datasources/postgres/InviteCodesDataSource.ts
Due: npm run lint:backend

feat: add InviteQueries to handle co-proposer invites and integrate into context
  apps/backend/src/buildContext.ts
  apps/backend/src/context/index.ts
  apps/backend/src/queries/InviteQueries.ts
Due: npm run lint:backend

feat: add createInvite mutation and invite fragment for GraphQL integration
  apps/frontend/src/graphql/invite/createInvite.graphql
  apps/frontend/src/graphql/invite/fragment.invite.graphql
Due: none

--amend
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

Workflow page done.
  apps/backend/db_patches/0168_ExperimentWorkflow.sql
  apps/backend/src/datasources/postgres/WorkflowDataSource.ts
  apps/backend/src/resolvers/types/Workflow.ts
  apps/frontend/src/components/AppRoutes.tsx
  apps/frontend/src/components/call/CreateUpdateCall.tsx
  apps/frontend/src/components/menu/SettingsMenuListItem.tsx
  apps/frontend/src/components/settings/experimentWorkflow/ExperimentWorkflowEditor.tsx
  apps/frontend/src/components/settings/experimentWorkflow/ExperimentWorkflowsPage.tsx
  apps/frontend/src/components/settings/proposalWorkflow/CreateWorkflow.tsx
  apps/frontend/src/components/settings/proposalWorkflow/workflowsTable.tsx
  apps/frontend/src/hooks/settings/useProposalWorkflowsData.ts
  apps/frontend/src/hooks/settings/useWorkflowsData.ts
Due: npm run lint:frontend, npm run lint:backend
