Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Add test coverage
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

Fix secreties pural
  apps/backend/src/statusActionEngine/statusActionUtils.ts
Due: npm run lint:backend

refactor: determine STFC facility email by call title
  apps/backend/src/eventHandlers/email/stfcEmailHandler.ts
Due: npm run lint:backend

feat: include instrument in STFC Rapid email
  apps/backend/src/eventHandlers/email/stfcEmailHandler.ts
Due: npm run lint:backend

Fix formatting
  apps/backend/src/eventHandlers/email/stfcEmailHandler.ts
Due: npm run lint:backend

Update docker-compose.yml (#523)
  docker-compose.yml
Due: none

Remove redundant OR operator
  apps/backend/src/eventHandlers/email/stfcEmailHandler.ts
Due: npm run lint:backend

feat: add possibility to select FAP instrument when assigning proposal to FAP
  apps/backend/db_patches/0146_MultiInstrumentPerProposal.sql
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/datasources/postgres/InstrumentDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/ProposalView.ts
  apps/backend/src/mutations/FapMutations.spec.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/backend/src/populate/index.ts
  apps/backend/src/resolvers/mutations/AssignProposalsToFapMutation.ts
  apps/backend/src/resolvers/types/Instrument.ts
  apps/backend/src/resolvers/types/ProposalView.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/settings.cy.ts
  apps/frontend/src/components/fap/MeetingComponents/FapMeetingInstrumentsTable.tsx
  apps/frontend/src/components/fap/Proposals/AssignProposalsToFap.tsx
  apps/frontend/src/components/instrument/AssignProposalsToInstruments.tsx
  apps/frontend/src/components/proposal/ChangeProposalStatus.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/graphql/fap/assignProposalsToFap.graphql
  apps/frontend/src/graphql/proposal/getProposalsCore.graphql
  apps/frontend/src/utils/helperFunctions.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Build fix
  apps/frontend/src/components/review/ProposalTechnicalReview.tsx
Due: npm run lint:frontend

Include option to omit file from pdf
  apps/backend/src/models/questionTypes/FileUpload.ts
  apps/backend/src/resolvers/types/FieldConfig.ts
  apps/frontend/src/components/common/FileUploadComponent.tsx
  apps/frontend/src/components/questionary/questionaryComponents/FileUpload/QuestionFileUploadForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/FileUpload/QuestionTemplateRelationFileUploadForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/FileUpload/QuestionaryComponentFileUpload.tsx
  apps/frontend/src/graphql/template/fragment.fieldConfig.graphql
Due: npm run lint:frontend, npm run lint:backend

Syntax correction
  apps/backend/src/models/ProposalModelFunctions.ts
Due: npm run lint:backend

Backend changes
  apps/backend/src/models/ProposalModelFunctions.ts
Due: npm run lint:backend

e2e test fix
  apps/e2e/cypress/fixtures/template_export.json
Due: none

E2E test fix
  apps/e2e/cypress/fixtures/template_export.json
Due: none

fix db seeds
  apps/backend/db_patches/db_seeds/0001_ProposalForScheduling.sql
Due: none

Add option to omit images from proposal pdf (#524)
  apps/backend/src/models/ProposalModelFunctions.ts
  apps/backend/src/models/questionTypes/FileUpload.ts
  apps/backend/src/resolvers/types/FieldConfig.ts
  apps/e2e/cypress/fixtures/template_export.json
  apps/frontend/src/components/common/FileUploadComponent.tsx
  apps/frontend/src/components/questionary/questionaryComponents/FileUpload/QuestionFileUploadForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/FileUpload/QuestionTemplateRelationFileUploadForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/FileUpload/QuestionaryComponentFileUpload.tsx
  apps/frontend/src/components/review/ProposalTechnicalReview.tsx
  apps/frontend/src/graphql/template/fragment.fieldConfig.graphql
Due: npm run lint:frontend, npm run lint:backend

Revert accidental commits
  .vscode/launch.json
  apps/backend/src/eventHandlers/MailService/SMTPMailService.ts
Due: npm run lint:backend

fixing e2e tests and improving FAPs on multi-instrument proposals
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/InstrumentDataSource.ts
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/mockups/InstrumentDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/datasources/postgres/InstrumentDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/models/Fap.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/backend/src/mutations/ProposalMutations.ts
  apps/backend/src/resolvers/mutations/UpdateFapProposalMutation.ts
  apps/backend/src/resolvers/types/FapProposal.ts
  apps/e2e/cypress/e2e/settings.cy.ts
  apps/frontend/src/components/fap/MeetingComponents/FapInstrumentProposalsTable.tsx
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/FapMeetingProposalViewModal.tsx
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/TechnicalReviewInfo.tsx
  apps/frontend/src/graphql/fap/getFapProposals.graphql
  apps/frontend/src/graphql/fap/updateFapTimeAllocation.graphql
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

fix merge conflict
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
Due: npm run lint:backend

change from proposal_instrument_selected to plural proposal_instruments_selected event
  apps/backend/db_patches/0146_MultiInstrumentPerProposal.sql
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/events/event.enum.ts
  apps/backend/src/mutations/InstrumentMutations.ts
  apps/e2e/cypress/e2e/settings.cy.ts
Due: npm run lint:e2e, npm run lint:backend

fix: recurring users query when expanding instrument users and page refresh when pressing enter after surname search in instrument creation
  apps/e2e/cypress/e2e/instruments.cy.ts
  apps/frontend/src/components/instrument/AssignedScientistsTable.tsx
  apps/frontend/src/components/instrument/CreateUpdateInstrument.tsx
  apps/frontend/src/graphql/instrument/instrument.fragment.graphql
  apps/frontend/src/hooks/user/useUsersDataByFilter.ts
Due: npm run lint:e2e, npm run lint:frontend

removed unnecessary institution_country_id check condition
  apps/backend/src/auth/OAuthAuthorization.ts
Due: npm run lint:backend

remove enter press check on the update but keep on create
  apps/e2e/cypress/e2e/instruments.cy.ts
Due: npm run lint:e2e

Change file upload error message
  apps/e2e/cypress/e2e/templatesAdvanced.cy.ts
  apps/frontend/src/components/questionary/questionaryComponents/FileUpload/FileUploadDefinition.tsx
  apps/frontend/src/components/questionary/questionaryComponents/FileUpload/createFileUploadValidationSchema.ts
Due: npm run lint:e2e, npm run lint:frontend

fix: recurring users query when expanding instrument users and page refresh when pressing enter after surname search in instrument creation (#530)
  apps/e2e/cypress/e2e/instruments.cy.ts
  apps/frontend/src/components/instrument/AssignedScientistsTable.tsx
  apps/frontend/src/components/instrument/CreateUpdateInstrument.tsx
  apps/frontend/src/graphql/instrument/instrument.fragment.graphql
  apps/frontend/src/hooks/user/useUsersDataByFilter.ts
Due: npm run lint:e2e, npm run lint:frontend

#227: Add new proposal Db to merge user tool
  apps/backend/db_patches/0148_CreateUpdateUserIdFunc.sql
Due: none

added e2e for ror integration
  apps/e2e/cypress/e2e/login.cy.ts
Due: npm run lint:e2e

continue fixing review comments and some found bugs while testing FAPs
  apps/frontend/src/components/common/SimpleTabs.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/components/review/ProposalReviewContent.tsx
  apps/frontend/src/graphql/fap/getFapProposalsByInstrument.graphql
Due: npm run lint:frontend

test: remove PDF file's size check from proposalAdministration e2e test
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
  apps/e2e/cypress/fixtures/2024_proposal_fixture.pdf
Due: npm run lint:e2e

test: remove PDF file's size check from proposalAdministration e2e test (#534)
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
  apps/e2e/cypress/fixtures/2024_proposal_fixture.pdf
Due: npm run lint:e2e

Fix: STFC techreviewers not loading
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

adjust e2e test for user institution update on oauth login
  apps/e2e/cypress/e2e/personalInformation.cy.ts
Due: npm run lint:e2e

fix some more review comments and add some more improvements
  apps/backend/db_patches/0146_MultiInstrumentPerProposal.sql
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/datasources/postgres/InstrumentDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/events/event.enum.ts
  apps/backend/src/factory/xlsx/FapDataColumns.ts
  apps/backend/src/factory/xlsx/FapDataRow.ts
  apps/backend/src/mutations/InstrumentMutations.ts
  apps/frontend/src/components/fap/MeetingComponents/FapInstrumentProposalsTable.tsx
  apps/frontend/src/components/review/ProposalReviewContent.tsx
Due: npm run lint:frontend, npm run lint:backend

wip add mass assigning reviews backend
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/mutations/FapMutations.spec.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/backend/src/resolvers/mutations/AssignMembersToFapMutation.ts
Due: npm run lint:backend

feat: add feature flag for rabbitmq message broker
  apps/backend/db_patches/0148_AddRabbitMQMessageBrokerFeature.sql
  apps/backend/src/config/Tokens.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/config/ess/configureESSEnvironment.ts
  apps/backend/src/config/stfc/configureSTFCEnvironment.ts
  apps/backend/src/eventHandlers/messageBroker.ts
  apps/backend/src/events/eventBus.ts
  apps/backend/src/models/Feature.ts
  apps/backend/src/mutations/AdminMutations.ts
  apps/backend/src/statusActionEngine/rabbitMQHandler.ts
Due: npm run lint:backend

wip add mass assigning reviews backend tests
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/mutations/FapMutations.spec.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/backend/src/resolvers/mutations/AssignMembersToFapMutation.ts
Due: npm run lint:backend

fix failing tests
  apps/backend/src/config/dependencyConfigE2E.ts
Due: npm run lint:backend

try to fix the configuration for all environments
  apps/backend/src/config/dependencyConfigE2E.ts
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/mutations/AdminMutations.ts
Due: npm run lint:backend

feat: add possibility to disable rabbitmq and standardize env variable naming
  .github/workflows/test-build.yml
  apps/backend/docker-compose-stfc.e2e.yml
  apps/backend/example.development.env
  apps/backend/src/eventHandlers/messageBroker.ts
  apps/backend/src/middlewares/authorization.ts
  apps/backend/src/mutations/UserMutations.spec.ts
  apps/backend/src/utils/helperFunctions.ts
  apps/backend/src/utils/jwt.ts
  docker-compose.yml
Due: npm run lint:backend

update ror_id value within the db patch
  apps/backend/db_patches/0148_AddRorIdToInstitutions.sql
Due: none

Path conditions:
  npm run lint:e2e: any of: apps/e2e/**/*.{js,ts,jsx,tsx}
  npm run lint:frontend: any of: apps/frontend/**/*.{js,ts,jsx,tsx}
  npm run lint:backend: any of: apps/backend/**/*.{js,ts,jsx,tsx}
