Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

.lintstagedrc.json:

{
  "apps/e2e/**/*.{js,ts,jsx,tsx}": ["npm run lint:e2e"],
  "apps/frontend/**/*.{js,ts,jsx,tsx}": ["npm run lint:frontend"],
  "apps/backend/**/*.{js,ts,jsx,tsx}": ["npm run lint:backend"]
}

feat: enhance email handling for invites and improve error logging
  apps/backend/src/eventHandlers/email/eliEmailHandler.ts
  apps/backend/src/eventHandlers/email/essEmailHandler.ts
Due: npm run lint:backend

feat: refactor email handlers to use a centralized template ID function for invitations
  apps/backend/src/eventHandlers/email/eliEmailHandler.ts
  apps/backend/src/eventHandlers/email/essEmailHandler.ts
  apps/backend/src/mutations/InviteMutations.ts
Due: npm run lint:backend

Update STFC backend debug config
  .vscode/launch.json
Due: none

test: fix broken e2e test
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

test: fix broken e2e test (#937)
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

fix code review findings
  apps/backend/db_patches/0165_AddTechnicalReviewTemplate.sql
  apps/backend/src/datasources/postgres/ReviewDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/review/ProposalReviewContent.tsx
Due: npm run lint:frontend, npm run lint:backend

feat: migrate existing redeem codes into the invites system
  apps/backend/db_patches/0171_MigrateRedeemCodesToInvites.sql
Due: none

make tech review file attachments visible to other instrument scientists
  apps/frontend/src/components/review/TechnicalReviewQuestionaryReview.tsx
Due: npm run lint:frontend

feat: hide retired instruments in the Xpress instrument selection dropdown (#934)
  apps/backend/src/mutations/InstrumentMutations.spec.ts
  apps/backend/src/mutations/InstrumentMutations.ts
  apps/e2e/cypress/e2e/xpress.cy.ts
  apps/e2e/cypress/support/instrument.ts
  apps/e2e/cypress/types/instrument.d.ts
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/graphql/instrument/instrumentMinimal.fragment.graphql
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

fix: use short_code of status instead of name for FAP proposal filtering
  apps/backend/src/datasources/postgres/FapDataSource.ts
Due: npm run lint:backend

refactor: remove leftover development logging
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
Due: npm run lint:backend

feat: update acceptInvite mutation to return Invite object and add GraphQL mutation definition
  apps/backend/src/mutations/InviteMutations.ts
  apps/backend/src/resolvers/mutations/AcceptInviteMutation.ts
  apps/frontend/src/graphql/invite/acceptInvite.graphql
Due: npm run lint:backend

feat: rename EMAIL_INVITE_OLD to EMAIL_INVITE_LEGACY across event handlers and enums
  apps/backend/src/eventHandlers/email/eliEmailHandler.ts
  apps/backend/src/eventHandlers/email/essEmailHandler.ts
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/events/event.enum.ts
  apps/backend/src/mutations/UserMutations.ts
Due: npm run lint:backend

feat: colorize log output (#933)
  apps/backend/package.json
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/config/ess/configureGrayLogLogger.ts
Due: npm run lint:backend

feat: add EMAIL_INVITE_LEGACY feature toggle and update Feature enum
  apps/backend/db_patches/0172_CreatEmailInviteLegacyFeature.sql
  apps/backend/src/models/Feature.ts
Due: npm run lint:backend

feat: implement AcceptInvite component and replace RedeemCode usage
  apps/backend/src/resolvers/types/Invite.ts
  apps/frontend/src/components/proposal/AcceptInvite.tsx
  apps/frontend/src/components/proposal/InviteUser.tsx
  apps/frontend/src/components/proposal/ProposalParticipants.tsx
  apps/frontend/src/components/proposal/ProposalTable.tsx
  apps/frontend/src/components/proposal/RedeemCode.tsx
  apps/frontend/src/components/proposalBooking/CreateUpdateVisit.tsx
  apps/frontend/src/components/questionary/questionaryComponents/ProposalBasis/QuestionaryComponentProposalBasis.tsx
  apps/frontend/src/graphql/invite/fragment.invite.graphql
Due: npm run lint:frontend, npm run lint:backend

feat: update invite chip icon based on email sent status
  apps/frontend/src/components/proposal/ProposalParticipants.tsx
Due: npm run lint:frontend

feat: filter redeem codes to only include unclaimed records in migration script
  apps/backend/db_patches/0171_MigrateRedeemCodesToInvites.sql
Due: none

feat: refactor invite code generation to ensure uniqueness and handle async operations
  apps/backend/src/mutations/InviteMutations.ts
Due: npm run lint:backend

feat: add authorization to invite code field for user officers
  apps/backend/src/resolvers/types/Invite.ts
Due: npm run lint:backend

test: split template tests and refactor out duplicate code
  apps/e2e/cypress/e2e/templateContext.ts
  apps/e2e/cypress/e2e/templateDeleteAndArchive.cy.ts
  apps/e2e/cypress/e2e/templatesAdvanced.cy.ts
  apps/e2e/cypress/e2e/templatesBasic.cy.ts
Due: npm run lint:e2e

Fix pagination
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
Due: npm run lint:frontend

update package-lock.json
  apps/backend/package-lock.json
Due: none

feat: add expiration tracking to invites with is_email_sent and expires_at fields
  apps/backend/db_patches/0170_AddInviteFields.sql
  apps/backend/db_patches/0170_AddIsEmailSent.sql
  apps/backend/src/datasources/mockups/InviteDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/Invite.ts
  apps/backend/src/mutations/InviteMutations.spec.ts
  apps/backend/src/mutations/InviteMutations.ts
  apps/backend/src/resolvers/types/Invite.ts
Due: npm run lint:backend

test: use separate runner for template deletion tests
  .github/workflows/test-build.yml
Due: none

chore: update backend package-lock.json
  apps/backend/package-lock.json
Due: none

fix package-lock.json
  apps/backend/package-lock.json
Due: none

feat: enhance invite data source with note and expiration fields in create and update methods
  apps/backend/src/datasources/InviteDataSource.ts
  apps/backend/src/datasources/mockups/InviteDataSource.ts
  apps/backend/src/datasources/postgres/InviteDataSource.ts
  apps/backend/src/mutations/InviteMutations.ts
Due: npm run lint:backend

chore: update backend package-lock.json (#941)
  apps/backend/package-lock.json
Due: none

fix: pagination issue with proposal table (#924)
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
Due: npm run lint:frontend

fix: remove unused coProposerInvites array from review stub
  apps/frontend/src/components/review/ReviewQuestionary.tsx
Due: npm run lint:frontend

test: split template tests to speed up github actions (#940)
  .github/workflows/test-build.yml
  apps/e2e/cypress/e2e/templateContext.ts
  apps/e2e/cypress/e2e/templateDeleteAndArchive.cy.ts
  apps/e2e/cypress/e2e/templatesAdvanced.cy.ts
  apps/e2e/cypress/e2e/templatesBasic.cy.ts
Due: npm run lint:e2e

Revert "Hide retired instruments in Xpress inst selection"
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/graphql/instrument/instrumentMinimal.fragment.graphql
Due: npm run lint:frontend

Revert "Add backend validation"
  apps/backend/src/mutations/InstrumentMutations.ts
Due: npm run lint:backend

Revert "Add e2e testing"
  apps/e2e/cypress/e2e/xpress.cy.ts
  apps/e2e/cypress/support/instrument.ts
  apps/e2e/cypress/types/instrument.d.ts
Due: npm run lint:e2e

Revert "Add backend test"
  apps/backend/src/mutations/InstrumentMutations.spec.ts
Due: npm run lint:backend

fix: initialize coProposerInvites array in review stub
  apps/frontend/src/components/review/ReviewQuestionary.tsx
Due: npm run lint:frontend

feat: handle Xpress unavailable instruments
  apps/e2e/cypress/e2e/xpress.cy.ts
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/components/xpress/useXpressInstrumentsData.ts
Due: npm run lint:e2e, npm run lint:frontend
