Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

remove debug logging
  apps/frontend/src/components/questionary/questionaryComponents/ProposalBasis/QuestionaryComponentProposalBasis.tsx
Due: npm run lint:frontend

feat: add open telemetry on requests and logs (#1052)
  apps/backend/example.development.env
  apps/backend/index.ts
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/config/stfc/configureSTFCWinstonLogger.ts
  apps/backend/src/middlewares/tracing/tracing.ts
Due: npm run lint:backend

revert unreleated changes
  apps/backend/src/auth/TechnicalReviewAuthorization.ts
Due: npm run lint:backend

Create a log entry for each instance where non-printable characters are replaced in a support query.
  apps/frontend/src/components/questionary/questionaryComponents/ProposalBasis/QuestionaryComponentProposalBasis.tsx
Due: npm run lint:frontend

Log the reason if a support query's abstract differs from the user's input.
  apps/frontend/src/components/questionary/questionaryComponents/ProposalBasis/QuestionaryComponentProposalBasis.tsx
Due: npm run lint:frontend

Revert "Log the reason if a support query's abstract differs from the user's input."
  apps/frontend/src/components/questionary/questionaryComponents/ProposalBasis/QuestionaryComponentProposalBasis.tsx
Due: npm run lint:frontend

fix: backfill the submitted date field in the proposals table
  apps/backend/db_patches/0181_BackfillSubmittedDate.sql
Due: none

Fix RabbitMQ logs
  apps/backend/src/datasources/postgres/StatusActionsLogsDataSource.ts
  apps/backend/src/resolvers/queries/StatusActionsLogsQuery.ts
  apps/frontend/src/components/menu/StatusActionLogsMenuListItem.tsx
  apps/frontend/src/components/statusActionsLogs/EmailStatusActionsLogsPage.tsx
  apps/frontend/src/components/statusActionsLogs/ProposalDownloadStatusActionsLogsPage.tsx
  apps/frontend/src/components/statusActionsLogs/StatusActionsLogsTable.tsx
Due: npm run lint:frontend, npm run lint:backend

Fix replay message
  apps/frontend/src/components/statusActionsLogs/StatusActionsLogsTable.tsx
  apps/frontend/src/graphql/statusActionsLogs/fragment.statusActionsLog.graphql
Due: npm run lint:frontend

Update icons
  apps/frontend/src/components/menu/StatusActionLogsMenuListItem.tsx
Due: npm run lint:frontend

Send to event logs
  apps/backend/src/statusActionEngine/proposalDownloadActionHandler.ts
Due: npm run lint:backend

remove facility member user
  apps/backend/db_patches/0172_Faclities.sql
  apps/backend/src/auth/ProposalAuthorization.ts
  apps/backend/src/auth/StfcUserAuthorization.spec.ts
  apps/backend/src/auth/StfcUserAuthorization.ts
  apps/backend/src/auth/UserAuthorization.ts
  apps/backend/src/datasources/CallDataSource.ts
  apps/backend/src/datasources/ProposalDataSource.ts
  apps/backend/src/datasources/mockups/CallDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/CallDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/backend/src/models/Role.ts
  apps/backend/src/models/User.ts
  apps/backend/src/models/questionTypes/FileUpload.ts
  apps/backend/src/queries/CallQueries.ts
  apps/backend/src/queries/InstrumentQueries.ts
  apps/backend/src/queries/ProposalQueries.ts
  apps/backend/src/resolvers/queries/CallsQuery.ts
  apps/backend/src/resolvers/queries/ProposalsQuery.ts
  apps/backend/src/resolvers/queries/ProposalsViewQuery.ts
  apps/e2e/cypress/e2e/facility.cy.ts
  apps/e2e/cypress/support/initialDBData.ts
  apps/frontend/src/components/AppRoutes.tsx
  apps/frontend/src/components/menu/MenuItems.tsx
  apps/frontend/src/components/pages/OverviewPage.tsx
  apps/frontend/src/components/proposal/ProposalFilterBar.tsx
  apps/frontend/src/components/proposal/ProposalTableFacility.tsx
  apps/frontend/src/graphql/call/getCallsByFacilityMember.graphql
  apps/frontend/src/graphql/proposal/getUserProposalByFacility.graphql
  apps/frontend/src/hooks/call/useFacilityCallsData.ts
  apps/frontend/src/hooks/instrument/useInstrumentsMinimalData.ts
  apps/frontend/src/hooks/proposal/useFacilityProposalsDataCore.ts
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

chore: update duo-validation package to version 5.1.15
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: none

fix: backfill the submitted date field in the proposals table (#1067)
  apps/backend/db_patches/0181_BackfillSubmittedDate.sql
Due: none

chore: remove depreciated option
  .husky/pre-commit
Due: none

feat: Add proposal details to visit registration approved event
  apps/backend/src/datasources/ProposalDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/eventHandlers/messageBroker.ts
Due: npm run lint:backend

chore: remove depreciated option (#1069)
  .husky/pre-commit
Due: none

feat: add proposal details to visit registration approved and cancelled events in RabbitMQ
  apps/backend/src/eventHandlers/messageBroker.ts
Due: npm run lint:backend

Fix optional config
  apps/backend/src/datasources/postgres/StatusActionsDataSource.ts
  apps/backend/src/resolvers/mutations/settings/AddConnectionStatusActionsMutation.ts
Due: npm run lint:backend

Add e2e tests
  apps/e2e/cypress/e2e/statusActions.cy.ts
  apps/e2e/cypress/support/e2e.ts
  apps/e2e/cypress/support/statusActionLogs.ts
  apps/e2e/cypress/types/index.d.ts
  apps/e2e/cypress/types/statusActionLog.d.ts
  apps/frontend/src/components/statusActionsLogs/StatusActionsLogsTable.tsx
Due: npm run lint:e2e, npm run lint:frontend

fix: remove unused telephone_alt field from user administration tests
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/userAdministration.cy.ts
Due: npm run lint:e2e

feat: add staging environment check to email sending logic
  apps/backend/src/eventHandlers/MailService/SparkPostMailService.ts
  apps/backend/src/utils/helperFunctions.ts
Due: npm run lint:backend

refactor: remove middle name, nationality, and alternate telephone fields (#1059)
  apps/backend/db_patches/0181_RemoveUserColumns.sql
  apps/backend/db_patches/db_seeds/0002_InstrumentScientiests.sql
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/auth/OAuthAuthorization.ts
  apps/backend/src/datasources/AdminDataSource.ts
  apps/backend/src/datasources/UserDataSource.ts
  apps/backend/src/datasources/mockups/AdminDataSource.ts
  apps/backend/src/datasources/mockups/UserDataSource.ts
  apps/backend/src/datasources/postgres/AdminDataSource.ts
  apps/backend/src/datasources/postgres/UserDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/backend/src/models/User.ts
  apps/backend/src/queries/AdminQueries.ts
  apps/backend/src/resolvers/mutations/UpdateUserMutation.ts
  apps/backend/src/resolvers/queries/NationalitiesQuery.ts
  apps/backend/src/resolvers/types/User.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/eventLogs.cy.ts
  apps/e2e/cypress/e2e/personalInformation.cy.ts
  apps/e2e/cypress/e2e/userAdministration.cy.ts
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/components/user/UpdateUserInformation.tsx
  apps/frontend/src/graphql/user/getNationalities.graphql
  apps/frontend/src/graphql/user/getUser.graphql
  apps/frontend/src/graphql/user/getUserMe.graphql
  apps/frontend/src/graphql/user/updateUser.graphql
  apps/frontend/src/hooks/user/useNationalities.ts
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Fix storing
  apps/backend/src/datasources/FileDataSource.ts
  apps/backend/src/datasources/postgres/FileDataSource.ts
  apps/backend/src/statusActionEngine/proposalDownloadActionHandler.ts
Due: npm run lint:backend

feat: add staging environment check to email sending logic (#1073)
  apps/backend/src/eventHandlers/MailService/SparkPostMailService.ts
  apps/backend/src/utils/helperFunctions.ts
Due: npm run lint:backend

fix: only render the default topic for technical reviews for the fap reviewer
  apps/frontend/src/components/review/ProposalReviewContent.tsx
Due: npm run lint:frontend

remove comments
  apps/frontend/src/components/review/ProposalReviewContent.tsx
Due: npm run lint:frontend

fix: do not render technical review details for FAP reviewers (#1075)
  apps/frontend/src/components/review/ProposalReviewContent.tsx
Due: npm run lint:frontend

Update validation
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: none

PDF data optimisation
  apps/backend/src/factory/pdf/experimentSafety.ts
  apps/backend/src/factory/pdf/experimentSample.ts
  apps/backend/src/middlewares/factory/factoryServices.ts
  apps/backend/src/middlewares/factory/pdf/download.ts
  apps/frontend/src/components/experimentSafetyReview/ExperimentSafetyReviewSummary.tsx
  apps/frontend/src/components/template/CreateTemplate.tsx
  apps/frontend/src/components/template/ExperimentPdfTemplateDefaultData.tsx
  apps/frontend/src/components/template/PdfTemplateDefaultData.tsx
  apps/frontend/src/context/DownloadContextProvider.tsx
  apps/frontend/src/hooks/experiment/useDownloadPDFExperimentSafety.ts
Due: npm run lint:frontend, npm run lint:backend

Delete previous version of file
  apps/backend/src/datasources/FileDataSource.ts
  apps/backend/src/datasources/mockups/FileDataSource.ts
  apps/backend/src/datasources/postgres/FileDataSource.ts
  apps/backend/src/middlewares/files.ts
  apps/backend/src/queries/FileQueries.ts
  apps/backend/src/statusActionEngine/proposalDownloadActionHandler.ts
Due: npm run lint:backend

Add user message and remove console log
  apps/frontend/src/components/questionary/questionaryComponents/ProposalBasis/QuestionaryComponentProposalBasis.tsx
Due: npm run lint:frontend

correct impersonation and add impersonation logs
  apps/backend/src/datasources/EventLogsDataSource.ts
  apps/backend/src/datasources/postgres/EventLogsDataSource.ts
  apps/backend/src/decorators/EventBus.ts
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/models/EventLog.ts
Due: npm run lint:backend

feat: add staging environment check to email sending logic (#1072)
  apps/backend/src/eventHandlers/MailService/SparkPostMailService.ts
  apps/backend/src/utils/helperFunctions.ts
Due: npm run lint:backend

fix: fix checking external token not working
  apps/backend/src/decorators/Authorized.ts
Due: npm run lint:backend

Revert "feat: replace non-printable characters within the proposal's abstract field. #1370"
  apps/frontend/src/components/questionary/questionaryComponents/ProposalBasis/QuestionaryComponentProposalBasis.tsx
Due: npm run lint:frontend

Fix default error
  apps/frontend/src/components/questionary/questionaryComponents/ProposalBasis/QuestionaryComponentProposalBasis.tsx
Due: npm run lint:frontend

external token fixes
  apps/backend/src/decorators/Authorized.ts
  apps/backend/src/mutations/UserMutations.ts
Due: npm run lint:backend

#1370: Fix Default issue of Abstract field sanitization
  apps/frontend/src/components/questionary/questionaryComponents/ProposalBasis/QuestionaryComponentProposalBasis.tsx
Due: npm run lint:frontend

Path conditions:
  npm run lint:e2e: any of: apps/e2e/**/*.{js,ts,jsx,tsx}
  npm run lint:frontend: any of: apps/frontend/**/*.{js,ts,jsx,tsx}
  npm run lint:backend: any of: apps/backend/**/*.{js,ts,jsx,tsx}
