Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Fix month typo (#752)
  apps/frontend/src/utils/Time.ts
Due: npm run lint:frontend

fix: dont add non missed users (#751)
  apps/backend/src/datasources/postgres/UserDataSource.ts
Due: npm run lint:backend

docs: fix more spelling, formatting, delete redundancies
  README.md
  documentation/docs/developer-guide/kubernetes.md
  documentation/docs/faq.md
  documentation/docs/glossary.md
  documentation/docs/index.md
  documentation/docs/user-guide/user-officer/creating_call.md
  documentation/docs/user-guide/user-officer/creating_templates.md
  documentation/docs/user-guide/user-officer/creating_workflow.md
  documentation/docs/user-guide/user-officer/fap.md
  documentation/docs/user-guide/user-officer/fap_review.md
  documentation/docs/user-guide/user-officer/feasibility_review.md
  documentation/docs/user-guide/user-officer/page.md
  documentation/docs/user-guide/user-officer/proposal.md
  documentation/docs/user-guide/user-officer/questions.md
  documentation/docs/user-guide/user-officer/settings/proposal_workflow.md
  documentation/docs/user-guide/user-officer/templates/feedback_template.md
  documentation/docs/user-guide/user-officer/templates/pdf_template.md
  documentation/docs/user-guide/user-officer/templates/proposalESI_template.md
  documentation/docs/user-guide/user-officer/templates/proposal_template.md
  documentation/docs/user-guide/user-officer/templates/sampleESI_template.md
  documentation/docs/user-guide/user-officer/templates/sampledec_template.md
  documentation/docs/user-guide/user-officer/templates/shipment_template.md
  documentation/docs/user-guide/user-officer/templates/sub_template.md
  documentation/docs/user-guide/user-officer/templates/visit_template.md
  documentation/docs/user-guide/user-officer/user-officer.md
  documentation/mkdocs.yml
Due: none

docs: fix spelling, format, etc
  documentation/docs/developer-guide/step-by-step.md
  documentation/docs/user-guide/user-officer/templates/feedback_template.md
  documentation/docs/user-guide/user-officer/templates/pdf_template.md
Due: none

docs: fix more spelling, formatting, delete redundancies (#755)
  README.md
  documentation/docs/developer-guide/kubernetes.md
  documentation/docs/faq.md
  documentation/docs/glossary.md
  documentation/docs/index.md
  documentation/docs/user-guide/user-officer/creating_call.md
  documentation/docs/user-guide/user-officer/creating_templates.md
  documentation/docs/user-guide/user-officer/creating_workflow.md
  documentation/docs/user-guide/user-officer/fap.md
  documentation/docs/user-guide/user-officer/fap_review.md
  documentation/docs/user-guide/user-officer/feasibility_review.md
  documentation/docs/user-guide/user-officer/page.md
  documentation/docs/user-guide/user-officer/proposal.md
  documentation/docs/user-guide/user-officer/questions.md
  documentation/docs/user-guide/user-officer/settings/proposal_workflow.md
  documentation/docs/user-guide/user-officer/templates/feedback_template.md
  documentation/docs/user-guide/user-officer/templates/pdf_template.md
  documentation/docs/user-guide/user-officer/templates/proposalESI_template.md
  documentation/docs/user-guide/user-officer/templates/proposal_template.md
  documentation/docs/user-guide/user-officer/templates/sampleESI_template.md
  documentation/docs/user-guide/user-officer/templates/sampledec_template.md
  documentation/docs/user-guide/user-officer/templates/shipment_template.md
  documentation/docs/user-guide/user-officer/templates/sub_template.md
  documentation/docs/user-guide/user-officer/templates/visit_template.md
  documentation/docs/user-guide/user-officer/user-officer.md
  documentation/mkdocs.yml
Due: none

Update ELI mail handler
  apps/backend/src/eventHandlers/email/eliEmailHandler.ts
Due: npm run lint:backend

Update currentPage
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
Due: npm run lint:frontend

WIP
  apps/frontend/src/components/proposal/ProposalPage.tsx
Due: npm run lint:frontend

Moving currentPage outside the component
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
Due: npm run lint:frontend

HOTFIX-SCIENTIST-CANNOT-CLICK-NEXT-PAGE-PROPS
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
Due: npm run lint:frontend

docs: fix spelling and grammatical errors, fix formatting (#750)
  README.md
  documentation/docs/developer-guide/CONTRIBUTING.md
  documentation/docs/developer-guide/configuration.md
  documentation/docs/developer-guide/documentation_changes.md
  documentation/docs/developer-guide/kubernetes.md
  documentation/docs/developer-guide/rabbitmq.md
  documentation/docs/developer-guide/step-by-step.md
  documentation/docs/faq.md
  documentation/docs/glossary.md
  documentation/docs/quick_start.md
  documentation/docs/user-guide/user-officer/creating_call.md
  documentation/docs/user-guide/user-officer/creating_templates.md
  documentation/docs/user-guide/user-officer/creating_workflow.md
  documentation/docs/user-guide/user-officer/fap_review.md
  documentation/docs/user-guide/user-officer/feasibility_review.md
  documentation/docs/user-guide/user-officer/page.md
  documentation/docs/user-guide/user-officer/proposal.md
  documentation/docs/user-guide/user-officer/questions.md
  documentation/docs/user-guide/user-officer/settings/features.md
  documentation/docs/user-guide/user-officer/settings/proposal_workflow.md
  documentation/docs/user-guide/user-officer/templates/feedback_template.md
  documentation/docs/user-guide/user-officer/templates/pdf_template.md
  documentation/docs/user-guide/user-officer/templates/proposalESI_template.md
  documentation/docs/user-guide/user-officer/templates/proposal_template.md
  documentation/docs/user-guide/user-officer/templates/shipment_template.md
  documentation/docs/user-guide/user-officer/templates/visit_template.md
  documentation/docs/user-guide/user-officer/user-officer.md
Due: none

WIP
  apps/frontend/src/components/common/SuperMaterialTable.tsx
  apps/frontend/src/components/proposal/ProposalPage.tsx
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
Due: npm run lint:frontend

WIP
  apps/frontend/src/components/call/CallsTable.tsx
  apps/frontend/src/components/common/SuperMaterialTable.tsx
  apps/frontend/src/components/fap/FapsTable.tsx
  apps/frontend/src/components/settings/apiAccessTokens/ApiAccessTokensTable.tsx
  apps/frontend/src/components/settings/proposalStatus/ProposalStatusesTable.tsx
  apps/frontend/src/components/settings/proposalWorkflow/ProposalWorkflowsTable.tsx
  apps/frontend/src/components/settings/unitList/UnitTable.tsx
  apps/frontend/src/components/technique/TechniqueTable.tsx
Due: npm run lint:frontend

WIP
  apps/frontend/src/components/common/SuperMaterialTable.tsx
  apps/frontend/src/components/instrument/InstrumentTable.tsx
Due: npm run lint:frontend

WIP
  apps/frontend/src/components/App.tsx
  apps/frontend/src/components/call/CallStatusFilter.tsx
  apps/frontend/src/components/common/SimpleTabs.tsx
  apps/frontend/src/components/common/SuperMaterialTable.tsx
  apps/frontend/src/components/common/proposalFilters/CallFilter.tsx
  apps/frontend/src/components/common/proposalFilters/InstrumentFilter.tsx
  apps/frontend/src/components/common/proposalFilters/ProposalStatusFilter.tsx
  apps/frontend/src/components/experiment/ExperimentUrlQueryParamsType.ts
  apps/frontend/src/components/fap/MeetingComponents/FapInstrumentProposalsTable.tsx
  apps/frontend/src/components/fap/MeetingComponents/FapMeetingComponentsView.tsx
  apps/frontend/src/components/fap/Proposals/FapAssignedReviewersTable.tsx
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsView.tsx
  apps/frontend/src/components/proposal/ProposalPage.tsx
  apps/frontend/src/components/proposalBooking/InstrSciUpcomingExperimentTimesTable.tsx
  apps/frontend/src/components/review/ProposalTableReviewer.tsx
  apps/frontend/src/components/review/ReviewStatusFilter.tsx
  apps/frontend/src/components/review/ReviewerFilter.tsx
  apps/frontend/src/components/user/ExternalAuth.tsx
  apps/frontend/src/hooks/proposal/useQuestionFilterQueryParams.tsx
Due: npm run lint:frontend

fix: update test cases based on the changes
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/e2e/cypress/e2e/settings.cy.ts
Due: npm run lint:e2e

fix: update 'Fap' to 'FAP' in proposal tests
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

fix: small typo fixes for FAP and Proposal templates (#743)
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/e2e/cypress/e2e/settings.cy.ts
  apps/frontend/src/components/call/AssignInstrumentsToCall.tsx
  apps/frontend/src/components/call/AssignedInstrumentsTable.tsx
  apps/frontend/src/components/call/CallGeneralInfo.tsx
  apps/frontend/src/components/call/CallReviewsInfo.tsx
  apps/frontend/src/components/call/CallsTable.tsx
  apps/frontend/src/components/fap/MeetingComponents/FapMeetingInstrumentsTable.tsx
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/TechnicalReviewInfo.tsx
  apps/frontend/src/components/proposal/ChangeProposalStatus.tsx
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
Due: npm run lint:e2e, npm run lint:frontend

feat: add tech review comment and reviewer names to stfc fap export
  apps/backend/db_patches/0162_UpdateFAPProposalView.sql
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/factory/xlsx/FapDataRow.ts
  apps/backend/src/factory/xlsx/callFaps.ts
  apps/backend/src/factory/xlsx/fap.ts
  apps/backend/src/factory/xlsx/stfc/StfcFapDataColumns.ts
  apps/backend/src/factory/xlsx/stfc/StfcFapDataRow.ts
Due: npm run lint:backend

add test tests for fap exports
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/fixtures/exampleCallFapExportSTFC.json
  apps/e2e/cypress/fixtures/exampleFapExport.json
  apps/e2e/cypress/fixtures/exampleFapExportSTFC.json
Due: npm run lint:e2e

fix: add missing attributes for img tags in TinyMCE editors
  apps/backend/src/models/questionTypes/RichTextInput.ts
Due: npm run lint:backend

Update ELI mail handler (#762)
  apps/backend/src/eventHandlers/email/eliEmailHandler.ts
Due: npm run lint:backend

fix non stfc export
  apps/backend/src/factory/xlsx/FapDataRow.ts
Due: npm run lint:backend

fix: update branch name in deploy-docs-latest.yml (#729)
  .github/workflows/deploy-docs-latest.yml
Due: none

fix: add missing attributes for img tags in TinyMCE editors (#764)
  apps/backend/src/models/questionTypes/RichTextInput.ts
Due: npm run lint:backend

fix: Update creator_id in FAP review template creation
  apps/backend/db_patches/0158_AddFAPReviewTemplate.sql
Due: none

fix: instrument picker instrument selection
  apps/backend/src/models/questionTypes/InstrumentPicker.ts
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/QuestionaryComponentInstrumentPicker.tsx
Due: npm run lint:frontend, npm run lint:backend

fix: instrument picker answers
  apps/backend/db_patches/0162_UpdateOldInstrumentPickerAnswersv2.sql
Due: none

use query params removed and used react-router
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/components/App.tsx
  apps/frontend/src/components/call/CallStatusFilter.tsx
  apps/frontend/src/components/call/CallsTable.tsx
  apps/frontend/src/components/common/SimpleTabs.tsx
  apps/frontend/src/components/common/SuperMaterialTable.tsx
  apps/frontend/src/components/common/proposalFilters/CallFilter.tsx
  apps/frontend/src/components/common/proposalFilters/InstrumentFilter.tsx
  apps/frontend/src/components/common/proposalFilters/ProposalStatusFilter.tsx
  apps/frontend/src/components/experiment/ExperimentFilterBar.tsx
  apps/frontend/src/components/experiment/ExperimentTable.tsx
  apps/frontend/src/components/experiment/ExperimentUrlQueryParamsType.ts
  apps/frontend/src/components/fap/FapStatusFilter.tsx
  apps/frontend/src/components/fap/FapsTable.tsx
  apps/frontend/src/components/fap/MeetingComponents/FapInstrumentProposalsTable.tsx
  apps/frontend/src/components/fap/MeetingComponents/FapMeetingComponentsView.tsx
  apps/frontend/src/components/fap/Proposals/FapAssignedReviewersTable.tsx
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsView.tsx
  apps/frontend/src/components/institution/InstitutionTable.tsx
  apps/frontend/src/components/instrument/InstrumentTable.tsx
  apps/frontend/src/components/proposal/ProposalFilterBar.tsx
  apps/frontend/src/components/proposal/ProposalPage.tsx
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/components/proposalBooking/InstrSciUpcomingExperimentTimesTable.tsx
  apps/frontend/src/components/review/ProposalTableReviewer.tsx
  apps/frontend/src/components/review/ReviewStatusFilter.tsx
  apps/frontend/src/components/review/ReviewerFilter.tsx
  apps/frontend/src/components/sample/SampleSafetyPage.tsx
  apps/frontend/src/components/sample/SamplesTable.tsx
  apps/frontend/src/components/settings/apiAccessTokens/ApiAccessTokensTable.tsx
  apps/frontend/src/components/settings/proposalStatus/ProposalStatusesTable.tsx
  apps/frontend/src/components/settings/proposalWorkflow/ProposalWorkflowsTable.tsx
  apps/frontend/src/components/settings/unitList/UnitTable.tsx
  apps/frontend/src/components/technique/TechniqueTable.tsx
  apps/frontend/src/components/user/ExternalAuth.tsx
  apps/frontend/src/hooks/proposal/useQuestionFilterQueryParams.tsx
  yarn.lock
Due: npm run lint:frontend

fix: update creator_id in FAP review template creation (#770)
  apps/backend/db_patches/0158_AddFAPReviewTemplate.sql
Due: none

fix instrument picker not removing instruments from proposal
  apps/backend/src/mutations/InstrumentMutations.ts
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/QuestionaryComponentInstrumentPicker.tsx
Due: npm run lint:frontend, npm run lint:backend

Fix multiple select update
  apps/backend/db_patches/0162_UpdateOldInstrumentPickerAnswersv2.sql
Due: none

update: preparations to change ELI terminology on UI
  apps/backend/src/config/eli/configureELIEnvironment.ts
  apps/frontend/src/components/AppRoutes.tsx
  apps/frontend/src/components/call/AssignInstrumentsToCall.tsx
  apps/frontend/src/components/call/AssignedInstrumentsTable.tsx
  apps/frontend/src/components/call/CallsTable.tsx
  apps/frontend/src/components/fap/FapPage.tsx
  apps/frontend/src/components/fap/FapsTable.tsx
  apps/frontend/src/components/fap/Files/FapFilesUpload.tsx
  apps/frontend/src/components/fap/Files/FapFilesView.tsx
  apps/frontend/src/components/fap/General/AddFap.tsx
  apps/frontend/src/components/fap/General/FapGeneralInfo.tsx
  apps/frontend/src/components/fap/MeetingComponents/FapInstrumentProposalsTable.tsx
  apps/frontend/src/components/fap/MeetingComponents/FapMeetingInstrumentsTable.tsx
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/FapMeetingDecision.tsx
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/FapMeetingProposalViewModal.tsx
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/FinalRankingForm.tsx
  apps/frontend/src/components/fap/Members/FapMembers.tsx
  apps/frontend/src/components/fap/Proposals/AssignProposalsToFaps.tsx
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/components/menu/MenuItems.tsx
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/components/review/ProposalReviewContent.tsx
  apps/frontend/src/components/user/PeopleTable.tsx
Due: npm run lint:frontend, npm run lint:backend

chore: Trigger the ESS deployment pipeline only for staging branch
  .github/workflows/build-push.yml
Due: none

fix number/string parsing of instrument ids
  apps/backend/src/models/questionTypes/InstrumentPicker.ts
Due: npm run lint:backend

docs: update call and fap review documentation
  documentation/docs/user-guide/user-officer/creating_call.md
  documentation/docs/user-guide/user-officer/templates/fap_review_template.md
Due: none

Path conditions:
  npm run lint:e2e: any of: apps/e2e/**/*.{js,ts,jsx,tsx}
  npm run lint:frontend: any of: apps/frontend/**/*.{js,ts,jsx,tsx}
  npm run lint:backend: any of: apps/backend/**/*.{js,ts,jsx,tsx}
