Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Experiment Number generation logic added.
  apps/backend/db_patches/0186_AddExperimentRefNumberFormat.sql
  apps/backend/src/auth/SampleAuthorization.ts
  apps/backend/src/datasources/mockups/ExperimentDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/ExperimentDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/eventHandlers/experimentSafetyWorkflow.ts
  apps/backend/src/factory/pdf/experimentSafety.ts
  apps/backend/src/middlewares/factory/pdf/preview.ts
  apps/backend/src/models/Experiment.ts
  apps/backend/src/models/Proposal.ts
  apps/backend/src/mutations/CallMutations.ts
  apps/backend/src/mutations/ProposalMutations.ts
  apps/backend/src/queries/ExperimentQueries.ts
  apps/backend/src/resolvers/types/Experiment.ts
  apps/backend/src/resolvers/types/Proposal.ts
  apps/backend/src/statusActionEngine/experimentSafety.ts
  apps/backend/src/workflowEngine/experiment.ts
  apps/frontend/src/components/experiment/ExperimentTable.tsx
  apps/frontend/src/components/experimentSafety/ExperimentSafetyContainer.tsx
  apps/frontend/src/components/experimentSafetyReview/ExperimentSafetyReviewSummary.tsx
  apps/frontend/src/components/proposal/ProposalSummary.tsx
  apps/frontend/src/components/questionary/questionaryComponents/ProposalEsiBasis/QuestionaryComponentExperimentSafetyBasis.tsx
  apps/frontend/src/models/questionary/QuestionaryEditorModel.ts
Due: npm run lint:frontend, npm run lint:backend

WIP
  apps/frontend/src/components/questionary/questionaries/experimentSafetyReview/ExperimentSafetyReviewQuestionaryWizardStep.ts
  apps/frontend/src/components/template/pdf/proposal/PdfTemplateEditor.tsx
Due: npm run lint:frontend

refactor: update RabbitMQ configuration initialization for dev environment (#1017)
  apps/backend/docker-compose-stfc.e2e.yml
  apps/backend/docker-compose.yml
  apps/backend/example.development.env
  apps/backend/rabbitmq-definitions.json
  apps/backend/src/eventHandlers/messageBroker.ts
  documentation/docs/developer-guide/configuration.md
Due: npm run lint:backend

WIP
  apps/backend/src/datasources/ExperimentDataSource.ts
  apps/backend/src/datasources/postgres/ExperimentDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/queries/ExperimentQueries.ts
  apps/backend/src/resolvers/queries/ExperimentsQuery.ts
  apps/backend/src/resolvers/queries/ProposalsViewQuery.ts
  apps/frontend/src/components/AppRoutes.tsx
  apps/frontend/src/components/common/proposalFilters/ProposalStatusFilter.tsx
  apps/frontend/src/components/experiment/DateFilter.tsx
  apps/frontend/src/components/experiment/ExperimentFilterBar.tsx
  apps/frontend/src/components/experiment/ExperimentPage.tsx
  apps/frontend/src/components/experiment/ExperimentTable.tsx
  apps/frontend/src/components/experiment/PresetDateSelector.tsx
  apps/frontend/src/components/proposal/ProposalFilterBar.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/components/xpress/XpressProposalFilterBar.tsx
  apps/frontend/src/graphql/experiment/getExperiments.graphql
  apps/frontend/src/hooks/experiment/useExperiments.ts
Due: npm run lint:frontend, npm run lint:backend

WIP
  apps/frontend/src/components/common/proposalFilters/StatusFilter.tsx
  apps/frontend/src/components/experiment/ExperimentReviewModal.tsx
  apps/frontend/src/components/experiment/ExperimentsPage.tsx
  apps/frontend/src/components/experiment/ExperimentsTable.tsx
  apps/frontend/src/graphql/experiment/getAllExperiments.graphql
  apps/frontend/src/hooks/experiment/useAllExperiments.ts
Due: npm run lint:frontend

feat: implement handling of invite accepted event to notify co-proposers via email
  apps/backend/src/eventHandlers/email/essEmailHandler.ts
Due: npm run lint:backend

Individual Experiment View Initiated.
  apps/frontend/src/components/AppRoutes.tsx
  apps/frontend/src/components/experiment/ExperimentPage.tsx
  apps/frontend/src/components/experiment/ExperimentReviewContent.tsx
  apps/frontend/src/components/experiment/ExperimentReviewModal.tsx
  apps/frontend/src/components/experiment/ExperimentTable.tsx
  apps/frontend/src/components/experiment/ExperimentVisitsTable.tsx
  apps/frontend/src/components/experiment/ExperimentsTable.tsx
  apps/frontend/src/components/experimentSafetyReview/ExperimentSafetyReviewQuestionaryReview.tsx
  apps/frontend/src/components/menu/MenuItems.tsx
  apps/frontend/src/components/proposal/GeneralInformation.tsx
  apps/frontend/src/components/questionary/questionaryComponents/ExperimentSafetyReviewBasis/QuestionaryComponentExperimentSafetyReviewBasis.tsx
  apps/frontend/src/components/review/ProposalReviewContent.tsx
  apps/frontend/src/components/review/ReviewQuestionary.tsx
  apps/frontend/src/components/review/TechnicalReviewQuestionary.tsx
  apps/frontend/src/graphql/experiment/getExperiment.graphql
  apps/frontend/src/hooks/experiment/useAllExperiments.ts
  apps/frontend/src/hooks/experiment/useExperiment.ts
Due: npm run lint:frontend

fix: correct coProposerDataSource token and add claimer details to email invite
  apps/backend/src/eventHandlers/email/essEmailHandler.ts
Due: npm run lint:backend

refactor: remove middle name, nationality, and alternate telephone fields from user model and related queries
  apps/backend/db_patches/0181_RemoveUserColumns.sql
  apps/backend/src/auth/OAuthAuthorization.ts
  apps/backend/src/datasources/AdminDataSource.ts
  apps/backend/src/datasources/UserDataSource.ts
  apps/backend/src/datasources/mockups/AdminDataSource.ts
  apps/backend/src/datasources/mockups/UserDataSource.ts
  apps/backend/src/datasources/postgres/AdminDataSource.ts
  apps/backend/src/datasources/postgres/UserDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/backend/src/models/User.ts
  apps/backend/src/queries/AdminQueries.ts
  apps/backend/src/resolvers/mutations/UpdateUserMutation.ts
  apps/backend/src/resolvers/queries/NationalitiesQuery.ts
  apps/backend/src/resolvers/types/User.ts
  apps/e2e/cypress/e2e/eventLogs.cy.ts
  apps/e2e/cypress/e2e/personalInformation.cy.ts
  apps/e2e/cypress/e2e/userAdministration.cy.ts
  apps/frontend/src/components/user/UpdateUserInformation.tsx
  apps/frontend/src/graphql/user/getUser.graphql
  apps/frontend/src/graphql/user/getUserMe.graphql
  apps/frontend/src/graphql/user/updateUser.graphql
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

fix: add error logging for missing proposal, principal investigator, and claimer in invite accepted email handling
  apps/backend/src/eventHandlers/email/essEmailHandler.ts
Due: npm run lint:backend

refactor: update patch author name in user columns removal script
  apps/backend/db_patches/0181_RemoveUserColumns.sql
Due: none

Visits Table added
  apps/frontend/src/components/experiment/ExperimentReviewContent.tsx
  apps/frontend/src/components/experiment/ExperimentVisitsTable.tsx
  apps/frontend/src/graphql/experiment/getExperiment.graphql
Due: npm run lint:frontend

add env example for opentelemetry
  apps/backend/example.development.env
Due: none

feat: add reminder email functionality for invites, including database updates and async job
  apps/backend/db_patches/0181_AddIsReminderEmailSent.sql
  apps/backend/src/asyncJobs/allAsyncJobs.ts
  apps/backend/src/asyncJobs/jobs/checkInviteReminderJob.ts
  apps/backend/src/datasources/InviteDataSource.ts
  apps/backend/src/datasources/mockups/InviteDataSource.ts
  apps/backend/src/datasources/postgres/InviteDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/eventHandlers/email/essEmailHandler.ts
  apps/backend/src/models/Invite.ts
Due: npm run lint:backend

fix code to allow fap specific proposal count
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/resolvers/types/Fap.ts
  apps/backend/src/resolvers/types/FapReviewers.ts
Due: npm run lint:backend

refactor: remove nationalities functionality and related code from user information component
  apps/frontend/src/components/user/UpdateUserInformation.tsx
  apps/frontend/src/graphql/user/getNationalities.graphql
  apps/frontend/src/hooks/user/useNationalities.ts
Due: npm run lint:frontend

feat: add configuration for invite reminder delays and update related logic
  apps/backend/db_patches/0181_AddIsReminderEmailSent.sql
  apps/backend/src/asyncJobs/jobs/checkInviteReminderJob.spec.ts
  apps/backend/src/asyncJobs/jobs/checkInviteReminderJob.ts
  apps/backend/src/datasources/InviteDataSource.ts
  apps/backend/src/datasources/mockups/InviteDataSource.ts
  apps/backend/src/datasources/postgres/InviteDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/Invite.ts
  apps/backend/src/models/Settings.ts
Due: npm run lint:backend

fix: update job documentation for clarity on invite reminder conditions
  apps/backend/src/asyncJobs/jobs/checkInviteReminderJob.ts
Due: npm run lint:backend

fix: remove unnecessary setTimeout for immediate execution of invite reminder job
  apps/backend/src/asyncJobs/jobs/checkInviteReminderJob.ts
Due: npm run lint:backend

fix: reorder filter conditions in getInvites method for improved clarity and functionality
  apps/backend/src/datasources/mockups/InviteDataSource.ts
  apps/backend/src/datasources/postgres/InviteDataSource.ts
Due: npm run lint:backend

Add proposal download status action logs
  apps/backend/src/datasources/postgres/StatusActionsLogsDataSource.ts
  apps/backend/src/mutations/StatusActionsLogsMutations.ts
  apps/backend/src/resolvers/queries/StatusActionsLogsQuery.ts
  apps/backend/src/resolvers/types/StatusActionsLog.ts
  apps/backend/src/statusActionEngine/proposalDownloadActionHandler.ts
  apps/backend/src/statusActionEngine/statusActionUtils.ts
  apps/frontend/src/components/AppRoutes.tsx
  apps/frontend/src/components/menu/MenuItems.tsx
  apps/frontend/src/components/menu/StatusActionLogsMenuListItem.tsx
  apps/frontend/src/components/statusActionsLogs/EmailStatusActionsLogsPage.tsx
  apps/frontend/src/components/statusActionsLogs/ProposalDownloadStatusActionsLogsPage.tsx
  apps/frontend/src/components/statusActionsLogs/StatusActionsLogsTable.tsx
Due: npm run lint:frontend, npm run lint:backend

Improve titles on log pages
  apps/frontend/src/components/AppRoutes.tsx
  apps/frontend/src/components/statusActionsLogs/StatusActionsLogsTable.tsx
Due: npm run lint:frontend

refactor: remove middlename and nationality fields from user insert statements in seed script
  apps/backend/db_patches/db_seeds/0002_InstrumentScientiests.sql
Due: none

Update replay confirmation message
  apps/frontend/src/components/statusActionsLogs/StatusActionsLogsTable.tsx
Due: npm run lint:frontend

fix: improve logging for invite reminder job with clearer messages and structured data
  apps/backend/src/asyncJobs/jobs/checkInviteReminderJob.ts
Due: npm run lint:backend

Default sort by log time
  apps/frontend/src/components/statusActionsLogs/StatusActionsLogsTable.tsx
Due: npm run lint:frontend

remove default false
  apps/backend/src/datasources/postgres/InstrumentDataSource.ts
Due: npm run lint:backend

fix: enhance error handling in experiment safety creation process
  apps/backend/src/mutations/ExperimentMutation.ts
Due: npm run lint:backend

fix: amend code to allow fap specific proposal count (#1060)
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/resolvers/types/Fap.ts
  apps/backend/src/resolvers/types/FapReviewers.ts
Due: npm run lint:backend

Use primary key as filename
  apps/backend/db_patches/0180_AddProposalDownloadStatusAction.sql
  apps/backend/src/datasources/FileDataSource.ts
  apps/backend/src/datasources/mockups/FileDataSource.ts
  apps/backend/src/datasources/postgres/FileDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/Blob.ts
  apps/backend/src/resolvers/types/FileMetaData.ts
  apps/backend/src/statusActionEngine/proposalDownloadActionHandler.ts
Due: npm run lint:backend

feat: allow for instruments to be add to call without being selectable (#1055)
  apps/backend/db_patches/0180_MarkInstrumentsAsUnselectable.sql
  apps/backend/src/datasources/InstrumentDataSource.ts
  apps/backend/src/datasources/mockups/InstrumentDataSource.ts
  apps/backend/src/datasources/postgres/InstrumentDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/Instrument.ts
  apps/backend/src/models/questionTypes/InstrumentPicker.ts
  apps/backend/src/mutations/InstrumentMutations.spec.ts
  apps/backend/src/resolvers/mutations/CreateInstrumentMutation.ts
  apps/backend/src/resolvers/mutations/UpdateInstrumentMutation.ts
  apps/backend/src/resolvers/types/Instrument.ts
  apps/frontend/src/components/instrument/CreateUpdateInstrument.tsx
  apps/frontend/src/graphql/instrument/createInstrument.graphql
  apps/frontend/src/graphql/instrument/instrument.fragment.graphql
  apps/frontend/src/graphql/instrument/updateInstrument.graphql
Due: npm run lint:frontend, npm run lint:backend

fix: update question template relation handling in experiment mutations and tests
  apps/backend/src/datasources/mockups/TemplateDataSource.ts
  apps/backend/src/mutations/ExperimentMutation.spec.ts
  apps/backend/src/mutations/ExperimentMutation.ts
  apps/backend/src/mutations/QuestionaryMutations.spec.ts
Due: npm run lint:backend

fix fap scoring
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/components/questionary/questionaryComponents/FapReviewBasis/QuestionaryComponentFapReviewBasis.tsx
  apps/frontend/src/components/questionary/questionaryComponents/FapReviewBasis/createFapReviewBasisValidationSchema.ts
  apps/frontend/src/components/review/ProposalGrade.tsx
Due: npm run lint:e2e, npm run lint:frontend

fix: update visit registration status to 'pending' after submission
  apps/e2e/cypress/e2e/visits.cy.ts
Due: npm run lint:e2e

fix: update visit registration status to 'pending' in test action button
  apps/e2e/cypress/e2e/templateDeleteAndArchive.cy.ts
Due: npm run lint:e2e

feat: implement visit registration cancellation and approval features (#1043)
  apps/e2e/cypress/e2e/templateDeleteAndArchive.cy.ts
  apps/e2e/cypress/e2e/visits.cy.ts
  apps/e2e/cypress/support/utils.ts
  apps/e2e/cypress/support/visits.ts
  apps/e2e/cypress/types/utils.d.ts
  apps/e2e/cypress/types/visits.d.ts
  apps/frontend/src/components/common/StyledDialog.tsx
  apps/frontend/src/components/experiment/CancelRegistrationMenu.tsx
  apps/frontend/src/components/experiment/ExperimentVisitsTable.tsx
  apps/frontend/src/components/proposalBooking/ActionButton.tsx
  apps/frontend/src/components/proposalBooking/PendingBadge.tsx
  apps/frontend/src/components/visit/CreateUpdateCancelVisitRegistration.tsx
  apps/frontend/src/hooks/proposalBooking/useActionButtons.tsx
Due: npm run lint:e2e, npm run lint:frontend

duo logger version
  apps/backend/package-lock.json
Due: none

#1370: Abstract field sanitization
  apps/frontend/src/components/questionary/questionaryComponents/ProposalBasis/QuestionaryComponentProposalBasis.tsx
Due: npm run lint:frontend

Path conditions:
  npm run lint:e2e: any of: apps/e2e/**/*.{js,ts,jsx,tsx}
  npm run lint:frontend: any of: apps/frontend/**/*.{js,ts,jsx,tsx}
  npm run lint:backend: any of: apps/backend/**/*.{js,ts,jsx,tsx}
