Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

.lintstagedrc.json:

{
  "apps/e2e/**/*.{js,ts,jsx,tsx}": ["npm run lint:e2e"],
  "apps/frontend/**/*.{js,ts,jsx,tsx}": ["npm run lint:frontend"],
  "apps/backend/**/*.{js,ts,jsx,tsx}": ["npm run lint:backend"]
}

Fix URL query params
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/components/xpress/useProposalsCoreData.ts
Due: npm run lint:frontend

Populating submitted date for proposals
  apps/backend/src/datasources/ProposalDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/backend/src/eventHandlers/customHandler.ts
Due: npm run lint:backend

E2e tests data setup
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

Add super basic table
  apps/frontend/src/components/AppRoutes.tsx
  apps/frontend/src/components/menu/MenuItems.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

E2e basic tests
  apps/e2e/cypress/e2e/xpress.cy.ts
  apps/e2e/cypress/support/technique.ts
  apps/e2e/cypress/types/technique.d.ts
Due: npm run lint:e2e

Fetch proposals initial commit
  apps/backend/db_patches/0163_AddTechniqueHasScientists.sql
  apps/backend/db_patches/0163_AddTechniquePickerDataType.sql
  apps/backend/src/datasources/ProposalDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/backend/src/queries/ProposalQueries.ts
  apps/backend/src/resolvers/queries/ProposalsQuery.ts
  apps/backend/src/resolvers/queries/ProposalsViewQuery.ts
  apps/frontend/src/components/common/proposalFilters/TechniqueFilter.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/components/xpress/useProposalsCoreData.ts
  apps/frontend/src/graphql/proposal/getTechniqueScientistProposals.graphql
Due: npm run lint:frontend, npm run lint:backend

e2e tests continuation
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

Fix instrument test
  apps/e2e/cypress/e2e/instruments.cy.ts
Due: npm run lint:e2e

Addition and fetch of submittedDate field
  apps/backend/db_patches/0161_AddSubmittedDateToProposals.sql
  apps/backend/db_patches/0162_AddSubmittedDateToProposalTableView.sql
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/Proposal.ts
  apps/backend/src/models/ProposalView.ts
  apps/backend/src/mutations/ProposalMutations.ts
  apps/backend/src/resolvers/types/ProposalView.ts
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/graphql/proposal/getTechniqueScientistProposals.graphql
  apps/frontend/src/utils/helperFunctions.tsx
Due: npm run lint:frontend, npm run lint:backend

Fix date filter error
  apps/frontend/src/components/common/proposalFilters/DateFilter.tsx
Due: npm run lint:frontend

Add filter label
  apps/frontend/src/components/common/proposalFilters/DateFilter.tsx
Due: npm run lint:frontend

Remove redundant check
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Fix date filter
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/frontend/src/components/common/proposalFilters/DateFilter.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend, npm run lint:backend

Reverting assigning of Instrument
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/frontend/src/components/xpress/AssignProposalsToInstruments.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/components/xpress/useInstrumentsByTechnique.ts
  apps/frontend/src/graphql/technique/getTechniquesById.graphql
  apps/frontend/src/hooks/technique/useInstrumentsByTechnique.ts
Due: npm run lint:frontend, npm run lint:backend

Fix fetching instruments
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/components/xpress/useXpressInstrumentsData.ts
Due: npm run lint:frontend

Filtering the instruments
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/components/xpress/useXpressInstrumentsData.ts
Due: npm run lint:frontend

Date filter final commit
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/frontend/src/components/common/proposalFilters/DateFilter.tsx
Due: npm run lint:frontend, npm run lint:backend

remove using url query params
  apps/frontend/src/components/common/proposalFilters/DateFilter.tsx
  apps/frontend/src/components/common/proposalFilters/TechniqueFilter.tsx
  apps/frontend/src/components/xpress/XpressProposalFilterBar.tsx
Due: npm run lint:frontend

Cy.clock() WIP
  apps/backend/src/datasources/ProposalDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/backend/src/eventHandlers/customHandler.ts
  apps/e2e/cypress.config.ts
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e, npm run lint:backend

e2e tests
  apps/backend/src/datasources/ProposalDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/backend/src/eventHandlers/customHandler.ts
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e, npm run lint:backend

remove using url query params
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Add e2e skeleton
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

Hide ALL query param
  apps/frontend/src/components/common/proposalFilters/DateFilter.tsx
  apps/frontend/src/components/common/proposalFilters/InstrumentFilter.tsx
  apps/frontend/src/components/common/proposalFilters/ProposalStatusFilter.tsx
  apps/frontend/src/components/common/proposalFilters/TechniqueFilter.tsx
Due: npm run lint:frontend

Proposal filters
  apps/frontend/src/components/xpress/XpressProposalFilterBar.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Add date filter improvements
  apps/frontend/src/components/common/proposalFilters/DateFilter.tsx
  apps/frontend/src/components/common/proposalFilters/TechniqueFilter.tsx
Due: npm run lint:frontend

fetch query fix
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

Feature flag implementation
  apps/backend/db_patches/0163_XpressRouteFeature.sql
  apps/backend/src/config/stfc/configureSTFCEnvironment.ts
  apps/backend/src/models/Feature.ts
  apps/frontend/src/components/AppRoutes.tsx
  apps/frontend/src/components/menu/MenuItems.tsx
  apps/frontend/src/hooks/common/useXpressAccess.tsx
Due: npm run lint:frontend, npm run lint:backend

Filters correction
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend, npm run lint:backend

Add data to tests
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

Adding new fields to table
  apps/backend/src/datasources/TechniqueDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/mockups/TechniqueDataSource.ts
  apps/backend/src/datasources/postgres/TechniqueDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/ProposalView.ts
  apps/backend/src/queries/TechniqueQueries.ts
  apps/backend/src/resolvers/types/Proposal.ts
  apps/backend/src/resolvers/types/ProposalView.ts
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/graphql/proposal/getProposal.graphql
  apps/frontend/src/graphql/proposal/getTechniqueScientistProposals.graphql
  apps/frontend/src/utils/helperFunctions.tsx
Due: npm run lint:frontend, npm run lint:backend

Initial techniques loading
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/backend/src/resolvers/types/ProposalView.ts
  apps/e2e/cypress/e2e/xpress.cy.ts
  apps/frontend/src/graphql/proposal/getProposal.graphql
  apps/frontend/src/utils/helperFunctions.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Instrument filter backend
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/frontend/src/components/xpress/XpressProposalFilterBar.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/components/xpress/useProposalsCoreData.ts
Due: npm run lint:frontend, npm run lint:backend

Correction
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

Add variables
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

Revert last commit changes
  apps/e2e/cypress/e2e/instruments.cy.ts
Due: npm run lint:e2e

Revert unwanted changes
  apps/e2e/cypress.config.ts
Due: npm run lint:e2e

Assign instrument initial commit
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/frontend/src/components/common/proposalFilters/DateFilter.tsx
  apps/frontend/src/components/menu/MenuItems.tsx
  apps/frontend/src/components/xpress/AssignProposalsToInstruments.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/components/xpress/useInstrumentsByTechnique.ts
  apps/frontend/src/graphql/technique/getTechniquesById.graphql
  apps/frontend/src/hooks/technique/useInstrumentsByTechnique.ts
Due: npm run lint:frontend, npm run lint:backend

Add proposal status filter
  apps/frontend/src/components/xpress/XpressProposalFilterBar.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Date filter initial commit
  apps/backend/src/resolvers/queries/ProposalsQuery.ts
  apps/backend/src/resolvers/types/Proposal.ts
  apps/frontend/src/components/common/proposalFilters/DateFilter.tsx
  apps/frontend/src/components/xpress/XpressProposalFilterBar.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/components/xpress/useProposalsCoreData.ts
Due: npm run lint:frontend, npm run lint:backend
