Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Fix fetching instruments
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/components/xpress/useXpressInstrumentsData.ts
Due: npm run lint:frontend

Reverting assigning of Instrument
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/frontend/src/components/xpress/AssignProposalsToInstruments.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/components/xpress/useInstrumentsByTechnique.ts
  apps/frontend/src/graphql/technique/getTechniquesById.graphql
  apps/frontend/src/hooks/technique/useInstrumentsByTechnique.ts
Due: npm run lint:frontend, npm run lint:backend

Fetching instruments correction
  apps/backend/src/queries/InstrumentQueries.ts
  apps/backend/src/queries/TechniqueQueries.ts
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/components/xpress/useXpressInstrumentsData.ts
  apps/frontend/src/graphql/proposal/getTechniqueScientistProposals.graphql
Due: npm run lint:frontend, npm run lint:backend

Hide ALL query param
  apps/frontend/src/components/common/proposalFilters/DateFilter.tsx
  apps/frontend/src/components/common/proposalFilters/InstrumentFilter.tsx
  apps/frontend/src/components/common/proposalFilters/ProposalStatusFilter.tsx
  apps/frontend/src/components/common/proposalFilters/TechniqueFilter.tsx
Due: npm run lint:frontend

Initial techniques loading
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/backend/src/resolvers/types/ProposalView.ts
  apps/e2e/cypress/e2e/xpress.cy.ts
  apps/frontend/src/graphql/proposal/getProposal.graphql
  apps/frontend/src/utils/helperFunctions.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Revert unwanted changes
  apps/e2e/cypress.config.ts
Due: npm run lint:e2e

remove using url query params
  apps/frontend/src/components/common/proposalFilters/DateFilter.tsx
  apps/frontend/src/components/common/proposalFilters/TechniqueFilter.tsx
  apps/frontend/src/components/xpress/XpressProposalFilterBar.tsx
Due: npm run lint:frontend

Assign instrument initial commit
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/frontend/src/components/common/proposalFilters/DateFilter.tsx
  apps/frontend/src/components/menu/MenuItems.tsx
  apps/frontend/src/components/xpress/AssignProposalsToInstruments.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/components/xpress/useInstrumentsByTechnique.ts
  apps/frontend/src/graphql/technique/getTechniquesById.graphql
  apps/frontend/src/hooks/technique/useInstrumentsByTechnique.ts
Due: npm run lint:frontend, npm run lint:backend

Add variables
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

Remove redundant check
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Hnadle date error in backend
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

Fix date filter error
  apps/frontend/src/components/common/proposalFilters/DateFilter.tsx
Due: npm run lint:frontend

Correction
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

Fix filters
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Fix instrument test
  apps/e2e/cypress/e2e/instruments.cy.ts
Due: npm run lint:e2e

Review comments fix
  apps/frontend/src/components/common/proposalFilters/TechniqueFilter.tsx
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/xpress/XpressProposalFilterBar.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Fix instrument test v3
  apps/e2e/cypress/e2e/instruments.cy.ts
Due: npm run lint:e2e

Refactoring the fetch functionality
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend, npm run lint:backend

Revert last commit changes
  apps/e2e/cypress/e2e/instruments.cy.ts
Due: npm run lint:e2e

review comment fix
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Fix e2e tests
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

Revert mistaken change
  apps/e2e/cypress/e2e/instruments.cy.ts
Due: npm run lint:e2e

fix pagination
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Fix table sorting
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

Filters fix
  apps/backend/src/datasources/ProposalDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/backend/src/queries/ProposalQueries.ts
  apps/backend/src/resolvers/queries/ProposalsViewQuery.ts
  apps/frontend/src/components/xpress/XpressProposalFilterBar.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/components/xpress/useProposalsCoreData.ts
  apps/frontend/src/components/xpress/useXpressInstrumentsData.ts
  apps/frontend/src/graphql/proposal/getTechniqueScientistProposals.graphql
Due: npm run lint:frontend, npm run lint:backend

remove disabling of linting rule
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Review comments fix
  apps/backend/db_patches/0163_AddTechniqueHasScientists.sql
  apps/backend/db_patches/0163_AddTechniquePickerDataType.sql
  apps/backend/src/models/Proposal.ts
  apps/backend/src/mutations/ProposalMutations.ts
  apps/backend/src/resolvers/types/Proposal.ts
Due: npm run lint:backend

Fix submitted date sorting
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

Sorting fix
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Disable sorting for technique, instrument
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

remove near duplicate calls hook
  apps/frontend/src/components/proposal/ProposalChooseCall.tsx
  apps/frontend/src/hooks/call/useCallsData.ts
  apps/frontend/src/hooks/call/useMinimalCallsData.ts
Due: npm run lint:frontend

perf: make the minimal call data query the default
  apps/frontend/src/components/call/CallsTable.tsx
  apps/frontend/src/components/proposal/ProposalChooseCall.tsx
  apps/frontend/src/graphql/call/getCallsMinimal.graphql
  apps/frontend/src/hooks/call/useCallsData.ts
Due: npm run lint:frontend

fix: lint issues
  apps/frontend/src/components/review/ReviewQuestionary.tsx
Due: npm run lint:frontend

fix: add fap review template preview (#819)
  apps/frontend/src/components/review/ReviewQuestionary.tsx
  apps/frontend/src/components/template/PreviewTemplateModal.tsx
Due: npm run lint:frontend

Assign instruments to xpress proposals
  apps/backend/src/datasources/TechniqueDataSource.ts
  apps/backend/src/datasources/mockups/TechniqueDataSource.ts
  apps/backend/src/datasources/postgres/TechniqueDataSource.ts
  apps/backend/src/mutations/InstrumentMutations.ts
  apps/backend/src/mutations/TechniqueMutations.ts
  apps/backend/src/resolvers/mutations/AssignProposalsToInstrumentsMutation.ts
  apps/e2e/cypress/e2e/xpress.cy.ts
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/graphql/instrument/assignXpressProposalsToInstruments.graphql
  apps/frontend/src/graphql/instrument/removeXpressProposalsFromInstrument.graphql
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Remove the unassigning part
  apps/backend/src/mutations/InstrumentMutations.ts
  apps/backend/src/resolvers/mutations/AssignProposalsToInstrumentsMutation.ts
  apps/e2e/cypress/e2e/xpress.cy.ts
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/graphql/instrument/removeXpressProposalsFromInstrument.graphql
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

use extended call data for xpress filters
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

fix: intermittent xpress e2e failures
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

Path conditions:
  npm run lint:e2e: any of: apps/e2e/**/*.{js,ts,jsx,tsx}
  npm run lint:frontend: any of: apps/frontend/**/*.{js,ts,jsx,tsx}
  npm run lint:backend: any of: apps/backend/**/*.{js,ts,jsx,tsx}
