Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

docs: add kubernetes guide and other fixes
  documentation/docs/developer-guide/kubernetes.md
  documentation/mkdocs.yml
Due: none

Move submitted checkbox to the FAP Review Summary page
  apps/backend/src/datasources/postgres/ReviewDataSource.ts
  apps/frontend/src/components/menu/TemplateMenuListItem.tsx
  apps/frontend/src/components/questionary/questionaryComponents/FapReviewBasis/QuestionaryComponentFapReviewBasis.tsx
  apps/frontend/src/components/review/ReviewSummary.tsx
Due: npm run lint:frontend, npm run lint:backend

docs: add kubernetes guide and small fixes (#713)
  documentation/docs/developer-guide/architecture.md
  documentation/docs/developer-guide/kubernetes.md
  documentation/mkdocs.yml
Due: none

Made title as a mandatory props for the StyledDialog to have a consistent look and to avoid style breaks for the close icon.
  apps/frontend/src/components/common/StyledDialog.tsx
  apps/frontend/src/components/common/SuperMaterialTable.tsx
  apps/frontend/src/components/proposal/ProposalTable.tsx
  apps/frontend/src/components/questionary/questionaryComponents/GenericTemplate/QuestionaryComponentGenericTemplate.tsx
  apps/frontend/src/components/questionary/questionaryComponents/NumberInput/QuestionNumberInputForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/ProposalEsiBasis/ProposalEsiDetailsButton.tsx
  apps/frontend/src/components/questionary/questionaryComponents/ProposalEsiBasis/QuestionaryComponentProposalEsiBasis.tsx
  apps/frontend/src/components/review/ProposalGrade.tsx
  apps/frontend/src/components/settings/unitList/CreateUnit.tsx
  apps/frontend/src/components/template/CreateTemplate.tsx
  apps/frontend/src/components/template/PdfTemplatesTable.tsx
  apps/frontend/src/components/template/QuestionEditor.tsx
  apps/frontend/src/components/template/QuestionTemplateRelationEditor.tsx
  apps/frontend/src/components/template/QuestionsPage.tsx
  apps/frontend/src/components/template/TemplatesTable.tsx
  apps/frontend/src/hooks/common/ButtonWithDialog.tsx
Due: npm run lint:frontend

Review comment fix
  apps/backend/src/datasources/postgres/TechniqueDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/questionTypes/TechniquePicker.ts
  apps/frontend/src/components/questionary/questionaryComponents/TechniquePicker/QuestionaryComponentTechniquePicker.tsx
Due: npm run lint:frontend, npm run lint:backend

fix: add validation to files endpoints
  apps/backend/src/middlewares/files.ts
  apps/frontend/src/hooks/common/useFileUpload.ts
Due: npm run lint:frontend, npm run lint:backend

Fix dirty state management in ReviewSummary
  apps/frontend/src/components/review/ReviewSummary.tsx
Due: npm run lint:frontend

docs: fixed links, added page for setting up email service
  documentation/docs/developer-guide/email.md
  documentation/docs/developer-guide/kubernetes.md
  documentation/docs/developer-guide/rabbitmq.md
  documentation/docs/faq.md
  documentation/docs/glossary.md
  documentation/docs/user-guide/user-officer/calls.md
  documentation/docs/user-guide/user-officer/fap.md
  documentation/docs/user-guide/user-officer/main/creating_call.md
  documentation/docs/user-guide/user-officer/main/templates.md
  documentation/docs/user-guide/user-officer/main/user-officer.md
  documentation/docs/user-guide/user-officer/page.md
  documentation/docs/user-guide/user-officer/questions.md
  documentation/docs/user-guide/user-officer/settings/proposal_workflow.md
  documentation/docs/user-guide/user-officer/templates/feedback_template.md
  documentation/docs/user-guide/user-officer/templates/proposalESI_template.md
  documentation/docs/user-guide/user-officer/templates/proposal_template.md
  documentation/docs/user-guide/user-officer/templates/shipment_template.md
  documentation/mkdocs.yml
Due: none

docs: fixed links, added page for setting up email service (#715)
  documentation/docs/developer-guide/email.md
  documentation/docs/developer-guide/kubernetes.md
  documentation/docs/developer-guide/rabbitmq.md
  documentation/docs/faq.md
  documentation/docs/glossary.md
  documentation/docs/user-guide/user-officer/calls.md
  documentation/docs/user-guide/user-officer/fap.md
  documentation/docs/user-guide/user-officer/main/creating_call.md
  documentation/docs/user-guide/user-officer/main/templates.md
  documentation/docs/user-guide/user-officer/main/user-officer.md
  documentation/docs/user-guide/user-officer/page.md
  documentation/docs/user-guide/user-officer/questions.md
  documentation/docs/user-guide/user-officer/settings/proposal_workflow.md
  documentation/docs/user-guide/user-officer/templates/feedback_template.md
  documentation/docs/user-guide/user-officer/templates/proposalESI_template.md
  documentation/docs/user-guide/user-officer/templates/proposal_template.md
  documentation/docs/user-guide/user-officer/templates/shipment_template.md
  documentation/mkdocs.yml
Due: none

docs: pages info
  documentation/docs/user-guide/user-officer/fap.md
  documentation/docs/user-guide/user-officer/main/creating_call.md
  documentation/docs/user-guide/user-officer/main/creating_workflow.md
  documentation/docs/user-guide/user-officer/main/fap_review.md
  documentation/docs/user-guide/user-officer/main/feasibility_review.md
  documentation/docs/user-guide/user-officer/main/templates.md
  documentation/docs/user-guide/user-officer/main/user-officer.md
  documentation/docs/user-guide/user-officer/main/videos.md
  documentation/docs/user-guide/user-officer/questions.md
  documentation/docs/user-guide/user-officer/settings/features.md
  documentation/docs/user-guide/user-officer/settings/proposal_statuses.md
  documentation/docs/user-guide/user-officer/settings/units.md
  documentation/docs/user-guide/user-officer/templates/pdf_template.md
  documentation/docs/user-guide/user-officer/templates/proposal_template.md
  documentation/docs/user-guide/user-officer/templates/sub_template.md
  documentation/mkdocs.yml
Due: none

Update apps/frontend/src/hooks/common/useFileUpload.ts
  apps/frontend/src/hooks/common/useFileUpload.ts
Due: npm run lint:frontend

docs: add page for dependancy injections and overwrite database cells
  documentation/docs/developer-guide/dependency_injection.md
  documentation/mkdocs.yml
Due: none

fix: fix fap review and member selections (#679)
  apps/frontend/src/components/fap/Proposals/AssignFapMemberToProposalModal.tsx
  apps/frontend/src/components/proposal/ParticipantModal.tsx
  apps/frontend/src/components/user/PeopleTable.tsx
Due: npm run lint:frontend

fix: add validation to files endpoints (#714)
  apps/backend/src/middlewares/files.ts
  apps/frontend/src/hooks/common/useFileUpload.ts
Due: npm run lint:frontend, npm run lint:backend

docs: updated pages
  documentation/docs/user-guide/user-officer/main/creating_call.md
  documentation/docs/user-guide/user-officer/main/creating_workflow.md
  documentation/docs/user-guide/user-officer/main/fap_review.md
  documentation/docs/user-guide/user-officer/main/templates.md
  documentation/docs/user-guide/user-officer/sample_safety.md
  documentation/docs/user-guide/user-officer/settings/features.md
  documentation/docs/user-guide/user-officer/templates/pdf_template.md
  documentation/docs/user-guide/user-officer/templates/proposal_template.md
Due: none

docs: add page for dependancy injections and overwrite database cells (#718)
  documentation/docs/developer-guide/dependency_injection.md
  documentation/mkdocs.yml
Due: none

docs: user officer page guides (#719)
  documentation/docs/user-guide/user-officer/fap.md
  documentation/docs/user-guide/user-officer/main/creating_call.md
  documentation/docs/user-guide/user-officer/main/creating_workflow.md
  documentation/docs/user-guide/user-officer/main/fap_review.md
  documentation/docs/user-guide/user-officer/main/feasibility_review.md
  documentation/docs/user-guide/user-officer/main/templates.md
  documentation/docs/user-guide/user-officer/main/user-officer.md
  documentation/docs/user-guide/user-officer/main/videos.md
  documentation/docs/user-guide/user-officer/questions.md
  documentation/docs/user-guide/user-officer/sample_safety.md
  documentation/docs/user-guide/user-officer/settings/features.md
  documentation/docs/user-guide/user-officer/settings/proposal_statuses.md
  documentation/docs/user-guide/user-officer/settings/units.md
  documentation/docs/user-guide/user-officer/templates/pdf_template.md
  documentation/docs/user-guide/user-officer/templates/proposal_template.md
  documentation/docs/user-guide/user-officer/templates/sub_template.md
  documentation/mkdocs.yml
Due: none

Fix review findings and e2e tests
  apps/e2e/cypress.config.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/frontend/src/components/questionary/questionaryComponents/FapReviewBasis/QuestionaryComponentFapReviewBasis.tsx
  apps/frontend/src/components/review/ReviewSummary.tsx
  apps/frontend/src/components/template/FapReviewTemplatesTable.tsx
Due: npm run lint:e2e, npm run lint:frontend

Add preview for all templates
  apps/frontend/src/components/proposalEsi/ProposalEsiContainer.tsx
  apps/frontend/src/components/questionary/questionaryComponents/GenericTemplate/GenericTemplateContainer.tsx
  apps/frontend/src/components/questionary/questionaryComponents/GenericTemplate/QuestionaryComponentGenericTemplate.tsx
  apps/frontend/src/components/questionary/questionaryComponents/SampleDeclaration/QuestionaryComponentSampleDeclaration.tsx
  apps/frontend/src/components/questionary/questionaryComponents/SampleDeclaration/SampleDeclarationContainer.tsx
  apps/frontend/src/components/shipments/ShipmentContainer.tsx
  apps/frontend/src/components/template/PreviewTemplateModal.tsx
  apps/frontend/src/components/template/TemplateEditor.tsx
  apps/frontend/src/hooks/shipment/useBlankShipment.ts
Due: npm run lint:frontend

Fix grade initialization when using multiple FAP review topics
  apps/frontend/src/components/questionary/questionaryComponents/FapReviewBasis/QuestionaryComponentFapReviewBasis.tsx
Due: npm run lint:frontend

Update TemplateEditor.tsx to show preview button
  apps/frontend/src/components/template/TemplateEditor.tsx
Due: npm run lint:frontend

Enable inserting images into Rich Text Editor
  apps/backend/src/models/questionTypes/RichTextInput.ts
  apps/backend/src/resolvers/types/FieldConfig.ts
  apps/frontend/src/components/questionary/questionaryComponents/RichTextInput/QuestionRichTextInputForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/RichTextInput/QuestionTemplateRelationRichTextInputForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/RichTextInput/QuestionaryComponentRichTextInput.tsx
  apps/frontend/src/graphql/template/fragment.fieldConfig.graphql
Due: npm run lint:frontend, npm run lint:backend

docs: add page for tech stack, other fixes
  documentation/docs/developer-guide/kubernetes.md
  documentation/docs/developer-guide/step-by-step.md
  documentation/docs/developer-guide/tech_stack.md
  documentation/mkdocs.yml
Due: none

Fix proposalAdministration e2e tests
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
  apps/e2e/cypress/support/initialDBData.ts
Due: npm run lint:e2e

Update PreviewTemplateModal.tsx
  apps/frontend/src/components/template/PreviewTemplateModal.tsx
Due: npm run lint:frontend

Fix settings e2e test
  apps/backend/db_patches/db_seeds/0005_Questions.sql
  apps/e2e/cypress/e2e/settings.cy.ts
Due: npm run lint:e2e

Fix e2e tests
  apps/backend/db_patches/db_seeds/0004_Samples.sql
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

Fix proposalEsi e2e test
  apps/backend/db_patches/db_seeds/0004_Samples.sql
Due: none

Reset cypress config file
  apps/e2e/cypress.config.ts
Due: npm run lint:e2e

Fix templatesBasic e2e test
  apps/e2e/cypress/fixtures/template_import.json
Due: none

Fix template_export.json for templatesBasic e2e test
  apps/e2e/cypress/fixtures/template_export.json
Due: none

docs: fix links, format, etc
  documentation/docs/developer-guide/api_documentation.md
  documentation/docs/developer-guide/tech_stack.md
  documentation/docs/faq.md
  documentation/docs/glossary.md
  documentation/docs/user-guide/overview.md
  documentation/docs/user-guide/user-officer/calls.md
  documentation/docs/user-guide/user-officer/main/creating_call.md
  documentation/docs/user-guide/user-officer/main/creating_templates.md
  documentation/docs/user-guide/user-officer/main/creating_workflow.md
  documentation/docs/user-guide/user-officer/main/fap_review.md
  documentation/docs/user-guide/user-officer/main/feasibility_review.md
  documentation/docs/user-guide/user-officer/main/roles.md
  documentation/docs/user-guide/user-officer/main/user-officer.md
  documentation/mkdocs.yml
Due: none

docs: fix links, fix format, add tech stack page, rename file (#725)
  documentation/docs/developer-guide/api_documentation.md
  documentation/docs/developer-guide/kubernetes.md
  documentation/docs/developer-guide/step-by-step.md
  documentation/docs/developer-guide/tech_stack.md
  documentation/docs/faq.md
  documentation/docs/glossary.md
  documentation/docs/user-guide/overview.md
  documentation/docs/user-guide/user-officer/calls.md
  documentation/docs/user-guide/user-officer/main/creating_call.md
  documentation/docs/user-guide/user-officer/main/creating_templates.md
  documentation/docs/user-guide/user-officer/main/creating_workflow.md
  documentation/docs/user-guide/user-officer/main/fap_review.md
  documentation/docs/user-guide/user-officer/main/feasibility_review.md
  documentation/docs/user-guide/user-officer/main/roles.md
  documentation/docs/user-guide/user-officer/main/user-officer.md
  documentation/mkdocs.yml
Due: none

Fix FAP e2e test
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/frontend/src/components/review/ReviewSummary.tsx
Due: npm run lint:e2e, npm run lint:frontend

Add surname search for STFC
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

removed parameter instrumentId has been put back to avoid graphql error
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/resolvers/queries/ProposalsQuery.ts
Due: npm run lint:backend

Fix FAP e2e - close dialog that prevent test progression
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

Fix FAP e2e test
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

Path conditions:
  npm run lint:e2e: any of: apps/e2e/**/*.{js,ts,jsx,tsx}
  npm run lint:frontend: any of: apps/frontend/**/*.{js,ts,jsx,tsx}
  npm run lint:backend: any of: apps/backend/**/*.{js,ts,jsx,tsx}
