Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Context propagation for factory calls
  apps/backend/src/factory/DownloadService.ts
Due: npm run lint:backend

Fix review comments
  apps/backend/src/factory/DownloadService.ts
  apps/backend/src/middlewares/tracing/tracing.ts
Due: npm run lint:backend

feat: add SQL patch for DATA_ACCESS_USERS feature toggle
  apps/backend/db_patches/0183_AddDataAccessUsersFeature.sql
Due: none

fix the test case
  apps/e2e/cypress/e2e/instruments.cy.ts
Due: npm run lint:e2e

fix test case
  apps/e2e/cypress/e2e/instruments.cy.ts
Due: npm run lint:e2e

feat: add allowInviteByEmail prop to user management components
  apps/frontend/src/components/common/UserManagementTable.tsx
  apps/frontend/src/components/proposal/DataAccessUsersModal.tsx
  apps/frontend/src/components/proposal/InviteUser.tsx
  apps/frontend/src/components/proposal/NoOptionsText.tsx
  apps/frontend/src/components/proposal/ProposalParticipants.tsx
  apps/frontend/src/components/proposalBooking/CreateUpdateVisit.tsx
Due: npm run lint:frontend

remove uneeded readPermission
  apps/backend/src/resolvers/types/FieldConfig.ts
Due: npm run lint:backend

Download pregenerated PDFs
  apps/backend/db_patches/0182_AddPreferStoredProposalPdfsFeature.sql
  apps/backend/src/config/stfc/configureSTFCEnvironment.ts
  apps/backend/src/factory/pdf/proposal.ts
  apps/backend/src/middlewares/factory/factoryServices.ts
  apps/backend/src/middlewares/factory/pdf/download.ts
  apps/backend/src/middlewares/factory/pdf/preview.ts
  apps/backend/src/middlewares/factory/zip.ts
  apps/backend/src/models/Feature.ts
  apps/frontend/src/graphql/proposal/fragment.proposal.graphql
Due: npm run lint:backend

feat: remove obsolete SQL patch for remote users feature
  apps/backend/db_patches/0183_AddRemoteUsersFeature.sql
Due: none

Wrapping .whereRaw().orWhereRaw() in a .where(function () {}) to ensure correct grouping and logic.
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

feat: add GraphQL query for retrieving data access users
  apps/frontend/src/graphql/dataAccessUser/getDataAccessUsers.graphql
Due: none

feat: implement data access user management with GraphQL mutations and queries
  apps/backend/db_patches/0184_AddDataAccessUserHasProposalTable.sql
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/buildContext.ts
  apps/backend/src/config/Tokens.ts
  apps/backend/src/config/dependencyConfigDefault.ts
  apps/backend/src/config/dependencyConfigE2E.ts
  apps/backend/src/config/dependencyConfigELI.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/context/index.ts
  apps/backend/src/datasources/DataAccessUsersDataSource.ts
  apps/backend/src/datasources/mockups/DataAccessUsersDataSource.ts
  apps/backend/src/datasources/postgres/DataAccessUsersDataSource.ts
  apps/backend/src/mutations/DataAccessUsersMutations.spec.ts
  apps/backend/src/mutations/DataAccessUsersMutations.ts
  apps/backend/src/queries/DataAccessUsersQueries.ts
  apps/backend/src/resolvers/mutations/UpdateDataAccessUsersMutation.ts
  apps/backend/src/resolvers/queries/DataAccessUsersQuery.ts
  apps/frontend/src/components/proposal/DataAccessUsersModal.tsx
  apps/frontend/src/graphql/dataAccessUser/updateDataAccessUsers.graphql
Due: npm run lint:frontend, npm run lint:backend

fix: update data-cy attribute for add user button to add participant button
  apps/frontend/src/components/common/UserManagementTable.tsx
Due: npm run lint:frontend

add a test case where instrument scientists cannot bulk submit proposals where they are not primary reviewer
  apps/e2e/cypress/e2e/instruments.cy.ts
Due: npm run lint:e2e

feat: enhance data access user management with proposal authorization checks
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/mutations/DataAccessUsersMutations.ts
Due: npm run lint:backend

feat: enhance proposal table to conditionally show data access users based on proposer ID
  apps/frontend/src/components/proposal/ProposalTable.tsx
Due: npm run lint:frontend

display all roles for when no roles selected
  apps/frontend/src/components/questionary/QuestionReadPermissionsConfig.tsx
Due: npm run lint:frontend

Remove gender, telephone, username, position, placeholder, birthdate and department columns from users table
  apps/backend/db_patches/0183_RemoveUserColulmns2.sql
  apps/backend/src/auth/OAuthAuthorization.ts
  apps/backend/src/datasources/UserDataSource.ts
  apps/backend/src/datasources/mockups/UserDataSource.ts
  apps/backend/src/datasources/postgres/UserDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/backend/src/models/User.ts
  apps/backend/src/mutations/RedeemCodesMutations.ts
  apps/backend/src/mutations/UserMutations.spec.ts
  apps/backend/src/mutations/UserMutations.ts
  apps/backend/src/queries/UserQueries.ts
  apps/backend/src/resolvers/mutations/UpdateUserMutation.ts
  apps/backend/src/resolvers/types/BasicUserDetails.ts
  apps/backend/src/resolvers/types/User.ts
  apps/backend/src/resolvers/types/UserJWT.ts
  apps/backend/src/statusActionEngine/statusActionUtils.ts
  apps/e2e/cypress/e2e/eventLogs.cy.ts
  apps/e2e/cypress/e2e/userAdministration.cy.ts
  apps/frontend/src/components/user/UpdateUserInformation.tsx
  apps/frontend/src/context/UserContextProvider.tsx
  apps/frontend/src/graphql/user/fragment.basicUserInformation.graphql
  apps/frontend/src/graphql/user/getUser.graphql
  apps/frontend/src/graphql/user/getUserMe.graphql
  apps/frontend/src/graphql/user/updateUser.graphql
  apps/frontend/src/hooks/visit/useBlankVisitRegistration.ts
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

feat: add data access user checks to proposal authorization and mutations
  apps/backend/src/auth/ProposalAuthorization.ts
  apps/backend/src/datasources/DataAccessUsersDataSource.ts
  apps/backend/src/datasources/mockups/DataAccessUsersDataSource.ts
  apps/backend/src/datasources/postgres/DataAccessUsersDataSource.ts
  apps/backend/src/mutations/ProposalMutations.ts
Due: npm run lint:backend

fix for E2E tests
  apps/backend/db_patches/db_seeds/0002_InstrumentScientiests.sql
  apps/backend/src/datasources/postgres/UserDataSource.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/frontend/src/components/user/UpdateUserInformation.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

clean up tests from legacy fields
  apps/backend/src/mutations/UserMutations.spec.ts
  apps/e2e/cypress/e2e/personalInformation.cy.ts
  apps/e2e/cypress/e2e/userAdministration.cy.ts
Due: npm run lint:e2e, npm run lint:backend

feat: implement DataAccessUsersAuthorization with write rights checks and integrate into mutations and configurations
  apps/backend/src/auth/DataAccessUsersAuthorization.spec.ts
  apps/backend/src/auth/DataAccessUsersAuthorization.ts
  apps/backend/src/config/Tokens.ts
  apps/backend/src/config/dependencyConfigDefault.ts
  apps/backend/src/config/dependencyConfigE2E.ts
  apps/backend/src/config/dependencyConfigELI.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/config/ess/configureESSEnvironment.ts
  apps/backend/src/mutations/DataAccessUsersMutations.ts
  apps/backend/src/mutations/ProposalMutations.ts
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e, npm run lint:backend

fix: only update questions that have been updated in answer topic
  apps/backend/src/mutations/QuestionaryMutations.ts
Due: npm run lint:backend

reduce data passed to deleteOldAnswers
  apps/backend/src/mutations/QuestionaryMutations.ts
Due: npm run lint:backend

feat: add getDataAccessUsersWithInstitution method and related event handling for data access users updates
  apps/backend/src/datasources/DataAccessUsersDataSource.ts
  apps/backend/src/datasources/mockups/DataAccessUsersDataSource.ts
  apps/backend/src/datasources/postgres/DataAccessUsersDataSource.ts
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/eventHandlers/messageBroker.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/events/event.enum.ts
  apps/backend/src/mutations/DataAccessUsersMutations.ts
Due: npm run lint:backend

feat: add backend implementation for configurable email templates
  apps/backend/db_patches/0813_CreateEmailTemplatesTable.sql
  apps/backend/src/buildContext.ts
  apps/backend/src/config/Tokens.ts
  apps/backend/src/context/index.ts
  apps/backend/src/datasources/EmailTemplateDataSource.ts
  apps/backend/src/datasources/mockups/EmailTemplateDataSource.ts
  apps/backend/src/datasources/postgres/EmailTemplateDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/EmailTemplate.ts
  apps/backend/src/mutations/EmailTemplateMutations.ts
  apps/backend/src/queries/EmailTemplateQueries.ts
  apps/backend/src/resolvers/mutations/CreateEmailTemplateMutation.ts
  apps/backend/src/resolvers/mutations/DeleteEmailTemplateMutation.ts
  apps/backend/src/resolvers/mutations/UpdateEmailTemplateMutation.ts
  apps/backend/src/resolvers/queries/EmailTemplateQuery.ts
  apps/backend/src/resolvers/queries/EmailTemplatesQuery.ts
  apps/backend/src/resolvers/types/EmailTemplate.ts
  apps/frontend/src/graphql/emailTemplate/createEmailTemplate.graphql
  apps/frontend/src/graphql/emailTemplate/deleteEmailTemplate.graphql
  apps/frontend/src/graphql/emailTemplate/fragment.emailTemplate.graphql
  apps/frontend/src/graphql/emailTemplate/getEmailTemplate.graphql
  apps/frontend/src/graphql/emailTemplate/getEmailTemplates.graphql
  apps/frontend/src/graphql/emailTemplate/updateEmailTemplate.graphql
Due: npm run lint:backend

Adding Dummy Experiment Safety for the sake of Unit tests.
  apps/backend/src/datasources/mockups/ExperimentDataSource.ts
Due: npm run lint:backend

if question answers arnt given then assume they should be deleted
  apps/backend/src/mutations/QuestionaryMutations.ts
Due: npm run lint:backend

Fixing Backend Unit tests
  apps/backend/src/datasources/mockups/ExperimentDataSource.ts
  apps/backend/src/workflowEngine/experiment.ts
Due: npm run lint:backend

Refactor backend codebase by removing unused files and dependencies, updating dependency injection for PredefinedMessageDataSource, and cleaning up populate scripts.
  apps/backend/api_tests/environment.json
  apps/backend/api_tests/tests.json
  apps/backend/package.json
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/datasources/CoProposerInviteDataSource.ts
  apps/backend/src/datasources/postgres/CoProposerInviteDataSource.ts
  apps/backend/src/models/CoProposerInvite.ts
  apps/backend/src/models/ProposalEvents.ts
  apps/backend/src/models/UserLinkResponse.ts
  apps/backend/src/populate/dummy.ts
  apps/backend/src/populate/executor.ts
  apps/backend/src/populate/index.ts
  apps/backend/src/resolvers/Decorators.ts
Due: npm run lint:backend

chore: remove unused components and hooks from frontend
  apps/frontend/src/components/pages/LoginHelpPage.tsx
  apps/frontend/src/components/questionary/questionaries/sample/SampleWizardStepFactory.ts
  apps/frontend/src/components/review/ProposalGrade.tsx
  apps/frontend/src/components/review/ProposalTechnicalReview.tsx
  apps/frontend/src/components/review/TechnicalReviewQuestionaryDetails.tsx
  apps/frontend/src/components/user/PhotoInSide.tsx
  apps/frontend/src/hooks/instrument/useInstrumentData.ts
  apps/frontend/src/hooks/template/useCreatableQuestions.ts
  apps/frontend/src/hooks/template/useTemplate.ts
  apps/frontend/src/hooks/user/useGetFields.ts
  apps/frontend/src/hooks/user/usePreviousCollaborators.ts
Due: npm run lint:frontend

clean up
  apps/backend/src/datasources/postgres/UserDataSource.ts
  apps/backend/src/middlewares/graphql.ts
  apps/frontend/src/components/questionary/questionaryComponents/GenericTemplate/QuestionGenericTemplateForm.tsx
Due: npm run lint:frontend, npm run lint:backend

clean up again
  apps/frontend/src/models/questionary/QuestionaryFunctions.ts
Due: npm run lint:frontend

clean again
  apps/backend/src/datasources/postgres/QuestionaryDataSource.ts
  apps/backend/src/queries/QuestionaryQueries.ts
Due: npm run lint:backend

feat: add LoadingOverlay component and integrate it into WorkflowEditor for improved loading state management
  apps/frontend/src/components/settings/workflow/LoadingOverlay.tsx
  apps/frontend/src/components/settings/workflow/StatusPicker.tsx
  apps/frontend/src/components/settings/workflow/WorkflowCanvas.tsx
  apps/frontend/src/components/settings/workflow/WorkflowEditor.tsx
Due: npm run lint:frontend

rename vars
  apps/backend/src/mutations/QuestionaryMutations.ts
Due: npm run lint:backend

Fixing e2e
  apps/e2e/cypress/e2e/calls.cy.ts
  apps/e2e/cypress/e2e/dashboard.cy.ts
  apps/e2e/cypress/e2e/genericTemplates.cy.ts
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/e2e/cypress/e2e/samples.cy.ts
  apps/e2e/cypress/e2e/templateDeleteAndArchive.cy.ts
  apps/frontend/src/components/call/CallGeneralInfo.tsx
Due: npm run lint:e2e, npm run lint:frontend

Fixing e2e
  apps/e2e/cypress/e2e/calls.cy.ts
  apps/e2e/cypress/e2e/dashboard.cy.ts
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/e2e/cypress/e2e/samples.cy.ts
  apps/e2e/cypress/e2e/templateDeleteAndArchive.cy.ts
  apps/frontend/src/components/call/CallGeneralInfo.tsx
Due: npm run lint:e2e, npm run lint:frontend

Path conditions:
  npm run lint:e2e: any of: apps/e2e/**/*.{js,ts,jsx,tsx}
  npm run lint:frontend: any of: apps/frontend/**/*.{js,ts,jsx,tsx}
  npm run lint:backend: any of: apps/backend/**/*.{js,ts,jsx,tsx}
