Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

.lintstagedrc.json:

{
  "apps/e2e/**/*.{js,ts,jsx,tsx}": ["npm run lint:e2e"],
  "apps/frontend/**/*.{js,ts,jsx,tsx}": ["npm run lint:frontend"],
  "apps/backend/**/*.{js,ts,jsx,tsx}": ["npm run lint:backend"]
}

Updated vite.config.mts and wait-on params
  apps/frontend/vite.config.mts
  package.json
Due: none

Use vite-bundle-visualizer to analyze the bundle size of the project
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: none

Remove second test
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

Combined tests into one
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

Remove .only test tag
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

Remove adtional user changes
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

Fix updateUserDetails error
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

remove reset password mutation
  apps/backend/src/datasources/UserDataSource.ts
  apps/backend/src/datasources/mockups/UserDataSource.ts
  apps/backend/src/datasources/postgres/UserDataSource.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/backend/src/mutations/UserMutations.spec.ts
  apps/backend/src/mutations/UserMutations.ts
  apps/backend/src/resolvers/mutations/ResetPasswordMutation.ts
  apps/frontend/src/components/user/ResetPassword.tsx
  apps/frontend/src/graphql/user/resetPassword.graphql
Due: npm run lint:frontend, npm run lint:backend

fix: remove update password
  apps/backend/src/mutations/UserMutations.spec.ts
  apps/backend/src/mutations/UserMutations.ts
  apps/backend/src/resolvers/mutations/UpdatePasswordMutation.ts
  apps/frontend/src/components/user/ProfilePage.tsx
  apps/frontend/src/components/user/UpdatePassword.tsx
  apps/frontend/src/components/user/UserPage.tsx
  apps/frontend/src/graphql/user/updatePassword.graphql
Due: npm run lint:frontend, npm run lint:backend

fix: remove unused function getPasswordByEmail
  apps/backend/src/datasources/UserDataSource.ts
  apps/backend/src/datasources/mockups/UserDataSource.ts
  apps/backend/src/datasources/postgres/UserDataSource.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
Due: npm run lint:backend

fix: remove unused function getPasswordByUsername
  apps/backend/src/datasources/UserDataSource.ts
  apps/backend/src/datasources/mockups/UserDataSource.ts
  apps/backend/src/datasources/postgres/UserDataSource.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
Due: npm run lint:backend

fix: remove reset password via email
  apps/backend/src/decorators/EventBus.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/mutations/UserMutations.spec.ts
  apps/backend/src/mutations/UserMutations.ts
  apps/backend/src/resolvers/mutations/ResetPasswordEmailMutation.ts
  apps/frontend/src/components/user/PhotoInSide.tsx
  apps/frontend/src/components/user/ResetPasswordEmail.tsx
  apps/frontend/src/graphql/user/resetPasswordEmail.graphql
Due: npm run lint:frontend, npm run lint:backend

fix: remove password column
  apps/backend/db_patches/0143_RemovePwdColumn.sql
Due: none

fix: Revert still used component
  apps/frontend/src/components/user/PhotoInSide.tsx
Due: npm run lint:frontend

fix: remove resetPasswordEmail handlings in logger and emailHandler
  apps/backend/src/eventHandlers/email/essEmailHandler.ts
  apps/backend/src/eventHandlers/logging.ts
Due: npm run lint:backend

Remove second update details
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

Remove second part of test
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

Change data source when preferred name is missing
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e, npm run lint:backend

Edit test name and test for no preferred name
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

fix(db_seeds): remove password field from INSERT statements in 0002_InstrumentScientiests.sql to prevent storing passwords in plain text
  apps/backend/db_patches/db_seeds/0002_InstrumentScientiests.sql
Due: none

add github action
  .github/workflows/autogen-description.yml
Due: none

refactor: Add Panel Name to Panel Pages
  apps/frontend/src/components/SEP/General/SEPGeneralInfo.tsx
  apps/frontend/src/components/SEP/MeetingComponents/SEPMeetingComponentsView.tsx
  apps/frontend/src/components/SEP/MeetingComponents/SEPMeetingInstrumentsTable.tsx
  apps/frontend/src/components/SEP/Members/SEPMembers.tsx
  apps/frontend/src/components/SEP/Proposals/SEPProposalsAndAssignmentsTable.tsx
  apps/frontend/src/components/SEP/SEPPage.tsx
Due: npm run lint:frontend

refactor(sparkpost client): create and use simple sparkpost client because node-sparkpost is deprecated
  apps/backend/src/eventHandlers/MailService/EmailSettings.ts
  apps/backend/src/eventHandlers/MailService/MailService.ts
  apps/backend/src/eventHandlers/MailService/SMTPMailService.ts
  apps/backend/src/eventHandlers/MailService/SkipSendMailService.ts
  apps/backend/src/eventHandlers/MailService/SparkPost.ts
  apps/backend/src/eventHandlers/MailService/SparkPostMailService.ts
Due: npm run lint:backend

Integrating graphql dataloader in proposal backend
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/datasources/UserDataSource.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/backend/src/queries/UserQueries.ts
  apps/backend/src/resolvers/queries/ProposalsViewQueryBatched.ts
  apps/backend/src/resolvers/types/ProposalViewBatched.ts
  apps/backend/src/utils/buildFederatedSchema.ts
  apps/backend/src/utils/buildStitchedSchema.ts
  apps/frontend/src/graphql/proposal/getInstrumentScientistProposalsBatched.graphql
  apps/frontend/src/graphql/proposal/getProposalsCoreBatched.graphql
  apps/frontend/src/hooks/proposal/useProposalsCoreData.ts
Due: npm run lint:frontend, npm run lint:backend

refactor: try to remove the use of request package as we have fetch comming with node 18 by default
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/factory/service.ts
  apps/backend/src/factory/util.ts
Due: npm run lint:backend

remove some last bits of SEP reference
  apps/frontend/public/locales/override/translation.json
Due: none

Fix sort issue for coloumns
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
Due: npm run lint:frontend, npm run lint:backend

Using environment variables in Vite config
  apps/frontend/example.development.env
  apps/frontend/vite.config.mts
Due: none

Removed "start" script from frontend/package.json because it is not used
  apps/frontend/package.json
Due: none

Run frontend component NGINX unprivileged
  apps/frontend/.dockerignore
  apps/frontend/Dockerfile
  apps/frontend/default.conf
  apps/frontend/nginx.conf
Due: none

chore(autogen-description.yml): rename workflow from "Lint" to "Craft PR description" for better clarity and understanding
  .github/workflows/autogen-description.yml
Due: none

refactor(autogen-description.yml): rename job from 'openai-pr-description' to 'craft-pr-description' for clarity and consistency
  .github/workflows/autogen-description.yml
Due: none

fix: use master branch
  .github/workflows/craft-pr-description.yml
Due: none

Fixing the test.
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

remove FAP translations as they are not needed anymore
  apps/frontend/public/locales/override/translation.json
  apps/frontend/src/components/DashBoard.tsx
  apps/frontend/src/components/call/CallReviewsInfo.tsx
  apps/frontend/src/components/call/CallsTable.tsx
  apps/frontend/src/components/fap/FapPage.tsx
  apps/frontend/src/components/fap/FapsTable.tsx
  apps/frontend/src/components/fap/General/AddFap.tsx
  apps/frontend/src/components/fap/General/FapGeneralInfo.tsx
  apps/frontend/src/components/fap/MeetingComponents/FapInstrumentProposalsTable.tsx
  apps/frontend/src/components/fap/MeetingComponents/FapMeetingInstrumentsTable.tsx
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/FapMeetingDecision.tsx
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/FapMeetingProposalViewModal.tsx
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/FinalRankingForm.tsx
  apps/frontend/src/components/fap/Members/FapMembers.tsx
  apps/frontend/src/components/fap/Proposals/AssignProposalsToFap.tsx
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/components/menu/MenuItems.tsx
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/components/user/PeopleTable.tsx
Due: npm run lint:frontend

Fix sorting issue for proposal table (#434)
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

fix assigning sep to an instrument loading state
  apps/frontend/src/components/call/AssignInstrumentsToCall.tsx
  apps/frontend/src/components/call/AssignedInstrumentsTable.tsx
Due: npm run lint:frontend

Create devcontainer.json
  .devcontainer/devcontainer.json
Due: none
