Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Changes for ELI configuration
  apps/backend/src/config/dependencyConfigELI.ts
  apps/backend/src/config/eli/configureELIEnvironment.ts
  apps/backend/src/config/index.ts
  apps/backend/src/eventHandlers/MailService/ELISMTPMailService.ts
  apps/backend/src/eventHandlers/MailService/MailService.ts
  apps/backend/src/eventHandlers/email/eliEmailHandler.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/events/event.enum.ts
  apps/frontend/codegen_template.yml
Due: npm run lint:backend

fix more tests and improve fields and the officer proposal table
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/frontend/src/components/common/FormikUIAutocomplete.tsx
  apps/frontend/src/components/common/predefinedMessages/PredefinedMessagesModal.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/components/review/ProposalReviewModal.tsx
Due: npm run lint:e2e, npm run lint:frontend

add technique has scientists table
  apps/backend/db_patches/0158_AddTechniqueHasScientists.sql
Due: none

add mutations and datasource for technique has scientists table
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/datasources/TechniqueDataSource.ts
  apps/backend/src/datasources/postgres/TechniqueDataSource.ts
  apps/backend/src/datasources/stfc/StfcTechniqueDataSource.ts
  apps/backend/src/mutations/TechniqueMutations.ts
  apps/backend/src/resolvers/mutations/AssignScientistsToTechnique.ts
  apps/backend/src/resolvers/types/Technique.ts
Due: npm run lint:backend

add backend mocks
  apps/backend/src/datasources/mockups/TechniqueDataSource.ts
Due: npm run lint:backend

add user office frontend changes to view and remove scientists from technique
  apps/frontend/src/components/technique/AssignInstrumentsToTechniques.tsx
  apps/frontend/src/components/technique/AssignedInstrumentsTable.tsx
  apps/frontend/src/components/technique/AssignedScientistsTable.tsx
  apps/frontend/src/components/technique/TechniqueTable.tsx
  apps/frontend/src/graphql/technique/assignScientistsToTechnique.graphql
  apps/frontend/src/graphql/technique/removeScientistFromTechnique.graphql
  apps/frontend/src/graphql/technique/technique.fragment.graphql
Due: npm run lint:frontend

try to fix more e2e tests
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
  apps/e2e/cypress/e2e/settings.cy.ts
Due: npm run lint:e2e

fix proposals e2e tests
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

some e2e test improvements
  apps/e2e/cypress/e2e/templatesAdvanced.cy.ts
  apps/e2e/cypress/e2e/templatesBasic.cy.ts
  apps/frontend/src/components/common/FormikUICustomDependencySelector.tsx
Due: npm run lint:e2e, npm run lint:frontend

add user office frontend changes to add scientists to technique
  apps/frontend/src/components/technique/TechniqueTable.tsx
Due: npm run lint:frontend

add e2e tests for assigning scientists to technique
  apps/e2e/cypress/e2e/techniques.cy.ts
  apps/e2e/cypress/support/technique.ts
  apps/e2e/cypress/types/technique.d.ts
Due: npm run lint:e2e

add backend validation
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/mutations/TechniqueMutations.ts
Due: npm run lint:backend

fix some typos and improve structure
  apps/backend/src/datasources/TechniqueDataSource.ts
  apps/backend/src/datasources/mockups/TechniqueDataSource.ts
  apps/frontend/src/components/technique/TechniqueTable.tsx
Due: npm run lint:frontend, npm run lint:backend

feat: make tech reviews based on proposal workflow
  apps/backend/db_patches/0158_AddFapFeasiblityReviewStatus.sql
  apps/backend/src/datasources/ProposalDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/ProposalSettingsDataSource.ts
  apps/backend/src/models/ProposalStatus.ts
  apps/backend/src/mutations/InstrumentMutations.ts
  apps/backend/src/workflowEngine/index.ts
  apps/e2e/cypress/e2e/settings.cy.ts
Due: npm run lint:e2e, npm run lint:backend

fix: some tests
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/instruments.cy.ts
  apps/e2e/cypress/e2e/internalReviews.cy.ts
  apps/e2e/cypress/support/workflow.ts
  apps/e2e/cypress/types/workflow.d.ts
Due: npm run lint:e2e

fix another test
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

fix last test
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
Due: npm run lint:e2e

Updating Documentation
  docker-compose.yml
Due: none

Created pages about
  documentation/docs/Test.md
  documentation/docs/user_officer/index.md
Due: none

Added 1 file via CloudCannon.
  cloudcannon.config.yml
Due: none

Updated 1 file via CloudCannon.
  cloudcannon.config.yml
Due: none

Update cloudcannon.config.yml
  cloudcannon.config.yml
Due: none

use transactions to mark coppied answers as complete
  apps/backend/src/datasources/QuestionaryDataSource.ts
  apps/backend/src/datasources/postgres/GenericTemplateDataSource.ts
  apps/backend/src/datasources/postgres/QuestionaryDataSource.ts
Due: npm run lint:backend

add e2e test for generic templates isCompleteOnCopy
  apps/e2e/cypress/e2e/genericTemplates.cy.ts
Due: npm run lint:e2e

update error message for graphql
  apps/backend/src/datasources/postgres/QuestionaryDataSource.ts
Due: npm run lint:backend

validate if answers has results
  apps/backend/src/datasources/postgres/QuestionaryDataSource.ts
Due: npm run lint:backend

fix e2e tests
  apps/e2e/cypress/e2e/genericTemplates.cy.ts
Due: npm run lint:e2e

Update documentation structure
  documentation/docs/changelog.md
  documentation/docs/developer-guide/achitecture.md
  documentation/docs/developer-guide/api/graphql.md
  documentation/docs/developer-guide/api/overview.md
  documentation/docs/developer-guide/api/rest.md
  documentation/docs/developer-guide/components/backend.md
  documentation/docs/developer-guide/components/components.md
  documentation/docs/developer-guide/components/frontend.md
  documentation/docs/developer-guide/database.md
  documentation/docs/developer-guide/overview.md
  documentation/docs/developer-guide/setup.md
  documentation/docs/images/system-overview.png
  documentation/docs/index.md
  documentation/docs/introduction.md
  documentation/docs/reference/configuration.md
  documentation/docs/reference/glossary.md
  documentation/docs/technical/index.md
  documentation/docs/user-guide/common-tasks.md
  documentation/docs/user-guide/faq.md
  documentation/docs/user-guide/getting-started.md
  documentation/docs/user-guide/overview.md
  documentation/docs/user/index.md
  documentation/docs/user_officer/index.md
Due: none

feat: Added new plugins to the documentation.
  documentation/mkdocs.yml
Due: none

add frontent validation when creating or updating technique
  apps/frontend/src/components/technique/CreateUpdateTechnique.tsx
Due: npm run lint:frontend

feat: add conflict of interest feature flag
  apps/backend/db_patches/0159_ConflictOfInterestWarningFeature.sql
  apps/backend/src/config/ess/configureESSEnvironment.ts
  apps/backend/src/models/Feature.ts
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
Due: npm run lint:frontend, npm run lint:backend

revert changes
  apps/backend/db_patches/0158_AddEventIDAndEventStatusToEventlogs.sql
  apps/backend/src/buildContext.ts
  apps/backend/src/context/index.ts
  apps/backend/src/datasources/EventLogsDataSource.ts
  apps/backend/src/datasources/mockups/EventLogsDataSource.ts
  apps/backend/src/datasources/postgres/EventLogsDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/eventHandlers/customHandler.ts
  apps/backend/src/eventHandlers/email/essEmailHandler.ts
  apps/backend/src/eventHandlers/email/stfcEmailHandler.ts
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/eventHandlers/messageBroker.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/events/eventBus.ts
  apps/backend/src/models/EventLog.ts
  apps/backend/src/mutations/EventLogMutations.ts
  apps/backend/src/queries/EventLogQueries.ts
  apps/backend/src/resolvers/mutations/EventLogMutation.ts
  apps/backend/src/resolvers/types/EventLog.ts
Due: npm run lint:backend

Update documentation structure
  documentation/docs/assets/images/system-overview.png
  documentation/docs/developer-guide/CONTRIBUTING.md
  documentation/docs/developer-guide/achitecture.md
  documentation/docs/developer-guide/api-documentation.md
  documentation/docs/developer-guide/codebase-structure.md
  documentation/docs/developer-guide/components/backend.md
  documentation/docs/developer-guide/components/components.md
  documentation/docs/developer-guide/components/frontend.md
  documentation/docs/developer-guide/configuration.md
  documentation/docs/developer-guide/overview.md
  documentation/docs/faq.md
  documentation/docs/getting-started.md
  documentation/docs/glossary.md
  documentation/docs/index.md
  documentation/docs/introduction.md
  documentation/docs/overview.md
  documentation/docs/references.md
  documentation/docs/technical/index.md
  documentation/docs/user-guide/overview.md
  documentation/docs/user-guide/user-officer/user-officer.md
  documentation/docs/user-guide/user/user.md
  documentation/docs/user/index.md
  documentation/docs/user_officer/index.md
Due: none

fix test
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

Add instrument to UO status action email
  apps/backend/src/statusActionEngine/emailActionHandler.ts
  apps/backend/src/statusActionEngine/statusActionUtils.ts
Due: npm run lint:backend

Add filter to remove proposals of given status
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/backend/src/resolvers/queries/ProposalsQuery.ts
  apps/frontend/src/components/common/proposalFilters/ProposalStatusFilter.tsx
  apps/frontend/src/components/proposal/ProposalFilterBar.tsx
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/hooks/proposal/useProposalsCoreData.ts
Due: npm run lint:frontend, npm run lint:backend

Remove unneeded sql
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

Update documentation structure (#661)
  documentation/docs/assets/images/system-overview.png
  documentation/docs/developer-guide/CONTRIBUTING.md
  documentation/docs/developer-guide/achitecture.md
  documentation/docs/developer-guide/api-documentation.md
  documentation/docs/developer-guide/codebase-structure.md
  documentation/docs/developer-guide/components/backend.md
  documentation/docs/developer-guide/components/components.md
  documentation/docs/developer-guide/components/frontend.md
  documentation/docs/developer-guide/configuration.md
  documentation/docs/developer-guide/overview.md
  documentation/docs/faq.md
  documentation/docs/getting-started.md
  documentation/docs/glossary.md
  documentation/docs/index.md
  documentation/docs/introduction.md
  documentation/docs/overview.md
  documentation/docs/references.md
  documentation/docs/technical/index.md
  documentation/docs/user-guide/overview.md
  documentation/docs/user-guide/user-officer/user-officer.md
  documentation/docs/user-guide/user/user.md
  documentation/docs/user/index.md
  documentation/docs/user_officer/index.md
Due: none

fix for pdf download issue when instrument picker question is present in proposal questionnaire
  apps/backend/src/factory/pdf/proposal.ts
Due: npm run lint:backend

added a new test case to test the pdf download scenario when instrument picker question present in proposal
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

Path conditions:
  npm run lint:e2e: any of: apps/e2e/**/*.{js,ts,jsx,tsx}
  npm run lint:frontend: any of: apps/frontend/**/*.{js,ts,jsx,tsx}
  npm run lint:backend: any of: apps/backend/**/*.{js,ts,jsx,tsx}
