Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Change feature name
  apps/backend/db_patches/0199_AddPregeneratedProposalDownloadsFeature.sql
  apps/backend/package-lock.json
  apps/backend/src/config/stfc/configureSTFCEnvironment.ts
  apps/backend/src/middlewares/factory/pdf/download.ts
  apps/backend/src/middlewares/factory/zip.ts
  apps/backend/src/models/Feature.ts
  apps/e2e/cypress/e2e/pregeneratedPdfs.cy.ts
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
  apps/e2e/cypress/e2e/statusActions.cy.ts
  apps/frontend/src/components/menu/StatusActionLogsMenuListItem.tsx
  apps/frontend/src/hooks/settings/useStatusActionsData.ts
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

feat: add migration script for workflows with backfill logic and foreign key constraint
  apps/backend/db_patches/0200_MigrateWorkflows.sql
Due: none

feat: update email templates backend
  apps/backend/db_patches/0185_CreateEmailTemplatesTable.sql
  apps/backend/src/eventHandlers/MailService/EmailSettings.ts
  apps/backend/src/resolvers/types/EmailTemplate.ts
  apps/backend/src/resolvers/types/StatusActionConfig.ts
  apps/backend/src/statusActionEngine/emailActionHandler.ts
  apps/frontend/src/graphql/settings/statusActions/fragment.connectionStatusActionConfig.graphql
  apps/frontend/src/graphql/settings/statusActions/fragment.statusActionConfig.graphql
Due: npm run lint:backend

fix: cleanup of active template that contains old pdf template is done before deleting the template itself to prevent fk reference error when the db patches are running
  apps/backend/db_patches/0192_AddTemplateGroups.sql
Due: none

fix: allow for fine grain times to be picked in time range picker
  apps/frontend/src/components/common/FormikUIDayTimeRangePicker.tsx
Due: npm run lint:frontend

Adapt co-proposer dialog for non-invite use
  apps/frontend/src/components/common/StyledDialog.tsx
  apps/frontend/src/components/proposal/InviteUser.tsx
  apps/frontend/src/components/proposal/NoOptionsText.tsx
Due: npm run lint:frontend

Expand co-proposer dialog testing
  apps/e2e/cypress/e2e/invites.cy.ts
Due: npm run lint:e2e

feat: update graphql
  apps/backend/src/resolvers/types/EmailTemplate.ts
  apps/backend/src/resolvers/types/StatusActionConfig.ts
  apps/frontend/src/graphql/settings/statusActions/fragment.connectionStatusActionConfig.graphql
  apps/frontend/src/graphql/settings/statusActions/fragment.statusActionConfig.graphql
Due: npm run lint:backend

Simplify tests
  apps/e2e/cypress/e2e/invites.cy.ts
Due: npm run lint:e2e

fix: allow for fine grain times to be picked in time range picker (#1160)
  apps/frontend/src/components/common/FormikUIDayTimeRangePicker.tsx
Due: npm run lint:frontend

feat: download pregenerated PDFs (#1134)
  .github/workflows/test-build.yml
  apps/backend/db_patches/0199_AddPregeneratedProposalDownloadsFeature.sql
  apps/backend/src/config/Tokens.ts
  apps/backend/src/config/dependencyConfigDefault.ts
  apps/backend/src/config/dependencyConfigE2E.ts
  apps/backend/src/config/dependencyConfigELI.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/config/stfc/configureSTFCEnvironment.ts
  apps/backend/src/factory/DefaultDownloadService.ts
  apps/backend/src/factory/StfcDownloadService.ts
  apps/backend/src/factory/pdf/proposal.ts
  apps/backend/src/factory/service.ts
  apps/backend/src/middlewares/factory.ts
  apps/backend/src/middlewares/factory/factoryServices.ts
  apps/backend/src/middlewares/factory/pdf/download.ts
  apps/backend/src/middlewares/factory/pdf/preview.ts
  apps/backend/src/middlewares/factory/xlsx.ts
  apps/backend/src/middlewares/factory/zip.ts
  apps/backend/src/models/Feature.ts
  apps/e2e/cypress/e2e/pregeneratedPdfs.cy.ts
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
  apps/e2e/cypress/e2e/statusActions.cy.ts
  apps/e2e/cypress/support/fileUtilTasks.ts
  apps/e2e/cypress/support/proposal.ts
  apps/e2e/cypress/types/proposal.d.ts
  apps/e2e/package-lock.json
  apps/e2e/package.json
  apps/frontend/src/components/menu/StatusActionLogsMenuListItem.tsx
  apps/frontend/src/graphql/proposal/fragment.proposal.graphql
  apps/frontend/src/hooks/settings/useStatusActionsData.ts
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

test: improve clarity of test case for non-existent proposal rights
  apps/backend/src/auth/DataAccessUsersAuthorization.spec.ts
Due: npm run lint:backend

refactor: simplify logic in isPrincipalInvestigatorOfProposal and hasWriteRights methods
  apps/backend/src/auth/DataAccessUsersAuthorization.ts
Due: npm run lint:backend

refactor: remove unused dummy users and simplify user retrieval logic
  apps/backend/src/datasources/mockups/DataAccessUsersDataSource.ts
Due: npm run lint:backend

refactor: update tests for data access users to use consistent mock data and improve clarity
  apps/backend/src/mutations/DataAccessUsersMutations.spec.ts
Due: npm run lint:backend

refactor: remove commented-out co-proposer logic in proposal data access query
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
Due: npm run lint:backend

refactor: simplify write rights check for cloned proposal in ProposalMutations
  apps/backend/src/mutations/ProposalMutations.ts
Due: npm run lint:backend

feat: add validation for email template delete
  apps/backend/src/datasources/StatusActionsDataSource.ts
  apps/backend/src/datasources/mockups/StatusActionsDataSource.ts
  apps/backend/src/datasources/postgres/StatusActionsDataSource.ts
  apps/backend/src/mutations/EmailTemplateMutations.ts
  apps/backend/src/resolvers/types/StatusActionConfig.ts
Due: npm run lint:backend

refactor: enhance proposal membership checks in data access user updates
  apps/backend/src/auth/ProposalAuthorization.ts
  apps/backend/src/datasources/mockups/DataAccessUsersDataSource.ts
  apps/backend/src/mutations/DataAccessUsersMutations.spec.ts
  apps/backend/src/mutations/DataAccessUsersMutations.ts
Due: npm run lint:backend

fix: workflow editor template route optimised for experiment safety and proposal
  apps/backend/src/queries/WorkflowQueries.ts
  apps/backend/src/resolvers/queries/WorkflowQuery.ts
  apps/frontend/src/components/settings/workflow/WorkflowEditorModel.tsx
  apps/frontend/src/graphql/settings/getWorkflow.graphql
Due: npm run lint:frontend, npm run lint:backend

feat(frontend): add call ordering functionality (#1131)
  apps/backend/db_patches/0199_Add_call_order_column.sql
  apps/backend/src/datasources/CallDataSource.ts
  apps/backend/src/datasources/mockups/CallDataSource.ts
  apps/backend/src/datasources/postgres/CallDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/Call.ts
  apps/backend/src/mutations/CallMutations.spec.ts
  apps/backend/src/mutations/CallMutations.ts
  apps/backend/src/resolvers/mutations/CreateCallMutation.ts
  apps/backend/src/resolvers/mutations/UpdateCallMutation.ts
  apps/backend/src/resolvers/queries/CallsQuery.ts
  apps/backend/src/resolvers/types/Call.ts
  apps/e2e/cypress/e2e/calls.cy.ts
  apps/e2e/cypress/support/utils.ts
  apps/frontend/src/components/call/CallListItem.tsx
  apps/frontend/src/components/call/CallOrderEditor.tsx
  apps/frontend/src/components/call/CallPage.tsx
  apps/frontend/src/components/call/CallStatusFilter.tsx
  apps/frontend/src/components/call/CallsTable.tsx
  apps/frontend/src/components/proposal/ProposalChooseCall.tsx
  apps/frontend/src/graphql/call/createCall.graphql
  apps/frontend/src/graphql/call/getCallsMinimal.graphql
  apps/frontend/src/graphql/call/updateCall.graphql
  apps/frontend/src/graphql/call/updateCallOrder.graphql
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Fix duplicate invite/user add
  apps/e2e/cypress/e2e/invites.cy.ts
  apps/frontend/src/components/proposal/InviteUser.tsx
Due: npm run lint:e2e, npm run lint:frontend

Stop testing duplicate co-is for invites
  apps/e2e/cypress/e2e/invites.cy.ts
Due: npm run lint:e2e

Simplify tooltip type
  apps/frontend/src/components/common/StyledDialog.tsx
Due: npm run lint:frontend

Fix linting
  apps/frontend/src/components/common/StyledDialog.tsx
Due: npm run lint:frontend

Fix test
  apps/e2e/cypress/e2e/invites.cy.ts
Due: npm run lint:e2e

Update apps/frontend/src/components/settings/workflow/WorkflowEditor.tsx
  apps/frontend/src/components/settings/workflow/WorkflowEditor.tsx
Due: npm run lint:frontend

fix: update dragStatusIntoWorkflow method documentation
  apps/e2e/cypress/types/workflow.d.ts
Due: npm run lint:e2e

refactor: remove AddNewWorkflowConnectionsRow and TransitionEventDialog components
  apps/frontend/src/components/settings/workflow/AddNewWorkflowConnectionsRow.tsx
  apps/frontend/src/components/settings/workflow/TransitionEventDialog.tsx
Due: npm run lint:frontend

fix: add posX and posY to addWorkflowStatus and set prevConnectionId to null
  apps/e2e/cypress/e2e/pregeneratedPdfs.cy.ts
Due: npm run lint:e2e

refactor: rename PROPOSAL_CO_PROPOSER_INVITE_SENT to PROPOSAL_CO_PROPOSER_INVITE_EMAIL_SENT for clarity
  apps/backend/src/eventHandlers/email/eliEmailHandler.ts
  apps/backend/src/eventHandlers/email/essEmailHandler.ts
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/events/event.enum.ts
  apps/backend/src/mutations/InviteMutations.spec.ts
Due: npm run lint:backend

test: enhance essEmailHandler tests to log errors for missing proposal, principal investigator, and claimer
  apps/backend/src/datasources/mockups/UserDataSource.ts
  apps/backend/src/eventHandlers/email/essEmailHandler.spec.ts
Due: npm run lint:backend

fix: correct webRoot path in launch configuration for frontend debugging
  .vscode/launch.json
Due: none

fix: correct webRoot path in launch configuration for frontend debugging (#1165)
  .vscode/launch.json
Due: none

feat: start backend test implementation
  apps/backend/db_patches/0185_CreateEmailTemplatesTable.sql
  apps/backend/src/datasources/mockups/EmailTemplateDataSource.ts
  apps/backend/src/eventHandlers/messageBroker.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/events/event.enum.ts
  apps/backend/src/mutations/EmailTemplateMutation.spec.ts
  apps/backend/src/mutations/EmailTemplateMutations.ts
  apps/frontend/src/graphql/settings/statusActions/fragment.connectionStatusActionConfig.graphql
  apps/frontend/src/graphql/settings/statusActions/fragment.statusActionConfig.graphql
Due: npm run lint:backend

Hide the download button for users before the proposal is submited
  apps/frontend/src/components/proposal/ProposalSummary.tsx
  apps/frontend/src/components/proposal/ProposalTable.tsx
Due: npm run lint:frontend

feat: add backend tests
  apps/backend/src/datasources/EmailTemplateDataSource.ts
  apps/backend/src/datasources/mockups/EmailTemplateDataSource.ts
  apps/backend/src/datasources/postgres/EmailTemplateDataSource.ts
  apps/backend/src/eventHandlers/MailService/EmailSettings.ts
  apps/backend/src/eventHandlers/email/eliEmailHandler.spec.ts
  apps/backend/src/eventHandlers/email/eliEmailHandler.ts
  apps/backend/src/eventHandlers/email/essEmailHandler.ts
  apps/backend/src/mutations/EmailTemplateMutation.spec.ts
  apps/backend/src/mutations/EmailTemplateMutations.ts
  apps/backend/src/statusActionEngine/emailActionHandler.ts
Due: npm run lint:backend

DB patch + new mutations
  apps/backend/db_patches/0201_Add_new_workflow_data_structures.sql
  apps/backend/src/datasources/WorkflowDataSource.ts
  apps/backend/src/datasources/mockups/WorkflowDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/WorkflowDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/Workflow.ts
  apps/backend/src/models/WorkflowConnections.ts
  apps/backend/src/mutations/ProposalSettingsMutations.spec.ts
  apps/backend/src/mutations/WorkflowMutations.ts
  apps/backend/src/resolvers/mutations/settings/AddStatusToWorkflowMutation.ts
  apps/backend/src/resolvers/mutations/settings/AddWorkflowStatusMutation.ts
  apps/backend/src/resolvers/mutations/settings/CreateWorkflowConnectionMutation.ts
  apps/backend/src/resolvers/mutations/settings/RemoveStatusFromWorkflowMutation.ts
  apps/backend/src/resolvers/mutations/settings/UpdateWorkflowStatusMutation.ts
  apps/backend/src/resolvers/types/WorkflowConnection.ts
  apps/backend/src/resolvers/types/WorkflowStatus.ts
  apps/backend/src/workflowEngine/experiment.ts
  apps/backend/src/workflowEngine/proposal.ts
  apps/frontend/src/components/settings/workflow/WorkflowEditorModel.tsx
Due: npm run lint:frontend, npm run lint:backend

feat: fix email template events
  apps/backend/src/asyncJobs/jobs/checkInviteReminderJob.spec.ts
  apps/backend/src/datasources/mockups/InviteDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/eventHandlers/email/eliEmailHandler.spec.ts
  apps/backend/src/eventHandlers/email/eliEmailHandler.ts
  apps/backend/src/eventHandlers/email/emailTemplateId.ts
  apps/backend/src/eventHandlers/email/essEmailHandler.spec.ts
  apps/backend/src/eventHandlers/email/essEmailHandler.ts
  apps/backend/src/eventHandlers/messageBroker.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/models/Invite.ts
  apps/backend/src/mutations/EmailTemplateMutations.ts
  apps/backend/src/mutations/InviteMutations.spec.ts
  apps/frontend/src/components/settings/workflow/EmailActionConfig.tsx
Due: npm run lint:frontend, npm run lint:backend

Path conditions:
  npm run lint:e2e: any of: apps/e2e/**/*.{js,ts,jsx,tsx}
  npm run lint:frontend: any of: apps/frontend/**/*.{js,ts,jsx,tsx}
  npm run lint:backend: any of: apps/backend/**/*.{js,ts,jsx,tsx}
