Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

wip
  apps/backend/docker-compose.yml
  apps/backend/src/datasources/postgres/ProposalInternalCommentsDataSource.ts
  apps/frontend/src/components/experimentSample/SampleEsiReview.tsx
Due: npm run lint:frontend, npm run lint:backend

fix: updating signnature for the mocks
  apps/backend/src/datasources/mockups/DataAccessUsersDataSource.ts
Due: npm run lint:backend

fix: simplify GraphQL query by removing unnecessary nesting in getCallSubmissionDetails
  apps/frontend/src/graphql/call/getCallSubmissionDetails.graphql
Due: none

fix: replace SkipSendMailService with SparkPostMailService in dependency configuration
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/resolvers/mutations/settings/UpdateWorkflowStatusPositionMutation.ts
Due: npm run lint:backend

fix: update WorkflowDataSource to use UpdateWorkflowInput and remove unused method
  apps/backend/src/datasources/mockups/WorkflowDataSource.ts
  apps/backend/src/datasources/postgres/WorkflowDataSource.ts
  apps/backend/src/mutations/WorkflowMutations.ts
  apps/backend/src/resolvers/mutations/settings/UpdateWorkflowMutation.ts
Due: npm run lint:backend

fix: comment remove unused columns from workflow_connections and add position and connection line type columns
  apps/backend/db_patches/0184_RemoveWorkflowUnusedColumns.sql
Due: none

fix: masking sensitive data from traces and logs (#1138)
  apps/backend/src/config/stfc/configureSTFCWinstonLogger.ts
  apps/backend/src/middlewares/tracing/tracing.ts
Due: npm run lint:backend

feat: enhance workflow connections by adding prev_connection_id and updating related components
  apps/backend/db_patches/0184_RemoveWorkflowUnusedColumns.sql
  apps/backend/src/datasources/WorkflowDataSource.ts
  apps/backend/src/datasources/mockups/CallDataSource.ts
  apps/backend/src/datasources/mockups/WorkflowDataSource.ts
  apps/backend/src/datasources/postgres/WorkflowDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/WorkflowConnections.ts
  apps/backend/src/mutations/WorkflowMutations.ts
  apps/backend/src/resolvers/mutations/settings/UpdateWorkflowStatusMutation.ts
  apps/backend/src/resolvers/types/WorkflowConnection.ts
  apps/frontend/src/components/proposal/ProposalSummary.tsx
  apps/frontend/src/components/settings/workflow/StatusPicker.tsx
  apps/frontend/src/components/settings/workflow/WorkflowEditor.tsx
  apps/frontend/src/components/settings/workflow/WorkflowEditorModel.tsx
  apps/frontend/src/graphql/settings/createWorkflow.graphql
  apps/frontend/src/graphql/settings/deleteWorkflowConnection.graphql
  apps/frontend/src/graphql/settings/getWorkflow.graphql
  apps/frontend/src/graphql/settings/updateWorkflow.graphql
  apps/frontend/src/graphql/settings/updateWorkflowStatus.graphql
  apps/frontend/src/hooks/settings/usePersistWorkflowEditorModel.ts
Due: npm run lint:frontend, npm run lint:backend

Remove extra lines
  apps/backend/src/datasources/mockups/CallDataSource.ts
Due: npm run lint:backend

Remove extra lines
  apps/backend/src/datasources/postgres/records.ts
Due: npm run lint:backend

Remove extra lines
  apps/backend/src/resolvers/types/Call.ts
Due: npm run lint:backend

fix: refactor WorkflowEditor to use workflowConnection directly and simplify edge handling
  apps/backend/src/mutations/WorkflowMutations.ts
  apps/frontend/src/components/settings/workflow/WorkflowEditor.tsx
Due: npm run lint:frontend, npm run lint:backend

Changes from comments
  apps/backend/db_patches/0199_Add_call_order_column.sql
  apps/backend/src/datasources/CallDataSource.ts
  apps/backend/src/datasources/mockups/CallDataSource.ts
  apps/backend/src/datasources/postgres/CallDataSource.ts
  apps/backend/src/mutations/CallMutations.ts
  apps/backend/src/resolvers/mutations/UpdateCallMutation.ts
  apps/frontend/src/components/call/CallsTable.tsx
  apps/frontend/src/graphql/call/updateCallOrder.graphql
Due: npm run lint:frontend, npm run lint:backend

fix: update StatusNode and WorkflowEditor to use connectionId for deletion and refactor related logic
  apps/frontend/src/components/settings/workflow/StatusNode.tsx
  apps/frontend/src/components/settings/workflow/WorkflowEditor.tsx
  apps/frontend/src/components/settings/workflow/WorkflowEditorModel.tsx
  apps/frontend/src/hooks/settings/usePersistWorkflowEditorModel.ts
Due: npm run lint:frontend

fix: add validation to restrict nodes to a single parent connection in WorkflowEditor
  apps/frontend/src/components/settings/workflow/WorkflowEditor.tsx
Due: npm run lint:frontend

#1241: Update the logging of expired token and no response received from server
  apps/backend/src/middlewares/graphql.ts
Due: npm run lint:backend

Disable server-side logging of no response received from server
  apps/frontend/src/hooks/common/useDataApi.ts
Due: npm run lint:frontend

Fix abstract error message
  apps/frontend/src/components/questionary/questionaryComponents/ProposalBasis/QuestionaryComponentProposalBasis.tsx
Due: npm run lint:frontend

feat: add new columns and foreign key constraint to workflow_connections for improved data integrity
  apps/backend/db_patches/0199_AddNewWorkflowColumns.sql
  apps/backend/db_patches/0200_RemoveWorkflowUnusedColumns.sql
Due: none

fix: assign instruments on proposal clone
  apps/backend/src/mutations/ProposalMutations.ts
Due: npm run lint:backend

remove logging
  apps/backend/src/mutations/ProposalMutations.ts
Due: npm run lint:backend

use the already defined typeTokenExpiredError
  apps/backend/src/middlewares/graphql.ts
Due: npm run lint:backend

Add const isTokenExpiredError
  apps/backend/src/middlewares/graphql.ts
Due: npm run lint:backend

Remove unecessary nullable field
  apps/backend/src/datasources/CallDataSource.ts
  apps/backend/src/resolvers/mutations/UpdateCallMutation.ts
  apps/frontend/src/graphql/call/updateCallOrder.graphql
Due: npm run lint:backend

allow pdf download when user is not set
  apps/backend/src/factory/pdf/proposal.ts
Due: npm run lint:backend

Add test and remove duplicate test
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

Update apps/e2e/cypress/e2e/proposals.cy.ts
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

drop if check
  apps/backend/src/factory/pdf/proposal.ts
Due: npm run lint:backend

feat: enhance workflow status management by adding prevConnectionId and updating related logic
  apps/backend/src/datasources/postgres/WorkflowDataSource.ts
  apps/backend/src/resolvers/mutations/settings/AddWorkflowStatusMutation.ts
  apps/e2e/cypress/e2e/experimentSafetyReview.cy.ts
  apps/e2e/cypress/e2e/settings.cy.ts
  apps/e2e/cypress/support/e2e.ts
  apps/e2e/cypress/support/initialDBData.ts
  apps/e2e/cypress/support/workflow.ts
  apps/e2e/cypress/types/workflow.d.ts
  apps/frontend/src/components/settings/workflow/StatusNode.tsx
  apps/frontend/src/components/settings/workflow/StatusPicker.tsx
  apps/frontend/src/components/settings/workflow/WorkflowCanvas.tsx
  apps/frontend/src/components/settings/workflow/WorkflowEdge.tsx
  apps/frontend/src/components/settings/workflow/WorkflowEditor.tsx
  apps/frontend/src/graphql/settings/addWorkflowStatus.graphql
  apps/frontend/src/hooks/settings/usePersistWorkflowEditorModel.ts
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

hotfix: api token download for pdfs (#1155)
  apps/backend/src/factory/pdf/proposal.ts
Due: npm run lint:backend

fix: assign instruments on proposal clone (#1154)
  apps/backend/src/mutations/ProposalMutations.ts
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e, npm run lint:backend

fix: update test description for role switching and refine connection selector in personal information tests after Workflow overhaul part #1
  apps/e2e/cypress/e2e/personalInformation.cy.ts
Due: npm run lint:e2e

chore: merge back hotfix (#1156)
  apps/backend/src/factory/pdf/proposal.ts
Due: npm run lint:backend

Remove accidental leftover optional marker
  apps/backend/src/resolvers/mutations/UpdateCallMutation.ts
Due: npm run lint:backend

fix: status events not showing up
  apps/frontend/src/components/settings/workflow/WorkflowEdge.tsx
  apps/frontend/src/components/settings/workflow/WorkflowEditor.tsx
  apps/frontend/src/components/settings/workflow/WorkflowEditorModel.tsx
Due: npm run lint:frontend

fix: bug with rendering status action on the node
  apps/frontend/src/components/settings/workflow/WorkflowEditor.tsx
Due: npm run lint:frontend

fix: update posY to 200 and add prevConnectionId in workflow-related tests and components
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/calls.cy.ts
  apps/e2e/cypress/e2e/experimentSafetyReview.cy.ts
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/e2e/cypress/e2e/settings.cy.ts
  apps/e2e/cypress/e2e/statusActions.cy.ts
  apps/e2e/cypress/e2e/techniqueProposals.cy.ts
  apps/e2e/cypress/support/workflow.ts
  apps/frontend/src/components/settings/workflow/WorkflowEdge.tsx
  apps/frontend/src/components/settings/workflow/WorkflowEditor.tsx
Due: npm run lint:e2e, npm run lint:frontend

Change PDF data identifiers
  apps/backend/src/factory/pdf/proposal.ts
Due: npm run lint:backend

Add character count
  apps/frontend/src/components/questionary/questionaryComponents/ProposalBasis/QuestionaryComponentProposalBasis.tsx
Due: npm run lint:frontend

Update patch sequence
  apps/backend/db_patches/0199_AddPregeneratedProposalDownloadsFeature.sql
Due: none

Path conditions:
  npm run lint:e2e: any of: apps/e2e/**/*.{js,ts,jsx,tsx}
  npm run lint:frontend: any of: apps/frontend/**/*.{js,ts,jsx,tsx}
  npm run lint:backend: any of: apps/backend/**/*.{js,ts,jsx,tsx}
