Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Fix review comments
  apps/backend/src/middlewares/factory/zip.ts
  apps/frontend/src/hooks/proposal/useDownloadPDFProposal.ts
Due: npm run lint:frontend, npm run lint:backend

Review comment
  apps/backend/src/middlewares/factory/pdf/download.ts
Due: npm run lint:backend

Change pdf zip filename
  .github/workflows/test-build.yml
  apps/backend/src/middlewares/factory/pdf/download.ts
Due: npm run lint:backend

Test fix
  apps/e2e/cypress/support/fileUtilTasks.ts
Due: npm run lint:e2e

File name changed
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
Due: npm run lint:e2e

Stlying issues fix
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
Due: npm run lint:e2e

Add option to download as zip
  apps/backend/src/factory/service.ts
  apps/backend/src/middlewares/factory/zip.ts
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/components/proposal/TableActionsDropdownMenu.tsx
  apps/frontend/src/context/DownloadContextProvider.tsx
  apps/frontend/src/hooks/proposal/useDownloadPDFProposal.ts
Due: npm run lint:frontend, npm run lint:backend

Label change
  apps/frontend/src/components/proposal/TableActionsDropdownMenu.tsx
Due: npm run lint:frontend

Fix test
  apps/e2e/cypress/e2e/instruments.cy.ts
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
Due: npm run lint:e2e

e2e tests
  apps/backend/src/middlewares/factory/zip.ts
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/components/proposal/TableActionsDropdownMenu.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Test fix
  apps/e2e/cypress/e2e/instruments.cy.ts
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
Due: npm run lint:e2e

Test fix
  apps/e2e/cypress.config.ts
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
  apps/e2e/cypress/support/fileUtilTasks.ts
  apps/e2e/package-lock.json
  apps/e2e/package.json
Due: npm run lint:e2e

Add icon for dropdown
  apps/frontend/src/components/proposal/TableActionsDropdownMenu.tsx
Due: npm run lint:frontend

Branch name revert
  .github/workflows/test-build.yml
Due: none

make default num fap reviews into a setting
  apps/backend/src/datasources/AdminDataSource.ts
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/mockups/AdminDataSource.ts
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/postgres/AdminDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/datasources/stfc/StfcFapDataSource.ts
  apps/backend/src/models/Settings.ts
  apps/backend/src/mutations/FapMutations.spec.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/backend/src/mutations/FeedbackMutations.ts
  apps/backend/src/resolvers/mutations/AssignMembersToFapMutation.ts
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/graphql/fap/massAssignReviews.graphql
Due: npm run lint:frontend, npm run lint:backend

fix the assignment of proposal to multiple FAPs
  apps/backend/db_patches/0151_MultipleFapPerProposal.sql
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/events/event.enum.ts
  apps/backend/src/mutations/FapMutations.spec.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/backend/src/populate/index.ts
  apps/backend/src/resolvers/types/ProposalView.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/settings.cy.ts
  apps/e2e/cypress/support/fap.ts
  apps/e2e/cypress/types/fap.d.ts
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/graphql/fap/removeProposalsFromFaps.graphql
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

fix: add option to download multiple proposals as zip (#544)
  apps/backend/src/factory/service.ts
  apps/backend/src/middlewares/factory/zip.ts
  apps/e2e/cypress.config.ts
  apps/e2e/cypress/e2e/instruments.cy.ts
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
  apps/e2e/cypress/support/fileUtilTasks.ts
  apps/e2e/package-lock.json
  apps/e2e/package.json
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/components/proposal/TableActionsDropdownMenu.tsx
  apps/frontend/src/context/DownloadContextProvider.tsx
  apps/frontend/src/hooks/proposal/useDownloadPDFProposal.ts
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Use DataType.EMBELLISHMENT instead of hardcoding
  apps/frontend/src/components/template/QuestionPicker.tsx
Due: npm run lint:frontend

refactor: remove oauth_access_token column from users table
  apps/backend/db_patches/0152_RemoveOAuthAccessToken.sql
  apps/backend/src/auth/OAuthAuthorization.ts
  apps/backend/src/datasources/UserDataSource.ts
  apps/backend/src/datasources/mockups/UserDataSource.ts
  apps/backend/src/datasources/postgres/UserDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/backend/src/models/User.ts
Due: npm run lint:backend

refactor: remove oauth_access_token from db seeds script
  apps/backend/db_patches/db_seeds/0002_InstrumentScientiests.sql
Due: none

fixes fap e2e test
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

fixes adminqueries unit test
  apps/backend/src/queries/AdminQueries.spec.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e, npm run lint:backend

try to fix e2e test
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

renames DEFAULT_NUM_REVIEWS_REQUIRED setting
  apps/backend/src/datasources/mockups/AdminDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/models/Settings.ts
Due: npm run lint:backend

fix proposal view for instrument scientists
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

feat: mass assign needed reviewers to FAP proposals (#550)
  apps/backend/src/datasources/AdminDataSource.ts
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/mockups/AdminDataSource.ts
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/postgres/AdminDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/datasources/stfc/StfcFapDataSource.ts
  apps/backend/src/models/Settings.ts
  apps/backend/src/mutations/FapMutations.spec.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/backend/src/mutations/FeedbackMutations.ts
  apps/backend/src/queries/AdminQueries.spec.ts
  apps/backend/src/queries/FapQueries.spec.ts
  apps/backend/src/resolvers/mutations/AssignMembersToFapMutation.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/support/initialDBData.ts
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/graphql/fap/massAssignReviews.graphql
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

feat: update instrument availability during meeting
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/frontend/src/components/fap/MeetingComponents/FapMeetingInstrumentsTable.tsx
  apps/frontend/src/components/fap/MeetingComponents/FapUpdateInstrumentTime.tsx
Due: npm run lint:e2e, npm run lint:frontend

refactor: remove oauth_access_token column from users table (#576)
  apps/backend/db_patches/0152_RemoveOAuthAccessToken.sql
  apps/backend/db_patches/db_seeds/0002_InstrumentScientiests.sql
  apps/backend/src/auth/OAuthAuthorization.ts
  apps/backend/src/datasources/UserDataSource.ts
  apps/backend/src/datasources/mockups/UserDataSource.ts
  apps/backend/src/datasources/postgres/UserDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/backend/src/models/User.ts
Due: npm run lint:backend

test: craft-pr-description action test
  README.md
Due: none

test: description auto generate
  README.md
Due: none

test: test push - do not merge!
  apps/backend/src/config/utils.ts
Due: npm run lint:backend

feat: add weeks to time allocations on call
  apps/backend/db_patches/0153_UpdateCallTimeAllocationCheck.sql
  apps/backend/src/models/Call.ts
Due: npm run lint:backend

restructure and re-design of the proposal FAP assignments
  apps/backend/db_patches/0151_MultipleFapPerProposal.sql
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/eventHandlers/messageBroker.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/events/event.enum.ts
  apps/backend/src/models/Fap.ts
  apps/backend/src/models/ProposalView.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/backend/src/populate/index.ts
  apps/backend/src/resolvers/mutations/AssignProposalsToFapsMutation.ts
  apps/backend/src/resolvers/types/ProposalView.ts
  apps/frontend/src/components/common/FormikUIAutocomplete.tsx
  apps/frontend/src/components/fap/Proposals/AssignProposalsToFaps.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/graphql/fap/assignProposalsToFaps.graphql
  apps/frontend/src/graphql/fap/removeProposalsFromFaps.graphql
  apps/frontend/src/graphql/proposal/getProposalsCore.graphql
Due: npm run lint:frontend, npm run lint:backend

fix:cascade proposal deletion to fap proposals table
  apps/backend/db_patches/0153_AlterFapProposals.sql
Due: none

try to improve the whole structure of the proposal view
  apps/backend/db_patches/0151_MultipleFapPerProposal.sql
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/Fap.ts
  apps/backend/src/models/ProposalView.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/backend/src/populate/index.ts
  apps/backend/src/resolvers/types/ProposalView.ts
  apps/frontend/src/components/fap/Proposals/AssignProposalsToFaps.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/hooks/instrument/useInstrumentsByIdsData.ts
Due: npm run lint:frontend, npm run lint:backend

update message broker time allocations
  apps/backend/src/eventHandlers/messageBroker.ts
Due: npm run lint:backend

fixing lint issues and finalizing the refactor
  apps/backend/db_patches/0151_MultipleFapPerProposal.sql
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/backend/src/models/ProposalView.ts
  apps/backend/src/mutations/FapMutations.spec.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/backend/src/resolvers/types/ProposalView.ts
  apps/frontend/src/components/fap/Proposals/AssignProposalsToFaps.tsx
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/graphql/proposal/getInstrumentScientistProposals.graphql
  apps/frontend/src/graphql/proposal/getProposalsCore.graphql
  apps/frontend/src/hooks/proposal/useProposalsCoreData.ts
  apps/frontend/src/utils/helperFunctions.tsx
Due: npm run lint:frontend, npm run lint:backend

reduce data dupplication and make filters work with jsonb fields
  apps/backend/db_patches/0151_MultipleFapPerProposal.sql
  apps/backend/docker-compose-stfc.e2e.yml
  apps/backend/docker-compose.e2e.yml
  apps/backend/docker-compose.yml
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  docker-compose.yml
Due: npm run lint:frontend, npm run lint:backend

changes to display PI name and country in meeting component fap instrument proposal table
  apps/backend/src/datasources/mockups/UserDataSource.ts
  apps/backend/src/datasources/postgres/AdminDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/datasources/postgres/InstrumentDataSource.ts
  apps/backend/src/datasources/postgres/UserDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/datasources/stfc/StfcInstrumentDataSource.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/backend/src/models/User.ts
  apps/backend/src/queries/UserQueries.ts
  apps/backend/src/resolvers/types/BasicUserDetails.ts
  apps/frontend/src/components/fap/MeetingComponents/FapInstrumentProposalsTable.tsx
  apps/frontend/src/components/visit/CreateVisitRegistration.tsx
  apps/frontend/src/graphql/fap/getFapProposalsByInstrument.graphql
  apps/frontend/src/graphql/user/fragment.basicUserInformation.graphql
Due: npm run lint:frontend, npm run lint:backend

making country field nullable true
  apps/backend/src/resolvers/types/BasicUserDetails.ts
Due: npm run lint:backend

Path conditions:
  npm run lint:e2e: any of: apps/e2e/**/*.{js,ts,jsx,tsx}
  npm run lint:frontend: any of: apps/frontend/**/*.{js,ts,jsx,tsx}
  npm run lint:backend: any of: apps/backend/**/*.{js,ts,jsx,tsx}
