Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

.lintstagedrc.json:

{
  "apps/e2e/**/*.{js,ts,jsx,tsx}": ["npm run lint:e2e"],
  "apps/frontend/**/*.{js,ts,jsx,tsx}": ["npm run lint:frontend"],
  "apps/backend/**/*.{js,ts,jsx,tsx}": ["npm run lint:backend"]
}

Fix tests and add test to chair and sec
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

fixes dodgy variable name
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
Due: npm run lint:frontend

fix: prevent proposal administration without instrument assigned (#631)
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
  apps/frontend/src/components/proposal/ProposalAdmin.tsx
Due: npm run lint:e2e, npm run lint:frontend

feat: add option to easily filter multi-instrument proposals (#630)
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/backend/src/resolvers/queries/ProposalsQuery.ts
  apps/e2e/cypress/e2e/instruments.cy.ts
  apps/frontend/src/components/call/CallsTable.tsx
  apps/frontend/src/components/common/proposalFilters/InstrumentFilter.tsx
  apps/frontend/src/components/fap/Proposals/FapAssignedReviewersTable.tsx
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/components/instrument/InstrumentTable.tsx
  apps/frontend/src/components/proposal/ProposalFilterBar.tsx
  apps/frontend/src/components/proposal/ProposalPage.tsx
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/components/proposalBooking/InstrSciUpcomingExperimentTimesTable.tsx
  apps/frontend/src/components/review/ProposalTableReviewer.tsx
  apps/frontend/src/hooks/proposal/useProposalsCoreData.ts
  apps/frontend/src/hooks/proposal/useProposalsData.ts
  apps/frontend/src/hooks/proposalBooking/useProposalBookingsScheduledEvents.ts
  apps/frontend/src/hooks/user/useUserData.ts
  apps/frontend/src/utils/helperFunctions.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

revert some unwanted changes
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/factory/xlsx/fap.ts
  apps/backend/src/models/Instrument.ts
  apps/backend/src/resolvers/CustomScalars.ts
Due: npm run lint:backend

fix: auto FAP assignment when instrument is assigned to multiple calls (#637)
  apps/backend/src/mutations/FapMutations.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e, npm run lint:backend

fix tests again
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

Remove unneeded step
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

small fixes
  apps/backend/src/factory/xlsx/callFaps.ts
Due: npm run lint:backend

review comments incorporation - using faker randon numeric to generate random numbers
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

adding new config requestTime in instrument picker question in template_export json - this is to fix failing test case
  apps/e2e/cypress/fixtures/template_export.json
Due: none

review comments incorporation
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/QuestionaryComponentInstrumentPicker.tsx
Due: npm run lint:frontend

fix for failing test case in templatesBasic
  apps/frontend/src/models/questionary/ConditionEvaluator.ts
Due: npm run lint:frontend

add some new UI components
  apps/frontend/src/components/common/FormikCheckboxWithLabel.tsx
  apps/frontend/src/components/common/predefinedMessages/FormikUIPredefinedMessagesTextField.tsx
  apps/frontend/src/components/proposal/ProposalAdmin.tsx
  apps/frontend/src/components/review/ProposalTechnicalReview.tsx
Due: npm run lint:frontend

fix e2e tests
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

Basic tests
  apps/e2e/cypress/e2e/techniques.cy.ts
Due: npm run lint:e2e

Add GraphQL groundwork
  apps/backend/src/config/Tokens.ts
  apps/backend/src/context/index.ts
  apps/backend/src/datasources/TechniqueDataSource.ts
  apps/backend/src/datasources/postgres/TechniqueDataSource.ts
  apps/backend/src/models/Technique.ts
  apps/backend/src/mutations/TechniqueMutations.ts
  apps/backend/src/queries/TechniqueQueries.ts
  apps/backend/src/resolvers/types/Technique.ts
Due: npm run lint:backend

Add technique creation
  apps/backend/db_patches/0157_AddTechniques.sql
  apps/backend/src/datasources/postgres/TechniqueDataSource.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/events/event.enum.ts
  apps/backend/src/mutations/TechniqueMutations.ts
  apps/frontend/src/components/technique/CreateUpdateTechnique.tsx
  apps/frontend/src/components/technique/CreateUpdateTechniques.tsx
  apps/frontend/src/components/technique/TechniqueTable.tsx
Due: npm run lint:frontend, npm run lint:backend

Fix naming
  apps/backend/src/resolvers/mutations/CreateTechniqueMutation.ts
  apps/backend/src/resolvers/mutations/DeleteTechniqueMutation.ts
  apps/backend/src/resolvers/types/Technique.ts
Due: npm run lint:backend

Add techniques patch
  apps/backend/db_patches/0157_AddTechniques.sql
Due: none

Revert "Move validation to user-office-lib"
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/mutations/Technique/index.ts
  apps/backend/src/mutations/TechniqueMutations.ts
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/components/technique/AssignInstrumentsToTechniques.tsx
  apps/frontend/src/components/technique/AssignedInstrumentsTable.tsx
  apps/frontend/src/components/technique/CreateUpdateInstrument.tsx
  apps/frontend/src/components/technique/CreateUpdateTechnique.tsx
  apps/frontend/src/components/technique/TechniquesPage.tsx
Due: npm run lint:frontend, npm run lint:backend

Basic test cases
  apps/e2e/cypress/e2e/techniques.cy.ts
Due: npm run lint:e2e

Get Technique flow
  apps/backend/src/datasources/TechniqueDataSource.ts
  apps/backend/src/datasources/postgres/TechniqueDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/resolvers/queries/TechniqueQuery.ts
  apps/frontend/src/components/DashBoard.tsx
  apps/frontend/src/components/technique/CreateUpdateInstrument.tsx
  apps/frontend/src/components/technique/TechniqueTable.tsx
  apps/frontend/src/graphql/technique/getTechnique.graphql
  apps/frontend/src/graphql/technique/getTechniques.graphql
  apps/frontend/src/hooks/technique/useTechniquesData.ts
Due: npm run lint:frontend, npm run lint:backend

Correction in get instruments flow
  apps/backend/src/datasources/TechniqueDataSource.ts
  apps/backend/src/datasources/postgres/TechniqueDataSource.ts
  apps/backend/src/resolvers/types/Technique.ts
Due: npm run lint:backend

Fix schema generation
  apps/backend/src/datasources/TechniqueDataSource.ts
  apps/frontend/src/graphql/technique/assignInstrumentsToTechnique.graphql
  apps/frontend/src/graphql/technique/removeInstrumentsFromTechnique.graphql
Due: npm run lint:backend

Fix technique delete flow
  apps/frontend/src/components/technique/TechniqueTable.tsx
Due: npm run lint:frontend

Assign instruments flow
  apps/frontend/src/components/technique/AssignInstrumentsToTechniques.tsx
  apps/frontend/src/components/technique/TechniqueTable.tsx
  apps/frontend/src/hooks/instrument/useInstruments.ts
Due: npm run lint:frontend

Add technique e2e cypress commands
  apps/e2e/cypress/support/technique.ts
  apps/e2e/cypress/types/technique.d.ts
Due: npm run lint:e2e

Add backend tests
  apps/backend/src/mutations/TechniqueMutations.spec.ts
Due: npm run lint:backend

Link technique setting commands
  apps/frontend/src/components/technique/TechniqueTable.tsx
Due: npm run lint:frontend

Fix technique deletion
  apps/backend/db_patches/0157_AddTechniques.sql
  apps/e2e/cypress/e2e/techniques.cy.ts
  apps/frontend/src/components/technique/TechniqueTable.tsx
Due: npm run lint:e2e, npm run lint:frontend

Add initial backend testing
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/datasources/mockups/InstrumentDataSource.ts
  apps/backend/src/datasources/mockups/TechniqueDataSource.ts
  apps/backend/src/mutations/TechniqueMutations.spec.ts
  apps/backend/src/queries/TechniqueQueries.spec.ts
Due: npm run lint:backend

Query unit test cases
  apps/backend/src/queries/TechniqueQueries.spec.ts
  apps/backend/src/queries/TechniqueQueries.ts
Due: npm run lint:backend

Get techniques flow
  apps/backend/src/datasources/TechniqueDataSource.ts
  apps/backend/src/datasources/postgres/TechniqueDataSource.ts
  apps/backend/src/resolvers/types/Technique.ts
  apps/frontend/src/components/technique/AssignedInstrumentsTable.tsx
  apps/frontend/src/components/technique/AssignedScientistsTable.tsx
  apps/frontend/src/components/technique/TechniqueTable.tsx
  apps/frontend/src/graphql/technique/technique.fragment.graphql
Due: npm run lint:frontend, npm run lint:backend

Fix typos
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/events/event.enum.ts
  apps/frontend/src/components/technique/CreateUpdateInstrument.tsx
Due: npm run lint:frontend, npm run lint:backend

Minor corrections
  apps/frontend/src/components/technique/AssignInstrumentsToTechniques.tsx
Due: npm run lint:frontend

Frontend grapghql changes
  apps/backend/src/buildContext.ts
  apps/backend/src/config/dependencyConfigDefault.ts
  apps/backend/src/config/dependencyConfigE2E.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/context/index.ts
  apps/frontend/src/components/technique/TechniqueTable.tsx
  apps/frontend/src/graphql/technique/createTechnique.graphql
  apps/frontend/src/graphql/technique/deleteTechnique.graphql
  apps/frontend/src/graphql/technique/getTechnique.graphql
  apps/frontend/src/graphql/technique/getTechniques.graphql
  apps/frontend/src/graphql/technique/technique.fragment.graphql
  apps/frontend/src/graphql/technique/updateTechnique.graphql
  apps/frontend/src/hooks/technique/useTechniquesData.ts
Due: npm run lint:frontend, npm run lint:backend

New page creation
  apps/frontend/src/components/DashBoard.tsx
  apps/frontend/src/components/menu/MenuItems.tsx
  apps/frontend/src/components/technique/AssignedScientistsTable.tsx
  apps/frontend/src/components/technique/CreateUpdateTechniques.tsx
  apps/frontend/src/components/technique/TechniqueTable.tsx
  apps/frontend/src/components/technique/TechniquesPage.tsx
Due: npm run lint:frontend

Add technique e2e base
  apps/e2e/cypress/e2e/techniques.cy.ts
Due: npm run lint:e2e

Revert changing id to techniqueId
  apps/backend/src/datasources/mockups/TechniqueDataSource.ts
  apps/backend/src/datasources/postgres/TechniqueDataSource.ts
  apps/backend/src/models/Technique.ts
  apps/backend/src/mutations/TechniqueMutations.spec.ts
  apps/backend/src/mutations/TechniqueMutations.ts
  apps/backend/src/resolvers/mutations/UpdateTechniqueMutations.ts
  apps/backend/src/resolvers/types/Technique.ts
  apps/frontend/src/components/technique/CreateUpdateTechnique.tsx
  apps/frontend/src/components/technique/TechniqueTable.tsx
  apps/frontend/src/graphql/technique/deleteTechnique.graphql
  apps/frontend/src/graphql/technique/technique.fragment.graphql
  apps/frontend/src/graphql/technique/updateTechnique.graphql
Due: npm run lint:frontend, npm run lint:backend
