Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

.lintstagedrc.json:

{
  "apps/e2e/**/*.{js,ts,jsx,tsx}": ["npm run lint:e2e"],
  "apps/frontend/**/*.{js,ts,jsx,tsx}": ["npm run lint:frontend"],
  "apps/backend/**/*.{js,ts,jsx,tsx}": ["npm run lint:backend"]
}

feat: Allow for rank assignment durning mass reviewer assignment
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/resolvers/mutations/AssignMembersToFapMutation.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/frontend/src/components/fap/Proposals/AssignFapMemberToProposalModal.tsx
  apps/frontend/src/components/fap/Proposals/FapAssignedReviewersTable.tsx
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/components/fap/Proposals/MultiRankAssignmentDialog.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Fix timing and enter key issues
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/e2e/cypress/e2e/invites.cy.ts
  apps/frontend/src/components/proposal/InviteUser.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Fix missing dependency warning
  apps/frontend/src/components/proposal/InviteUser.tsx
Due: npm run lint:frontend

Fix mistake in test
  apps/e2e/cypress/e2e/invites.cy.ts
Due: npm run lint:e2e

Prevent accidental user delete with backspace
  apps/e2e/cypress/e2e/invites.cy.ts
  apps/frontend/src/components/proposal/InviteUser.tsx
Due: npm run lint:e2e, npm run lint:frontend

fix: stfc add non searchable users as user officer
  apps/backend/src/datasources/UserDataSource.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/backend/src/queries/UserQueries.ts
Due: npm run lint:backend

Prevent users from inviting themselves
  apps/e2e/cypress/e2e/invites.cy.ts
  apps/frontend/src/components/common/UserManagementTable.tsx
Due: npm run lint:e2e, npm run lint:frontend

feat: add backend and frontend development instructions for project standards and best practices
  .github/copilot-instructions.md
  .github/instructions/backend.instructions.md
  .github/instructions/frontend.instructions.md
Due: none

refactor: adapt the InviteUser co-proposer dialog to work with other features (#1161)
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/e2e/cypress/e2e/invites.cy.ts
  apps/frontend/src/components/common/StyledDialog.tsx
  apps/frontend/src/components/common/UserManagementTable.tsx
  apps/frontend/src/components/proposal/InviteUser.tsx
  apps/frontend/src/components/proposal/NoOptionsText.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

feat: replace InviteUser with ParticipantSelector for improved participant management
  apps/frontend/src/components/common/UserManagementTable.tsx
  apps/frontend/src/components/proposal/ParticipantSelector.tsx
Due: npm run lint:frontend

feat: add tooltip to add participant button for better user guidance
  apps/frontend/src/components/common/UserManagementTable.tsx
  apps/frontend/src/components/proposal/ProposalParticipants.tsx
Due: npm run lint:frontend

feat: update ParticipantSelector title for clarity in user management
  apps/frontend/src/components/common/UserManagementTable.tsx
  apps/frontend/src/components/proposal/ParticipantSelector.tsx
  apps/frontend/src/components/proposal/ProposalParticipant.tsx
Due: npm run lint:frontend

fix: restore vite.config.mts
  apps/frontend/vite.config.mts
Due: none

feat: non numeric grades for faps WIP
  apps/backend/db_patches/200_ChangeFapGradeToString.sql
  apps/backend/src/config/stfc/configureSTFCEnvironment.ts
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/mockups/ReviewDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/Review.ts
  apps/backend/src/models/questionTypes/FapReviewBasis.ts
  apps/backend/src/mutations/ReviewMutations.spec.ts
  apps/backend/src/resolvers/mutations/UpdateReviewMutation.ts
  apps/backend/src/resolvers/types/FieldConfig.ts
  apps/backend/src/resolvers/types/Review.ts
  apps/backend/src/utils/mathFunctions.ts
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/components/questionary/questionaryComponents/FapReviewBasis/QuestionFapReviewBasisForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/FapReviewBasis/QuestionTemplateRelationFapReviewBasisForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/FapReviewBasis/QuestionaryComponentFapReviewBasis.tsx
  apps/frontend/src/components/questionary/questionaryComponents/FapReviewBasis/createFapReviewBasisValidationSchema.ts
  apps/frontend/src/components/review/ProposalTableReviewer.tsx
  apps/frontend/src/components/review/ReviewQuestionary.tsx
  apps/frontend/src/components/review/ReviewSummary.tsx
  apps/frontend/src/graphql/review/updateReview.graphql
  apps/frontend/src/graphql/template/fragment.fieldConfig.graphql
  apps/frontend/src/utils/mathFunctions.ts
Due: npm run lint:frontend, npm run lint:backend

feat: non numeric grades for faps WIP
  apps/frontend/src/components/fap/Proposals/MultiRankAssignmentDialog.tsx
Due: npm run lint:frontend

expose graphql client name as metric label
  apps/backend/src/middlewares/metrics/apolloServerMetricsPlugin.ts
Due: npm run lint:backend

fix test
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

fix: e2e tests
  apps/backend/db_patches/db_seeds/0007_EmailTemplates.sql
  apps/e2e/cypress/e2e/statusActions.cy.ts
  apps/e2e/cypress/support/initialDBData.ts
  apps/frontend/src/components/settings/workflow/EmailActionConfig.tsx
Due: npm run lint:e2e, npm run lint:frontend

feat: implement CoProposers and PrincipalInvestigator components for enhanced user management
  apps/frontend/src/components/proposal/CoProposers.tsx
  apps/frontend/src/components/proposal/NoOptionsText.tsx
  apps/frontend/src/components/proposal/ParticipantSelector.tsx
  apps/frontend/src/components/proposal/PrincipalInvestigator.tsx
  apps/frontend/src/components/proposal/ProposalParticipants.tsx
  apps/frontend/src/components/questionary/questionaryComponents/ProposalBasis/QuestionaryComponentProposalBasis.tsx
Due: npm run lint:frontend

refactor: streamline copilot instructions by removing redundant sections and clarifying backend and frontend references
  .github/copilot-instructions.md
Due: none

refactor: remove copilot instructions file to streamline documentation
  .github/copilot-instructions.md
Due: none

fix: remove testing files
  .github/copilot-instructions.md
  .github/instructions/backend.instructions.md
  .github/instructions/frontend.instructions.md
Due: none

Add backend check for submission for PDF download
  apps/backend/src/factory/pdf/proposal.ts
Due: npm run lint:backend

fix: update email folder for temporary template files
  apps/backend/src/eventHandlers/MailService/MailService.ts
Due: npm run lint:backend

Merge develop into SWAP-4829
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/e2e/cypress/e2e/invites.cy.ts
  apps/frontend/src/components/common/StyledDialog.tsx
  apps/frontend/src/components/common/UserManagementTable.tsx
  apps/frontend/src/components/proposal/CoProposers.tsx
  apps/frontend/src/components/proposal/NoOptionsText.tsx
  apps/frontend/src/components/proposal/ParticipantSelector.tsx
  apps/frontend/src/components/proposal/PrincipalInvestigator.tsx
  package-lock.json
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

feat: add SQL patch to clarify email search description for improved user understanding
  apps/backend/db_patches/0200_Update_email_search_description.sql
Due: none

fix: update Mail service for e2e run
  apps/backend/src/eventHandlers/MailService/MailService.ts
Due: npm run lint:backend

Do not add proposer as exludedUserIds
  .lintstagedrc.json
  apps/frontend/src/components/proposal/PrincipalInvestigator.tsx
Due: npm run lint:frontend

fix: update lint-staged configuration to use echo commands and remove ProposalParticipants component
  apps/frontend/src/components/proposal/ProposalParticipants.tsx
Due: npm run lint:frontend

feat: expose graphql client name as metric label (#1175)
  apps/backend/src/middlewares/metrics/apolloServerMetricsPlugin.ts
Due: npm run lint:backend

fix: change email templates verification
  apps/backend/src/eventHandlers/MailService/MailService.ts
Due: npm run lint:backend

fix: update email temp directory
  apps/backend/src/eventHandlers/MailService/MailService.ts
  apps/backend/src/eventHandlers/MailService/SMTPMailService.ts
Due: npm run lint:backend

Add submit to e2e tests
  apps/e2e/cypress/e2e/pregeneratedPdfs.cy.ts
Due: npm run lint:e2e

feat: update proposal tests to disable legacy email invite feature and adjust user selection process
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

Remove unecessary submits in e2e tests
  apps/e2e/cypress/e2e/pregeneratedPdfs.cy.ts
Due: npm run lint:e2e

fix: update e2d for email templates
  apps/e2e/cypress/e2e/statusActions.cy.ts
  apps/e2e/cypress/support/statusActionLogs.ts
  apps/e2e/cypress/types/statusActionLog.d.ts
Due: npm run lint:e2e

Update .github/instructions/backend.instructions.md
  .github/instructions/backend.instructions.md
Due: none

fix: update e2d for email templates
  apps/backend/src/eventHandlers/MailService/SMTPMailService.ts
Due: npm run lint:backend

Remove pre-submission proposals from e2e test
  apps/e2e/cypress/e2e/pregeneratedPdfs.cy.ts
Due: npm run lint:e2e
