Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

PR review fixes
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/datasources/postgres/InstrumentDataSource.ts
  apps/backend/src/datasources/postgres/ReviewDataSource.ts
  apps/backend/src/factory/xlsx/fap.ts
  apps/frontend/src/components/fap/MeetingComponents/FapInstrumentProposalsTable.tsx
  apps/frontend/src/components/review/AssignTechnicalReview.tsx
Due: npm run lint:frontend, npm run lint:backend

try to use docker compose v2 syntax
  README.md
  apps/backend/package.json
Due: none

revert back some filtering change
  apps/backend/src/datasources/postgres/FapDataSource.ts
Due: npm run lint:backend

cleanup some merge changes
  apps/backend/src/factory/xlsx/fap.ts
  apps/backend/src/mutations/InstrumentMutations.ts
Due: npm run lint:backend

feat: mass submit completed meeting decisions
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/backend/src/resolvers/mutations/FapMeetingDecisionMutation.ts
  apps/backend/src/resolvers/types/FapProposal.ts
  apps/frontend/src/components/fap/MeetingComponents/FapInstrumentProposalsTable.tsx
  apps/frontend/src/components/fap/MeetingComponents/FapMeetingInstrumentsTable.tsx
  apps/frontend/src/graphql/fap/submitFapMeetingDecisions.graphql
Due: npm run lint:frontend, npm run lint:backend

fix tinymce editor
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/components/common/TinyEditor.tsx
  apps/frontend/src/components/pages/PageInputBox.tsx
  apps/frontend/src/components/proposal/ProposalTable.tsx
  apps/frontend/src/hooks/user/useRolesData.ts
Due: npm run lint:frontend

introduce createBrowserRouter and our own prompt component
  apps/frontend/src/components/App.tsx
  apps/frontend/src/components/common/PromptIfDirty.tsx
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/FinalRankingForm.tsx
  apps/frontend/src/components/proposal/ProposalAdmin.tsx
  apps/frontend/src/components/questionary/QuestionaryStepView.tsx
  apps/frontend/src/components/review/ProposalGrade.tsx
  apps/frontend/src/components/review/ProposalTechnicalReview.tsx
  apps/frontend/src/hooks/common/usePrompt.ts
Due: npm run lint:frontend

missed merge clean up
  apps/backend/src/mutations/InstrumentMutations.ts
Due: npm run lint:backend

Make template edit global
  apps/frontend/src/components/questionary/questionaryComponents/Boolean/QuestionBooleanForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/Boolean/QuestionTemplateRelationBooleanForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/DatePicker/QuestionDateForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/DatePicker/QuestionTemplateRelationDateForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/DynamicMultipleChoice/QuestionDynamicMultipleChoiceForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/DynamicMultipleChoice/QuestionTemplateRelationDynamicMultipleChoiceForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/Embellishment/QuestionEmbellishmentForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/Embellishment/QuestionTemplateRelationEmbellishmentForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/FileUpload/QuestionFileUploadForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/FileUpload/QuestionTemplateRelationFileUploadForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/GenericTemplate/QuestionGenericTemplateForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/GenericTemplate/QuestionTemplateRelationGenericTemplateForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/QuestionInstrumentPickerForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/QuestionTemplateRelationInstrumentPickerForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/Interval/QuestionIntervalForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/Interval/QuestionTemplateRelationIntervalForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/MultipleChoice/QuestionMultipleChoiceForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/MultipleChoice/QuestionTemplateRelationMultipleChoiceForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/NumberInput/QuestionNumberInputForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/NumberInput/QuestionTemplateRelationNumberInputForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/RichTextInput/QuestionRichTextInputForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/RichTextInput/QuestionTemplateRelationRichTextInputForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/SampleDeclaration/QuestionSampleDeclarationForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/SampleDeclaration/QuestionTemplateRelationSampleDeclarationForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/TextInput/QuestionTemplateRelationTextInputForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/TextInput/QuestionTextInputForm.tsx
  apps/frontend/src/components/template/QuestionEditor.tsx
  apps/frontend/src/components/template/QuestionTemplateRelationEditor.tsx
Due: npm run lint:frontend

Add back unecessarly removed lines
  apps/frontend/src/components/questionary/questionaryComponents/Boolean/QuestionTemplateRelationBooleanForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/DatePicker/QuestionTemplateRelationDateForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/DynamicMultipleChoice/QuestionTemplateRelationDynamicMultipleChoiceForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/GenericTemplate/QuestionGenericTemplateForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/QuestionInstrumentPickerForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/QuestionTemplateRelationInstrumentPickerForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/RichTextInput/QuestionTemplateRelationRichTextInputForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/SampleDeclaration/QuestionSampleDeclarationForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/TextInput/QuestionTemplateRelationTextInputForm.tsx
Due: npm run lint:frontend

fix: user officer proposals table sorting (#627)
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

fixes faps e2e tests
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

do some cleanup after resolving merge conflicts
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/mutations/InstrumentMutations.ts
Due: npm run lint:backend

merge cleanup
  apps/backend/src/factory/xlsx/fap.ts
Due: npm run lint:backend

Change to using sx prop
  apps/frontend/src/components/template/QuestionTemplateLabel.tsx
Due: npm run lint:frontend

fix: make it clearer if you are editing a question or a template (#597)
  apps/frontend/src/components/template/QuestionEditor.tsx
  apps/frontend/src/components/template/QuestionTemplateLabel.tsx
  apps/frontend/src/components/template/QuestionTemplateRelationEditor.tsx
Due: npm run lint:frontend

fix e2e tests
  apps/frontend/src/components/call/CallsTable.tsx
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/components/instrument/InstrumentTable.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
Due: npm run lint:frontend

remove test skip
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

fix some broken e2e tests
  apps/frontend/src/components/call/CallsTable.tsx
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/components/instrument/InstrumentTable.tsx
Due: npm run lint:frontend

try fix e2e2 test
  apps/e2e/cypress.config.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

s
  apps/e2e/cypress.config.ts
Due: npm run lint:e2e

fix: prevent proposal administration without instrument assigned
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
  apps/frontend/src/components/proposal/ProposalAdmin.tsx
Due: npm run lint:e2e, npm run lint:frontend

fix type
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

remove only from a test
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
Due: npm run lint:e2e

fix failing e2e test
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
Due: npm run lint:e2e

add comments explaining code
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

WIP
  apps/backend/src/services/assetRegistrar/eam/api/createContainer.ts
  apps/backend/src/services/assetRegistrar/eam/sdk/.gitignore
  apps/backend/src/services/assetRegistrar/eam/sdk/.npmignore
  apps/backend/src/services/assetRegistrar/eam/sdk/.openapi-generator-ignore
  apps/backend/src/services/assetRegistrar/eam/sdk/.openapi-generator/FILES
  apps/backend/src/services/assetRegistrar/eam/sdk/.openapi-generator/VERSION
  apps/backend/src/services/assetRegistrar/eam/sdk/api.ts
  apps/backend/src/services/assetRegistrar/eam/sdk/base.ts
  apps/backend/src/services/assetRegistrar/eam/sdk/common.ts
  apps/backend/src/services/assetRegistrar/eam/sdk/configuration.ts
  apps/backend/src/services/assetRegistrar/eam/sdk/git_push.sh
  apps/backend/src/services/assetRegistrar/eam/sdk/index.ts
Due: npm run lint:backend

fix PR review suggestions
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/backend/src/models/Instrument.ts
  apps/backend/src/resolvers/CustomScalars.ts
  apps/backend/src/resolvers/queries/ProposalsQuery.ts
  apps/frontend/src/components/common/proposalFilters/InstrumentFilter.tsx
  apps/frontend/src/components/proposal/ProposalFilterBar.tsx
  apps/frontend/src/components/proposal/ProposalPage.tsx
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/proposalBooking/InstrSciUpcomingExperimentTimesTable.tsx
  apps/frontend/src/components/review/ProposalTableReviewer.tsx
  apps/frontend/src/hooks/proposal/useProposalsCoreData.ts
  apps/frontend/src/hooks/proposal/useProposalsData.ts
  apps/frontend/src/hooks/proposalBooking/useProposalBookingsScheduledEvents.ts
  apps/frontend/src/hooks/user/useUserData.ts
Due: npm run lint:frontend, npm run lint:backend

fix e2e test
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
Due: npm run lint:backend

Add option to download migrated pdf
  apps/backend/src/config/Tokens.ts
  apps/backend/src/config/dependencyConfigDefault.ts
  apps/backend/src/config/dependencyConfigE2E.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/datasources/IFileDataSource.ts
  apps/backend/src/datasources/mockups/FileDataSource.ts
  apps/backend/src/datasources/postgres/FileDataSource.ts
  apps/backend/src/factory/DownloadService.ts
  apps/backend/src/factory/EssDownloadService.ts
  apps/backend/src/factory/StfcDownloadService.ts
  apps/backend/src/factory/service.ts
  apps/backend/src/middlewares/factory.ts
  apps/backend/src/middlewares/factory/factoryServices.ts
  apps/backend/src/middlewares/factory/pdf/download.ts
  apps/backend/src/middlewares/factory/pdf/preview.ts
  apps/backend/src/middlewares/factory/xlsx.ts
  apps/backend/src/middlewares/factory/zip.ts
Due: npm run lint:backend

try to improve flaky test
  apps/frontend/src/components/fap/Proposals/FapAssignedReviewersTable.tsx
Due: npm run lint:frontend

code changes to fix some issues
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/InstrumentPickerAnswerRenderer.tsx
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/InstrumentPickerDefinition.tsx
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/QuestionaryComponentInstrumentPicker.tsx
Due: npm run lint:frontend

fix: auto FAP assignment when instrument is assigned to multiple calls
  apps/backend/src/mutations/FapMutations.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e, npm run lint:backend

Add tests
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/frontend/src/components/fap/MeetingComponents/FapMeetingInstrumentsTable.tsx
Due: npm run lint:e2e, npm run lint:frontend

nvmfeat: mass submit completed meeting decisions
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/backend/src/resolvers/mutations/FapMeetingDecisionMutation.ts
  apps/backend/src/resolvers/types/FapProposal.ts
  apps/frontend/src/components/fap/MeetingComponents/FapInstrumentProposalsTable.tsx
  apps/frontend/src/components/fap/MeetingComponents/FapMeetingInstrumentsTable.tsx
  apps/frontend/src/graphql/fap/submitFapMeetingDecisions.graphql
Due: npm run lint:frontend, npm run lint:backend

remove only
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

use promise.all
  apps/backend/src/datasources/postgres/FapDataSource.ts
Due: npm run lint:backend

feat: make all pages with tables to expand full-width
  apps/frontend/src/components/call/CallPage.tsx
  apps/frontend/src/components/experiment/ExperimentPage.tsx
  apps/frontend/src/components/fap/FapPage.tsx
  apps/frontend/src/components/fap/FapsPage.tsx
  apps/frontend/src/components/institution/InstitutionPage.tsx
  apps/frontend/src/components/instrument/InstrumentsPage.tsx
  apps/frontend/src/components/pages/HelpPage.tsx
  apps/frontend/src/components/pages/OverviewPage.tsx
  apps/frontend/src/components/pages/PageEditor.tsx
  apps/frontend/src/components/proposalBooking/InstrSciUpcomingExperimentTimesTable.tsx
  apps/frontend/src/components/proposalBooking/UserExperimentsTable.tsx
  apps/frontend/src/components/sample/SampleSafetyPage.tsx
  apps/frontend/src/components/settings/apiAccessTokens/ApiAccessTokensPage.tsx
  apps/frontend/src/components/settings/appSettings/AppSettingsPage.tsx
  apps/frontend/src/components/settings/features/FeaturesPage.tsx
  apps/frontend/src/components/settings/proposalStatus/ProposalStatusesPage.tsx
  apps/frontend/src/components/settings/proposalWorkflow/ProposalWorkflowsPage.tsx
  apps/frontend/src/components/settings/unitList/UnitTablePage.tsx
  apps/frontend/src/components/template/EsiPage.tsx
  apps/frontend/src/components/template/FeedbackTemplatesPage.tsx
  apps/frontend/src/components/template/GenericTemplatesPage.tsx
  apps/frontend/src/components/template/PdfTemplatesPage.tsx
  apps/frontend/src/components/template/ProposalTemplatesPage.tsx
  apps/frontend/src/components/template/QuestionsPage.tsx
  apps/frontend/src/components/template/SampleEsiPage.tsx
  apps/frontend/src/components/template/SampleTemplatesPage.tsx
  apps/frontend/src/components/template/ShipmentTemplatesPage.tsx
  apps/frontend/src/components/template/VisitTemplatesPage.tsx
  apps/frontend/src/components/user/PeoplePage.tsx
Due: npm run lint:frontend

Path conditions:
  npm run lint:e2e: any of: apps/e2e/**/*.{js,ts,jsx,tsx}
  npm run lint:frontend: any of: apps/frontend/**/*.{js,ts,jsx,tsx}
  npm run lint:backend: any of: apps/backend/**/*.{js,ts,jsx,tsx}
