Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Add template name to email logs
  apps/backend/src/statusActionEngine/emailActionHandler.ts
Due: npm run lint:backend

Edit tests to fit new log format
  apps/backend/src/statusActionEngine/emailActionHandler.ts
  apps/e2e/cypress/e2e/statusActions.cy.ts
Due: npm run lint:e2e, npm run lint:backend

Remove duplicate information in log
  apps/backend/src/statusActionEngine/emailActionHandler.ts
Due: npm run lint:backend

update test
  apps/e2e/cypress/e2e/statusActions.cy.ts
Due: npm run lint:e2e

refactor: move stfc role assignments into proposal backend
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/datasources/postgres/InternalReviewDataSource.ts
  apps/backend/src/datasources/stfc/StfcFapDataSource.ts
  apps/backend/src/datasources/stfc/StfcInternalReviewDataSource.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/backend/src/mutations/FapMutations.spec.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/backend/src/resolvers/types/User.ts
Due: npm run lint:backend

e2e test attached
  apps/e2e/cypress/e2e/experimentSafety.cy.ts
Due: npm run lint:e2e

test mock server
  apps/backend/docker-compose-stfc.e2e.yml
Due: none

use correct branch name
  apps/backend/docker-compose-stfc.e2e.yml
Due: none

fix: add email template name to email logs (#1079)
  apps/backend/src/statusActionEngine/emailActionHandler.ts
  apps/e2e/cypress/e2e/statusActions.cy.ts
Due: npm run lint:e2e, npm run lint:backend

feat: add co-proposer invite handling and related events to logging
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/events/event.enum.ts
  apps/backend/src/mutations/InviteMutations.ts
Due: npm run lint:backend

feat: remove facilities for user and add facilities for call
  apps/backend/db_patches/0183_Faclities.sql
  apps/backend/src/datasources/FacilityDataSource.ts
  apps/backend/src/datasources/mockups/FacilityDataSource.ts
  apps/backend/src/datasources/postgres/FacilityDataSource.ts
  apps/backend/src/mutations/FacilityMutations.ts
  apps/backend/src/resolvers/mutations/AssignCallsToFacility.ts
  apps/backend/src/resolvers/types/Facility.ts
  apps/backend/src/resolvers/types/User.ts
  apps/e2e/cypress/e2e/facility.cy.ts
  apps/e2e/cypress/support/facility.ts
  apps/frontend/src/components/facility/CreateUpdateFacility.tsx
  apps/frontend/src/components/facility/FacilityDetailsPanel.tsx
  apps/frontend/src/components/facility/FacilityOverview.tsx
  apps/frontend/src/components/facility/FacilityPage.tsx
  apps/frontend/src/components/facility/FacilityTable.tsx
  apps/frontend/src/components/facility/SelectCallModel.tsx
  apps/frontend/src/graphql/facility/assignCallsToFacility.graphql
  apps/frontend/src/graphql/facility/assignUsersToFacility.graphql
  apps/frontend/src/graphql/facility/getFacilitys.graphql
  apps/frontend/src/graphql/facility/getMyFacilitys.graphql
  apps/frontend/src/graphql/facility/removeCallFromFacility.graphql
  apps/frontend/src/graphql/facility/removeUserFromFacility.graphql
  apps/frontend/src/graphql/instrument/getMyFacilitiesInstruments.graphql
  apps/frontend/src/hooks/facility/useFacilitiesData.ts
  apps/frontend/src/hooks/facility/useMyFacilitiesData.ts
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Add facility to call and instrument objects
  apps/backend/src/datasources/FacilityDataSource.ts
  apps/backend/src/datasources/mockups/FacilityDataSource.ts
  apps/backend/src/datasources/postgres/FacilityDataSource.ts
  apps/backend/src/resolvers/types/Call.ts
  apps/backend/src/resolvers/types/Instrument.ts
Due: npm run lint:backend

fix lint
  apps/frontend/src/components/instrument/AssignedScientistsTable.tsx
  apps/frontend/src/components/technique/AssignedInstrumentsTable.tsx
  apps/frontend/src/components/technique/AssignedScientistsTable.tsx
  apps/frontend/src/components/technique/TechniqueTable.tsx
Due: npm run lint:frontend

add redis client packages
  apps/backend/package-lock.json
  apps/backend/package.json
Due: none

add daterange picker for selecting call start and end date
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/components/call/CallGeneralInfo.tsx
  apps/frontend/src/components/call/CreateUpdateCall.tsx
  apps/frontend/src/components/common/FormikUIDayRangePicker.tsx
Due: npm run lint:frontend

feat: update event handling for co-proposer invitations and logging
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/events/event.enum.ts
  apps/backend/src/mutations/InviteMutations.ts
Due: npm run lint:backend

feat: rename proposal invite events to co-proposer claim events
  apps/backend/src/events/applicationEvents.ts
Due: npm run lint:backend

feat: add Participants component for managing user invitations in proposals
  apps/frontend/src/components/proposal/Participants.tsx
  apps/frontend/src/components/proposalBooking/CreateUpdateVisit.tsx
  apps/frontend/src/components/questionary/questionaryComponents/ProposalBasis/QuestionaryComponentProposalBasis.tsx
Due: npm run lint:frontend

fix: show chips
  apps/frontend/src/components/proposalBooking/CreateUpdateVisit.tsx
Due: npm run lint:frontend

Stop users without external token in stfc mode using the system
  apps/backend/src/auth/StfcUserAuthorization.ts
  apps/backend/src/auth/UserAuthorization.ts
  apps/backend/src/decorators/Authorized.ts
  apps/backend/src/middlewares/graphql.ts
Due: npm run lint:backend

fix backend tests
  apps/backend/src/datasources/mockups/UserDataSource.ts
  apps/backend/src/mutations/QuestionaryMutations.spec.ts
  apps/backend/src/mutations/QuestionaryMutations.ts
Due: npm run lint:backend

add external token to test jwt token
  apps/e2e/cypress.config.ts
Due: npm run lint:e2e

correct cypress tag for assigning role to user
  apps/frontend/src/components/user/RoleTable.tsx
Due: npm run lint:frontend

add cy tag for impersonate button
  apps/frontend/src/components/user/UpdateUserInformation.tsx
Due: npm run lint:frontend

correct name
  apps/frontend/src/components/user/UpdateUserInformation.tsx
Due: npm run lint:frontend

add test for impersonating user
  apps/e2e/cypress/e2e/eventLogs.cy.ts
Due: npm run lint:e2e

fix: remove user officer role from stfc Secretary roles
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
Due: npm run lint:backend

fix download auth with new token requirements for stfc
  apps/backend/src/middlewares/factory.ts
  apps/backend/src/middlewares/factory/pdf/download.ts
  apps/backend/src/middlewares/factory/xlsx.ts
Due: npm run lint:backend

fix: update dialog title in InviteUser component
  apps/frontend/src/components/proposal/InviteUser.tsx
Due: npm run lint:frontend

revert local testing changes
  apps/backend/src/models/questionTypes/FileUpload.ts
Due: npm run lint:backend

update backend logs when impersonate user button is clicked
  apps/backend/src/decorators/EventBus.ts
  apps/backend/src/mutations/UserMutations.ts
Due: npm run lint:backend

store impersonating user in event log table and update impersonation message
  apps/backend/db_patches/0182_AddImpersonatingUserIdToEventLogs.sql
  apps/backend/src/datasources/postgres/EventLogsDataSource.ts
  apps/backend/src/mutations/UserMutations.ts
Due: npm run lint:backend

update test and log message
  apps/backend/src/mutations/UserMutations.ts
  apps/e2e/cypress/e2e/eventLogs.cy.ts
Due: npm run lint:e2e, npm run lint:backend

feat: add VisitRegistrationClaim model and data sources for managing visit registration claims
  apps/backend/db_patches/0182_AddVisitRegistrationClaim.sql
  apps/backend/src/datasources/VisitRegistrationClaimDataSource.ts
  apps/backend/src/datasources/mockups/VisitRegistrationClaimDataSource.ts
  apps/backend/src/datasources/postgres/VisitRegistrationClaimDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/VisitRegistrationClaim.ts
  apps/backend/src/models/VisitRegistrationInvite.ts
  apps/backend/src/resolvers/types/VisitRegistrationClaim.ts
Due: npm run lint:backend

fix: add impersonation logs (#1086)
  apps/backend/db_patches/0182_AddImpersonatingUserIdToEventLogs.sql
  apps/backend/src/datasources/EventLogsDataSource.ts
  apps/backend/src/datasources/postgres/EventLogsDataSource.ts
  apps/backend/src/decorators/EventBus.ts
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/models/EventLog.ts
  apps/backend/src/mutations/UserMutations.ts
  apps/e2e/cypress/e2e/eventLogs.cy.ts
  apps/frontend/src/components/user/RoleTable.tsx
  apps/frontend/src/components/user/UpdateUserInformation.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Adding resolver
  apps/backend/src/datasources/InviteDataSource.ts
  apps/backend/src/datasources/mockups/InviteDataSource.ts
  apps/backend/src/datasources/postgres/InviteDataSource.ts
  apps/backend/src/queries/InviteQueries.ts
  apps/backend/src/resolvers/types/Visit.ts
Due: npm run lint:backend

update comment
  apps/backend/src/decorators/Authorized.ts
Due: npm run lint:backend

adress comments
  apps/backend/src/datasources/stfc/StfcFapDataSource.ts
  apps/backend/src/datasources/stfc/StfcInternalReviewDataSource.ts
  apps/backend/src/mutations/FapMutations.spec.ts
  apps/backend/src/mutations/FapMutations.ts
Due: npm run lint:backend

fix: fix stfc fap export for LSF
  apps/backend/src/factory/xlsx/stfc/StfcFapDataRow.ts
Due: npm run lint:backend

update variable name
  apps/backend/src/factory/xlsx/FapDataRow.ts
  apps/backend/src/factory/xlsx/fap.ts
  apps/backend/src/factory/xlsx/stfc/StfcFapDataRow.ts
Due: npm run lint:backend

Path conditions:
  npm run lint:e2e: any of: apps/e2e/**/*.{js,ts,jsx,tsx}
  npm run lint:frontend: any of: apps/frontend/**/*.{js,ts,jsx,tsx}
  npm run lint:backend: any of: apps/backend/**/*.{js,ts,jsx,tsx}
