Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

.lintstagedrc.json:

{
  "apps/e2e/**/*.{js,ts,jsx,tsx}": ["npm run lint:e2e"],
  "apps/frontend/**/*.{js,ts,jsx,tsx}": ["npm run lint:frontend"],
  "apps/backend/**/*.{js,ts,jsx,tsx}": ["npm run lint:backend"]
}

use new api query on call select page
  apps/frontend/src/components/proposal/ProposalChooseCall.tsx
  apps/frontend/src/hooks/call/useMinimalCallsData.ts
Due: npm run lint:frontend

fix merge conflicts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

fix: replace browser alert/confirm with generic withConfirm wrapper in Questionary and StepView (#806)
  apps/e2e/cypress/e2e/genericTemplates.cy.ts
  apps/e2e/cypress/e2e/templatesAdvanced.cy.ts
  apps/frontend/src/components/questionary/Questionary.tsx
  apps/frontend/src/components/questionary/QuestionaryStepView.tsx
  apps/frontend/src/models/questionary/QuestionarySubmissionState.ts
  apps/frontend/src/models/questionary/useEventHandlers.ts
Due: npm run lint:e2e, npm run lint:frontend

Initial commit
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

URL query params WIP
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Instrument filter backend
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/frontend/src/components/xpress/XpressProposalFilterBar.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/components/xpress/useProposalsCoreData.ts
Due: npm run lint:frontend, npm run lint:backend

Fix URL query params
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/components/xpress/useProposalsCoreData.ts
Due: npm run lint:frontend

Instrument filter frontend
  apps/e2e/cypress/support/technique.ts
  apps/frontend/src/components/xpress/XpressProposalFilterBar.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:e2e, npm run lint:frontend

Feature flag implementation
  apps/backend/db_patches/0163_XpressRouteFeature.sql
  apps/backend/src/config/stfc/configureSTFCEnvironment.ts
  apps/backend/src/models/Feature.ts
  apps/frontend/src/components/AppRoutes.tsx
  apps/frontend/src/components/menu/MenuItems.tsx
  apps/frontend/src/hooks/common/useXpressAccess.tsx
Due: npm run lint:frontend, npm run lint:backend

Proposal filters
  apps/frontend/src/components/xpress/XpressProposalFilterBar.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

fetch query fix
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

Date filter initial commit
  apps/backend/src/resolvers/queries/ProposalsQuery.ts
  apps/backend/src/resolvers/types/Proposal.ts
  apps/frontend/src/components/common/proposalFilters/DateFilter.tsx
  apps/frontend/src/components/xpress/XpressProposalFilterBar.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/components/xpress/useProposalsCoreData.ts
Due: npm run lint:frontend, npm run lint:backend

Addition and fetch of submittedDate field
  apps/backend/db_patches/0161_AddSubmittedDateToProposals.sql
  apps/backend/db_patches/0162_AddSubmittedDateToProposalTableView.sql
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/Proposal.ts
  apps/backend/src/models/ProposalView.ts
  apps/backend/src/mutations/ProposalMutations.ts
  apps/backend/src/resolvers/types/ProposalView.ts
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/graphql/proposal/getTechniqueScientistProposals.graphql
  apps/frontend/src/utils/helperFunctions.tsx
Due: npm run lint:frontend, npm run lint:backend

Fetch proposals initial commit
  apps/backend/db_patches/0163_AddTechniqueHasScientists.sql
  apps/backend/db_patches/0163_AddTechniquePickerDataType.sql
  apps/backend/src/datasources/ProposalDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/backend/src/queries/ProposalQueries.ts
  apps/backend/src/resolvers/queries/ProposalsQuery.ts
  apps/backend/src/resolvers/queries/ProposalsViewQuery.ts
  apps/frontend/src/components/common/proposalFilters/TechniqueFilter.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/components/xpress/useProposalsCoreData.ts
  apps/frontend/src/graphql/proposal/getTechniqueScientistProposals.graphql
Due: npm run lint:frontend, npm run lint:backend

Add super basic table
  apps/frontend/src/components/AppRoutes.tsx
  apps/frontend/src/components/menu/MenuItems.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

minor fixes
  apps/e2e/cypress/e2e/xpress.cy.ts
  apps/frontend/src/components/common/proposalFilters/DateFilter.tsx
Due: npm run lint:e2e, npm run lint:frontend

Add proposal status filter
  apps/frontend/src/components/xpress/XpressProposalFilterBar.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

E2e tests data setup
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

e2e tests continuation
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

Add e2e function for prop to tech
  apps/backend/src/mutations/TechniqueMutations.ts
  apps/backend/src/resolvers/mutations/AssignProposalToTechniquesMutation.ts
  apps/e2e/cypress/support/technique.ts
  apps/e2e/cypress/types/technique.d.ts
  apps/frontend/src/graphql/technique/assignProposalToTechniques.graphql
Due: npm run lint:e2e, npm run lint:backend

Filters correction
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend, npm run lint:backend

Date filter implementation
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/backend/src/resolvers/queries/ProposalsQuery.ts
  apps/frontend/src/components/common/proposalFilters/DateFilter.tsx
  apps/frontend/src/components/xpress/XpressProposalFilterBar.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/components/xpress/useProposalsCoreData.ts
Due: npm run lint:frontend, npm run lint:backend

Start advanced e2e tests
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

basic tests continuation
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e, npm run lint:backend

Add filter label
  apps/frontend/src/components/common/proposalFilters/DateFilter.tsx
Due: npm run lint:frontend

Continue advanced e2e tests
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

E2e basic tests
  apps/e2e/cypress/e2e/xpress.cy.ts
  apps/e2e/cypress/support/technique.ts
  apps/e2e/cypress/types/technique.d.ts
Due: npm run lint:e2e

Add e2e skeleton
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

Add data to tests
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

Date filter final commit
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/frontend/src/components/common/proposalFilters/DateFilter.tsx
Due: npm run lint:frontend, npm run lint:backend

Cy.clock() WIP
  apps/backend/src/datasources/ProposalDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/backend/src/eventHandlers/customHandler.ts
  apps/e2e/cypress.config.ts
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e, npm run lint:backend

Populating submitted date for proposals
  apps/backend/src/datasources/ProposalDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/backend/src/eventHandlers/customHandler.ts
Due: npm run lint:backend

Fix date filter
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/frontend/src/components/common/proposalFilters/DateFilter.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend, npm run lint:backend

Filtering expired proposals for scientist
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/e2e/cypress/e2e/xpress.cy.ts
  apps/e2e/cypress/support/initialDBData.ts
  apps/frontend/src/components/menu/MenuItems.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/components/xpress/useProposalsCoreData.ts
  apps/frontend/src/hooks/technique/useTechniquesData.ts
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Add date filter improvements
  apps/frontend/src/components/common/proposalFilters/DateFilter.tsx
  apps/frontend/src/components/common/proposalFilters/TechniqueFilter.tsx
Due: npm run lint:frontend

remove using url query params
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Add variables part 2
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

Filtering the instruments
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/components/xpress/useXpressInstrumentsData.ts
Due: npm run lint:frontend

Adding new fields to table
  apps/backend/src/datasources/TechniqueDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/mockups/TechniqueDataSource.ts
  apps/backend/src/datasources/postgres/TechniqueDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/ProposalView.ts
  apps/backend/src/queries/TechniqueQueries.ts
  apps/backend/src/resolvers/types/Proposal.ts
  apps/backend/src/resolvers/types/ProposalView.ts
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/graphql/proposal/getProposal.graphql
  apps/frontend/src/graphql/proposal/getTechniqueScientistProposals.graphql
  apps/frontend/src/utils/helperFunctions.tsx
Due: npm run lint:frontend, npm run lint:backend

e2e tests
  apps/backend/src/datasources/ProposalDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/backend/src/eventHandlers/customHandler.ts
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e, npm run lint:backend
