Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

fix: correct destination queue name in RabbitMQ definitions
  apps/backend/rabbitmq-definitions.json
Due: none

fix: update logging handler import in dependency configuration
  apps/backend/src/config/dependencyConfigE2E.ts
Due: npm run lint:backend

WIP
  apps/frontend/src/components/questionary/questionaries/experimentSafetyReview/ExperimentSafetyReviewQuestionaryWizardStep.ts
  apps/frontend/src/components/questionary/questionaryComponents/ExperimentSafetyReviewBasis/QuestionaryComponentExperimentSafetyReviewBasis.tsx
  apps/frontend/src/models/questionary/QuestionarySubmissionState.ts
  apps/frontend/src/models/questionary/experimentSafetyReview/ExperimentSafetyReviewSubmissionState.ts
  apps/frontend/src/models/questionary/useEventHandlers.ts
Due: npm run lint:frontend

fix: update mapping for LoggingHandler in dependency configuration test
  apps/backend/src/config/dependencyConfigTest.ts
Due: npm run lint:backend

fix filters
  apps/backend/src/datasources/CallDataSource.ts
  apps/backend/src/datasources/mockups/CallDataSource.ts
  apps/backend/src/datasources/postgres/CallDataSource.ts
  apps/backend/src/queries/CallQueries.ts
  apps/backend/src/resolvers/queries/CallsQuery.ts
  apps/frontend/src/components/proposal/ProposalTableFacility.tsx
  apps/frontend/src/graphql/call/getCallsByFacilityMember.graphql
  apps/frontend/src/hooks/call/useFacilityCallsData.ts
  apps/frontend/src/hooks/instrument/useInstrumentsMinimalData.ts
  apps/frontend/src/hooks/proposal/useFacilityProposalsDataCore.ts
Due: npm run lint:frontend, npm run lint:backend

Update docs
  documentation/docs/user-guide/user-officer/roles.md
Due: none

WIP
  apps/frontend/src/components/experimentSafetyReview/ExperimentSafetyReviewContainer.tsx
  apps/frontend/src/components/experimentSafetyReview/ExperimentSafetyReviewSummary.tsx
  apps/frontend/src/components/questionary/questionaries/experimentSafetyReview/ExperimentSafetyReviewQuestionaryWizardStep.ts
  apps/frontend/src/components/questionary/questionaryComponents/ExperimentSafetyReviewBasis/QuestionaryComponentExperimentSafetyReviewBasis.tsx
  apps/frontend/src/hooks/experimentSafety/useExperimentSafety.ts
  apps/frontend/src/models/questionary/experimentSafetyReview/ExperimentSafetyReviewSubmissionState.ts
  apps/frontend/src/models/questionary/experimentSafetyReview/ExperimentSafetyReviewWithQuestionary.ts
Due: npm run lint:frontend

wip
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/resolvers/queries/ProposalsQuery.ts
  apps/frontend/src/components/AppRoutes.tsx
  apps/frontend/src/components/common/proposalFilters/FacilityFilter.tsx
  apps/frontend/src/components/facility/FacilityOverview.tsx
  apps/frontend/src/components/facility/FacilityPage.tsx
  apps/frontend/src/components/menu/MenuItems.tsx
  apps/frontend/src/components/pages/OverviewPage.tsx
  apps/frontend/src/components/proposal/ProposalFilterBar.tsx
  apps/frontend/src/components/proposal/ProposalTableFacility.tsx
  apps/frontend/src/graphql/facility/getMyFacilitys.graphql
  apps/frontend/src/hooks/facility/useMyFacilitiesData.ts
  apps/frontend/src/hooks/proposal/useFacilityProposalsDataCore.ts
Due: npm run lint:frontend, npm run lint:backend

correct the implemented logic
  apps/backend/src/datasources/postgres/InstrumentDataSource.ts
  apps/backend/src/mutations/InstrumentMutations.ts
  apps/backend/src/resolvers/mutations/UpdateInstrumentMutation.ts
  apps/frontend/src/components/instrument/CreateUpdateInstrument.tsx
  apps/frontend/src/graphql/instrument/updateInstrument.graphql
Due: npm run lint:frontend, npm run lint:backend

update mutation and tests
  apps/backend/src/mutations/InstrumentMutations.spec.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e, npm run lint:backend

edit test for clarity
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

Added columns for safety decision
  apps/backend/db_patches/0177_UpdateExperimentSafety.sql
  apps/backend/src/datasources/mockups/ExperimentDataSource.ts
  apps/backend/src/datasources/postgres/ExperimentDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/Experiment.ts
  apps/backend/src/resolvers/types/ExperimentSafety.ts
  apps/frontend/src/components/experimentSafety/ExperimentSafetyContainer.tsx
  apps/frontend/src/components/experimentSafetyReview/ExperimentSafetyReview.tsx
  apps/frontend/src/components/experimentSafetyReview/ExperimentSafetyReviewContainer.tsx
  apps/frontend/src/components/experimentSafetyReview/ExperimentSafetyReviewQuestionaryReview.tsx
  apps/frontend/src/components/experimentSafetyReview/ExperimentSafetyReviewSummary.tsx
  apps/frontend/src/components/questionary/questionaries/experimentSafetyReview/ExperimentSafetyReviewQuestionaryDefinition.ts
  apps/frontend/src/components/questionary/questionaryComponents/ExperimentSafetyReviewBasis/QuestionaryComponentExperimentSafetyReviewBasis.tsx
  apps/frontend/src/graphql/experiment/fragment.experimentSafety.graphql
Due: npm run lint:frontend, npm run lint:backend

fix: refactor addUsers function to utilize handleAddParticipants and improve invite handling
  apps/frontend/src/components/proposal/ProposalParticipants.tsx
Due: npm run lint:frontend

Move Xpress to general proposal data source
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

Move Xpress statuses to patch
  apps/backend/db_patches/0177_AddXpressStatuses.sql
Due: none

Remove tests from FAPs and add to Instruments
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/instruments.cy.ts
Due: npm run lint:e2e

feat: enhance clone functionality to support target template ID in QuestionaryDataSource
  apps/backend/src/datasources/QuestionaryDataSource.ts
  apps/backend/src/datasources/mockups/QuestionaryDataSource.ts
  apps/backend/src/datasources/postgres/QuestionaryDataSource.ts
  apps/backend/src/mutations/ProposalMutations.ts
Due: npm run lint:backend

Update tests
  apps/e2e/cypress/e2e/xpress.cy.ts
  apps/e2e/cypress/support/initialDBData.ts
Due: npm run lint:e2e

Fix test
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

remove onlys from tests
  apps/e2e/cypress/e2e/login.cy.ts
  apps/e2e/cypress/e2e/statusActions.cy.ts
Due: npm run lint:e2e

fix test
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

feat: add user role selection at login (#1010)
  apps/backend/db_patches/0172_Add_Role_Descriptions.sql
  apps/backend/src/auth/ProposalAuthorization.spec.ts
  apps/backend/src/config/eli/configureELIEnvironment.ts
  apps/backend/src/config/ess/configureESSEnvironment.ts
  apps/backend/src/config/stfc/configureSTFCEnvironment.ts
  apps/backend/src/datasources/AdminDataSource.ts
  apps/backend/src/datasources/mockups/AdminDataSource.ts
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/mockups/UserDataSource.ts
  apps/backend/src/datasources/postgres/AdminDataSource.ts
  apps/backend/src/datasources/postgres/UserDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.spec.ts
  apps/backend/src/models/Role.ts
  apps/backend/src/resolvers/types/Role.ts
  apps/e2e/cypress/e2e/login.cy.ts
  apps/e2e/cypress/e2e/personalInformation.cy.ts
  apps/e2e/cypress/e2e/statusActions.cy.ts
  apps/e2e/cypress/e2e/xpress.cy.ts
  apps/frontend/src/components/AppToolbar/AccountActionButton.tsx
  apps/frontend/src/components/AppToolbar/RoleSelection.tsx
  apps/frontend/src/components/fap/Proposals/AssignFapMemberToProposalModal.tsx
  apps/frontend/src/components/user/PeopleTable.tsx
  apps/frontend/src/graphql/user/getMyRoles.graphql
  apps/frontend/src/graphql/user/getRoles.graphql
  apps/frontend/src/graphql/user/getUserWithRoles.graphql
  documentation/docs/user-guide/user-officer/roles.md
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

feat: user invites frontend (#975)
  apps/backend/src/resolvers/types/Proposal.ts
  apps/e2e/cypress/e2e/invites.cy.ts
  apps/e2e/cypress/support/e2e.ts
  apps/e2e/cypress/support/featureFlags.ts
  apps/e2e/cypress/support/invite.ts
  apps/e2e/cypress/types/features.d.ts
  apps/e2e/cypress/types/index.d.ts
  apps/e2e/cypress/types/invite.d.ts
  apps/frontend/src/components/proposal/AcceptInvite.tsx
  apps/frontend/src/components/proposal/InviteUser.tsx
  apps/frontend/src/components/proposal/NoOptionsText.tsx
  apps/frontend/src/components/proposal/ProposalCreate.tsx
  apps/frontend/src/components/proposal/ProposalParticipants.tsx
  apps/frontend/src/components/proposal/ProposalTable.tsx
  apps/frontend/src/components/proposal/RedeemCode.tsx
  apps/frontend/src/components/proposalBooking/CreateUpdateVisit.tsx
  apps/frontend/src/components/questionary/QuestionaryDetails.tsx
  apps/frontend/src/components/questionary/questionaryComponents/ProposalBasis/ProposalBasisDefinition.tsx
  apps/frontend/src/components/questionary/questionaryComponents/ProposalBasis/QuestionaryComponentProposalBasis.tsx
  apps/frontend/src/components/review/ProposalQuestionaryReview.tsx
  apps/frontend/src/components/review/ReviewQuestionary.tsx
  apps/frontend/src/components/review/TechnicalReviewQuestionary.tsx
  apps/frontend/src/graphql/invite/acceptInvite.graphql
  apps/frontend/src/graphql/invite/fragment.invite.graphql
  apps/frontend/src/graphql/invite/setCoProposerInvites.graphql
  apps/frontend/src/graphql/proposal/createProposal.graphql
  apps/frontend/src/graphql/proposal/getProposal.graphql
  apps/frontend/src/hooks/user/usePreviousCollaborators.ts
  apps/frontend/src/models/questionary/proposal/ProposalWithQuestionary.ts
  apps/frontend/src/utils/net.ts
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

wip
  apps/backend/src/auth/StfcUserAuthorization.spec.ts
  apps/backend/src/auth/StfcUserAuthorization.ts
  apps/backend/src/datasources/FacilityDataSource.ts
  apps/backend/src/datasources/postgres/FacilityDataSource.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/e2e/cypress/e2e/facility.cy.ts
Due: npm run lint:e2e, npm run lint:backend

feat: add functionality to clone proposals to a selected call
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/frontend/src/components/proposal/CallSelectModalOnProposalClone.tsx
  apps/frontend/src/components/proposal/ProposalTable.tsx
Due: npm run lint:e2e, npm run lint:frontend

fix: ensure undefined is passed to questionaryDataSource.clone for consistency
  apps/backend/src/datasources/postgres/GenericTemplateDataSource.ts
Due: npm run lint:backend

feat: add email notification button for experiment visits (#983)
  apps/backend/db_patches/0172_AddOrganizationNameAppSetting.sql
  apps/backend/src/models/Settings.ts
  apps/frontend/src/components/experiment/ExperimentVisitsTable.tsx
Due: npm run lint:frontend, npm run lint:backend

Update tests
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

feat: cancel Visit if experiment gets cancelled (#1012)
  apps/backend/src/eventHandlers/messageBroker.ts
Due: npm run lint:backend

refactor: simplify user name formatting in utility functions
  apps/frontend/src/utils/user.ts
Due: npm run lint:frontend

add tests
  apps/e2e/cypress/e2e/facility.cy.ts
  apps/e2e/cypress/support/facility.ts
  apps/e2e/cypress/support/initialDBData.ts
  apps/e2e/cypress/types/facility.d.ts
Due: npm run lint:e2e

remove console logs
  apps/frontend/src/hooks/facility/useFacilitiesData.ts
  apps/frontend/src/hooks/facility/useMyFacilitiesData.ts
Due: npm run lint:frontend

wip
  apps/backend/db_patches/0172_Faclities.sql
  apps/backend/src/auth/TechnicalReviewAuthorization.ts
  apps/backend/src/config/stfc/configureSTFCEnvironment.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/backend/src/models/Feature.ts
  apps/backend/src/queries/FacilityQueries.ts
  apps/e2e/cypress/e2e/facility.cy.ts
  apps/e2e/cypress/types/facility.d.ts
Due: npm run lint:e2e, npm run lint:backend

small fixes
  apps/e2e/cypress/e2e/instruments.cy.ts
  apps/frontend/src/components/review/TechnicalBulkReassignModal.tsx
Due: npm run lint:e2e, npm run lint:frontend

update test
  apps/e2e/cypress/e2e/instruments.cy.ts
Due: npm run lint:e2e

#804: Add call searching
  apps/frontend/src/components/call/CallsTable.tsx
Due: npm run lint:frontend

fix stfc user auth test
  apps/backend/src/auth/StfcUserAuthorization.spec.ts
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/datasources/mockups/FacilityDataSource.ts
Due: npm run lint:backend

add missing depedency config
  apps/backend/src/config/dependencyConfigDefault.ts
Due: npm run lint:backend

feat: allow for bulk reassignement of tech reviews (#978)
  apps/backend/db_patches/0170_AddInstrumentIdToTechRevInPropsalTableView.sql
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/mutations/ReviewMutations.ts
  apps/backend/src/resolvers/types/ProposalView.ts
  apps/e2e/cypress/e2e/instruments.cy.ts
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/InstrumentPickerAnswerRenderer.tsx
  apps/frontend/src/components/review/TechnicalBulkReassignModal.tsx
  apps/frontend/src/graphql/instrument/getInstrumentsByIds.graphql
  apps/frontend/src/graphql/instrument/getInstrumentsByIdsMinimal.graphql
  apps/frontend/src/graphql/proposal/getInstrumentScientistProposals.graphql
  apps/frontend/src/graphql/proposal/getProposalsCore.graphql
  apps/frontend/src/hooks/instrument/useInstrumentsByIdsDataMinimal.ts
  apps/frontend/src/hooks/proposal/useProposalsCoreData.ts
  apps/frontend/src/utils/helperFunctions.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

WIP
  apps/backend/src/datasources/ExperimentDataSource.ts
  apps/backend/src/datasources/mockups/ExperimentDataSource.ts
  apps/backend/src/datasources/postgres/ExperimentDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/Experiment.ts
  apps/backend/src/mutations/ExperimentMutation.ts
  apps/backend/src/queries/ExperimentQueries.ts
  apps/backend/src/resolvers/mutations/SubmitExperimentSafetyReviewerExperimentSafetyReviewMutation.ts
  apps/backend/src/resolvers/mutations/SubmitInstrumentScientistExperimentSafetyReviewMutation.ts
  apps/backend/src/resolvers/mutations/UpdateExperimentSafetyMutation.ts
  apps/backend/src/resolvers/registerEnums.ts
  apps/frontend/src/components/AppRoutes.tsx
  apps/frontend/src/components/experiment/ExperimentTable.tsx
  apps/frontend/src/components/experimentSafety/ExperimentSafetyReview.tsx
  apps/frontend/src/components/experimentSafetyReview/ExperimentSafetyReviewSummary.tsx
  apps/frontend/src/components/menu/MenuItems.tsx
  apps/frontend/src/components/questionary/questionaries/experimentSafetyReview/ExperimentSafetyReviewQuestionaryDefinition.ts
  apps/frontend/src/components/questionary/questionaries/experimentSafetyReview/ExperimentSafetyReviewQuestionaryWizardStep.ts
  apps/frontend/src/graphql/experiment/submitExperimentSafetyReviewerExperimentSafetyReview.graphql
  apps/frontend/src/graphql/experiment/submitInstrumentScientistExperimentSafetyReview.graphql
Due: npm run lint:frontend, npm run lint:backend

Path conditions:
  npm run lint:e2e: any of: apps/e2e/**/*.{js,ts,jsx,tsx}
  npm run lint:frontend: any of: apps/frontend/**/*.{js,ts,jsx,tsx}
  npm run lint:backend: any of: apps/backend/**/*.{js,ts,jsx,tsx}
