Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

add option for multi instrument selection in instrument picker
  apps/backend/src/datasources/InstrumentDataSource.ts
  apps/backend/src/datasources/mockups/InstrumentDataSource.ts
  apps/backend/src/datasources/postgres/InstrumentDataSource.ts
  apps/backend/src/models/questionTypes/InstrumentPicker.ts
  apps/backend/src/mutations/InstrumentMutations.ts
  apps/backend/src/queries/InstrumentQueries.ts
  apps/backend/src/resolvers/queries/InstrumentQuery.ts
  apps/backend/src/resolvers/types/FieldConfig.ts
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/InstrumentPickerAnswerRenderer.tsx
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/QuestionInstrumentPickerForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/QuestionInstrumentPickerFormCommon.tsx
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/QuestionTemplateRelationInstrumentPickerForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/QuestionaryComponentInstrumentPicker.tsx
  apps/frontend/src/components/questionary/questionaryComponents/MultipleChoice/QuestionaryComponentMultipleChoice.tsx
  apps/frontend/src/graphql/instrument/getInstrumentsByFap.graphql
  apps/frontend/src/graphql/instrument/getInstrumentsByIds.graphql
  apps/frontend/src/graphql/template/fragment.fieldConfig.graphql
  apps/frontend/src/hooks/instrument/useInstrumentsByIdsData.ts
  apps/frontend/src/utils/helperFunctions.tsx
Due: npm run lint:frontend, npm run lint:backend

fix breaking instrument picker if you change from multi to single select or vice versa
  apps/backend/src/models/questionTypes/InstrumentPicker.ts
  apps/backend/src/queries/InstrumentQueries.ts
  apps/frontend/src/components/questionary/questionaryComponents/DynamicMultipleChoice/QuestionaryComponentDynamicMultipleChoice.tsx
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/InstrumentPickerAnswerRenderer.tsx
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/QuestionaryComponentInstrumentPicker.tsx
  apps/frontend/src/hooks/instrument/useInstrumentsByIdsData.ts
  apps/frontend/src/utils/helperFunctions.tsx
Due: npm run lint:frontend, npm run lint:backend

start fixing linting issues
  apps/backend/src/datasources/ReviewDataSource.ts
  apps/backend/src/datasources/mockups/ReviewDataSource.ts
  apps/backend/src/datasources/postgres/ReviewDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/factory/pdf/proposal.ts
  apps/backend/src/factory/xlsx/fap.ts
  apps/backend/src/factory/xlsx/proposal.ts
  apps/backend/src/models/TechnicalReview.ts
  apps/backend/src/mutations/ReviewMutations.ts
  apps/backend/src/populate/index.ts
  apps/backend/src/queries/ReviewQueries.ts
  apps/backend/src/resolvers/types/Proposal.ts
  apps/frontend/src/components/review/ProposalReviewContent.tsx
Due: npm run lint:frontend, npm run lint:backend

Frontend: use nginxinc/nginx-unprivileged:1.25-alpine serving image
  apps/frontend/Dockerfile
  apps/frontend/nginx.conf
Due: none

fix e2e linting issues and upgrade some dependencies
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/genericTemplates.cy.ts
  apps/e2e/cypress/e2e/instruments.cy.ts
  apps/e2e/cypress/e2e/internalReviews.cy.ts
  apps/e2e/cypress/e2e/scheduler.cy.ts
  apps/e2e/cypress/e2e/settings.cy.ts
  apps/e2e/cypress/support/filterTests.ts
  apps/e2e/package-lock.json
  apps/e2e/package.json
Due: npm run lint:e2e

Add same logic to getFullUserName and add getFullUserNameWIthOrganisation
  apps/frontend/src/components/proposal/ProposalParticipant.tsx
  apps/frontend/src/utils/user.ts
Due: npm run lint:frontend

Frontend: port gzip configuration from the original nginx.conf
  apps/frontend/.dockerignore
  apps/frontend/default.conf
Due: none

Rename Save button to Save and Submit when adding a review
  apps/frontend/src/components/review/ProposalGrade.tsx
Due: npm run lint:frontend

Update Submit button for Experiment Scientist
  apps/frontend/src/components/review/ProposalTechnicalReview.tsx
Due: npm run lint:frontend

Remove changes to getFullUserName
  apps/frontend/src/utils/user.ts
Due: npm run lint:frontend

populating beam line manager list using search by surname api call
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/frontend/src/components/instrument/CreateUpdateInstrument.tsx
  apps/frontend/src/hooks/user/useUsersDataByFilter.ts
Due: npm run lint:frontend, npm run lint:backend

Allow Internal Reviewer to view PI name and email
  apps/backend/src/queries/UserQueries.ts
  apps/backend/src/resolvers/types/BasicUserDetails.ts
Due: npm run lint:backend

Correcting the logic
  apps/backend/src/datasources/postgres/TemplateDataSource.ts
Due: npm run lint:backend

Fix import of main ISIS and CLF questionnaires into dev (#466)
  apps/backend/src/datasources/postgres/TemplateDataSource.ts
Due: npm run lint:backend

removing null from returned type of method getUsersByUserNumbers
  apps/backend/src/datasources/UserDataSource.ts
  apps/backend/src/datasources/mockups/UserDataSource.ts
  apps/backend/src/datasources/postgres/UserDataSource.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/backend/src/loaders/UsersLoader.ts
Due: npm run lint:backend

Fix: Stop assigning STFC users to FAP without roles
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/datasources/stfc/StfcFapDataSource.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/backend/src/mutations/FapMutations.ts
Due: npm run lint:backend

changes to run the test cases
  apps/e2e/cypress/e2e/instruments.cy.ts
  apps/frontend/src/components/instrument/CreateUpdateInstrument.tsx
Due: npm run lint:e2e, npm run lint:frontend

removing some irrelavant changes
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
Due: npm run lint:backend

correcting a property value
  apps/frontend/src/components/instrument/CreateUpdateInstrument.tsx
Due: npm run lint:frontend

Correct role numbers
  apps/backend/src/datasources/stfc/StfcFapDataSource.ts
Due: npm run lint:backend

Change fap chair in tests
  apps/e2e/cypress/e2e/settings.cy.ts
Due: npm run lint:e2e

Update user roles
  apps/e2e/cypress/e2e/settings.cy.ts
Due: npm run lint:e2e

uncomment the db migrations
  apps/backend/db_patches/0146_MultiInstrumentPerProposal.sql
Due: none

Fix: copy build-version.txt from the build stage to address a permission issue in the frontend Dockerfile
  apps/frontend/Dockerfile
Due: none

removing unused variable
  apps/frontend/src/hooks/user/useUsersDataByFilter.ts
Due: npm run lint:frontend

adding beam line manager when viewing scientists
  apps/frontend/src/components/instrument/AssignedScientistsTable.tsx
Due: npm run lint:frontend

fixing all the issues for instrument scientsit and internal reviewers for multi-instrument proposals
  apps/backend/db_patches/0146_MultiInstrumentPerProposal.sql
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/resolvers/mutations/AddTechnicalReviewMutation.ts
  apps/backend/src/resolvers/mutations/SubmitTechnicalReviewMutation.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/instruments.cy.ts
  apps/e2e/cypress/e2e/settings.cy.ts
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/components/review/ProposalTechnicalReview.tsx
  apps/frontend/src/components/review/ReviewerFilter.tsx
  apps/frontend/src/graphql/review/addTechnicalReview.graphql
  apps/frontend/src/hooks/proposal/useProposalsCoreData.ts
  apps/frontend/src/utils/helperFunctions.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

fix settings tests
  apps/e2e/cypress/e2e/settings.cy.ts
Due: npm run lint:e2e

fix some more e2e tests and issues found with the new feature
  apps/backend/db_patches/db_seeds/0001_ProposalForScheduling.sql
  apps/e2e/cypress/e2e/experiments.cy.ts
  apps/frontend/src/components/experiment/ExperimentTable.tsx
Due: npm run lint:e2e, npm run lint:frontend

fix even more tests that are failing and do code improvements
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/e2e/cypress/e2e/scheduler.cy.ts
  apps/e2e/cypress/fixtures/template_export.json
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
Due: npm run lint:e2e, npm run lint:frontend

fix the stfc failing tests
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

fix the leftovers in stfc proposaldatasource
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

Refactor: Multiple secretaries to FAPs panels
  apps/backend/db_patches/0146_MultipleFAPSecretary.sql
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/Fap.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/backend/src/resolvers/types/Fap.ts
  apps/backend/src/utils/LRUCache.ts
  apps/frontend/src/components/fap/Members/FapMembers.tsx
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
Due: npm run lint:frontend, npm run lint:backend

fix some of the TODO comments and cleanup
  apps/backend/src/auth/ProposalAuthorization.ts
  apps/backend/src/auth/TechnicalReviewAuthorization.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/mutations/ReviewMutations.ts
  apps/backend/src/queries/ProposalQueries.ts
  apps/backend/src/queries/ReviewQueries.ts
  apps/backend/src/resolvers/mutations/AssignProposalsToInstrumentMutation.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e, npm run lint:backend

Fix tests
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/generalFaps.cy.ts
Due: npm run lint:e2e

cleanup and improvements
  apps/e2e/cypress/e2e/instruments.cy.ts
  apps/e2e/cypress/e2e/settings.cy.ts
  apps/frontend/src/components/common/FormikUIAutocomplete.tsx
  apps/frontend/src/components/instrument/AssignProposalsToInstrument.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
Due: npm run lint:e2e, npm run lint:frontend

Revert LRUChahe accidental change and test change
  apps/backend/src/utils/LRUCache.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e, npm run lint:backend

fix typo changes in the database migration
  apps/backend/db_patches/0146_MultiInstrumentPerProposal.sql
Due: none

Update docker-compose.yml for frontend
  docker-compose.yml
Due: none

fix: review comments
  apps/backend/src/datasources/postgres/AdminDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
Due: npm run lint:frontend, npm run lint:backend

Path conditions:
  npm run lint:e2e: any of: apps/e2e/**/*.{js,ts,jsx,tsx}
  npm run lint:frontend: any of: apps/frontend/**/*.{js,ts,jsx,tsx}
  npm run lint:backend: any of: apps/backend/**/*.{js,ts,jsx,tsx}
