Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

feat: enhance visit management with registration claims and invites
  apps/backend/src/config/Tokens.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/datasources/postgres/InviteDataSource.ts
  apps/backend/src/datasources/postgres/VisitDataSource.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/events/event.enum.ts
  apps/backend/src/mutations/InviteMutations.ts
  apps/backend/src/mutations/VisitMutations.ts
  apps/backend/src/queries/InviteQueries.ts
  apps/backend/src/resolvers/mutations/CreateVisitMutation.ts
  apps/backend/src/resolvers/mutations/UpdateVisitMutation.ts
  apps/backend/src/resolvers/types/Visit.ts
  apps/frontend/src/components/proposal/ProposalTable.tsx
  apps/frontend/src/components/proposalBooking/CreateUpdateVisit.tsx
  apps/frontend/src/graphql/experiment/getExperiments.graphql
  apps/frontend/src/graphql/user/getUserExperiments.graphql
  apps/frontend/src/graphql/visit/createVisit.graphql
  apps/frontend/src/graphql/visit/updateVisit.graphql
Due: npm run lint:frontend, npm run lint:backend

Order calls by cycle comment
  apps/frontend/src/components/proposal/ProposalChooseCall.tsx
Due: npm run lint:frontend

Fix type
  apps/backend/src/resolvers/queries/StatusActionsLogsQuery.ts
  apps/backend/src/statusActionEngine/statusActionUtils.ts
Due: npm run lint:backend

Fix deletion logging
  apps/backend/src/statusActionEngine/proposalDownloadActionHandler.ts
Due: npm run lint:backend

Add option to replay all status logs in call
  apps/backend/src/mutations/StatusActionsLogsMutations.ts
  apps/backend/src/resolvers/mutations/ReplayStatusActionsLogMutation.ts
  apps/e2e/cypress/e2e/statusActions.cy.ts
  apps/frontend/src/components/statusActionsLogs/StatusActionsLogsTable.tsx
  apps/frontend/src/graphql/statusActionsLogs/replayStatusActionLogs.graphql
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

update var name
  apps/backend/src/datasources/stfc/StfcInternalReviewDataSource.ts
Due: npm run lint:backend

fix: fix stfc fap export for LSF (#1087)
  apps/backend/src/factory/xlsx/FapDataRow.ts
  apps/backend/src/factory/xlsx/fap.ts
  apps/backend/src/factory/xlsx/stfc/StfcFapDataRow.ts
Due: npm run lint:backend

fix: overlapping text in generic templates
  apps/frontend/src/components/questionary/questionaryComponents/RichTextInput/QuestionaryComponentRichTextInput.tsx
Due: npm run lint:frontend

Remove redundant continue
  apps/backend/src/mutations/StatusActionsLogsMutations.ts
Due: npm run lint:backend

Fix filtering
  apps/backend/src/statusActionEngine/proposalDownloadActionHandler.ts
Due: npm run lint:backend

Improve button tooltip
  apps/frontend/src/components/statusActionsLogs/StatusActionsLogsTable.tsx
Due: npm run lint:frontend

fix: use correct sample declaration config (#1062)
  apps/backend/src/datasources/mockups/TemplateDataSource.ts
  apps/backend/src/mutations/ExperimentMutation.spec.ts
  apps/backend/src/mutations/ExperimentMutation.ts
  apps/backend/src/mutations/QuestionaryMutations.spec.ts
Due: npm run lint:backend

Update apps/backend/src/decorators/Authorized.ts
  apps/backend/src/decorators/Authorized.ts
Due: npm run lint:backend

remove space
  apps/backend/src/decorators/Authorized.ts
Due: npm run lint:backend

feat: add proposal details to visit registration events (#1070)
  apps/backend/src/datasources/ProposalDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/eventHandlers/messageBroker.ts
Due: npm run lint:backend

Improve status log tests
  apps/e2e/cypress/e2e/statusActions.cy.ts
Due: npm run lint:e2e

feat: add VisitAuthorization and VisitRegistrationClaimDataSource mappings across configuration files
  apps/backend/src/config/dependencyConfigDefault.ts
  apps/backend/src/config/dependencyConfigE2E.ts
  apps/backend/src/config/dependencyConfigELI.ts
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/config/dependencyConfigTest.ts
Due: npm run lint:backend

fix: stop users without external token from using the system (#1085)
  apps/backend/src/auth/StfcUserAuthorization.ts
  apps/backend/src/auth/UserAuthorization.ts
  apps/backend/src/datasources/mockups/UserDataSource.ts
  apps/backend/src/decorators/Authorized.ts
  apps/backend/src/middlewares/factory.ts
  apps/backend/src/middlewares/factory/pdf/download.ts
  apps/backend/src/middlewares/factory/xlsx.ts
  apps/backend/src/middlewares/graphql.ts
  apps/backend/src/mutations/QuestionaryMutations.spec.ts
  apps/backend/src/mutations/QuestionaryMutations.ts
  apps/backend/src/mutations/UserMutations.ts
  apps/e2e/cypress.config.ts
Due: npm run lint:e2e, npm run lint:backend

fix: Split requests for STFC user data into batches
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
Due: npm run lint:backend

feat: implement visit registration claim acceptance event and related email template handling
  apps/backend/src/asyncJobs/jobs/checkInviteReminderJob.spec.ts
  apps/backend/src/asyncJobs/jobs/checkInviteReminderJob.ts
  apps/backend/src/eventHandlers/email/essEmailHandler.ts
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/events/event.enum.ts
  apps/backend/src/mutations/InviteMutations.ts
Due: npm run lint:backend

fix: update findByInviteId method to return an array of VisitRegistrationClaim
  apps/backend/src/datasources/VisitRegistrationClaimDataSource.ts
  apps/backend/src/datasources/mockups/VisitRegistrationClaimDataSource.ts
  apps/backend/src/datasources/postgres/VisitRegistrationClaimDataSource.ts
  apps/backend/src/mutations/InviteMutations.ts
Due: npm run lint:backend

fix: update import path for VisitRegistrationClaim model
  apps/backend/src/models/VisitRegistrationInvite.ts
  apps/backend/src/resolvers/types/VisitRegistrationClaim.ts
Due: npm run lint:backend

fix: update button label and title for joining proposal
  apps/frontend/src/components/proposal/ProposalTable.tsx
Due: npm run lint:frontend

feat: add co-proposer claim events and logging to invite mutations
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/events/event.enum.ts
  apps/backend/src/mutations/InviteMutations.ts
Due: npm run lint:backend

refactor: remove legacy email invite handling and improve template ID retrieval
  apps/backend/src/asyncJobs/jobs/checkInviteReminderJob.spec.ts
  apps/backend/src/asyncJobs/jobs/checkInviteReminderJob.ts
  apps/backend/src/eventHandlers/email/essEmailHandler.ts
Due: npm run lint:backend

refactor: rename mock template ID stubs for clarity in checkInviteReminderJob tests
  apps/backend/src/asyncJobs/jobs/checkInviteReminderJob.spec.ts
Due: npm run lint:backend

#1395: Fix formatting problems from ISIS 2025_2
  apps/frontend/src/components/questionary/questionaryComponents/RichTextInput/QuestionaryComponentRichTextInput.tsx
Due: npm run lint:frontend

feat: add co-proposer invite handling and related events to logging (#1082)
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/events/event.enum.ts
  apps/backend/src/mutations/InviteMutations.ts
Due: npm run lint:backend

fix: overlapping text in generic templates (#1088)
  apps/frontend/src/components/questionary/questionaryComponents/RichTextInput/QuestionaryComponentRichTextInput.tsx
Due: npm run lint:frontend

feat: implement updateUserByOidcSub functionality and refactor update method signatures
  apps/backend/src/datasources/UserDataSource.ts
  apps/backend/src/datasources/mockups/UserDataSource.ts
  apps/backend/src/datasources/postgres/UserDataSource.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/backend/src/mutations/UserMutations.ts
  apps/backend/src/resolvers/mutations/UpdateUserMutation.ts
Due: npm run lint:backend

feat: add tests for updateUserByOidcSub functionality
  apps/backend/src/mutations/UserMutations.spec.ts
Due: npm run lint:backend

fix: split requests for STFC user data into batches (#1090)
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
Due: npm run lint:backend

fix: Failure of automatic fap assignments during instrument picker selection fixed.
  apps/backend/src/decorators/EventBus.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e, npm run lint:backend

fix: added some styles
  apps/frontend/src/components/common/FormikUIDayRangePicker.tsx
Due: npm run lint:frontend

add id props for testing
  apps/frontend/src/components/common/FormikUIDayRangePicker.tsx
Due: npm run lint:frontend

fix appSettings test for new dateTimerange picker
  apps/e2e/cypress/e2e/appSettings.cy.ts
Due: npm run lint:e2e

fix: add org name to stfc excel export
  apps/backend/src/factory/xlsx/fap.ts
  apps/backend/src/factory/xlsx/stfc/StfcFapDataColumns.ts
  apps/backend/src/factory/xlsx/stfc/StfcFapDataRow.ts
  apps/e2e/cypress/fixtures/exampleCallFapExportSTFC.json
  apps/e2e/cypress/fixtures/exampleFapExportSTFC.json
Due: npm run lint:backend

fix test data
  apps/e2e/cypress/fixtures/exampleFapExportSTFC.json
Due: none

Add country detail in pdfs and proposal view
  apps/frontend/src/components/review/ProposalQuestionaryReview.tsx
  apps/frontend/src/utils/user.ts
Due: npm run lint:frontend

fix: stfc user lookup failing for large amount of userids
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
Due: npm run lint:backend

Path conditions:
  npm run lint:e2e: any of: apps/e2e/**/*.{js,ts,jsx,tsx}
  npm run lint:frontend: any of: apps/frontend/**/*.{js,ts,jsx,tsx}
  npm run lint:backend: any of: apps/backend/**/*.{js,ts,jsx,tsx}
