Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

.lintstagedrc.json:

{
  "apps/e2e/**/*.{js,ts,jsx,tsx}": ["npm run lint:e2e"],
  "apps/frontend/**/*.{js,ts,jsx,tsx}": ["npm run lint:frontend"],
  "apps/backend/**/*.{js,ts,jsx,tsx}": ["npm run lint:backend"]
}

Filters fix
  apps/backend/src/datasources/ProposalDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/backend/src/queries/ProposalQueries.ts
  apps/backend/src/resolvers/queries/ProposalsViewQuery.ts
  apps/frontend/src/components/xpress/XpressProposalFilterBar.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/components/xpress/useProposalsCoreData.ts
  apps/frontend/src/components/xpress/useXpressInstrumentsData.ts
  apps/frontend/src/graphql/proposal/getTechniqueScientistProposals.graphql
Due: npm run lint:frontend, npm run lint:backend

Fix filters
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Add data to tests
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

Hnadle date error in backend
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

Start advanced e2e tests
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

Cy.clock() WIP
  apps/backend/src/datasources/ProposalDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/backend/src/eventHandlers/customHandler.ts
  apps/e2e/cypress.config.ts
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e, npm run lint:backend

Filters correction
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend, npm run lint:backend

Revert last commit changes
  apps/e2e/cypress/e2e/instruments.cy.ts
Due: npm run lint:e2e

Date filter initial commit
  apps/backend/src/resolvers/queries/ProposalsQuery.ts
  apps/backend/src/resolvers/types/Proposal.ts
  apps/frontend/src/components/common/proposalFilters/DateFilter.tsx
  apps/frontend/src/components/xpress/XpressProposalFilterBar.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/components/xpress/useProposalsCoreData.ts
Due: npm run lint:frontend, npm run lint:backend

Date filter final commit
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/frontend/src/components/common/proposalFilters/DateFilter.tsx
Due: npm run lint:frontend, npm run lint:backend

Fix instrument test v3
  apps/e2e/cypress/e2e/instruments.cy.ts
Due: npm run lint:e2e

Add date filter improvements
  apps/frontend/src/components/common/proposalFilters/DateFilter.tsx
  apps/frontend/src/components/common/proposalFilters/TechniqueFilter.tsx
Due: npm run lint:frontend

Refactoring the fetch functionality
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend, npm run lint:backend

Proposal filters
  apps/frontend/src/components/xpress/XpressProposalFilterBar.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Remove logging
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

resolve test error
  apps/backend/package-lock.json
Due: none

fix: mismatched technical review id in eli mail handler
  apps/backend/src/eventHandlers/email/eliEmailHandler.ts
Due: npm run lint:backend

fix: minor change in array check
  apps/backend/src/eventHandlers/email/eliEmailHandler.ts
Due: npm run lint:backend

fix: minor updates in eli email handler
  apps/backend/src/eventHandlers/email/eliEmailHandler.ts
Due: npm run lint:backend

fix: remove unnecessary eli smtp service
  apps/backend/src/eventHandlers/MailService/ELISMTPMailService.ts
Due: npm run lint:backend

fix: simplify proposal query
  apps/backend/src/eventHandlers/email/eliEmailHandler.ts
Due: npm run lint:backend

update missing updates from npm install
  apps/backend/package-lock.json
  yarn.lock
Due: none

remove yarn.lock update
  yarn.lock
Due: none

add back yarn lock update
  yarn.lock
Due: none

fix: mismatch of review and reviewer id in eli email handler (#815)
  apps/backend/src/eventHandlers/MailService/ELISMTPMailService.ts
  apps/backend/src/eventHandlers/email/eliEmailHandler.ts
Due: npm run lint:backend

fix: dont show expired proposals in exports (#805)
  apps/backend/db_patches/0163_ExcludeExpiredProposalsFromReviewProposalView.sql
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/fixtures/exampleFapExportExpired.json
Due: npm run lint:e2e

feat: allow fap chairs and secs to update tech reviews (#807)
  apps/backend/db_patches/0164_AllowSecsEditTechReview.sql
  apps/backend/src/auth/TechnicalReviewAuthorization.ts
  apps/backend/src/config/stfc/configureSTFCEnvironment.ts
  apps/backend/src/models/Settings.ts
  apps/backend/src/mutations/ReviewMutations.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/generalFaps.cy.ts
  apps/frontend/src/components/fap/Proposals/FapAssignedReviewersTable.tsx
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/components/review/ProposalReviewContent.tsx
  apps/frontend/src/components/review/ProposalTechnicalReview.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Use single join update
  apps/backend/package-lock.json
  apps/backend/src/datasources/postgres/CallDataSource.ts
Due: npm run lint:backend

feat: add proposal count to assignment table (#809)
  apps/frontend/src/components/fap/Proposals/AssignFapMemberToProposalModal.tsx
  apps/frontend/src/graphql/fap/getFapMembers.graphql
  apps/frontend/src/hooks/fap/useFapMembersData.ts
Due: npm run lint:frontend

fix: add fap review template preview
  apps/frontend/src/components/review/ReviewQuestionary.tsx
  apps/frontend/src/components/template/PreviewTemplateModal.tsx
Due: npm run lint:frontend

fix: prevent multiple instances of the StfcUserDataSource being created
  apps/backend/src/datasources/stfc/StfcFapDataSource.ts
  apps/backend/src/datasources/stfc/StfcInstrumentDataSource.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/backend/src/datasources/stfc/StfcTechniqueDataSource.ts
  apps/backend/src/factory/xlsx/stfc/StfcFapDataRow.ts
Due: npm run lint:backend

fix: hide download as multiple when multiple proposals are selected
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
  apps/frontend/src/components/proposal/TableActionsDropdownMenu.tsx
Due: npm run lint:e2e, npm run lint:frontend

fix: marking template as active without needing to refresh the page
  apps/e2e/cypress/e2e/templatesBasic.cy.ts
  apps/frontend/src/components/template/withMarkTemplateAsActiveAction.tsx
Due: npm run lint:e2e, npm run lint:frontend

fix: optimised display of delete, archive, unarchive button
  apps/backend/src/datasources/postgres/CallDataSource.ts
  apps/backend/src/resolvers/queries/CallsQuery.ts
  apps/backend/src/resolvers/types/FapReviewTemplate.ts
  apps/backend/src/resolvers/types/Template.ts
  apps/e2e/cypress/e2e/templatesBasic.cy.ts
  apps/frontend/src/components/template/EsiPage.tsx
  apps/frontend/src/components/template/FapReviewTemplatesTable.tsx
  apps/frontend/src/components/template/ProposalESITemplatesTable.tsx
  apps/frontend/src/components/template/TemplatesTable.tsx
  apps/frontend/src/graphql/template/getESITemplates.graphql
  apps/frontend/src/models/questionary/QuestionaryEditorModel.ts
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

testing e2e
  apps/frontend/src/hooks/sample/useSample.ts
Due: npm run lint:frontend

feat: add search by surname to proposal table (#728)
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

Feature flag implementation
  apps/backend/db_patches/0163_XpressRouteFeature.sql
  apps/backend/src/config/stfc/configureSTFCEnvironment.ts
  apps/backend/src/models/Feature.ts
  apps/frontend/src/components/AppRoutes.tsx
  apps/frontend/src/components/menu/MenuItems.tsx
  apps/frontend/src/hooks/common/useXpressAccess.tsx
Due: npm run lint:frontend, npm run lint:backend

minor fixes
  apps/e2e/cypress/e2e/xpress.cy.ts
  apps/frontend/src/components/common/proposalFilters/DateFilter.tsx
Due: npm run lint:e2e, npm run lint:frontend

Fix date filter
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/frontend/src/components/common/proposalFilters/DateFilter.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend, npm run lint:backend

Add e2e function for prop to tech
  apps/backend/src/mutations/TechniqueMutations.ts
  apps/backend/src/resolvers/mutations/AssignProposalToTechniquesMutation.ts
  apps/e2e/cypress/support/technique.ts
  apps/e2e/cypress/types/technique.d.ts
  apps/frontend/src/graphql/technique/assignProposalToTechniques.graphql
Due: npm run lint:e2e, npm run lint:backend
