Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

.lintstagedrc.json:

{
  "apps/e2e/**/*.{js,ts,jsx,tsx}": ["npm run lint:e2e"],
  "apps/frontend/**/*.{js,ts,jsx,tsx}": ["npm run lint:frontend"],
  "apps/backend/**/*.{js,ts,jsx,tsx}": ["npm run lint:backend"]
}

Revert launch json back to normal
  .vscode/launch.json
Due: none

Add missing bracket
  .vscode/launch.json
Due: none

Fix line spacing
  .vscode/launch.json
Due: none

Add if statement for uows generation in workflow file
  .github/workflows/test-build.yml
Due: none

feat: add isRequired option for generic template questions (#923)
  apps/frontend/src/components/questionary/questionaryComponents/GenericTemplate/GenericTemplateDefinition.tsx
  apps/frontend/src/components/questionary/questionaryComponents/GenericTemplate/QuestionGenericTemplateForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/GenericTemplate/QuestionTemplateRelationGenericTemplateForm.tsx
Due: npm run lint:frontend

test: adding e2e tests
  apps/backend/db_patches/db_seeds/0001_ProposalForScheduling.sql
  apps/backend/src/mutations/InviteMutations.ts
  apps/e2e/cypress/e2e/invites.cy.ts
  apps/frontend/src/components/proposal/InviteUser.tsx
  apps/frontend/src/components/proposal/ProposalCreate.tsx
  apps/frontend/src/components/proposal/ProposalParticipants.tsx
  apps/frontend/src/components/questionary/QuestionaryDetails.tsx
  apps/frontend/src/components/questionary/questionaryComponents/ProposalBasis/QuestionaryComponentProposalBasis.tsx
  apps/frontend/src/components/review/ReviewQuestionary.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

feat: add co proposer claim to invite (#908)
  apps/backend/db_patches/0168_AddCoProposerClaims.sql
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/auth/InviteAuthorizer.ts
  apps/backend/src/config/Tokens.ts
  apps/backend/src/config/dependencyConfigDefault.ts
  apps/backend/src/config/dependencyConfigE2E.ts
  apps/backend/src/config/dependencyConfigELI.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/datasources/CoProposerInviteDataSource.ts
  apps/backend/src/datasources/ProposalDataSource.ts
  apps/backend/src/datasources/mockups/CoProposerInviteDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/CoProposerInviteDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/decorators/ValidateArgs.ts
  apps/backend/src/models/CoProposerInvite.ts
  apps/backend/src/mutations/InviteMutations.spec.ts
  apps/backend/src/mutations/InviteMutations.ts
  apps/backend/src/resolvers/mutations/CreateInviteMutation.ts
Due: npm run lint:backend

fix migration script to create separate questionary for each technical review
  apps/backend/db_patches/0165_AddTechnicalReviewTemplate.sql
Due: none

fix: update invite handling to return an empty array instead of null for unauthorized access
  apps/backend/src/queries/InviteQueries.ts
  apps/backend/src/resolvers/types/Proposal.ts
Due: npm run lint:backend

fix db patch
  apps/backend/db_patches/0165_AddTechnicalReviewTemplate.sql
Due: none

fix init seeds for e2e tests
  apps/backend/db_patches/db_seeds/0001_ProposalForScheduling.sql
Due: none

refactor: rename EMAIL_INVITE event to EMAIL_INVITE_OLD and update related handlers
  apps/backend/src/eventHandlers/email/eliEmailHandler.ts
  apps/backend/src/eventHandlers/email/essEmailHandler.ts
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/events/event.enum.ts
  apps/backend/src/mutations/InviteMutations.ts
  apps/backend/src/mutations/UserMutations.ts
  apps/backend/src/resolvers/mutations/SetCoProposerInvitesMutation.ts
Due: npm run lint:backend

feat: migrate stfc users service to rest (#897)
  .github/workflows/test-build.yml
  .gitignore
  .prettierignore
  apps/backend/.eslintignore
  apps/backend/.gitignore
  apps/backend/Dockerfile
  apps/backend/openapi.yaml
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/auth/StfcUserAuthorization.spec.ts
  apps/backend/src/auth/StfcUserAuthorization.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.spec.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/backend/src/datasources/stfc/UOWSClient.ts
  apps/backend/src/datasources/stfc/UOWSSoapInterface.ts
  apps/backend/src/datasources/stfc/__mocks__/UOWSSoapInterface.ts
  apps/backend/src/mutations/UserMutations.spec.ts
  package.json
Due: npm run lint:backend

Fix pagination
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
Due: npm run lint:frontend

chore: update docker ignore
  apps/backend/.dockerignore
Due: none

Change generic template compare to look at natural key instead of question_id
  apps/backend/src/factory/zip/attachment.ts
  apps/backend/src/models/ProposalModelFunctions.ts
Due: npm run lint:backend

chore: update docker ignore (#928)
  apps/backend/.dockerignore
Due: none

fix: update GitHub Actions workflow to use dynamic runner for e2e tests
  .github/workflows/test-build.yml
Due: none

fix: update e2e job to use dynamic runner in GitHub Actions workflow
  .github/workflows/test-build.yml
Due: none

fix: remove outdated user-office-factory directory before cloning in workflow
  .github/workflows/test-build.yml
Due: none

fix: update test-build workflow to support multiple runners
  .github/workflows/test-build.yml
Due: none

fix e2e tests
  apps/backend/db_patches/db_seeds/0005_Questions.sql
Due: none

fix e2e tests
  apps/e2e/cypress/e2e/instruments.cy.ts
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
Due: npm run lint:e2e

perf: use batch loading for BasicUserDetails
  apps/backend/src/buildContext.ts
  apps/backend/src/context/index.ts
  apps/backend/src/datasources/UserDataSource.ts
  apps/backend/src/datasources/mockups/UserDataSource.ts
  apps/backend/src/datasources/postgres/UserDataSource.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/backend/src/loaders/BasicUserDetailsLoader.ts
  apps/backend/src/queries/UserQueries.ts
  apps/backend/src/resolvers/types/FapAssignments.ts
  apps/backend/src/resolvers/types/FapReviewers.ts
Due: npm run lint:backend

fix e2e tests
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

fix: update table reference in query
  apps/backend/src/datasources/postgres/UserDataSource.ts
Due: npm run lint:backend

fix: avoid circular dependency error in unit tests
  apps/backend/src/config/Tokens.ts
  apps/backend/src/config/dependencyConfigDefault.ts
  apps/backend/src/config/dependencyConfigE2E.ts
  apps/backend/src/config/dependencyConfigELI.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/queries/UserQueries.ts
Due: npm run lint:backend

Hide retired instruments in Xpress inst selection
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/graphql/instrument/instrumentMinimal.fragment.graphql
Due: npm run lint:frontend

refactor: remove duplicate imports and clean up code in dependency configuration and mutations
  apps/backend/src/config/dependencyConfigDefault.ts
  apps/backend/src/config/dependencyConfigE2E.ts
  apps/backend/src/config/dependencyConfigELI.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/mutations/InviteMutations.spec.ts
  apps/backend/src/mutations/InviteMutations.ts
  apps/frontend/src/components/review/ReviewQuestionary.tsx
Due: npm run lint:frontend, npm run lint:backend

chore(deps): update duo-logger to version 2.3.0
  apps/backend/package.json
Due: none

Add backend validation
  apps/backend/src/mutations/InstrumentMutations.ts
Due: npm run lint:backend

Add e2e testing
  apps/e2e/cypress/e2e/xpress.cy.ts
  apps/e2e/cypress/support/instrument.ts
  apps/e2e/cypress/types/instrument.d.ts
Due: npm run lint:e2e

Add backend test
  apps/backend/src/mutations/InstrumentMutations.spec.ts
Due: npm run lint:backend

feat: enable colorized logging in ConsoleLogger configuration
  apps/backend/package.json
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/config/ess/configureGrayLogLogger.ts
Due: npm run lint:backend

feat: add is_email_sent column to invites and update related data sources
  apps/backend/db_patches/0170_AddIsEmailSent.sql
  apps/backend/src/datasources/InviteDataSource.ts
  apps/backend/src/datasources/mockups/InviteDataSource.ts
  apps/backend/src/datasources/postgres/InviteDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/eventHandlers/email/essEmailHandler.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/models/Invite.ts
  apps/backend/src/resolvers/types/Invite.ts
Due: npm run lint:backend
