Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

docs: improved user guide templates (#671)
  documentation/docs/user-guide/user-officer/creating_call.md
  documentation/docs/user-guide/user-officer/editing_call.md
  documentation/docs/user-guide/user-officer/fap.md
  documentation/docs/user-guide/user-officer/proposal_workflow.md
  documentation/docs/user-guide/user-officer/templates/pdf_template.md
  documentation/docs/user-guide/user-officer/templates/proposalESI_template.md
  documentation/docs/user-guide/user-officer/templates/templates.md
  documentation/docs/user-guide/user-officer/videos.md
  documentation/mkdocs.yml
Due: none

Fix issues
  apps/backend/src/eventHandlers/MailService/SMTPMailService.ts
  apps/backend/src/eventHandlers/email/stfcEmailHandler.ts
Due: npm run lint:backend

Test fix
  apps/backend/src/eventHandlers/MailService/SMTPMailService.spec.ts
Due: npm run lint:backend

Adding option to include bcc recipient in mails
  apps/backend/db_patches/0158_BccRecipientAppSetting.sql
  apps/backend/src/eventHandlers/MailService/SMTPMailService.spec.ts
  apps/backend/src/eventHandlers/MailService/SMTPMailService.ts
  apps/backend/src/eventHandlers/email/stfcEmailHandler.ts
  apps/backend/src/models/Settings.ts
Due: npm run lint:backend

Fix test
  apps/backend/src/eventHandlers/MailService/SMTPMailService.spec.ts
Due: npm run lint:backend

Review comment fix
  apps/backend/db_patches/0158_BccRecipientAppSetting.sql
  apps/backend/src/eventHandlers/MailService/SMTPMailService.spec.ts
  apps/backend/src/eventHandlers/MailService/SMTPMailService.ts
  apps/backend/src/models/Settings.ts
Due: npm run lint:backend

Revert unnecessary changes
  apps/frontend/codegen_template.yml
Due: none

Remove info component from review page
  apps/backend/Dockerfile
  apps/backend/docker-compose.yml
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/frontend/src/components/review/ReviewQuestionary.tsx
Due: npm run lint:e2e, npm run lint:frontend

Fix failed merge
  apps/backend/src/config/dependencyConfigELI.ts
Due: npm run lint:backend

fix(stfc): prevent errors when an external user number doesn't exist
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
Due: npm run lint:backend

feat: add back the proper functionallity for selection of all proposals in the table
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/graphql/proposal/getProposalCoreBasic.graphql
Due: npm run lint:e2e, npm run lint:frontend

Fix grade initialization in Fap Review basis component
  apps/backend/db_patches/0158_AddFAPReviewTemplate.sql
  apps/frontend/src/components/questionary/questionaryComponents/FapReviewBasis/QuestionaryComponentFapReviewBasis.tsx
  apps/frontend/src/hooks/proposal/useProposalData.ts
Due: npm run lint:frontend

feat: Add isEnded filter to useCallsData in CallSelectModalOnProposalClone window
  apps/frontend/src/components/proposal/CallSelectModalOnProposalClone.tsx
Due: npm run lint:frontend

Update apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
Due: npm run lint:frontend

fix review comments
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/components/common/FormikUIDatePicker.tsx
  apps/frontend/src/components/common/FormikUIDateTimePicker.tsx
  apps/frontend/src/components/timeout/TimeOutPrompt.tsx
  apps/frontend/src/utils/errorHandler.ts
Due: npm run lint:frontend

Improve error message for cloning proposal on ended call
  apps/backend/src/mutations/ProposalMutations.ts
Due: npm run lint:backend

Update test for proposal cloning with ended call
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

feat: Add isInternalUser check to CallStatusFilter
  apps/frontend/src/components/call/CallStatusFilter.tsx
Due: npm run lint:frontend

feat: Add isActiveInternal filter to useCallsData in CallSelectModalOnProposalClone
  apps/frontend/src/components/proposal/CallSelectModalOnProposalClone.tsx
Due: npm run lint:frontend

feat: add an option to have bcc recipient for emails sent through proposal status actions (#667)
  apps/backend/db_patches/0158_BccRecipientAppSetting.sql
  apps/backend/src/eventHandlers/MailService/SMTPMailService.spec.ts
  apps/backend/src/eventHandlers/MailService/SMTPMailService.ts
  apps/backend/src/models/Settings.ts
Due: npm run lint:backend

revert some unwanted changes
  apps/frontend/package-lock.json
Due: none

Fix some state issues with FAP review template management
  apps/backend/db_patches/db_seeds/0001_ProposalForScheduling.sql
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/support/initialDBData.ts
  apps/e2e/cypress/support/utils.ts
  apps/frontend/src/components/questionary/questionaryComponents/FapReviewBasis/FapReviewBasisDefinition.tsx
  apps/frontend/src/components/questionary/questionaryComponents/FapReviewBasis/QuestionaryComponentFapReviewBasis.tsx
  apps/frontend/src/models/questionary/fapReview/FapReviewSubmissionState.ts
Due: npm run lint:e2e, npm run lint:frontend

Update FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
Due: npm run lint:frontend

rename feature
  apps/backend/db_patches/0159_ConflictOfInterestWarningFeature.sql
  apps/backend/src/config/ess/configureESSEnvironment.ts
  apps/backend/src/models/Feature.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

rename function
  apps/backend/src/datasources/ProposalDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/mutations/InstrumentMutations.ts
Due: npm run lint:backend

Avoid addition of extra 59 seconds to the timestamp
  apps/frontend/src/components/call/CreateUpdateCall.tsx
Due: npm run lint:frontend

remove the extra 59 seconds added to the timestamp for call end-time fields (#674)
  apps/frontend/src/components/call/CreateUpdateCall.tsx
Due: npm run lint:frontend

fix: show only active, ongoing calls in the call selector on the proposal clone window (#675)
  apps/backend/src/mutations/ProposalMutations.ts
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/frontend/src/components/call/CallStatusFilter.tsx
  apps/frontend/src/components/proposal/CallSelectModalOnProposalClone.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

update to work with non stfc modes
  apps/backend/src/config/Tokens.ts
  apps/backend/src/config/dependencyConfigDefault.ts
  apps/backend/src/config/dependencyConfigE2E.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/factory/xlsx/FapDataRow.ts
  apps/backend/src/factory/xlsx/callFaps.ts
  apps/backend/src/factory/xlsx/stfc/StfcFapDataRow.ts
  apps/backend/src/middlewares/factory/xlsx.ts
Due: npm run lint:backend

add test
  apps/e2e/cypress.config.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/fixtures/exampleCallFapExport.json
  apps/e2e/cypress/support/fileUtilTasks.ts
  apps/e2e/package-lock.json
  apps/e2e/package.json
Due: npm run lint:e2e

Update apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
Due: npm run lint:frontend

fix the linting and proposal filtering issues
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
Due: npm run lint:frontend, npm run lint:backend

WIP
  apps/backend/src/mutations/ShipmentMutations.ts
  apps/backend/src/services/assetRegistrar/eam/EAMAssetRegistrar.ts
  apps/backend/src/services/assetRegistrar/eam/api/createContainer.ts
  apps/backend/src/services/assetRegistrar/eam/api/createTicket.ts
  apps/backend/src/services/assetRegistrar/eam/api/getToken.ts
  apps/backend/src/services/assetRegistrar/eam/requests/AddAssetEquipment.ts
  apps/backend/src/services/assetRegistrar/eam/utils/performApiRequest.ts
  apps/frontend/src/components/shipments/ShipmentReview.tsx
Due: npm run lint:frontend, npm run lint:backend

WIP
  .github/workflows/test-build.yml
  apps/backend/example.development.env
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/mutations/ShipmentMutations.ts
  apps/backend/src/services/assetRegistrar/eam/EAMAssetRegistrar.ts
  apps/backend/src/services/assetRegistrar/eam/api/createContainer.ts
  apps/backend/src/services/assetRegistrar/eam/api/getToken.ts
  apps/backend/src/services/assetRegistrar/eam/requests/AddCaseManagement.ts
  apps/backend/src/services/assetRegistrar/eam/utils/getEnvOrThrow.ts
  apps/backend/src/services/assetRegistrar/eam/utils/performApiRequest.ts
  apps/frontend/src/components/shipments/ShipmentReview.tsx
Due: npm run lint:frontend, npm run lint:backend

fix: review comments fix
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
Due: npm run lint:frontend

improvement: changed eam api xml to json
  apps/frontend/src/utils/useDataApiWithFeedback.ts
Due: npm run lint:frontend

update status_actions_logs to include parent log when its a replay
  apps/backend/db_patches/0158_AddStatusActionsLogsTables.sql
Due: none

fix: fix fap review and member selections
  apps/frontend/src/components/fap/Proposals/AssignFapMemberToProposalModal.tsx
  apps/frontend/src/components/proposal/ParticipantModal.tsx
  apps/frontend/src/components/user/PeopleTable.tsx
Due: npm run lint:frontend

Path conditions:
  npm run lint:e2e: any of: apps/e2e/**/*.{js,ts,jsx,tsx}
  npm run lint:frontend: any of: apps/frontend/**/*.{js,ts,jsx,tsx}
  npm run lint:backend: any of: apps/backend/**/*.{js,ts,jsx,tsx}
