Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Addressing PR comments
  apps/backend/db_patches/0187_AddExperimentSafetyReviewTemplate.sql
  apps/backend/db_patches/0188_DropTableQuestionHasTemplates.sql
  apps/backend/db_patches/0189_UpdateExperimentSafety.sql
  apps/backend/db_patches/0190_AddExperimentEvents.sql
  apps/backend/db_patches/0192_AddTemplateGroups.sql
  apps/backend/db_patches/0193_UpdateCallTablePdfTemplates.sql
  apps/backend/db_patches/0194_Rename_Pdf_Template.sql
  apps/backend/db_patches/0195_Add_Experiment_Safety_Pdf_Template.sql
  apps/backend/db_patches/0196_CorrectESFApprovedSpelling.sql
  apps/backend/db_patches/0197_ExperimentSafetyStatusRefactor.sql
  apps/backend/db_patches/0198_AddExperimentRefNumberFormat.sql
  apps/backend/src/datasources/postgres/TemplateDataSource.ts
  apps/frontend/src/components/common/experimentFilters/ExperimentSafetyStatusFilter.tsx
  apps/frontend/src/components/common/proposalFilters/StatusFilter.tsx
  apps/frontend/src/components/experiment/ExperimentFilterBar.tsx
  apps/frontend/src/components/template/TemplatesTable.tsx
  apps/frontend/src/hooks/experiment/useAllExperiments.ts
Due: npm run lint:frontend, npm run lint:backend

fixing backend test
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/datasources/postgres/CallDataSource.ts
  apps/backend/src/models/Call.ts
  apps/backend/src/mutations/CallMutations.spec.ts
  apps/backend/src/mutations/ExperimentMutation.spec.ts
  apps/backend/src/resolvers/mutations/CreateCallMutation.ts
  apps/backend/src/resolvers/types/Call.ts
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/components/call/CallGeneralInfo.tsx
  apps/frontend/src/graphql/call/createCall.graphql
Due: npm run lint:frontend, npm run lint:backend

Add test for read for read permissions
  apps/e2e/cypress/e2e/templateContext.ts
  apps/e2e/cypress/e2e/templatesBasic.cy.ts
  apps/e2e/cypress/fixtures/template_export.json
Due: npm run lint:e2e

fix seed data and other fix
  apps/backend/db_patches/db_seeds/0003_Esi.sql
  apps/backend/db_patches/db_seeds/0004_Samples.sql
  apps/backend/db_patches/db_seeds/0005_Questions.sql
  apps/backend/src/factory/pdf/proposal.ts
  apps/frontend/src/components/questionary/QuestionReadPermissionsConfig.tsx
Due: npm run lint:frontend, npm run lint:backend

add help text
  apps/frontend/src/components/questionary/QuestionReadPermissionsConfig.tsx
Due: npm run lint:frontend

Reverting Changes to the function calculateReferenceNumber
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
Due: npm run lint:backend

Fix review comments
  apps/backend/src/factory/DownloadService.ts
  apps/backend/src/middlewares/tracing/tracing.ts
Due: npm run lint:backend

Context propagation for factory calls
  apps/backend/src/factory/DownloadService.ts
Due: npm run lint:backend

Resolved duo validation sha integrity
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: none

Reverting changes to tsconfig
  apps/frontend/tsconfig.json
Due: none

wip
  apps/backend/src/factory/pdf/experimentSafety.ts
  apps/frontend/src/components/template/ExperimentPdfTemplateDefaultData.tsx
Due: npm run lint:frontend, npm run lint:backend

fix: the closed draw is scrollable
  apps/frontend/src/components/PageLayout.tsx
Due: npm run lint:frontend

Temporarily fixing the issue with addStatusActionsToConnectionValidationSchema
  apps/backend/src/mutations/WorkflowMutations.ts
Due: npm run lint:backend

fix backend test
  apps/backend/src/datasources/mockups/FacilityDataSource.ts
Due: npm run lint:backend

fix: add access route to stfc excel export
  apps/backend/src/factory/xlsx/fap.ts
  apps/backend/src/factory/xlsx/stfc/StfcFapDataColumns.ts
  apps/backend/src/factory/xlsx/stfc/StfcFapDataRow.ts
  apps/e2e/cypress/fixtures/exampleCallFapExportSTFC.json
  apps/e2e/cypress/fixtures/exampleFapExportSTFC.json
Due: npm run lint:backend

add read permissions to question updates
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/genericTemplates.cy.ts
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/e2e/cypress/e2e/samples.cy.ts
  apps/e2e/cypress/e2e/techniques.cy.ts
  apps/e2e/cypress/e2e/templateDeleteAndArchive.cy.ts
Due: npm run lint:e2e

feat: implement Remote Users functionality with modal and data fetching
  apps/backend/src/resolvers/queries/RemoteUsersQuery.ts
  apps/frontend/src/components/common/UserManagementTable.tsx
  apps/frontend/src/components/proposal/ProposalParticipants.tsx
  apps/frontend/src/components/proposal/ProposalTable.tsx
  apps/frontend/src/components/proposal/RemoteUsersModal.tsx
  apps/frontend/src/components/proposalBooking/CreateUpdateVisit.tsx
  apps/frontend/src/graphql/remoteUser/getRemoteUsers.graphql
  apps/frontend/src/hooks/remoteUser/useRemoteUsersData.ts
Due: npm run lint:frontend, npm run lint:backend

fix: the closed draw is scrollable (#1119)
  apps/frontend/src/components/PageLayout.tsx
Due: npm run lint:frontend

comment
  apps/backend/src/factory/xlsx/stfc/StfcFapDataRow.ts
Due: npm run lint:backend

fix lint errors from down stream
  apps/backend/src/factory/pdf/genericTemplates.ts
  apps/backend/src/factory/pdf/proposal.ts
  apps/backend/src/factory/pdf/sample.ts
Due: npm run lint:backend

update updateQuestionTemplateRelationSettings for new config
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/genericTemplates.cy.ts
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

fix: add access route to stfc excel export (#1120)
  apps/backend/src/factory/xlsx/fap.ts
  apps/backend/src/factory/xlsx/stfc/StfcFapDataColumns.ts
  apps/backend/src/factory/xlsx/stfc/StfcFapDataRow.ts
  apps/e2e/cypress/fixtures/exampleCallFapExportSTFC.json
  apps/e2e/cypress/fixtures/exampleFapExportSTFC.json
Due: npm run lint:backend

missed read permissions
  apps/backend/src/models/questionTypes/SampleDeclaration.ts
  apps/e2e/cypress/e2e/templateDeleteAndArchive.cy.ts
Due: npm run lint:e2e, npm run lint:backend

test: enable event bus in unit testing (#1111)
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/datasources/mockups/ReviewDataSource.ts
  apps/backend/src/datasources/mockups/UserDataSource.ts
  apps/backend/src/decorators/EventBus.ts
  apps/backend/src/eventHandlers/email/eliEmailHandler.spec.ts
  apps/backend/src/eventHandlers/email/essEmailHandler.spec.ts
  apps/backend/src/mutations/InviteMutations.spec.ts
Due: npm run lint:backend

fix: standardize email template IDs in mock invites
  apps/backend/src/datasources/mockups/InviteDataSource.ts
Due: npm run lint:backend

fix: use constant for co-proposer invite template ID in tests
  apps/backend/src/models/Invite.ts
  apps/backend/src/mutations/InviteMutations.spec.ts
Due: npm run lint:backend

fix more tests
  apps/e2e/cypress/e2e/genericTemplates.cy.ts
  apps/e2e/cypress/e2e/templatesBasic.cy.ts
  apps/e2e/cypress/fixtures/shipments_template.json
  apps/e2e/cypress/fixtures/template_import.json
Due: npm run lint:e2e

refactor: replace string template IDs with EmailTemplateId enum in InviteDataSource and essEmailHandler
  apps/backend/src/datasources/mockups/InviteDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/eventHandlers/email/essEmailHandler.spec.ts
  apps/backend/src/eventHandlers/email/essEmailHandler.ts
Due: npm run lint:backend

adress comments
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/stfc/StfcInternalReviewDataSource.ts
Due: npm run lint:backend

refactor: update template ID to use EmailTemplateId enum in checkInviteReminderJob tests
  apps/backend/src/asyncJobs/jobs/checkInviteReminderJob.spec.ts
  apps/backend/src/eventHandlers/email/essEmailHandler.ts
Due: npm run lint:backend

feat: rename remote users to datra access users
  apps/backend/db_patches/0183_AddRemoteUsersFeature.sql
  apps/backend/src/models/Feature.ts
  apps/backend/src/resolvers/queries/DataAccessUsersQuery.ts
  apps/frontend/src/components/proposal/DataAccessUsersModal.tsx
  apps/frontend/src/components/proposal/ProposalTable.tsx
  apps/frontend/src/graphql/remoteUser/getDataAccessUsers.graphql
  apps/frontend/src/graphql/remoteUser/getRemoteUsers.graphql
  apps/frontend/src/hooks/remoteUser/useDataAccessUsersData.ts
  apps/frontend/src/hooks/remoteUser/useRemoteUsersData.ts
Due: npm run lint:frontend, npm run lint:backend

feat: update titles and tooltips to reflect data access users terminology
  apps/frontend/src/components/proposal/DataAccessUsersModal.tsx
  apps/frontend/src/components/proposal/ProposalTable.tsx
Due: npm run lint:frontend

refactor: format setPrincipalInvestigator prop for better readability
  apps/frontend/src/components/common/UserManagementTable.tsx
Due: npm run lint:frontend

adding the new where clause when the reviewer filter is ME
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
Due: npm run lint:backend

spelling correction
  apps/frontend/src/components/instrument/CreateUpdateInstrument.tsx
Due: npm run lint:frontend

updating the test case to check if the submit button is disabled for instrument scientists when multiple tech reviews are enabled
  apps/e2e/cypress/e2e/instruments.cy.ts
Due: npm run lint:e2e

adding alert message when instrument scientists tries to bulk submit technical reviews for proposals where they are not the assigned reviewer
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
Due: npm run lint:frontend

submit is only enabled for the assigned technical reviewer
  apps/frontend/src/components/review/TechnicalReviewSummary.tsx
Due: npm run lint:frontend

rename the test case to shorten its length
  apps/e2e/cypress/e2e/instruments.cy.ts
Due: npm run lint:e2e

Path conditions:
  npm run lint:e2e: any of: apps/e2e/**/*.{js,ts,jsx,tsx}
  npm run lint:frontend: any of: apps/frontend/**/*.{js,ts,jsx,tsx}
  npm run lint:backend: any of: apps/backend/**/*.{js,ts,jsx,tsx}
