Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Remove e2e restriction
  apps/e2e/cypress/e2e/techniques.cy.ts
Due: npm run lint:e2e

Add mutations
  apps/backend/src/datasources/TechniqueDataSource.ts
  apps/backend/src/datasources/postgres/TechniqueDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/mutations/TechniqueMutations.ts
  apps/backend/src/resolvers/mutations/AssignInstrumentsToTechnique.ts
  apps/backend/src/resolvers/mutations/CreateTechniqueMutation.ts
  apps/backend/src/resolvers/mutations/DeleteTechniqueMutation.ts
  apps/backend/src/resolvers/mutations/RemoveInstrumentFromTechnique.ts
  apps/backend/src/resolvers/mutations/UpdateTechniqueMutations.ts
  apps/frontend/src/graphql/technique/assignInstrumentsToTechnique.graphql
  apps/frontend/src/graphql/technique/removeInstrumentsFromTechnique.graphql
Due: npm run lint:backend

Move validation to user-office-lib
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/mutations/Technique/index.ts
  apps/backend/src/mutations/TechniqueMutations.ts
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/components/technique/CreateUpdateTechnique.tsx
Due: npm run lint:frontend, npm run lint:backend

Fix file
  apps/frontend/src/components/technique/TechniqueTable.tsx
Due: npm run lint:frontend

Review comment fixes
  apps/backend/db_patches/0157_AddTechniques.sql
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/datasources/TechniqueDataSource.ts
  apps/backend/src/datasources/mockups/TechniqueDataSource.ts
  apps/backend/src/datasources/postgres/TechniqueDataSource.ts
  apps/backend/src/models/Technique.ts
  apps/backend/src/mutations/TechniqueMutations.spec.ts
  apps/backend/src/mutations/TechniqueMutations.ts
  apps/backend/src/resolvers/mutations/AssignInstrumentsToTechnique.ts
  apps/backend/src/resolvers/mutations/DeleteTechniqueMutation.ts
  apps/backend/src/resolvers/mutations/UpdateTechniqueMutations.ts
  apps/backend/src/resolvers/types/Technique.ts
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/components/technique/AssignInstrumentsToTechniques.tsx
  apps/frontend/src/components/technique/CreateUpdateTechnique.tsx
  apps/frontend/src/components/technique/TechniqueTable.tsx
  apps/frontend/src/graphql/technique/deleteTechnique.graphql
  apps/frontend/src/graphql/technique/technique.fragment.graphql
  apps/frontend/src/graphql/technique/updateTechnique.graphql
Due: npm run lint:frontend, npm run lint:backend

Add technique instrument assignment test
  apps/e2e/cypress/e2e/techniques.cy.ts
  apps/e2e/cypress/support/e2e.ts
  apps/frontend/src/components/technique/AssignInstrumentsToTechniques.tsx
  apps/frontend/src/components/technique/TechniqueTable.tsx
Due: npm run lint:e2e, npm run lint:frontend

Fix instrument deletion
  apps/backend/db_patches/0157_AddTechniques.sql
Due: none

Add mutations backend tests
  apps/backend/src/datasources/mockups/TechniqueDataSource.ts
  apps/backend/src/models/Technique.ts
  apps/backend/src/mutations/TechniqueMutations.spec.ts
  apps/frontend/src/components/technique/TechniqueTable.tsx
Due: npm run lint:frontend, npm run lint:backend

Move validation to user-office-lib
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/mutations/Technique/index.ts
  apps/backend/src/mutations/TechniqueMutations.ts
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/components/technique/AssignInstrumentsToTechniques.tsx
  apps/frontend/src/components/technique/AssignedInstrumentsTable.tsx
  apps/frontend/src/components/technique/CreateUpdateInstrument.tsx
  apps/frontend/src/components/technique/CreateUpdateTechnique.tsx
  apps/frontend/src/components/technique/TechniquesPage.tsx
Due: npm run lint:frontend, npm run lint:backend

Validation schema for mutations
  apps/backend/src/mutations/Technique/index.ts
  apps/backend/src/mutations/TechniqueMutations.ts
Due: npm run lint:backend

Corrections to get techniques flow
  apps/backend/src/datasources/postgres/TechniqueDataSource.ts
Due: npm run lint:backend

fix e2e tests part 2
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

removing fap sec and fap chair rights to submit instruments from FAP meetings
  apps/backend/src/mutations/InstrumentMutations.ts
Due: npm run lint:backend

Review comment fixes
  apps/backend/db_patches/0157_AddTechniques.sql
  apps/frontend/src/components/technique/AssignInstrumentsToTechniques.tsx
  apps/frontend/src/components/technique/TechniqueTable.tsx
Due: npm run lint:frontend

continue fixing mui components
  apps/frontend/src/components/call/CallGeneralInfo.tsx
  apps/frontend/src/components/common/FormikUITextField.tsx
  apps/frontend/src/components/common/SuperMaterialTable.tsx
  apps/frontend/src/components/common/predefinedMessages/FormikUIPredefinedMessagesTextField.tsx
  apps/frontend/src/components/instrument/CreateUpdateInstrument.tsx
  apps/frontend/src/components/instrument/InstrumentTable.tsx
  apps/frontend/src/components/proposal/ProposalAdmin.tsx
  apps/frontend/src/components/review/ProposalTechnicalReview.tsx
  apps/frontend/src/components/user/UpdateUserInformation.tsx
  apps/frontend/src/hooks/instrument/useInstrumentsData.ts
Due: npm run lint:frontend

feat: make tech reviews optional
  apps/backend/db_patches/0157_MakeTechReviewsConfigurableByCall.sql
  apps/backend/src/datasources/mockups/CallDataSource.ts
  apps/backend/src/datasources/postgres/CallDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/Call.ts
  apps/backend/src/mutations/CallMutations.spec.ts
  apps/backend/src/populate/index.ts
  apps/backend/src/resolvers/mutations/CreateCallMutation.ts
  apps/backend/src/resolvers/mutations/UpdateCallMutation.ts
  apps/backend/src/resolvers/types/Call.ts
  apps/e2e/cypress/e2e/calls.cy.ts
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/e2e/cypress/support/utils.ts
  apps/frontend/src/components/call/CallReviewsInfo.tsx
  apps/frontend/src/components/call/CreateUpdateCall.tsx
  apps/frontend/src/graphql/call/createCall.graphql
  apps/frontend/src/graphql/call/fragment.call.graphql
  apps/frontend/src/graphql/call/updateCall.graphql
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

fix test cases
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

review comments changes
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/QuestionaryComponentInstrumentPicker.tsx
  apps/frontend/src/models/questionary/ConditionEvaluator.ts
Due: npm run lint:frontend

Validation version upgrade
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: none

delete and update flow fix
  apps/backend/src/mutations/TechniqueMutations.spec.ts
  apps/backend/src/mutations/TechniqueMutations.ts
  apps/backend/src/resolvers/mutations/DeleteTechniqueMutation.ts
  apps/frontend/src/components/technique/TechniqueTable.tsx
  apps/frontend/src/graphql/technique/deleteTechnique.graphql
Due: npm run lint:frontend, npm run lint:backend

Improve error handling
  apps/backend/src/datasources/postgres/TechniqueDataSource.ts
  apps/backend/src/mutations/TechniqueMutations.ts
  apps/backend/src/queries/TechniqueQueries.ts
Due: npm run lint:backend

review comments incorporation
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/QuestionaryComponentInstrumentPicker.tsx
Due: npm run lint:frontend

Simplify condition
  apps/backend/src/datasources/mockups/TechniqueDataSource.ts
Due: npm run lint:backend

Simplify values
  apps/frontend/src/components/technique/CreateUpdateTechnique.tsx
Due: npm run lint:frontend

Change return value
  apps/backend/src/resolvers/types/Technique.ts
Due: npm run lint:backend

use formik field as a base for the wrapper components
  apps/frontend/src/components/call/CallGeneralInfo.tsx
  apps/frontend/src/components/common/FormikCheckboxWithLabel.tsx
  apps/frontend/src/components/common/FormikUIAutocomplete.tsx
  apps/frontend/src/components/common/FormikUICheckboxWithLabel.tsx
  apps/frontend/src/components/common/FormikUISelect.tsx
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/FinalRankingForm.tsx
  apps/frontend/src/components/proposal/ProposalAdmin.tsx
  apps/frontend/src/components/questionary/questionaryComponents/Boolean/QuestionBooleanForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/DatePicker/QuestionTemplateRelationDateForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/Embellishment/QuestionEmbellishmentForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/Embellishment/QuestionTemplateRelationEmbellishmentForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/FileUpload/QuestionFileUploadForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/FileUpload/QuestionTemplateRelationFileUploadForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/GenericTemplate/QuestionGenericTemplateForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/GenericTemplate/QuestionTemplateRelationGenericTemplateForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/Interval/QuestionIntervalForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/Interval/QuestionTemplateRelationIntervalForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/NumberInput/QuestionNumberInputForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/NumberInput/QuestionTemplateRelationNumberInputForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/RichTextInput/QuestionRichTextInputForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/RichTextInput/QuestionTemplateRelationRichTextInputForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/SampleDeclaration/QuestionSampleDeclarationForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/SampleDeclaration/QuestionTemplateRelationSampleDeclarationForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/TextInput/QuestionTemplateRelationTextInputForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/TextInput/QuestionTextInputForm.tsx
  apps/frontend/src/components/review/ProposalGrade.tsx
  apps/frontend/src/components/review/ProposalTechnicalReview.tsx
  apps/frontend/src/components/user/UpdateUserInformation.tsx
Due: npm run lint:frontend

Simplify params
  apps/backend/src/datasources/postgres/TechniqueDataSource.ts
Due: npm run lint:backend

fix state update
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
Due: npm run lint:frontend

feat: Update TechnicalReviewRecord and TechnicalReview classes
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/TechnicalReview.ts
  apps/backend/src/resolvers/types/TechnicalReview.ts
Due: npm run lint:backend

fix date and datetime pickers
  apps/frontend/src/components/call/CallGeneralInfo.tsx
  apps/frontend/src/components/call/CallNotificationAndCycleInfo.tsx
  apps/frontend/src/components/call/CallReviewsInfo.tsx
  apps/frontend/src/components/common/FormikUIAutocomplete.tsx
  apps/frontend/src/components/common/FormikUIDateTimePicker.tsx
  apps/frontend/src/components/experiment/DateFilter.tsx
  apps/frontend/src/components/questionary/questionaryComponents/DatePicker/QuestionDateForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/DatePicker/QuestionTemplateRelationDateForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/DatePicker/QuestionaryComponentDatePicker.tsx
  apps/frontend/src/components/questionary/questionaryComponents/VisitBasis/QuestionaryComponentVisitBasis.tsx
  apps/frontend/src/components/user/UpdateUserInformation.tsx
  apps/frontend/src/utils/errorHandler.ts
Due: npm run lint:frontend

fix all checkboxes
  apps/frontend/src/components/fap/General/AddFap.tsx
  apps/frontend/src/components/fap/General/FapGeneralInfo.tsx
  apps/frontend/src/components/questionary/questionaryComponents/Boolean/QuestionTemplateRelationBooleanForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/DatePicker/QuestionDateForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/DynamicMultipleChoice/QuestionTemplateRelationDynamicMultipleChoiceForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/MultipleChoice/QuestionMultipleChoiceForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/MultipleChoice/QuestionTemplateRelationMultipleChoiceForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/TextInput/QuestionTextInputForm.tsx
Due: npm run lint:frontend

feat: dont assign tech review if call does not need it
  apps/backend/src/datasources/ProposalDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/ReviewDataSource.ts
  apps/backend/src/mutations/InstrumentMutations.ts
  apps/frontend/src/components/call/CreateUpdateCall.tsx
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
Due: npm run lint:frontend, npm run lint:backend

feat: Update TechnicalReviewRecord and TechnicalReview classes (#643)
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/TechnicalReview.ts
  apps/backend/src/resolvers/types/TechnicalReview.ts
Due: npm run lint:backend

adress more review comments and fix e2e tests
  apps/backend/src/datasources/postgres/InstrumentDataSource.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e, npm run lint:backend

Remove multiple instruments in single call
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/datasources/TechniqueDataSource.ts
  apps/backend/src/datasources/mockups/TechniqueDataSource.ts
  apps/backend/src/datasources/postgres/TechniqueDataSource.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/events/event.enum.ts
  apps/backend/src/mutations/TechniqueMutations.ts
  apps/backend/src/resolvers/mutations/RemoveInstrumentsFromTechnique.ts
  apps/e2e/cypress/support/technique.ts
  apps/e2e/cypress/types/technique.d.ts
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/components/technique/TechniqueTable.tsx
  apps/frontend/src/graphql/technique/removeInstrumentsFromTechnique.graphql
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Fix tests
  apps/backend/src/datasources/mockups/TechniqueDataSource.ts
  apps/backend/src/mutations/TechniqueMutations.spec.ts
Due: npm run lint:backend

Events handling
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/events/applicationEvents.ts
Due: npm run lint:backend

Passing technique id for events
  apps/backend/src/eventHandlers/logging.ts
Due: npm run lint:backend

Initial backend changes
  apps/backend/db_patches/0158_AddTechniquePickerDataType.sql
  apps/backend/src/models/Template.ts
  apps/backend/src/models/questionTypes/QuestionRegistry.ts
  apps/backend/src/models/questionTypes/TechniquePicker.ts
  apps/backend/src/resolvers/types/FieldConfig.ts
  apps/frontend/src/graphql/template/fragment.fieldConfig.graphql
Due: npm run lint:backend

Initial changes
  apps/backend/src/models/questionTypes/TechniquePicker.ts
Due: npm run lint:backend

Path conditions:
  npm run lint:e2e: any of: apps/e2e/**/*.{js,ts,jsx,tsx}
  npm run lint:frontend: any of: apps/frontend/**/*.{js,ts,jsx,tsx}
  npm run lint:backend: any of: apps/backend/**/*.{js,ts,jsx,tsx}
