Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

fix: deleted the outdated patch, that led to error, since it is depending on the table that does not exist. replaced the outdated one with newer one with latest run number
  apps/backend/db_patches/0177_AddInstrumentIdToTechRevInPropsalTableView.sql
Due: none

fix: addressing bug search text the it was incompatible when used in jsonb search path
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
Due: npm run lint:backend

refactor: Improve readibility
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
Due: npm run lint:backend

feat: add SQL script to enforce NOT NULL constraint on instrument_id in technical_review
  apps/backend/db_patches/0177_AddTechnicalReviewInstrumentNotNull.sql
  apps/frontend/src/components/review/TechnicalReviewSummary.tsx
Due: npm run lint:frontend

fix: add missing routing_key to RabbitMQ bindings
  apps/backend/rabbitmq-definitions.json
Due: none

chore: update duo-validation package to version 5.1.14
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: none

fix: address getFullUserNameWithInstitution returning "null" as return value (#1025)
  apps/frontend/src/utils/user.ts
Due: npm run lint:frontend

feat: Add StatusNode component and integrate with React Flow
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/components/settings/workflow/StatusNode.tsx
  apps/frontend/src/components/settings/workflow/StatusPicker.tsx
  apps/frontend/src/components/settings/workflow/TransitionEventDialog.tsx
  apps/frontend/src/components/settings/workflow/WorkflowEditor.tsx
Due: npm run lint:frontend

change datasources and update error handling
  apps/backend/src/datasources/InstrumentDataSource.ts
  apps/backend/src/datasources/ReviewDataSource.ts
  apps/backend/src/datasources/mockups/InstrumentDataSource.ts
  apps/backend/src/datasources/mockups/ReviewDataSource.ts
  apps/backend/src/datasources/postgres/InstrumentDataSource.ts
  apps/backend/src/datasources/postgres/ReviewDataSource.ts
  apps/backend/src/mutations/InstrumentMutations.ts
Due: npm run lint:backend

feat: Refactor WorkflowEditor to enhance event handling and integrate StatusEventsAndActionsDialog
  apps/frontend/src/components/settings/workflow/WorkflowEditor.tsx
Due: npm run lint:frontend

amend checks and update test
  apps/backend/src/datasources/postgres/ReviewDataSource.ts
  apps/e2e/cypress/e2e/instruments.cy.ts
Due: npm run lint:e2e, npm run lint:backend

use the feature flag
  apps/frontend/src/components/AppRoutes.tsx
Due: npm run lint:frontend

feat: Refactor StatusNode and WorkflowEditor for improved styling and event handling
  apps/frontend/src/components/settings/workflow/StatusNode.tsx
  apps/frontend/src/components/settings/workflow/WorkflowEditor.tsx
Due: npm run lint:frontend

Code optimisation
  apps/backend/src/decorators/EventBus.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/events/eventBus.ts
Due: npm run lint:backend

Experiment Safety Workflow Integration done
  apps/backend/db_patches/0178_AddExperimentEvents.sql
  apps/backend/db_patches/0179_AddExperimentWorkflowToCall.sql
  apps/backend/src/eventHandlers/experimentSafetyWorkflow.ts
  apps/backend/src/models/ExperimentSafetyEvents.ts
  apps/backend/src/statusActionEngine/experimentSafety.ts
  apps/backend/src/statusActionEngine/proposal.ts
  apps/backend/src/workflowEngine/experiment.ts
  apps/backend/src/workflowEngine/proposal.ts
Due: npm run lint:backend

chore: update duo-validation package to version 5.1.14 (#1031)
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: none

Rename Xpress in patches
  apps/backend/db_patches/0177_AddXpressStatuses.sql
Due: none

WIP
  apps/backend/db_patches/0178_AddTemplateGroups.sql
  apps/backend/src/factory/pdf/experiment.ts
  apps/frontend/src/components/template/ExperimentPdfTemplateDefaultData.tsx
  apps/frontend/src/components/template/ExperimentPdfTemplatesPage.tsx
  apps/frontend/src/components/template/pdf/experimentSafety/PdfTemplateEditor.tsx
  apps/frontend/src/components/template/pdf/experimentSafety/PdfTemplatesPage.tsx
  apps/frontend/src/components/template/pdf/experimentSafety/PdfTemplatesTable.tsx
  apps/frontend/src/components/template/pdf/proposal/PdfTemplateEditor.tsx
  apps/frontend/src/components/template/pdf/proposal/PdfTemplatesPage.tsx
  apps/frontend/src/components/template/pdf/proposal/PdfTemplatesTable.tsx
  apps/frontend/src/graphql/template/getExperimentPdfTemplates.graphql
  apps/frontend/src/graphql/template/getProposalPdfTemplates.graphql
Due: npm run lint:frontend, npm run lint:backend

Updated the db patch
  apps/backend/db_patches/0180_AddTemplateGroups.sql
Due: none

attempt to fix failing test
  apps/e2e/cypress/e2e/instruments.cy.ts
Due: npm run lint:e2e

Optimised Call to accomodate both Proposal PDF and Experiment PDF
  apps/backend/db_patches/0181_UpdateCallTablePdfTemplates.sql
  apps/backend/src/datasources/mockups/CallDataSource.ts
  apps/backend/src/datasources/postgres/CallDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/factory/pdf/experiment.ts
  apps/backend/src/factory/pdf/proposal.ts
  apps/backend/src/models/Call.ts
  apps/backend/src/models/Template.ts
  apps/backend/src/mutations/CallMutations.spec.ts
  apps/backend/src/mutations/PdfTemplateMutations.spec.ts
  apps/backend/src/mutations/PdfTemplateMutations.ts
  apps/backend/src/mutations/TemplateMutations.ts
  apps/backend/src/resolvers/mutations/CreateCallMutation.ts
  apps/backend/src/resolvers/mutations/UpdateCallMutation.ts
  apps/backend/src/resolvers/queries/CallsQuery.ts
  apps/backend/src/resolvers/types/Template.ts
  apps/e2e/cypress/e2e/pdfTemplates.cy.ts
  apps/e2e/cypress/e2e/templateDeleteAndArchive.cy.ts
  apps/frontend/src/components/AppRoutes.tsx
  apps/frontend/src/components/call/CallGeneralInfo.tsx
  apps/frontend/src/components/call/CreateUpdateCall.tsx
  apps/frontend/src/components/menu/MenuItems.tsx
  apps/frontend/src/components/menu/TemplateMenuListItem.tsx
  apps/frontend/src/components/template/CreateTemplate.tsx
  apps/frontend/src/components/template/ExperimentPdfTemplatesPage.tsx
  apps/frontend/src/components/template/TemplatesTable.tsx
  apps/frontend/src/components/template/pdf/experimentSafety/PdfTemplatesPage.tsx
  apps/frontend/src/components/template/pdf/experimentSafety/PdfTemplatesTable.tsx
  apps/frontend/src/components/template/pdf/proposal/PdfTemplatesTable.tsx
  apps/frontend/src/graphql/call/createCall.graphql
  apps/frontend/src/graphql/call/updateCall.graphql
  apps/frontend/src/graphql/template/getExperimentSafetyPdfTemplates.graphql
  apps/frontend/src/graphql/template/getProposalPdfTemplates.graphql
  apps/frontend/src/models/questionary/QuestionaryEditorModel.ts
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Rename e2e
  apps/e2e/cypress/e2e/techniqueProposals.ts
Due: npm run lint:e2e

feat: add DB constraint instrumentID not null for technical_review (#1030)
  apps/backend/db_patches/0177_AddTechnicalReviewInstrumentNotNull.sql
  apps/frontend/src/components/review/TechnicalReviewSummary.tsx
Due: npm run lint:frontend

fix test for non stfc mode
  apps/e2e/cypress/e2e/instruments.cy.ts
Due: npm run lint:e2e

refactor: merge fap reviews and fap assignment table
  apps/backend/db_patches/0178_MergeFapReviewsFapAssignments.sql
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/mockups/ReviewDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/datasources/postgres/ReviewDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/Review.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/backend/src/resolvers/mutations/SaveReviewerRankMutation.ts
  apps/backend/src/resolvers/types/Review.ts
  apps/frontend/src/components/fap/Proposals/FapAssignedReviewersTable.tsx
  apps/frontend/src/graphql/fap/setReviewerRank.graphql
Due: npm run lint:frontend, npm run lint:backend

feat: update tech reviewer when instrument contact changes (#1018)
  apps/backend/src/datasources/ReviewDataSource.ts
  apps/backend/src/datasources/mockups/ReviewDataSource.ts
  apps/backend/src/datasources/postgres/ReviewDataSource.ts
  apps/backend/src/mutations/InstrumentMutations.spec.ts
  apps/backend/src/mutations/InstrumentMutations.ts
  apps/backend/src/resolvers/mutations/UpdateInstrumentMutation.ts
  apps/e2e/cypress/e2e/instruments.cy.ts
  apps/frontend/src/components/instrument/CreateUpdateInstrument.tsx
  apps/frontend/src/graphql/instrument/updateInstrument.graphql
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

remove chaining
  apps/frontend/src/components/fap/Proposals/FapAssignedReviewersTable.tsx
Due: npm run lint:frontend

fix updating view
  apps/frontend/src/components/fap/Proposals/FapAssignedReviewersTable.tsx
Due: npm run lint:frontend

add check of passed values from backend for instrument picker
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/InstrumentPickerDefinition.tsx
Due: npm run lint:frontend

add more checks on instrument picker form
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/QuestionaryComponentInstrumentPicker.tsx
Due: npm run lint:frontend

remove some type warnings
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/QuestionaryComponentInstrumentPicker.tsx
Due: npm run lint:frontend

Disable internal caching in Dataloader
  apps/backend/src/loaders/BasicUserDetailsLoader.ts
  apps/backend/src/loaders/UsersLoader.ts
Due: npm run lint:backend

fix cypress test by adding instruments to call
  apps/e2e/cypress/e2e/templatesBasic.cy.ts
Due: npm run lint:e2e

Disable DataLoader internal caching
  apps/backend/src/loaders/BasicUserDetailsLoader.ts
  apps/backend/src/loaders/UsersLoader.ts
Due: npm run lint:backend

fix: bugfix for searchText use in jsonb_path_exists() (#1029)
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
Due: npm run lint:backend

refactor: merge fap reviews and fap assignment table (#1033)
  apps/backend/db_patches/0178_MergeFapReviewsFapAssignments.sql
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/mockups/ReviewDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/datasources/postgres/ReviewDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/Review.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/backend/src/resolvers/mutations/SaveReviewerRankMutation.ts
  apps/backend/src/resolvers/types/Review.ts
  apps/frontend/src/components/fap/Proposals/FapAssignedReviewersTable.tsx
  apps/frontend/src/graphql/fap/setReviewerRank.graphql
Due: npm run lint:frontend, npm run lint:backend

update var names and remove unneeded var
  apps/backend/src/auth/ReviewAuthorization.ts
  apps/backend/src/datasources/CallDataSource.ts
  apps/backend/src/datasources/mockups/CallDataSource.ts
  apps/backend/src/datasources/postgres/CallDataSource.ts
Due: npm run lint:backend

feat: add 'cancelled' state to action buttons and update related tests
  apps/e2e/cypress/e2e/visits.cy.ts
  apps/e2e/cypress/support/utils.ts
  apps/e2e/cypress/types/utils.d.ts
  apps/frontend/src/components/proposalBooking/ActionButton.tsx
  apps/frontend/src/components/proposalBooking/CancelBadge.tsx
  apps/frontend/src/hooks/proposalBooking/useActionButtons.tsx
Due: npm run lint:e2e, npm run lint:frontend

Path conditions:
  npm run lint:e2e: any of: apps/e2e/**/*.{js,ts,jsx,tsx}
  npm run lint:frontend: any of: apps/frontend/**/*.{js,ts,jsx,tsx}
  npm run lint:backend: any of: apps/backend/**/*.{js,ts,jsx,tsx}
