Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Rename query
  apps/frontend/src/graphql/proposal/getProposalsAttachments.graphql
Due: none

Rename query
  apps/frontend/src/hooks/proposal/useProposalsAttachmentsData.ts
Due: npm run lint:frontend

fix: remove unused fields (#969)
  apps/backend/db_patches/0171_RemoveTrainingExpiryDate.sql
  apps/backend/src/datasources/mockups/VisitDataSource.ts
  apps/backend/src/datasources/postgres/VisitDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/VisitRegistration.ts
  apps/backend/src/mutations/VisitMutations.spec.ts
  apps/backend/src/mutations/VisitMutations.ts
  apps/backend/src/queries/VisitQueries.ts
  apps/backend/src/resolvers/mutations/UpdateVisitRegistrationMutation.ts
  apps/backend/src/resolvers/registerEnums.ts
  apps/backend/src/resolvers/types/VisitRegistration.ts
  apps/e2e/cypress/e2e/experiments.cy.ts
  apps/e2e/cypress/e2e/visits.cy.ts
  apps/frontend/src/components/experiment/ExperimentVisitsTable.tsx
  apps/frontend/src/components/proposalBooking/UserUpcomingExperimentsTable.tsx
  apps/frontend/src/components/visit/CreateVisitRegistration.tsx
  apps/frontend/src/graphql/scheduledEvent/getScheduledEventsCore.graphql
  apps/frontend/src/graphql/visitRegistration/fragment.visitRegistration.graphql
  apps/frontend/src/graphql/visitRegistration/updateVisitRegistration.graphql
  apps/frontend/src/hooks/proposalBooking/useActionButtons.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

wip
  apps/backend/src/resolvers/types/FieldConfig.ts
  apps/frontend/src/components/menu/TemplateMenuListItem.tsx
  apps/frontend/src/components/template/PreviewTemplateModal.tsx
  apps/frontend/src/graphql/template/fragment.fieldConfig.graphql
Due: npm run lint:frontend, npm run lint:backend

wip
  apps/backend/src/mutations/TemplateMutations.ts
Due: npm run lint:backend

fix: correct spelling and improve test descriptions in VisitMutations tests
  apps/backend/src/mutations/VisitMutations.spec.ts
  apps/backend/src/mutations/VisitMutations.ts
Due: npm run lint:backend

fix: remove flag for stfc pdf tests (#977)
  apps/backend/docker-compose-stfc.e2e.yml
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
Due: npm run lint:e2e

Add relevant test cases
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

perf: scientist-technique PDF permission check (#979)
  apps/backend/src/auth/ProposalAuthorization.spec.ts
  apps/backend/src/auth/ProposalAuthorization.ts
  apps/backend/src/datasources/UserDataSource.ts
  apps/backend/src/datasources/mockups/UserDataSource.ts
  apps/backend/src/datasources/postgres/UserDataSource.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e, npm run lint:backend

test: enhance visit registration cancellation tests with parameterized statuses
  apps/backend/src/mutations/VisitMutations.spec.ts
Due: npm run lint:backend

refactor: simplify approve visit registration mutation and API call
  apps/backend/src/resolvers/mutations/ApproveVisitRegistrationMutations.ts
  apps/frontend/src/components/experiment/ExperimentVisitsTable.tsx
  apps/frontend/src/graphql/visitRegistration/approveVisitRegistration.graphql
Due: npm run lint:frontend, npm run lint:backend

fix test implementation and update test case to test the bug fix
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

DB Schema change for the Experiment Safety Review work done.
  apps/backend/src/datasources/ExperimentDataSource.ts
  apps/backend/src/datasources/mockups/ExperimentDataSource.ts
  apps/backend/src/datasources/postgres/ExperimentDataSource.ts
  apps/backend/src/queries/ExperimentQueries.ts
  apps/backend/src/queries/ProposalQueries.ts
  apps/backend/src/resolvers/queries/ExperimentQuery.ts
  apps/backend/src/resolvers/queries/ExperimentsQuery.ts
  apps/backend/src/resolvers/types/Experiment.ts
  apps/backend/src/resolvers/types/Proposal.ts
  apps/backend/src/resolvers/types/User.ts
  apps/frontend/src/components/experiment/ExperimentTable.tsx
  apps/frontend/src/components/experiment/ExperimentVisitsTable.tsx
  apps/frontend/src/components/experimentSafety/ExperimentSafetyContainer.tsx
  apps/frontend/src/components/proposalBooking/CreateUpdateVisit.tsx
  apps/frontend/src/components/proposalBooking/ExperimentTimesTable.tsx
  apps/frontend/src/components/proposalBooking/UserExperimentsTable.tsx
  apps/frontend/src/components/proposalBooking/UserUpcomingExperimentsTable.tsx
  apps/frontend/src/components/questionary/questionaryComponents/SampleEsiBasis/SampleEsiBasisDefinition.tsx
  apps/frontend/src/components/review/ReviewQuestionary.tsx
  apps/frontend/src/components/review/TechnicalReviewQuestionary.tsx
  apps/frontend/src/components/shipments/CreateShipment.tsx
  apps/frontend/src/components/shipments/DeclareShipments.tsx
  apps/frontend/src/components/template/PreviewTemplateModal.tsx
  apps/frontend/src/graphql/experiment/createExperimentSafety.graphql
  apps/frontend/src/graphql/experiment/fragment.experiment.graphql
  apps/frontend/src/graphql/experiment/getExperiment.graphql
  apps/frontend/src/graphql/experiment/getExperimentSafety.graphql
  apps/frontend/src/graphql/experiment/getExperiments.graphql
  apps/frontend/src/graphql/feedback/updateFeedback.graphql
  apps/frontend/src/graphql/user/getUserExperiments.graphql
  apps/frontend/src/hooks/experiment/useExperiment.ts
  apps/frontend/src/hooks/experiment/useExperiments.ts
  apps/frontend/src/hooks/experiment/useUserExperiments.ts
  apps/frontend/src/hooks/proposalBooking/useActionButtons.tsx
  apps/frontend/src/hooks/scheduledEvent/useScheduledEvent.ts
  apps/frontend/src/models/questionary/visit/VisitRegistrationCore.ts
Due: npm run lint:frontend, npm run lint:backend

Update type
  apps/frontend/src/hooks/proposal/useProposalsAttachmentsData.ts
Due: npm run lint:frontend

refactor: remove CoProposerInviteDataSourceMock and enhance InviteDataSourceMock with co-proposer integration
  apps/backend/src/datasources/mockups/CoProposerInviteDataSource.ts
  apps/backend/src/datasources/mockups/InviteDataSource.ts
  apps/backend/src/eventHandlers/email/essEmailHandler.ts
  apps/backend/src/mutations/InviteMutations.ts
  apps/backend/src/queries/InvitesQueries.spec.ts
Due: npm run lint:backend

perf: improve attachment selection loading (#963)
  apps/backend/src/datasources/QuestionaryDataSource.ts
  apps/backend/src/datasources/mockups/QuestionaryDataSource.ts
  apps/backend/src/datasources/postgres/QuestionaryDataSource.ts
  apps/backend/src/models/ProposalAttachments.ts
  apps/backend/src/queries/QuestionaryQueries.spec.ts
  apps/backend/src/queries/QuestionaryQueries.ts
  apps/backend/src/resolvers/types/Proposal.ts
  apps/backend/src/resolvers/types/ProposalAttachments.ts
  apps/frontend/src/components/proposal/ProposalAttachmentDownload.tsx
  apps/frontend/src/components/review/ReviewQuestionary.tsx
  apps/frontend/src/components/review/TechnicalReviewQuestionary.tsx
  apps/frontend/src/graphql/proposal/getProposalsAttachments.graphql
  apps/frontend/src/hooks/proposal/useProposalsAttachmentsData.ts
Due: npm run lint:frontend, npm run lint:backend

feat: enhance cancel visit registration mutation to check registration existence and publish event for approved registrations
  apps/backend/src/mutations/VisitMutations.ts
Due: npm run lint:backend

Maintain selection beween tab changes
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
Due: npm run lint:frontend

feat: update message broker to retrieve user ID from user data source for cancelled visit registration
  apps/backend/src/eventHandlers/messageBroker.ts
Due: npm run lint:backend

add test
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

Amend implmentation
  apps/backend/src/auth/ProposalAuthorization.ts
  apps/backend/src/auth/TechnicalReviewAuthorization.ts
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/backend/src/mutations/ProposalMutations.ts
  apps/frontend/src/components/review/ProposalReviewContent.tsx
Due: npm run lint:frontend, npm run lint:backend

remove unnecessary checks
  apps/backend/src/auth/TechnicalReviewAuthorization.ts
  apps/backend/src/mutations/ProposalMutations.ts
Due: npm run lint:backend

spelling, make instrument nullable and use with confirm prompt
  apps/backend/src/resolvers/types/ProposalView.ts
  apps/e2e/cypress/e2e/instruments.cy.ts
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/components/review/TechnicalBulkReassignModal.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

feat: convert visit registration dates to ISO strings with time zone for message broker
  apps/backend/src/eventHandlers/messageBroker.ts
Due: npm run lint:backend

Revert "feat: convert visit registration dates to ISO strings with time zone for message broker"
  apps/backend/src/eventHandlers/messageBroker.ts
Due: npm run lint:backend

chore: upgrade Node.js version to 20.x in Dockerfiles and workflows
  .github/workflows/build-push.yml
  .github/workflows/github-tag-and-release.yml
  .github/workflows/lint.yml
  .github/workflows/test-build.yml
  apps/backend/Dockerfile
  apps/backend/Dockerfile.dev
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/e2e/package-lock.json
  apps/e2e/package.json
  apps/frontend/Dockerfile
  apps/frontend/Dockerfile.dev
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: none

Unit tests done
  apps/backend/src/datasources/mockups/CallDataSource.ts
  apps/backend/src/datasources/mockups/ExperimentDataSource.ts
  apps/backend/src/mutations/ExperimentMutation.spec.ts
  apps/backend/src/mutations/ExperimentMutation.ts
  apps/backend/src/queries/ExperimentQueries.spec.ts
Due: npm run lint:backend

improve naming convention
  apps/backend/package-lock.json
  apps/backend/src/auth/ProposalAuthorization.ts
  apps/backend/src/auth/TechnicalReviewAuthorization.ts
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/mutations/FapMutations.ts
Due: npm run lint:backend

remove check
  apps/backend/src/mutations/FapMutations.ts
Due: npm run lint:backend

feat(scheduler): add init scheduler documentation
  documentation/docs/assets/images/scheduler_calendar.png
  documentation/docs/assets/images/scheduler_filters.png
  documentation/docs/assets/images/scheduler_menu.png
  documentation/docs/assets/images/scheduler_new_event.png
  documentation/docs/assets/images/scheduler_plan.png
  documentation/docs/assets/images/scheduler_plan_down.png
  documentation/docs/assets/images/scheduler_plan_drag.png
  documentation/docs/assets/images/scheduler_planned.png
  documentation/docs/assets/images/scheduler_pre_allocate.png
  documentation/docs/assets/images/scheduler_pre_status.png
  documentation/docs/assets/images/scheduler_view_calendar.png
  documentation/docs/assets/images/scheduler_view_table.png
  documentation/docs/assets/images/scheduler_view_timeline.png
  documentation/docs/assets/images/scheduler_wf.png
  documentation/docs/assets/images/scheduler_wf_rabbit.png
  documentation/docs/assets/images/scheduler_wf_status.png
  documentation/docs/user-guide/scheduler.md
  documentation/mkdocs.yml
Due: none

fix: custom docker-compose setup
  docker-compose.yml
Due: none

Add MS Graph API email service
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/config/dependencyConfigELI.ts
  apps/backend/src/eventHandlers/MailService/MSGraphAPIMailService.ts
  apps/backend/src/eventHandlers/MailService/NodeMailerMailService.ts
  apps/backend/src/eventHandlers/MailService/SMTPMailService.ts
Due: npm run lint:backend

wip
  apps/backend/db_patches/0172_Faclities.sql
  apps/backend/src/buildContext.ts
  apps/backend/src/config/Tokens.ts
  apps/backend/src/config/dependencyConfigE2E.ts
  apps/backend/src/config/dependencyConfigELI.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/context/index.ts
  apps/backend/src/datasources/FacilityDataSource.ts
  apps/backend/src/datasources/postgres/FacilityDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/Facility.ts
  apps/backend/src/mutations/FacilityMutations.ts
  apps/backend/src/queries/FacilityQueries.ts
  apps/backend/src/resolvers/mutations/AssignInstrumentsToFacility.ts
  apps/backend/src/resolvers/mutations/AssignUsersToFacility.ts
  apps/backend/src/resolvers/mutations/CreateFacilityMutation.ts
  apps/backend/src/resolvers/mutations/UpdateFacilityMutation.ts
  apps/backend/src/resolvers/queries/FacilityQuery.ts
  apps/backend/src/resolvers/types/Facility.ts
  apps/frontend/src/components/AppRoutes.tsx
  apps/frontend/src/components/facility/CreateUpdateFacility.tsx
  apps/frontend/src/components/facility/FacilityDetailsPanel.tsx
  apps/frontend/src/components/facility/FacilityPage.tsx
  apps/frontend/src/components/facility/FacilityTable.tsx
  apps/frontend/src/components/facility/SelectInstrumentModel.tsx
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/components/menu/MenuItems.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/graphql/facility/assignInstrumentsToFacility.graphql
  apps/frontend/src/graphql/facility/assignUsersToFacility.graphql
  apps/frontend/src/graphql/facility/createFacility.graphql
  apps/frontend/src/graphql/facility/getFacilitys.graphql
  apps/frontend/src/graphql/facility/removeUserFromFacility.graphql
  apps/frontend/src/graphql/facility/updateFacility.graphql
  apps/frontend/src/hooks/facility/useFacilitiesData.ts
  apps/frontend/src/hooks/facility/useFacilityData.ts
Due: npm run lint:frontend, npm run lint:backend

test table navigation parameters save between tab navigation
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

fixed unit test case
  apps/backend/src/datasources/mockups/ExperimentDataSource.ts
Due: npm run lint:backend

fix graph api mail service
  apps/backend/src/eventHandlers/MailService/MSGraphAPIMailService.ts
Due: npm run lint:backend

chore: upgrade Node.js version from 20.x to 22.x across workflows and Dockerfiles
  .github/workflows/build-push.yml
  .github/workflows/github-tag-and-release.yml
  .github/workflows/lint.yml
  .github/workflows/test-build.yml
  apps/backend/Dockerfile
  apps/backend/Dockerfile.dev
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/e2e/package-lock.json
  apps/e2e/package.json
  apps/frontend/Dockerfile
  apps/frontend/Dockerfile.dev
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: none

wip
  apps/e2e/cypress/e2e/facility.cy.ts
  apps/frontend/src/components/facility/FacilityDetailsPanel.tsx
  apps/frontend/src/components/facility/FacilityTable.tsx
  apps/frontend/src/components/facility/SelectInstrumentModel.tsx
  apps/frontend/src/graphql/facility/removeInstrumentFromFacility.graphql
Due: npm run lint:e2e, npm run lint:frontend

Path conditions:
  npm run lint:e2e: any of: apps/e2e/**/*.{js,ts,jsx,tsx}
  npm run lint:frontend: any of: apps/frontend/**/*.{js,ts,jsx,tsx}
  npm run lint:backend: any of: apps/backend/**/*.{js,ts,jsx,tsx}
