Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

fix bugs, add tests
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/mutations/FapMutations.spec.ts
  apps/backend/src/mutations/FapMutations.ts
Due: npm run lint:backend

adds backend tests for mass assigning
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/mutations/FapMutations.spec.ts
Due: npm run lint:backend

revert unnecessery changes
  apps/backend/src/customTypes/index.d.ts
Due: npm run lint:backend

update country info within institution dbpatch
  apps/backend/db_patches/0148_AddRorIdToInstitutions.sql
Due: none

call is fetched from db
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/mutations/FapMutations.spec.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/backend/src/resolvers/mutations/AssignMembersToFapMutation.ts
Due: npm run lint:backend

Added search user by surname featureId
  apps/backend/db_patches/0149_AddUserSurnameSearchFilterFeatureId.sql
  apps/backend/src/config/ess/configureESSEnvironment.ts
  apps/backend/src/config/stfc/configureSTFCEnvironment.ts
  apps/backend/src/models/Feature.ts
  apps/frontend/src/components/instrument/CreateUpdateInstrument.tsx
Due: npm run lint:frontend, npm run lint:backend

wip implement mass assgining in frontend
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/mutations/FapMutations.spec.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/backend/src/queries/FapQueries.ts
  apps/backend/src/resolvers/mutations/AssignMembersToFapMutation.ts
  apps/backend/src/resolvers/queries/FapQuery.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/graphql/fap/getCallInReviewForFap.graphql
  apps/frontend/src/graphql/fap/massAssignReviews.graphql
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

rename featuireId: USER_SURNAME_SEARCH_FILTER to USER_SEARCH_FILTER
  apps/backend/db_patches/0149_AddUserSurnameSearchFilterFeatureId.sql
  apps/backend/src/config/ess/configureESSEnvironment.ts
  apps/backend/src/config/stfc/configureSTFCEnvironment.ts
  apps/backend/src/models/Feature.ts
  apps/frontend/package-lock.json
  apps/frontend/src/components/instrument/CreateUpdateInstrument.tsx
Due: npm run lint:frontend, npm run lint:backend

fixes updating ui when mass assigning
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
Due: npm run lint:frontend

simplifies state update
  apps/backend/src/queries/FapQueries.ts
  apps/backend/src/resolvers/queries/FapQuery.ts
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/graphql/fap/getCallInReviewForFap.graphql
Due: npm run lint:frontend, npm run lint:backend

fix(css): make ellipsis visible when using external auth
  apps/frontend/src/components/common/CenteredAlert.tsx
Due: npm run lint:frontend

feat: send proposal message upon PROPOSAL_ACCEPTED event
  apps/backend/src/eventHandlers/messageBroker.ts
Due: npm run lint:backend

added ror_integration unit test
  apps/backend/src/auth/OAuthAuthorization.spec.ts
  apps/backend/src/auth/OAuthAuthorization.ts
  apps/backend/src/datasources/UserDataSource.ts
  apps/backend/src/datasources/mockups/UserDataSource.ts
  apps/backend/src/datasources/postgres/AdminDataSource.ts
  apps/backend/src/datasources/postgres/UserDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
Due: npm run lint:backend

removed creatInstitution mutation
  apps/backend/src/auth/OAuthAuthorization.ts
  apps/backend/src/datasources/AdminDataSource.ts
  apps/backend/src/datasources/postgres/AdminDataSource.ts
  apps/backend/src/mutations/AdminMutations.spec.ts
  apps/backend/src/mutations/AdminMutations.ts
  apps/backend/src/resolvers/mutations/CreateInstitutionsMutation.ts
  apps/frontend/src/components/institution/InstitutionTable.tsx
  apps/frontend/src/components/institution/UpdateInstitution.tsx
  apps/frontend/src/graphql/admin/createInstitution.graphql
Due: npm run lint:frontend, npm run lint:backend

feat: add default base dependency config
  apps/backend/example.development.env
  apps/backend/src/config/base/configureBaseEnvironment.ts
  apps/backend/src/config/dependencyConfigBase.ts
  apps/backend/src/config/index.ts
  apps/backend/src/eventHandlers/messageBroker.ts
  apps/backend/src/utils/helperFunctions.ts
Due: npm run lint:backend

#227: Add new proposal Db to merge user tool
  apps/backend/db_patches/0148_CreateUpdateUserIdFunc.sql
Due: none

fix prettier version
  apps/backend/package-lock.json
  apps/backend/package.json
Due: none

minor change to fix type
  apps/frontend/src/components/institution/UpdateInstitution.tsx
Due: npm run lint:frontend

feat: send proposal message upon PROPOSAL_ACCEPTED event (#547)
  apps/backend/src/eventHandlers/messageBroker.ts
Due: npm run lint:backend

Feat: ROR integration for institution (#515)
  apps/backend/db_patches/0148_AddRorIdToInstitutions.sql
  apps/backend/src/auth/OAuthAuthorization.spec.ts
  apps/backend/src/auth/OAuthAuthorization.ts
  apps/backend/src/datasources/AdminDataSource.ts
  apps/backend/src/datasources/UserDataSource.ts
  apps/backend/src/datasources/mockups/AdminDataSource.ts
  apps/backend/src/datasources/mockups/UserDataSource.ts
  apps/backend/src/datasources/postgres/AdminDataSource.ts
  apps/backend/src/datasources/postgres/UserDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/backend/src/models/Institution.ts
  apps/backend/src/mutations/AdminMutations.spec.ts
  apps/backend/src/mutations/AdminMutations.ts
  apps/backend/src/resolvers/mutations/CreateInstitutionsMutation.ts
  apps/backend/src/resolvers/mutations/UpdateInstitutionsMutation.ts
  apps/backend/src/resolvers/queries/InstitutionsQuery.ts
  apps/backend/src/resolvers/types/Institution.ts
  apps/e2e/cypress/e2e/institutions.cy.ts
  apps/e2e/cypress/e2e/login.cy.ts
  apps/e2e/cypress/e2e/personalInformation.cy.ts
  apps/frontend/src/components/institution/InstitutionTable.tsx
  apps/frontend/src/components/institution/UpdateInstitution.tsx
  apps/frontend/src/graphql/admin/createInstitution.graphql
  apps/frontend/src/graphql/admin/deleteInstitution.graphql
  apps/frontend/src/graphql/admin/getInstitutions.graphql
  apps/frontend/src/graphql/admin/getInstitutionsWithCountry.graphql
  apps/frontend/src/graphql/admin/mergeInstitutions.graphql
  apps/frontend/src/graphql/admin/updateInstitution.graphql
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

adds e2e tests for mass assignment
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/support/initialDBData.ts
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/graphql/fap/massAssignReviews.graphql
Due: npm run lint:e2e, npm run lint:frontend

reverts launch.json changes
  .vscode/launch.json
Due: none

feat: added USER_SEARCH_FILTER featureId for conditional surname search of beamline managers (#543)
  apps/backend/db_patches/0149_AddUserSurnameSearchFilterFeatureId.sql
  apps/backend/src/config/ess/configureESSEnvironment.ts
  apps/backend/src/config/stfc/configureSTFCEnvironment.ts
  apps/backend/src/models/Feature.ts
  apps/frontend/src/components/instrument/CreateUpdateInstrument.tsx
Due: npm run lint:frontend, npm run lint:backend

fix: question doesn't show with removed dependency
  apps/frontend/src/models/questionary/QuestionaryFunctions.ts
Due: npm run lint:frontend

Use default dependency operator after removal
  apps/frontend/src/components/questionary/questionaryComponents/QuestionDependencyList.tsx
Due: npm run lint:frontend

ci: add PR tittle formatting check
  .github/pr-title-checker-config.json
  .github/workflows/github-tag-and-release.yml
  .github/workflows/pr-title-checker.yml
Due: none

change job name
  .github/workflows/pr-title-checker.yml
Due: none

fixes fapqueries test
  apps/backend/src/queries/FapQueries.spec.ts
Due: npm run lint:backend

fix naming of the action
  .github/workflows/pr-title-checker.yml
Due: none

try including branches as well
  .github/workflows/pr-title-checker.yml
Due: none

remove the label
  .github/pr-title-checker-config.json
Due: none

add more meaningful error message
  .github/pr-title-checker-config.json
Due: none

fix: changed scheduledEventId to be nullable
  apps/backend/src/resolvers/types/Shipment.ts
  apps/frontend/src/components/questionary/questionaryComponents/ShipmentBasis/QuestionaryComponentShipmentBasis.tsx
Due: npm run lint:frontend, npm run lint:backend

error thrown if theres more than one open call when mass assigning reviews
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/mutations/FapMutations.ts
Due: npm run lint:backend

adds e2e for mass assigning reviews with more than one call
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e, npm run lint:backend

simplify PR title regexp
  .github/pr-title-checker-config.json
Due: none

escape backslash characters
  .github/pr-title-checker-config.json
Due: none

Path conditions:
  npm run lint:e2e: any of: apps/e2e/**/*.{js,ts,jsx,tsx}
  npm run lint:frontend: any of: apps/frontend/**/*.{js,ts,jsx,tsx}
  npm run lint:backend: any of: apps/backend/**/*.{js,ts,jsx,tsx}
