Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

.lintstagedrc.json:

{
  "apps/e2e/**/*.{js,ts,jsx,tsx}": ["npm run lint:e2e"],
  "apps/frontend/**/*.{js,ts,jsx,tsx}": ["npm run lint:frontend"],
  "apps/backend/**/*.{js,ts,jsx,tsx}": ["npm run lint:backend"]
}

feat: allow instrument scientists not assigned as a technical reviewer to add comments on reviewed proposals (#1108)
  apps/backend/db_patches/0183_EnableInstrumentsForMultipleTechReviews.sql
  apps/backend/db_patches/0184_AddMultipleTechReviewsEnabledToInstInPropsalTableView.sql
  apps/backend/src/datasources/mockups/InstrumentDataSource.ts
  apps/backend/src/datasources/postgres/InstrumentDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/backend/src/models/Instrument.ts
  apps/backend/src/mutations/InstrumentMutations.spec.ts
  apps/backend/src/resolvers/mutations/CreateInstrumentMutation.ts
  apps/backend/src/resolvers/mutations/UpdateInstrumentMutation.ts
  apps/backend/src/resolvers/types/Instrument.ts
  apps/backend/src/resolvers/types/ProposalView.ts
  apps/e2e/cypress/e2e/instruments.cy.ts
  apps/frontend/src/components/instrument/CreateUpdateInstrument.tsx
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/review/ProposalReviewContent.tsx
  apps/frontend/src/components/review/TechnicalReviewSummary.tsx
  apps/frontend/src/graphql/instrument/createInstrument.graphql
  apps/frontend/src/graphql/instrument/instrument.fragment.graphql
  apps/frontend/src/graphql/instrument/updateInstrument.graphql
  apps/frontend/src/graphql/proposal/getInstrumentScientistProposals.graphql
  apps/frontend/src/graphql/proposal/getProposal.graphql
  apps/frontend/src/utils/helperFunctions.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

feat: add skeleton for frontend implementation of configurable email templates
  apps/backend/src/config/dependencyConfigDefault.ts
  apps/backend/src/config/dependencyConfigE2E.ts
  apps/backend/src/config/dependencyConfigELI.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/datasources/postgres/EmailTemplateDataSource.ts
  apps/backend/src/resolvers/mutations/UpdateEmailTemplateMutation.ts
  apps/frontend/src/components/emailTemplate/CreateUpdateEmailTemplate.tsx
  apps/frontend/src/components/emailTemplate/EmailTemplatePage.tsx
  apps/frontend/src/components/emailTemplate/EmailTemplateTable.tsx
  apps/frontend/src/components/menu/TemplateMenuListItem.tsx
  apps/frontend/src/graphql/emailTemplate/updateEmailTemplate.graphql
  apps/frontend/src/hooks/emailTemplate/useEmailTemplatesData.ts
  apps/frontend/vite.config.mts
Due: npm run lint:frontend, npm run lint:backend

feat: add LoadingOverlay component and integrate it into WorkflowEditor for improved loading state management
  apps/backend/db_patches/0184_RemoveWorkflowUnusedColumns.sql
  apps/backend/src/datasources/WorkflowDataSource.ts
  apps/backend/src/datasources/mockups/WorkflowDataSource.ts
  apps/backend/src/datasources/postgres/WorkflowDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/WorkflowConnections.ts
  apps/backend/src/mutations/WorkflowMutations.ts
  apps/backend/src/queries/WorkflowQueries.ts
  apps/backend/src/resolvers/mutations/settings/AddWorkflowStatusMutation.ts
  apps/backend/src/resolvers/types/Workflow.ts
  apps/backend/src/resolvers/types/WorkflowConnection.ts
  apps/frontend/src/components/settings/workflow/StatusNode.tsx
  apps/frontend/src/components/settings/workflow/WorkflowConnectionsEditor.tsx
  apps/frontend/src/components/settings/workflow/WorkflowEditor.tsx
  apps/frontend/src/components/settings/workflow/WorkflowEditorModel.tsx
  apps/frontend/src/graphql/call/getCallSubmissionDetails.graphql
  apps/frontend/src/graphql/settings/addWorkflowStatus.graphql
  apps/frontend/src/graphql/settings/createWorkflow.graphql
  apps/frontend/src/graphql/settings/getWorkflow.graphql
  apps/frontend/src/graphql/settings/getWorkflows.graphql
  apps/frontend/src/graphql/settings/updateWorkflow.graphql
  apps/frontend/src/hooks/settings/usePersistWorkflowEditorModel.ts
Due: npm run lint:frontend, npm run lint:backend

feat: add LoadingOverlay component and integrate it into WorkflowEditor for improved loading state management
  apps/backend/src/eventHandlers/email/essEmailHandler.spec.ts
Due: npm run lint:backend

refactor: update onDelete handler in StatusNode to accept statusId and improve workflow connection removal logic
  apps/backend/src/mutations/WorkflowMutations.ts
  apps/frontend/src/components/settings/workflow/StatusNode.tsx
  apps/frontend/src/hooks/settings/usePersistWorkflowEditorModel.ts
Due: npm run lint:frontend, npm run lint:backend

feat: add posX and posY fields to Status model and related mutations for improved workflow positioning
  apps/backend/db_patches/0184_RemoveWorkflowUnusedColumns.sql
  apps/backend/src/models/Status.ts
  apps/backend/src/resolvers/mutations/settings/UpdateStatusMutation.ts
  apps/backend/src/resolvers/types/Status.ts
Due: npm run lint:backend

feat: add posX and posY fields to Status model and related mutations for improved workflow positioning
  apps/frontend/src/components/common/FormikUICustomEditor.tsx
Due: npm run lint:frontend

feat: remove unused workflow status mutation and refactor related components for improved workflow management
  apps/backend/db_patches/0184_RemoveWorkflowUnusedColumns.sql
  apps/backend/src/datasources/StatusDataSource.ts
  apps/backend/src/datasources/postgres/StatusDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/Status.ts
  apps/backend/src/mutations/WorkflowMutations.ts
  apps/backend/src/resolvers/mutations/settings/MoveWorkflowStatusMutation.ts
  apps/backend/src/resolvers/types/Status.ts
  apps/frontend/src/components/call/CallGeneralInfo.tsx
  apps/frontend/src/components/proposal/ProposalSummary.tsx
  apps/frontend/src/components/settings/workflow/TransitionEventDialog.tsx
  apps/frontend/src/components/settings/workflow/WorkflowConnectionsEditor.tsx
  apps/frontend/src/components/settings/workflow/WorkflowEditor.tsx
  apps/frontend/src/components/settings/workflow/WorkflowEditorModel.tsx
  apps/frontend/src/graphql/settings/moveWorkflowStatus.graphql
  apps/frontend/src/hooks/settings/usePersistWorkflowEditorModel.ts
Due: npm run lint:frontend, npm run lint:backend

Add call ordering functionality
  apps/backend/db_patches/0183_Add_call_order_column.sql
  apps/backend/src/datasources/CallDataSource.ts
  apps/backend/src/datasources/mockups/CallDataSource.ts
  apps/backend/src/datasources/postgres/CallDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/Call.ts
  apps/backend/src/mutations/CallMutations.ts
  apps/backend/src/resolvers/mutations/UpdateCallMutation.ts
  apps/backend/src/resolvers/types/Call.ts
  apps/frontend/src/components/call/CallListItem.tsx
  apps/frontend/src/components/call/CallOrderEditor.tsx
  apps/frontend/src/components/call/CallPage.tsx
  apps/frontend/src/components/call/CallStatusFilter.tsx
  apps/frontend/src/components/call/CallsTable.tsx
  apps/frontend/src/components/proposal/ProposalChooseCall.tsx
  apps/frontend/src/graphql/call/getCallsMinimal.graphql
  apps/frontend/src/graphql/call/updateCallOrder.graphql
Due: npm run lint:frontend, npm run lint:backend

feat: update workflow connection model to include posX and posY fields, refactor related mutations and queries for improved workflow positioning
  apps/backend/src/datasources/WorkflowDataSource.ts
  apps/backend/src/datasources/mockups/WorkflowDataSource.ts
  apps/backend/src/datasources/postgres/WorkflowDataSource.ts
  apps/backend/src/models/WorkflowConnections.ts
  apps/backend/src/resolvers/mutations/settings/AddWorkflowStatusMutation.ts
  apps/backend/src/resolvers/mutations/settings/UpdateStatusMutation.ts
  apps/backend/src/resolvers/types/WorkflowConnection.ts
  apps/frontend/src/components/settings/workflow/WorkflowEditor.tsx
  apps/frontend/src/graphql/settings/addWorkflowStatus.graphql
  apps/frontend/src/graphql/settings/createWorkflow.graphql
  apps/frontend/src/graphql/settings/getWorkflow.graphql
  apps/frontend/src/graphql/settings/updateWorkflow.graphql
  apps/frontend/src/hooks/settings/usePersistWorkflowEditorModel.ts
Due: npm run lint:frontend, npm run lint:backend

Add message to reorder page
  apps/frontend/src/components/call/CallsTable.tsx
Due: npm run lint:frontend

feat: add getWorkflowConnection method to WorkflowDataSource and implement updateWorkflowStatus mutation for position updates
  apps/backend/src/datasources/WorkflowDataSource.ts
  apps/backend/src/datasources/mockups/WorkflowDataSource.ts
  apps/backend/src/datasources/postgres/WorkflowDataSource.ts
  apps/backend/src/mutations/WorkflowMutations.ts
  apps/backend/src/resolvers/mutations/settings/UpdateWorkflowStatusMutation.ts
  apps/backend/src/resolvers/mutations/settings/UpdateWorkflowStatusPositionMutation.ts
  apps/frontend/src/components/settings/workflow/WorkflowCanvas.tsx
  apps/frontend/src/components/settings/workflow/WorkflowEditor.tsx
  apps/frontend/src/components/settings/workflow/WorkflowEditorModel.tsx
  apps/frontend/src/graphql/settings/fragment.status.graphql
  apps/frontend/src/graphql/settings/updateWorkflowStatus.graphql
  apps/frontend/src/hooks/settings/usePersistWorkflowEditorModel.ts
Due: npm run lint:frontend, npm run lint:backend

feat: update node positioning logic in WorkflowEditor to use database coordinates for improved layout management
  apps/frontend/src/components/settings/workflow/WorkflowEditor.tsx
Due: npm run lint:frontend

feat: enhance workflow status update to include nextStatusId and prevStatusId for improved connection management
  apps/backend/src/mutations/WorkflowMutations.ts
  apps/backend/src/resolvers/mutations/settings/UpdateWorkflowStatusMutation.ts
  apps/frontend/src/components/settings/workflow/WorkflowEditor.tsx
  apps/frontend/src/components/settings/workflow/WorkflowEditorModel.tsx
  apps/frontend/src/graphql/settings/updateWorkflowStatus.graphql
  apps/frontend/src/hooks/settings/usePersistWorkflowEditorModel.ts
Due: npm run lint:frontend, npm run lint:backend

revert temp mock server branch
  apps/backend/docker-compose-stfc.e2e.yml
Due: none

feat: update backed for email templates
  apps/backend/db_patches/0813_CreateEmailTemplatesTable.sql
  apps/backend/src/datasources/postgres/EmailTemplateDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/queries/StatusActionQueries.ts
  apps/backend/src/resolvers/types/StatusActionConfig.ts
  apps/frontend/src/components/AppRoutes.tsx
  apps/frontend/src/components/template/CreateUpdateEmailTemplate.tsx
  apps/frontend/src/components/template/EmailTemplatePage.tsx
  apps/frontend/src/components/template/EmailTemplateTable.tsx
  apps/frontend/src/graphql/settings/statusActions/fragment.connectionStatusActionConfig.graphql
  apps/frontend/src/graphql/settings/statusActions/fragment.statusActionConfig.graphql
Due: npm run lint:frontend, npm run lint:backend

Add e2e testing
  apps/backend/src/factory/pdf/proposal.ts
  apps/backend/src/middlewares/factory/factoryServices.ts
  apps/backend/src/middlewares/factory/pdf/download.ts
  apps/e2e/cypress/e2e/pregeneratedPdfs.cy.ts
  apps/e2e/cypress/support/fileUtilTasks.ts
  apps/e2e/cypress/support/proposal.ts
  apps/e2e/cypress/types/proposal.d.ts
  apps/e2e/package-lock.json
  apps/e2e/package.json
Due: npm run lint:e2e, npm run lint:backend

fix: escape special characters in email and filter queries for improved security
  apps/backend/src/datasources/postgres/UserDataSource.ts
Due: npm run lint:backend

fix: correct escape characters in escapeLike function for proper string handling
  apps/backend/src/datasources/postgres/UserDataSource.ts
Due: npm run lint:backend

fix: improve escapeLike function for proper handling of backslashes and special characters
  apps/backend/src/datasources/postgres/UserDataSource.ts
Due: npm run lint:backend

refactor: email template id obtaining (#1113)
  apps/backend/db_patches/0184_AddTemplateIdToInvites.sql
  apps/backend/src/asyncJobs/jobs/checkInviteReminderJob.spec.ts
  apps/backend/src/asyncJobs/jobs/checkInviteReminderJob.ts
  apps/backend/src/datasources/InviteDataSource.ts
  apps/backend/src/datasources/mockups/InviteDataSource.ts
  apps/backend/src/datasources/postgres/InviteDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/eventHandlers/email/eliEmailHandler.ts
  apps/backend/src/eventHandlers/email/essEmailHandler.spec.ts
  apps/backend/src/eventHandlers/email/essEmailHandler.ts
  apps/backend/src/models/Invite.ts
  apps/backend/src/mutations/InviteMutations.spec.ts
Due: npm run lint:backend

Remove STFC download service
  apps/backend/src/config/Tokens.ts
  apps/backend/src/config/dependencyConfigDefault.ts
  apps/backend/src/config/dependencyConfigE2E.ts
  apps/backend/src/config/dependencyConfigELI.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/factory/DefaultDownloadService.ts
  apps/backend/src/factory/StfcDownloadService.ts
  apps/backend/src/factory/service.ts
  apps/backend/src/middlewares/factory.ts
  apps/backend/src/middlewares/factory/factoryServices.ts
  apps/backend/src/middlewares/factory/pdf/download.ts
  apps/backend/src/middlewares/factory/pdf/preview.ts
  apps/backend/src/middlewares/factory/xlsx.ts
  apps/backend/src/middlewares/factory/zip.ts
Due: npm run lint:backend

feat: update migration script
  apps/backend/db_patches/0185_CreateEmailTemplatesTable.sql
Due: none

--amend
  apps/backend/db_patches/0813_CreateEmailTemplatesTable.sql
  apps/backend/src/queries/StatusActionQueries.ts
  apps/backend/src/resolvers/types/StatusActionConfig.ts
  apps/backend/src/statusActionEngine/emailActionHandler.ts
  apps/backend/src/statusActionEngine/statusActionUtils.ts
  apps/frontend/src/components/settings/workflow/EmailActionConfig.tsx
  apps/frontend/src/graphql/settings/statusActions/fragment.connectionStatusActionConfig.graphql
  apps/frontend/src/graphql/settings/statusActions/fragment.statusActionConfig.graphql
Due: npm run lint:frontend, npm run lint:backend

Remove unecessary changes
  apps/backend/src/mutations/CallMutations.ts
  apps/frontend/src/components/call/CallListItem.tsx
  apps/frontend/src/components/call/CallsTable.tsx
Due: npm run lint:frontend, npm run lint:backend

refactor: move stfc role assignments into proposal backend (#1081)
  apps/backend/src/auth/StfcUserAuthorization.ts
  apps/backend/src/auth/UserAuthorization.ts
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/datasources/postgres/InternalReviewDataSource.ts
  apps/backend/src/datasources/stfc/StfcFapDataSource.ts
  apps/backend/src/datasources/stfc/StfcInternalReviewDataSource.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/backend/src/mutations/FapMutations.spec.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/backend/src/resolvers/types/User.ts
Due: npm run lint:backend

update query to use previously unused input field
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
Due: npm run lint:backend

feat: enhance workflow connection management by adding new connections and updating existing ones in state
  apps/frontend/src/components/settings/workflow/WorkflowEditor.tsx
  apps/frontend/src/components/settings/workflow/WorkflowEditorModel.tsx
  apps/frontend/src/hooks/settings/usePersistWorkflowEditorModel.ts
Due: npm run lint:frontend

feat: streamline workflow status deletion by removing edge management from UI and relying on state updates
  apps/frontend/src/components/settings/workflow/WorkflowEditor.tsx
  apps/frontend/src/components/settings/workflow/WorkflowEditorModel.tsx
Due: npm run lint:frontend

fix: delete
  apps/frontend/src/components/settings/workflow/WorkflowEditor.tsx
  apps/frontend/src/hooks/settings/usePersistWorkflowEditorModel.ts
Due: npm run lint:frontend

feat: enhance edge management in WorkflowEditor by using connection IDs and adding event labels
  apps/frontend/src/components/settings/workflow/WorkflowEditor.tsx
  apps/frontend/src/components/settings/workflow/WorkflowEditorModel.tsx
Due: npm run lint:frontend

Add title mapping for users
  apps/backend/src/datasources/mockups/UserDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/backend/src/models/User.ts
  apps/backend/src/queries/UserQueries.ts
  apps/backend/src/statusActionEngine/statusActionUtils.ts
Due: npm run lint:backend

Review comments fix
  apps/backend/src/datasources/mockups/UserDataSource.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
Due: npm run lint:backend

Set default
  apps/backend/src/statusActionEngine/statusActionUtils.ts
Due: npm run lint:backend

fix: only update questions that have been updated in answer topic (#1127)
  apps/backend/src/mutations/QuestionaryMutations.ts
Due: npm run lint:backend

Remove filter when ordering calls
  apps/backend/src/datasources/postgres/CallDataSource.ts
  apps/backend/src/resolvers/queries/CallsQuery.ts
  apps/frontend/src/components/call/CallsTable.tsx
Due: npm run lint:frontend, npm run lint:backend

Move all related actions behind feature
  apps/backend/db_patches/0182_AddPreferStoredProposalPdfsFeature.sql
  apps/backend/db_patches/0182_AddPregeneratedProposalDownloadsFeature.sql
  apps/backend/src/config/stfc/configureSTFCEnvironment.ts
  apps/backend/src/middlewares/factory/pdf/download.ts
  apps/backend/src/middlewares/factory/zip.ts
  apps/backend/src/models/Feature.ts
  apps/e2e/cypress/e2e/pregeneratedPdfs.cy.ts
  apps/e2e/cypress/e2e/statusActions.cy.ts
  apps/frontend/src/components/menu/StatusActionLogsMenuListItem.tsx
  apps/frontend/src/hooks/settings/useStatusActionsData.ts
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

feat: enhance workflow connection updates by synchronizing position for connections with the same status ID
  apps/backend/src/datasources/postgres/WorkflowDataSource.ts
  apps/backend/src/mutations/WorkflowMutations.ts
  apps/frontend/src/hooks/settings/usePersistWorkflowEditorModel.ts
Due: npm run lint:frontend, npm run lint:backend
