Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

.lintstagedrc.json:

{
  "apps/e2e/**/*.{js,ts,jsx,tsx}": ["npm run lint:e2e"],
  "apps/frontend/**/*.{js,ts,jsx,tsx}": ["npm run lint:frontend"],
  "apps/backend/**/*.{js,ts,jsx,tsx}": ["npm run lint:backend"]
}

Rename some files, add step-by-step guide, do minor fixes
  documentation/docs/assets/images/sbs_overview.png
  documentation/docs/developer-guide/CONTRIBUTING.md
  documentation/docs/developer-guide/achitecture.md
  documentation/docs/developer-guide/api_documentation.md
  documentation/docs/developer-guide/codebase-structure.md
  documentation/docs/developer-guide/running_locally.md
  documentation/docs/developer-guide/step-by-step.md
  documentation/docs/index.md
  documentation/docs/quick_start.md
  documentation/mkdocs.yml
Due: none

fix some more issues found and do some cleanup
  apps/frontend/src/components/fap/Proposals/FapAssignedReviewersTable.tsx
  apps/frontend/src/components/questionary/questionaryComponents/FapReviewBasis/QuestionaryComponentFapReviewBasis.tsx
  apps/frontend/src/components/review/ProposalReviewContainer.tsx
  apps/frontend/src/components/review/ProposalReviewContent.tsx
  apps/frontend/src/components/review/ProposalTableReviewer.tsx
Due: npm run lint:frontend

add missing records and remove unnecessery event from proposal_events table
  apps/backend/db_patches/0160_AddSomeMissingProposalEvents.sql
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
Due: npm run lint:backend

test(e2e): add e2e test for the fix
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
Due: npm run lint:e2e

feat: add the missing events after multiple FAPs were introduced (#685)
  apps/backend/db_patches/0160_AddSomeMissingProposalEvents.sql
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/InstrumentDataSource.ts
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/mockups/InstrumentDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/datasources/postgres/InstrumentDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/eventHandlers/customHandler.ts
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/events/event.enum.ts
  apps/backend/src/factory/xlsx/fap.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/backend/src/mutations/InstrumentMutations.ts
  apps/backend/src/queries/FapQueries.ts
  apps/backend/src/resolvers/queries/FapQuery.ts
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
Due: npm run lint:frontend, npm run lint:backend

improvement: Created new MUI Dialog called StyledDialog and using it across the application to have a uniform experience.
  apps/frontend/src/components/AppToolbar/AccountActionButton.tsx
  apps/frontend/src/components/call/CallGeneralInfo.tsx
  apps/frontend/src/components/call/CallsTable.tsx
  apps/frontend/src/components/common/InputDialog.tsx
  apps/frontend/src/components/common/StyledDialog.tsx
  apps/frontend/src/components/common/StyledModal.tsx
  apps/frontend/src/components/common/SuperMaterialTable.tsx
  apps/frontend/src/components/fap/MeetingComponents/FapUpdateInstrumentTime.tsx
  apps/frontend/src/components/fap/Proposals/RankInputModal.tsx
  apps/frontend/src/components/genericTemplate/GenericTemplateDetails.tsx
  apps/frontend/src/components/proposal/RedeemCode.tsx
  apps/frontend/src/components/questionary/Questionary.tsx
  apps/frontend/src/components/questionary/questionaryComponents/GenericTemplate/GenericTemplateAnswerRenderer.tsx
  apps/frontend/src/components/questionary/questionaryComponents/GenericTemplate/GenericTemplateSelectModalOnCopy.tsx
  apps/frontend/src/components/questionary/questionaryComponents/GenericTemplate/QuestionaryComponentGenericTemplate.tsx
  apps/frontend/src/components/questionary/questionaryComponents/NumberInput/QuestionNumberInputForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/ProposalEsiBasis/QuestionaryComponentProposalEsiBasis.tsx
  apps/frontend/src/components/questionary/questionaryComponents/RichTextInput/RichTextInputRenderer.tsx
  apps/frontend/src/components/questionary/questionaryComponents/SampleDeclaration/QuestionaryComponentSampleDeclaration.tsx
  apps/frontend/src/components/questionary/questionaryComponents/SampleDeclaration/SamplesAnswerRenderer.tsx
  apps/frontend/src/components/sample/SampleDetails.tsx
  apps/frontend/src/components/sample/SampleSafetyPage.tsx
  apps/frontend/src/components/settings/unitList/CreateUnit.tsx
  apps/frontend/src/components/template/PdfTemplatesTable.tsx
  apps/frontend/src/components/template/ProposalTemplatesTable.tsx
  apps/frontend/src/components/template/QuestionEditor.tsx
  apps/frontend/src/components/template/QuestionTemplateLabel.tsx
  apps/frontend/src/components/template/QuestionTemplateRelationEditor.tsx
  apps/frontend/src/components/template/TemplatesTable.tsx
  apps/frontend/src/components/timeout/TimeOutPrompt.tsx
  apps/frontend/src/hooks/common/ButtonWithDialog.tsx
  apps/frontend/src/utils/withConfirm.tsx
  apps/frontend/src/utils/withPrompt.tsx
Due: npm run lint:frontend

Added documentation to the react component
  apps/frontend/src/components/common/StyledDialog.tsx
Due: npm run lint:frontend

Fix FAP e2e tests
  apps/backend/db_patches/db_seeds/0004_Samples.sql
  apps/backend/db_patches/db_seeds/0005_Questions.sql
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

Rename some files, add step-by-step guide, do minor fixes (#694)
  documentation/docs/assets/images/sbs_overview.png
  documentation/docs/developer-guide/CONTRIBUTING.md
  documentation/docs/developer-guide/achitecture.md
  documentation/docs/developer-guide/api_documentation.md
  documentation/docs/developer-guide/codebase-structure.md
  documentation/docs/developer-guide/running_locally.md
  documentation/docs/developer-guide/step-by-step.md
  documentation/docs/index.md
  documentation/docs/quick_start.md
  documentation/mkdocs.yml
Due: none

update test
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

feat: fap data export for a call and refactor data collections for export (#629)
  apps/backend/db_patches/0156_CreateFAPProposalView.sql
  apps/backend/src/config/Tokens.ts
  apps/backend/src/config/dependencyConfigDefault.ts
  apps/backend/src/config/dependencyConfigE2E.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/factory/DownloadService.ts
  apps/backend/src/factory/xlsx/FapDataRow.ts
  apps/backend/src/factory/xlsx/callFaps.ts
  apps/backend/src/factory/xlsx/fap.ts
  apps/backend/src/factory/xlsx/stfc/StfcFapDataRow.ts
  apps/backend/src/middlewares/factory/xlsx.ts
  apps/e2e/cypress.config.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/fixtures/exampleCallFapExport.json
  apps/e2e/cypress/support/fileUtilTasks.ts
  apps/e2e/package-lock.json
  apps/e2e/package.json
  apps/frontend/src/components/call/CallsTable.tsx
  apps/frontend/src/context/DownloadContextProvider.tsx
  apps/frontend/src/hooks/fap/useDownloadXLSXCallFap.ts
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

fix e2e test.
  apps/e2e/cypress/e2e/calls.cy.ts
  apps/e2e/cypress/e2e/genericTemplates.cy.ts
  apps/frontend/src/components/common/StyledDialog.tsx
Due: npm run lint:e2e, npm run lint:frontend

feat: double-check if proposal workflow needs to be run multiple times and do some UI improvements
  apps/backend/src/workflowEngine/index.ts
  apps/e2e/cypress/e2e/instruments.cy.ts
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
  apps/e2e/cypress/e2e/units.cy.ts
  apps/frontend/src/components/proposal/ProposalFilterBar.tsx
  apps/frontend/src/styles/StyledComponents.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

feat: add fap document store
  apps/backend/db_patches/0160_AddFilesToFapPanel.sql
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/Fap.ts
  apps/backend/src/models/Settings.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/backend/src/resolvers/mutations/UpdateFapMutation.ts
  apps/backend/src/resolvers/types/Fap.ts
  apps/frontend/src/components/common/DownloadableFileList.tsx
  apps/frontend/src/components/common/FileUploadComponent.tsx
  apps/frontend/src/components/fap/FapPage.tsx
  apps/frontend/src/components/fap/Files/FapFilesUpload.tsx
  apps/frontend/src/components/fap/Files/FapFilesView.tsx
  apps/frontend/src/components/questionary/questionaryComponents/FileUpload/FilesAnswerRenderer.tsx
  apps/frontend/src/graphql/fap/fragment.fap.graphql
  apps/frontend/src/graphql/fap/updateFap.graphql
Due: npm run lint:frontend, npm run lint:backend

fix: update tests for new document store
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/generalFaps.cy.ts
Due: npm run lint:e2e

Add page for documentation changes, minor fixes
  documentation/docs/developer-guide/CONTRIBUTING.md
  documentation/docs/developer-guide/documentation_changes.md
  documentation/docs/developer-guide/running_locally.md
  documentation/mkdocs.yml
Due: none

fix tests
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/generalFaps.cy.ts
Due: npm run lint:e2e

add e2e tests for workflow re-runs
  apps/backend/src/workflowEngine/index.ts
  apps/e2e/cypress/e2e/settings.cy.ts
  apps/e2e/cypress/support/utils.ts
Due: npm run lint:e2e, npm run lint:backend

fix: proposals table does not clean the sort direction and field state properly (#692)
  apps/backend/src/utils/mathFunctions.ts
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
  apps/frontend/src/components/proposal/ProposalPage.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/hooks/proposal/useProposalsCoreData.ts
  apps/frontend/src/utils/helperFunctions.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

romeve changes to package lock backend
  apps/backend/package-lock.json
Due: none

fix package lock backend formatting
  apps/backend/package-lock.json
Due: none

fix comments suggestions
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/datasources/postgres/TechniqueDataSource.ts
  apps/backend/src/datasources/stfc/StfcTechniqueDataSource.ts
Due: npm run lint:backend

doc: improved user guide templates
  documentation/docs/faq.md
  documentation/docs/glossary.md
  documentation/docs/user-guide/user-officer/creating_call.md
  documentation/docs/user-guide/user-officer/roles.md
  documentation/docs/user-guide/user-officer/templates/pdf_template.md
  documentation/docs/user-guide/user-officer/templates/proposalESI_template.md
  documentation/docs/user-guide/user-officer/templates/proposal_template.md
  documentation/docs/user-guide/user-officer/templates/sampledec_template.md
  documentation/docs/user-guide/user-officer/templates/templates.md
  documentation/docs/user-guide/user-officer/user-officer.md
Due: none

Hide Expired status from filter
  apps/frontend/src/components/common/proposalFilters/ProposalStatusFilter.tsx
  apps/frontend/src/components/proposal/ProposalFilterBar.tsx
  apps/frontend/src/components/proposal/ProposalPage.tsx
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
Due: npm run lint:frontend

Add page for documentation changes, minor fixes (#698)
  documentation/docs/developer-guide/CONTRIBUTING.md
  documentation/docs/developer-guide/documentation_changes.md
  documentation/docs/developer-guide/running_locally.md
  documentation/mkdocs.yml
Due: none

STFC injection
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/backend/src/mutations/ProposalMutations.ts
Due: npm run lint:backend

e2e test fix
  apps/e2e/cypress/e2e/calls.cy.ts
Due: npm run lint:e2e

doc: improved user guide templates (#699)
  documentation/docs/faq.md
  documentation/docs/glossary.md
  documentation/docs/user-guide/user-officer/creating_call.md
  documentation/docs/user-guide/user-officer/roles.md
  documentation/docs/user-guide/user-officer/templates/pdf_template.md
  documentation/docs/user-guide/user-officer/templates/proposalESI_template.md
  documentation/docs/user-guide/user-officer/templates/proposal_template.md
  documentation/docs/user-guide/user-officer/templates/sampledec_template.md
  documentation/docs/user-guide/user-officer/templates/templates.md
  documentation/docs/user-guide/user-officer/user-officer.md
Due: none

e2e fix
  apps/e2e/cypress/e2e/genericTemplates.cy.ts
Due: npm run lint:e2e

Add initial frontend tech picker changes
  apps/frontend/src/components/questionary/questionaryComponents/TechniquePicker/QuestionTechniquePickerForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/TechniquePicker/QuestionTechniquePickerFormCommon.tsx
  apps/frontend/src/components/questionary/questionaryComponents/TechniquePicker/QuestionTemplateRelationTechniquePickerForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/TechniquePicker/TechniquePickerAnswerRenderer.tsx
  apps/frontend/src/components/questionary/questionaryComponents/TechniquePicker/TechniquePickerDefinition.tsx
  apps/frontend/src/graphql/technique/getTechniquesById.graphql
  apps/frontend/src/hooks/technique/useTechniquesByIdsData.ts
Due: npm run lint:frontend

Technique picker as dependency
  apps/e2e/cypress/e2e/templatesBasic.cy.ts
  apps/e2e/cypress/fixtures/template_export.json
  apps/e2e/cypress/support/initialDBData.ts
  apps/frontend/src/components/common/FormikUICustomDependencySelector.tsx
  apps/frontend/src/components/questionary/questionaryComponents/QuestionDependencyList.tsx
Due: npm run lint:e2e, npm run lint:frontend

e2e tests
  apps/backend/db_patches/db_seeds/0005_Questions.sql
  apps/e2e/cypress/fixtures/template_export.json
  apps/e2e/cypress/support/initialDBData.ts
  apps/e2e/cypress/support/template.ts
  apps/e2e/cypress/types/template.d.ts
Due: npm run lint:e2e

Query and mutation changes
  apps/backend/db_patches/0158_AddTechniquePickerDataType.sql
  apps/backend/src/datasources/TechniqueDataSource.ts
  apps/backend/src/datasources/mockups/TechniqueDataSource.ts
  apps/backend/src/datasources/postgres/TechniqueDataSource.ts
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/events/event.enum.ts
  apps/backend/src/models/Technique.ts
  apps/backend/src/models/questionTypes/TechniquePicker.ts
  apps/backend/src/mutations/TechniqueMutations.ts
  apps/backend/src/queries/TechniqueQueries.ts
  apps/backend/src/resolvers/queries/TechniqueQuery.ts
Due: npm run lint:backend

Rework logic for assigning instruments
  apps/backend/src/datasources/TechniqueDataSource.ts
  apps/backend/src/datasources/mockups/TechniqueDataSource.ts
  apps/backend/src/datasources/postgres/TechniqueDataSource.ts
  apps/backend/src/models/questionTypes/TechniquePicker.ts
  apps/backend/src/queries/TechniqueQueries.ts
  apps/backend/src/resolvers/types/Technique.ts
Due: npm run lint:backend

Fix test
  apps/e2e/cypress/e2e/techniques.cy.ts
Due: npm run lint:e2e

Initial changes
  apps/backend/src/models/questionTypes/TechniquePicker.ts
Due: npm run lint:backend

path query fix
  apps/backend/db_patches/0158_AddTechniquePickerDataType.sql
Due: none

Fix circular dependency test
  apps/e2e/cypress/e2e/templatesBasic.cy.ts
Due: npm run lint:e2e

Initial changes
  apps/backend/src/models/questionTypes/TechniquePicker.ts
  apps/frontend/src/components/questionary/QuestionaryComponentRegistry.tsx
  apps/frontend/src/components/questionary/questionaryComponents/TechniquePicker/QuestionaryComponentTechniquePicker.tsx
  apps/frontend/src/components/questionary/questionaryComponents/TechniquePicker/TechniquePickerDefinition.tsx
Due: npm run lint:frontend, npm run lint:backend

Fix test logic for inst assignment
  apps/backend/src/datasources/postgres/TechniqueDataSource.ts
  apps/e2e/cypress/e2e/techniques.cy.ts
Due: npm run lint:e2e, npm run lint:backend
