Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

update: add new keys to the translation file
  apps/frontend/public/locales/override/translation.json
Due: none

docs: add FAP review template documentation
  documentation/docs/assets/images/fap_review_template.png
  documentation/docs/user-guide/user-officer/creating_templates.md
  documentation/docs/user-guide/user-officer/questions.md
  documentation/docs/user-guide/user-officer/templates/fap_review_template.md
  documentation/docs/user-guide/user-officer/templates/proposal_template.md
  documentation/mkdocs.yml
Due: none

Update apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/QuestionaryComponentInstrumentPicker.tsx
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/QuestionaryComponentInstrumentPicker.tsx
Due: npm run lint:frontend

lint
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/QuestionaryComponentInstrumentPicker.tsx
Due: npm run lint:frontend

add test
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

feat: send rabbitMQ messages when proposals move between faps
  apps/backend/src/eventHandlers/messageBroker.ts
Due: npm run lint:backend

review comments incorporation
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/frontend/src/components/review/ProposalTableReviewer.tsx
Due: npm run lint:e2e, npm run lint:frontend

lint error fix
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

update tests
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

Update apps/e2e/cypress/e2e/proposals.cy.ts
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

fix: serving STFC PDFs from Postgres
  apps/backend/src/datasources/postgres/FileDataSource.ts
  apps/backend/src/factory/StfcDownloadService.ts
Due: npm run lint:backend

fix: serving STFC PDFs from Postgres (#779)
  apps/backend/src/datasources/postgres/FileDataSource.ts
  apps/backend/src/factory/StfcDownloadService.ts
Due: npm run lint:backend

fix code
  apps/frontend/src/components/review/ProposalTableReviewer.tsx
Due: npm run lint:frontend

Add requester info to logging
  apps/backend/src/factory/StfcDownloadService.ts
Due: npm run lint:backend

chore: trigger the ESS deployment pipeline only for staging branch (#775)
  .github/workflows/build-push.yml
Due: none

feat: preparations to change eli terminology on ui (#774)
  apps/backend/src/config/eli/configureELIEnvironment.ts
  apps/frontend/public/locales/override/translation.json
  apps/frontend/src/components/AppRoutes.tsx
  apps/frontend/src/components/call/AssignInstrumentsToCall.tsx
  apps/frontend/src/components/call/AssignedInstrumentsTable.tsx
  apps/frontend/src/components/call/CallsTable.tsx
  apps/frontend/src/components/fap/FapPage.tsx
  apps/frontend/src/components/fap/FapsTable.tsx
  apps/frontend/src/components/fap/Files/FapFilesUpload.tsx
  apps/frontend/src/components/fap/Files/FapFilesView.tsx
  apps/frontend/src/components/fap/General/AddFap.tsx
  apps/frontend/src/components/fap/General/FapGeneralInfo.tsx
  apps/frontend/src/components/fap/MeetingComponents/FapInstrumentProposalsTable.tsx
  apps/frontend/src/components/fap/MeetingComponents/FapMeetingInstrumentsTable.tsx
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/FapMeetingDecision.tsx
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/FapMeetingProposalViewModal.tsx
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/FinalRankingForm.tsx
  apps/frontend/src/components/fap/Members/FapMembers.tsx
  apps/frontend/src/components/fap/Proposals/AssignProposalsToFaps.tsx
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/components/menu/MenuItems.tsx
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/components/review/ProposalReviewContent.tsx
  apps/frontend/src/components/user/PeopleTable.tsx
Due: npm run lint:frontend, npm run lint:backend

fix test case
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

reverting back the changes as this file is not reffered for grading
  apps/frontend/src/components/review/ProposalGrade.tsx
Due: npm run lint:frontend

restricting the reviewer filter only for fap reviewer role
  apps/frontend/src/components/review/ProposalTableReviewer.tsx
Due: npm run lint:frontend

reviewer cannot submit grade for proposal where he is not a reviewer
  apps/frontend/src/components/review/ReviewSummary.tsx
Due: npm run lint:frontend

review comments
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

fix: add missing clause to update redeem code
  apps/backend/src/datasources/postgres/RedeemCodesDataSource.ts
Due: npm run lint:backend

use react-router-dom instead of use-query-params
  apps/frontend/src/components/statusActionsLogs/StatusActionsLogsTable.tsx
  apps/frontend/src/components/statusActionsLogs/StatusActionsStatusFilter.tsx
Due: npm run lint:frontend

#1166: Update BSD-3 clause licence
  LICENSE
Due: none

fix: add missing translations of fap
  apps/frontend/public/locales/override/translation.json
  apps/frontend/src/components/AppRoutes.tsx
  apps/frontend/src/components/call/CallGeneralInfo.tsx
  apps/frontend/src/components/call/CallReviewsInfo.tsx
  apps/frontend/src/components/menu/TemplateMenuListItem.tsx
Due: npm run lint:frontend

Added vertical scrollbar to the 'Add Status Actions' section.
  apps/frontend/src/components/settings/proposalWorkflow/AddStatusActionsToConnection.tsx
Due: npm run lint:frontend

fix: cusing call submission message for customising successfull proposal submission.
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/frontend/src/components/proposal/ProposalSummary.tsx
Due: npm run lint:e2e, npm run lint:frontend

fix: update call creation page
  documentation/docs/user-guide/user-officer/creating_call.md
Due: none

fix: remove unnecessary attributes from redeem code update method
  apps/backend/src/datasources/postgres/RedeemCodesDataSource.ts
  apps/backend/src/datasources/postgres/heka.html
Due: npm run lint:backend

fix: remove file added accidentally
  apps/backend/src/datasources/postgres/heka.html
Due: none

fix: add missing clause to update redeem code (#785)
  apps/backend/src/datasources/postgres/RedeemCodesDataSource.ts
Due: npm run lint:backend

Update apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

fix: fix typo in fap review documentation
  documentation/docs/user-guide/user-officer/templates/fap_review_template.md
Due: none

fix: dont show expired proposals in exports
  apps/backend/db_patches/0163_ExcludeExpiredProposalsFromReviewProposalView.sql
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/fixtures/exampleFapExportExpired.json
Due: npm run lint:e2e

fix: optimised display of delete, archive, unarchive button
  apps/backend/src/datasources/postgres/CallDataSource.ts
  apps/backend/src/resolvers/queries/CallsQuery.ts
  apps/backend/src/resolvers/types/FapReviewTemplate.ts
  apps/backend/src/resolvers/types/Template.ts
  apps/e2e/cypress/e2e/templatesBasic.cy.ts
  apps/frontend/src/components/template/EsiPage.tsx
  apps/frontend/src/components/template/FapReviewTemplatesTable.tsx
  apps/frontend/src/components/template/ProposalESITemplatesTable.tsx
  apps/frontend/src/components/template/TemplatesTable.tsx
  apps/frontend/src/graphql/template/getESITemplates.graphql
  apps/frontend/src/models/questionary/QuestionaryEditorModel.ts
  yarn.lock
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

query syntax modification and comments added explaining the logic of the query
  apps/backend/src/datasources/postgres/ReviewDataSource.ts
Due: npm run lint:backend

Path conditions:
  npm run lint:e2e: any of: apps/e2e/**/*.{js,ts,jsx,tsx}
  npm run lint:frontend: any of: apps/frontend/**/*.{js,ts,jsx,tsx}
  npm run lint:backend: any of: apps/backend/**/*.{js,ts,jsx,tsx}
