Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

.lintstagedrc.json:

{
  "apps/e2e/**/*.{js,ts,jsx,tsx}": ["npm run lint:e2e"],
  "apps/frontend/**/*.{js,ts,jsx,tsx}": ["npm run lint:frontend"],
  "apps/backend/**/*.{js,ts,jsx,tsx}": ["npm run lint:backend"]
}

fixes fap e2e test
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

fix some more textfield issues
  apps/frontend/src/components/template/TemplateMetadataEditor.tsx
  apps/frontend/src/components/template/TemplateTopicEditor.tsx
Due: npm run lint:frontend

feat: multi fap review assignment (#624)
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/mockups/AdminDataSource.ts
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/datasources/stfc/StfcFapDataSource.ts
  apps/backend/src/models/Settings.ts
  apps/backend/src/mutations/FapMutations.spec.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/backend/src/populate/index.ts
  apps/backend/src/queries/AdminQueries.spec.ts
  apps/backend/src/queries/FapQueries.spec.ts
  apps/backend/src/resolvers/mutations/AssignMembersToFapMutation.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/settings.cy.ts
  apps/e2e/cypress/support/fap.ts
  apps/e2e/cypress/types/fap.d.ts
  apps/frontend/src/components/fap/Proposals/AssignFapMemberToProposalModal.tsx
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/graphql/fap/assignFapReviewersToProposal.graphql
  apps/frontend/src/graphql/fap/assignFapReviewersToProposals.graphql
  apps/frontend/src/graphql/fap/massAssignReviews.graphql
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Review comment fixes
  apps/backend/src/config/dependencyConfigDefault.ts
  apps/backend/src/config/dependencyConfigE2E.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/datasources/FileDataSource.ts
  apps/backend/src/datasources/mockups/FileDataSource.ts
  apps/backend/src/datasources/postgres/FileDataSource.ts
  apps/backend/src/factory/DefaultDownloadService.ts
  apps/backend/src/factory/DownloadService.ts
  apps/backend/src/factory/EssDownloadService.ts
  apps/backend/src/factory/StfcDownloadService.ts
  apps/backend/src/mutations/FileMutations.ts
  apps/backend/src/queries/FileQueries.ts
Due: npm run lint:backend

Review comment fix
  apps/backend/src/factory/StfcDownloadService.ts
Due: npm run lint:backend

Add option to download migrated pdf
  apps/backend/src/config/Tokens.ts
  apps/backend/src/config/dependencyConfigDefault.ts
  apps/backend/src/config/dependencyConfigE2E.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/datasources/IFileDataSource.ts
  apps/backend/src/datasources/mockups/FileDataSource.ts
  apps/backend/src/datasources/postgres/FileDataSource.ts
  apps/backend/src/factory/DownloadService.ts
  apps/backend/src/factory/EssDownloadService.ts
  apps/backend/src/factory/StfcDownloadService.ts
  apps/backend/src/factory/service.ts
  apps/backend/src/middlewares/factory.ts
  apps/backend/src/middlewares/factory/factoryServices.ts
  apps/backend/src/middlewares/factory/pdf/download.ts
  apps/backend/src/middlewares/factory/pdf/preview.ts
  apps/backend/src/middlewares/factory/xlsx.ts
  apps/backend/src/middlewares/factory/zip.ts
Due: npm run lint:backend

Config revert
  apps/backend/src/config/dependencyConfigE2E.ts
Due: npm run lint:backend

Add option to identify proposal by facility
  apps/backend/src/factory/StfcDownloadService.ts
Due: npm run lint:backend

Facility change fix
  apps/backend/src/factory/StfcDownloadService.ts
Due: npm run lint:backend

Error message change
  apps/backend/src/factory/StfcDownloadService.ts
Due: npm run lint:backend

Review comment fixes
  apps/backend/src/datasources/mockups/FileDataSource.ts
  apps/backend/src/factory/StfcDownloadService.ts
Due: npm run lint:backend

feat: make already generated proposal pdfs of migrated proposals available for download (#618)
  apps/backend/src/config/Tokens.ts
  apps/backend/src/config/dependencyConfigDefault.ts
  apps/backend/src/config/dependencyConfigE2E.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/datasources/FileDataSource.ts
  apps/backend/src/datasources/mockups/FileDataSource.ts
  apps/backend/src/datasources/postgres/FileDataSource.ts
  apps/backend/src/factory/DefaultDownloadService.ts
  apps/backend/src/factory/DownloadService.ts
  apps/backend/src/factory/StfcDownloadService.ts
  apps/backend/src/middlewares/factory.ts
  apps/backend/src/middlewares/factory/factoryServices.ts
  apps/backend/src/middlewares/factory/pdf/download.ts
  apps/backend/src/middlewares/factory/pdf/preview.ts
  apps/backend/src/middlewares/factory/xlsx.ts
  apps/backend/src/middlewares/factory/zip.ts
  apps/backend/src/mutations/FileMutations.ts
  apps/backend/src/queries/FileQueries.ts
Due: npm run lint:backend

revert previous solution
  apps/backend/src/datasources/mockups/EventLogsDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/mutations/ProposalMutations.spec.ts
  apps/backend/src/mutations/ProposalMutations.ts
  apps/backend/src/resolvers/mutations/EventEmailMutation.ts
Due: npm run lint:backend

update general event interface
  apps/backend/src/events/applicationEvents.ts
Due: npm run lint:backend

Upgrade the duo-validation version number
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: none

fix linting issues
  apps/e2e/cypress/support/fap.ts
Due: npm run lint:e2e

fix: stfc inst sci proposal view
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

continue fixing e2e tests
  apps/e2e/cypress/e2e/templatesAdvanced.cy.ts
  apps/e2e/cypress/support/utils.ts
  apps/e2e/cypress/types/utils.d.ts
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/components/common/FormikUISelect.tsx
  apps/frontend/src/components/proposal/ProposalChooseCall.tsx
  apps/frontend/src/components/questionary/questionaryComponents/GenericTemplateBasis/QuestionaryComponentGenericTemplateBasis.tsx
  apps/frontend/src/components/questionary/questionaryComponents/QuestionnairesListItem.tsx
  apps/frontend/src/components/questionary/questionaryComponents/SampleBasis/QuestionaryComponentSampleBasis.tsx
  apps/frontend/src/context/DownloadContextProvider.tsx
Due: npm run lint:e2e, npm run lint:frontend

fixing e2e tests
  apps/e2e/cypress/e2e/login.cy.ts
  apps/e2e/cypress/e2e/pages.cy.ts
  apps/e2e/cypress/e2e/samples.cy.ts
  apps/e2e/cypress/support/utils.ts
Due: npm run lint:e2e

contunue with e2e tests and improvements
  apps/e2e/cypress/e2e/peopleTable.cy.ts
  apps/e2e/cypress/e2e/personalInformation.cy.ts
  apps/e2e/cypress/e2e/settings.cy.ts
  apps/e2e/cypress/support/initialDBData.ts
  apps/frontend/src/components/review/ProposalGrade.tsx
  apps/frontend/src/components/settings/proposalStatus/CreateUpdateProposalStatus.tsx
  apps/frontend/src/components/settings/proposalWorkflow/AddNewWorkflowConnectionsRow.tsx
Due: npm run lint:e2e, npm run lint:frontend

fix select components using with formik
  apps/frontend/src/components/common/FormikUISelect.tsx
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/FinalRankingForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/DynamicMultipleChoice/QuestionDynamicMultipleChoiceForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/DynamicMultipleChoice/QuestionTemplateRelationDynamicMultipleChoiceForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/FileUpload/QuestionFileUploadForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/FileUpload/QuestionTemplateRelationFileUploadForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/QuestionInstrumentPickerFormCommon.tsx
  apps/frontend/src/components/questionary/questionaryComponents/MultipleChoice/QuestionMultipleChoiceForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/MultipleChoice/QuestionTemplateRelationMultipleChoiceForm.tsx
Due: npm run lint:frontend

fixing tests and improving broken components
  apps/e2e/cypress/e2e/shipments.cy.ts
  apps/e2e/cypress/e2e/templatesAdvanced.cy.ts
  apps/frontend/src/components/common/FormikUIDatePicker.tsx
  apps/frontend/src/components/questionary/questionaryComponents/DatePicker/DatePickerDefinition.tsx
  apps/frontend/src/components/questionary/questionaryComponents/RichTextInput/QuestionaryComponentRichTextInput.tsx
Due: npm run lint:e2e, npm run lint:frontend

try to fix visit date questions
  apps/frontend/src/components/questionary/questionaryComponents/VisitBasis/QuestionaryComponentVisitBasis.tsx
  apps/frontend/src/components/questionary/questionaryComponents/VisitBasis/VisitBasisDefinition.tsx
Due: npm run lint:frontend

fix some more date field issues
  apps/frontend/src/components/common/FormikUIDatePicker.tsx
  apps/frontend/src/components/questionary/questionaryComponents/DatePicker/DatePickerDefinition.tsx
Due: npm run lint:frontend

fixing failing template basic e2e tests
  apps/e2e/cypress/e2e/templatesBasic.cy.ts
  apps/frontend/src/components/fap/General/FapGeneralInfo.tsx
  apps/frontend/src/components/questionary/questionaryComponents/DynamicMultipleChoice/QuestionDynamicMultipleChoiceForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/QuestionInstrumentPickerFormCommon.tsx
Due: npm run lint:e2e, npm run lint:frontend

fixing FAPs failing e2e tests
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/visits.cy.ts
  apps/frontend/src/components/questionary/questionaryComponents/VisitBasis/VisitBasisDefinition.tsx
Due: npm run lint:e2e, npm run lint:frontend

some final fixes for e2e tests
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/templatesBasic.cy.ts
Due: npm run lint:e2e

remove some leftovers
  apps/e2e/cypress/e2e/templatesBasic.cy.ts
Due: npm run lint:e2e

feat: un-submit instrument in FAP meetings and prevent reorder if instrument is submitted (#641)
  apps/backend/db_patches/0156_AddProposalInstrumentUnsubmittedEvent.sql
  apps/backend/src/datasources/InstrumentDataSource.ts
  apps/backend/src/datasources/mockups/InstrumentDataSource.ts
  apps/backend/src/datasources/postgres/InstrumentDataSource.ts
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/events/event.enum.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/backend/src/mutations/InstrumentMutations.spec.ts
  apps/backend/src/mutations/InstrumentMutations.ts
  apps/backend/src/resolvers/mutations/UpdateInstrumentMutation.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/support/fap.ts
  apps/e2e/cypress/support/instrument.ts
  apps/e2e/cypress/types/fap.d.ts
  apps/e2e/cypress/types/instrument.d.ts
  apps/frontend/src/components/fap/MeetingComponents/FapInstrumentProposalsTable.tsx
  apps/frontend/src/components/fap/MeetingComponents/FapMeetingInstrumentsTable.tsx
  apps/frontend/src/graphql/instrument/submitInstrument.graphql
  apps/frontend/src/graphql/instrument/submitInstrumentInFap.graphql
  apps/frontend/src/graphql/instrument/unsubmitInstrumentInFap.graphql
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Add event id and status columns to event logs table
  apps/backend/db_patches/0158_AddEventIDAndEventStatusToEventlogs.sql
Due: none

update event logs datasource
  apps/backend/src/context/index.ts
  apps/backend/src/datasources/EventLogsDataSource.ts
  apps/backend/src/datasources/mockups/EventLogsDataSource.ts
  apps/backend/src/datasources/postgres/EventLogsDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
Due: npm run lint:backend

add handler logging to eventbus
  apps/backend/src/eventHandlers/customHandler.ts
  apps/backend/src/eventHandlers/email/essEmailHandler.ts
  apps/backend/src/eventHandlers/email/stfcEmailHandler.ts
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/eventHandlers/messageBroker.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/events/eventBus.ts
  apps/backend/src/models/EventLog.ts
Due: npm run lint:backend

add event retry mutation to backend
  apps/backend/src/buildContext.ts
  apps/backend/src/mutations/EventLogMutations.ts
  apps/backend/src/queries/EventLogQueries.ts
  apps/backend/src/resolvers/mutations/EventLogMutation.ts
  apps/backend/src/resolvers/types/EventLog.ts
Due: npm run lint:backend

fix sql file structure
  apps/backend/db_patches/0158_AddEventIDAndEventStatusToEventlogs.sql
Due: none

Remove expired proposals for instrument scientists
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

try to improve and refactor the people table and use complete remote data for material-table
  apps/e2e/cypress/e2e/peopleTable.cy.ts
  apps/frontend/package-lock.json
  apps/frontend/src/components/user/PeopleTable.tsx
  apps/frontend/src/components/user/ProposalsPeopleTable.tsx
  apps/frontend/src/hooks/user/usePrevColabs.ts
  apps/frontend/src/hooks/user/useUsersData.ts
Due: npm run lint:e2e, npm run lint:frontend

fix some more e2e tests and improve fields
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
  apps/frontend/src/components/questionary/questionaryComponents/DatePicker/DateSearchCriteriaInput.tsx
Due: npm run lint:e2e, npm run lint:frontend

user officer proposal table refactor part 1
  apps/frontend/src/components/proposal/ProposalPage.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/components/user/PeopleTable.tsx
Due: npm run lint:frontend

officer proposals table final refactor
  apps/frontend/src/components/common/SuperMaterialTable.tsx
  apps/frontend/src/components/proposal/ProposalPage.tsx
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/components/review/ProposalTableReviewer.tsx
  apps/frontend/src/utils/helperFunctions.tsx
Due: npm run lint:frontend
