Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Added the role user officer
  apps/backend/src/queries/ExperimentQueries.ts
Due: npm run lint:backend

Removing redundant code of lmiting file upload size.
  apps/backend/index.ts
Due: npm run lint:backend

feat: add validation for visit registration dates to prevent past dates and invalid ranges
  apps/backend/src/mutations/VisitMutations.ts
  apps/frontend/src/components/questionary/questionaryComponents/VisitBasis/QuestionaryComponentVisitBasis.tsx
  apps/frontend/src/components/questionary/questionaryComponents/VisitBasis/createVisitBasisValidationSchema.ts
Due: npm run lint:frontend, npm run lint:backend

feat: update visit date validation to prevent past dates and ensure valid ranges
  apps/e2e/cypress/e2e/visits.cy.ts
  apps/frontend/src/components/questionary/questionaryComponents/VisitBasis/createVisitBasisValidationSchema.ts
Due: npm run lint:e2e, npm run lint:frontend

Fix test case
  apps/backend/src/datasources/mockups/CallDataSource.ts
  apps/backend/src/mutations/ExperimentMutation.spec.ts
Due: npm run lint:backend

Fixed cy error for Proposal ESI
  apps/backend/src/datasources/postgres/ExperimentDataSource.ts
  apps/e2e/cypress/e2e/proposalEsi.cy.ts
Due: npm run lint:e2e, npm run lint:backend

fix: correct TODAY_MIDNIGHT initialization in visit validation schema
  apps/frontend/src/components/questionary/questionaryComponents/VisitBasis/createVisitBasisValidationSchema.ts
Due: npm run lint:frontend

refactor: remove redundant past date validation in visit tests
  apps/e2e/cypress/e2e/visits.cy.ts
Due: npm run lint:e2e

e2e test fix
  apps/backend/src/datasources/postgres/ExperimentDataSource.ts
  apps/frontend/src/components/proposalBooking/UserExperimentsTable.tsx
  apps/frontend/src/hooks/experiment/useUserExperiments.ts
Due: npm run lint:frontend, npm run lint:backend

refactor: simplify component structure and remove unnecessary StyledPaper wrappers
  apps/frontend/src/components/pages/OverviewPage.tsx
  apps/frontend/src/components/proposalBooking/UserUpcomingExperimentsTable.tsx
Due: npm run lint:frontend

Fixed Scheduler test. Removed the Upcoming Experiment Times page for the Instrument Scientist as new table for Experiments will be introduced later.
  apps/e2e/cypress/e2e/scheduler.cy.ts
  apps/frontend/src/components/AppRoutes.tsx
  apps/frontend/src/components/menu/MenuItems.tsx
  apps/frontend/src/components/proposalBooking/InstrSciUpcomingExperimentTimesTable.tsx
  apps/frontend/src/components/proposalBooking/UserExperimentsTable.tsx
  apps/frontend/src/components/proposalBooking/UserUpcomingExperimentsTable.tsx
  apps/frontend/src/hooks/experiment/useUserExperiments.ts
Due: npm run lint:e2e, npm run lint:frontend

Reverting changes on FAP cy
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

Reverting back the comment
  apps/frontend/src/hooks/settings/useWorkflowsData.ts
Due: npm run lint:frontend

fix: update startDate initialization to use current date instead of past date
  apps/e2e/cypress/e2e/templateDeleteAndArchive.cy.ts
Due: npm run lint:e2e

reverting code on teachnical review basis definition
  apps/frontend/src/components/questionary/questionaryComponents/TechnicalReviewBasis/TechnicalReviewBasisDefinition.tsx
Due: npm run lint:frontend

WIP
  apps/frontend/src/components/questionary/QuestionaryComponentRegistry.tsx
  apps/frontend/src/components/questionary/questionaryComponents/ExperimentSafetyBasis/experimentSafetyBasisDefinition.tsx
  apps/frontend/src/components/template/TemplateQuestionEditor.tsx
Due: npm run lint:frontend

fix: handle missing questionary in SampleResolver
  apps/backend/src/resolvers/types/Sample.ts
Due: npm run lint:backend

feat: revert waitForDBUpgrade method
  apps/backend/src/datasources/postgres/AdminDataSource.ts
Due: npm run lint:backend

docs(scheduler): update textual elements from scheduler doc according to PR feedbacks
  documentation/docs/user-guide/scheduler.md
Due: none

feat: remove note column from invites table and update related interfaces
  apps/backend/db_patches/0174_DropInvitesColumnNote.sql
  apps/backend/src/datasources/InviteDataSource.ts
  apps/backend/src/datasources/mockups/InviteDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/models/Invite.ts
  apps/backend/src/mutations/InviteMutations.ts
  apps/backend/src/resolvers/types/Invite.ts
Due: npm run lint:backend

revert null check from endCall date field as the DB schema handles that
  apps/backend/src/asyncJobs/jobs/checkAllCallsEnded.ts
Due: npm run lint:backend

revert null check from endReview date field as the DB schema handles that
  apps/backend/src/asyncJobs/jobs/checkCallsReviewEnded.ts
Due: npm run lint:backend

1st Attempt
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/middlewares/graphqlClient.ts
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/hooks/common/useDataApi.ts
  package-lock.json
  package.json
Due: npm run lint:frontend, npm run lint:backend

wip
  apps/backend/src/datasources/ProposalDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/FacilityDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/database.ts
  apps/backend/src/queries/ProposalQueries.ts
  apps/backend/src/resolvers/queries/ProposalsViewQuery.ts
  apps/e2e/cypress/types/facility.d.ts
  apps/frontend/src/components/facility/CreateUpdateFacility.tsx
  apps/frontend/src/components/pages/OverviewPage.tsx
  apps/frontend/src/components/proposal/ProposalTableFacility.tsx
  apps/frontend/src/graphql/proposal/getUserProposalByFacility.graphql
  apps/frontend/src/hooks/proposal/useProposalsCoreData.ts
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

feat: add organization name setting and integrate into email notifications
  apps/backend/db_patches/0172_AddOrganizationNameAppSetting.sql
  apps/backend/src/models/Settings.ts
  apps/frontend/src/components/experiment/ExperimentVisitsTable.tsx
Due: npm run lint:frontend, npm run lint:backend

WIP
  apps/frontend/src/components/experimentSafety/ExperimentSafetyContainer.tsx
  apps/frontend/src/components/questionary/QuestionaryComponentRegistry.tsx
  apps/frontend/src/components/questionary/questionaryComponents/ExperimentSafetyBasis/QuestionExperimentSafetyBasisForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/ExperimentSafetyBasis/QuestionTemplateRelationExperimentSafetyBasisForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/ExperimentSafetyBasis/QuestionaryComponentExperimentSafetyBasis.tsx
  apps/frontend/src/components/questionary/questionaryComponents/ExperimentSafetyBasis/createExperimentSafetyBasisValidationSchema.ts
  apps/frontend/src/components/questionary/questionaryComponents/ExperimentSafetyBasis/experimentSafetyBasisDefinition.tsx
  apps/frontend/src/components/template/PreviewTemplateModal.tsx
  apps/frontend/src/models/questionary/experimentSafety/ExperimentSafetyState.ts
Due: npm run lint:frontend

feat: update invite functionality to use co-proposer invites and remove note field
  apps/e2e/cypress/e2e/invites.cy.ts
  apps/e2e/cypress/types/invite.d.ts
  apps/frontend/src/components/proposal/InviteUser.tsx
  apps/frontend/src/graphql/invite/fragment.invite.graphql
Due: npm run lint:e2e, npm run lint:frontend

feat: revert accidental commit
  apps/backend/src/datasources/postgres/AdminDataSource.ts
Due: npm run lint:backend

update roles for ess and test
  apps/backend/src/config/eli/configureELIEnvironment.ts
  apps/backend/src/config/ess/configureESSEnvironment.ts
  apps/backend/src/config/stfc/configureSTFCEnvironment.ts
  apps/backend/src/datasources/AdminDataSource.ts
  apps/backend/src/datasources/mockups/AdminDataSource.ts
  apps/backend/src/datasources/postgres/AdminDataSource.ts
  apps/e2e/cypress/e2e/login.cy.ts
Due: npm run lint:e2e, npm run lint:backend

remove .only
  apps/e2e/cypress/e2e/login.cy.ts
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

fix test
  apps/e2e/cypress/e2e/personalInformation.cy.ts
  apps/frontend/src/components/AppToolbar/AccountActionButton.tsx
Due: npm run lint:e2e, npm run lint:frontend

WIP
  apps/backend/src/mutations/ExperimentMutation.ts
Due: npm run lint:backend

chore: remove un-need npm dependency in frontend
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: none

WIP
  apps/backend/src/datasources/postgres/ExperimentDataSource.ts
  apps/backend/src/mutations/ExperimentMutation.ts
  apps/frontend/src/components/experiment/ExperimentTable.tsx
  apps/frontend/src/models/questionary/QuestionarySubmissionState.ts
  apps/frontend/src/utils/useReducerWithMiddleWares.ts
Due: npm run lint:frontend, npm run lint:backend

WIP
  apps/frontend/src/components/experimentSafetyReview/ExperimentSafetyReview.tsx
  apps/frontend/src/components/experimentSafetyReview/ExperimentSafetyReviewContainer.tsx
Due: npm run lint:frontend

Making experiment safety review questionary to be nullable in experiment safety model. This is bcoz Review questionary should be created only at the time of Review submission.
  apps/backend/db_patches/0172_ExperimentSafetyReview.sql
  apps/backend/src/datasources/postgres/ExperimentDataSource.ts
  apps/backend/src/models/Experiment.ts
  apps/backend/src/resolvers/types/ExperimentSafety.ts
Due: npm run lint:backend

WIP
  apps/backend/src/datasources/ExperimentDataSource.ts
  apps/backend/src/datasources/mockups/ExperimentDataSource.ts
  apps/backend/src/datasources/postgres/ExperimentDataSource.ts
  apps/backend/src/mutations/ExperimentMutation.ts
  apps/backend/src/resolvers/types/ExperimentSafety.ts
  apps/frontend/src/components/experimentSafetyReview/ExperimentSafetyReview.tsx
  apps/frontend/src/components/experimentSafetyReview/ExperimentSafetyReviewContainer.tsx
  apps/frontend/src/graphql/experiment/getExperimentSafety.graphql
Due: npm run lint:frontend, npm run lint:backend

WIP
  apps/backend/src/resolvers/mutations/StartExperimentSafetyReviewMutation.ts
  apps/frontend/src/graphql/experiment/startExperimentSafetyReview.graphql
  apps/frontend/src/models/questionary/experimentSafetyReview/ExperimentSafetyReviewSubmissionState.ts
  apps/frontend/src/models/questionary/experimentSafetyReview/ExperimentSafetyState.ts
  apps/frontend/src/models/questionary/experimentSafetyReview/ExperimentSafetyWithQuestionary.ts
Due: npm run lint:frontend, npm run lint:backend

Fixed e2e test by sorting the experiments in asc order
  apps/backend/src/datasources/mockups/ExperimentDataSource.ts
  apps/backend/src/datasources/postgres/ExperimentDataSource.ts
Due: npm run lint:backend

feat: add possibility to use pooled SMTP connections (#1005)
  apps/backend/src/eventHandlers/MailService/SMTPMailService.ts
Due: npm run lint:backend

Path conditions:
  npm run lint:e2e: any of: apps/e2e/**/*.{js,ts,jsx,tsx}
  npm run lint:frontend: any of: apps/frontend/**/*.{js,ts,jsx,tsx}
  npm run lint:backend: any of: apps/backend/**/*.{js,ts,jsx,tsx}
