Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

.lintstagedrc.json:

{
  "apps/e2e/**/*.{js,ts,jsx,tsx}": ["npm run lint:e2e"],
  "apps/frontend/**/*.{js,ts,jsx,tsx}": ["npm run lint:frontend"],
  "apps/backend/**/*.{js,ts,jsx,tsx}": ["npm run lint:backend"]
}

Fix technique dependency test
  apps/frontend/src/components/questionary/questionaryComponents/TechniquePicker/QuestionaryComponentTechniquePicker.tsx
Due: npm run lint:frontend

Fix advanced e2e tests
  apps/e2e/cypress/e2e/techniques.cy.ts
Due: npm run lint:e2e

Initial changes
  apps/backend/src/models/questionTypes/TechniquePicker.ts
Due: npm run lint:backend

Fix template export test
  apps/e2e/cypress/fixtures/template_export.json
Due: none

Fix before save method
  apps/backend/src/models/questionTypes/TechniquePicker.ts
Due: npm run lint:backend

Include technique in pdf
  apps/backend/src/factory/pdf/proposal.ts
Due: npm run lint:backend

e2e advanced test fix
  apps/e2e/cypress/e2e/techniques.cy.ts
Due: npm run lint:e2e

Assign all instruments to proposal
  apps/backend/src/models/questionTypes/TechniquePicker.ts
Due: npm run lint:backend

Fix technique picker dependency
  apps/e2e/cypress/e2e/templatesBasic.cy.ts
  apps/frontend/src/components/common/FormikUICustomDependencySelector.tsx
Due: npm run lint:e2e, npm run lint:frontend

Resolve conflicts
  apps/frontend/src/components/questionary/questionaryComponents/TechniquePicker/QuestionTechniquePickerForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/TechniquePicker/QuestionTechniquePickerFormCommon.tsx
  apps/frontend/src/components/questionary/questionaryComponents/TechniquePicker/QuestionaryComponentTechniquePicker.tsx
Due: npm run lint:frontend

Fix delete e2e test
  apps/e2e/cypress/e2e/techniques.cy.ts
Due: npm run lint:e2e

Logging changes
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/mutations/TechniqueMutations.spec.ts
Due: npm run lint:backend

e2e fix
  apps/backend/db_patches/db_seeds/0001_ProposalForScheduling.sql
  apps/e2e/cypress/e2e/templatesBasic.cy.ts
  apps/e2e/cypress/fixtures/template_export.json
Due: npm run lint:e2e

Add validation checks
  apps/backend/src/eventHandlers/logging.ts
  apps/frontend/src/components/questionary/questionaryComponents/TechniquePicker/TechniquePickerDefinition.tsx
Due: npm run lint:frontend, npm run lint:backend

Add technique seeds
  apps/backend/db_patches/db_seeds/0001_ProposalForScheduling.sql
Due: none

Add single tech inst assignment test
  apps/e2e/cypress/e2e/techniques.cy.ts
Due: npm run lint:e2e

Refactoring tests
  apps/e2e/cypress/e2e/techniques.cy.ts
Due: npm run lint:e2e

Rename assign function
  apps/backend/src/datasources/TechniqueDataSource.ts
  apps/backend/src/datasources/mockups/TechniqueDataSource.ts
  apps/backend/src/datasources/postgres/TechniqueDataSource.ts
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/events/event.enum.ts
  apps/backend/src/models/Technique.ts
  apps/backend/src/models/questionTypes/TechniquePicker.ts
  apps/backend/src/mutations/TechniqueMutations.ts
Due: npm run lint:backend

Initial backend changes
  apps/backend/db_patches/0158_AddTechniquePickerDataType.sql
  apps/backend/src/models/Template.ts
  apps/backend/src/models/questionTypes/QuestionRegistry.ts
  apps/backend/src/models/questionTypes/TechniquePicker.ts
  apps/backend/src/resolvers/types/FieldConfig.ts
  apps/frontend/src/graphql/template/fragment.fieldConfig.graphql
Due: npm run lint:backend

Remove debug statement
  apps/e2e/cypress/e2e/templatesBasic.cy.ts
Due: npm run lint:e2e

Remove assignment of all instruments to proposal
  apps/backend/src/models/questionTypes/TechniquePicker.ts
  apps/e2e/cypress/e2e/techniques.cy.ts
Due: npm run lint:e2e, npm run lint:backend

ui upgrade
  apps/frontend/src/components/questionary/questionaryComponents/TechniquePicker/QuestionTechniquePickerFormCommon.tsx
Due: npm run lint:frontend

Add tests for radio variant
  apps/e2e/cypress/e2e/techniques.cy.ts
  apps/frontend/src/components/questionary/questionaryComponents/TechniquePicker/QuestionaryComponentTechniquePicker.tsx
Due: npm run lint:e2e, npm run lint:frontend

Add tests for which techniques display
  apps/backend/src/datasources/TechniqueDataSource.ts
  apps/backend/src/datasources/mockups/TechniqueDataSource.ts
  apps/backend/src/datasources/postgres/TechniqueDataSource.ts
  apps/backend/src/models/questionTypes/TechniquePicker.ts
  apps/e2e/cypress/e2e/techniques.cy.ts
  apps/frontend/src/components/questionary/questionaryComponents/TechniquePicker/QuestionaryComponentTechniquePicker.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Unit tests
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/mutations/TechniqueMutations.spec.ts
  apps/backend/src/queries/TechniqueQueries.spec.ts
Due: npm run lint:backend

Add multiple tech inst assignment test
  apps/e2e/cypress/e2e/techniques.cy.ts
Due: npm run lint:e2e

Add tests to multi selection
  apps/e2e/cypress/e2e/techniques.cy.ts
Due: npm run lint:e2e

Fix picker answer search
  apps/frontend/src/components/questionary/questionaryComponents/TechniquePicker/TechniquePickerDefinition.tsx
  apps/frontend/src/components/questionary/questionaryComponents/TechniquePicker/TechniquePickerSearchCriteriaComponent.tsx
Due: npm run lint:frontend

rename getFapReviewerProposalCountCurrentRound to getCurrentFapReviewerProposalCount
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/resolvers/types/FapReviewers.ts
Due: npm run lint:backend

e2e fix
  apps/e2e/cypress/e2e/genericTemplates.cy.ts
Due: npm run lint:e2e

await the checkIfConditionsForNextStatusAreMet
  apps/backend/src/workflowEngine/index.ts
Due: npm run lint:backend

doc: user guide info
  documentation/docs/assets/images/templates.png
  documentation/docs/user-guide/user-officer/creating_call.md
  documentation/docs/user-guide/user-officer/features.md
  documentation/docs/user-guide/user-officer/user-officer.md
Due: none

Rollack Unused
  apps/frontend/src/components/proposal/ProposalTable.tsx
  apps/frontend/src/graphql/user/getUserProposals.graphql
Due: npm run lint:frontend

Rollack Unused 3
  apps/frontend/src/components/proposal/ProposalTable.tsx
Due: npm run lint:frontend

Rollack Unused 4
  apps/frontend/src/components/proposal/ProposalTable.tsx
Due: npm run lint:frontend

Review comments fix
  apps/backend/src/queries/TechniqueQueries.ts
  apps/backend/src/resolvers/types/Technique.ts
  apps/e2e/cypress/e2e/techniques.cy.ts
Due: npm run lint:e2e, npm run lint:backend

Update apps/backend/src/datasources/postgres/TechniqueDataSource.ts
  apps/backend/src/datasources/postgres/TechniqueDataSource.ts
Due: npm run lint:backend

Update apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/config/dependencyConfigSTFC.ts
Due: npm run lint:backend

Fix lint issue
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

Removed undici from package lock.
  apps/backend/package-lock.json
Due: none
