Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

.lintstagedrc.json:

{
  "apps/e2e/**/*.{js,ts,jsx,tsx}": ["npm run lint:e2e"],
  "apps/frontend/**/*.{js,ts,jsx,tsx}": ["npm run lint:frontend"],
  "apps/backend/**/*.{js,ts,jsx,tsx}": ["npm run lint:backend"]
}

Initial changes
  apps/backend/src/models/questionTypes/TechniquePicker.ts
Due: npm run lint:backend

Change assign/remove inst icon
  apps/frontend/src/components/technique/TechniqueTable.tsx
Due: npm run lint:frontend

Use translation for technique
  apps/frontend/src/components/DashBoard.tsx
  apps/frontend/src/components/menu/MenuItems.tsx
  apps/frontend/src/components/technique/AssignInstrumentsToTechniques.tsx
  apps/frontend/src/components/technique/AssignedInstrumentsTable.tsx
  apps/frontend/src/components/technique/CreateUpdateTechnique.tsx
  apps/frontend/src/components/technique/TechniqueTable.tsx
Due: npm run lint:frontend

Initial changes
  apps/backend/src/models/questionTypes/TechniquePicker.ts
  apps/frontend/src/components/questionary/QuestionaryComponentRegistry.tsx
  apps/frontend/src/components/questionary/questionaryComponents/TechniquePicker/QuestionaryComponentTechniquePicker.tsx
  apps/frontend/src/components/questionary/questionaryComponents/TechniquePicker/TechniquePickerDefinition.tsx
Due: npm run lint:frontend, npm run lint:backend

Query and mutation changes
  apps/backend/db_patches/0158_AddTechniquePickerDataType.sql
  apps/backend/src/datasources/TechniqueDataSource.ts
  apps/backend/src/datasources/mockups/TechniqueDataSource.ts
  apps/backend/src/datasources/postgres/TechniqueDataSource.ts
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/events/event.enum.ts
  apps/backend/src/models/Technique.ts
  apps/backend/src/models/questionTypes/TechniquePicker.ts
  apps/backend/src/mutations/TechniqueMutations.ts
  apps/backend/src/queries/TechniqueQueries.ts
  apps/backend/src/resolvers/queries/TechniqueQuery.ts
Due: npm run lint:backend

path query fix
  apps/backend/db_patches/0158_AddTechniquePickerDataType.sql
Due: none

Add initial frontend tech picker changes
  apps/frontend/src/components/questionary/questionaryComponents/TechniquePicker/QuestionTechniquePickerForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/TechniquePicker/QuestionTechniquePickerFormCommon.tsx
  apps/frontend/src/components/questionary/questionaryComponents/TechniquePicker/QuestionTemplateRelationTechniquePickerForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/TechniquePicker/TechniquePickerAnswerRenderer.tsx
  apps/frontend/src/components/questionary/questionaryComponents/TechniquePicker/TechniquePickerDefinition.tsx
  apps/frontend/src/graphql/technique/getTechniquesById.graphql
  apps/frontend/src/hooks/technique/useTechniquesByIdsData.ts
Due: npm run lint:frontend

api keys can get fap proposals
  apps/backend/src/queries/FapQueries.ts
Due: npm run lint:backend

Remove redundant else statement
  apps/frontend/src/components/technique/TechniqueTable.tsx
Due: npm run lint:frontend

try to fix date fields
  apps/frontend/src/components/App.tsx
  apps/frontend/src/components/call/CallsTable.tsx
  apps/frontend/src/components/common/FormikUIDateTimePicker.tsx
  apps/frontend/src/components/experiment/DateFilter.tsx
  apps/frontend/src/components/experiment/ExperimentFilterBar.tsx
  apps/frontend/src/components/experiment/ExperimentTable.tsx
  apps/frontend/src/components/experiment/ExperimentUrlQueryParamsType.ts
  apps/frontend/src/components/menu/MenuItems.tsx
Due: npm run lint:frontend

fix last review comments
  apps/backend/src/mutations/InstrumentMutations.ts
  apps/frontend/src/components/fap/MeetingComponents/FapMeetingInstrumentsTable.tsx
Due: npm run lint:frontend, npm run lint:backend

Fix picker answer search
  apps/frontend/src/components/questionary/questionaryComponents/TechniquePicker/TechniquePickerDefinition.tsx
  apps/frontend/src/components/questionary/questionaryComponents/TechniquePicker/TechniquePickerSearchCriteriaComponent.tsx
Due: npm run lint:frontend

Assign all instruments to proposal
  apps/backend/src/models/questionTypes/TechniquePicker.ts
Due: npm run lint:backend

try to fix the date picker placeholder and some tests
  apps/e2e/cypress/e2e/appSettings.cy.ts
  apps/e2e/cypress/support/initialDBData.ts
  apps/frontend/src/components/call/CallGeneralInfo.tsx
  apps/frontend/src/components/call/CallNotificationAndCycleInfo.tsx
  apps/frontend/src/components/call/CallReviewsInfo.tsx
  apps/frontend/src/components/questionary/questionaryComponents/DatePicker/QuestionDateForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/DatePicker/QuestionTemplateRelationDateForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/DatePicker/QuestionaryComponentDatePicker.tsx
  apps/frontend/src/components/questionary/questionaryComponents/VisitBasis/QuestionaryComponentVisitBasis.tsx
  apps/frontend/src/components/user/UpdateUserInformation.tsx
Due: npm run lint:e2e, npm run lint:frontend

feat: Add User Office documentation
  documentation/README.md
  documentation/docs/index.md
  documentation/docs/technical/index.md
  documentation/docs/user/index.md
  documentation/docs/user_officer/index.md
  documentation/mkdocs.yml
Due: none

chore: Add workflows for deploying documentation
  .github/workflows/deploy-docs-develop.yml
  .github/workflows/deploy-docs-latest.yml
Due: none

start fixing date and datetime pickers in e2e tests
  apps/e2e/cypress/e2e/calls.cy.ts
  apps/frontend/src/components/call/CallNotificationAndCycleInfo.tsx
  apps/frontend/src/components/call/CallReviewsInfo.tsx
Due: npm run lint:e2e, npm run lint:frontend

Rename assign function
  apps/backend/src/datasources/TechniqueDataSource.ts
  apps/backend/src/datasources/mockups/TechniqueDataSource.ts
  apps/backend/src/datasources/postgres/TechniqueDataSource.ts
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/events/event.enum.ts
  apps/backend/src/models/Technique.ts
  apps/backend/src/models/questionTypes/TechniquePicker.ts
  apps/backend/src/mutations/TechniqueMutations.ts
Due: npm run lint:backend

Logging changes
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/mutations/TechniqueMutations.spec.ts
Due: npm run lint:backend

Unit tests
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/mutations/TechniqueMutations.spec.ts
  apps/backend/src/queries/TechniqueQueries.spec.ts
Due: npm run lint:backend

Review comment fix
  apps/backend/src/factory/StfcDownloadService.ts
Due: npm run lint:backend

Add option to identify proposal by facility
  apps/backend/src/factory/StfcDownloadService.ts
Due: npm run lint:backend

Review comment fixes
  apps/backend/src/datasources/mockups/FileDataSource.ts
  apps/backend/src/factory/StfcDownloadService.ts
Due: npm run lint:backend

Facility change fix
  apps/backend/src/factory/StfcDownloadService.ts
Due: npm run lint:backend

Config revert
  apps/backend/src/config/dependencyConfigE2E.ts
Due: npm run lint:backend

Error message change
  apps/backend/src/factory/StfcDownloadService.ts
Due: npm run lint:backend

Add option to download migrated pdf
  apps/backend/src/config/Tokens.ts
  apps/backend/src/config/dependencyConfigDefault.ts
  apps/backend/src/config/dependencyConfigE2E.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/datasources/IFileDataSource.ts
  apps/backend/src/datasources/mockups/FileDataSource.ts
  apps/backend/src/datasources/postgres/FileDataSource.ts
  apps/backend/src/factory/DownloadService.ts
  apps/backend/src/factory/EssDownloadService.ts
  apps/backend/src/factory/StfcDownloadService.ts
  apps/backend/src/factory/service.ts
  apps/backend/src/middlewares/factory.ts
  apps/backend/src/middlewares/factory/factoryServices.ts
  apps/backend/src/middlewares/factory/pdf/download.ts
  apps/backend/src/middlewares/factory/pdf/preview.ts
  apps/backend/src/middlewares/factory/xlsx.ts
  apps/backend/src/middlewares/factory/zip.ts
Due: npm run lint:backend

Review comment fixes
  apps/backend/src/config/dependencyConfigDefault.ts
  apps/backend/src/config/dependencyConfigE2E.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/datasources/FileDataSource.ts
  apps/backend/src/datasources/mockups/FileDataSource.ts
  apps/backend/src/datasources/postgres/FileDataSource.ts
  apps/backend/src/factory/DefaultDownloadService.ts
  apps/backend/src/factory/DownloadService.ts
  apps/backend/src/factory/EssDownloadService.ts
  apps/backend/src/factory/StfcDownloadService.ts
  apps/backend/src/mutations/FileMutations.ts
  apps/backend/src/queries/FileQueries.ts
Due: npm run lint:backend

Update apps/frontend/src/components/fap/MeetingComponents/FapMeetingInstrumentsTable.tsx
  apps/frontend/src/components/fap/MeetingComponents/FapMeetingInstrumentsTable.tsx
Due: npm run lint:frontend

fixing call e2e tests and improving datetime picker input
  apps/e2e/cypress/e2e/calls.cy.ts
  apps/e2e/cypress/support/utils.ts
  apps/e2e/cypress/types/utils.d.ts
Due: npm run lint:e2e

fix tests
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

Add test
  apps/e2e/cypress/e2e/instruments.cy.ts
Due: npm run lint:e2e

remove only
  apps/e2e/cypress/e2e/instruments.cy.ts
Due: npm run lint:e2e

update technique table
  apps/frontend/src/components/technique/TechniquesPage.tsx
Due: npm run lint:frontend

fix: api keys can get fap proposals
  apps/backend/src/queries/FapQueries.ts
Due: npm run lint:backend

fix calls e2e tests
  apps/e2e/cypress/e2e/calls.cy.ts
Due: npm run lint:e2e

fixes merge issue
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

feat: make all pages with tables to expand full-width (#640)
  apps/frontend/src/components/call/CallPage.tsx
  apps/frontend/src/components/experiment/ExperimentPage.tsx
  apps/frontend/src/components/fap/FapPage.tsx
  apps/frontend/src/components/fap/FapsPage.tsx
  apps/frontend/src/components/institution/InstitutionPage.tsx
  apps/frontend/src/components/instrument/InstrumentsPage.tsx
  apps/frontend/src/components/pages/HelpPage.tsx
  apps/frontend/src/components/pages/OverviewPage.tsx
  apps/frontend/src/components/pages/PageEditor.tsx
  apps/frontend/src/components/proposalBooking/InstrSciUpcomingExperimentTimesTable.tsx
  apps/frontend/src/components/proposalBooking/UserExperimentsTable.tsx
  apps/frontend/src/components/sample/SampleSafetyPage.tsx
  apps/frontend/src/components/settings/apiAccessTokens/ApiAccessTokensPage.tsx
  apps/frontend/src/components/settings/appSettings/AppSettingsPage.tsx
  apps/frontend/src/components/settings/features/FeaturesPage.tsx
  apps/frontend/src/components/settings/proposalStatus/ProposalStatusesPage.tsx
  apps/frontend/src/components/settings/proposalWorkflow/ProposalWorkflowsPage.tsx
  apps/frontend/src/components/settings/unitList/UnitTablePage.tsx
  apps/frontend/src/components/technique/TechniquesPage.tsx
  apps/frontend/src/components/template/EsiPage.tsx
  apps/frontend/src/components/template/FeedbackTemplatesPage.tsx
  apps/frontend/src/components/template/GenericTemplatesPage.tsx
  apps/frontend/src/components/template/PdfTemplatesPage.tsx
  apps/frontend/src/components/template/ProposalTemplatesPage.tsx
  apps/frontend/src/components/template/QuestionsPage.tsx
  apps/frontend/src/components/template/SampleEsiPage.tsx
  apps/frontend/src/components/template/SampleTemplatesPage.tsx
  apps/frontend/src/components/template/ShipmentTemplatesPage.tsx
  apps/frontend/src/components/template/VisitTemplatesPage.tsx
  apps/frontend/src/components/user/PeoplePage.tsx
Due: npm run lint:frontend

feat: add User Office documentation (#646)
  .github/workflows/deploy-docs-develop.yml
  .github/workflows/deploy-docs-latest.yml
  documentation/README.md
  documentation/docs/index.md
  documentation/docs/technical/index.md
  documentation/docs/user/index.md
  documentation/docs/user_officer/index.md
  documentation/mkdocs.yml
Due: none
