Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

.lintstagedrc.json:

{
  "apps/e2e/**/*.{js,ts,jsx,tsx}": ["npm run lint:e2e"],
  "apps/frontend/**/*.{js,ts,jsx,tsx}": ["npm run lint:frontend"],
  "apps/backend/**/*.{js,ts,jsx,tsx}": ["npm run lint:backend"]
}

Tech review data added to pdf generation immaterial of the user role
  apps/backend/src/factory/pdf/proposal.ts
Due: npm run lint:backend

fix: Multiple data fetch on questionary details in the proposal review
  apps/frontend/src/components/proposal/ProposalQuestionaryDetails.tsx
  apps/frontend/src/components/questionary/QuestionaryDetails.tsx
  apps/frontend/src/components/review/ProposalQuestionaryReview.tsx
  apps/frontend/src/hooks/questionary/useQuestionary.ts
Due: npm run lint:frontend

Added new column for storing dummy json data for Proposal.
  apps/backend/db_patches/0140_AddProposalTemplateDummyData.sql
  apps/backend/src/datasources/mockups/PdfTemplateDataSource.ts
  apps/backend/src/datasources/postgres/PdfTemplateDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/PdfTemplate.ts
  apps/backend/src/mutations/PdfTemplateMutations.spec.ts
  apps/backend/src/mutations/PdfTemplateMutations.ts
  apps/backend/src/mutations/TemplateMutations.ts
  apps/backend/src/resolvers/mutations/CreatePdfTemplateMutation.ts
  apps/backend/src/resolvers/mutations/UpdatePdfTemplateMutation.ts
  apps/backend/src/resolvers/queries/PdfTemplatesQuery.ts
  apps/backend/src/resolvers/types/PdfTemplate.ts
  apps/e2e/cypress/e2e/pdfTemplates.cy.ts
  apps/frontend/src/components/template/PdfTemplateEditor.tsx
  apps/frontend/src/components/template/PdfTemplateEditorViewer.tsx
  apps/frontend/src/graphql/template/fragment.template.graphql
  apps/frontend/src/graphql/template/getPdfTemplate.graphql
  apps/frontend/src/graphql/template/updatePdfTemplate.graphql
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Writing the url bacjk.
  apps/backend/src/factory/service.ts
Due: npm run lint:backend

fix: Restricting SEP assignment to Proposal, only if one has not been assigned already.
  apps/backend/src/datasources/SEPDataSource.ts
  apps/backend/src/datasources/mockups/SEPDataSource.ts
  apps/backend/src/datasources/postgres/SEPDataSource.ts
  apps/backend/src/models/questionTypes/InstrumentPicker.ts
  apps/backend/src/mutations/SEPMutations.ts
  apps/backend/src/queries/SEPQueries.ts
  apps/backend/src/resolvers/mutations/AssignProposalsToInstrumentMutation.ts
Due: npm run lint:backend

remove the executed flag on status actions because it is not useful for now
  apps/backend/db_patches/0140_RemoveExecutedColumnFromConnectionHasActions.sql
  apps/backend/src/datasources/ProposalDataSource.ts
  apps/backend/src/datasources/mockups/StatusActionsDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/StatusActionsDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/ProposalStatusAction.ts
  apps/backend/src/mutations/ProposalMutations.ts
  apps/backend/src/resolvers/types/ConnectionStatusAction.ts
  apps/backend/src/statusActionEngine/emailActionHandler.ts
  apps/backend/src/statusActionEngine/index.ts
  apps/frontend/src/graphql/settings/statusActions/fragment.connectionStatusAction.graphql
Due: npm run lint:backend

Removed unneeded test case
  apps/backend/src/mutations/SEPMutations.spec.ts
Due: npm run lint:backend

fix: linting issues
  apps/backend/src/resolvers/types/FieldConfig.ts
Due: npm run lint:backend

test(e2e): add e2e test for material-table styling improvements
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

feat: material-table space usage and styling improvements (#361)
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/frontend/src/components/SEP/MeetingComponents/SEPMeetingComponentsView.tsx
  apps/frontend/src/components/SEP/Proposals/SEPProposalsAndAssignmentsView.tsx
  apps/frontend/src/components/SEP/SEPStatusFilter.tsx
  apps/frontend/src/components/SEP/SEPsTable.tsx
  apps/frontend/src/components/call/AssignInstrumentsToCall.tsx
  apps/frontend/src/components/call/AssignedInstrumentsTable.tsx
  apps/frontend/src/components/call/CallStatusFilter.tsx
  apps/frontend/src/components/call/CallsTable.tsx
  apps/frontend/src/components/common/DenseMaterialTable.tsx
  apps/frontend/src/components/common/SuperMaterialTable.tsx
  apps/frontend/src/components/common/proposalFilters/CallFilter.tsx
  apps/frontend/src/components/common/proposalFilters/InstrumentFilter.tsx
  apps/frontend/src/components/common/proposalFilters/ProposalStatusFilter.tsx
  apps/frontend/src/components/common/proposalFilters/QuestionaryFilter.tsx
  apps/frontend/src/components/experiment/DateFilter.tsx
  apps/frontend/src/components/experiment/ExperimentFilterBar.tsx
  apps/frontend/src/components/institution/CreateUpdateInstitution.tsx
  apps/frontend/src/components/institution/InstitutionTable.tsx
  apps/frontend/src/components/instrument/InstrumentTable.tsx
  apps/frontend/src/components/proposal/ProposalFilterBar.tsx
  apps/frontend/src/components/proposal/ProposalTable.tsx
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/components/questionary/questionaryComponents/DatePicker/DateSearchCriteriaInput.tsx
  apps/frontend/src/components/review/ProposalTableReviewer.tsx
  apps/frontend/src/components/sample/SampleSafetyPage.tsx
  apps/frontend/src/components/template/QuestionsTableFilter.tsx
  apps/frontend/src/utils/helperFunctions.tsx
Due: npm run lint:e2e, npm run lint:frontend

Remove runtime-generated options from DYNAMIC_MULTIPLE_CHOICE question type
  apps/backend/src/datasources/mockups/TemplateDataSource.ts
  apps/backend/src/models/questionTypes/DynamicMultipleChoice.ts
  apps/backend/src/queries/TemplateQueries.spec.ts
  apps/backend/src/queries/TemplateQueries.ts
  apps/backend/src/resolvers/queries/DynamicMultipleChoiceQuery.ts
  apps/backend/src/resolvers/types/FieldConfig.ts
  apps/frontend/src/components/questionary/questionaryComponents/DynamicMultipleChoice/DynamicMultipleChoiceSearchCriteriaComponent.tsx
  apps/frontend/src/components/questionary/questionaryComponents/DynamicMultipleChoice/QuestionaryComponentDynamicMultipleChoice.tsx
  apps/frontend/src/graphql/template/fragment.fieldConfig.graphql
  apps/frontend/src/graphql/template/getDynamicMultipleChoiceOptions.graphql
  apps/frontend/src/hooks/template/useGetDynamicMultipleChoiceOptions.ts
Due: npm run lint:frontend, npm run lint:backend

Created endpoint for PDF Preview and calling it.
  apps/backend/index.ts
  apps/backend/src/middlewares/factory.ts
  apps/backend/src/middlewares/factory/pdf/download.ts
  apps/backend/src/middlewares/factory/pdf/preview.ts
  apps/frontend/src/components/template/PdfTemplateEditorViewer.tsx
Due: npm run lint:frontend, npm run lint:backend

Code cleanup and optimization
  apps/backend/src/middlewares/factory/factoryServices.ts
  apps/backend/src/middlewares/factory/pdf/preview.ts
  apps/frontend/src/components/template/PdfTemplateEditorViewer.tsx
Due: npm run lint:frontend, npm run lint:backend

PDF Preview Page done.
  apps/backend/src/middlewares/factory/pdf/preview.ts
Due: npm run lint:backend

Added Authorisation decorator back as it was comprimising securities. Introduced an alternative way to tackle the authorisation for internal purpose.
  apps/backend/src/models/questionTypes/InstrumentPicker.ts
  apps/backend/src/mutations/SEPMutations.ts
Due: npm run lint:backend

e2e test case bug fix
  apps/e2e/cypress/e2e/pdfTemplates.cy.ts
Due: npm run lint:e2e

Use the "apiCallRequestHeaders" config from the merged branch
  apps/backend/src/datasources/mockups/TemplateDataSource.ts
  apps/backend/src/queries/TemplateQueries.spec.ts
  apps/backend/src/queries/TemplateQueries.ts
Due: npm run lint:backend

Remove "DYNAMIC_MULTIPLE_CHOICE.config.options" field from the exported template file.
  apps/e2e/cypress/fixtures/template_export.json
Due: none

Fixed the e2e failing case by replacing the fixture file with the latest one.
  apps/e2e/.DS_Store
  apps/e2e/cypress/fixtures/2023_proposal_fixture.pdf
Due: none

removed DS_Store
  apps/e2e/.DS_Store
Due: none

Replacing the fixture file with the recent one.
  apps/e2e/cypress/fixtures/2023_proposal_fixture.pdf
Due: none

fix: Proposal ObjectType's publicStatus calculated field selected the proposal data from the database instead of using the root object's data (#402)
  apps/backend/src/queries/ProposalQueries.spec.ts
  apps/backend/src/queries/ProposalQueries.ts
  apps/backend/src/resolvers/types/Proposal.ts
Due: npm run lint:backend

Use logWarn with different context instead of throwing error
  apps/backend/src/queries/UserQueries.spec.ts
  apps/backend/src/queries/UserQueries.ts
Due: npm run lint:backend

feat: enable filtering calls by instrument ids and continue with material-table UI improvements
  apps/backend/src/datasources/postgres/CallDataSource.ts
  apps/backend/src/resolvers/queries/CallsQuery.ts
  apps/e2e/cypress/e2e/SEP.cy.ts
  apps/e2e/cypress/e2e/personalInformation.cy.ts
  apps/frontend/src/components/AppToolbar/RoleSelection.tsx
  apps/frontend/src/components/SEP/MeetingComponents/SEPMeetingComponentsView.tsx
  apps/frontend/src/components/SEP/MeetingComponents/SEPMeetingInstrumentsTable.tsx
  apps/frontend/src/components/SEP/Members/SEPMembers.tsx
  apps/frontend/src/components/SEP/Proposals/SEPProposalsAndAssignmentsTable.tsx
  apps/frontend/src/components/SEP/Proposals/SEPProposalsAndAssignmentsView.tsx
  apps/frontend/src/components/call/AssignedInstrumentsTable.tsx
  apps/frontend/src/components/common/DenseMaterialTable.tsx
  apps/frontend/src/components/eventLog/EventLogList.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/components/settings/appSettings/AppSettingsTable.tsx
  apps/frontend/src/components/template/TemplatesTable.tsx
  apps/frontend/src/components/user/PeopleTable.tsx
  apps/frontend/src/hooks/instrument/useInstrumentsBySEPData.ts
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

fix review comments and improve status action selection experience
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/models/EventLog.ts
  apps/backend/src/resolvers/types/EventLog.ts
  apps/backend/src/statusActionEngine/rabbitMQHandler.ts
  apps/e2e/cypress/e2e/statusActions.cy.ts
  apps/frontend/src/components/eventLog/EventLogList.tsx
  apps/frontend/src/components/settings/proposalWorkflow/AddStatusActionsToConnection.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

chore: Change UserQueries.checkToken() to log warnings instead of errors (#394)
  .gitignore
  apps/backend/src/queries/UserQueries.spec.ts
  apps/backend/src/queries/UserQueries.ts
Due: npm run lint:backend

fix failing e2e tests
  apps/e2e/cypress/e2e/SEP.cy.ts
  apps/e2e/cypress/e2e/personalInformation.cy.ts
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/frontend/src/components/SEP/MeetingComponents/SEPMeetingInstrumentsTable.tsx
Due: npm run lint:e2e, npm run lint:frontend

fix last failing e2e test
  apps/e2e/cypress/e2e/peopleTable.cy.ts
Due: npm run lint:e2e

feat: enable filtering calls by instrument ids and continue with material-table UI improvements (#408)
  apps/backend/src/datasources/postgres/CallDataSource.ts
  apps/backend/src/resolvers/queries/CallsQuery.ts
  apps/e2e/cypress/e2e/SEP.cy.ts
  apps/e2e/cypress/e2e/peopleTable.cy.ts
  apps/e2e/cypress/e2e/personalInformation.cy.ts
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/frontend/src/components/AppToolbar/RoleSelection.tsx
  apps/frontend/src/components/SEP/MeetingComponents/SEPMeetingComponentsView.tsx
  apps/frontend/src/components/SEP/MeetingComponents/SEPMeetingInstrumentsTable.tsx
  apps/frontend/src/components/SEP/Members/SEPMembers.tsx
  apps/frontend/src/components/SEP/Proposals/SEPProposalsAndAssignmentsTable.tsx
  apps/frontend/src/components/SEP/Proposals/SEPProposalsAndAssignmentsView.tsx
  apps/frontend/src/components/call/AssignedInstrumentsTable.tsx
  apps/frontend/src/components/common/DenseMaterialTable.tsx
  apps/frontend/src/components/eventLog/EventLogList.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/components/settings/appSettings/AppSettingsTable.tsx
  apps/frontend/src/components/template/TemplatesTable.tsx
  apps/frontend/src/components/user/PeopleTable.tsx
  apps/frontend/src/hooks/instrument/useInstrumentsBySEPData.ts
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Reverting env changes.
  .github/workflows/test-build.yml
  apps/backend/example.development.env
Due: none

Added pdf worker js to public script and calling it in worker
  apps/frontend/public/scripts/pdf.worker.min.js
  apps/frontend/src/components/template/PdfTemplateEditorViewer.tsx
Due: npm run lint:frontend

refactor(deprecation warning): move away from graphql-playground as it is deprecated
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/middlewares/graphql.ts
  apps/backend/src/resolvers/queries/SystemQuery.ts
Due: npm run lint:backend

fix some more review comments
  apps/backend/src/eventHandlers/logging.ts
Due: npm run lint:backend

refactor(deprecation warning): move away from graphql-playground as it is deprecated (#409)
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/middlewares/graphql.ts
  apps/backend/src/resolvers/queries/SystemQuery.ts
Due: npm run lint:backend

951_moves stfc seps export to own folder
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/factory/xlsx/SEPDataColumns.ts
  apps/backend/src/factory/xlsx/SEPDataRow.ts
  apps/backend/src/factory/xlsx/sep.ts
  apps/backend/src/factory/xlsx/stfc/StfcSEPDataColumns.ts
  apps/backend/src/factory/xlsx/stfc/StfcSEPDataRow.ts
Due: npm run lint:backend

update: Remove runtime-generated options from DYNAMIC_MULTIPLE_CHOICE question type (#406)
  apps/backend/src/datasources/mockups/TemplateDataSource.ts
  apps/backend/src/models/questionTypes/DynamicMultipleChoice.ts
  apps/backend/src/queries/TemplateQueries.spec.ts
  apps/backend/src/queries/TemplateQueries.ts
  apps/backend/src/resolvers/queries/DynamicMultipleChoiceQuery.ts
  apps/backend/src/resolvers/types/FieldConfig.ts
  apps/e2e/cypress/fixtures/template_export.json
  apps/frontend/src/components/questionary/questionaryComponents/DynamicMultipleChoice/DynamicMultipleChoiceSearchCriteriaComponent.tsx
  apps/frontend/src/components/questionary/questionaryComponents/DynamicMultipleChoice/QuestionaryComponentDynamicMultipleChoice.tsx
  apps/frontend/src/graphql/template/fragment.fieldConfig.graphql
  apps/frontend/src/graphql/template/getDynamicMultipleChoiceOptions.graphql
  apps/frontend/src/hooks/template/useGetDynamicMultipleChoiceOptions.ts
Due: npm run lint:frontend, npm run lint:backend

chore: Separated express-jwt's error handler is implemented (#397)
  apps/backend/index.ts
  apps/backend/src/middlewares/exceptionHandler.spec.ts
  apps/backend/src/middlewares/exceptionHandler.ts
  apps/backend/src/middlewares/jwtErrorHandler.spec.ts
  apps/backend/src/middlewares/jwtErrorHandler.ts
Due: npm run lint:backend

build(packages): try to remove deprecated request package and use node fetch api instead
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/factory/service.ts
  apps/backend/src/factory/util.ts
Due: npm run lint:backend

remove fixed content-type
  apps/backend/src/factory/service.ts
Due: npm run lint:backend
