Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

deleted add quotes
  apps/e2e/cypress/e2e/generalFaps.cy.ts
Due: npm run lint:e2e

Fix: Fap proposal count
  apps/backend/src/datasources/postgres/FapDataSource.ts
Due: npm run lint:backend

feat: multiple chairs per fap
  apps/backend/db_patches/0154_MultipleFAPChair.sql
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/Fap.ts
  apps/backend/src/resolvers/types/Fap.ts
  apps/backend/src/statusActionEngine/statusActionUtils.ts
  apps/e2e/cypress/e2e/generalFaps.cy.ts
  apps/frontend/src/components/fap/Members/FapMembers.tsx
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/graphql/fap/fragment.fap.graphql
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

missed db query
  apps/backend/src/datasources/postgres/FapDataSource.ts
Due: npm run lint:backend

fix test
  apps/e2e/cypress/e2e/generalFaps.cy.ts
Due: npm run lint:e2e

Update 0151_MultipleFapPerProposal.sql
  apps/backend/db_patches/0151_MultipleFapPerProposal.sql
Due: none

fix: duplicate proposals in stfc inst sci page
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

modify fix to work without multiple instrument change
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

handle multiple reviews and fap meeting decisions
  apps/backend/db_patches/0154_HandleMultipleFapPerProposal.sql
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/ReviewDataSource.ts
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/datasources/postgres/ReviewDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/factory/pdf/proposal.ts
  apps/backend/src/factory/xlsx/proposal.ts
  apps/backend/src/models/FapMeetingDecision.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/backend/src/queries/FapQueries.ts
  apps/backend/src/queries/ReviewQueries.ts
  apps/backend/src/resolvers/mutations/FapMeetingDecisionMutation.ts
  apps/backend/src/resolvers/mutations/ReorderFapMeetingDecisionProposalsMutation.ts
  apps/backend/src/resolvers/types/FapMeetingDecision.ts
  apps/backend/src/resolvers/types/FapProposal.ts
  apps/backend/src/resolvers/types/Proposal.ts
  apps/frontend/src/components/fap/MeetingComponents/FapInstrumentProposalsTable.tsx
  apps/frontend/src/components/fap/MeetingComponents/FapMeetingInstrumentsTable.tsx
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/FapMeetingDecision.tsx
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/FapMeetingProposalViewModal.tsx
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/FinalRankingForm.tsx
  apps/frontend/src/components/fap/Proposals/FapAssignedReviewersTable.tsx
  apps/frontend/src/components/review/ProposalReviewContent.tsx
  apps/frontend/src/graphql/fap/fragment.fapMeetingDecision.graphql
  apps/frontend/src/graphql/fap/getFapProposal.graphql
  apps/frontend/src/graphql/fap/getFapProposalsByInstrument.graphql
  apps/frontend/src/graphql/proposal/fragment.proposal.graphql
  apps/frontend/src/hooks/fap/useFapProposalData.ts
Due: npm run lint:frontend, npm run lint:backend

fix: allow blank reviews on stfc fap export
  apps/backend/src/factory/xlsx/stfc/StfcFapDataRow.ts
Due: npm run lint:backend

fix proposal table name in select
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

improve auto fap assignment after instrument
  apps/backend/src/mutations/FapMutations.ts
Due: npm run lint:backend

use stack and update db patch
  apps/backend/db_patches/0154_MultipleFAPChair.sql
  apps/frontend/src/components/fap/Members/FapMembers.tsx
Due: npm run lint:frontend

fix known FAP issues and linting errors
  apps/backend/src/factory/xlsx/fap.ts
  apps/backend/src/mutations/InstrumentMutations.ts
  apps/backend/src/queries/ReviewQueries.spec.ts
  apps/backend/src/resolvers/queries/ReviewQuery.ts
  apps/backend/src/resolvers/types/Proposal.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/frontend/src/components/fap/MeetingComponents/FapInstrumentProposalsTable.tsx
  apps/frontend/src/components/fap/MeetingComponents/FapMeetingInstrumentsTable.tsx
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/FapMeetingDecision.tsx
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/FapMeetingProposalViewModal.tsx
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/FinalRankingForm.tsx
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/ProposalDetails.tsx
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/components/review/AssignTechnicalReview.tsx
  apps/frontend/src/components/review/ProposalReviewContent.tsx
  apps/frontend/src/graphql/review/getProposalReviews.graphql
  apps/frontend/src/utils/helperFunctions.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

remove some leftover commented code
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/factory/xlsx/proposal.ts
  apps/backend/src/models/ProposalView.ts
  apps/backend/src/resolvers/types/ProposalView.ts
  apps/frontend/src/utils/helperFunctions.tsx
Due: npm run lint:frontend, npm run lint:backend

fix: instrument filtering sql query
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

finetune multiple FAP handling inside FAPs
  apps/backend/db_patches/0154_HandleMultipleFapPerProposal.sql
  apps/backend/db_patches/0155_HandleMultipleFapPerProposal.sql
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
  apps/frontend/src/components/fap/MeetingComponents/FapInstrumentProposalsTable.tsx
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/ExternalReviews.tsx
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/FapMeetingDecision.tsx
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/FapMeetingProposalViewModal.tsx
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/TechnicalReviewInfo.tsx
  apps/frontend/src/components/review/ProposalReviewContent.tsx
  apps/frontend/src/graphql/fap/getFapProposal.graphql
Due: npm run lint:e2e, npm run lint:frontend

follow the right formula to calculate the instrument availability time per FAP
  apps/backend/src/datasources/postgres/InstrumentDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/frontend/src/index.css
Due: npm run lint:backend

changes for adding a new question type TIME_REQUESTED
  apps/backend/db_patches/0155_AddTimeRequestedDataType.sql
  apps/backend/db_patches/0156_AlterProposalsAddTimeRequestedColumn.sql
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/datasources/ProposalDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/Proposal.ts
  apps/backend/src/models/Template.ts
  apps/backend/src/models/questionTypes/QuestionRegistry.ts
  apps/backend/src/models/questionTypes/TimeRequested.ts
  apps/backend/src/mutations/ProposalMutations.ts
  apps/backend/src/resolvers/types/FieldConfig.ts
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/components/questionary/QuestionaryComponentRegistry.tsx
  apps/frontend/src/components/questionary/questionaryComponents/TimeRequested/QuestionTemplateRelationTimeRequestedForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/TimeRequested/QuestionTimeRequestedForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/TimeRequested/QuestionaryComponentTimeRequested.tsx
  apps/frontend/src/components/questionary/questionaryComponents/TimeRequested/TimeRequestedDefinition.tsx
  apps/frontend/src/components/questionary/questionaryComponents/TimeRequested/TimeRequestedSearchCriteriaComponent.tsx
  apps/frontend/src/graphql/template/fragment.fieldConfig.graphql
Due: npm run lint:frontend, npm run lint:backend

Make it clearer if you are editing a question or a template
  apps/frontend/src/components/questionary/questionaryComponents/Boolean/QuestionBooleanForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/Boolean/QuestionTemplateRelationBooleanForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/DatePicker/QuestionDateForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/DatePicker/QuestionTemplateRelationDateForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/DynamicMultipleChoice/QuestionDynamicMultipleChoiceForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/DynamicMultipleChoice/QuestionTemplateRelationDynamicMultipleChoiceForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/Embellishment/QuestionEmbellishmentForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/Embellishment/QuestionTemplateRelationEmbellishmentForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/FileUpload/QuestionFileUploadForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/FileUpload/QuestionTemplateRelationFileUploadForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/GenericTemplate/QuestionGenericTemplateForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/GenericTemplate/QuestionTemplateRelationGenericTemplateForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/QuestionInstrumentPickerForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/QuestionTemplateRelationInstrumentPickerForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/Interval/QuestionIntervalForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/Interval/QuestionTemplateRelationIntervalForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/MultipleChoice/QuestionMultipleChoiceForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/MultipleChoice/QuestionTemplateRelationMultipleChoiceForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/NumberInput/QuestionNumberInputForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/NumberInput/QuestionTemplateRelationNumberInputForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/RichTextInput/QuestionRichTextInputForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/RichTextInput/QuestionTemplateRelationRichTextInputForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/SampleDeclaration/QuestionSampleDeclarationForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/SampleDeclaration/QuestionTemplateRelationSampleDeclarationForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/TextInput/QuestionTemplateRelationTextInputForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/TextInput/QuestionTextInputForm.tsx
Due: npm run lint:frontend

resolving conflicts
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: none

Fix the generated deletion SQL field issue.
  apps/backend/db_patches/0148_CreateUpdateUserIdFunc.sql
Due: none

improve calculations and fix e2e tests
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/datasources/postgres/InstrumentDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/factory/xlsx/fap.ts
  apps/backend/src/models/Instrument.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e, npm run lint:backend

fix:add missing instrument picker information to proposal pdf download by API toke
  apps/backend/src/factory/pdf/proposal.ts
Due: npm run lint:backend

refactor: make fap data export view and clean up code
  apps/backend/db_patches/0156_CreateFAPProposalView.sql
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/factory/service.ts
  apps/backend/src/factory/xlsx/FapDataRow.ts
  apps/backend/src/factory/xlsx/fap.ts
  apps/backend/src/factory/xlsx/stfc/StfcFapDataRow.ts
  apps/backend/src/middlewares/factory/xlsx.ts
Due: npm run lint:backend

adding TIME_REQUESTED config mapping to question data type
  apps/backend/src/models/questionTypes/QuestionRegistry.ts
Due: npm run lint:backend

removing submit action rights from fap-chair and fap-secretary role
  apps/frontend/src/components/fap/MeetingComponents/FapMeetingInstrumentsTable.tsx
Due: npm run lint:frontend

add e2e tests that cover the new functionality
  apps/backend/src/datasources/postgres/InstrumentDataSource.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/frontend/src/components/review/ProposalGrade.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Change to general solution for labels
  apps/frontend/src/components/questionary/questionaryComponents/Boolean/QuestionBooleanForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/Boolean/QuestionTemplateRelationBooleanForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/DatePicker/QuestionDateForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/DatePicker/QuestionTemplateRelationDateForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/DynamicMultipleChoice/QuestionDynamicMultipleChoiceForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/DynamicMultipleChoice/QuestionTemplateRelationDynamicMultipleChoiceForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/Embellishment/QuestionEmbellishmentForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/Embellishment/QuestionTemplateRelationEmbellishmentForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/FileUpload/QuestionFileUploadForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/FileUpload/QuestionTemplateRelationFileUploadForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/GenericTemplate/QuestionGenericTemplateForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/GenericTemplate/QuestionTemplateRelationGenericTemplateForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/QuestionInstrumentPickerForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/QuestionTemplateRelationInstrumentPickerForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/Interval/QuestionIntervalForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/Interval/QuestionTemplateRelationIntervalForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/MultipleChoice/QuestionMultipleChoiceForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/MultipleChoice/QuestionTemplateRelationMultipleChoiceForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/NumberInput/QuestionNumberInputForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/NumberInput/QuestionTemplateRelationNumberInputForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/RichTextInput/QuestionRichTextInputForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/RichTextInput/QuestionTemplateRelationRichTextInputForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/SampleDeclaration/QuestionSampleDeclarationForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/SampleDeclaration/QuestionTemplateRelationSampleDeclarationForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/TextInput/QuestionTemplateRelationTextInputForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/TextInput/QuestionTextInputForm.tsx
  apps/frontend/src/components/template/QuestionTemplateLabel.tsx
Due: npm run lint:frontend

Remove import order errors
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/QuestionInstrumentPickerForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/QuestionTemplateRelationInstrumentPickerForm.tsx
Due: npm run lint:frontend

fix genericTemplate deletion error
  apps/frontend/src/components/proposal/ProposalContainer.tsx
  apps/frontend/src/models/questionary/useEventHandlers.ts
Due: npm run lint:frontend

fix genericTemplate deletion error (#582)
  apps/frontend/src/components/proposal/ProposalContainer.tsx
  apps/frontend/src/models/questionary/useEventHandlers.ts
Due: npm run lint:frontend

update workflow to include handling submitted proposals after callEnded
  apps/backend/src/eventHandlers/proposalWorkflow.ts
Due: npm run lint:backend

add endpoint to retry sending emails for submitted proposals
  apps/backend/src/eventHandlers/email/stfcEmailHandler.ts
  apps/backend/src/mutations/ProposalMutations.ts
  apps/backend/src/resolvers/mutations/SendProposalEventEmailMutation.ts
Due: npm run lint:backend

backend test for sendEventEmail mutation
  apps/backend/src/mutations/ProposalMutations.spec.ts
Due: npm run lint:backend

Path conditions:
  npm run lint:e2e: any of: apps/e2e/**/*.{js,ts,jsx,tsx}
  npm run lint:frontend: any of: apps/frontend/**/*.{js,ts,jsx,tsx}
  npm run lint:backend: any of: apps/backend/**/*.{js,ts,jsx,tsx}
