Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

test on runner
  .github/workflows/test-build.yml
Due: none

fix: install jq in test-build workflow
  .github/workflows/test-build.yml
Due: none

fix: update package index and install jq in test-build workflow
  .github/workflows/test-build.yml
Due: none

fix: update container image to ubuntu-github in test-build workflow
  .github/workflows/test-build.yml
Due: none

fix: update container image to use version 1.0 in test-build workflow
  .github/workflows/test-build.yml
Due: none

fix: remove jq installation step from test-build workflow
  .github/workflows/test-build.yml
Due: none

fix: remove container image specification from multiple jobs in test-build workflow
  .github/workflows/test-build.yml
Due: none

update test and tabs
  apps/backend/db_patches/0166_UpdateWhichCommentOnReviewProposalView.sql
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

Fix comments not updating
  apps/frontend/src/components/xpress/ProposalScientistComment.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

feat: add xpress instrument scientist comment (#842)
  apps/backend/db_patches/0166_AddProposalInternalComments.sql
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/config/Tokens.ts
  apps/backend/src/config/dependencyConfigDefault.ts
  apps/backend/src/config/dependencyConfigE2E.ts
  apps/backend/src/config/dependencyConfigELI.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/datasources/ProposalInternalCommentsDataSource.ts
  apps/backend/src/datasources/mockups/ProposalInternalCommentsDataSource.ts
  apps/backend/src/datasources/postgres/ProposalInternalCommentsDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/ProposalInternalComment.ts
  apps/backend/src/mutations/ProposalMutations.ts
  apps/backend/src/queries/ProposalQueries.spec.ts
  apps/backend/src/queries/ProposalQueries.ts
  apps/backend/src/resolvers/mutations/CreateProposalScientistCommentMutation.ts
  apps/backend/src/resolvers/mutations/DeleteProposalScientistCommentMutation.ts
  apps/backend/src/resolvers/mutations/UpdateProposalScientistCommentMutation.ts
  apps/backend/src/resolvers/queries/ProposalsViewQuery.ts
  apps/backend/src/resolvers/types/ProposalInternalComment.ts
  apps/backend/src/resolvers/types/ProposalView.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/xpress.cy.ts
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/components/xpress/ProposalScientistComment.tsx
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
  apps/frontend/src/graphql/proposal/createProposalScientistComment.graphql
  apps/frontend/src/graphql/proposal/deleteProposalScientistComment.graphql
  apps/frontend/src/graphql/proposal/getProposalScientistComment.graphql
  apps/frontend/src/graphql/proposal/updateProposalScientistComment.graphql
  apps/frontend/src/hooks/proposal/useProposalScientistCommentData.ts
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

improves answer variable names
  apps/frontend/src/models/questionary/QuestionarySubmissionState.ts
Due: npm run lint:frontend

Make the select all proposals visible always
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Block Xpress propsals from being listed in main page
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
Due: npm run lint:backend

Correct the coloumn spacing
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Fix Date filter issue
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

show the current instrument at the top of the dropdown
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Correct invalid date
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

Remove logs tab from info
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

remove commented code
  apps/backend/src/datasources/postgres/GenericTemplateDataSource.ts
  apps/frontend/src/components/questionary/questionaryComponents/GenericTemplate/GenericTemplateSelectModalOnCopy.tsx
Due: npm run lint:frontend, npm run lint:backend

Not to show instrument when it fails
  apps/frontend/src/components/xpress/XpressProposalTable.tsx
Due: npm run lint:frontend

feat: send instrument selection events to RabbitMQ
  apps/backend/src/eventHandlers/messageBroker.ts
Due: npm run lint:backend

fix: update container images to use custom registry in docker-compose.e2e.yml
  apps/backend/docker-compose.e2e.yml
Due: none

fix: update container images to use custom registry in docker-compose.yml
  apps/backend/docker-compose.yml
Due: none

fix: remove caching steps and restore cache for node_modules and SDK in test-build workflow
  .github/workflows/test-build.yml
Due: none

fix: add SDK generation step in test-build workflow
  .github/workflows/test-build.yml
Due: none

fix: streamline SDK generation and artifact handling in test-build workflow
  .github/workflows/test-build.yml
Due: none

fix: remove outdated user-office-factory directory before cloning in test-build workflow
  .github/workflows/test-build.yml
Due: none

fix: update SQL logic for instrument picker answers to use LEFT JOIN for multiple select configuration
  apps/backend/db_patches/0158_UpdateOldInstrumentPickerAnswers.sql
Due: none

update e2e test
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

perf: cut down on number requests in proposalSummary page (#878)
  apps/frontend/src/components/proposal/ProposalSummary.tsx
  apps/frontend/src/graphql/call/getCallSubmissionDetails.graphql
Due: npm run lint:frontend

feat: add stfc proposals auth
  apps/backend/src/auth/EsiAuthorization.ts
  apps/backend/src/auth/GenericTemplateAuthorization.ts
  apps/backend/src/auth/ProposalAuthorization.ts
  apps/backend/src/auth/ReviewAuthorization.ts
  apps/backend/src/auth/SampleAuthorization.ts
  apps/backend/src/auth/ShipmentAuthorization.ts
  apps/backend/src/auth/StfcProposalAuthorization.ts
  apps/backend/src/auth/TechnicalReviewAuthorization.ts
  apps/backend/src/auth/VisitAuthorization.ts
  apps/backend/src/auth/questionary/GenericTemplateQuestionaryAuthorizer.ts
  apps/backend/src/auth/questionary/ProposalQuestionaryAuthorizer.ts
  apps/backend/src/auth/questionary/SampleDeclarationQuestionaryAuthorizer.ts
  apps/backend/src/auth/questionary/ShipmentDeclarationQuestionaryAuthorizer.ts
  apps/backend/src/config/Tokens.ts
  apps/backend/src/config/dependencyConfigDefault.ts
  apps/backend/src/config/dependencyConfigE2E.ts
  apps/backend/src/config/dependencyConfigELI.ts
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/backend/src/mutations/GenericTemplateMutations.ts
  apps/backend/src/mutations/ProposalEsiMutations.ts
  apps/backend/src/mutations/ProposalMutations.ts
  apps/backend/src/mutations/SampleMutations.ts
  apps/backend/src/mutations/ShipmentMutations.ts
  apps/backend/src/mutations/VisitMutations.ts
  apps/backend/src/queries/ProposalQueries.ts
  apps/backend/src/queries/ReviewQueries.ts
Due: npm run lint:backend

#1024: Xpress email
  apps/backend/src/eventHandlers/MailService/SMTPMailService.ts
  apps/backend/src/statusActionEngine/emailActionHandler.ts
  apps/backend/src/statusActionEngine/statusActionUtils.ts
Due: npm run lint:backend

Path conditions:
  npm run lint:e2e: any of: apps/e2e/**/*.{js,ts,jsx,tsx}
  npm run lint:frontend: any of: apps/frontend/**/*.{js,ts,jsx,tsx}
  npm run lint:backend: any of: apps/backend/**/*.{js,ts,jsx,tsx}
