Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Fix more test
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/instruments.cy.ts
  apps/e2e/cypress/e2e/settings.cy.ts
Due: npm run lint:e2e

Fix setting test
  apps/e2e/cypress/e2e/settings.cy.ts
Due: npm run lint:e2e

fix settings test again
  apps/e2e/cypress/e2e/settings.cy.ts
Due: npm run lint:e2e

replace axios with node fetch api
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/queries/TemplateQueries.spec.ts
  apps/backend/src/queries/TemplateQueries.ts
  apps/backend/src/services/assetRegistrar/eam/utils/performApiRequest.ts
Due: npm run lint:backend

Fixed test case.
  apps/e2e/cypress/e2e/pdfTemplates.cy.ts
  apps/frontend/src/components/template/PdfTemplateDefaultData.tsx
Due: npm run lint:e2e, npm run lint:frontend

Put back mockserver
  apps/backend/docker-compose-stfc.e2e.yml
Due: none

dont open browser in docker
  apps/frontend/package.json
Due: none

feat: enable instrument picker as a dependency question
  apps/frontend/src/components/common/FormikUICustomDependencySelector.tsx
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/QuestionaryComponentInstrumentPicker.tsx
  apps/frontend/src/components/questionary/questionaryComponents/QuestionDependencyList.tsx
Due: npm run lint:frontend

test(e2e): add instrument picker dependency test and fix failing tests
  apps/e2e/cypress/e2e/templatesBasic.cy.ts
  apps/e2e/cypress/support/initialDBData.ts
  apps/frontend/src/components/common/FormikUICustomDependencySelector.tsx
Due: npm run lint:e2e, npm run lint:frontend

Updating QuestionTemplateRelationEmbellishmentForm
  apps/frontend/src/components/questionary/questionaryComponents/Embellishment/QuestionTemplateRelationEmbellishmentForm.tsx
Due: npm run lint:frontend

Fix
  apps/frontend/src/components/questionary/questionaryComponents/Embellishment/QuestionEmbellishmentForm.tsx
Due: npm run lint:frontend

Enabling interaction with embellishment pop up windows (#441)
  apps/frontend/src/components/questionary/questionaryComponents/Embellishment/QuestionEmbellishmentForm.tsx
  apps/frontend/src/components/questionary/questionaryComponents/Embellishment/QuestionTemplateRelationEmbellishmentForm.tsx
Due: npm run lint:frontend

fix: opening assigned FAP on a proposal after closing proposal view modal and improve menu drawer re-opening on tablet/mobile view when switched from desktop
  apps/frontend/src/components/DashBoard.tsx
  apps/frontend/src/components/call/AssignInstrumentsToCall.tsx
  apps/frontend/src/components/call/AssignedInstrumentsTable.tsx
  apps/frontend/src/components/call/CallReviewsInfo.tsx
  apps/frontend/src/components/fap/FapsTable.tsx
  apps/frontend/src/components/fap/Proposals/AssignProposalsToFap.tsx
  apps/frontend/src/hooks/fap/useFapsData.ts
  apps/frontend/src/utils/helperFunctions.tsx
Due: npm run lint:frontend

integrating graphql dataloader in proposal backend
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/buildContext.ts
  apps/backend/src/context/index.ts
  apps/backend/src/datasources/UserDataSource.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/backend/src/loaders/UsersLoader.ts
  apps/backend/src/resolvers/types/ProposalView.ts
Due: npm run lint:backend

Increase review box char limit
  apps/frontend/src/components/review/ProposalGrade.tsx
Due: npm run lint:frontend

feat: enable instrument picker as a dependency question (#459)
  apps/e2e/cypress/e2e/templatesBasic.cy.ts
  apps/e2e/cypress/support/initialDBData.ts
  apps/frontend/src/components/common/FormikUICustomDependencySelector.tsx
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/QuestionaryComponentInstrumentPicker.tsx
  apps/frontend/src/components/questionary/questionaryComponents/QuestionDependencyList.tsx
Due: npm run lint:e2e, npm run lint:frontend

Refactor: Remove assigning reviewer as reviewer
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
Due: npm run lint:frontend

Fix template tests
  apps/e2e/cypress/e2e/templatesBasic.cy.ts
Due: npm run lint:e2e

feat: try to remove sdk caching as it causes issues when running the workflows
  .github/workflows/test-build.yml
Due: none

try to cache generated sdk but do not skip the generation step
  .github/workflows/test-build.yml
Due: none

use global random sdk cache key
  .github/workflows/test-build.yml
Due: none

use unique cache key for every attempt and run
  .github/workflows/test-build.yml
Due: none

update duo-validation version
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: none

changed test db scientist user name
  apps/backend/db_patches/db_seeds/0002_InstrumentScientiests.sql
Due: none

feat: add call information in email sending data
  apps/backend/src/eventHandlers/email/essEmailHandler.ts
  apps/backend/src/workflowEngine/index.ts
Due: npm run lint:backend

Remove missed SEPs refs and Login with user label
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/calls.cy.ts
  apps/e2e/cypress/e2e/generalFaps.cy.ts
  apps/e2e/cypress/e2e/genericTemplates.cy.ts
  apps/e2e/cypress/e2e/instruments.cy.ts
  apps/e2e/cypress/e2e/mobileViews.cy.ts
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/e2e/cypress/e2e/samples.cy.ts
  apps/e2e/cypress/e2e/settings.cy.ts
  apps/e2e/cypress/e2e/templatesAdvanced.cy.ts
  apps/e2e/cypress/e2e/templatesBasic.cy.ts
Due: npm run lint:e2e

fix review comments
  apps/backend/src/eventHandlers/MailService/EmailSettings.ts
Due: npm run lint:backend

use capitalcase method inside fetch request
  apps/backend/src/services/assetRegistrar/eam/utils/performApiRequest.ts
Due: npm run lint:backend

feat: cache the frontend sdk per each run and attempt only to reduce the issues related to it in the actions (#463)
  .github/workflows/test-build.yml
Due: none

refactor: try to use react lazy load for performance improvement (#451)
  apps/frontend/src/components/DashBoard.tsx
  apps/frontend/src/components/common/FormikUICustomEditor.tsx
  apps/frontend/src/components/common/TinyEditor.tsx
  apps/frontend/src/components/fap/FapGradeGuide.tsx
  apps/frontend/src/components/fap/MeetingComponents/ProposalViewModal/FinalRankingForm.tsx
  apps/frontend/src/components/internalReview/CreateUpdateInternalReview.tsx
  apps/frontend/src/components/pages/PageInputBox.tsx
  apps/frontend/src/components/questionary/questionaryComponents/RichTextInput/QuestionaryComponentRichTextInput.tsx
  apps/frontend/src/components/review/ProposalGrade.tsx
  apps/frontend/src/components/review/ProposalTechnicalReview.tsx
Due: npm run lint:frontend

Change SEP to FAP
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

Fix prettier issues
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

Change STFC test flag
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

Change test to look at new proposal page
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

Split test in two
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

refactor(request package): replace request with node native fetch and create simple sparkpost client because node-sparkpost used request (#444)
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/eventHandlers/MailService/EmailSettings.ts
  apps/backend/src/eventHandlers/MailService/MailService.ts
  apps/backend/src/eventHandlers/MailService/SMTPMailService.ts
  apps/backend/src/eventHandlers/MailService/SkipSendMailService.ts
  apps/backend/src/eventHandlers/MailService/SparkPost.ts
  apps/backend/src/eventHandlers/MailService/SparkPostMailService.ts
  apps/backend/src/factory/service.ts
  apps/backend/src/factory/util.ts
  apps/backend/src/queries/TemplateQueries.spec.ts
  apps/backend/src/queries/TemplateQueries.ts
  apps/backend/src/services/assetRegistrar/eam/utils/performApiRequest.ts
  apps/frontend/src/components/call/AssignInstrumentsToCall.tsx
  apps/frontend/src/components/call/AssignedInstrumentsTable.tsx
  apps/frontend/src/context/DownloadContextProvider.tsx
  apps/frontend/src/hooks/fap/useDownloadXLSXFap.ts
Due: npm run lint:frontend, npm run lint:backend

feat: start introducing multiple instruments per proposal
  apps/backend/db_patches/0146_MultiInstrumentPerProposal.sql
  apps/backend/src/auth/ProposalAuthorization.ts
  apps/backend/src/auth/TechnicalReviewAuthorization.ts
  apps/backend/src/datasources/ReviewDataSource.ts
  apps/backend/src/datasources/postgres/ReviewDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/factory/pdf/proposal.ts
  apps/backend/src/models/TechnicalReview.ts
  apps/backend/src/mutations/InstrumentMutations.ts
  apps/backend/src/mutations/ReviewMutations.ts
  apps/backend/src/queries/ProposalQueries.ts
  apps/backend/src/queries/ReviewQueries.ts
  apps/backend/src/resolvers/mutations/AddTechnicalReviewMutation.ts
  apps/backend/src/resolvers/mutations/SubmitTechnicalReviewMutation.ts
  apps/backend/src/resolvers/types/Proposal.ts
  apps/backend/src/resolvers/types/TechnicalReview.ts
  apps/frontend/src/components/review/ProposalReviewContent.tsx
  apps/frontend/src/components/review/ProposalTechnicalReview.tsx
  apps/frontend/src/graphql/fap/getFapProposal.graphql
  apps/frontend/src/graphql/fap/getFapProposalsByInstrument.graphql
  apps/frontend/src/graphql/proposal/cloneProposals.graphql
  apps/frontend/src/graphql/proposal/fragment.coreTechnicalReview.graphql
  apps/frontend/src/graphql/proposal/getProposal.graphql
  apps/frontend/src/graphql/proposal/getProposals.graphql
  apps/frontend/src/graphql/review/addTechnicalReview.graphql
Due: npm run lint:frontend, npm run lint:backend

introduce arrays for many to many proposal view table columns
  apps/backend/db_patches/0146_MultiInstrumentPerProposal.sql
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/ProposalView.ts
  apps/backend/src/resolvers/mutations/SubmitTechnicalReviewMutation.ts
  apps/backend/src/resolvers/types/ProposalView.ts
  apps/frontend/src/components/review/ProposalReviewContent.tsx
  apps/frontend/src/graphql/proposal/getInstrumentScientistProposals.graphql
  apps/frontend/src/graphql/proposal/getProposalsCore.graphql
  apps/frontend/src/graphql/review/addTechnicalReview.graphql
Due: npm run lint:frontend, npm run lint:backend

handle multiple instruments and technical reviews even better
  apps/backend/src/datasources/InstrumentDataSource.ts
  apps/backend/src/datasources/ReviewDataSource.ts
  apps/backend/src/datasources/postgres/InstrumentDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/ReviewDataSource.ts
  apps/backend/src/mutations/InstrumentMutations.ts
  apps/backend/src/resolvers/mutations/AssignProposalsToInstrumentMutation.ts
  apps/backend/src/resolvers/types/Proposal.ts
  apps/backend/src/resolvers/types/ProposalView.ts
  apps/frontend/src/components/common/FormikUIAutocomplete.tsx
  apps/frontend/src/components/fap/Proposals/AssignProposalsToFap.tsx
  apps/frontend/src/components/instrument/AssignProposalsToInstrument.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/components/review/ProposalTechnicalReview.tsx
  apps/frontend/src/graphql/fap/getFapProposal.graphql
  apps/frontend/src/graphql/instrument/assignProposalsToInstrument.graphql
  apps/frontend/src/graphql/proposal/cloneProposals.graphql
  apps/frontend/src/graphql/proposal/getProposal.graphql
  apps/frontend/src/graphql/proposal/getProposals.graphql
  apps/frontend/src/graphql/proposalBooking/getUserProposalBookingsWithEvents.graphql
  apps/frontend/src/graphql/review/userWithReviews.graphql
  apps/frontend/src/graphql/scheduledEvent/getScheduledEventsCore.graphql
  apps/frontend/src/graphql/visit/createVisit.graphql
  apps/frontend/src/graphql/visit/getVisit.graphql
  apps/frontend/src/graphql/visit/getVisits.graphql
  apps/frontend/src/graphql/visit/updateVisit.graphql
  apps/frontend/src/hooks/proposal/useProposalsCoreData.ts
  apps/frontend/src/utils/helperFunctions.tsx
Due: npm run lint:frontend, npm run lint:backend

fix: opening assigned FAP on a proposal after closing proposal view modal and improve menu drawer re-opening on tablet/mobile view when switched from desktop (#460)
  apps/frontend/src/components/DashBoard.tsx
  apps/frontend/src/components/call/AssignInstrumentsToCall.tsx
  apps/frontend/src/components/call/AssignedInstrumentsTable.tsx
  apps/frontend/src/components/call/CallReviewsInfo.tsx
  apps/frontend/src/components/fap/FapsTable.tsx
  apps/frontend/src/components/fap/Proposals/AssignProposalsToFap.tsx
  apps/frontend/src/hooks/fap/useFapsData.ts
  apps/frontend/src/utils/helperFunctions.tsx
Due: npm run lint:frontend

Path conditions:
  npm run lint:e2e: any of: apps/e2e/**/*.{js,ts,jsx,tsx}
  npm run lint:frontend: any of: apps/frontend/**/*.{js,ts,jsx,tsx}
  npm run lint:backend: any of: apps/backend/**/*.{js,ts,jsx,tsx}
