Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

.lintstagedrc.json:

{
  "apps/e2e/**/*.{js,ts,jsx,tsx}": ["npm run lint:e2e"],
  "apps/frontend/**/*.{js,ts,jsx,tsx}": ["npm run lint:frontend"],
  "apps/backend/**/*.{js,ts,jsx,tsx}": ["npm run lint:backend"]
}

increse timeout on failing test
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
Due: npm run lint:e2e

Comment out failing check open issue to fix
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
Due: npm run lint:e2e

DB patch - added ror_id and droped verified in institution table
  apps/backend/db_patches/0148_AddRorIdToInstitutions.sql
Due: none

Feature: Login FAP members with highest role
  apps/backend/src/mutations/UserMutations.ts
Due: npm run lint:backend

chore: update README.md with contributing guidelines
  README.md
Due: none

Create new institution record if user’s institution not found in the DB
  apps/backend/src/auth/OAuthAuthorization.ts
  apps/backend/src/datasources/AdminDataSource.ts
  apps/backend/src/datasources/mockups/AdminDataSource.ts
  apps/backend/src/datasources/postgres/AdminDataSource.ts
  apps/backend/src/mutations/AdminMutations.spec.ts
Due: npm run lint:backend

feat: improve UI and make proposal management decision work with multiple instruments
  apps/backend/db_patches/0146_MultiInstrumentPerProposal.sql
  apps/backend/src/datasources/InstrumentDataSource.ts
  apps/backend/src/datasources/mockups/InstrumentDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/InstrumentDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/ReviewDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/eventHandlers/messageBroker.ts
  apps/backend/src/models/Instrument.ts
  apps/backend/src/models/Proposal.ts
  apps/backend/src/models/ProposalView.ts
  apps/backend/src/mutations/InstrumentMutations.ts
  apps/backend/src/mutations/ProposalMutations.spec.ts
  apps/backend/src/mutations/ProposalMutations.ts
  apps/backend/src/populate/index.ts
  apps/backend/src/queries/InstrumentQueries.ts
  apps/backend/src/resolvers/mutations/AdministrationProposalMutation.ts
  apps/backend/src/resolvers/types/Instrument.ts
  apps/backend/src/resolvers/types/Proposal.ts
  apps/backend/src/resolvers/types/ProposalView.ts
  apps/e2e/cypress/e2e/experiments.cy.ts
  apps/e2e/cypress/e2e/proposalEsi.cy.ts
  apps/e2e/cypress/e2e/shipments.cy.ts
  apps/e2e/cypress/e2e/visits.cy.ts
  apps/frontend/src/components/proposal/ProposalAdmin.tsx
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/proposal/ProposalTableOfficer.tsx
  apps/frontend/src/components/review/ProposalReviewContent.tsx
  apps/frontend/src/graphql/proposal/administrationProposal.graphql
  apps/frontend/src/graphql/proposal/fragment.proposal.graphql
  apps/frontend/src/graphql/proposal/getProposal.graphql
  apps/frontend/src/graphql/proposal/getProposalsCore.graphql
  apps/frontend/src/graphql/scheduledEvent/getScheduledEventsCore.graphql
  apps/frontend/src/utils/helperFunctions.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

log in as user
  apps/e2e/cypress/e2e/internalReviews.cy.ts
Due: npm run lint:e2e

fix the broken db patch
  apps/backend/db_patches/0146_MultiInstrumentPerProposal.sql
Due: none

test: update 2024_proposal_fixture.pdf file
  apps/e2e/cypress/fixtures/2024_proposal_fixture.pdf
Due: none

test: update 2024_proposal_fixture.pdf file (#518)
  apps/e2e/cypress/fixtures/2024_proposal_fixture.pdf
Due: none

Revert "Comment out failing check open issue to fix"
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
Due: npm run lint:e2e

Revert "increse timeout on failing test"
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
Due: npm run lint:e2e

start fixing e2e tests
  apps/e2e/cypress/e2e/predefinedMessages.cy.ts
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
  apps/frontend/src/components/common/predefinedMessages/PredefinedMessagesModal.tsx
  apps/frontend/src/components/proposal/ProposalAdmin.tsx
Due: npm run lint:e2e, npm run lint:frontend

fix some more e2e tests
  apps/e2e/cypress/e2e/instruments.cy.ts
Due: npm run lint:e2e

chore: update README.md with contributing guidelines (#517)
  README.md
Due: none

feat: add institution to the User object as it exists in BasicUserInfo
  apps/backend/src/datasources/mockups/UserDataSource.ts
  apps/backend/src/datasources/postgres/UserDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/backend/src/models/User.ts
Due: npm run lint:backend

#227: Add new proposal Db to merge user tool
  apps/backend/db_patches/0140_CreateUpdateUserIdFunc.sql
  apps/backend/db_patches/0148_CreateUpdateUserIdFunc.sql
Due: none

changed institutions type and removed create institution button
  apps/backend/src/datasources/UserDataSource.ts
  apps/backend/src/datasources/mockups/UserDataSource.ts
  apps/backend/src/datasources/postgres/UserDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/backend/src/models/Institution.ts
  apps/backend/src/mutations/AdminMutations.ts
  apps/backend/src/resolvers/mutations/CreateInstitutionsMutation.ts
  apps/backend/src/resolvers/mutations/UpdateInstitutionsMutation.ts
  apps/backend/src/resolvers/queries/InstitutionsQuery.ts
  apps/backend/src/resolvers/types/Institution.ts
  apps/frontend/src/components/institution/CreateUpdateInstitution.tsx
  apps/frontend/src/components/institution/InstitutionTable.tsx
  apps/frontend/src/graphql/admin/createInstitution.graphql
  apps/frontend/src/graphql/admin/deleteInstitution.graphql
  apps/frontend/src/graphql/admin/getInstitutions.graphql
  apps/frontend/src/graphql/admin/getInstitutionsWithCountry.graphql
  apps/frontend/src/graphql/admin/mergeInstitutions.graphql
  apps/frontend/src/graphql/admin/updateInstitution.graphql
Due: npm run lint:frontend, npm run lint:backend

fixed e2e test
  apps/backend/src/auth/OAuthAuthorization.ts
  apps/e2e/cypress/e2e/institutions.cy.ts
  apps/frontend/src/components/institution/InstitutionTable.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

perf: set connection pool recommended min
  apps/backend/src/datasources/postgres/database.ts
Due: npm run lint:backend

feat: add institution to the User object as it exists in BasicUserInfo (#519)
  apps/backend/src/datasources/mockups/UserDataSource.ts
  apps/backend/src/datasources/postgres/UserDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/backend/src/models/User.ts
Due: npm run lint:backend

#227: Add new proposal Db to merge user tool
  apps/backend/db_patches/0148_CreateUpdateUserIdFunc.sql
Due: none

trying calling parent constructor
  apps/backend/src/datasources/stfc/StfcFapDataSource.ts
Due: npm run lint:backend

wip add mass assigning reviews in backend
  .vscode/launch.json
  apps/backend/src/datasources/postgres/FapDataSource.ts
Due: npm run lint:backend

Use the rank a bit
  apps/backend/src/datasources/postgres/ReviewDataSource.ts
  apps/frontend/src/components/fap/Proposals/FapAssignedReviewersTable.tsx
Due: npm run lint:frontend, npm run lint:backend

removes unnecessary where in call filter, changes title of proposals assignment column
  apps/backend/src/datasources/postgres/CallDataSource.ts
  apps/frontend/src/components/fap/Members/FapMembers.tsx
Due: npm run lint:frontend, npm run lint:backend

address some of the review comments
  apps/backend/src/datasources/ProposalDataSource.ts
  apps/backend/src/datasources/mockups/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/InstrumentDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/eventHandlers/messageBroker.ts
  apps/backend/src/factory/pdf/shipmentLabel.ts
  apps/backend/src/factory/xlsx/proposal.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/backend/src/mutations/InstrumentMutations.ts
Due: npm run lint:backend

Clean up typos and defunct arg
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/mockups/FapDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/backend/src/resolvers/types/Fap.ts
  apps/frontend/src/components/fap/Members/FapMembers.tsx
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/graphql/fap/fragment.fap.graphql
Due: npm run lint:frontend, npm run lint:backend

Update docker-compose.yml for frontend (#484)
  docker-compose.yml
Due: none

Update remaining scientific evaluation panel messages
  apps/backend/src/mutations/FapMutations.ts
  apps/e2e/cypress/e2e/generalFaps.cy.ts
Due: npm run lint:e2e, npm run lint:backend

Create new country record if country is not found
  apps/backend/src/auth/OAuthAuthorization.ts
  apps/backend/src/datasources/AdminDataSource.ts
  apps/backend/src/datasources/postgres/AdminDataSource.ts
Due: npm run lint:backend

added missing AdminDataSource mockups function
  apps/backend/src/datasources/mockups/AdminDataSource.ts
Due: npm run lint:backend

minor fix for getCountry condition
  apps/backend/src/auth/OAuthAuthorization.ts
Due: npm run lint:backend

Update docker-compose.yml
  docker-compose.yml
Due: none

continue fixing review comments and testing
  apps/backend/db_patches/0146_MultiInstrumentPerProposal.sql
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/mutations/InstrumentMutations.ts
  apps/e2e/cypress/e2e/experiments.cy.ts
  apps/e2e/cypress/e2e/proposalEsi.cy.ts
  apps/e2e/cypress/e2e/shipments.cy.ts
  apps/e2e/cypress/e2e/visits.cy.ts
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

refactor: alter log level when no instruments in call
  apps/backend/src/eventHandlers/email/stfcEmailHandler.ts
Due: npm run lint:backend

fix the instruments has proposals type and add unit test for multiple instrument on the backend
  apps/backend/src/datasources/InstrumentDataSource.ts
  apps/backend/src/datasources/mockups/InstrumentDataSource.ts
  apps/backend/src/datasources/postgres/InstrumentDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/eventHandlers/logging.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/models/Instrument.ts
  apps/backend/src/mutations/InstrumentMutations.spec.ts
  apps/backend/src/mutations/InstrumentMutations.ts
Due: npm run lint:backend

resolve more review comments and remove some todos after extensive testing
  apps/backend/src/mutations/InstrumentMutations.ts
  apps/backend/src/resolvers/types/ProposalView.ts
  apps/backend/src/statusActionEngine/statusActionUtils.ts
Due: npm run lint:backend

hide rank from reviewers
  apps/frontend/src/components/fap/Proposals/FapAssignedReviewersTable.tsx
  apps/frontend/src/components/fap/Proposals/RankInputModal.tsx
Due: npm run lint:frontend
