Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

.lintstagedrc.json:

{
  "apps/e2e/**/*.{js,ts,jsx,tsx}": ["npm run lint:e2e"],
  "apps/frontend/**/*.{js,ts,jsx,tsx}": ["npm run lint:frontend"],
  "apps/backend/**/*.{js,ts,jsx,tsx}": ["npm run lint:backend"]
}

Add missing label
  apps/frontend/src/components/call/CallsTable.tsx
Due: npm run lint:frontend

tweak ui
  apps/backend/src/mutations/WorkflowMutations.ts
  apps/frontend/src/components/settings/workflow/WorkflowEdge.tsx
Due: npm run lint:frontend, npm run lint:backend

fix: stfc lsf sci being unassigned from instruments
  apps/backend/src/auth/StfcUserAuthorization.ts
Due: npm run lint:backend

Fix tests again
  apps/e2e/cypress/e2e/pregeneratedPdfs.cy.ts
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
Due: npm run lint:e2e

fix tests
  apps/backend/src/mutations/WorkflowMutations.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/calls.cy.ts
  apps/e2e/cypress/e2e/proposals.cy.ts
  apps/e2e/cypress/e2e/settings.cy.ts
  apps/e2e/cypress/e2e/statusActions.cy.ts
  apps/e2e/cypress/e2e/techniqueProposals.cy.ts
  apps/e2e/cypress/support/workflow.ts
Due: npm run lint:e2e, npm run lint:backend

Fix api test
  apps/e2e/cypress/e2e/pregeneratedPdfs.cy.ts
Due: npm run lint:e2e

fix: hide delete button if DRAFT
  apps/frontend/src/components/settings/workflow/StatusNode.tsx
Due: npm run lint:frontend

fix: adding cypres tags and cleaning up formatting
  apps/frontend/src/components/settings/workflow/StatusNode.tsx
  apps/frontend/src/components/settings/workflow/WorkflowEdge.tsx
Due: npm run lint:frontend

Fix proposal ID filter download
  apps/backend/src/factory/pdf/proposal.ts
  apps/backend/src/middlewares/factory/factoryServices.ts
  apps/backend/src/middlewares/factory/pdf/download.ts
  apps/backend/src/middlewares/factory/zip.ts
  apps/e2e/cypress/e2e/pregeneratedPdfs.cy.ts
Due: npm run lint:e2e, npm run lint:backend

Attempt zip test fix
  apps/e2e/cypress/e2e/pregeneratedPdfs.cy.ts
Due: npm run lint:e2e

fixing e2e tests
  apps/e2e/cypress/e2e/settings.cy.ts
  apps/e2e/cypress/support/e2e.ts
  apps/e2e/cypress/support/initialDBData.ts
  apps/e2e/cypress/support/react-flow.ts
  apps/e2e/cypress/types/index.d.ts
  apps/e2e/cypress/types/react-flow.d.ts
  apps/frontend/src/components/settings/workflow/StatusNode.tsx
  apps/frontend/src/components/settings/workflow/StatusPicker.tsx
  apps/frontend/src/components/settings/workflow/WorkflowCanvas.tsx
  apps/frontend/src/components/settings/workflow/WorkflowEdge.tsx
Due: npm run lint:e2e, npm run lint:frontend

fix: add custom Knex query methods for escaped ILIKE queries and remove redundant escape function
  apps/backend/src/customTypes/index.d.ts
  apps/backend/src/datasources/postgres/UserDataSource.ts
  apps/backend/src/datasources/postgres/database.ts
  apps/backend/src/datasources/postgres/databaseExtensions.ts
  apps/frontend/src/components/proposal/InviteUser.tsx
Due: npm run lint:frontend, npm run lint:backend

fix: refactor ReactFlow drag-and-drop utilities and update proposal statuses in tests
  apps/e2e/cypress/e2e/settings.cy.ts
  apps/e2e/cypress/support/initialDBData.ts
  apps/e2e/cypress/support/react-flow.ts
  apps/e2e/cypress/support/workflow.ts
  apps/e2e/cypress/types/index.d.ts
  apps/e2e/cypress/types/react-flow.d.ts
  apps/e2e/cypress/types/workflow.d.ts
Due: npm run lint:e2e

Block senstive data from trace
  apps/backend/src/middlewares/tracing/tracing.ts
Due: npm run lint:backend

Mask tokens for logs
  apps/backend/src/config/stfc/configureSTFCWinstonLogger.ts
Due: npm run lint:backend

Mask tokens from traces
  apps/backend/src/middlewares/tracing/tracing.ts
Due: npm run lint:backend

Edit filter to include internal call ends
  apps/backend/src/datasources/postgres/CallDataSource.ts
Due: npm run lint:backend

Change tests to match new internal filter change
  apps/e2e/cypress/e2e/calls.cy.ts
Due: npm run lint:e2e

fix: update whereILikeEscaped and orWhereILikeEscaped methods to accept query parameter for improved query handling
  apps/backend/src/customTypes/index.d.ts
  apps/backend/src/datasources/postgres/UserDataSource.ts
  apps/backend/src/datasources/postgres/databaseExtensions.ts
Due: npm run lint:backend

feat(frontend): data access users (#1123)
  apps/backend/db_patches/0183_AddDataAccessUsersFeature.sql
  apps/backend/src/models/Feature.ts
  apps/backend/src/resolvers/queries/DataAccessUsersQuery.ts
  apps/frontend/src/components/common/UserManagementTable.tsx
  apps/frontend/src/components/proposal/DataAccessUsersModal.tsx
  apps/frontend/src/components/proposal/ProposalParticipants.tsx
  apps/frontend/src/components/proposal/ProposalTable.tsx
  apps/frontend/src/components/proposalBooking/CreateUpdateVisit.tsx
  apps/frontend/src/graphql/dataAccessUser/getDataAccessUsers.graphql
  apps/frontend/src/hooks/remoteUser/useDataAccessUsersData.ts
Due: npm run lint:frontend, npm run lint:backend

Context propagation for factory calls
  apps/backend/src/factory/DownloadService.ts
Due: npm run lint:backend

fix: instrument picker can be left blank when marked as required
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/QuestionaryComponentInstrumentPicker.tsx
Due: npm run lint:frontend

Fix review comments
  apps/backend/src/factory/DownloadService.ts
  apps/backend/src/middlewares/tracing/tracing.ts
Due: npm run lint:backend

Review comments fix
  apps/backend/src/datasources/mockups/UserDataSource.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
Due: npm run lint:backend

refactor: email template id obtaining (#1113)
  apps/backend/db_patches/0184_AddTemplateIdToInvites.sql
  apps/backend/src/asyncJobs/jobs/checkInviteReminderJob.spec.ts
  apps/backend/src/asyncJobs/jobs/checkInviteReminderJob.ts
  apps/backend/src/datasources/InviteDataSource.ts
  apps/backend/src/datasources/mockups/InviteDataSource.ts
  apps/backend/src/datasources/postgres/InviteDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/eventHandlers/email/eliEmailHandler.ts
  apps/backend/src/eventHandlers/email/essEmailHandler.spec.ts
  apps/backend/src/eventHandlers/email/essEmailHandler.ts
  apps/backend/src/models/Invite.ts
  apps/backend/src/mutations/InviteMutations.spec.ts
Due: npm run lint:backend

refactor: move stfc role assignments into proposal backend (#1081)
  apps/backend/src/auth/StfcUserAuthorization.ts
  apps/backend/src/auth/UserAuthorization.ts
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/datasources/postgres/InternalReviewDataSource.ts
  apps/backend/src/datasources/stfc/StfcFapDataSource.ts
  apps/backend/src/datasources/stfc/StfcInternalReviewDataSource.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/backend/src/mutations/FapMutations.spec.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/backend/src/resolvers/types/User.ts
Due: npm run lint:backend

feat: allow instrument scientists not assigned as a technical reviewer to add comments on reviewed proposals (#1108)
  apps/backend/db_patches/0183_EnableInstrumentsForMultipleTechReviews.sql
  apps/backend/db_patches/0184_AddMultipleTechReviewsEnabledToInstInPropsalTableView.sql
  apps/backend/src/datasources/mockups/InstrumentDataSource.ts
  apps/backend/src/datasources/postgres/InstrumentDataSource.ts
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/backend/src/models/Instrument.ts
  apps/backend/src/mutations/InstrumentMutations.spec.ts
  apps/backend/src/resolvers/mutations/CreateInstrumentMutation.ts
  apps/backend/src/resolvers/mutations/UpdateInstrumentMutation.ts
  apps/backend/src/resolvers/types/Instrument.ts
  apps/backend/src/resolvers/types/ProposalView.ts
  apps/e2e/cypress/e2e/instruments.cy.ts
  apps/frontend/src/components/instrument/CreateUpdateInstrument.tsx
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/components/review/ProposalReviewContent.tsx
  apps/frontend/src/components/review/TechnicalReviewSummary.tsx
  apps/frontend/src/graphql/instrument/createInstrument.graphql
  apps/frontend/src/graphql/instrument/instrument.fragment.graphql
  apps/frontend/src/graphql/instrument/updateInstrument.graphql
  apps/frontend/src/graphql/proposal/getInstrumentScientistProposals.graphql
  apps/frontend/src/graphql/proposal/getProposal.graphql
  apps/frontend/src/utils/helperFunctions.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Set default
  apps/backend/src/statusActionEngine/statusActionUtils.ts
Due: npm run lint:backend

fix: update graphql query to use previously unused input field excludeProposalStatusIds (#1136)
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
Due: npm run lint:backend

Add title mapping for users
  apps/backend/src/datasources/mockups/UserDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/backend/src/models/User.ts
  apps/backend/src/queries/UserQueries.ts
  apps/backend/src/statusActionEngine/statusActionUtils.ts
Due: npm run lint:backend

fix: cleanup unused code and functionality (#1129)
  apps/backend/api_tests/environment.json
  apps/backend/api_tests/tests.json
  apps/backend/package.json
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/datasources/CoProposerInviteDataSource.ts
  apps/backend/src/datasources/postgres/CoProposerInviteDataSource.ts
  apps/backend/src/models/CoProposerInvite.ts
  apps/backend/src/models/ProposalEvents.ts
  apps/backend/src/models/UserLinkResponse.ts
  apps/backend/src/populate/dummy.ts
  apps/backend/src/populate/executor.ts
  apps/backend/src/populate/index.ts
  apps/backend/src/resolvers/Decorators.ts
  apps/frontend/src/components/common/FormikUICustomEditor.tsx
  apps/frontend/src/components/pages/LoginHelpPage.tsx
  apps/frontend/src/components/questionary/questionaries/sample/SampleWizardStepFactory.ts
  apps/frontend/src/components/review/ProposalGrade.tsx
  apps/frontend/src/components/review/ProposalTechnicalReview.tsx
  apps/frontend/src/components/review/TechnicalReviewQuestionaryDetails.tsx
  apps/frontend/src/components/user/PhotoInSide.tsx
  apps/frontend/src/hooks/instrument/useInstrumentData.ts
  apps/frontend/src/hooks/template/useCreatableQuestions.ts
  apps/frontend/src/hooks/template/useTemplate.ts
  apps/frontend/src/hooks/user/useGetFields.ts
  apps/frontend/src/hooks/user/usePreviousCollaborators.ts
Due: npm run lint:frontend, npm run lint:backend

fix: only update questions that have been updated in answer topic (#1127)
  apps/backend/src/mutations/QuestionaryMutations.ts
Due: npm run lint:backend

fix: skip test if feature not enabled
  apps/e2e/cypress/e2e/proposals.cy.ts
Due: npm run lint:e2e

fix: test pr
  apps/backend/db_patches/0152_RemoveOAuthAccessToken.sql
Due: none
