Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

test: adding tests
  apps/backend/src/auth/VisitRegistrationAuthorization.ts
  apps/backend/src/mutations/VisitMutations.spec.ts
  apps/backend/src/mutations/VisitMutations.ts
Due: npm run lint:backend

fix: stop non user officers from editing custom grade guide (#972)
  apps/frontend/src/components/fap/FapGradeGuide.tsx
  apps/frontend/src/components/fap/General/FapGeneralInfo.tsx
Due: npm run lint:frontend

Add timeout
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

fix: resolve user ID in visit registration event handling
  apps/backend/src/eventHandlers/messageBroker.ts
Due: npm run lint:backend

test: adding e2e
  apps/e2e/cypress/e2e/visits.cy.ts
  apps/frontend/src/components/experiment/ExperimentVisitsTable.tsx
Due: npm run lint:e2e, npm run lint:frontend

Add debug statement to test
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

fix: remove the seed
  apps/backend/db_patches/db_seeds/0001_ProposalForScheduling.sql
Due: none

Update debugging
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

fix: reviewers shouldn't see other reviews (#949)
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/frontend/src/components/review/ProposalReviewContent.tsx
  apps/frontend/src/components/review/ProposalTableReviewer.tsx
Due: npm run lint:e2e, npm run lint:frontend

test: turn on tech review tests stfc mode and clean up only
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/e2e/cypress/e2e/genericTemplates.cy.ts
  apps/e2e/cypress/e2e/instruments.cy.ts
Due: npm run lint:e2e, npm run lint:backend

More debug statements
  apps/backend/src/factory/DownloadService.ts
  apps/backend/src/factory/pdf/proposal.ts
  apps/backend/src/factory/zip/attachment.ts
Due: npm run lint:backend

Adjust debugging
  apps/backend/src/factory/DownloadService.ts
  apps/backend/src/factory/pdf/proposal.ts
  apps/backend/src/factory/zip/attachment.ts
Due: npm run lint:backend

fix: remove unused training status and expiry date
  apps/backend/db_patches/0171_RemoveTrainingExpiryDate.sql
  apps/backend/src/datasources/mockups/VisitDataSource.ts
  apps/backend/src/datasources/postgres/VisitDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/VisitRegistration.ts
  apps/backend/src/mutations/VisitMutations.ts
  apps/backend/src/queries/VisitQueries.ts
  apps/backend/src/resolvers/mutations/UpdateVisitRegistrationMutation.ts
  apps/backend/src/resolvers/registerEnums.ts
  apps/backend/src/resolvers/types/VisitRegistration.ts
  apps/e2e/cypress/e2e/experiments.cy.ts
  apps/frontend/src/components/experiment/ExperimentVisitsTable.tsx
  apps/frontend/src/components/proposalBooking/UserUpcomingExperimentsTable.tsx
  apps/frontend/src/components/visit/CreateVisitRegistration.tsx
  apps/frontend/src/graphql/scheduledEvent/getScheduledEventsCore.graphql
  apps/frontend/src/graphql/visitRegistration/fragment.visitRegistration.graphql
  apps/frontend/src/graphql/visitRegistration/updateVisitRegistration.graphql
  apps/frontend/src/hooks/proposalBooking/useActionButtons.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Remove access to private comment for FAP Chair
  apps/backend/src/auth/TechnicalReviewAuthorization.ts
  apps/backend/src/mutations/ReviewMutations.ts
  apps/frontend/src/components/fap/Proposals/FapAssignedReviewersTable.tsx
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/components/review/ProposalReviewContent.tsx
  apps/frontend/src/components/review/ProposalTechnicalReview.tsx
Due: npm run lint:frontend, npm run lint:backend

Revert "Adjust debugging"
  apps/backend/src/factory/DownloadService.ts
  apps/backend/src/factory/pdf/proposal.ts
  apps/backend/src/factory/zip/attachment.ts
Due: npm run lint:backend

Change tests
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

More debugging
  apps/backend/src/factory/DownloadService.ts
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e, npm run lint:backend

Update tests
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

clean up code and allow secs to view comment when grading proposals
  apps/frontend/src/components/review/ProposalReviewContent.tsx
Due: npm run lint:frontend

Exclude stfc config
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

Fix test
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

rename variable
  apps/backend/src/auth/TechnicalReviewAuthorization.ts
Due: npm run lint:backend

wip
  apps/backend/db_patches/0171_DropTableQuestionHasTemplates.sql
  apps/backend/src/models/questionTypes/QuestionRegistry.ts
Due: npm run lint:backend

fix: remove unused reference
  apps/backend/src/mutations/VisitMutations.spec.ts
Due: npm run lint:backend

Remove only
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

Update test
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e

wip
  apps/backend/db_patches/0171_AddExperimentSafetyReviewTemplate.sql
Due: none

fix: adding cancel visit rregistartion mutation
  apps/backend/src/auth/VisitRegistrationAuthorization.ts
  apps/backend/src/eventHandlers/messageBroker.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/events/event.enum.ts
  apps/backend/src/mutations/VisitMutations.ts
  apps/backend/src/resolvers/mutations/CancelVisitRegistration.ts
Due: npm run lint:backend

fix: implementing frontend
  apps/backend/src/eventHandlers/email/essEmailHandler.ts
  apps/backend/src/mutations/VisitMutations.ts
  apps/backend/src/resolvers/mutations/CancelVisitRegistrationMutation.ts
  apps/frontend/src/components/experiment/ExperimentVisitsTable.tsx
  apps/frontend/src/components/visit/VisitStatusIcon.tsx
  apps/frontend/src/graphql/visitRegistration/cancelVisitRegistration.graphql
Due: npm run lint:frontend, npm run lint:backend

fix: adding cancel visit logging
  apps/backend/src/eventHandlers/logging.ts
Due: npm run lint:backend

test: turn on tech review tests stfc mode and clean up only (#982)
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/e2e/cypress/e2e/genericTemplates.cy.ts
  apps/e2e/cypress/e2e/instruments.cy.ts
Due: npm run lint:e2e, npm run lint:backend

fix: merge conflict resolve
  apps/backend/src/eventHandlers/messageBroker.ts
Due: npm run lint:backend

feat: add email notification button for experiment visits
  apps/frontend/src/components/experiment/ExperimentVisitsTable.tsx
Due: npm run lint:frontend

Fix test
  apps/backend/src/factory/DownloadService.ts
  apps/backend/src/factory/pdf/proposal.ts
  apps/backend/src/factory/zip/attachment.ts
  apps/e2e/cypress/e2e/xpress.cy.ts
Due: npm run lint:e2e, npm run lint:backend

fix: remove unused finish training action button references from visit tests
  apps/e2e/cypress/e2e/visits.cy.ts
Due: npm run lint:e2e

Rename query
  apps/frontend/src/graphql/proposal/getProposalsAttachments.graphql
Due: none

Path conditions:
  npm run lint:e2e: any of: apps/e2e/**/*.{js,ts,jsx,tsx}
  npm run lint:frontend: any of: apps/frontend/**/*.{js,ts,jsx,tsx}
  npm run lint:backend: any of: apps/backend/**/*.{js,ts,jsx,tsx}
