Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

.lintstagedrc.json:

{
  "apps/e2e/**/*.{js,ts,jsx,tsx}": ["npm run lint:e2e"],
  "apps/frontend/**/*.{js,ts,jsx,tsx}": ["npm run lint:frontend"],
  "apps/backend/**/*.{js,ts,jsx,tsx}": ["npm run lint:backend"]
}

improve how we update status action connections
  apps/backend/src/datasources/postgres/StatusActionsDataSource.ts
Due: npm run lint:backend

add status actions logs frontend client tables
  apps/frontend/src/components/AppRoutes.tsx
  apps/frontend/src/components/menu/MenuItems.tsx
  apps/frontend/src/components/statusActionsLogs/StatusActionsLogsPage.tsx
  apps/frontend/src/components/statusActionsLogs/StatusActionsLogsTable.tsx
  apps/frontend/src/graphql/statusActionsLogs/fragment.statusActionsLog.graphql
  apps/frontend/src/graphql/statusActionsLogs/getStatusActionsLogs.graphql
  apps/frontend/src/graphql/statusActionsLogs/replayStatusActionsLog.graphql
Due: npm run lint:frontend

fix: fix stfc email handler
  apps/backend/src/eventHandlers/email/stfcEmailHandler.ts
Due: npm run lint:backend

update sql file name
  apps/backend/db_patches/0161_AddStatusActionsLogsTables.sql
Due: none

chore: remove fapChairsProposalCounts and fapSecretariesProposalCounts
  apps/backend/src/resolvers/types/Fap.ts
  apps/frontend/src/graphql/fap/fragment.fap.graphql
Due: npm run lint:backend

remove status action logs with no proposals attacked from being returned
  apps/backend/src/datasources/postgres/StatusActionsLogsDataSource.ts
Due: npm run lint:backend

add await for publishing status action event and logging
  apps/backend/src/statusActionEngine/emailActionHandler.ts
  apps/backend/src/statusActionEngine/statusActionUtils.ts
Due: npm run lint:backend

Review comments fixes
  apps/backend/src/datasources/postgres/TechniqueDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/frontend/src/components/questionary/questionaryComponents/TechniquePicker/TechniquePickerDefinition.tsx
Due: npm run lint:frontend, npm run lint:backend

fix status actions log false positives
  apps/backend/src/statusActionEngine/emailActionHandler.ts
  apps/backend/src/statusActionEngine/statusActionUtils.ts
Due: npm run lint:backend

fix failing event log tests
  apps/e2e/cypress/e2e/eventLogs.cy.ts
Due: npm run lint:e2e

fix tab opened in test
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

fix failing status action tests
  apps/backend/src/statusActionEngine/emailActionHandler.ts
Due: npm run lint:backend

fix: fix stfc email handler (#708)
  apps/backend/src/eventHandlers/email/stfcEmailHandler.ts
Due: npm run lint:backend

fix all tests failing to find proposal logs tab
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/eventLogs.cy.ts
  apps/e2e/cypress/e2e/generalFaps.cy.ts
  apps/e2e/cypress/e2e/statusActions.cy.ts
Due: npm run lint:e2e

fix: sidebar menu selection optimised and fixed (#704)
  apps/e2e/cypress/e2e/dashboard.cy.ts
  apps/frontend/src/components/menu/MenuItems.tsx
  apps/frontend/src/components/menu/SettingsMenuListItem.tsx
  apps/frontend/src/components/menu/TemplateMenuListItem.tsx
  apps/frontend/src/index.css
Due: npm run lint:e2e, npm run lint:frontend

Added option to open a warning popup with the title as warning color.
  apps/frontend/src/components/common/StyledDialog.tsx
  apps/frontend/src/components/timeout/TimeOutPrompt.tsx
Due: npm run lint:frontend

fix more tests
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/eventLogs.cy.ts
Due: npm run lint:e2e

docs: user officer page guide information (#706)
  documentation/docs/assets/images/cookie_page.png
  documentation/docs/assets/images/faq_edit.png
  documentation/docs/assets/images/faq_notice.png
  documentation/docs/assets/images/faq_page.png
  documentation/docs/assets/images/feedback.png
  documentation/docs/assets/images/feedbacks_number.png
  documentation/docs/assets/images/privacy_edit.png
  documentation/docs/assets/images/privacy_page.png
  documentation/docs/assets/images/reviewer_edit.png
  documentation/docs/assets/images/reviewer_page.png
  documentation/docs/assets/images/user_homepage.png
  documentation/docs/assets/images/user_homepage_edit.png
  documentation/docs/faq.md
  documentation/docs/glossary.md
  documentation/docs/user-guide/user-officer/page.md
  documentation/docs/user-guide/user-officer/templates/feedback_template.md
  documentation/docs/user-guide/user-officer/templates/sub_template.md
Due: none

fix FAPS tests
  apps/e2e/cypress/e2e/FAPs.cy.ts
Due: npm run lint:e2e

add status action logs e2e tests
  apps/e2e/cypress/e2e/statusActions.cy.ts
  apps/frontend/src/components/statusActionsLogs/StatusActionsLogsTable.tsx
Due: npm run lint:e2e, npm run lint:frontend

fix failing instruments tests
  apps/e2e/cypress/e2e/instruments.cy.ts
Due: npm run lint:e2e

Add page for RabbitMQ, fix links, add ELI information, other minor tweaks
  documentation/docs/assets/images/ELI_logo.png
  documentation/docs/developer-guide/achitecture.md
  documentation/docs/developer-guide/configuration.md
  documentation/docs/developer-guide/documentation_changes.md
  documentation/docs/developer-guide/rabbitmq.md
  documentation/docs/developer-guide/running_locally.md
  documentation/docs/developer-guide/step-by-step.md
  documentation/docs/faq.md
  documentation/docs/glossary.md
  documentation/docs/index.md
  documentation/docs/quick_start.md
  documentation/mkdocs.yml
Due: none

Add page for RabbitMQ, fix links, add ELI information, other minor tweaks (#710)
  documentation/docs/assets/images/ELI_logo.png
  documentation/docs/developer-guide/achitecture.md
  documentation/docs/developer-guide/configuration.md
  documentation/docs/developer-guide/documentation_changes.md
  documentation/docs/developer-guide/rabbitmq.md
  documentation/docs/developer-guide/running_locally.md
  documentation/docs/developer-guide/step-by-step.md
  documentation/docs/faq.md
  documentation/docs/glossary.md
  documentation/docs/index.md
  documentation/docs/quick_start.md
  documentation/mkdocs.yml
Due: none

fix failing status action tests and remove only filter from faps tests
  apps/e2e/cypress/e2e/generalFaps.cy.ts
  apps/e2e/cypress/e2e/statusActions.cy.ts
Due: npm run lint:e2e

fix failing general faps tests
  apps/e2e/cypress/e2e/generalFaps.cy.ts
Due: npm run lint:e2e

fix: remove expired proposals for instrument scientists (#650)
  apps/backend/src/datasources/stfc/StfcProposalDataSource.ts
  apps/backend/src/resolvers/queries/ProposalsQuery.ts
  apps/frontend/src/components/common/proposalFilters/ProposalStatusFilter.tsx
  apps/frontend/src/components/proposal/ProposalFilterBar.tsx
  apps/frontend/src/components/proposal/ProposalPage.tsx
  apps/frontend/src/components/proposal/ProposalTableInstrumentScientist.tsx
  apps/frontend/src/hooks/proposal/useProposalsCoreData.ts
Due: npm run lint:frontend, npm run lint:backend

Fix/modify proposal tech assignment
  apps/backend/src/datasources/postgres/TechniqueDataSource.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/models/questionTypes/TechniquePicker.ts
  apps/backend/src/mutations/TechniqueMutations.spec.ts
  apps/backend/src/mutations/TechniqueMutations.ts
Due: npm run lint:backend

resolving pr comments
  apps/frontend/src/components/questionary/questionaryComponents/GenericTemplate/QuestionaryComponentGenericTemplate.tsx
Due: npm run lint:frontend

fix: make chair and sec proposal count more visible and update to use current count (#701)
  apps/backend/src/resolvers/types/Fap.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/e2e/cypress/e2e/generalFaps.cy.ts
  apps/frontend/src/components/fap/Members/FapMembers.tsx
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/graphql/fap/fragment.fap.graphql
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

switch stfc email to use status actions
  apps/backend/src/eventHandlers/MailService/SMTPMailService.ts
  apps/backend/src/eventHandlers/email/stfcEmailHandler.ts
Due: npm run lint:backend

doc-user-images
  documentation/docs/assets/images/fap.png
  documentation/docs/assets/images/sample_dec.png
  documentation/docs/assets/images/sample_esi.png
  documentation/docs/assets/images/uo_logo_small.png
  documentation/docs/assets/images/workflow_editor.png
  documentation/docs/faq.md
  documentation/docs/glossary.md
  documentation/docs/index.md
  documentation/docs/user-guide/user-officer/creating_call.md
Due: none

feat: allow fap chairs and secs to update tech reviews
  apps/backend/src/auth/TechnicalReviewAuthorization.ts
  apps/backend/src/mutations/ReviewMutations.ts
  apps/e2e/cypress/e2e/FAPs.cy.ts
  apps/frontend/src/components/fap/Proposals/FapAssignedReviewersTable.tsx
  apps/frontend/src/components/fap/Proposals/FapProposalsAndAssignmentsTable.tsx
  apps/frontend/src/components/review/ProposalReviewContent.tsx
  apps/frontend/src/components/review/ProposalTechnicalReview.tsx
Due: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

Add Kubernets guide, small fixes
  documentation/docs/developer-guide/architecture.md
  documentation/mkdocs.yml
Due: none

Fix review logs
  apps/backend/src/config/dependencyConfigELI.ts
  apps/backend/src/eventHandlers/email/eliEmailHandler.ts
  apps/backend/src/events/applicationEvents.ts
  apps/backend/src/events/event.enum.ts
Due: npm run lint:backend

Fix review comments
  apps/backend/src/config/dependencyConfigELI.ts
Due: npm run lint:backend

Fix delete test
  apps/e2e/cypress/e2e/techniques.cy.ts
Due: npm run lint:e2e

Remove unused line
  apps/backend/src/models/questionTypes/TechniquePicker.ts
Due: npm run lint:backend

feat: add ELI configuration (#690)
  apps/backend/src/config/dependencyConfigELI.ts
  apps/backend/src/config/eli/configureELIEnvironment.ts
  apps/backend/src/config/index.ts
  apps/backend/src/eventHandlers/MailService/ELISMTPMailService.ts
  apps/backend/src/eventHandlers/MailService/MailService.ts
  apps/backend/src/eventHandlers/email/eliEmailHandler.ts
Due: npm run lint:backend

Restructure
  documentation/docs/faq.md
  documentation/docs/user-guide/user-officer/calls.md
  documentation/docs/user-guide/user-officer/editing_call.md
  documentation/docs/user-guide/user-officer/experiments.md
  documentation/docs/user-guide/user-officer/fap.md
  documentation/docs/user-guide/user-officer/institutions.md
  documentation/docs/user-guide/user-officer/instruments.md
  documentation/docs/user-guide/user-officer/main/creating_call.md
  documentation/docs/user-guide/user-officer/main/creating_workflow.md
  documentation/docs/user-guide/user-officer/main/fap_review.md
  documentation/docs/user-guide/user-officer/main/feasibility_review.md
  documentation/docs/user-guide/user-officer/main/roles.md
  documentation/docs/user-guide/user-officer/main/templates.md
  documentation/docs/user-guide/user-officer/main/user-officer.md
  documentation/docs/user-guide/user-officer/main/videos.md
  documentation/docs/user-guide/user-officer/page.md
  documentation/docs/user-guide/user-officer/people.md
  documentation/docs/user-guide/user-officer/proposal.md
  documentation/docs/user-guide/user-officer/questions.md
  documentation/docs/user-guide/user-officer/sample_safety.md
  documentation/docs/user-guide/user-officer/settings/api_tokens.md
  documentation/docs/user-guide/user-officer/settings/app_settings.md
  documentation/docs/user-guide/user-officer/settings/features.md
  documentation/docs/user-guide/user-officer/settings/proposal_statuses.md
  documentation/docs/user-guide/user-officer/settings/proposal_workflow.md
  documentation/docs/user-guide/user-officer/settings/units.md
  documentation/docs/user-guide/user-officer/templates/feedback_template.md
  documentation/docs/user-guide/user-officer/templates/pdf_template.md
  documentation/docs/user-guide/user-officer/templates/proposalESI_template.md
  documentation/docs/user-guide/user-officer/templates/proposal_template.md
  documentation/docs/user-guide/user-officer/templates/sampleESI_template.md
  documentation/docs/user-guide/user-officer/templates/sampledec_template.md
  documentation/docs/user-guide/user-officer/templates/shipment_template.md
  documentation/docs/user-guide/user-officer/templates/sub_template.md
  documentation/docs/user-guide/user-officer/templates/visit_template.md
  documentation/docs/user-guide/user-officer/user-officer.md
  documentation/docs/user-guide/user-officer/videos.md
  documentation/mkdocs.yml
Due: none
