Repository UserOfficeProject/user-office-core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:e2e, npm run lint:frontend, npm run lint:backend

.lintstagedrc.json:

{
  "apps/e2e/**/*.{js,ts,jsx,tsx}": ["npm run lint:e2e"],
  "apps/frontend/**/*.{js,ts,jsx,tsx}": ["npm run lint:frontend"],
  "apps/backend/**/*.{js,ts,jsx,tsx}": ["npm run lint:backend"]
}

refactor: email template id obtaining (#1113)
  apps/backend/db_patches/0184_AddTemplateIdToInvites.sql
  apps/backend/src/asyncJobs/jobs/checkInviteReminderJob.spec.ts
  apps/backend/src/asyncJobs/jobs/checkInviteReminderJob.ts
  apps/backend/src/datasources/InviteDataSource.ts
  apps/backend/src/datasources/mockups/InviteDataSource.ts
  apps/backend/src/datasources/postgres/InviteDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/eventHandlers/email/eliEmailHandler.ts
  apps/backend/src/eventHandlers/email/essEmailHandler.spec.ts
  apps/backend/src/eventHandlers/email/essEmailHandler.ts
  apps/backend/src/models/Invite.ts
  apps/backend/src/mutations/InviteMutations.spec.ts
Due: npm run lint:backend

Review comments fix
  apps/backend/src/datasources/mockups/UserDataSource.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
Due: npm run lint:backend

Set default
  apps/backend/src/statusActionEngine/statusActionUtils.ts
Due: npm run lint:backend

Add title mapping for users
  apps/backend/src/datasources/mockups/UserDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/backend/src/models/User.ts
  apps/backend/src/queries/UserQueries.ts
  apps/backend/src/statusActionEngine/statusActionUtils.ts
Due: npm run lint:backend

refactor: move stfc role assignments into proposal backend (#1081)
  apps/backend/src/auth/StfcUserAuthorization.ts
  apps/backend/src/auth/UserAuthorization.ts
  apps/backend/src/config/dependencyConfigSTFC.ts
  apps/backend/src/datasources/FapDataSource.ts
  apps/backend/src/datasources/postgres/FapDataSource.ts
  apps/backend/src/datasources/postgres/InternalReviewDataSource.ts
  apps/backend/src/datasources/stfc/StfcFapDataSource.ts
  apps/backend/src/datasources/stfc/StfcInternalReviewDataSource.ts
  apps/backend/src/datasources/stfc/StfcUserDataSource.ts
  apps/backend/src/mutations/FapMutations.spec.ts
  apps/backend/src/mutations/FapMutations.ts
  apps/backend/src/resolvers/types/User.ts
Due: npm run lint:backend

fix: update graphql query to use previously unused input field excludeProposalStatusIds (#1136)
  apps/backend/src/datasources/postgres/ProposalDataSource.ts
Due: npm run lint:backend

Add factory GH actions debugging
  .github/workflows/test-build.yml
Due: none

fix: update workflow connection status handling by correcting prevStatusId and nextStatusId assignments
  apps/backend/src/mutations/WorkflowMutations.ts
Due: npm run lint:backend

Attempt to fix factory branch lookup
  .github/workflows/test-build.yml
Due: none

More GH action debugging
  .github/workflows/test-build.yml
Due: none

fix: update workflow connection status handling by correcting prevStatusId and nextStatusId assignments
  apps/frontend/src/components/settings/workflow/WorkflowEditor.tsx
Due: npm run lint:frontend

fix: improve workflow connection handling by ensuring unique edge IDs and updating label logic
  apps/backend/src/mutations/WorkflowMutations.ts
  apps/frontend/src/components/settings/workflow/StatusNode.tsx
  apps/frontend/src/components/settings/workflow/WorkflowEditor.tsx
Due: npm run lint:frontend, npm run lint:backend

fix: correct CSS selectors to address the browser errors
  apps/frontend/src/components/settings/workflow/WorkflowMetadataEditor.tsx
Due: npm run lint:frontend

fix: correct CSS selectors for button margin adjustments in WorkflowMetadataEditor
  apps/frontend/src/components/settings/workflow/StatusNode.tsx
  apps/frontend/src/components/settings/workflow/WorkflowEditor.tsx
Due: npm run lint:frontend

fix: correct CSS selectors for button margin adjustments in WorkflowMetadataEditor
  apps/backend/db_patches/0184_RemoveWorkflowUnusedColumns.sql
  apps/backend/src/config/dependencyConfigESS.ts
  apps/backend/src/datasources/mockups/WorkflowDataSource.ts
  apps/backend/src/datasources/postgres/CallDataSource.ts
  apps/backend/src/datasources/postgres/WorkflowDataSource.ts
  apps/backend/src/datasources/postgres/records.ts
  apps/backend/src/models/Workflow.ts
  apps/backend/src/resolvers/mutations/settings/UpdateWorkflowMutation.ts
  apps/backend/src/resolvers/types/Workflow.ts
  apps/frontend/src/components/settings/workflow/WorkflowCanvas.tsx
  apps/frontend/src/components/settings/workflow/WorkflowEditor.tsx
  apps/frontend/src/components/settings/workflow/WorkflowMetadataEditor.tsx
  apps/frontend/src/graphql/settings/createWorkflow.graphql
  apps/frontend/src/graphql/settings/deleteWorkflow.graphql
  apps/frontend/src/graphql/settings/getWorkflow.graphql
  apps/frontend/src/graphql/settings/updateWorkflow.graphql
  apps/frontend/src/hooks/settings/usePersistWorkflowEditorModel.ts
Due: npm run lint:frontend, npm run lint:backend

fix: updating styles
  apps/frontend/src/components/settings/workflow/WorkflowEditor.tsx
  apps/frontend/src/components/settings/workflow/WorkflowEditorModel.tsx
  apps/frontend/src/components/settings/workflow/WorkflowMetadataEditor.tsx
Due: npm run lint:frontend

fix: update StatusNode to display only status name and modify StatusPicker to show status description
  apps/frontend/src/components/settings/workflow/StatusNode.tsx
  apps/frontend/src/components/settings/workflow/StatusPicker.tsx
  apps/frontend/src/components/settings/workflow/WorkflowEditor.tsx
Due: npm run lint:frontend

feat: add search functionality to StatusPicker component
  apps/frontend/src/components/settings/workflow/StatusPicker.tsx
Due: npm run lint:frontend

feat: implement WorkflowEdge component and integrate custom edge types in WorkflowCanvas
  apps/frontend/src/components/settings/workflow/WorkflowCanvas.tsx
  apps/frontend/src/components/settings/workflow/WorkflowEdge.tsx
  apps/frontend/src/components/settings/workflow/WorkflowEditor.tsx
  apps/frontend/src/components/settings/workflow/WorkflowEditorModel.tsx
  apps/frontend/src/components/settings/workflow/WorkflowMetadataEditor.tsx
Due: npm run lint:frontend

api key permissions
  apps/backend/src/queries/QuestionaryQueries.ts
Due: npm run lint:backend

fix backend tests
  apps/backend/src/datasources/mockups/QuestionaryDataSource.ts
Due: npm run lint:backend

Removed the commented code, that is no longer needed. isPostProposalSubmission.
  apps/backend/src/auth/SampleAuthorization.ts
Due: npm run lint:backend

fix pdf token download
  apps/backend/src/factory/pdf/proposal.ts
Due: npm run lint:backend

HandleReset when form is dirty is not needed. Also saving the steps in state during every step switch is not needed.
  apps/frontend/src/models/questionary/useEventHandlers.ts
Due: npm run lint:frontend

Hidding Status action for Experiment workflow
  apps/backend/src/statusActionEngine/experimentSafety.ts
  apps/backend/src/workflowEngine/experiment.ts
  apps/frontend/src/components/settings/workflow/StatusEventsAndActionsDialog.tsx
Due: npm run lint:frontend, npm run lint:backend

Experiment Safety Review Preview template implemented
  apps/frontend/src/components/template/PreviewTemplateModal.tsx
Due: npm run lint:frontend

Experiment Safety Review Preview template implemented
  apps/frontend/src/components/questionary/questionaryComponents/ExperimentSafetyReviewBasis/createExperimentSafetyReviewBasisValidationSchema.ts
  apps/frontend/src/components/questionary/questionaryComponents/ExperimentSafetyReviewBasis/experimentSafetyReviewBasisDefinition.tsx
  apps/frontend/src/components/template/PreviewTemplateModal.tsx
Due: npm run lint:frontend

test fixes
  apps/backend/src/datasources/postgres/CallDataSource.ts
  apps/backend/src/mutations/CallMutations.spec.ts
  apps/backend/src/resolvers/mutations/CreateCallMutation.ts
  apps/backend/src/resolvers/mutations/UpdateCallMutation.ts
  apps/e2e/cypress/e2e/calls.cy.ts
  apps/e2e/cypress/support/utils.ts
  apps/frontend/src/graphql/call/createCall.graphql
  apps/frontend/src/graphql/call/updateCall.graphql
Due: npm run lint:e2e, npm run lint:backend

Use GH api for tag request
  .github/workflows/test-build.yml
Due: none

Fix env var
  .github/workflows/test-build.yml
Due: none

Fix env var again
  .github/workflows/test-build.yml
Due: none

Set missing variable
  .github/workflows/test-build.yml
Due: none

Alter tests for new call filter
  apps/e2e/cypress/e2e/calls.cy.ts
Due: npm run lint:e2e

fix: cleanup unused code and functionality (#1129)
  apps/backend/api_tests/environment.json
  apps/backend/api_tests/tests.json
  apps/backend/package.json
  apps/backend/src/config/dependencyConfigTest.ts
  apps/backend/src/datasources/CoProposerInviteDataSource.ts
  apps/backend/src/datasources/postgres/CoProposerInviteDataSource.ts
  apps/backend/src/models/CoProposerInvite.ts
  apps/backend/src/models/ProposalEvents.ts
  apps/backend/src/models/UserLinkResponse.ts
  apps/backend/src/populate/dummy.ts
  apps/backend/src/populate/executor.ts
  apps/backend/src/populate/index.ts
  apps/backend/src/resolvers/Decorators.ts
  apps/frontend/src/components/common/FormikUICustomEditor.tsx
  apps/frontend/src/components/pages/LoginHelpPage.tsx
  apps/frontend/src/components/questionary/questionaries/sample/SampleWizardStepFactory.ts
  apps/frontend/src/components/review/ProposalGrade.tsx
  apps/frontend/src/components/review/ProposalTechnicalReview.tsx
  apps/frontend/src/components/review/TechnicalReviewQuestionaryDetails.tsx
  apps/frontend/src/components/user/PhotoInSide.tsx
  apps/frontend/src/hooks/instrument/useInstrumentData.ts
  apps/frontend/src/hooks/template/useCreatableQuestions.ts
  apps/frontend/src/hooks/template/useTemplate.ts
  apps/frontend/src/hooks/user/useGetFields.ts
  apps/frontend/src/hooks/user/usePreviousCollaborators.ts
Due: npm run lint:frontend, npm run lint:backend

Fix tests
  apps/e2e/cypress/e2e/pregeneratedPdfs.cy.ts
  apps/e2e/cypress/e2e/proposalAdministration.cy.ts
Due: npm run lint:e2e

fix: instrument picker can be left blank when marked as required
  apps/frontend/src/components/questionary/questionaryComponents/InstrumentPicker/QuestionaryComponentInstrumentPicker.tsx
Due: npm run lint:frontend

feat: add deleteWorkflowConnection functionality to WorkflowDataSource and its mock implementation
  apps/backend/src/datasources/WorkflowDataSource.ts
  apps/backend/src/datasources/mockups/WorkflowDataSource.ts
  apps/backend/src/datasources/postgres/WorkflowDataSource.ts
  apps/backend/src/mutations/ProposalSettingsMutations.spec.ts
  apps/backend/src/mutations/WorkflowMutations.ts
  apps/backend/src/resolvers/mutations/settings/DeleteWorkflowConnectionMutation.ts
  apps/frontend/src/components/settings/workflow/AddStatusChangingEventsToConnection.tsx
  apps/frontend/src/components/settings/workflow/StatusEventsAndActionsDialog.tsx
  apps/frontend/src/components/settings/workflow/WorkflowCanvas.tsx
  apps/frontend/src/components/settings/workflow/WorkflowEditorModel.tsx
  apps/frontend/src/graphql/settings/deleteWorkflowConnection.graphql
  apps/frontend/src/hooks/settings/usePersistWorkflowEditorModel.ts
Due: npm run lint:frontend, npm run lint:backend

Add new test for call reordering
  apps/e2e/cypress/e2e/calls.cy.ts
Due: npm run lint:e2e
